﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderStep
@{
    ViewBag.Title = "Plan_OrderStepProgressEditAll";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<link href="~/Content/inputEditable.css" rel="stylesheet" />
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/inputEditable.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html(" Create Time & Action:  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Time & Action: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })



        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>



<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>


<section class="content-header">
    <h1>
        Time & Action Edit <span>&nbsp;</span>
        <a href="~/Planning/Plan_OrderStepProgress/@Model.Plan_OrderStep.CommonTheOrderFK" title="Go to the back"><i class="fa fa-reply-all"></i></a>
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Time & Action</a></li>

    </ol>
</section>
@{
    int Sl = 0;
}
<div class="clearfix"></div>
<div class="row">

    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-body">

                        <div class="box-body table-responsive">
                            <table id="" class="table jambo_table bulk_action">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderProcessCategory.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderProcess.StepName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.AssignedTo)
                                        </th>
                                        <th>

                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedStartDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedFinishDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualStartDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualFinishDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.Remarks)
                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        DateTime plannedStartDate = item.Plan_OrderStep.PlannedStartDate;
                                        DateTime plannedFinishDate = item.Plan_OrderStep.PlannedFinishDate;
                                        DateTime actualStartDate = item.Plan_OrderStep.ActualStartDate;
                                        DateTime actualFinishDate = item.Plan_OrderStep.ActualFinishDate;
                                        string assignedTo = item.Plan_OrderStep.AssignedTo;
                                        string remarks = item.Plan_OrderStep.Remarks;
                                        DateTime orderDate = item.Common_TheOrder.OrderDate;
                                        <tr>
                                            <td><b>@(++Sl).</b></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Plan_OrderProcessCategory.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                            </td>
                                            <td>
                                                @if (assignedTo == "")
                                                {
                                                    @*<a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID })">Not Set</a>*@
                                                    <span class="editable" id="@item.Plan_OrderStep.ID">Not Set</span>
                                                }
                                                else
                                                {
                                                    @*<a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID})">@Html.DisplayFor(modelItem => item.Plan_OrderStep.AssignedTo)</a>*@
                                                    <span class="editable" id="@item.Plan_OrderStep.ID">@item.Plan_OrderStep.AssignedTo</span>
                                                }
                                            </td>
                                            <td>
                                                @if (plannedStartDate < orderDate)
                                                {
                                                    @*<a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="psd"  })">Not Set</a>*@
                                                    @*<span class="editable" data-action="PlannedStartDate" id="@item.Plan_OrderStep.ID">Not Set</span>*@
                                                    <form action="#" id="edit1+@Sl" class="edit-me" data-actionName="PlannedStartDate" data-IdName="@item.Plan_OrderStep.ID">
                                                        Not Set
                                                    </form>
                                                }
                                                else
                                                {
                                                    @*<span class="editable" data-action="PlannedStartDate" id="@item.Plan_OrderStep.ID">
                                                            @Html.DisplayFor(modelItem => item.Plan_OrderStep.PlannedStartDate)
                                                        </span>*@
                                                    <form action="#" id="edit1+@Sl" class="edit-me" data-actionName="PlannedStartDate" data-IdName="@item.Plan_OrderStep.ID">
                                                        @Html.DisplayFor(modelItem => item.Plan_OrderStep.PlannedStartDate)
                                                    </form>
                                                }
                                            </td>

                                            <td>
                                                @if (plannedFinishDate < orderDate)
                                                {
                                                    <form action="#" id="edit2+@Sl" class="edit-me" data-actionName="PlannedFinishDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        Not Set
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form action="#" id="edit2+@Sl" class="edit-me" data-actionName="PlannedFinishDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        @Html.DisplayFor(modelItem => item.Plan_OrderStep.PlannedFinishDate)
                                                    </form>
                                                }
                                            </td>
                                            <td>
                                                @if (actualStartDate < orderDate)
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-me" data-actionName="ActualStartDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        Not Set
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-me" data-actionName="ActualStartDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        @Html.DisplayFor(modelItem => item.Plan_OrderStep.ActualStartDate)
                                                    </form>
                                                }
                                            </td>
                                            <td>
                                                @if (actualFinishDate < orderDate)
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-me" data-actionName="ActualFinishDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        Not Set
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-me" data-actionName="ActualFinishDate"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        @Html.DisplayFor(modelItem => item.Plan_OrderStep.ActualFinishDate)
                                                    </form>
                                                }
                                            </td>
                                            <td>
                                                @if (String.IsNullOrEmpty(remarks))
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-remarks" data-actionName="Remarks"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        Not Set
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form action="#" id="edit3+@Sl" class="edit-remarks" data-actionName="Remarks"
                                                          data-IdName="@item.Plan_OrderStep.ID">
                                                        @Html.DisplayFor(modelItem => item.Plan_OrderStep.Remarks)
                                                    </form>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>
<script>
    $('body').on('focus', ".Calander", function () {
        $(this).datepicker({
            autoclose: true,
            format: "yyyy/m/d"
        });
    });
    $('.edit-me').inputEditable({
        constraints: {
            class: "Calander"
        },
        action: {
            edit: '<span class="glyphicon glyphicon-edit"></span>',
            cancel: '<span class="glyphicon glyphicon-remove"></span>',
            submit: '<span class="glyphicon glyphicon-ok"></span>'
        },
        submit: function (value, resolve) {
            resolve();
            var actionname =$(this).parents('form').attr("data-actionName");
            var id = $(this).parents('form').attr("data-IdName");
            $.get("@Url.Action("TimeAndActionUpdate", "Helper")", { ID: id, updateVal: value, actionName: actionname }, function (data) {
            });
        }
    });
    $('.edit-remarks').inputEditable({
        action: {
            edit: '<span class="glyphicon glyphicon-edit"></span>',
            cancel: '<span class="glyphicon glyphicon-remove"></span>',
            submit: '<span class="glyphicon glyphicon-ok"></span>'
        },
        submit: function (value, resolve) {
            resolve();
            var actionname =$(this).parents('form').attr("data-actionName");
            var id = $(this).parents('form').attr("data-IdName");
            $.get("@Url.Action("TimeAndActionUpdate", "Helper")", { ID: id, updateVal: value, actionName: actionname }, function (data) {
            });
        }
    });
</script>