﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderStep

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Plan_OrderStep.CommonTheOrderFK)
    @Html.HiddenFor(model => model.Plan_OrderStep.ID)
    @Html.HiddenFor(model => model.Plan_OrderStep.Plan_OrderProcessFK)
    @Html.HiddenFor(model => model.Plan_OrderStep.AssignedTo)
    @Html.HiddenFor(model => model.Plan_OrderStep.Remarks)

    @{
        var parameter = Request.Params["datetype"];
    }
    <div class="form-group">
        <span class="control-label col-md-3 col-sm-3 col-xs-6"><strong>Step Name</strong></span>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="form-control ol-md-6 col-xs-6"><strong>@Html.DisplayFor(model => @model.Plan_OrderProcessCategory.Name)/@Html.DisplayFor(model => @model.Plan_OrderProcess.StepName)</strong></span>
        </div>
    </div>
    @if (parameter == "psd")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.PlannedStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.PlannedStartDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.PlannedStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedFinishDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualFinishDate)
    }
    else if (parameter == "pfd")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.PlannedFinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.PlannedFinishDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.PlannedFinishDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualFinishDate)
    }
    else if (parameter == "asd")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.ActualStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.ActualStartDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.ActualStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedFinishDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualFinishDate)
    }
    else if (parameter == "afd")
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.ActualFinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.ActualFinishDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.ActualFinishDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedFinishDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualStartDate)
    }
    else
    {
        @Html.HiddenFor(model => model.Plan_OrderStep.PlannedFinishDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualStartDate)
        @Html.HiddenFor(model => model.Plan_OrderStep.ActualFinishDate)
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Plan_OrderStep.Remarks, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.CurrentRemarks, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Plan_OrderStep.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

        </p>
    </div>
</div>



}
<script type="text/javascript">
    $('#ddlCategory').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#ddlCategory').val() !== "--Select--")
            document.getElementById("Plan_OrderProcessFK").innerHTML = "";
        $.ajax({

            type: "post",
            url: "@Url.Action("PlanOrderProcess", "Helper")",
            data: { categoryid: $('#ddlCategory').val() },
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                $.each(data, function (index, row) {
                    $("#Plan_OrderProcessFK")
                        .append("<option selected='selected' value='" + row.ID + "'>" + row.StepName + "</option>");
                });

            }
        });
    });

    $('#Plan_OrderProcessFK').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        $('#ddlCategory').focus();
    });
</script>
