﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderStep

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Progress Step";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });


        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html(" Create Time & Action:  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Time & Action: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });


        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>



<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>


<section class="content-header">
    <h1>
        Time & Action Calendar:   @Html.ActionLink(".", "PlanReportDoc", "Planning", new { id = Model.VmCommon_TheOrder.Common_TheOrder.ID }, new { @title = "Time & Action", @target = "_blank", @class = "glyphicon glyphicon-print" })




    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Time & Action</a></li>
       
    </ol>
</section>
@{
    int Sl = 0;
}
<div class="clearfix"></div>





<div class="row">

    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <section class="invoice">

                <div class="row invoice-info">
                   
                        <h4>
                          <b> Order Details:</b> 
                        </h4>
                   

                    <table class="col-sm-6 invoice-col">

                        <tr>
                            <td><strong>Order ID </strong></td>
                            <td>:</td>
                            <td><strong>@Model.VmCommon_TheOrder.Common_TheOrder.CID </strong> </td>
                        </tr>
                        <tr>
                            <td>Order Date</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.OrderDate</td>
                        </tr>
                        <tr>
                            <td>Session</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.Season</td>
                        </tr>
                        <tr>
                            <td>Reference</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.Reference</td>
                        </tr>
                        <tr>
                            <td>Payment Method</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.PaymentMethod</td>
                        </tr>

                    </table>

                    <table class="col-sm-6 invoice-col">
                        
                        <tr>
                            <td><strong>Buyer PO</strong></td>
                            <td>:</td>
                            <td><strong>@Model.VmCommon_TheOrder.Common_TheOrder.BuyerPO</strong></td>
                        </tr>
                        <tr>
                            <td>Agent</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.Agent</td>
                        </tr>
                        <tr>
                            <td>Inspection Agent</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.InspectionAgent</td>
                        </tr>
                        <tr>
                            <td>Commission</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.Commission</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td>@Model.VmCommon_TheOrder.Common_TheOrder.Description</td>
                        </tr>
                    </table>
                    <!-- /.col -->


                </div>
            </section>

            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="tableLine table-striped jambo_table bulk_action">

                        <thead>
                            <tr>
                                @if (Model.DataTable != null)
                                {
                                    foreach (System.Data.DataColumn cl in Model.DataTable.Columns)
                                    {
                                        <th style="padding:4px">
                                            @cl.ColumnName
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.DataTable != null)
                            {


                                foreach (System.Data.DataRow dr in Model.DataTable.Rows)
                                {
                                    <tr>
                                        @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                                        {

                                            string dateTime = i.ToString();


                                            <td>
                                                <div class="progress">
                                                  
                                                    @if (dr[i].ToString().Contains("#*"))
                                                    {

                                                        <div class="progress-bar progress-bar-red" style="width:100%; height:8px; ">
                                                        </div>
                                                        <div class="progress-bar progress-bar-success" style="width:100%; height:8px;">
                                                        </div>

                                                    }
                                                    else if (dr[i].ToString().Contains("#"))
                                                    {

                                                        <div class="progress-bar progress-bar-red" style="width:100%; height:8px; ">
                                                        </div>

                                                    }
                                                    else if (dr[i].ToString().Contains("*"))
                                                    {

                                                        <div class="progress-bar progress-bar-success" style="width:100%; height:8px;  margin-top:8px;">
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        @dr[i].ToString()
                                                        
                                                    }
                                                    
                                                </div>
                                            </td>
                                        }


                                    </tr>
                                }
                            }


                        </tbody>

                    </table>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-header">
                        <h1 class="box-title">

                            <b> Time and Action: &nbsp;&nbsp;</b>
                            (&nbsp; <a href="~/Planning/Plan_OrderStepProgressCreate/@Model.Plan_OrderStep.CommonTheOrderFK" id="lnkCreate" title="Time and Action Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                            (&nbsp; <a href="~/Planning/Plan_OrderStepProgressEditAll/@Model.Plan_OrderStep.CommonTheOrderFK" title="Time and Action Edit"><i class="glyphicon glyphicon-edit"></i></a> &nbsp;)

                        </h1>
                    </div>
                    <div class="box-body">


                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-striped jambo_table bulk_action">

                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderProcessCategory.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderProcess.StepName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.AssignedTo)
                                        </th>
                                        <th>

                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedStartDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedFinishDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualStartDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualFinishDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Plan_OrderStep.Remarks)
                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        DateTime plannedStartDate = item.Plan_OrderStep.PlannedStartDate;
                                        DateTime plannedFinishDate = item.Plan_OrderStep.PlannedFinishDate;
                                        DateTime actualStartDate = item.Plan_OrderStep.ActualStartDate;
                                        DateTime actualFinishDate = item.Plan_OrderStep.ActualFinishDate;
                                        string assignedTo = item.Plan_OrderStep.AssignedTo;
                                        string remarks = item.Plan_OrderStep.Remarks;
                                        DateTime orderDate = item.Common_TheOrder.OrderDate;
                                        <tr>
                                            <td><b>@(++Sl).</b></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Plan_OrderProcessCategory.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                            </td>
                                            <td>
                                                @if (assignedTo == "")
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID })">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID})">@Html.DisplayFor(modelItem => item.Plan_OrderStep.AssignedTo)</a>


                                                }
                                            </td>
                                            <td>
                                                @if (plannedStartDate < orderDate)
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="psd"  })">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="psd" })">@Html.DisplayFor(modelItem => item.Plan_OrderStep.PlannedStartDate)</a>

                                                }
                                            </td>

                                            <td>
                                                @if (plannedFinishDate < orderDate)
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new {id = item.Plan_OrderStep.ID, datetype ="pfd"})">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new {id = item.Plan_OrderStep.ID, datetype ="pfd"})">@Html.DisplayFor(modelItem => item.Plan_OrderStep.PlannedFinishDate)</a>

                                                }
                                            </td>
                                            <td>
                                                @if (actualStartDate < orderDate)
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="asd" })">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="asd" })">@Html.DisplayFor(modelItem => item.Plan_OrderStep.ActualStartDate)</a>

                                                }
                                            </td>
                                            <td>
                                                @if (actualFinishDate < orderDate)
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="afd" })">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID, datetype ="afd" })">@Html.DisplayFor(modelItem => item.Plan_OrderStep.ActualFinishDate)</a>

                                                }
                                            </td>
                                            <td>
                                                @if (remarks == "")
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID })">Not Set</a>

                                                }
                                                else
                                                {
                                                    <a class="lnkEdit" href="@Url.Action("Plan_OrderStepProgressEdit", "Planning", new { id = item.Plan_OrderStep.ID })">@Html.DisplayFor(modelItem => item.Plan_OrderStep.Remarks)</a>

                                                }
                                            </td>
                                         
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#example1 tr').each(function () {
            $(this).find("td a").each(function () {
                var col = $(this).parent().children().index($(this));
                var row = $(this).parent().parent().children().index($(this).parent());
                //alert('Row: ' + row + ', Column: ' + col);
                var cID = 'Row' + row + 'Column' + col;
                var cellID = $(this).attr('id', cID);
            });
        });
        $('#example1 tr').each(function () {
            $(this).find("td").each(function () {
                var cellID = $(this).attr('id');

                var text = $('a #' + cellID).text();
                if (text === 'Not Set') {
                    $('a #' + cellID).text('xxx');
                }
                console.log(text );
            });

        });
        
    });
</script>