﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderStep

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Time Line";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Create Order',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
           autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Order.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

       $(".lnkEdit").click(function (e) {
           $(".ui-dialog-titlebar").html("Update Order.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

       $(".lnkDelete").click(function (e) {
           $(".ui-dialog-titlebar").html("Delete Order.");

            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
       $(".lnkDeleteU").click(function (e) {
           $(".ui-dialog-titlebar").html("Order Close.");

            url = $(this).attr('href');
            $("#dialog-confirmU").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Delete?
    </p>
</div>
<div id="dialog-confirmU" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>


<section class="content-header">
 
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">The Order List</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            @*@using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By Order ID" } })
                    @Html.HiddenFor(model => model.ButtonName)
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }*@


            @*<div class="box-header">
                    <h3 class="box-title"></h3>

                </div>*@
            @{
                int sl = 0;
            }
            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                Order ID
                                @*@Html.DisplayNameFor(model => model.Common_TheOrder.CID)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Mkt_BuyerFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Season)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Common_TheOrder.Supplier)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Reference)
                            </th>
                         
                            <th>
                               Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList1)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.OrderDate, "{0:yyyy/MM/dd}")
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Mkt_Buyer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Season)
                                </td>

                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.Supplier)
                                    </td>*@

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Reference)
                                </td>                             
                                <td>                                       
                                    @Html.ActionLink(".", "Mkt_OrderSlaveBOM", new { id = item.Common_TheOrder.ID }, new { @class = "glyphicon glyphicon-zoom-in" })
                                 </td>
                                }                             
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
