﻿@using Oss.Romo.ViewModels.Planning
@model Oss.Romo.ViewModels.Planning.VmPlan_TimeAndActionNotification
@{
    ViewBag.Title = "VmPlan_TimeAndActionNotification";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<section class="content-header" style="padding:15px">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">T&A Notification</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            @{
                int sl = 0;
            }
            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                Order ID
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plan_OrderProcess.StepName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualStartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plan_OrderStep.PlannedFinishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plan_OrderStep.ActualFinishDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            var startdateint = item.Plan_OrderProcess.PlanStartDayInterval;
                            var enddateint = item.Plan_OrderProcess.PlanEndtDayInterval;

                            var startdate=DateTime.Now;
                            var enddate = DateTime.Now;
                            if (startdateint != null)
                            {
                                startdate = DateTime.Now.AddDays(Convert.ToDouble(startdateint));
                            }
                            if (enddateint != null)
                            {
                                enddate = DateTime.Now.AddDays(Convert.ToDouble(startdateint));
                            }

                            if ((item.Plan_OrderStep.PlannedStartDate <= startdate && item.Startdate)
                                     || (item.Plan_OrderStep.PlannedFinishDate <= enddate && item.Enddate))
                            {
                                <tr>
                                    <td><b>@(++sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                    </td>
                                    <td>
                                        @String.Format("{0:dd MMM, yyyy}", item.Common_TheOrder.OrderDate)
                                    </td>
                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                    </td>
                                    <td>
                                        @{
                                            if (item.Plan_OrderStep.ActualStartDate > item.Plan_OrderStep.PlannedStartDate)
                                            {
                                                <span>Plan date filed</span>
                                                <span class="text text-danger">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.PlannedStartDate)
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text text-success">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.PlannedStartDate)
                                                </span>
                                            }
                                        }
                                    </td>
                                    <td class="text-navy text-bold">
                                        @{
                                            if (item.Plan_OrderStep.ActualStartDate == null)
                                            {
                                                <span class="text text-danger">Plan not starte</span>
                                            }
                                            else
                                            {
                                                <span class="text text-success">Plan started at</span>
                                                <span class="text text-success">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.ActualStartDate)
                                                </span>

                                            }
                                        }
                                        @*@Html.DisplayFor(modelItem => item.Plan_OrderProcess.PlanStartDayInterval)*@
                                    </td>
                                    <td>
                                        @{
                                            if (item.Plan_OrderStep.ActualFinishDate > item.Plan_OrderStep.PlannedFinishDate)
                                            {
                                                <span class="text text-danger">Plan date filed</span>
                                                <span class="text text-danger">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.PlannedFinishDate)
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text text-success">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.PlannedFinishDate)
                                                </span>
                                            }
                                        }
                                       
                                    </td>

                                    <td class="text-navy text-bold">
                                        @{
                                            if (item.Plan_OrderStep.ActualStartDate == null)
                                            {
                                                <span class="text text-danger">Plan not ended</span>
                                            }
                                            else
                                            {
                                                <span class="text text-success">Plan ended at</span>
                                                <span class="text text-success">
                                                    @String.Format("{0:dd MMM, yyyy}", item.Plan_OrderStep.ActualFinishDate)
                                                </span>
                                            }
                                        }
                                        @*@Html.DisplayFor(modelItem => item.Plan_OrderProcess.PlanEndtDayInterval)*@
                                    </td>
                                </tr>
                                                }

                                            }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
