﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderStep

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Plan_OrderStep</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.CommonTheOrderFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Plan_OrderStep.CommonTheOrderFK, ViewBag.BOM as SelectList, "---SelectOrderID---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.CommonTheOrderFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.Plan_OrderProcessFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Plan_OrderStep.Plan_OrderProcessFK, ViewBag.ProductionStep as SelectList, "---SelectProdutionPlanLine---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.Plan_OrderProcessFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.PlannedStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.PlannedStartDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.PlannedStartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.PlannedFinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.PlannedFinishDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.PlannedFinishDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.ActualStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.ActualStartDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.ActualStartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.ActualFinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.ActualFinishDate, new { htmlAttributes = new { @class = "calendarControl form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.ActualFinishDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderStep.AssignedTo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderStep.AssignedTo, new { htmlAttributes = new { @class = "form-control dropdown ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderStep.AssignedTo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
