﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderProcessCategory
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderProcessCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderProcessCategory.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderProcessCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Plan_OrderProcessCategory.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Plan_OrderProcessCategory.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Plan_OrderProcessCategory.Description, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}



