﻿@model Oss.Romo.ViewModels.Common.VmCommon_Currency

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Currency";
}
<link href="~/plugins/bootstrap-sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/plugins/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: {
                effect: "explode",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "explode",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html("Create Currency  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Update Currency <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Delete Currency.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');
            //_gaq.push(['_trackEvent', 'example', 'try', 'sweet-3']);
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        // $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div class="container">
   
    <h2>Install via Bower</h2>
    <pre class="text-center lead">$ bower install bootstrap-sweetalert</pre>
    <p class="text-muted text-center lead">
        Continue playing with the examples or check how to use it on
        <a href="https://github.com/lipis/bootstrap-sweetalert#sweetalert-for-bootstrap">GitHub</a>.
    </p>
    <h2>Original Examples</h2>
    <h4>Basic example</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-1']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre class="code">swal("Here's a message!")</pre>
        </div>

        <p><button class="btn btn-primary sweet-1" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-1']);">Try It</button></p>
    </div>
    <h4>A title with a text under</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-2" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-2']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>swal("Here's a message!", "It's pretty, isn't it?")</pre>
        </div>
    </div>
    <h4>A success message!</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-3" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-3']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>swal("Good job!", "You clicked the button!", "success")</pre>
        </div>
    </div>
    <h4>A warning message, with a function attached to the "Confirm" button...</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-4" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-4']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>
swal({
  title: "Are you sure?",
  text: "Your will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false
},
function(){
  swal("Deleted!", "Your imaginary file has been deleted.", "success");
});</pre>
        </div>
    </div>
    <h4>...and by passing a parameter, you can execute something else for "Cancel".</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-5" onclick="_gaq.push(['_trackEvent', 'example', 'try', 'sweet-5']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>
swal({
  title: "Are you sure?",
  text: "You will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel plx!",
  closeOnConfirm: false,
  closeOnCancel: false
},
function(isConfirm) {
  if (isConfirm) {
    swal("Deleted!", "Your imaginary file has been deleted.", "success");
  } else {
    swal("Cancelled", "Your imaginary file is safe :)", "error");
  }
});</pre>
        </div>
    </div>
    <h4>A message with a custom icon</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-6" onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Lipis']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>
swal({
  title: "Sweet!",
  text: "Here's a custom image.",
  imageUrl: 'thumbs-up.jpg'
});</pre>
        </div>
    </div>
    <h4>A replacement for the "prompt" function</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-7" onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Lipis']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>
swal({
  title: "An input!",
  text: "Write something interesting:",
  type: "input",
  showCancelButton: true,
  closeOnConfirm: false,
  inputPlaceholder: "Write something"
}, function (inputValue) {
  if (inputValue === false) return false;
  if (inputValue === "") {
    swal.showInputError("You need to write something!");
    return false
  }
  swal("Nice!", "You wrote: " + inputValue, "success");
});</pre>
        </div>
    </div>
    <h4>With a loader (for a AJAX requests)</h4>
    <div class="row">
        <div class="col-sm-2 text-center">
            <p><button class="btn btn-primary sweet-8" onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Lipis']);">Try It</button></p>
        </div>
        <div class="col-sm-10">
            <pre>
swal({
  title: "Ajax request example",
  text: "Submit to run ajax request",
  type: "info",
  showCancelButton: true,
  closeOnConfirm: false,
  showLoaderOnConfirm: true
}, function () {
  setTimeout(function () {
    swal("Ajax request finished!");
  }, 2000);
});</pre>
        </div>
    </div>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    @Html.Partial("Common_CurrencyCreateEdit");
</div>

<section class="content-header">
    <h1>
        Currency: &nbsp;&nbsp;
        (&nbsp; <a href="Common_CurrencyCreateEdit" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active"> Currency</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Currency.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Currency.Symbol)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Currency.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Currency.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "Common_CurrencyCreateEdit", new { id = Model.VmControllerHelper.Encrypt(item.Common_Currency.ID.ToString()) }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmCommon_CurrencyDelete", new { id = Model.VmControllerHelper.Encrypt(item.Common_Currency.ID.ToString()) }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<script>
    document.querySelector('.sweet-1').onclick = function(){
        swal("Here's a message!");
    };

    document.querySelector('.sweet-2').onclick = function(){
        swal("Here's a message!", "It's pretty, isn't it?")
    };

    document.querySelector('.sweet-3').onclick = function(){
        swal("Good job!", "You clicked the button!", "success");
    };

    document.querySelector('.sweet-4').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: false,
            //closeOnCancel: false
        },
        function(){
            swal("Deleted!", "Your imaginary file has been deleted!", "success");
        });
    };

    document.querySelector('.sweet-5').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm){
                swal("Deleted!", "Your imaginary file has been deleted!", "success");
            } else {
                swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
        });
    };

    document.querySelector('.sweet-6').onclick = function(){
        swal({
            title: "Sweet!",
            text: "Here's a custom image.",
            imageUrl: 'assets/thumbs-up.jpg'
        });
    };

    document.querySelector('.sweet-7').onclick = function () {
        swal({
            title: "An input!",
            text: "Write something interesting:",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Write something"
        }, function (inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("You need to write something!");
                return false
            }
            swal("Nice!", "You wrote: " + inputValue, "success");
        });
    };

    document.querySelector('.sweet-8').onclick = function () {
        swal({
            title: "Ajax request example",
            text: "Submit to run ajax request",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function () {
            setTimeout(function () {
                swal("Ajax request finished!");
            }, 2000);
        });
    };

    document.querySelector('.sweet-10').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: 'btn-primary',
            confirmButtonText: 'Primary!'
        });
    };

    document.querySelector('.sweet-11').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: 'btn-info',
            confirmButtonText: 'Info!'
        });
    };

    document.querySelector('.sweet-12').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "success",
            showCancelButton: true,
            confirmButtonClass: 'btn-success',
            confirmButtonText: 'Success!'
        });
    };

    document.querySelector('.sweet-13').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: 'btn-warning',
            confirmButtonText: 'Warning!'
        });
    };

    document.querySelector('.sweet-14').onclick = function(){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "error",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger',
            confirmButtonText: 'Danger!'
        });
    };
</script>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>