﻿@model Oss.Romo.ViewModels.Common.VmCommon_TheOrder
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<style>
    .InlineBtn:hover {
        background-color:#800000;
        color: white;
        text-decoration: underline;

    }
</style>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Add New Style.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Style Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

        //Style Delivery Schedule

        $(".lnkPackingRatio1").click(function (e) {

            $(".ui-dialog-titlebar").html("Shipment Color Wise Packing List.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $("#lnkCreateStyleSchedule").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Shipment Schedule.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });


        $(".lnkEditStyleSchedule").click(function (e) {
            $(".ui-dialog-titlebar").html("Shipment Schedule Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        //Order color and size ratio

        $("#lnkCreateOrderColorSize").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Order Color & Size.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEditOrderColorSize").click(function (e) {
            $(".ui-dialog-titlebar").html("Order Color & Size Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

    });


    //$('#dialog-edit').load($('#lnkCreateStyleSchedule').attr('href'));
    //$('#dialog-edit').load($('.lnkEditStyleSchedule').attr('href'));
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h3>
        <b>Order ID </b>: @Html.DisplayFor(x => x.Common_TheOrder.CID)
    </h3>
    <ol class="breadcrumb" style="padding-top:60px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Common_TheOrder.CID)</li>
    </ol>

</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Common_TheOrder.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Order Summary :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.CID)</span>
                                <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)</textarea>
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.OrderDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.OrderDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Season)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Season)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Mkt_BuyerFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.BuyerPO)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.BuyerPO)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Agent)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Agent)">
                            </div>

                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.InspectionAgent)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.InspectionAgent)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Common_CurrencyFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.PaymentTerms)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.PaymentTerms)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.PaymentMethod)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.PaymentMethod)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Supplier)</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol)@Html.DisplayFor(x => x.Common_TheOrder.Supplier)">
                                </div>*@
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Reference)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Common_TheOrder.Reference)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Description)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Description)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            @{
                var u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
                if (!Model.Common_TheOrder.IsComplete)
                {
                        <section>
                            <h3>
                                Style
                                (&nbsp;<a href="~/Marketing/VmMkt_BOMCreate/@Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())" id="lnkCreate"><i title="Style Create " , class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                            </h3>
                        </section>
                    }
                }

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Style No.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_BOM.UpdateDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_BOM.QPack)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOM.QuantityInPc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOM.QuantityInDz)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOM.Mkt_BOM.UnitPrice)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOM.TotalPrice)
                                </th>
                               
                                @{
                                    if (Model.Common_TheOrder.IsComplete)
                                    {
                                        <th>
                                            Details
                                        </th>
                                    }
                                    else
                                    {
                                        <th>
                                            Action
                                        </th>
                                    }

                                }
                                <th style="width: 150px">
                                  Order Process
                                </th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_BOM.DataList)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove, "{0:yyyy/MM/dd}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOM.UpdateDate, "{0:yyyy/MM/dd}")
                                    </td>

                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                    </td>
                                    <td>
                                        @String.Format("{0:0}", item.Mkt_BOM.QPack)
                                        @*@Html.DisplayFor(modelItem => item.Mkt_BOM.QPack)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantityInPc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuantityInDz)
                                    </td>
                                    <td>
                                        @Model.Common_Currency.Symbol
                                        @Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)

                                    </td>
                                    <td>
                                        @Model.Common_Currency.Symbol
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>

                                 

                                    @{
                                        if (Model.Common_TheOrder.IsComplete)
                                        {
                                            <td style="width:145px;">
                                                @Html.ActionLink(".", "Mkt_BOMSlaveItem", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @title = "Item details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;&nbsp;
                                                @Html.ActionLink(".", "BOMReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @title = "Bill of Materials Report", @target = "_blank", @class = "glyphicon glyphicon-print" })
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="width:145px;">
                                                @Html.ActionLink(".", "VmMkt_BOMEdit", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) + "ʁ" + Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString()) }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                                @Html.ActionLink(".", "VmMkt_BOMDelete", "Marketing", new {id = item.Mkt_BOM.ID + "ʁ" + Model.Common_TheOrder.ID}, new {@title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash"})&nbsp;&nbsp;

                                                @Html.ActionLink(".", "BOMReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @title = "Bill of Materials Report", @target = "_blank", @class = "glyphicon glyphicon-print" })
                                               
                                                @if (item.Mkt_BOM.IsAuthorize == false && u.User_User.User_AccessLevelFK == 2)
                                                {                                                  
                                                    @Html.ActionLink(".", "ChangeBOMAuthorizationStatus", "Marketing", new { id = item.Mkt_BOM.ID,pageType ="BOMDetails" }, new { @title = "Authorize", @class = "lnkEdit AuthorizeCss glyphicon glyphicon-user" });
                                                }
                                            </td>
                                        }
                                    }

                                    <td>
                                        @Html.ActionLink("Yarn Calculation", "VmMkt_YarnCalculationIndex", "Marketing", new { id = item.Mkt_BOM.ID }, new { @target = "_blank", @class = "InlineBtn" })
                                       <br/>
                                        @Html.ActionLink("Bill of Materials", "Mkt_BOMSlaveItem", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @title = "Item details", @target = "_blank", @class = "InlineBtn" })
                                       <br/>
                                        @Html.ActionLink("Purchase Orders", "PurchaseOrdersByBOM", "Marketing", new { id = item.Mkt_BOM.ID }, new { @target = "_blank", @class = "InlineBtn" })

                                    </td>
                                    @*<td>
                                            @Html.ActionLink("CBS", "../Marketing/VmMkt_CBSIndex", new { id = item.Mkt_BOM.ID }, new { @target = "_blank", @class = "" })&nbsp;&nbsp;

                                        </td>*@
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@*---------------Order Delivery Schedule---------------*@

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                @{
                    if (!Model.Common_TheOrder.IsComplete)
                    {
                        <section>
                            <h3>
                                Shipment Schedule
                                (&nbsp;<a href="~/Marketing/VmMkt_OrderDeliveryScheduleCreate/@Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())" id="lnkCreateStyleSchedule"><i title="Shipment Schedule Create" , class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                            </h3>
                        </section>
                    }
                }


                @if (Model.ErrorMessage != "")
                {
                    <h4 style="text-align: center; color: red">
                        @Model.ErrorMessage
                    </h4>
                }

                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Destination)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.PortNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Quantity)
                                </th>
                                <th>
                                    Color
                                </th>
                                @if (!Model.Common_TheOrder.IsComplete)
                                {
                                    <th>
                                        Action
                                    </th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_OrderDeliverySchedule.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Country.Name)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Date)

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Quantity)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.ColorSize)

                                    </td>
                                    @if (!Model.Common_TheOrder.IsComplete)
                                    {
                                        <td style="width:145px;">
                                            @Html.ActionLink(".", "ShipmentPackingItem", "Common", new { Id = item.Mkt_OrderDeliverySchedule.ID, OId = item.Mkt_OrderDeliverySchedule.Common_TheOrderFk }, new { @title = "Shipment Packing Ratio", @class = "lnkPackingRatio1 glyphicon glyphicon-list-alt" })
                                            @Html.ActionLink(".", "VmMkt_OrderDeliveryScheduleEdit", "Marketing", new { id = item.Mkt_OrderDeliverySchedule.ID + "ʁ" + @Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString()) }, new { @title = "Shipment Schedule Edit", @class = "lnkEditStyleSchedule glyphicon glyphicon-pencil" })
                                            @Html.ActionLink(".", "VmMkt_OrderDeliveryScheduleDelete", "Marketing", new { id = item.Mkt_OrderDeliverySchedule.ID + "ʁ" + @Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString()) }, new { @title = "Shipment Schedule Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                        </td>
                                    }



                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


@*---------------Order color and size ratio---------------*@

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                @if (!Model.Common_TheOrder.IsComplete)
            {
                    <section>
                        <h3>
                            Shipment Color & Size Ratio
                            (&nbsp;<a href="~/Marketing/VmMkt_OrderColorAndSizeRatioCreate/@Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())" id="lnkCreateOrderColorSize"><i title="Shipment Color & Size Ratio Create" , class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                        </h3>
                    </section>
                }
                <div class="table-responsive">
                    <table id="DataTable1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Destination)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.PortNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderColorAndSizeRatio.Mkt_OrderColorAndSizeRatio.Color)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderColorAndSizeRatio.Mkt_OrderColorAndSizeRatio.Size)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderColorAndSizeRatio.Mkt_OrderColorAndSizeRatio.Ratio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderColorAndSizeRatio.Mkt_OrderColorAndSizeRatio.Quantity)
                                </th>
                                @if (!Model.Common_TheOrder.IsComplete)
                                {
                                    <th>
                                        Action
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_OrderColorAndSizeRatio.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Country.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderColorAndSizeRatio.Color)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderColorAndSizeRatio.Size)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderColorAndSizeRatio.Ratio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderColorAndSizeRatio.Quantity)
                                    </td>
                                    @if (!Model.Common_TheOrder.IsComplete)
                                    {
                                        <td style="width: 145px;">
                                            @Html.ActionLink(".", "VmMkt_OrderColorAndSizeRatioEdit", "Marketing", new {id = item.Mkt_OrderColorAndSizeRatio.ID + "ʁ" + @Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())}, new {@title = "Shipment Color & Size Ratio Edit", @class = "lnkEditOrderColorSize glyphicon glyphicon-pencil"})

                                            @Html.ActionLink(".", "VmMkt_OrderColorAndSizeRatioDelete", "Marketing", new {id = item.Mkt_OrderColorAndSizeRatio.ID + "ʁ" + @Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())}, new {@title = "Shipment Color & Size Ratio Delete", @class = "lnkDelete glyphicon glyphicon-trash"})&nbsp;&nbsp;
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">

                <section>
                    <h3>
                        Pack Ratio
                    </h3>
                </section>

                <div class="table-responsive">
                    <table id="DataTable2" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                @foreach (System.Data.DataColumn col in (ViewData["AllData"] as System.Data.DataTable).Columns)
                                {
                                    <th>@col.Caption</th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (System.Data.DataRow dr in (ViewData["AllData"] as System.Data.DataTable).Rows)
                            {
                                <tr>
                                    @foreach (var cell in dr.ItemArray)
                                    {
                                        <td>@cell.ToString()</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>








<script>
    $(document).ready(function () {
        var table = $('#DataTable1').DataTable({

        });
    })
</script>


