﻿
@model Oss.Romo.ViewModels.Common.VmOrderSummary

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Summary";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>


<section class="content-header">
    <h1>
        Order Summmary: &nbsp;&nbsp;
      
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
       
        <li class="active">Order Summmary</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            
        </div>
        <!-- /.box -->
        <div class="box">
            <div class="box-header text-center">
                <h3 class="box-title" style="font-weight:bold;color:#1e95da">Item red color is BOM complete and Item green color is BOM incomplete</h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive table-custom">
                <table id="example" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="header">
                            <th style="width:5%">SL</th>
                            <th style="width:15%">
                                User & Item
                            </th>
                            <th style="width:15%">
                                Delivery Schedules
                            </th>
                            <th style="width:20%">
                               Common Information
                            </th>

                            <th style="width:30%">
                                Style Details
                            </th>
                            <th style="width:15%">
                                Costing
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                            <td class="text-navy text-bold">
                                <table class="table table-bordered">
                                    <tr>
                                        <td>
                                            Merchandiser
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User_User.Name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Item
                                        </td>
                                        <td>
                                            @if (item.Mkt_BOM.IsComplete == true)
                                            {
                                                <span class="text-red">@Html.DisplayFor(modelItem => item.Mkt_Item.Name)</span>
                                            }
                                            else
                                            {
                                                <span class="text-green">@Html.DisplayFor(modelItem => item.Mkt_Item.Name)</span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fabrication
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOM.Fabrication)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Common_TheOrder.OrderDate, "{0:yyyy/MM/dd}")*@

                                    @*<table class="table table-bordered">
                                        @{ if (item.VmOrderDeliverySchedule.Count() != 0)
                                            {
                                                <tr>
                                                    <th style="padding:2px 4px 2px 4px">Destination</th>
                                                    <th style="padding:2px 4px 2px 4px">Delivery Date</th>
                                                    <th style="padding:2px 4px 2px 4px">Quantity</th>
                                                </tr>

                                                foreach (var val in item.VmOrderDeliverySchedule)
                                                {
                                                    <tr>
                                                        <td style="padding:2px 4px 2px 4px;">
                                                            @Html.DisplayFor(modelItem => val.Destination)
                                                        </td>
                                                        <td style="padding:2px 4px 2px 4px;">
                                                            @Html.DisplayFor(modelItem => val.Date)
                                                        </td>
                                                        <td style="padding:2px 4px 2px 4px;">
                                                            @Html.DisplayFor(modelItem => val.Quantity)
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {
                                                    <tr>
                                                        <td colspan="3">
                                                            <b>
                                                                Delivery Schedule not ready yet.
                                                            </b>
                                                            
                                                        </td>
                                                    </tr>
                                            }
                                        }
                                    </table>*@
                                </td>
                            <td>
                                <table class="table table-bordered">
                                    <tr>
                                        <td>
                                            Style
                                        </td>
                                        <td>
                                            <a href="../Marketing/Mkt_BOMSlaveItem/@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)" class="ItemChildCSS" target="_blank">@Html.DisplayFor(modelItem => item.Mkt_BOM.Style) </a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Order ID
                                        </td>
                                        <td>
                                            <a href="Mkt_OrderSlaveBOM/@Html.DisplayFor(modelItem => item.Common_TheOrder.ID)" class="ItemChildCSS" target="_blank">@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)</a>
                                    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            PO
                                        </td>
                                        <td>
                                            <a href="../Marketing/MktPoByStyle/@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)" class="ItemChildCSS" target="_blank">PO List. Value (<span style="color:black"><b>@Html.DisplayFor(modelItem => item.TotalPoOfStyle)</b></span>)</a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Inventory
                                        </td>
                                        <td>
                                            <a href="~/Store/OrderInventoryBalanceReportDoc/@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)" class="ItemChildCSS" target="_blank">Order Inventory</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            BOM
                                        </td>
                                        <td>
                                            <a href="~/Marketing/BOMReportDoc/@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)" class="ItemChildCSS" target="_blank">Bill of Materials</a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="~/planning/Plan_OrderStepProgress/@Html.DisplayFor(modelItem => item.Common_TheOrder.ID)" class="ItemChildCSS" target="_blank">T&A</a>
                                        </td>
                                        <td>
                                            <a href="~/Planning/PlanReportDoc/@Html.DisplayFor(modelItem => item.Common_TheOrder.ID)" class="ItemChildCSS" target="_blank">T&A Sheet</a>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                           
                                <td>
                                    <table class="table table-bordered">

                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Common_TheOrder.Season)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Common_TheOrder.Season)
                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Common_TheOrder.Reference)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Common_TheOrder.Reference)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove)
                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.UpdateDate)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.UpdateDate)
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.Class)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.Class)
                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.SizeRange)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.SizeRange)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.QPack)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.QPack)
                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.QuantityInPc)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.QuantityInPc)
                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.QuantityInDz)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.QuantityInDz)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Mkt_BOM.UnitPrice)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                                @Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)

                                            </td>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.TotalPrice)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                                @Html.DisplayFor(modelItem => item.TotalPrice)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-bordered">

                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.Commission)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.Commission) (@Html.DisplayFor(modelItem => item.Common_TheOrder.Commission)%)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="padding:2px 4px 2px 4px">
                                                @Html.DisplayNameFor(model => model.TotalFOB)
                                            </th>
                                            <td style="padding:2px 4px 2px 4px">
                                                @Html.DisplayFor(modelItem => item.TotalFOB)
                                            </td>
                                        </tr>
                                        @*@{ if (item.BOMShortDetails != null)
                                            {

                                                foreach (var itemC in item.BOMShortDetails)
                                                {

                                                    <tr>
                                                        <th style="padding:2px 4px 2px 4px">BOM Cost</th>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemC.TOTAL)
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th style="padding:2px 4px 2px 4px">TTL C.M</th>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemC.TotalCM)
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th style="padding:2px 4px 2px 4px">C.M Per DZ</th>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemC.CMperDZ)
                                                        </td>

                                                    </tr>
                                                    
                                                }
                                            }
                                        }*@

                                    </table>
                                </td>
                            </tr>
                                            }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<style>
    .ItemChildCSS:hover {
        background-color: dodgerblue;
        color: white;
    }
    /*.table-custom {
        overflow-x: visible;
        height: auto;
    }*/

  .header {
     /*background:#8eca3f;*/
     background:#808080;
     color: #f1f1f1;
     }
</style>
