﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_OrderDeliverySchedule
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Color</th>
            <th>Size</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Model.SizeList)
        {
            <tr>
                <td>@Html.DisplayFor(model => color.Color)</td>
                <td>@Html.DisplayFor(model => color.Size)</td>
                <td>@Html.DisplayFor(model => color.Quantity)</td>
            </tr>
         }
    </tbody>
</table>
