﻿@model Oss.Romo.ViewModels.Common.VmCommon_Supplier
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Supplier";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
      

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 470,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Supplier.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })
      
        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Supplier.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Supplier.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
       
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>


<section class="content-header">
    <h1>
        Supplier: &nbsp;&nbsp;
        (&nbsp; <a href="VmCommon_SupplierCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/Dashboard">Common</a></li>*@
        <li class="active"> Supplier</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{ 
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_SupplierType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Country.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Mobile)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Common_Supplier.Acc_AcNameFk > 0)
                                        {
                                            <span class="label label-primary"><b>@(++sl).</b></span>
                                        }
                                        else
                                        {
                                            <b>@(++sl).</b>
                                        }
                                    }
                                </td>
                              
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Common_SupplierType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Country.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Mobile)
                                </td>  
                                <td>
                                    @Html.ActionLink(".", "VmCommon_SupplierEdit", new { id = Model.VmControllerHelper.Encrypt(item.Common_Supplier.ID.ToString()) }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmCommon_SupplierDelete", new { id = Model.VmControllerHelper.Encrypt(item.Common_Supplier.ID.ToString()) }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>                              
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


@*<p>
    @Html.ActionLink("Create New", "VmCommon_SupplierCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Common_Supplier.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Common_Supplier.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Common_Supplier.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Common_Supplier.Mobile)
        </th>
    </tr>

@foreach (var item in Model.DataList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Common_Supplier.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Common_Supplier.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Common_Supplier.Mobile)
        </td>
        <td>
            @Html.ActionLink("Edit", "VmCommon_SupplierEdit", new { id=item.Common_Supplier.ID }) |
        </td>
    </tr>
}

</table>*@
