﻿@model Oss.Romo.ViewModels.Common.VmCommon_TheOrder
@{
    ViewBag.Title = "ExportSummary";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Export Summary &nbsp;&nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Export Summary</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                Order ID
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.OrderDate)
                            </th>
                            <th>
                                Buyer
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Commission)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.QPack)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UnitPrice)
                            </th>
                            <th>
                                Value
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.OrderDate, "{0:yyyy/MM/dd}")
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Mkt_Buyer.Name)
                                </td>
                                <td>
                                     @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Reference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Commission)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.QPack)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalOrderValue)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "Mkt_BOMSlaveItem", "Marketing", new { id = item.Mkt_BOM.ID }, new { @title = "Item Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>





