﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "YARN STATEMENT";
}
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<section class="content-header">
    <h1>
        YARN STATEMENT &nbsp; &nbsp;
        @*(&nbsp; <a href="VmMkt_BOMCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">YARN STATEMENT</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-info">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <hr />
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-lg-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @autocomplete = "off", @class = "calendarControl form-control ol-md-6 col-xs-6" } })

                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @autocomplete = "off", @class = "calendarControl form-control col-md-6 col-xs-6" } })
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <div style="padding-top: 24px;">
                                        <input type="submit" value="Show" class="btn btn-success" />
                                        @*<input type="reset" value="Cancel" class="btncancel btn btn-primary" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
          
        </div>
    </div>
</div>
