﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_EducationInfo

@{
    ViewBag.Title = "AddEducatio";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "EditEmployee", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Education", "AddEducation", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Extracurricular", "AddHobby", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "AddFacility", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("AddEducation", "HRMSEmployeeRecord", FormMethod.Post, new { }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Educational Information : @Model.Employee.Name | @Model.Employee.Name_BN</h3>
        </div>
        @Html.HiddenFor(m => m.Employee_Id, new { Value = @Model.Employee.ID })
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Degree, new {@class = "control-label "})
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Degree, ViewBag.EducationList as IEnumerable<SelectListItem>,
                            "Select Designation", new {@class = "form-control myselect2"})
                        @Html.ValidationMessageFor(model => model.Degree, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Institute, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GroupOrSubject, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GroupOrSubject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupOrSubject, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Passing_Year, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Passing_Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Passing_Year, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Html.Partial("PartialView/_PartialEducationalInformation");

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
