﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@*<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Employee", "AddEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "AddSpouse", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "AddHobby", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Salary", "AddSalary", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Facility", "AddFacility", "EmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "EmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>*@

@using (Html.BeginForm("AddEmployee", "HRMSEmployeeRecord", FormMethod.Post, new { id = "AddEmployee", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Basic Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                @*<div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })
                    &nbsp; <span><i class="ion-star font-red"></i></span>
                    @Html.DropDownListFor(model => model.CardTitle, ViewBag.Designations as IEnumerable<SelectListItem>,
                        "Select Designation", new { @class = "form-control myselect2" })
                    @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                </div>
            </div>*@
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.CardTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeIdentity, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @*<div class="col-md-10">*@
                        @Html.TextBoxFor(model => model.EmployeeIdentity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardNo, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name_BN, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Name_BN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name_BN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Father_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Father_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mother_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Mother_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mother_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DOB, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var listItemsGn = new List<ListItem>
                                       {
                                           new ListItem {Text = "Male", Value = "Male"},
                                           new ListItem {Text = "Female", Value = "Female"}
                                       }; }
                        @Html.DropDownList("Gender", new SelectList(listItemsGn, "Value", "Text"), "Select Gender",
                      new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation_Id, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Designation_Id, ViewBag.Designations as IEnumerable<SelectListItem>,
                      "Select Designation", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Country_Id, ViewBag.Coutries as IEnumerable<SelectListItem>,
                      "Select Business Unit", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Country_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Business_Unit_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Business_Unit_Id, ViewBag.BUnits as IEnumerable<SelectListItem>,
                      "Select Business Unit", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Business_Unit_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Unit_Id, new SelectList(string.Empty, "Value", "Text"), "Select Unit",
                      new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Unit_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Department_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Department_Id, ViewBag.Departments as IEnumerable<SelectListItem>,
                      "Select Department", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Section_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Section_Id, new SelectList(string.Empty, "Value", "Text"),
                      "Select Section", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Section_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LineId, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.LineId, ViewBag.Line as IEnumerable<SelectListItem>,
                      "Select Line", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.LineId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Blood_Group, new { @class = "control-label " })&nbsp;
                        @{ var listItemBloodGroup = new List<ListItem>
                                       {
                                           new ListItem {Text = "A+(ve)", Value = "A+(ve)"},
                                           new ListItem {Text = "A-(ve)", Value = "A-(ve)"},
                                           new ListItem {Text = "B+(ve)", Value = "B+(ve)"},
                                           new ListItem {Text = "B-(ve)", Value = "B-(ve)"},
                                           new ListItem {Text = "AB+(ve)", Value = "AB+(ve)"},
                                           new ListItem {Text = "AB-(ve)", Value = "AB-(ve)"},
                                           new ListItem {Text = "O+(ve)", Value = "O+(ve)"},
                                           new ListItem {Text = "O-(ve)", Value = "O-(ve)"}
                                       }; }
                        @Html.DropDownListFor(model => model.Blood_Group, new SelectList(listItemBloodGroup, "Value", "Text"), "Select Blood Group",
                      new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Blood_Group, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Joining_Date, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Joining_Date, new { @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Religion, new { @class = "control-label " })&nbsp;
                        @{ var listItemReligion = new List<ListItem>
                               {
                                   new ListItem {Text = "Islam", Value = "Islam"},
                                   new ListItem {Text = "Hindu", Value = "Hindu"},
                                   new ListItem {Text = "Christian", Value = "Christian"},
                                   new ListItem {Text = "Other", Value = "Other"}
                               }; }
                        @Html.DropDownListFor(model => model.Religion, new SelectList(listItemReligion, "Value", "Text"), "Select Religion",
                      new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile_No, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NID_No, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.NID_No, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NID_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Mobile_No, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Alt_Mobile_No, new { @class = "form-control", data_input_numeric = "true" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.Alt_Mobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Alt_Person_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alt_Person_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Contact_No, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Alt_Person_Contact_No, new { @class = "form-control", data_input_numeric = "true" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Alt_Person_Contact_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Address, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Alt_Person_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Alt_Person_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Emergency_Contact_No, new { @class = "control-label " })&nbsp;
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Emergency_Contact_No, new { @class = "form-control", data_input_numeric = "true" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Emergency_Contact_No, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Office_Contact, new { @class = "control-label " })&nbsp;
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Office_Contact, new { @class = "form-control", data_input_numeric = "true" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Office_Contact, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Land_Phone, new { @class = "control-label " })&nbsp;
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Land_Phone, new { @class = "form-control", data_input_numeric = "true" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Land_Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email_Id, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Email_Id, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employement_Type, new { @class = "control-label " })&nbsp;
                        @{var listItemEmpType = new List<ListItem>
                          {
                              new ListItem {Text = "Permanent", Value = "Permanent"},
                              new ListItem {Text = "Contractual", Value = "Contractual"}
                          }; }

                        @Html.DropDownListFor(model => model.Employement_Type, new SelectList(listItemEmpType, "Value", "Text"),
                         "Select Employe Type", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Employement_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Passport_No, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Passport_No, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Passport_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <p><h3><b>Present Address:</b></h3></p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PresentDistrict_ID, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.PresentDistrict_ID, ViewBag.DistrictList as IEnumerable<SelectListItem>,
                         "Select District", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PresentDistrict_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PresentPoliceStation_ID, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.PresentPoliceStation_ID, new SelectList(string.Empty, "Value", "Text"), "Select Police Station",
                         new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PresentPoliceStation_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PresentPostOffice_ID, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.PresentPostOffice_ID, new SelectList(string.Empty, "Value", "Text"), "Select Post Office",
          new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PresentPostOffice_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PresentVillage_ID, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.PresentVillage_ID, new SelectList(string.Empty, "Value", "Text"),
                         "Select Village", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PresentVillage_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
                <div class="row">
                    <p><h3><b>Permanent Address:</b></h3></p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentDistrict_ID, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.PermanentDistrict_ID, ViewBag.DistrictList as IEnumerable<SelectListItem>,
                             "Select District", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentDistrict_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentPoliceStation_ID, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.PermanentPoliceStation_ID, new SelectList(string.Empty, "Value", "Text"), "Select Police Station",
                             new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentPoliceStation_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentPostOffice_ID, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.PermanentPostOffice_ID, new SelectList(string.Empty, "Value", "Text"), "Select Post Office",
              new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentPostOffice_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentVillage_ID, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.PermanentVillage_ID, new SelectList(string.Empty, "Value", "Text"),
                             "Select Village", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentVillage_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



            @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Present_Address, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Present_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Present_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Permanent_Address, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Permanent_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Permanent_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Marital_Status, new { @class = "control-label " })&nbsp;
                        @{ var listItemMaritalStatusList = new List<ListItem>
                                                                               {
                                                                                   new ListItem {Text = "Single", Value = "Single"},
                                                                                   new ListItem {Text = "Married", Value = "Married"},
                                                                                   new ListItem {Text = "Widow", Value = "Widow"}
                                                                               }; }
                        @Html.DropDownListFor(model => model.Marital_Status, new SelectList(listItemMaritalStatusList, "Value",
                                  "Text"), "Select Marital Status", new { @class = "form-control myselect2" })

                        @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Staff_Type, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                            var listStaffType = new List<ListItem>
                                            {
                                                new ListItem {Text = "Staff", Value = "Staff"},
                                                new ListItem {Text = "Worker", Value = "Worker"}
                                                //,
                                                //new ListItem {Text = "P. Staff", Value = "P. Staff"}
                                            };
                        }
                        @Html.DropDownListFor(model => model.Staff_Type, new SelectList(listStaffType, "Value",
                                       "Text"), "Select Staff Type", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Staff_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Overtime_Eligibility, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                    var listOverTime = new List<ListItem>
                                          {
                                              new ListItem() {Text = "Yes", Value = "Yes"},
                                              new ListItem() {Text = "No", Value = "No"}
                                          };
                        }

                        @Html.DropDownListFor(model => model.Overtime_Eligibility, new SelectList(listOverTime, "Value",
                                       "Text"), "Select Overtime Eligibility", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Overtime_Eligibility, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Grade, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                    var listGrade = new List<ListItem>
                                        {
                                            new ListItem() {Text = "Grade 1", Value = "Grade 1"},
                                            new ListItem() {Text = "Grade 2", Value = "Grade 2"},
                                            new ListItem() {Text = "Grade 3", Value = "Grade 3"},
                                            new ListItem() {Text = "Grade 4", Value = "Grade 4"},
                                            new ListItem() {Text = "Grade 5", Value = "Grade 5"},
                                            new ListItem() {Text = "Grade 6", Value = "Grade 6"},
                                            new ListItem() {Text = "Grade 7", Value = "Grade 7"},
                                            new ListItem() {Text = "None", Value = "None"}
                                        };
                        }
                        @Html.DropDownListFor(model => model.Grade, new SelectList(listGrade, "Value", "Text"),
                                  "Select Grade", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, new { @class = "control-label " })&nbsp;
                        @*@Html.TextBoxFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="file" name="Photo" />
                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>
        <script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


    <script>
        $(document).ready(function() {

            //Date picker

            //$('[data-datetimepicker-startdate]').datepicker({

            //});

            //$('#DOB').datepicker();
            //$('[data-datetimepicker-startdate]').datepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});
            //$('#DOB').datepicker();

            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#Business_Unit_Id").change(function () {

                $("#Unit_Id").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList")",
                    datatype: "Json",
                    data: { bUnitId: $("#Business_Unit_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Category</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.UnitName  + '</option>');
                        });
                        $("#Unit_Id").html(items);
                    }
                });
            });

    /*
     *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
             then the Sections will appear according to selected Busines Unit.
     */


            $("#Department_Id").change(function () {

                $("#Section_Id").empty();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSectionList")",
                    datatype: "Json",
                    data: { deptId: $("#Department_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Section</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.SectionName + '</option>');
                        });
                        $("#Section_Id").html(items);
                    }
                });
            });






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PresentPoliceStation_ID");
                    //  getUnitlistforAddDepartment(e.object.text, "ddlUnitNameforUpdateEmployeeInfo");
                    ///  $('#hidBusinessUnit').val(e.object.text);

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PresentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PresentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PresentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });
            //






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PermanentPoliceStation_ID");

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PermanentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PermanentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PermanentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PermanentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
                });




            

            function getPoliceStationList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPoliceStationList1", "HRMSEmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { districtid: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select District');
                }
            }



            function getPostOfficeList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPostOfficeList1", "HRMSEmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Police Station');
                }
            }



            function getVillageList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetVillageList1", "HRMSEmployeeRecord")",
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Post Office');
                }
            }


            
            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            @*$("#PresentDistrict_ID").change(function () {

                $("#PresentPoliceStation_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPoliceStationList")",
                    datatype: "Json",
                    data: { districtid: $("#PresentDistrict_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Police Station</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.PoliceStationName  + '</option>');
                        });
                        $("#PresentPoliceStation_ID").html(items);
                    }
                });
            });


            /*
            This is used for cascding dropdown. Which will change upon Present Police Station. If Police Station is selected
            then the Post Office will appear according to selected Police Station.
            */
            $("#PresentPoliceStation_ID").change(function () {

                $("#PresentPostOffice_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPostOfficeList")",
                    datatype: "Json",
                    data: { policestataionid: $("#PresentPoliceStation_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Post Office</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.PostOfficeName  + '</option>');
                        });
                        $("#PresentPostOffice_ID").html(items);
                    }
                });
            });


            /*
            This is used for cascding dropdown. Which will change upon Present Post Office. If Post Office is selected
            then the Village will appear according to selected Post Office.
            */
            $("#PresentPostOffice_ID").change(function () {

                $("#PresentVillage_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetVillageList")",
                    datatype: "Json",
                    data: { postofficeid: $("#PresentPostOffice_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Village</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.VillageName  + '</option>');
                        });
                        $("#PresentVillage_ID").html(items);
                    }
                });
            });




             /*
             This is used for cascding dropdown. Which will change upon Permanent District. If District is selected
             then the Police Station will appear according to selected Permanent District.
             */
            $("#PermanentDistrict_ID").change(function () {

                $("#PermanentPoliceStation_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPoliceStationList")",
                    datatype: "Json",
                    data: { districtid: $("#PermanentDistrict_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Police Station</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.PoliceStationName  + '</option>');
                        });
                        $("#PermanentPoliceStation_ID").html(items);
                    }
                });
            });


            /*
            This is used for cascding dropdown. Which will change upon Permanent Police Station. If Police Station is selected
            then the Post Office will appear according to selected Permanent Police Station.
            */
            $("#PermanentPoliceStation_ID").change(function () {

                $("#PermanentPostOffice_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPostOfficeList")",
                    datatype: "Json",
                    data: { policestataionid: $("#PermanentPoliceStation_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Post Office</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.PostOfficeName  + '</option>');
                        });
                        $("#PermanentPostOffice_ID").html(items);
                    }
                });
            });


            /*
            This is used for cascding dropdown. Which will change upon Permanent Post Office. If Post Office is selected
            then the Village will appear according to selected Permanent Post Office.
            */
            $("#PermanentPostOffice_ID").change(function () {

                $("#PermanentVillage_ID").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetVillageList")",
                    datatype: "Json",
                    data: { postofficeid: $("#PermanentPostOffice_ID").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Village</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.VillageName  + '</option>');
                        });
                        $("#PermanentVillage_ID").html(items);
                    }
                });
            });*@
        })
    </script>
}
