﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Spouse

@{
    ViewBag.Title = "AddSpouse";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "EditEmployee", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Spouse", "AddSpouse", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "AddChildren", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "AddEducation", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "AddTraining", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "AddExperience", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "AddSkill", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "AddReference", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Extracurricular", "AddHobby", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "AddSalary", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "AddFacility", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Employee Setting", "AddLinkToEmployee", "HRMSEmployeeRecord", new { id = @Model.Employee.ID, @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

@using (Html.BeginForm("AddSpouse", "HRMSEmployeeRecord", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Spouse Information : @Model.Employee.Name | @Model.Employee.Name_BN</h3>
        </div>
        @Html.HiddenFor(m => m.Employee_Id, new { Value = @Model.Employee.ID })
        <div id="divPanelbody" class="panel-body">

            <div class="row mrg10T">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpouseName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "text-danger" })
                    </div>
                </div><div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpouseDOB, new { @class = "control-label" })&nbsp;
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.SpouseDOB, new { @class = "form-control calendarControl" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.SpouseDOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Spouse_Contact_No, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Spouse_Contact_No, new { htmlAttributes = new { @class = "form-control", data_input_numeric = "true" } })
                        @Html.ValidationMessageFor(model => model.Spouse_Contact_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Spouse_Blood_Group, new { @class = "control-label " })&nbsp;
                        @{ var listItemBloodGroup = new List<ListItem>
                           {
                               new ListItem {Text = "A+(ve)", Value = "A+(ve)"},
                               new ListItem {Text = "A-(ve)", Value = "A-(ve)"},
                               new ListItem {Text = "B+(ve)", Value = "B+(ve)"},
                               new ListItem {Text = "B-(ve)", Value = "B-(ve)"},
                               new ListItem {Text = "AB+(ve)", Value = "AB+(ve)"},
                               new ListItem {Text = "AB-(ve)", Value = "AB-(ve)"},
                               new ListItem {Text = "O+(ve)", Value = "O+(ve)"},
                               new ListItem {Text = "O-(ve)", Value = "O-(ve)"}
                           };
                            }
                        @Html.DropDownListFor(model => model.Spouse_Blood_Group, new SelectList(listItemBloodGroup, "Value", "Text"), "Select Blood Group",
                            new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Spouse_Blood_Group, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }
<br />
@Html.Partial("PartialView/_PartialSpouseInformation")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {


            //$('[data-datetimepicker-startdate]').datepicker({

            //});

            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});

        });
    </script>
}
