﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "AddTemporaryEmployee";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

@using (Html.BeginForm("AddTemporaryEmployee", "HRMSEmployeeRecord", FormMethod.Post, new { id = "AddTemporaryEmployee", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Add Temporary Employee Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.CardTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeIdentity, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @*<div class="col-md-10">*@
                        @Html.TextBoxFor(model => model.EmployeeIdentity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CardNo, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.CardNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CardNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Father_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Father_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DOB, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Staff_Type, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                var listStaffType = new List<ListItem>
                            {
                                new ListItem {Text = "Staff", Value = "Staff"},
                                new ListItem {Text = "Worker", Value = "Worker"}
                            };
                        }
                        @Html.DropDownListFor(model => model.Staff_Type, new SelectList(listStaffType, "Value",
                     "Text"), "Select Staff Type", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Staff_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Joining_Date, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date">
                            @Html.TextBoxFor(model => model.Joining_Date, new { @class = "form-control calendarControl", autocomplete = "off" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation_Id, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Designation_Id, ViewBag.Designations as IEnumerable<SelectListItem>,
                            "Select Designation", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Department_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Department_Id, ViewBag.Departments as IEnumerable<SelectListItem>,
                            "Select Department", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Section_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Section_Id, new SelectList(string.Empty, "Value", "Text"),
                            "Select Section", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Section_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Grade, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @{
                            var listGrade = new List<ListItem>
                            {
                                new ListItem() {Text = "Grade 1", Value = "Grade 1"},
                                new ListItem() {Text = "Grade 2", Value = "Grade 2"},
                                new ListItem() {Text = "Grade 3", Value = "Grade 3"},
                                new ListItem() {Text = "Grade 4", Value = "Grade 4"},
                                new ListItem() {Text = "Grade 5", Value = "Grade 5"},
                                new ListItem() {Text = "Grade 6", Value = "Grade 6"},
                                new ListItem() {Text = "Grade 7", Value = "Grade 7"},
                                new ListItem() {Text = "First", Value = "First"},
                                new ListItem() {Text = "None", Value = "0"}
                            };
                        }
                        @Html.DropDownListFor(model => model.Grade, new SelectList(listGrade, "Value", "Text"),
                            "Select Grade", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>
        <script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


    <script>
        $(document).ready(function() {
            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#Business_Unit_Id").change(function () {

                $("#Unit_Id").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList")",
                    datatype: "Json",
                    data: { bUnitId: $("#Business_Unit_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Category</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.UnitName  + '</option>');
                        });
                        $("#Unit_Id").html(items);
                    }
                });
            });

    /*
     *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
             then the Sections will appear according to selected Busines Unit.
     */


            $("#Department_Id").change(function () {

                $("#Section_Id").empty();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSectionList")",
                    datatype: "Json",
                    data: { deptId: $("#Department_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Section</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.SectionName + '</option>');
                        });
                        $("#Section_Id").html(items);
                    }
                });
            });






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PresentPoliceStation_ID");
                    //  getUnitlistforAddDepartment(e.object.text, "ddlUnitNameforUpdateEmployeeInfo");
                    ///  $('#hidBusinessUnit').val(e.object.text);

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PresentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PresentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PresentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PresentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });
            //






            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentDistrict_ID').select2().on("select2-selecting", function (e) {

                if (e.val !== "") {
                    getPoliceStationList(e.val, "PermanentPoliceStation_ID");

                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
             This is used for cascding dropdown. Which will change upon Present District. If District is selected
             then the Police Station will appear according to selected District.
             */
            $('#PermanentPoliceStation_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getPostOfficeList(e.val, "PermanentPostOffice_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });


            /*
            This is used for cascding dropdown. Which will change upon Present District. If District is selected
            then the Police Station will appear according to selected District.
            */
            $('#PermanentPostOffice_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    getVillageList(e.val, "PermanentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
            });



            /*
          This is used for cascding dropdown. Which will change upon Present District. If District is selected
          then the Police Station will appear according to selected District.
          */
            $('#PermanentVillage_ID').select2().on("select2-selecting", function (e) {
                if (e.val !== "") {
                    ///  getVillageList(e.val, "PresentVillage_ID");
                } else {
                    //
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                }
                });






            function getPoliceStationList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPoliceStationList1", "HRMSEmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { districtid: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select District');
                }
            }



            function getPostOfficeList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetPostOfficeList1", "HRMSEmployeeRecord")",
                        //  data: { districtid: $("#PresentDistrict_ID").val() },
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Police Station');
                }
            }



            function getVillageList(Id, elemid) {
                if (Id !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetVillageList1", "HRMSEmployeeRecord")",
                        data: { id: Id },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            console.log("test :", newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Post Office');
                }
            }
        })
    </script>
}

