﻿@using System.Collections
@using System.Web.UI.WebControls
@using Oss.Romo.Models.ViewModels.HRMS
@model Oss.Romo.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "DetailEmployeeIdWise";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Details Information of  @Model.Name </h3>
    </div>
    <div class="panel-body">
        <br />
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading pad5A">
                <h3 class="panel-title">
                    <!--<i class="fa fa-search-plus"></i>-->
                    Upload Documents
                </h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("UploadFile", "HRMSEmployeeRecord", FormMethod.Post, new { id = "UploadFile", data_server = "true", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <input type="hidden" id="Employee_Id" name="Employee_Id" value="@Model.ID" />
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @{ var listItemsBld = new List<ListItem>
                                   {
                                       new ListItem {Text = "A", Value = "A"},
                                       new ListItem {Text = "B", Value = "B"},
                                       new ListItem {Text = "C", Value = "C"},
                                       new ListItem {Text = "D", Value = "D"},
                                       new ListItem {Text = "E", Value = "E"},
                                       new ListItem {Text = "F", Value = "F"},
                                       new ListItem {Text = "G", Value = "G"},
                                       new ListItem {Text = "H", Value = "H"}
                                   }; }
                                <label for="BloodGroup">Document Type</label>
                                <span><i class="ion-star font-red"></i></span>
                                <div class="input-group col-md-12">
                                    @Html.DropDownList("Document_Type", new SelectList(listItemsBld, "Value", "Text"), new {id = "Document_Type", name = "Document_Type", @class = "form-control myselect2"})
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Document_Name">Document Name</label>
                                <span><i class="ion-star font-red"></i></span>
                                <input type="text" placeholder="Document Name" name="Document_Name" id="Document_Name" class="form-control col-md-12">
                            </div>
                        </div>
                        <div class="col-md-3 mrg25T">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.VmHrmsUploadDocument.Document, new {@class = "control-label "})&nbsp;*@
                                <input type="file" name="Document" id="Document" class="form-control col-md-12"/>
                                @*@Html.ValidationMessageFor(model => model.VmHrmsUploadDocument.Document, "", new {@class = "text-danger"})*@
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="input-group mrg25T">
                                <button type="submit" class="btn btn-mini btn-success">Upload Document</button>
                            </div>
                        </div>
                    </div>
                </div>
        }
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Basic Information</h3>
            </div>
            <div class="panel-body">
            <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal font-size-14">
                    <dt>
                        @Html.DisplayNameFor(model => model.CardTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CardTitle)
                    </dd>
                            
                    <dt>
                        @Html.DisplayNameFor(model => model.CardNo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CardNo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmployeeIdentity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployeeIdentity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name_BN)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name_BN)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Father_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Father_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mother_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mother_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DOB)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DOB)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Designation_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Designation_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Country_Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Country_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BU_Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BU_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Unit_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Unit_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Department_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Department_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Section_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Section_Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Blood_Group)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Blood_Group)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Joining_Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Joining_Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Religion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Religion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mobile_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mobile_No)
                    </dd>
                   

                    

                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal font-size-14">
                    <dt>

                    </dt>
                    <dd>
                        @{
            var str = "";
            str = "nopicture.png";
            if (!string.IsNullOrEmpty(Model.Photo))
            {
                str = Model.Photo;
            }
                <img class="img-thumbnail img-responsive" alt="str" height="180" width="160" src="@Url.Content("~/Assets/Images/EmpImages/" + str)">

                        }
                        <br />
                        @Html.ActionLink("Update Photo ", "UpdateEmployeeImage", new { id = Model.ID }, new { @class = "glyphicon glyphicon-edit", @target = "_blank" }) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Alt_Mobile_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Alt_Mobile_No)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Alt_Person_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Alt_Person_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Alt_Person_Contact_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Alt_Person_Contact_No)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Alt_Person_Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Alt_Person_Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Emergency_Contact_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Emergency_Contact_No)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Office_Contact)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Office_Contact)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Land_Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Land_Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email_Id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email_Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Passport_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Passport_No)
                    </dd>

                    @*<dt>
            @Html.DisplayNameFor(model => model.Present_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permanent_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permanent_Address)
        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Marital_Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Marital_Status)
                    </dd>


                    @*<dt>
            @Html.DisplayNameFor(model => model.Present_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Status)
        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Staff_Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Staff_Type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Overtime_Eligibility)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Overtime_Eligibility)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Grade)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Grade)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Employement_Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Employement_Type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NID_No)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NID_No)
                    </dd>

                </dl>
            </div>
            </div>
            <div class="row">
                <p><h3><b>Present Address:</b></h3></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal font-size-14">
                        <dt>
                            @Html.DisplayNameFor(model => model.PresentVillageName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PresentVillageName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PresentPoliceStationName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PresentPoliceStationName)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal font-size-14">
                        <dt>
                            @Html.DisplayNameFor(model => model.PresentPostOfficeName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PresentPostOfficeName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PresentDistrictName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PresentDistrictName)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <p><h3><b>Permanent Address:</b></h3></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal font-size-14">
                        <dt>
                            @Html.DisplayNameFor(model => model.PermanentVillageName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PermanentVillageName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PermanentPoliceStationName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PermanentPoliceStationName)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal font-size-14">
                        <dt>
                            @Html.DisplayNameFor(model => model.PermanentPostOfficeName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PermanentPostOfficeName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PermanentDistrictName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PermanentDistrictName)
                        </dd>
                    </dl>
                </div>
            </div>
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Spouse Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Spouse != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Spouse Name</th>
                                    <th>Spouse DOB</th>
                                    <th>Contact No</th>
                                    <th>Blood Group</th>
                                    <th></th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Spouse)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.SpouseName</td>
                                    <td>@item.SpouseDOB.ToString("d")</td>
                                    <td>@item.Spouse_Contact_No</td>
                                    <td>@item.Spouse_Blood_Group</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Child Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Child != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Child Name</th>
                                    <th>Blood Group</th>
                                    <th>DOB</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Child)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Child_Name </td>
                                    <td>@item.Child_DOB.ToString("d")</td>
                                    <td>@item.Child_Blood_Group</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Education Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Education != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Degree</th>
                                    <th>Institute</th>
                                    <th>Group/Subject</th>
                                    <th>Passing Year</th>
                                    <th>Result</th>
                                    <th></th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Education)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.Degree</td>
                                    <td>@item.Institute</td>
                                    <td>@item.GroupOrSubject</td>
                                    <td>@item.Passing_Year</td>
                                    <td>@item.Result</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Training Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                        if (ViewBag.Training != null /*&& spouseList.Any()*/)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Course Name</th>
                                    <th>Institute</th>
                                    <th>Country</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Duration</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Training)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Course_Name)</td>
                                    <td>@(item.Institute)</td>
                                    <td>@(item.Country)</td>
                                    <td>@(item.Course_Start_Date.ToString("d"))</td>
                                    <td>@(item.Course_End_Date.ToString("d"))</td>
                                    <td>@(item.Course_Duration)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Experience Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                        if (ViewBag.Training != null /*&& spouseList.Any()*/)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Company Name</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Responsibility</th>
                                    <th>Job Start Date</th>
                                    <th>Job End Date</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Experience)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Company_Name)</td>
                                    <td>@(item.Designation)</td>
                                    <td>@(item.Department)</td>
                                    <td>@(item.Responsibility)</td>
                                    <td>@(item.Job_Start_Date.ToString("d"))</td>
                                    <td>@(item.Job_End_Date.ToString("d"))</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Skill Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Skill Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                        if (ViewBag.Skill != null /*&& spouseList.Any()*/)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Skill Type</th>
                                    <th>Skill Name</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Skill)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Skill_Type)</td>
                                    <td>@(item.Skill_Name)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Reference Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Reference Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Reference != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Referee Name</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Relation</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Reference)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Referee_Name)</td>
                                    <td>@(item.Contact_No)</td>
                                    <td>@(item.Email_Id)</td>
                                    <td>@(item.Address)</td>
                                    <td>@(item.Relation)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Hobby Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Hobby Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Hobby != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Hobby Name</th>
                                    <th>Remarks</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Hobby)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Hobby_Name)</td>
                                    <td>@(item.Remarks)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Salary Information================================*@
        @*<div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Salary Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Salary != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    @*<th>Salary Grade</th>*@
                                    @*<th>Joining Date</th>*@
                                    @*<th>Joining Salary</th>
                                    <th>Payment Mode</th>
                                    <th>Bank Name</th>
                                    <th>Account No</th>
                                    <th>Current Salary</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Salary)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>*@
                                    @*<td>@(item.Salary_Grade)</td>*@
                                    @*<td>@(item.Joining_Date)</td>*@
    @*<td>@(item.Joining_Salary)</td>
                                    <td>@(item.Payment_Mode)</td>
                                    <td>@(item.Bank_Name)</td>
                                    <td>@(item.Account_No)</td>
                                    <td>@(item.Current_Salary)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>*@
        @* ===================== Facility Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Facility Information</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Facility != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    @*<th>Salary Grade</th>*@
                                    <th>Item Name</th>
                                    <th>Cost Per Month</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Facility)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    @*<td>@(item.Salary_Grade)</td>*@
                                    <td>@(item.Item_Name)</td>
                                    <td>@(item.Cost_Per_Month)</td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Employees Superior Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Employee Setting Information</h3>
            </div>
            <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                            List<VM_HRMS_LinkToEmployee> listspinfo = ViewBag.Superior as List<VM_HRMS_LinkToEmployee>;
                            if (listspinfo != null && listspinfo.Any())
                            {
                                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                    <tr>
                                        <th>SL#</th>
                                        @*<th class="hidden">ID </th>*@
                                        <th>Employee Id. </th>
                                        <th>Employee Name</th>
                                        <th>Superior Name</th>
                                        <th>Superior Type</th>
                                    </tr>
                                    @{
                                        var i = 0;
                                    }

                                    @foreach (VM_HRMS_LinkToEmployee item in listspinfo)
                                    {
                                        i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        @*<td class="hidden">@(item.ID)</td>*@
                                        <td>@(item.EmployeeIdentity)</td>
                                        <td>@(item.EmployeeName)</td>
                                        <td>@(item.SuperiorName)</td>
                                        <td>@(item.SuperiorType)</td>
                                    </tr>
                                    }
                                </table>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @* ===================== Upload Documents Information================================*@
        <div class="panel panel-default content-box border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Upload Documents</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="box-body table-responsive">
                        @{
                        if (ViewBag.Document != null)
                        {
                            <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                <tr>
                                    <th>SL#</th>
                                    <th>Document Type</th>
                                    <th>Document Name</th>
                                    <th>Document</th>
                                </tr>
                                @{
                                var i = 0;
                                }

                                @foreach (var item in ViewBag.Document)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Document_Type)</td>
                                    <td>@(item.Document_Name)</td>
                                    @*<td>@(item.Document)</td>*@
                                    <td>
                                        @Html.ActionLink(".", "../Assets/Upload/", new { id = item.Document }, new { @target = "_blank", @class = "glyphicon glyphicon-file", @title = "Upload Document" })
                                        @*@Html.ActionLink((string), item, "DownloadFile", new { filename = item.Document });*@
                                        @*<a href="EmployeeRecord/DownloadFile?filename=@(item.Document)" target="_blank">Download</a>*@
                                    </td>
                                </tr>
                        }
                            </table>
                    }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>