﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Skill

@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}


@using (Html.BeginForm("EditSkill", "HRMSEmployeeRecord", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Employee_Id)

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Add Skill Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skill_Type, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Skill_Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill_Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skill_Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Skill_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Skill_Description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Skill_Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill_Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <div class="col-md-offset-11 col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
