﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_EducationInfo

@{
    ViewBag.Title = "EditEduction";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("EditEduction", "HRMSEmployeeRecord", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Employee_Id)
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Educational Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Degree, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Degree, ViewBag.EducationList as IEnumerable<SelectListItem>,
                            "Select Designation", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Degree, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Institute, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GroupOrSubject, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.GroupOrSubject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GroupOrSubject, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Passing_Year, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Passing_Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Passing_Year, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
