﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_LinkToEmployee

@{
    ViewBag.Title = "EditLinkToEmployee";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("EditLinkToEmployee", "HRMSEmployeeRecord", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.EmployeeId)
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Link Employee Information</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SuperiorId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SuperiorId, ViewBag.Employee as IEnumerable<SelectListItem>,
                         "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.SuperiorId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var listItemsSuperiorType = new List<ListItem>
                                               {
                                                   new ListItem {Text = "Line Manager", Value = "1"},
                                                   new ListItem {Text = "Admin", Value = "2"},
                                                   new ListItem {Text = "Depeartment Head", Value = "3"}
                                               }; }
                        @Html.DropDownList("Type", new SelectList(listItemsSuperiorType, "Value", "Text"), "Select Superior Type",
                           new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdminId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.AdminId, ViewBag.Employee as IEnumerable<SelectListItem>,
                                          "Select Employee Name", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.AdminId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DeptHeadId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.DeptHeadId, ViewBag.Employee as IEnumerable<SelectListItem>,
                           "Select Employee Name", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.DeptHeadId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
