﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Spouse

@{
    ViewBag.Title = "SpouseIndex";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Spouse", "IndexSpouse", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Salary", "IndexSalary", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Link To Employee", "IndexLinkToEmployee", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />


<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Spouse Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>

        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Employee_Identity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SpouseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SpouseDOB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spouse_Contact_No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Spouse_Blood_Group)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                    var i = 0;
                    }

                    <tbody>
                    @foreach (var item in Model.VmHrmsSpouses)
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee_Identity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpouseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpouseDOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Spouse_Contact_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Spouse_Blood_Group)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "EditSpouse", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                @Html.ActionLink(" ", "DeleteSpouse", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>