﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Child

@{
    ViewBag.Title = "ChildIndex";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Child", "IndexChild", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Salary", "IndexSalary", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Link To Employee", "IndexLinkToEmployee", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Child Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Employee_Identity)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Child_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Child_Blood_Group)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Child_DOB)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        int i = 0;
                        <tbody>
                        @foreach (var item in Model.Children)
                        {
                            i = i + 1;
                            <tr>
                                <th>@i</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee_Identity)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_Blood_Group)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_DOB)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "EditChildren", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                    @Html.ActionLink(" ", "DeleteChildren", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }

                        </tbody>
                    }
                    
                </table>
            </div>
        </div>
    </div>
</div>

