﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Salary

@{
    ViewBag.Title = "SalaryIndex";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="">@Html.ActionLink("Employee", "IndexEmployees", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Spouse", "IndexSpouse", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Child", "IndexChild", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Education", "IndexEducation", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Training", "IndexTraining", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Experience", "IndexExperience", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Skill", "IndexSkill", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Reference", "IndexReference", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Hobby", "IndexHobby", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="active">@Html.ActionLink("Salary", "IndexSalary", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Facility", "IndexFacility", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Link To Employee", "IndexLinkToEmployee", "HRMSEmployeeRecord", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>
<br />
<br />
<br />

<div class="panel panel-default border-top border-blue">
    <div class="panel-heading pad5A">
        <h3 class="panel-title">Salary Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>SL#</th>
                            <th>@Html.DisplayNameFor(model => model.Employee_Identity)</th>
                            <th>@Html.DisplayNameFor(model => model.Salary_Grade)</th>
                            <th>@Html.DisplayNameFor(model => model.Joining_Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Joining_Salary)</th>
                            <th>@Html.DisplayNameFor(model => model.Payment_Mode)</th>
                            <th>@Html.DisplayNameFor(model => model.Bank_Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Account_No)</th>
                            <th>@Html.DisplayNameFor(model => model.Current_Salary)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @{
                        int i = 0;
                        <tbody>
                        @foreach (var item in Model.Salaries)
                        {
                            i = i + 1;
                            <tr>
                                <th>@i</th>
                                <td>@Html.DisplayFor(modelItem => item.Employee_Identity)</td>
                                <td>@Html.DisplayFor(modelItem => item.Salary_Grade)</td>
                                <td>@Html.DisplayFor(modelItem => item.Joining_Date)</td>
                                <td>@Html.DisplayFor(modelItem => item.Joining_Salary)</td>
                                <td>@Html.DisplayFor(modelItem => item.Payment_Mode)</td>
                                <td>@Html.DisplayFor(modelItem => item.Bank_Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Account_No)</td>
                                <td>@Html.DisplayFor(modelItem => item.Current_Salary)</td>

                                <td>
                                    @Html.ActionLink(" ", "EditSalary", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                    @Html.ActionLink(" ", "DeleteSalary", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }
                        </tbody>
                    }
                    
                </table>
            </div>
        </div>
    </div>
</div>