﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.HRMS.VMEmployee
@{
    ViewBag.Title = "UpdateEmployeeImage";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Update Photo of  @Model.Name </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("UpdateEmployeeImage", "HRMSEmployeeRecord", FormMethod.Post, new { id = "UpdateEmployeeImage", data_server = "true", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <input type="hidden" id="Employee_Id" name="Employee_Id" value="@Model.ID" />
                <div class="row mrg10T">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CardTitle, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @*<div class="col-md-10">*@
                            @Html.TextBoxFor(model => model.CardTitle, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                            @*</div>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeIdentity, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @*<div class="col-md-10">*@
                            @Html.TextBoxFor(model => model.EmployeeIdentity, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                            @*</div>*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label " })&nbsp;
                            <span><i class="ion-star font-red"></i></span>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Photo, new { @class = "control-label " })&nbsp;
                            @*@Html.TextBoxFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="file" name="Photo" />
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-3 mrg25T">

                    </div>
                    <div class="form-group col-md-2">
                        <div class="input-group mrg25T">
                            <button type="submit" class="btn btn-mini btn-success">Update Photo</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>