﻿@model Oss.Romo.ViewModels.User.VmUser_User

@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_User.ID)

   
        <div class="form-group">
            @Html.LabelFor(model => model.UserNameFromEdit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.UserNameFromEdit, new { htmlAttributes = new { @readonly = "readonly" ,@class = "form-control col-md-6 col-xs-6"} })
                @Html.ValidationMessageFor(model => model.UserNameFromEdit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_User.IsActive, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.User_User.IsActive)
                    @Html.ValidationMessageFor(model => model.User_User.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
            <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>


        
    </div>
}


