﻿@model Oss.Romo.ViewModels.User.VmUser_User

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "User Profile";

}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        @*if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }*@

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 320,
            width: 550,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-detail").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#lnkCreate").click(function (e) {
           
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Change Your Password  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
           
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
           
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDetail").click(function (e) {
           
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-confirmU" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Complete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/User/CommonProfile">Profile</a></li>

    </ol>
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Profile</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Show/Hide"><i class="fa fa-minus"></i></button>
                </div>
            </div>
         
                        <div class="box-body">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="box-body">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(x => x.User_User.UserName):</label>
                                                    <span style="width:200px;">@Html.DisplayFor(x => x.User_User.UserName) </span>
                                                </div>

                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(x => x.User_User.Name):</label>
                                                    <span style="width:200px;"> @Html.DisplayFor(x => x.User_User.Name)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(x => x.User_User.Address):</label>
                                                    <span style="width:200px;"> @Html.DisplayFor(x => x.User_User.Address)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(x => x.User_User.Email):</label>
                                                    <span style="width:200px;"> @Html.DisplayFor(x => x.User_User.Email)</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label style="width:100px;">@Html.DisplayNameFor(x => x.User_User.Mobile):</label>
                                                    <span style="width:200px;"> @Html.DisplayFor(x => x.User_User.Mobile)</span>
                                                </div>
                                            </div>
                                            <div class="row col-md-6">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"></div>

                                                <div class="col-md-3">
                                                    @*@{
                                                        var pic = "nopic.png";
                                                        if (!string.IsNullOrEmpty(Model.User_User.Photo))
                                                        {
                                                            pic = Model.User_User.Photo;
                                                        }
                                                    }*@
                                                    <img style="width:200px;" class="img-rounded" src="@Url.Content(Model.User_User.Photo)" />
                                                    <div style="padding:20px 50px" class="center">
                                                        <div class="btn btn-group-xs btn-primary btn-flat">
                                                            @Html.ActionLink("Change Password", "PasswordEdit", new { id =Model.VmControllerHelper.Encrypt(@Model.User_User.ID.ToString()) }, new { @class = "lnkEdit", @style= "color:white" })
                                                       </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
        </div>
    </div>
}


