﻿@model Oss.Romo.ViewModels.User.VmUser_MenuItem

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_MenuItem.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.User_MenuItem.Name, new { htmlAttributes = new { @placeholder = "Link Name", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.User_MenuItem.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.User_MenuFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.User_MenuItem.User_MenuFk, ViewBag.UserMenu as SelectList, "---Select User Menu---", new {id = "User_MenuFk" , @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.User_MenuItem.User_MenuFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.User_SubMenuFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.User_MenuItem.User_SubMenuFk, ViewBag.UserSubMenu as SelectList, "---Select User Submenu---", new {id = "User_SubMenuFk" , @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.User_MenuItem.User_SubMenuFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.Method, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.User_MenuItem.Method, new { htmlAttributes = new { @placeholder = "Controller/ActionMethod", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.User_MenuItem.Method, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.User_MenuItem.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.User_MenuItem.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.User_MenuItem.IsAlone, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span>If you uncheck the checkbox, it means your link show in the menu section</span><br />
                @Html.EditorFor(model => model.User_MenuItem.IsAlone, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.User_MenuItem.IsAlone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>



    </div>
}


<script>
    @*$('#User_MenuFk').select2().on("select2-selecting",
        function(e) {

        }).on("change",
        function(e) {
            var id = $('#User_MenuFk').val();
            $("#User_SubMenuFk").empty();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetUserSubMenu", "Helper")",
                data: { id: id },
            datatype: "json",
            traditional: true,
            success: function (data) {
                if (data.length !== 0) {
                    $.each(data, function (index, row) {
                        $("#User_SubMenuFk")
                            .append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                    });
                }
            }
        });

    });*@

</script>
