﻿@model Oss.Romo.ViewModels.User.VmUser_User

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "User";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";
        $("#dialog-edit-Details").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Password-edit").dialog({
            title: '',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-active-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-user-Create").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-detail").dialog({
            title: 'User Details',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

        //$("#dialog-access-buyer").dialog({
        //    autoOpen: false,
        //    resizable: false,
        //    height: 350,
        //    width: 500,
        //    show: { effect: 'left', direction: "right" },
        //    modal: true,
        //    draggable: true,
        //    open: function (event, ui) {
        //        $(".ui-dialog-titlebar-close").hide();
        //        $(this).load(url);
        //    }
        //});

        $("#dialog-access-control").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 500,
            show: { effect: 'left', direction: "right" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#CreateUser").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Create New User <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#LoadingBar").show();
            $("#dialog-user-Create").dialog('open');
            return false;
        })

        $(".lnkEditDetails").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Update User <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit-Details").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".AdminPasswordEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Password Change: <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-Password-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".linkActiveEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Are You sure to Active <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-active-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $(".linkAssessControl").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("User Assess Control <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-access-control").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDetail").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        })

        $(".lnkDetail1").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail1").dialog('open');

            return false;
        })
        //$('##dialog-user-Create').load($('#CreateUser').attr('href'));
        // $('#dialog-Password-edit').load($('.AdminPasswordEdit').attr('href'));
        // $('#dialog-access-control').load($('.linkAssessControl').attr('href'));
        // $('#dialog-edit-Details').load($('.lnkEditDetails').attr('href'));
        // $('#dialog-active-edit').load($('.linkActiveEdit').attr('href'));
        //$("#lnkCreate").click(function (e) {
        //    url = $(this).attr('href');
        //    $(".ui-dialog-titlebar").html("User Assess Control <button type='button' style='float: right;' class='btncancel'>&times;</button>");

        //    $("#LoadingBar").show();
        //    $("#dialog-access-buyer").dialog('open');

        //    return false;
        //})


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit-Details" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-active-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<div id="dialog-detail1" style="display: none">
</div>
<div id="dialog-user-Create" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-Password-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-access-control" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
@*<div id="dialog-access-buyer" style="display: none">
        <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

    </div>*@

<section class="content-header">
    <h1>
        User List &nbsp;&nbsp;
        (&nbsp; <a href="VmUser_UserCreate" id="CreateUser">Add New User</a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>

    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">


    @foreach (var item in Model.DataList)
    {



        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@Url.Content(item.User_User.Photo)" alt="User profile picture">
                    <h3 class="profile-username text-center">@Html.DisplayFor(modelItem => item.User_User.Name)</h3>
                    <p class="text-muted text-center">
                        @if (item.User_User.IsActive == true)
                        {
                            <span class="label label-success">Active</span>

                        }
                        else
                        {

                            <span class="label label-danger">Inactive</span>
                        }
                    </p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <center>@Html.DisplayFor(modelItem => item.User_User.Email)</center>
                        </li>
                        <li class="list-group-item">
                            <center>@Html.DisplayFor(modelItem => item.User_User.Mobile)</center>
                        </li>


                    </ul>

                    @Html.ActionLink("Active", "Active", new { id = Model.VmControllerHelper.Encrypt(item.User_User.ID.ToString()) }, new { title = "To Active User", @class = "linkActiveEdit btn btn-primary btn-block" })
                    @Html.ActionLink("Edit Details", "VmUser_UserEdit", new { id = Model.VmControllerHelper.Encrypt(item.User_User.ID.ToString()) }, new { title = "To Edit User Info", @class = "lnkEditDetails btn btn-primary btn-block" })
                    @Html.ActionLink("AccessControl", "AccessControl", new { id = Model.VmControllerHelper.Encrypt(item.User_User.ID.ToString()) }, new { title = "Define User Access", @class = "linkAssessControl btn btn-primary btn-block" })

                    @Html.ActionLink("Change Password", "AdminPasswordEdit", new { id = Model.VmControllerHelper.Encrypt(item.User_User.ID.ToString()) }, new { title = "To Change User Password", @class = "AdminPasswordEdit btn btn-primary btn-block" })




                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>



    }

</div>
<!-- /.box-body -->
