﻿@model Oss.Romo.Models.ViewModels.HRMS.VMBusinessUnit

@{
    ViewBag.Title = "AddBusinessUnit";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
    @using (Html.BeginForm("AddBusinessUnit", "HRMSCommon", FormMethod.Post, new { data_server = "true", id = "addbusinessunit" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Country_SL, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Country_SL, ViewBag.CountryList as SelectList, new { @class = "form-control dropdown myselect2" })
                        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Country_SL, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success"/>
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary"/>
                </div>
            </div>
            </div>
            }
        </div>
       



