﻿@model Oss.Romo.Models.ViewModels.HRMS.VMCountry

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "AddCountry";

}


<div id="addform">
    @using (Html.BeginForm("AddCountry", "HRMSCommon", FormMethod.Post, new { data_server = "true", id = "addCountry" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Name, ViewBag.CountryListall as SelectList, new { @class = "form-control dropdown myselect2" })
                        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
            </div>
            }
        </div>



        @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
