﻿@model Oss.Romo.Models.ViewModel.VM_HRMS_Recruitment

@{
    ViewBag.Title = "AddCandidate";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("AddCandidate", "HRMS", FormMethod.Post, new { data_server = "true", id = "addcandidate" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Job_ID)
            @Html.HiddenFor(model => model.Job_Identification)
            <div class="form-group">
                @Html.LabelFor(model => model.Job_Title, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Job_Title, ViewBag.JobList as SelectList, new { @class = "form-control", id = "ddlJobID" })
                    @Html.ValidationMessageFor(model => model.Job_Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Candidate_NID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Candidate_NID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Candidate_NID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Candidate_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Candidate_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Candidate_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contact_No, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Contact_No, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contact_No, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control calendarControl", Value = "" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>
          <script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


<script>
    $(document).ready(function () {
        $('#ddlJobID').select2().on("select2-selecting", function (e) {
            if (e.val !== "") {
                var str = e.val.split("__");
                $('#Job_ID').val(str[0]);
                $('#Job_Identification').val(str[1]);

            } else {
                //
            }
        }).on("change", function (e) {

            if (e.val !== "0") {
                //
            }
        });

    });
</script>
