﻿@model Oss.Romo.Models.ViewModels.HRMS.VMDesignation

@{
    ViewBag.Title = "EditDesignation";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("EditDesignation", "HRMSCommon", FormMethod.Post, new { data_server = "true", id = "editdesignation" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DesigNameBangla, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.DesigNameBangla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DesigNameBangla, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <input type="submit" value="Update" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </div>
    </div>
</div>
}
