﻿@model Oss.Romo.Models.ViewModels.HRMS.VMDepartment

@{
    ViewBag.Title = "EditDepartment";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("EditDepartment", "HRMSCommon", FormMethod.Post, new { data_server = "true", id = "editdepartment" }))
    {
        <div class="form-horizontal">
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit_SL, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Unit_SL, ViewBag.Unitall as SelectList, new { @class = "form-control dropdown myselect2" })
                            @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.Unit_SL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptNameBangla, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DeptNameBangla, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DeptNameBangla, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <input type="submit" value="Update" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </div>
                </div>
            </div>
            </div>

            }
        </div>
