﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_Village
@{
    ViewBag.Title = "EditVillage";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm("EditVillage", "HRMSCommon", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PoliceStationName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PoliceStationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.PoliceStationName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PostOfficeName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PostOfficeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @*@Html.DropDownListFor(model => model.PostOffice_ID, ViewBag.ActivePoliceStationList as SelectList, new { @class = "form-control dropdown myselect2" })*@
                @*@Html.DropDownListFor(model => model.PostOffice_ID, new SelectList(string.Empty, "Value", "Text"), "Select Post Office",
                              new { @class = "form-control myselect2" })*@
                @Html.ValidationMessageFor(model => model.PostOfficeName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VillageName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.VillageName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VillageName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {

                /*
                This is used for cascding dropdown. Which will change upon District. If District is selected
                then the Police Station will appear according to selected District.
                */
            $("#District_ID").change(function () {

                $("#PoliceStation_ID").empty();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetPoliceStationList")",
                        datatype: "Json",
                        data: { id: $("#District_ID").val() },
                        success: function (data) {
                            var items = "";
                            items += "<option value = '' disabled selected>Please Select District</option>";
                            $.each(data, function (index, value) {
                                items += ('<option value="' + value.ID + '">'
                                    + value.PoliceStationName  + '</option>');
                            });
                            $("#PoliceStation_ID").html(items);
                        }
                    });
            });



                /*
                  This is used for cascding dropdown. Which will change upon District. If District is selected
                  then the Police Station will appear according to selected District.
                  */
            $("#PoliceStation_ID").change(function () {

                $("#PostOffice_ID").empty();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetPostOfficeList")",
                        datatype: "Json",
                        data: { id: $("#PoliceStation_ID").val() },
                        success: function (data) {
                            var items = "";
                            items += "<option value = '' disabled selected>Please Select Police Station</option>";
                            $.each(data, function (index, value) {
                                items += ('<option value="' + value.ID + '">'
                                    + value.PostOfficeName  + '</option>');
                            });
                            $("#PostOffice_ID").html(items);
                        }
                    });
                });

            }
    );
    </script>
}


