﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_PoliceStation

@{
    ViewBag.Title = "EditPoliceStation";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("EditPoliceStation", "HRMSCommon", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <div class="form-group">
            @*@Html.LabelFor(model => model.District_ID, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.District_ID, ViewBag.ActiveDistrictList as SelectList, new { @class = "form-control dropdown myselect2" })
            @Html.ValidationMessageFor(model => model.District_ID, "", new {@class = "text-danger"})
        </div>*@
            @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PoliceStationName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PoliceStationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliceStationName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}