﻿@model CrimsonERP.Models.ViewModel.VM_HRMS_Recruitment
@{
    ViewBag.Title = "SpecificCandidateDetails";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title"> Deatils</h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("SpecificCandidateDetails", "HRMSCommon", FormMethod.Post, new { id = "specificcandidatedetails", data_server = "true", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Job_Identification)
        @Html.HiddenFor(model => model.Job_ID)
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Job Title:</label>
                <div class="col-sm-6">
                    <label id="empID" class="control-label font-size-11">@Model.Job_Title</label>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Candidate NID:</label>
                <div class="col-sm-6">
                    <label id="empName" class="control-label font-size-11">@Model.Candidate_NID</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Candidate Name:</label>
                <div class="col-sm-6">
                    <label id="empdesign" class="control-label font-size-11">@Model.Candidate_Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Contact No:</label>
                <div class="col-sm-6">
                    <label id="empapplydate" class="control-label font-size-11">@Model.Contact_No</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Date of Birth:</label>
                <div class="col-sm-6">
                    <label id="Affectdate" class="control-label font-size-11">@Model.DOB.ToString("dd-MM-yyyy")</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Recruitment Status:</label>
                <div class="col-md-6">
                    @*<label id="resignApp" class="control-label font-size-11">@Model.Recruitment_Status</label>*@
                    @if (Model.Recruitment_Status == 1)
                    {
                        <span class="label label-primary">Waiting for First Interview</span>
                    }
                    else if (Model.Recruitment_Status == 2)
                    {
                        <span class="label label-info">Waiting for Second Interview</span>
                    }
                    else if (Model.Recruitment_Status == 3)
                    {
                        <span class="label label-purple">Waiting for Final Interview</span>
                    }
                    else if (Model.Recruitment_Status == 4)
                    {
                        <span class="label label-success">Passed</span>
                    }
                    else if (Model.Recruitment_Status == 5)
                    {
                        <span class="label label-danger">Fail</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">First Interview Taken by:</label>
                <div class="col-sm-6">
                    <label id="approveddate" class="control-label font-size-11">@Model.First_Level_Selected_By</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">First Interview Feedback:</label>
                <div class="col-sm-6">
                    <label id="empLMID" class="control-label font-size-11">@Model.First_Level_Feedback</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Second Interview Taken by:</label>
                <div class="col-sm-6">
                    <label id="approveddate" class="control-label font-size-11">@Model.Second_Level_Selected_By</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Second Interview Feedback:</label>
                <div class="col-sm-6">
                    <label id="empLMID" class="control-label font-size-11">@Model.Second_Level_Feedback</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Third Interview Taken by:</label>
                <div class="col-sm-6">
                    <label id="approveddate" class="control-label font-size-11">@Model.Third_Level_Selected_By</label>
                </div>
            </div>

            <div class="col-md-6">
                <label class="col-sm-6 control-label text text-right">Third Interview Feedback:</label>
                <div class="col-sm-6">
                    <label id="empLMID" class="control-label font-size-11">@Model.Third_Level_Feedback</label>
                </div>
            </div>
        </div>
        
}
        </div>

    </div>
    <!-- /.box-body -->
    @*<div class="overlay" id="divNotReady">
            <i class="fa fa-refresh fa-spin"></i>
        </div>*@
</div>


