﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Recruitment

@{
    ViewBag.Title = "ViewCandidate";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Recruitment Information</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add New Recruitment:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddCandidate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Recruitment Information
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Job_Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Candidate_NID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Candidate_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contact_No)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DOB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Recruitment_Status)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in Model.DatalistHrmsRecruitments)
                    {
                        <tr>
                            <td><b>@(++Sl).</b></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Job_Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Candidate_NID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Candidate_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @if (item.Recruitment_Status == 1)
                                {
                                    <span class="label label-primary">Waiting for First Interview</span>
                                }
                                else if (item.Recruitment_Status == 2)
                                {
                                    <span class="label label-info">Waiting for Second Interview</span>
                                }
                                else if (item.Recruitment_Status == 3)
                                {
                                    <span class="label label-purple">Waiting for Final Interview</span>
                                }
                                else if (item.Recruitment_Status == 4)
                                {
                                    <span class="label label-success">Passed</span>
                                }
                                else if (item.Recruitment_Status == 5)
                                {
                                    <span class="label label-danger">Fail</span>
                                }
                            </td>
                            <td>
                                @if (item.Recruitment_Status == 1)
                                {
                                @Html.ActionLink(".", "EditCandidate", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-edit",data_tooltip = "tooltip", title = "Edit", data_placement = "top" }) 
                                <a href="@Url.Action("SpecificCandidateDetails", "HRMS", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Details" data-placement="top"><i class="fa fa-external-link"></i></a> 
                                @Html.ActionLink(".", "DeleteCandidate", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash",data_tooltip = "tooltip", title = "Delete", data_placement = "top" }) 
                                }
                                else if (item.Recruitment_Status == 2)
                                {
                                @Html.ActionLink(".", "EditCandidateSecond", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-edit", data_tooltip = "tooltip", title = "Edit", data_placement = "top" })
                                <a href="@Url.Action("SpecificCandidateDetails", "HRMS", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Details" data-placement="top"><i class="fa fa-external-link"></i></a> 
                                @Html.ActionLink(".", "DeleteCandidate", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", data_tooltip = "tooltip", title = "Delete", data_placement = "top" }) 
                                }
                                else if (item.Recruitment_Status == 3)
                                {
                                @Html.ActionLink(".", "EditCandidateFinal", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-edit", data_tooltip = "tooltip", title = "Edit", data_placement = "top" }) 
                                <a href="@Url.Action("SpecificCandidateDetails", "HRMS", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Details" data-placement="top"><i class="fa fa-external-link"></i></a> 
                                @Html.ActionLink(".", "DeleteCandidate", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", data_tooltip = "tooltip", title = "Delete", data_placement = "top" }) 
                                }
                                else if (item.Recruitment_Status == 4)
                                {
                                <a href="@Url.Action("SpecificCandidateDetails", "HRMS", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Details" data-placement="top"><i class="fa fa-external-link"></i></a> 
                                @Html.ActionLink(".", "DeleteCandidate", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", data_tooltip = "tooltip", title = "Delete", data_placement = "top" }) 
                                }
                                else if (item.Recruitment_Status == 5)
                                {
                                <a href="@Url.Action("SpecificCandidateDetails", "HRMS", new RouteValueDictionary(new { id = item.ID }))" data-tooltip="tooltip" title="Details" data-placement="top"><i class="fa fa-external-link"></i></a> 
                                @Html.ActionLink(".", "DeleteCandidate", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", data_tooltip = "tooltip", title = "Delete", data_placement = "top" }) 
                                }
                            </td>

                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script>


        $(document).ready(function () {
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 500,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar").html("Candidate: Add New Candidate  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar").html("Candidate: Update This Candidate.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Candidate: Delete This Candidate.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            })

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            })
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}




@*<h2>ViewRecruitmentEmployee</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Update_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate_NID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Level_Selected_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Level_Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Second_Level_Selected_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Second_Level_Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Third_Level_Selected_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Third_Level_Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruitment_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_Title)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Update_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_NID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Level_Selected_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Level_Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Second_Level_Selected_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Second_Level_Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Third_Level_Selected_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Third_Level_Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recruitment_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
