﻿@model Oss.Romo.Models.ViewModels.ServiceBenefit.VM_HRMS_Service_Benefit
@{
    ViewBag.Title = "ServiceBenefitCalcuation";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Service Benefit Calculation
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HRMSEmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Service Benefit</li>
        <li class="active"> Service Benefit Calculation</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Service Benefit Calculation</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                <div class="panel panel-default border-top border-green">
                    <div id="divPanelbody" class="panel-body">
                        @using (Html.BeginForm("ServiceBenefitCalcuation", "HRMSServiceBenefit", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Employee </label>
                                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label>To Date </label>
                                        <div class="input-group date">

                                            @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                                <div class="col-md-4">
                                    <div class="form-group" style="padding-top:25px;">
                                        <input type="submit" value="View Service Benefit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.DataList != null)
                {
                    using (Html.BeginForm("ServiceBenefitCalcuationSave", "HRMSServiceBenefit", FormMethod.Post, new { @target = "_blank" }))
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.IsAudit)
                            @Html.HiddenFor(model => model.EmployeeId)
                            <div class="col-md-7 pull-left">
                                <div class="form-group" style="padding-top: 25px;">
                                    <input type="submit" value="Save Service Benefit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div id="viewform">
                            <div class="col-md-12 mrg10T">
                                @if (Model.DataList != null && Model.DataList.Any())
                                {
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.SectionName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Designation)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Joining_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Resignation_Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Year)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Month)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Days)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PayableDays)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PresentSalary)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PresentBasic)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.BasicPerDay)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CalculatedTotalAmount)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Stamp)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.PayableTotalAmount)
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.SectionName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Designation)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Joining_Date)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Resignation_Date)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Year)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Month)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Days)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.PayableDays)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.PresentSalary)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.PresentBasic)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.BasicPerDay)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.CalculatedTotalAmount)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.Stamp)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayFor(modelItem => item.PayableTotalAmount)
                                                            </th>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                                @*}*@
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


