﻿@using System.Web.UI.WebControls
@using Oss.Romo.Models
@using Oss.Romo.Models.ViewModels
@using Oss.Romo.Models.ViewModels.ServiceBenefit
@model Oss.Romo.Models.ViewModels.ServiceBenefit.VM_HRMS_Service_Benefit
@{
    ViewBag.Title = "ViewServiceBenefitAInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">View Service Benefit Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewServiceBenefitAInfo", "HRMSServiceBenefit", FormMethod.Post, new { data_server = "true", id = "ViewServiceBenefitAInfo" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Fromdate, new
                                {
                                    @class = "form-control calendarControl",
                                    autocomplete = "off"
                                })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.ToDate, new
                                {
                                    @class = "form-control calendarControl",
                                    autocomplete = "off"@*, Value = DateTime.Now.ToShortDateString()*@})
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Service Benefit Info" id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @if (Model.DataList != null && Model.DataList.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SectionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Designation)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Joining_Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Resignation_Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Year)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Month)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Days)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PayableDays)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PresentSalary)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PresentBasic)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BasicPerDay)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CalculatedTotalAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Stamp)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PayableTotalAmount)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <th>
                                                <b>@(++Sl).</b>
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.SectionName)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Joining_Date)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Resignation_Date)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Year)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Month)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Days)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PayableDays)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PresentSalary)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PresentBasic)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.BasicPerDay)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.CalculatedTotalAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Stamp)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PayableTotalAmount)
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>



    </div>
</div>




