﻿@using Oss.Romo.ViewModels.MIS
@model Oss.Romo.ViewModels.MisDashboard.VmNotifier
@*@model Oss.Romo.ViewModels.MIS.Vm_AtaGlance*@
@{
    ViewBag.Title = "Mis1";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #FFFACD;
    }

    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
        background-color: #AFEEEE;
    }
</style>

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">AT A GLANCE</h3>
    </div>
    <div class="panel-body">
        <section class="content">
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <center><b>Party Payment/LC/Doc</b></center>
                    </div>
                    <div class="box-body">
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="presentation1" role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cheque</a></li>
                                <li id="presentation2" role="presentation"><a href="#lcopen" aria-controls="messages" role="tab" data-toggle="tab">L/C Open</a></li>
                                <li id="presentation3" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Doc Payment</a></li>
                                @*<li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Cheque v-2</a></li>*@
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <br />
                                <div role="tabpanel" class="tab-pane fade active in" id="home">
                                    <table id="tblcheque" class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center" style="width: 5%">#SL</th>
                                                <th class="text-center" style="width: 10%">
                                                    Cheque Amount
                                                </th>
                                                <th class="text-center" style="width: 30%">
                                                    Supplier Name
                                                </th>
                                                <th class="text-center" style="width: 10%">
                                                    Supplier Payable Balance
                                                </th>
                                                <th class="text-center" style="width: 10%">
                                                    Account Balance
                                                </th>
                                                <th class="text-center" style="width: 20%">
                                                    Cheque Information
                                                </th>
                                                <th class="text-center" style="width: 15%">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int sl = 1;
                                            }
                                            @foreach (var item in Model.DataList)
                                            {

                                                <tr>
                                                    <td class="text-center">@sl</td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.Amount
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.ToName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.ToBalance
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.FromBalance
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.Particulars
                                                    </td>
                                                    <td class="text-center">
                                                        @*<a href="@Url.Action("VmAcc_AccNotifierFinalized", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type = "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                        <a href="@Url.Action("VmAcc_AccNotifierSeen", "Mis", new {id = item.Acc_Notifier.ID, type = "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                    </td>
                                                </tr>

                                                sl++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div role="tabpanel" class="tab-pane fade" id="lcopen">
                                    <table id="tblLc" class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center" style="width: 5%">#SL</th>
                                                <th class="text-center" style="width: 10%">
                                                    L/C Opening Amount
                                                </th>
                                                <th class="text-center" style="width: 30%">
                                                    Supplier Name
                                                </th>
                                                <th class="text-center" style="width: 10%">
                                                    Supplier L/C Opening Balance
                                                </th>
                                                <th class="text-center" style="width: 20%">
                                                    Additional
                                                </th>
                                                <th class="text-center" style="width: 15%">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                sl = 1;
                                            }
                                            @foreach (var item in Model.DataListLcOpen)
                                            {

                                                <tr>
                                                    <td class="text-center">@sl</td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.Amount
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.ToName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.ToBalance
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.Particulars
                                                    </td>
                                                    <td class="text-center">
                                                        @*<a href="@Url.Action("VmAcc_AccNotifierBtbApproved", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                        <a href="@Url.Action("VmAcc_AccNotifierSeen", "Mis", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                    </td>
                                                </tr>

                                                sl++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                    <table id="tblDoc" class="table table-bordered">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center" style="width: 5%">#SL</th>
                                                <th class="text-center" style="width: 10%">
                                                    L/C Payment Amount
                                                </th>
                                                <th class="text-center" style="width: 30%">
                                                    Supplier Name
                                                </th>
                                                <th class="text-center" style="width: 10%">
                                                    Supplier  Payable Balance
                                                </th>
                                                <th class="text-center" style="width: 20%">
                                                    Additional
                                                </th>
                                                <th class="text-center" style="width: 15%">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                sl = 1;
                                            }
                                            @foreach (var item in Model.DataListDocPayment)
                                            {

                                                <tr>
                                                    <td class="text-center">@sl</td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.Amount
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.ToName
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Acc_Notifier.ToBalance
                                                    </td>
                                                    <td>
                                                        @item.Acc_Notifier.Particulars
                                                    </td>
                                                    <td class="text-center">
                                                        @*<a href="@Url.Action("VmAcc_AccNotifierDocApproved", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                            <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment" })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                        <a href="@Url.Action("VmAcc_AccNotifierSeen", "Mis", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                    </td>
                                                </tr>

                                                sl++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        @{
            int slGlance = 0;
            int slGlance2 = 0;
            //decimal ttlAtaGlanceValue = 0;
            decimal ttlSupplierPayable = 0;
            decimal ttlBuyerRecivable = 0;
        }

        <div class="col-lg-12">
            <canvas hidden id="areaChart" style="height: 250px"></canvas>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        AT A GLANCE:
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <div class="box-body">
                    @{
                        List<Vm_AtaGlance> listfbinfo = ViewBag.AtaglanceList as List<Vm_AtaGlance>;

                        if (listfbinfo != null && listfbinfo.Any())
                        {
                            <div class="row">

                                <div class="box-body table-responsive">
                                   
                                    <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                        <thead>
                                        <tr style="background-color: #B0C4DE">
                                            <th style="width: 15%">
                                                SL
                                            </th>
                                            <th style="width: 65%">
                                                Title
                                            </th>
                                            <th style="width: 20%;text-align:right;">
                                                Values
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        @foreach (var item in listfbinfo.Where(x => x.SL <= 18)) // main
                                        {
                                            <tr>

                                                <td>
                                                    @((++slGlance))
                                                </td>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td style="text-align:right;">
                                                    @if (item.Values != 0)
                                                    {
                                                        <span>@item.Values.ToString("##,###")</span>
                                                    }
                                                    else
                                                    {
                                                        <span>0</span>
                                                    }
                                                    
                                                </td>
                                            </tr>
                                        }
                                        </tbody>



                                    </table>
                                </div>
                            </div> //main
                                
                                <div class="row">
                                    <div class="box-body table-responsive">
                                       
                                            <h4 style="text-align: center">ERQ</h4>
                                       
                                        <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                            <thead>
                                            <tr style="background-color: #B0C4DE">
                                                <th style="width: 15%">
                                                    SL
                                                </th>
                                                <th style="width: 65%">
                                                    Title
                                                </th>
                                                <th style="width: 20%;text-align:right;">
                                                    Values
                                                </th>

                                            </tr>
                                            </thead>
                                            @{
                                                //decimal erq_sbl = 0;
                                                //decimal credit_card_sbl = 0;
                                                //decimal erq_jbl = 0;
                                                decimal ttlerq = 0;
                                            }
                                            <tbody>
                                            @foreach (var item in listfbinfo.Where(x => x.SL >= 19 && x.SL <= 21))
                                            {
                                                ttlerq += item.Values;
                                                //if (item.SL == 17)
                                                //{
                                                //    erq_sbl = item.Values;
                                                //}
                                                //if (item.SL == 18)
                                                //{
                                                //    credit_card_sbl = item.Values;
                                                //}
                                                //if (item.SL == 20)
                                                //{
                                                //    erq_jbl = item.Values;
                                                //}
                                                <tr>

                                                    <td>
                                                        @((++slGlance2))
                                                    </td>
                                                    <td>
                                                        @item.Title
                                                    </td>
                                                    <td style="text-align:right;">
                                                        <span>&nbsp;@item.Values.ToString("##,###")</span>
                                                    </td>
                                                </tr>

                                            }
                                            </tbody>
                                            @*<tfoot>
                                            <tr>
                                                <td></td>
                                                <td>Total</td>
                                                <td>$ @ttlerq.ToString("##,###")</td>
                                            </tr>
                                            </tfoot>*@


                                        </table>
                                    </div>
                                </div>// erq
                                    <div class="row">
                                        <div class="box-body table-responsive">
                                           
                                                <h4 style="text-align: center">FDR</h4>
                                           
                                            <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                                <thead>
                                                <tr style="background-color: #B0C4DE">
                                                    <th style="width: 15%">
                                                        SL
                                                    </th>
                                                    <th style="width: 65%">
                                                        Title
                                                    </th>
                                                    <th style="width: 20%;text-align:right;">
                                                        Values
                                                    </th>

                                                </tr>
                                                </thead>
                                                @{
                                                    decimal ttlfdr = 0;
                                                }
                                                <tbody>
                                                @foreach (var item in listfbinfo.Where(x => x.SL >= 22 && x.SL <= 23))
                                                {
                                                    ttlfdr += item.Values;
                                                    <tr>

                                                        <td>
                                                            @((++slGlance2))
                                                        </td>
                                                        <td>
                                                            @item.Title
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <span>&nbsp;@item.Values.ToString("##,###")</span>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>

                                                <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td style="text-align:right;">@ttlfdr.ToString("##,###")</td>
                                                </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                    </div> // fdr
                                    <div class="row">
                                        <div class="box-body table-responsive">
                                            
                                                <h4 style="text-align: center">PC</h4>
                                            
                                            <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                                <thead>
                                                <tr style="background-color: #B0C4DE">
                                                    <th style="width: 15%">
                                                        SL
                                                    </th>
                                                    <th style="width: 65%">
                                                        Title
                                                    </th>
                                                    <th style="width: 20%;text-align:right;">
                                                        Values
                                                    </th>

                                                </tr>
                                                </thead>
                                                @{
                                                    decimal ttlpc = 0;
                                                }
                                                <tbody>
                                                @foreach (var item in listfbinfo.Where(x => x.SL >= 24 && x.SL <= 25))
                                                {
                                                    ttlpc += item.Values;
                                                    <tr>

                                                        <td>
                                                            @((++slGlance2))
                                                        </td>
                                                        <td>
                                                            @item.Title
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <span>&nbsp;@item.Values.ToString("##,###")</span>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td style="text-align:right;">@ttlpc.ToString("##,###")</td>
                                                </tr>
                                                </tfoot>


                                            </table>
                                        </div>
                                    </div> //pc
                                    <div class="row">
                                        <div class="box-body table-responsive">
                                           
                                                <h4 style="text-align: center">OD</h4>
                                          
                                            <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                                <thead>
                                                <tr style="background-color: #B0C4DE">
                                                    <th style="width: 15%">
                                                        SL
                                                    </th>
                                                    <th style="width: 65%">
                                                        Title
                                                    </th>
                                                    <th style="width: 20%;text-align:right;">
                                                        Values
                                                    </th>

                                                </tr>
                                                </thead>
                                                @{
                                                    decimal ttlod = 0;
                                                }
                                                <tbody>
                                                @foreach (var item in listfbinfo.Where(x => x.SL == 26))
                                                {
                                                    ttlod += item.Values;
                                                    <tr>

                                                        <td>
                                                            @((++slGlance2))
                                                        </td>
                                                        <td>
                                                            @item.Title
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <span>&nbsp;@item.Values.ToString("##,###")</span>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>

                                                <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td style="text-align:right;">@ttlod.ToString("##,###")</td>
                                                </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                    </div> // od
                                    <div class="row">
                                        <div class="box-body table-responsive">
                                            
                                                <h4 style="text-align: center">TL</h4>
                                            
                                            <table class="table table-hover table-responsive table-bordered nowrap table-striped">
                                                <thead>
                                                <tr style="background-color: #B0C4DE">
                                                    <th style="width: 15%">
                                                        SL
                                                    </th>
                                                    <th style="width: 65%">
                                                        Title
                                                    </th>
                                                    <th style="width: 20%;text-align:right;">
                                                        Values
                                                    </th>

                                                </tr>
                                                </thead>
                                                @{
                                                    decimal ttltl = 0;
                                                }
                                                <tbody>
                                                @foreach (var item in listfbinfo.Where(x => x.SL >= 27 && x.SL <= 28))
                                                {
                                                    ttltl += item.Values;
                                                    <tr>

                                                        <td>
                                                            @((++slGlance2))
                                                        </td>
                                                        <td>
                                                            @item.Title
                                                        </td>
                                                        <td style="text-align:right;">
                                                            <span>&nbsp;@item.Values.ToString("##,###")</span>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td style="text-align:right;">@ttltl.ToString("##,###")</td>
                                                </tr>
                                                </tfoot>


                                            </table>
                                        </div>
                                    </div> // tl

                                                    }




                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-lg-12">
            <canvas hidden id="areaChart" style="height: 250px"></canvas>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Order Status: <span id="OrderStatusSpan"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <div class="box-body">
                    @{
                        List<VmMis_OrderStatus> orderStatus = ViewBag.OrderStatusDataList as List<VmMis_OrderStatus>;
                        if (orderStatus != null && orderStatus.Any())
                        {
                            <div class="row">
                                <div class="box-body table-responsive">
                                    <table id="tblbuyerrecivable" class="table table-hover table-responsive table-bordered nowrap table-striped">
                                        <thead>
                                            <tr style="background-color: #B0C4DE">
                                                <th>
                                                    Style No
                                                </th>
                                                <th>
                                                    QuantityPC
                                                </th>
                                                <th>
                                                    SMV
                                                </th>
                                                <th>
                                                    OrderValues
                                                </th>
                                                <th>
                                                    Cost
                                                </th>
                                                <th>
                                                    CM
                                                </th>


                                                <th>
                                                    BEP
                                                </th>


                                                <th>
                                                    Finish Quantity
                                                </th>
                                                <th>
                                                    Exfactory
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in orderStatus)
                                            {
                                                //ttlBuyerRecivable += item.Receivable;
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.QuantityPC)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SMV)
                                                    </td>
                                                    <td>
                                                        <span>@Html.DisplayFor(modelItem => item.OrderValues)</span>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Cost)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CM)
                                                    </td>


                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BEP)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FinishQuantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Exfactory)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th></th>
                                                @*<th id="ttlOrderStatus">@ttlBuyerRecivable</th>*@
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        }
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-lg-12">
            <canvas hidden id="areaChart" style="height: 250px"></canvas>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Supplier Payable: <span id="supplierPayableSpan"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <div class="box-body">
                    @{
                        List<Vm_SupplierPayable> listsupSupplierPayables = ViewBag.SupplierPayableList as List<Vm_SupplierPayable>;
                        if (listsupSupplierPayables != null && listsupSupplierPayables.Any())
                        {
                            <div class="row">
                                <div class="box-body table-responsive">
                                    <table id="tblsupplierpayable" class="table table-hover table-responsive table-bordered nowrap table-striped">
                                        <thead>
                                            <tr style="background-color: #B0C4DE">
                                                <th>
                                                    Supplier Name
                                                </th>
                                                @*<th>
                                                        CID
                                                    </th>*@
                                                <th>
                                                    Payable
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listsupSupplierPayables)
                                            {
                                                ttlSupplierPayable += item.Payable;
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SupplierName)
                                                    </td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.CID)
                                                        </td>*@
                                                    <td>
                                                        <span>$ &nbsp; @Html.DisplayFor(modelItem => item.Payable)</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th></th>
                                                <th id="ttlSupplierPayable">@ttlSupplierPayable</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        }
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-lg-12">
            <canvas hidden id="areaChart" style="height: 250px"></canvas>
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Buyer Receivable: <span id="buyerReceivableSpan"></span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <div class="box-body">
                    @{
                        List<Vm_BuyerReceivable> listbuyerpayable = ViewBag.BuyerReceivableList as List<Vm_BuyerReceivable>;
                        if (listbuyerpayable != null && listbuyerpayable.Any())
                        {
                            <div class="row">
                                <div class="box-body table-responsive">
                                    <table id="tblbuyerrecivable" class="table table-hover table-responsive table-bordered nowrap table-striped">
                                        <thead>
                                            <tr style="background-color: #B0C4DE">
                                                <th>
                                                    Buyer Name
                                                </th>
                                                @*<th>
                                                        Buyer ID
                                                    </th>*@
                                                <th>
                                                    Receivable
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listbuyerpayable)
                                            {
                                                ttlBuyerRecivable += item.Receivable;
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BuyerName)
                                                    </td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.BuyerShortName)
                                                        </td>*@
                                                    <td>
                                                        <span>$ &nbsp; @Html.DisplayFor(modelItem => item.Receivable)</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>

                                                <th></th>
                                                <th id="ttlBuyerRecivable">@ttlBuyerRecivable</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        }
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var supPay = $('#ttlSupplierPayable').text();
        $('#supplierPayableSpan').text(supPay);
        var bayRec = $('#ttlBuyerRecivable').text();
        $('#buyerReceivableSpan').text(bayRec);


        //$('#tblataglance').DataTable({
        //    "iDisplayLength": 100,
        //    "bFilter": false,
        //    "aaSorting": [[2, "desc"]],
        //    "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        //        if (aData[2] == "5") {
        //            $('td', nRow).css('background-color', 'Red');
        //        } else if (aData[2] == "4") {
        //            $('td', nRow).css('background-color', 'Orange');
        //        }
        //    }
        //});
    });


    $(function () {
        var url_string = window.location.href;
        var url = new URL(url_string);
        var c = url.searchParams.get("type");
        if (c === "cheque") {
            var element = document.getElementById("home");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation1");
            presentation1.classList.add("active");
        }
        else if (c === "lcopen") {
            var element = document.getElementById("lcopen");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation2");
            presentation1.classList.add("active");
        }
        else if (c === "lcpayment") {
            var element = document.getElementById("messages");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation3");
            presentation1.classList.add("active");
        } else {
            var element = document.getElementById("home");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation1");
            presentation1.classList.add("active");
        }


    });
</script>




