﻿@using Oss.Romo.ViewModels.MIS
@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "Mis2";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">UPDATES</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Accounts
                    </h3>
                    @*<div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>*@
                </div>
                <div class="box-body">
                    @{
                        int Sl = 0;
                    }
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmAcc_AcName.AccountHead)

                                    </th>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.TotalCredit)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalDebit)
                                        </th>*@
                                    <th>
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            @{
                                decimal ttlC = 0;
                                decimal ttlD = 0;
                                decimal ttlb = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.VmAcc_AcName.DataList)
                                {

                                    decimal totalCredit = item.TotalCredit;
                                    decimal totalDebit = item.TotalDebit;
                                    decimal balance = totalCredit - totalDebit;
                                    ttlC += item.TotalCredit;
                                    ttlD += item.TotalDebit;
                                    ttlb += balance;
                                    <tr>
                                        <td>
                                            <b> @(++Sl).</b>
                                        </td>
                                        <td style="padding:2px 4px 2px 4px">
                                            <a href="~/Accounts/AccountsChartOneIndex/@Html.DisplayFor(modelItem => item.AccountHeadID)" target="_blank">@Html.DisplayFor(modelItem => item.AccountHead)</a>
                                        </td>

                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.TotalCredit)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalDebit)
                                            </td>*@
                                        <td>
                                            @balance
                                        </td>
                                    </tr>

                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    @*<th>@ttlC</th>
                                        <th>@ttlD</th>*@
                                    <th>@ttlb</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Store Inventory
                    </h3>
                    @*<div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>*@
                </div>
                <div class="box-body">
                    @{
                        int Sli = 0;
                    }
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.Raw_Category.Name)

                                    </th>

                                    <th>
                                        Total Received Quantity
                                    </th>
                                    <th>
                                        Consumption Quantity
                                    </th>
                                    <th>
                                        Current Stock
                                    </th>
                                    <th>
                                        Total Vaule
                                    </th>
                                    <th>
                                        Average Price
                                    </th>
                                    <th>
                                        Current Stock Value
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VmStoreInventory.DataList)
                                {
                                    <tr>
                                        <td>
                                            <b> @(++Sli).</b>
                                        </td>
                                        <td style="padding: 2px 4px 2px 4px">
                                            <a href="~/Store/SubCategoryInventoryIndex/@Html.DisplayFor(modelItem => item.Raw_Category.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Raw_Category.Name)</a>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryStockOutQuantity)
                                        </td>
                                        <td>
                                            @(item.CategoryQuantity - item.CategoryStockOutQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryTotalPrice)
                                        </td>
                                        <td>
                                            @{
                                                decimal avgprice = 0;
                                                if (item.CategoryQuantity != 0 && item.CategoryTotalPrice != 0)
                                                {
                                                    avgprice = (decimal)item.CategoryQuantity / (decimal)item.CategoryTotalPrice;
                                                }
                                                else
                                                {
                                                    avgprice = 0;
                                                }

                                            }
                                            @String.Format("{0:0.0000}", (avgprice))
                                        </td>
                                        <td>
                                            @String.Format("{0:0.0000}", ((item.CategoryQuantity - item.CategoryStockOutQuantity) * avgprice))
                                        </td>
                                    </tr>

                                }

                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Left Over Inventory
                    </h3>
                    @*<div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>*@
                </div>
                <div class="box-body">
                    @{
                        int Slii = 0;
                    }
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.Raw_Category.Name)

                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.PoIssued)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.StoreReceived)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.SupplierDue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.Consumption)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmStoreInventory.StoreBalance)
                                    </th>
                                   

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VmStoreInventory.ClosingInventory)
                                {
                                    <tr>
                                        <td>
                                            <b> @(++Slii).</b>
                                        </td>
                                        <td style="padding: 2px 4px 2px 4px">
                                            <a href="~/Store/SubCategoryColsingInventoryIndex/@Html.DisplayFor(modelItem => item.Raw_Category.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Raw_Category.Name)</a>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.PoIssued)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoreReceived)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SupplierDue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Consumption)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StoreBalance)
                                        </td>
                                      
                                    </tr>

                                }

                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">
                       
                    </h3>
                    
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <a href="~/misdashboard/TimeAndActionStatus" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-maroon-gradient">
                                        @*<i class="ion ion-cash"></i>*@
                                        <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                                    </span>
                                    <div class="info-box-content center" style="padding-top: 25px !important">
                                        <span class="info-box-text text-bold text-black">Time & Action Status</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/misdashboard/VmMis_Dashboard2Index" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-maroon-gradient">
                                        @*<i class="ion ion-cash"></i>*@
                                        <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                                    </span>
                                    <div class="info-box-content center" style="padding-top: 25px !important">
                                        <span class="info-box-text text-bold text-black">Buyer Receivable & Supplier Payable</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/accounts/AccountsHeadIndex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-aqua">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Account<br />Inventory</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/commercial/vmSummaryReport" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-maroon-gradient">
                                        @*<i class="ion ion-cash"></i>*@
                                        <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                                    </span>
                                    <div class="info-box-content center" style="padding-top: 25px !important">
                                        <span class="info-box-text text-bold text-black">Commercial<br /> Summary</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/marketing/yarnstatementledger" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-aqua">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Yarn<br />Statement</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/common/ordersummaryviewindex" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-green">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Order<br /> Summary</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-light-blue-active"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Supplier<br /> Overview</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/commercial/vmcommercial_udindex" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-red">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/bank.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">L/C<br /> Statement</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Payment<br /> Ledger</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/common/vmcommon_theorderindex" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa ion-cash"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Order<br /> Overview</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/Store/ItemWiseReport" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-purple">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Inventory</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/Store/ItemLeftoverReport" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-navy">
                                        <img height="50" width="50" src="~/Content/Images/adminboard/store.png" />
                                    </span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Store<br /> Leftover</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- /.info-box -->
                            <a href="~/planning/vmplan_orderstepindex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Time & <br />Action</span>
                                    </div>

                                    <!-- /.info-box-content -->
                                </div>
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/accounts/VmAccountingview" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Cost instant/Periodical<br /> Head wise/Total</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <!-- /.info-box -->
                            <a href="~/common/ordersummaryviewindex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">List Of order that <br />BOM not yet complete</span>
                                    </div>

                                    <!-- /.info-box-content -->
                                </div>
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/Store/ItemWiseReport" target="_blank">
                                <div class="info-box">
                                    <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Item Stock</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/store/categoryinventoryindex" target="_blank">
                                <div class="info-box">
                                    <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                                    <div class="info-box-content center">
                                        <span class="info-box-text text-bold text-black">Store Inventory</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </a>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
