﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Web.DynamicData
@using System.Globalization
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{

    ViewBag.Title = "Mis3";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    SumofPayableDueSupplier supplier = (SumofPayableDueSupplier)ViewBag.SupplierData;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>
<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>

<script>
    // New Chart start
    var lebel1 = [];
    var value1 = [];

    @foreach (SupplierInfoChart item in ViewBag.SupplierList)
        {
           <text>
               lebel1.push(['@item.SupplierName']);
               value1.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
           </text>
        }

    var color = Chart.helpers.color;

    var configBarSupplier = {
        type: 'bar',
        data: {
            labels: lebel1,
            datasets: [{
                label1: 'Supplier Payable',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: value1
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };


    var buyerName = [];
    var buyerBalance = [];

    @foreach (BuyerInfoChart item in ViewBag.BuyerList)
    {
           <text>
               buyerName.push(['@item.BuyerName']);
               buyerBalance.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
           </text>
    }

    var color = Chart.helpers.color;

    var configBarBuyer = {
        type: 'bar',
        data: {
            labels: buyerName,
            datasets: [{
                label: 'Buyer outstanding -Sundry creditors',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: buyerBalance
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };
    function start() {

        var ctxbarsupplier = document.getElementById('bar-chart-area-supplier').getContext('2d');
        var d = new Chart(ctxbarsupplier, configBarSupplier);

        var ctxbarbuyer = document.getElementById('bar-chart-area-buyer').getContext('2d');
        var d1 = new Chart(ctxbarbuyer, configBarBuyer);

        //var bar = document.getElementById('bar-chart-atAGlance').getContext('2d');
        //var a = new Chart(bar, atAGlance);

    };

    window.onload = start;

</script>
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Graphical</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Supplier Balance</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>

                    <div class="box-body">
                        <div id="canvas-holder">
                            <canvas id="bar-chart-area-supplier"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Buyer Balance</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="box-body">
                        <div id="canvas-holder">
                            <canvas id="bar-chart-area-buyer"></canvas>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
            </div>
        </div>

    </div>
</div>



