﻿@using System.Web.UI.WebControls
@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    ViewBag.Title = "Mis5";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Production</h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("Mis5", "Mis", FormMethod.Post, new { data_server = "true", id = "Mis5" }))
            {

                <div class="col-md-12">
                    <div class="row ">
                        <input type="hidden" name="FromDate1" value="model.FromDate1" />
                        <input type="hidden" name="ToDate1" value="model.ToDate1" />
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Searchby, new { @class = "control-label " })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                @{ var listItemsGn = new List<ListItem>
                                                       {
                                                           new ListItem {Text = " ALL", Value = "3"},
                                                           new ListItem {Text = " Daily Production Target and Achivement", Value = "1"},
                                                           new ListItem {Text = "Order Wise Production Summery", Value = "2"}
                                                       }; }
                                @Html.DropDownList("Searchby", new SelectList(listItemsGn, "Value", "Text"),
                                         new { @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Searchby, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.FromDate, new
                                    {
                                        @class = "form-control calendarControl ",
                                        autocomplete = "off"
                                    })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToDate, new {@class = "control-label"})
                                    &nbsp; <span><i class="ion-star font-red"></i></span>
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.ToDate, new
                                        {
                                            @class = "form-control calendarControl",
                                            autocomplete = "off"
                                        })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new {@class = "text-danger"})
                                </div>
                            </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <br />
                                <div class="input-group">
                                    <input type="submit" value="Search" id="btnserach" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

            }
        </div>
        <div id="viewform">
            <div class="col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Daily Production Target and Achivement
                        </h3>
                    </div>
                    <div class="box">

                        @{
                            int sl = 0;
                        }
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>LineNo</th>
                                        <th>PerLine M/C</th>
                                        <th>Order</th>
                                        <th>Item</th>
                                        <th>Mach. Running</th>
                                        <th>Opt.Pre.</th>
                                        <th>No.of HP</th>
                                        <th>TotalWorker</th>
                                        <th>SizeMan</th>
                                        <th>Supervisor</th>
                                        <th>NoofInput</th>
                                        <th>SMV</th>
                                        <th>HourlyTarget</th>
                                        <th>TotalTarget</th>
                                        <th>WorkHour</th>
                                        <th>PerHourAchv.</th>
                                        <th>TotalAchv.</th>
                                        <th>Tar.Effic.</th>
                                        <th>Achv.Effic.</th>
                                        <th>TargetBalance</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DataList != null)
                                    {
                                        foreach (var item in Model.DataList)
                                        {
                                            <tr>
                                                <td><b>@(++sl).</b></td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.LineName)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.LineMachineRequired)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Item)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LineMachineRunning)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NoOfOPPresent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NoOfHP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalWorker)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SizeMan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SuperVisor)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NoOfInputMan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SMV)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PerHourTarget)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalTarget)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LineHour)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PerHourAchivement)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAchivement)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TargetEffi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AchiveEffi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TargetBalance)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Remarks)
                                                </td>
                                            </tr>
                                        }
                                    }


                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Order Wise Production Summery
                        </h3>
                    </div>
                    <div class="box-body">

                        @{
                            int sl1 = 0;
                        }
                        <div class="box-body table-responsive">
                            <table id="example" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Buyer</th>
                                        <th>Order/Style</th>
                                        <th>LineName</th>
                                        <th>Line No</th>
                                        <th>Operator</th>
                                        <th>OrderQty</th>
                                        <th>TotalCutting</th>
                                        <th>DaySewing</th>
                                        <th>TotalSewing</th>
                                        <th>SewingBalance</th>
                                        <th>TotalPacking</th>
                                        <th>TotalCTN</th>
                                        <th>Cutting(%)</th>
                                        <th>Sewing(%)</th>
                                        <th>Packing(%)</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DataList1 != null)
                                    {
                                        foreach (var item in Model.DataList1)
                                        {
                                            <tr>
                                                <td><b>@(++sl1).</b></td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.BuyerName)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.Item)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.LineName)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.LineCount)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.TotalWorker)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalCutting)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DaySewing)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalSewing)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TargetBalance)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalPacking)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalCTN)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CuttingRate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SewingRate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PackingRate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Remarks)
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        @*<div class="box-body table-responsive">
                                <table id="example1" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Buyer</th>
                                            <th>Order/Style</th>
                                            <th>LineName</th>
                                            <th>Line No</th>
                                            <th>Operator</th>
                                            <th>OrderQty</th>
                                            <th>TotalCutting</th>
                                            <th>DaySewing</th>
                                            <th>TotalSewing</th>
                                            <th>SewingBalance</th>
                                            <th>TotalPacking</th>
                                            <th>TotalCTN</th>
                                            <th>Cutting(%)</th>
                                            <th>Sewing(%)</th>
                                            <th>Packing(%)</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DataList1 != null)
                                        {
                                            foreach (var item in Model.DataList1)
                                            {
                                                <tr>
                                                    <td><b>@(++sl1).</b></td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.BuyerName)
                                                    </td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.Item)
                                                    </td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.LineName)
                                                    </td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.LineCount)
                                                    </td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.TotalWorker)
                                                    </td>
                                                    <td class="text-navy text-bold">
                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalCutting)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DaySewing)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalSewing)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TargetBalance)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalPacking)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalCTN)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CuttingRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SewingRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PackingRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Remarks)
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>

                                </table>
                            </div>*@

                        <!-- /.col -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>

