﻿@model Oss.Romo.Models.ViewModels.HRMS.VMApplications
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("ApplicationForm", "HRMSForm", FormMethod.Post, new { target = "_blank" }))
{
    @Html.HiddenFor(model => model.ButtonID)
    @Html.HiddenFor(model => model.ID)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="rangeDate">
            <div class="form-group" id="fromDate">
                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" id="toDate">
                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="all">
            <div id="incrementPosition">
                <div class="form-group" id="cGrade">
                    @Html.LabelFor(model => model.ChangeGrade, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.ChangeGrade, ViewBag.Grade as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.ChangeGrade, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="cDesignation">
                    @Html.LabelFor(model => model.ChangeDesignation, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.ChangeDesignation, ViewBag.Designation as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.ChangeDesignation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="cSection">
                    @Html.LabelFor(model => model.ChangeSection, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.ChangeSection, ViewBag.Section as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.ChangeSection, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div id="salary">
                <div class="form-group" id="childGender">
                    @Html.LabelFor(model => model.ChildGender_BN, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.ChildGender_BN, ViewBag.Gender as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.ChildGender_BN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="cFrom">
                    <div class="form-group" id="stratDate">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="endDate">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="nominatePerson">
                        @Html.LabelFor(model => model.NominatePerson_BN, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.NominatePerson_BN, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.NominatePerson_BN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="relation">
                        @Html.LabelFor(model => model.Relation_BN, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Relation_BN, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.Relation_BN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="husbandName">
                        @Html.LabelFor(model => model.HusbandName, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.HusbandName, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.HusbandName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="landOwner">
                        @Html.LabelFor(model => model.LandOwner, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.LandOwner, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.LandOwner, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="home">
                        @Html.LabelFor(model => model.Home, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Home, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.Home, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="postOffice">
                        @Html.LabelFor(model => model.PostOffice, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.PostOffice, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.PostOffice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="thana">
                        @Html.LabelFor(model => model.Thana, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Thana, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.Thana, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="district">
                        @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.District, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group" id="eDD">
                    @Html.LabelFor(model => model.EDD, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.EDD, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.EDD, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="lMP">
                    @Html.LabelFor(model => model.LMP, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.LMP, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.LMP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="pregnantWeek">
                    @Html.LabelFor(model => model.PregnantWeek, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.PregnantWeek, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.PregnantWeek, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="welfareOfficer">
                    @Html.LabelFor(model => model.WelfareOfficer, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.WelfareOfficer, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.WelfareOfficer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="lawStep">
                    @Html.LabelFor(model => model.LawStep, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.LawStep, ViewBag.LawStep as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.LawStep, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="totalPay">
                    @Html.LabelFor(model => model.TotalPay, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.TotalPay, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.TotalPay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="dailyPay">
                    @Html.LabelFor(model => model.DailyPay, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.DailyPay, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.DailyPay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="firstInstallment">
                    @Html.LabelFor(model => model.FirstInstallment, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.FirstInstallment, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.FirstInstallment, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="employeeAddress">
                    <p><b>For Appoinment Letter</b></p>
                    <div id="presentAddress">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentVill, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PresentVill, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PresentVill, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentPostOffice, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PresentPostOffice, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PresentPostOffice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentThana, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PresentThana, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PresentThana, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PresentDistrict, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PresentDistrict, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PresentDistrict, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentVill, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PermanentVill, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PermanentVill, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="permanentAddress">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentPostOffice, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PermanentPostOffice, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PermanentPostOffice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentThana, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PermanentThana, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PermanentThana, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PermanentDistrict, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.PermanentDistrict, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.PermanentDistrict, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RelationNoPerson, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.EditorFor(model => model.RelationNoPerson, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                                @Html.ValidationMessageFor(model => model.RelationNoPerson, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group" id="physicalEligibility">
                    @Html.LabelFor(model => model.PhysicalEligibility, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.PhysicalEligibility, ViewBag.PE as IEnumerable<SelectListItem>, new { @class = "form-control col-md-6 myselect2" })
                        @Html.ValidationMessageFor(model => model.PhysicalEligibility, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="birthMark">
                    @Html.LabelFor(model => model.BirthMark, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.BirthMark, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.BirthMark, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="OtherAmount">
                    @Html.LabelFor(model => model.OtherAmount, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.OtherAmount, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                        @Html.ValidationMessageFor(model => model.OtherAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <input type="submit" id="btn" value="Generate" class="btn btn-success" />
                <input type="button" value="Cancel" class="btncancel btn btn-danger" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    //$('#btn').on('click', function (e) {
    //    e.stopPropagation();
    //    $(".ui-dialog").hide();

    //});
    $(document).ready(function () {
        var buttonId = '@Model.ButtonID';
        console.log(buttonId);
        if (buttonId == "1") {
            $("#rangeDate").show();
            $("#all").hide();

        }
        else if (buttonId == "2") {
            $("#rangeDate").show();
            $("#cFrom").show();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#incrementPayroll").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
            
        }
        else if (buttonId == "3") {

            $("#OtherAmount").hide();
        }
        else if (buttonId == "31") {
            $("#incrementPayroll").hide();
            $("#fromDate").show();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "32") {
            $("#birthMark").show();
            $("#physicalEligibility").show();
            $("#fromDate").hide();
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "33") {

            $("#fromDate").show();
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "34") {

            $("#fromDate").show();
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "35") {

            //$("#fromDate").show();
            $("#rangeDate").show();
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
           // $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "36") {

            //$("#fromDate").show();
            $("#rangeDate").show();
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            //$("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "37") {

            $("#fromDate").show();
            
            $("#incrementPayroll").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            //$("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "38") {

            $("#basicPay").show();
            $("#fromDate").hide();
            $("#foodAllowance").hide();
            $("#transportAllowance").hide();
            $("#madicalAllowance").hide();
            $("#houseRent").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
            $("#OtherAmount").hide();
        }
        else if (buttonId == "44") {

            $("#basicPay").hide();
            $("#fromDate").hide();
            $("#foodAllowance").hide();
            $("#transportAllowance").hide();
            $("#madicalAllowance").hide();
            $("#houseRent").hide();
            $("#cFrom").hide();
            $("#birthMark").hide();
            $("#physicalEligibility").hide();
            $("#employeeAddress").hide();
            $("#firstInstallment").hide();
            $("#dailyPay").hide();
            $("#totalPay").hide();
            $("#lawStep").hide();
            $("#welfareOfficer").hide();
            $("#pregnantWeek").hide();
            $("#lMP").hide();
            $("#eDD").hide();
            $("#incrementPosition").hide();
            $("#toDate").hide();
            $("#childGender").hide();
        }


    });
</script>
