﻿@model Oss.Romo.Models.ViewModels.HRMS.VMEmployee

@{
    ViewBag.Title = "IndexEmployeeDetails";
}
@using (Html.BeginForm("IndexEmployeeDetails", "HRMSForm", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Application</h3>
        </div>
        <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Employee Name</label>
                        @*@Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label " })*@
                        @Html.DropDownListFor(model => model.ID, ViewBag.Emp as IEnumerable<SelectListItem>, "Select Employee Name", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="padding-top:25px;">
                        <div class="col-md-offset-3">
                            <input type="submit" value="Show" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
