﻿@using System.Web.UI.WebControls
@using Oss.Romo.Models
@using Oss.Romo.Models.ViewModels
@model Oss.Romo.Models.ViewModels.Attendance.VM_HRMS_Daily_Instant_Attendance

@{
    // Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "EditEmployeeAttendance";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
    //  List<VM_HRMS_Daily_Instant_Attendance>listfbinfo = ViewBag.AttendanceList as List<VM_HRMS_Daily_Instant_Attendance>
}

<div id="addform">
    @using (Html.BeginForm("EditEmployeeAttendance", "HRMSAttendance", FormMethod.Post, new { data_server = "true", id = "editemployeeattendance" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.EmployeeId)
        @Html.HiddenFor(model => model.TotalTime)
        @Html.HiddenFor(model => model.ShiftTypeId)
        @Html.HiddenFor(model => model.Overtime1)
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading pad5A">
                <h3 class="panel-title">Edit Attendance</h3>
            </div>
            <div id="divPanelbody" class="panel-body" style="min-height: 45em">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeIdentity, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.EmployeeIdentity, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CardTitle, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CardTitle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Designation_Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Designation_Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Designation_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                            <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Date, new { id = "dtFromDate1", @class = "form-control", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InTime2, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group" data-datetimepicker-for-factory-station-leave-st="true">
                                @Html.TextBoxFor(model => model.InTime2, new
                                {
                                    data_format = "dd/MM/yyyy hh:mm:ss",@*id = "txtReqInTime",*@@class = "form-control"
                                })
                                @*<span class="add-on"><i class="icon-th"></i></span>*@
                                <span class="input-group-addon add-on"><i data-date-icon="icon-time" class="fa fa-clock-o"></i></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.InTime2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OutTime2, htmlAttributes: new {@class = "control-label"})
                            <div class="input-group" data-datetimepicker-for-factory-station-leave-et="true">
                                @Html.TextBoxFor(model => model.OutTime2, new {data_format = "dd/MM/yyyy hh:mm:ss", @*id = "txtReqOutTime",*@ @class = "form-control"})
                                @*<span class="add-on"><i class="icon-th"></i></span>*@
                                <span class="input-group-addon add-on"><i data-date-icon="icon-time" class="fa fa-clock-o"></i></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.OutTime2, "", new {@class = "text-danger"})
                            @*
                                @Html.EditorFor(model => model.OutTime, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OutTime, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalDuration, htmlAttributes: new {@class = "control-label"})
                            @Html.EditorFor(model => model.TotalDuration, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                            @Html.ValidationMessageFor(model => model.TotalDuration, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AttendanceStatus, htmlAttributes: new {@class = "control-label"})
                            @{ var listItemsc = new List<ListItem>
                               {
                                   new ListItem {Text = "", Value = ""},
                                   new ListItem {Text = "OK", Value = "1"},
                                   new ListItem {Text = "Late", Value = "2"},
                                   new ListItem {Text = "Absent", Value = "3"},
                                   new ListItem {Text = "Leave", Value = "4"},
                                   new ListItem {Text = "OffDay", Value = "5"},
                                   new ListItem {Text = "HoliDay", Value = "6"}
                               }; }
                            @Html.DropDownList("AttendanceStatus", new SelectList(listItemsc, "Value", "Text"), new {id = "AttendanceStatus", name = "AttendanceStatus", @class = "form-control myselect2", data_placeholder = "Select", data_fv_notempty = "true", data_fv_notempty_message = "Please Select Status"})
                            @Html.ValidationMessageFor(model => model.AttendanceStatus, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Remarks, new {@class = "control-label "})&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.Remarks, ViewBag.AttendanceList as IEnumerable<SelectListItem>,
                                "Select Remarks", new {@class = "form-control myselect2"})
                            @Html.ValidationMessageFor(model => model.Remarks, "", new {@class = "text-danger"})*@
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group float-right">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-success" />
                            @*<input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@
    <script>
        $(document).ready(function() {



            //$(document).off('focusout', '#txtReqInTime');
            //$(document).on('focusout', '#txtReqInTime', function (e) {
            //    var $txtBox = $(this);
            //    var no = $txtBox.val();
            //    var no1 = document.getElementById('txtReqOutTime').value;
            //    var no2 = document.getElementById('dtFromDate1').value;
            //    var startTime = moment(no2 + ' ' + no);

            //    var endTime = moment(no2 + ' ' + no1);


            //    var min = moment.utc(moment(endTime, "YYYY-MM-DD HH:mm:ss").diff(moment(startTime, "YYYY-MM-DD HH:mm:ss"))).format("HH:mm:ss");
            //    console.log('no', min);
            //    var mmt = moment.duration(min).asMinutes();
            //    $('#txtReqTotalTime').val(mmt);
            //    //var dt1 = $("#ddleditemployeeinfo").val();

            //    //getattendaceaddition(dt1);
            //});


            /*
            *  This is used for Intime outtime Declaration.
            */

            //$('[data-datetimepicker-for-factory-station-leave-st]').datetimepicker({
            //    format: "dd MM yyyy - hh:ii"
            //});
            //$('[data-datetimepicker-for-factory-station-leave-et]').datetimepicker({
            //    format: "dd MM yyyy - hh:ii"
            //});


            // Conditional Time Picker Start
            $('[data-datetimepicker-for-factory-station-leave-st]').datetimepicker({
               // format: 'yyyy-mm-dd hh:ii'
               // language: 'en',
               // pick12HourFormat: true
               // format:'yyyy-mm -dd hh: ii: ss'
                //inline: true,
                //sideBySide: true
               // showSecond: true,
                // useCurrent: false,
                // minDate: currentDate,
                //  format: 'DD-MM-YYYY'
                //format: 'YYYY-MM-DD'
               // format: 'HH:mm:ss'
            });
            $('[data-datetimepicker-for-factory-station-leave-et]').datetimepicker({
                useCurrent: false,
                showSecond: true,
              //  format:'yyyy-mm-dd hh:ii'
                //format:'yyyy-mm -dd hh: ii: ss'

            });

            $('[data-datetimepicker-for-factory-station-leave-st]').on("dp.change", function (e) {
                $('[data-datetimepicker-for-factory-station-leave-et]').data("DateTimePicker").minDate(e.date);
            });
            $('[data-datetimepicker-for-factory-station-leave-et]').on("dp.change", function (e) {
                $('[data-datetimepicker-for-factory-station-leave-st]').data("DateTimePicker").maxDate(e.date);
            });

            // Conditional Time Picker END


        });



    </script>
}