﻿@model Oss.Romo.Models.ViewModels.Attendance.VMShiftRule
@{
    ViewBag.Title = "ViewShiftOTRule";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Shift Over Time Information</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add Shift OT Rule:
                &nbsp;&nbsp;
                (&nbsp; <a href="~/Attendance/AddShiftRule/@Model.ShiftTypeId" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Shift OT Rule Information
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShiftName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RuleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hour)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeductionMinute)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in Model.DataListShiftRule)
                    {
                        <tr>
                            <td><b>@(++Sl).</b></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShiftName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RuleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeductionMinute)
                            </td>
                            <td>
                                @Html.ActionLink(".", "EditShiftRule", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                @Html.ActionLink(".", "DeleteShiftRule", new { id = item.ID, sid=Model.ShiftTypeId }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">


        $(document).ready(function () {

            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Shift OT Rule: Add New Shift OT Rule  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function(e) {
                $(".ui-dialog-titlebar")
                    .html(
                        "Shift OT Rule: Update Shift OT Rule.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkDelete").click(function(e) {
                $(".ui-dialog-titlebar").html("Shift OT Rule: Delete This Shift OT Rule.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            });

            $(".btncancel").click(function(e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));

            $('#tableRule').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        autoPrint: true,
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    }
                ]
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


            });
        });
    </script>
}




