﻿@model Oss.Romo.Models.ViewModels.Bonus.VMBonus
@{
    ViewBag.Title = "CreateBonus";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
    @using (Html.BeginForm("CreateBonus", "HRMSPayroll", FormMethod.Post, new { data_server = "true", id = "createBonus" }))
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BonusTitle, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.BonusTitle, new { htmlAttributes = new { @class = "form-control", data_input_numeric = true } })
                            @Html.ValidationMessageFor(model => model.BonusTitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.PaymentDate, new { @id = "fdate", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


