﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{ 
    Layout = "";
    ViewBag.Title = "Pay Slip";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Slip</title>
    <style type="text/css">
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            /*border: 1px solid #000;*/
            font-size: 12px;
            font-weight: 800;
        }

        #page {
            background-color: #fff;
            width: 1025px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>

    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/Assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <div style="min-height: 900px;">
            <div class="text-center">
                <div class="from-group">
                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Pr
                        <a href="~/Views/HRMSPayroll/GeneratePaySlip.cshtml">~/Views/Payroll/GeneratePaySlip.cshtml</a>int
                    </span>

                </div>
                <div class="form-group">
                    <h3>Payroll : @Model.PayRollName</h3>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div style="width:100%;">
                <div id="viewparty">
                    <div class="row">
                        @if (Model.PayslipSource.Any())
                        {
                            foreach (var v in Model.PayslipSource)
                            {
                                <div class="row">
                                    <div class="col-xs-6 col-lg-6" style="padding-bottom:10px;">
                                        <div class="box" style="border:1px solid; padding:5px;">
                                            <div class="box-header" style="border-bottom:1px solid;">
                                                <div style="text-align:center; text-decoration:double;">
                                                    <div class="row">
                                                        <b>রোমো ফ্যাশান টুডে লিমিটেড</b>
                                                    </div>
                                                    <div class="row">
                                                        <span>মৌচাক, কালিয়াকৈর, গাজীপুর</span>
                                                    </div>
                                                    <div class="row">
                                                        <span>টেলিফোন +৮৮ ০২৭৯১৪৯৮৪</span>
                                                    </div>
                                                    <div class="row">
                                                        <span>ইমেইল: info@romofashion.com</span>
                                                    </div>
                                                </div>
                                                <div style="text-align:center; padding-top:5px; padding-bottom:10px;">
                                                    <div class="row">
                                                        <h5><u>মজুরী স্লিপ</u></h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>মাস:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderLeft8</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>প্রদানের তারিখ:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderRight1</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>লাইন নং:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderRight2</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>কার্ড নং:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft3</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>নাম:</span>
                                                    </div>
                                                    <div class="col-xs-10 col-lg-10">
                                                        <span>@v.HeaderLeft2</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>পদবি:</span>
                                                    </div>
                                                    <div class="col-xs-5 col-lg-5">
                                                        <span>@v.HeaderLeft5</span>
                                                    </div>
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>গ্রেড:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft4</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>ডিপার্টমেন্ট:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderLeft6</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>সেকশন:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft7</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-body" style="padding-top:25px;border-bottom:1px solid;">
                                                @if (v.ReportDocTypeList.Any())
                                                {
                                                    foreach (var v1 in v.ReportDocTypeList)
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-7 col-lg-7" style="padding-left:80px;">
                                                                <span>@v1.Body1</span>
                                                            </div>
                                                            <div class="col-xs-2 col-lg-2" style="text-align:right;">
                                                                <span>@v1.Body2</span>
                                                            </div>
                                                            <div class="col-xs-3 col-lg-3">
                                                                <span>@v1.Body3</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="box-footer" style="text-align:center; padding-top:50px;">
                                                <div class="row">
                                                    <div class="col-lg-6 col-xs-6">
                                                        <b>গ্রহণকারীর স্বাক্ষর</b>
                                                    </div>
                                                    <div class="col-lg-6 col-xs-6">
                                                        <b>অনুমোদনকারীর স্বাক্ষর</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-lg-6" style="padding-bottom:10px;">
                                        <div class="box" style="border:1px solid; padding:5px;">
                                            <div class="box-header" style="border-bottom:1px solid;">
                                                <div style="text-align:center; text-decoration:double;">
                                                    <div class="row">
                                                        <b>রোমো ফ্যাশান টুডে লিমিটেড</b>
                                                    </div>
                                                    <div class="row">
                                                        <span>মৌচাক, কালিয়াকৈর, গাজীপুর</span>
                                                    </div>
                                                    <div class="row">
                                                        <span>টেলিফোন +৮৮ ০২৭৯১৪৯৮৪</span>
                                                    </div>
                                                    <div class="row">
                                                        <span>ইমেইল: info@romofashion.com</span>
                                                    </div>
                                                </div>
                                                <div style="text-align:center; padding-top:5px; padding-bottom:10px;">
                                                    <div class="row">
                                                        <h5><u>মজুরী স্লিপ</u></h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>মাস:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderLeft8</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>প্রদানের তারিখ:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderRight1</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>লাইন নং:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderRight2</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>কার্ড নং:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft3</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>নাম:</span>
                                                    </div>
                                                    <div class="col-xs-10 col-lg-10">
                                                        <span>@v.HeaderLeft2</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>পদবি:</span>
                                                    </div>
                                                    <div class="col-xs-5 col-lg-5">
                                                        <span>@v.HeaderLeft5</span>
                                                    </div>
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>গ্রেড:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft4</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-2 col-lg-2">
                                                        <span>ডিপার্টমেন্ট:</span>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-4">
                                                        <span>@v.HeaderLeft6</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>সেকশন:</span>
                                                    </div>
                                                    <div class="col-xs-3 col-lg-3">
                                                        <span>@v.HeaderLeft7</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-body" style="padding-top:25px;border-bottom:1px solid;">
                                                @if (v.ReportDocTypeList.Any())
                                                {
                                                    foreach (var v1 in v.ReportDocTypeList)
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-7 col-lg-7" style="padding-left:80px;">
                                                                <span>@v1.Body1</span>
                                                            </div>
                                                            <div class="col-xs-2 col-lg-2" style="text-align:right;">
                                                                <span>@v1.Body2</span>
                                                            </div>
                                                            <div class="col-xs-3 col-lg-3">
                                                                <span>@v1.Body3</span>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="box-footer" style="text-align:center; padding-top:50px;">
                                                <div class="row">
                                                    <div class="col-lg-6 col-xs-6">
                                                        <b>গ্রহণকারীর স্বাক্ষর</b>
                                                    </div>
                                                    <div class="col-lg-6 col-xs-6">
                                                        <b>অনুমোদনকারীর স্বাক্ষর</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>*@
    </div>
</body>
</html>
