﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "SalarySheet";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("GetSalarySheet", "HRMSPayroll", FormMethod.Post, new { target = "_blank" }))
    {
        <div class="form-horizontal">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PayRollID)
            @Html.HiddenFor(model => model.AddCompliance)
            <h1>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </h1>

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SectionID, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select a Section", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PayrollStatusId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.PayrollStatusId, ViewBag.StatusList as IEnumerable<SelectListItem>, "Select a Status", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.PayrollStatusId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 pull-right">
                                <input type="submit" value="Generate Salary Sheet" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}