﻿@model Oss.Romo.Models.ViewModels.Reports.VMPersonalReport
@if (Model.DataList != null)
{
    using (Html.BeginForm("GenerateCard", "HRMSReport"))
    {
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label>Copy</label>
                    @*@Html.TextBoxFor(model => model.Counter, new { @class = "form-control" })*@
                </div>
            </div>
            <div class="col-md-11 pull-left">
                <div class="form-group" style="padding-top:25px;">
                    <input type="submit" value="Generate" class="btn btn-primary" />
                </div>
            </div>
        </div>
            <div class="table-responsive">
                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>
                            CheckIt
                        </th>
                        <th>
                            CardNo
                        </th>
                        <th>
                            EmployeeName
                        </th>
                        <th>
                            Designation
                        </th>
                    </tr>
                    @for (int item = 0; Model.DataList.Count > item; item++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.DataList[item].EmployeeId)
                                @Html.CheckBoxFor(model => model.DataList[item].IsChecked, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DataList[item].CardTitle, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                @Html.DisplayFor(model => model.DataList[item].CardNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DataList[item].EmployeeName, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DataList[item].Designation, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                            </td>
                        </tr>
                    }
                </table>
            </div>
    }
}

