﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "Payroll Details";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Payroll
        <small>Member Information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HRMSEmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li><a href="@Url.Action("ManagePayroll", "HRMSPayroll")"><i class="fa fa-dashboard"></i> Manage Payrol</a></li>
        <li class="active">Payroll Details</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure! You want to reprocess payroll for selected employee?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
        </div>
        <div class="panel panel-default border-top border-green">
            <div class="panel-heading pad5A">
                <h3 class="panel-title">Payroll Title : @Model.PayRollName</h3>
            </div>
            <div id="divPanelbody" class="panel-body">
                @if (!Model.AddCompliance)
                {
                    <div class="row">
                        <div class="panel panel-default border-top border-blue">
                            <div id="divPanelbody" class="panel-body">
                                @using (Html.BeginForm("GeneratePaySlip", "HRMSPayroll", FormMethod.Post, new { @target = "_blank" }))
                                {
                                    @Html.HiddenFor(model => model.ID);
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SectionID, htmlAttributes: new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select Section Name", new { @class = "form-control myselect2" })
                                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12 pull-left" style="padding-top:25px;">
                                                    <input type="submit" value="Print Payslip" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                
                <div class="box-body">
                    <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                        <thead>
                            <tr>
                                <th>
                                    CardNo
                                </th>
                                <th>
                                    CardTitle
                                </th>
                                <th>
                                    Employee Name
                                </th>
                                <th>
                                    Section Name
                                </th>
                                <th>
                                    Basic Pay
                                </th>
                                <th>Command</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PayrollDataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Section)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        <div class="col-lg-offset-1">
                                            @*@Html.ActionLink(".", "VmPayrollDetails", new { id = item.ID + "X" + item.EmpIDFK }, new { @class = "lnkEdit glyphicon glyphicon-list-alt" }) &nbsp;*@
                                            @Html.ActionLink("Re-Process", "VmPayrollEdit", new { id = item.ID + "X" + item.EmpIDFK, AID=false }, new { @class = "lnkClose glyphicon glyphicon-cog" }) &nbsp;
                                            @Html.ActionLink("PaySlip", "PaySlipByEmployeeID", new { id = item.ID + "X" + item.EmpIDFK }, new { title = "Generate Employee Payslip", target = "_blank", @class = "glyphicon glyphicon-share" })
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            var url = "";

            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 500,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK Re-Process It": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html("Manage Payroll : Process Payroll  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkClose").click(function (e) {
                $(".ui-dialog-titlebar").html("Employee Payroll: Payroll Reprocess");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
            //$('#dialog-edit').load($('#lnkCreate').attr('href'));
            //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        });
    </script>
}