﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll
@{
    ViewBag.Title = "PaySlip";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Generate
        <small>Payslip</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HRMSEmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Payroll</li>
        <li class="active">Payroll Payslip</li>
    </ol>
</section>
<section class="content">
    <div class="register-box">
        <div class="panel panel-default border-top border-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Generate Payslip</h3>
            </div>
            @using (Html.BeginForm("PaySlip", "Payroll", FormMethod.Post, new { @target = "_blank" }))
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="divPanelbody" class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Payroll", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ID, ViewBag.PayrollList as IEnumerable<SelectListItem>, "Select a Payroll", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Section Name", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, "Select a Section", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="form-group">
                            <input type="submit" value="Generate" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}