﻿@model Oss.Romo.Models.ViewModels.Bonus.VMBonus
@{
    ViewBag.Title = "Process Bonus";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.BonusId)
                    @Html.HiddenFor(model => model.PaymentDate)
                    <div class="box-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BonusTitle, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.BonusTitle, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.BonusTitle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CardID, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.CardID, ViewBag.CardTitleList as IEnumerable<SelectListItem>, "Select a Card Title", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.CardID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UnitID, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.UnitID, ViewBag.UnitList as IEnumerable<SelectListItem>, "Select a Unit", new { @class = "form-control myselect2" })
                                    @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-5">
                                        <input type="submit" value="Process" id="process" class="btn btn-success" />
                                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}