﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
    <div class="panel panel-default border-top border-blue">
        <div id="divPanelbody" class="panel-body">
            <div class="box-body table-responsive">
                <table class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>SL#</th>
                        <th>
                            Item
                        </th>

                        <th>
                            Amount
                        </th>
                    </tr>
                    @{
                        var i = 0;
                    }
                    @foreach (var item in Model.PayrollDataList)
                    {
                        i = i + 1;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }

                </table>
                <div class="row pull-right" style="padding-top:5px;">
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
</div>