﻿@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_Payroll

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PayRollID);
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">@Model.Title</h3>
            
        </div>
        <div class="panel-heading pad5A">
            
            <h3 class="panel-title">Employee :@Model.EmployeeName</h3>
        </div>
        <div id="divPanelbody" class="panel-body">
            <div class="row">
                <div class="box-body table-responsive">
                    <table class="table table-hover table-responsive table-bordered nowrap font-black">
                        <tr>
                            <th>
                                Item
                            </th>

                            <th>
                                Amount
                            </th>
                        </tr>
                        
                        @for (int item = 0; Model.PayrollDataList.Count > item; item++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => model.PayrollDataList[item].ID)
                                    @Html.HiddenFor(model => model.PayrollDataList[item].EmpIDFK)
                                    @Html.HiddenFor(model => model.PayrollDataList[item].PayRollID)

                                    @Html.DisplayFor(model => model.PayrollDataList[item].Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.PayrollDataList[item].Amount, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
</div>
