﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_OrderDeliverdSchedule
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Shipment Info List";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<section class="content-header">
    <h1>
        Shipment Info List: &nbsp;&nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Shipment Info List</li>
    </ol>
</section>

<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                @{
                    decimal balance = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    Order ID
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Destination)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.PortNo)
                                </th>
                                <th>
                                    Required Qty
                                </th>
                                <th>
                                    Capacity

                                </th>
                                <th>
                                    Deliverd Qty
                                </th>
                                <th>
                                    Balance
                                </th>
                                <th>
                                    working Hour
                                </th>
                            </tr>
                        </thead>

                        @{
                            decimal TTLquantity = 0;
                            decimal quantity = 0;
                            decimal capacity = 0;
                            decimal workingHour = 0;
                            decimal TTLworkingHour = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                TTLquantity += item.Mkt_OrderDeliverySchedule.Quantity;
                                quantity = item.Mkt_OrderDeliverySchedule.Quantity;
                                capacity = item.Prod_Planning.Capacity;
                                if (capacity>0)
                                {
                                    workingHour = quantity / capacity;
                                }

                                TTLworkingHour += workingHour;
                                <tr>
                                    <td style="background-color: @item.BackGroundColor">
                                        <a href="VmShipment_OrderSlaveBOM/@Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Common_TheOrderFk)" class="ItemChildCSS" target="_blank">@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Country.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_Planning.Capacity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeliverdQuantity)
                                    </td>
                                    @if (item.DeliverdQuantity != 0)
                                    {
                                        balance = (item.Mkt_OrderDeliverySchedule.Quantity - item.DeliverdQuantity);
                                        <td>
                                            @(balance)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Quantity)
                                        </td>
                                    }
                                    <td>
                                        @string.Format("{0:0.00}", workingHour)
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@TTLquantity</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@string.Format("{0:0.00}", TTLworkingHour)</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
