﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_OrderDeliverdSchedule
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Shipment Info Summery";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<section class="content-header"></section>

<div class="clearfix"></div>

<center>
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Shipment Info Summery</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                @*<div class="col-md-2"></div>*@

                <div class="row">
                    @using (Html.BeginForm(new { id = "fromPlanning" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-2"></div>
                                <p style="margin-left: 50px">
                                    <input type="submit" value="Search" class="btn btn-success" />

                                </p>
                            </div>
                        </div>


                    }
                </div>
            </div>

            <div class="col-md-12"></div>
        </div>
    </div>
</center>

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                @{
                    decimal TotalQuntity = 0;
                    int TotalCapacity = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>

                                <th>
                                    Date
                                </th>
                                <th>
                                    Total Quantity
                                </th>

                                @*<th>
                                    Per Day Working Hour
                                </th>
                                <th>
                                    Total Line
                                </th>
                                <th>
                                    Total Working Days
                                </th>*@
                                <th>
                                    Monthly Target Hour

                                </th>
                                <th>
                                    Required Hour

                                </th>
                                <th>
                                    Balance Hour

                                </th>
                                <th>
                                    Needed Order Qty

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DataList != null)
                            {
                                foreach (var item in Model.DataList)
                                {
                                    int? totalWorkingDays = 0;
                                    int? totalLineInFactory = 0;
                                    int? perDayWorkingHour = 0;
                                    decimal? totalShipmentHour = 0;
                                    decimal? Balance = 0;
                                    decimal? needOrderQty = 0;
                                    if (item.vmProd_Capacity != null)
                                    {
                                        perDayWorkingHour = item.vmProd_Capacity.Prod_Capacity.PerDayWorkingHour;


                                    }
                                    if (item.vmProd_Capacity != null)
                                    {
                                        totalLineInFactory = item.vmProd_Capacity.Prod_Capacity.TotalLineInFactory;

                                    }
                                    if (item.vmProd_Capacity != null)
                                    {
                                        totalWorkingDays = item.vmProd_Capacity.Prod_Capacity.TotalWorkingDays;
                                    }
                                    if (item.TotalShipmentHour != 0)
                                    {
                                        totalShipmentHour = item.TotalShipmentHour;

                                    }



                                    int? monthlyTargetHour = perDayWorkingHour * totalLineInFactory * totalWorkingDays;
                                    Balance = totalShipmentHour - monthlyTargetHour;
                                    needOrderQty = Balance*400;
                                    <tr>


                                        <td>

                                            <a target="_blank" href="~/Shipment/ShipmentPlanningInfo/@item.FromDate.ToString("Y")">@Convert.ToDateTime(item.FromDate).ToString("MMM-yyyy")</a>
                                            @* @Html.ActionLink(, "shipmentinfosummery", "Shipment", new {sDate = item.FromDate})*@

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalQuntity)

                                        </td>

                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.vmProd_Capacity.Prod_Capacity.PerDayWorkingHour)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.vmProd_Capacity.Prod_Capacity.TotalLineInFactory)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.vmProd_Capacity.Prod_Capacity.TotalWorkingDays)

                                        </td>*@
                                        <td>


                                            @monthlyTargetHour
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalShipmentHour)

                                        </td>
                                        <td>
                                            @string.Format("{0:0.00}", Balance)


                                        </td>
                                        <td>
                                            @string.Format("{0:0.00}", needOrderQty)


                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
