﻿@model Oss.Romo.ViewModels.Common.VmCommon_TheOrder

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Shipment";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<section class="content-header">

    <h1>
        Order Shipment: &nbsp;&nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Shipment</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @using (Html.BeginForm())
            {
                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By Order ID" } })
                    @Html.HiddenFor(model => model.ButtonName)
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>
            }

            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                Order ID
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Season)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.Commission)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.OrderDate, "{0:yyyy/MM/dd}")
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Season)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Reference)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.Commission)
                                </td>
                                
                                <td>
                                    @Html.ActionLink(".", "VmShipment_OrderSlaveBOM", new { id = Model.VmControllerHelper.Encrypt(item.Common_TheOrder.ID.ToString()) }, new { @title = "Shipment Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
