﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallanSlave
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Delivery Challan";
}



<section class="content-header">
    <ol class="breadcrumb" style="padding-top:1px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Delivery Challan</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Details Challan Info 
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Challan No</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData2.Shipment_CNFDelivaryChallan.ChallanNo">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Challan Date</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData2.Shipment_CNFDelivaryChallan.Date.ToString("dd MMM yy")">
                            </div>


                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">CNF Agent</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData2.Common_Supplier.Name">
                            </div>
                            <div class="input-group">
                                <span style="width: 130px;" class="input-group-addon">Transport Agent</span>
                                <input style="width: 310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData2.Transporter_Common_Supplier.Name">
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <section>
                    <h3>
                        Invoiced Challan
                    </h3>
                </section>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr style="text-align: center">
                                <th>SL.</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_OrderDeliverySchedule.PortNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.CtnQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.PackQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty) (Pcs)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                int ttlctn = 0;
                                int ttlpack = 0;
                                decimal ttldeliverqty = 0;
                            }
                            @foreach (var item in Model.InovoicedList)
                            {
                                <tr>
                                    <td><b>@(++i).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.CtnQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.PackQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.DeliverdQty)
                                    </td>
                                    @{
                                        ttlctn += item.Shipment_OrderDeliverdSchedule.CtnQty;
                                        ttlpack += item.Shipment_OrderDeliverdSchedule.PackQty;
                                        ttldeliverqty += item.Shipment_OrderDeliverdSchedule.DeliverdQty;
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold;">
                                <td colspan="3" style="text-align: center">Total:</td>
                                <td>@ttlctn</td>
                                <td>@ttlpack</td>
                                <td>@ttldeliverqty</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <!-- /.col -->
</div>

<div class="row">
    <div class="col-xss-12">
        <div class="box">
            <div class="box-body">
                <section>
                    <h3>
                        Pending Challan For Invoice
                    </h3>
                </section>
                <div class="box-body table-responsive">
                    <table class="table table-striped jambo_table bulk_action example1">
                        <thead>
                            <tr style="text-align: center">
                                <th>SL.</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_OrderDeliverySchedule.PortNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.CtnQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.PackQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty) (Pcs)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i2 = 0;
                                int ttlctn2 = 0;
                                int ttlpack2 = 0;
                                decimal ttldeliverqty2 = 0;
                            }
                            @foreach (var item2 in Model.PendingList)
                            {
                                <tr>
                                    <td><b>@(++i2).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Common_TheOrder.BuyerPO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Mkt_OrderDeliverySchedule.PortNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Shipment_OrderDeliverdSchedule.CtnQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Shipment_OrderDeliverdSchedule.PackQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Shipment_OrderDeliverdSchedule.DeliverdQty)
                                    </td>
                                    @{
                                        ttlctn2 += item2.Shipment_OrderDeliverdSchedule.CtnQty;
                                        ttlpack2 += item2.Shipment_OrderDeliverdSchedule.PackQty;
                                        ttldeliverqty2 += item2.Shipment_OrderDeliverdSchedule.DeliverdQty;
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold;">
                                <td colspan="3" style="text-align: center">Total:</td>
                                <td>@ttlctn2</td>
                                <td>@ttlpack2</td>
                                <td>@ttldeliverqty2</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>