﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallanSlave
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.ID)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Common_TheOrderFk)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Shipment_CNFDelivaryChallanFk)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.FirstCreatedBy)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.LastEditeddBy)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Date)
        @Html.HiddenFor(model => model.Mkt_Buyer.Name)
        @Html.HiddenFor(model => model.BuyerId)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6">Buyer</span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_Buyer.ID, ViewBag.Buyer as SelectList, "---Select Buyer---", new { id = "ddlBuyer", @class = "form-control SerchingDropDown" })
                @Html.ValidationMessageFor(model => model.Mkt_Buyer.ID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Order</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_Buyer.ID, ViewBag.Buyer as SelectList, "---Select Buyer---", new { id = "ddlBuyer", @class = "form-control SerchingDropDown" })
                @Html.ValidationMessageFor(model => model.Mkt_Buyer.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_BOMFK, ViewBag.BOM as SelectList, "---Select Order---", new { id = "ddlBom", @class = "form-control SerchingDropDown" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, ViewBag.Port as SelectList, "---Select Port---", new { id = "ddlPort", @class = "form-control SerchingDropDown" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">CTN Qty</label>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.Shipment_OrderDeliverdSchedule.CtnQty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.CtnQty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.PackQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.Shipment_OrderDeliverdSchedule.PackQty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.PackQty, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>

}

<script type="text/javascript">
    $('#ddlBuyer').on("change", function (e) {
        var buyerId = $('#ddlBuyer').val();
        $.ajax({
            type: "post",
            url: "@Url.Action("GetOrderByBuyer", "Helper")",
            data: { buyerId: buyerId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $("#ddlBom").empty();
                console.log(data);
                if (data.length !== 0) {
                    $.each(data, function (index, row) {
                        $("#ddlBom").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                    });

                }
            }


        });
    });
    $('#ddlBom').on("change", function (e) {
        var id = $('#ddlBom').val();
        $.ajax({
            type: "post",
            url: "@Url.Action("GetOrderDeliverdScheduleByBOM", "Helper")",
            data: { bomid: id },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $("#ddlPort").empty();
                console.log(data);
                if (data.length !== 0) {
                    $("#ddlPort").append("<option value='0'>---Select  Port---</option>");
                    $.each(data, function (index, row) {
                        $("#ddlPort").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                    });



                }
            }

        });
    });


</script>

