﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallanSlave
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Delivery Challan";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Challan Order :Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Challan Order:Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function(e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Challan Order : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <ol class="breadcrumb" style="padding-top:1px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Delivery Challan</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Challan Info : &nbsp; @Html.ActionLink(".", "VmCNFDelivaryChallanReport", new { id = Model.HeaderData.Shipment_CNFDelivaryChallan.ID }, new { @title = "Delivery Challan Details", @class = "glyphicon glyphicon-print", target = "_blank" })&nbsp;&nbsp;

                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Challan No</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData.Shipment_CNFDelivaryChallan.ChallanNo">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Challan Date</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData.Shipment_CNFDelivaryChallan.Date.ToString("dd MMM yy")">
                            </div>
                         

                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">CNF Agent</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData.Common_Supplier.Name">
                            </div>
                            <div class="input-group">
                                <span style="width: 130px;" class="input-group-addon">Transport Agent</span>
                                <input style="width: 310px;" type="text" class="form-control" readonly="readonly" value="@Model.HeaderData.Transporter_Common_Supplier.Name">
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

         <section>
             <h3>
                Delivary Challan For Order: &nbsp;&nbsp;
                 (&nbsp; <a href="~/Shipment/VmCNFDelivaryChallanSlaveCreate/@Model.Shipment_OrderDeliverdSchedule.ID?buyerId=@Model.BuyerId" id="lnkCreate" title="C&F Delivary Challan Order Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
             </h3>
        </section>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr style="text-align: center">
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_OrderDeliverySchedule.PortNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.CtnQty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.PackQty)
                            </th> 
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty) (Pcs)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            int i = 0;
                            int ttlctn = 0;
                            int ttlpack = 0;
                            decimal ttldeliverqty = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.CtnQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.PackQty)
                                </td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.DeliverdQty)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmCNFDelivaryChallanSlaveEdit", new {id = item.Shipment_OrderDeliverdSchedule.ID}, new {@title = "Delivery Challan Order Edit", @class = "lnkEdit glyphicon glyphicon-pencil"}) &nbsp;
                                    @Html.ActionLink(".", "VmCNFDelivaryChallanSlaveDelete", new {cid = item.Shipment_OrderDeliverdSchedule.ID, mid = item.Shipment_OrderDeliverdSchedule.Shipment_CNFDelivaryChallanFk, buyerId = Model.BuyerId}, new {@title = "Delivery Challan Order Delete", @class = "lnkDelete glyphicon glyphicon-trash"})&nbsp;&nbsp;
                                </td>
                                @{
                                    ttlctn += item.Shipment_OrderDeliverdSchedule.CtnQty;
                                    ttlpack += item.Shipment_OrderDeliverdSchedule.PackQty;
                                    ttldeliverqty += item.Shipment_OrderDeliverdSchedule.DeliverdQty;
                                }
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr style="font-weight: bold;background-color:#FAEBD7;color: black;">
                            <td colspan="3" style="text-align: center">Total:</td>
                            <td>@ttlctn</td>
                            <td>@ttlpack</td>
                            <td>@ttldeliverqty</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

    <!-- /.col -->
</div>
