﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallan
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Delivery Challan";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 900,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Delivery Challan :Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Delivery Challan:Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function(e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delivery Challan : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
      Delivery Challan: &nbsp;&nbsp;
        (&nbsp; <a href="VmCNFDelivaryChallanCreate" id="lnkCreate" title="Delivery Challan Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Delivery Challan</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.ChallanNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.Date)
                            </th>
                            <th>
                                Ctn Qty
                            </th>
                            <th>
                               Pack Qty
                            </th>
                            <th>
                                Delivered  Qty(Pcs)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                        <tr>
                            <td><b>@(++i).</b></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User_User.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shipment_CNFDelivaryChallan.ChallanNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Shipment_CNFDelivaryChallan.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCtnQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPackQty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalDeliveredQty)
                            </td>
                            <td>
                                @Html.ActionLink(".", "VmCNFDelivaryChallanEdit", new { id = item.Shipment_CNFDelivaryChallan.ID }, new { @title = "Delivery Challan Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                @Html.ActionLink(".", "VmCNFDelivaryChallanDelete", new { id = item.Shipment_CNFDelivaryChallan.ID }, new { @title = "Delivery Challan Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                @Html.ActionLink(".", "VmCNFDelivaryChallanSlaveIndex", new { id = item.Shipment_CNFDelivaryChallan.ID }, new { @title = "Delivery Challan Details", @class = "glyphicon glyphicon-new-window", target = "_blank" })&nbsp;&nbsp;
                                @Html.ActionLink(".", "VmCNFDelivaryChallanReport", new { id = item.Shipment_CNFDelivaryChallan.ID }, new { @title = "Delivery Challan Details", @class = "glyphicon glyphicon-print", target = "_blank" })&nbsp;&nbsp;

                            </td>
                        </tr>
                        }
                    </tbody>
               </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
