﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delivary Challan</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 12px;
        }
        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            #print, #print * {
                display: none !important;
            }

            /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
            /*#divfooter {
                display: block !important;
            }*/
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">ROMO FASHION TODAY LTD.</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">Mouchak, Kaliakoir, Gazipur, Bangladesh</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">Phone : 02-7914984, Email : info@romofashion.com</p>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">

                    <center>
                        <h3>
                            <span style="color:  white !important; background-color: black !important; font-weight: bold !important; border-radius: 25px;padding: 5px;">Delivery Challan</span>
                        </h3>
                    </center>
                </div>
            </div>
            <br />
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold">Challan No</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.ChallanNo</td>
                        <td></td>
                        <td style="font-weight: bold">Gate Pass No</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.GatePassNo</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Challan Date</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Date.ToString("dd MMM yyyy")</td>
                        <td></td>
                        <td style="font-weight: bold">Gate Pass Date</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.GatePassDate.ToString("dd MMM yyyy")</td>
                    </tr>

                </tbody>
            </table>
            <table style="width: 100%; margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top">C&F Agent</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@{@Model.ChallanHeader.Common_Supplier.Name}.</td></tr>

                            </table>
                        </td>
                        <td></td>
                        <td style="font-weight: bold; vertical-align: top">Transport Company</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@{@Model.ChallanHeader.Transporter_Common_Supplier.Name}.</td></tr>

                                    </table>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table style="width: 100%; margin-top: 10px">
                        <thead>
                            <tr>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                                <td style="width: 14%"></td>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-weight: bold; vertical-align: top">Address</td>
                                <td style="font-weight: bold; vertical-align: top">:</td>
                                <td style="padding-left: 5px; vertical-align: top">
                                    <table>

                                        <tr><td>@Model.ChallanHeader.Common_Supplier.Address</td></tr>
                                    </table>
                                </td>
                                <td></td>
                                <td style="font-weight: bold; vertical-align: top">Address</td>
                                <td style="font-weight: bold; vertical-align: top">:</td>
                                <td style="padding-left: 5px; vertical-align: top">
                                    <table>
                                        <tr><td>@Model.ChallanHeader.Transporter_Common_Supplier.Address</td></tr>
                                    </table>

                                </td>
                            </tr>

                        </tbody>
                    </table>


                    <table style="width: 100%;margin-top: 10px">
                        <thead>
                            <tr>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                                <td style="width: 14%"></td>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-weight: bold;vertical-align: top">C&F Contact Person</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Attr</td>
                                <td></td>
                                <td style="font-weight: bold;vertical-align: top">Unloading Port Name</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_UnloadingPort.Name</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;vertical-align: top">C&F Contact Mobile</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Mobile</td>
                                <td></td>
                                <td style="font-weight: bold;vertical-align: top"></td>
                                <td style="font-weight: bold;vertical-align: top"></td>
                                <td style="padding-left: 5px;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 100%;margin-top: 10px">
                        <thead>
                            <tr>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                                <td style="width: 14%"></td>
                                <td style="width: 18%"></td>
                                <td style="width: 1%"></td>
                                <td style="width: 24%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" style="font-weight: bold;vertical-align: top">Driver Information</td>
                                <td colspan="3" style="font-weight: bold;vertical-align: top">Truck Information</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;vertical-align: top">Driver Name</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.DriverName</td>
                                <td></td>
                                <td style="font-weight: bold;vertical-align: top">Truck No</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.TruckNo</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;vertical-align: top">Driver License No</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.DLNo</td>
                                <td></td>
                                <td style="font-weight: bold;vertical-align: top">Lock No</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.LockNo</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;vertical-align: top">Driver Mobile</td>
                                <td style="font-weight: bold;vertical-align: top">:</td>
                                <td style="padding-left: 5px;">@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Though</td>
                                <td></td>
                                <td style="font-weight: bold;vertical-align: top"></td>
                                <td style="font-weight: bold;vertical-align: top"></td>
                                <td style="padding-left: 5px;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <div style="font-weight: bold;font-size: 12px">DEAR SIR,</div>
                    <div style="font-weight: bold;font-size: 12px"> PLEASE ACKNOWLEDGE RECEIPT OF FOLLOWING: </div>
                    <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                        <thead>
                            <tr style="text-align: center">
                                <td style="width: 5%; font-weight: bold">#SL</td>
                                <td style="width: 35%; font-weight: bold">Description</td>
                                <td style="width: 15%; font-weight: bold">Port</td>
                                <td style="width: 15%; font-weight: bold">Ctn Qty</td>
                                <td style="width: 15%; font-weight: bold">Pack Qty</td>
                                <td style="width: 15%; font-weight: bold">Remarks</td>
                            </tr>
                           
                        </thead>
                        <tbody>
                            @{
                                int sl = 1;
                                int ttlctn = 0;
                                int ttlpack = 0;
                                <tr>
                                    <td></td>
                                    <td> &nbsp;@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Description</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td> &nbsp;@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Remarks</td>
                                </tr>
                                foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td> &nbsp;@sl</td>
                                        <td> &nbsp;@item.Common_TheOrder.BuyerPO</td>
                                        <td> &nbsp;@item.Mkt_OrderDeliverySchedule.PortNo</td>
                                        <td style="text-align: center"> &nbsp;@item.Shipment_OrderDeliverdSchedule.CtnQty</td>
                                        <td style="text-align: center"> &nbsp;@item.Shipment_OrderDeliverdSchedule.PackQty</td>

                                        <td rowspan="3"></td>
                                    </tr>

                                    sl = sl + 1;
                                    ttlctn += item.Shipment_OrderDeliverdSchedule.CtnQty;
                                    ttlpack += item.Shipment_OrderDeliverdSchedule.PackQty;

                                }
                            }
                            <tr style="font-weight: bold; font-size: 14px;">
                                <td colspan="3" style="text-align: center">Grand Total</td>
                                <td style="text-align: center">@ttlctn</td>
                                <td style="text-align: center">@ttlpack</td>
                                <td></td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                                <tr style="font-weight: bold; font-size: 14px;">
                                    <td colspan="3" style="text-align: center">Grand Total</td>
                                    <td style="text-align: center">@ttlctn</td>
                                    <td style="text-align: center">@ttlpack</td>
                                    <td></td>
                                </tr>
                            </tfoot>*@
                        <tfoot>
                            <tr style="font-weight: bold; font-size: 14px;">
                                <td colspan="3" style="text-align: center"></td>
                                <td style="text-align: center"></td>
                                <td style="text-align: center"></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                    <div style="font-weight: bold; font-size: 12px;padding-top: 5px">
                        Received the above in good condition & found no discrepancy.

                    </div>



                </div>

                <div id="divfooter" class="divfooter text-center footer" >
                    <table style="margin-top: 150px">
                        <thead>
                            <tr>
                                <td style="width: 20%"></td>
                                <td style="width: 20%"></td>
                                <td style="width: 20%"></td>
                                <td style="width: 20%"></td>
                                <td style="width: 20%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Receiver’s Signature </span></td>
                                <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Incharge</span></td>
                                <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Manage</span></td>
                                <td style="text-align: center;"><span style="border-top: 2px solid #000000;">PM/FM</span></td>
                                <td style="text-align: center;"> <span style="border-top: 2px solid #000000;">Director/Managing Director</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>

        </body>

    </html>
    <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script>
        $(function () {
            SummerizeTable('#tbl1', 1);
            SummerizeTable('#tbl1', 5);
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>