﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallan
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Shipment_CNFDelivaryChallan.FirstCreatedBy)
   
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Date)
                    @Html.EditorFor(model => model.Shipment_CNFDelivaryChallan.Date, new {htmlAttributes = new {@class = "calendarControl form-control"}})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Date, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Common_SupplierFk)
                    @Html.DropDownListFor(model => model.Shipment_CNFDelivaryChallan.Common_SupplierFk, ViewBag.CNFSuppliers as SelectList, "---Select CNF Supplier---", new {id = "CNFSuppliers", @class = "form-control SerchingDropDown"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Common_SupplierFk, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Transporter_Common_SupplierFk)
                    @Html.DropDownListFor(model => model.Shipment_CNFDelivaryChallan.Transporter_Common_SupplierFk, ViewBag.CNFTransportSuppliers as SelectList, "---Select Transport Supplier---", new {id = "CNFSuppliers", @class = "form-control SerchingDropDown"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Transporter_Common_SupplierFk, "", new {@class = "text-danger"})
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Attr)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.Attr, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Attr, "", new {@class = "text-danger"})
                </div>
            </div>           
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Mobile)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.Mobile, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Mobile, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.ShipmentUnloadingPortFk)
                    @Html.DropDownListFor(model => model.Shipment_CNFDelivaryChallan.ShipmentUnloadingPortFk, ViewBag.UnloadingPort as SelectList, "---Select Unloading Port---", new { id = "CNFSuppliers", @class = "form-control SerchingDropDown" })
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.ShipmentUnloadingPortFk, "", new { @class = "text-danger" })
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.DriverName)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.DriverName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.DriverName, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Though)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.Though, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Though, "", new {@class = "text-danger"})
                </div>
            </div>                    
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.DLNo)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.DLNo, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.DLNo, "", new {@class = "text-danger"})
                </div>
            </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.GatePassDate)
                    @Html.EditorFor(model => model.Shipment_CNFDelivaryChallan.GatePassDate, new {htmlAttributes = new {@class = "calendarControl form-control"}})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.GatePassDate, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="col-md-4">              
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.InTime)
                    @Html.EditorFor(model => model.Shipment_CNFDelivaryChallan.InTime, new {htmlAttributes = new {@class = "timepicker1 form-control"}})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.InTime, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.LockNo)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.LockNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.LockNo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>           
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.GatePassNo)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.GatePassNo, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.GatePassNo, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.OutTime)
                    @Html.EditorFor(model => model.Shipment_CNFDelivaryChallan.OutTime, new {htmlAttributes = new {@class = "timepicker1 form-control"}})
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.OutTime, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.TruckNo)
                    @Html.TextBoxFor(model => model.Shipment_CNFDelivaryChallan.TruckNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.TruckNo, "", new { @class = "text-danger" })
                </div>
            </div>
          
        </div> 
    </div>                          
    <div class="row">
        <div class="col-sm-12">          
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Description)
                        @Html.TextAreaFor(model => model.Shipment_CNFDelivaryChallan.Description, new {id = "txtDescription", placeholder = "Description", @class = "form-control", style = "width:100%;"})
                        @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Shipment_CNFDelivaryChallan.Remarks)
                        @Html.TextAreaFor(model => model.Shipment_CNFDelivaryChallan.Remarks, new {id = "txtRemarks", placeholder = "Remarks", @class = "form-control", style = "width:100%;"})
                        @Html.ValidationMessageFor(model => model.Shipment_CNFDelivaryChallan.Remarks, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
}
