﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_Alert

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Alert.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Type, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Alert.Type, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Alert.NODays, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Alert.NODays, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Alert.NODays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alert.Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Alert.Color, new { htmlAttributes = new { @id="Color",@class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Alert.Color, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script src="~/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<link href="~/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet" />

<script>
    $(function () {
        $('#Color').colorpicker();
    });
</script>
