﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_Details
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Shipment Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add New Goods.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Goods Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Goods Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Shipment/VmShipment_HistoryIndex">Order</a></li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Shipment_History.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Shipment History for :@Html.HiddenFor(model => model.Shipment_History.ShipmentID)

                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.CID)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.OrderDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.OrderDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.Season)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.Season)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.Mkt_BuyerFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Mkt_Buyer.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.BuyerPO)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.BuyerPO)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.Agent)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.Agent)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Mkt_BOM.Style)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Mkt_BOM.Style)">
                            </div>
                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Mkt_Item.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Mkt_Item.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Shipment_History.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.VmShipment_History.Shipment_History.Date)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Common_TheOrder.Description)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Common_TheOrder.Description)">
                            </div>
                            
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Shipment_History.ShipperName)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Shipment_History.ShipperName)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Shipment_History.ReceiverName)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Shipment_History.ReceiverName)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Shipment_History.TotalPack)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Shipment_History.TotalPack)">
                            </div>
                                                      
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmShipment_History.Shipment_History.DescriptionOfGoods)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmShipment_History.Shipment_History.DescriptionOfGoods)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <section>
                    <h3>
                        Shipment Goods
                        (&nbsp;<a href="~/Shipment/VmShipment_DetailsCreate/@Model.VmShipment_History.Shipment_History.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>&nbsp;</th> 
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_Details.SizeRange)
                                </th>                                                         
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_Details.QPack)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Shipment_Details.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayName("Total Quantity")
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_Details.SizeRange)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_Details.QPack)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_Details.Quantity)
                                    </td>    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalQuantity)
                                    </td>
                                  
                                    <td style="width:145px;">
                                        @Html.ActionLink(".", "VmShipment_DetailsEdit", new { id = item.Shipment_Details.ID + "x" +item.Shipment_History.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })
                                        @Html.ActionLink(".", "VmShipment_DetailsDelete", new { id = item.Shipment_Details.ID + "x" + item.Shipment_History.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>