﻿@model Oss.Romo.ViewModels.Common.VmCommon_TheOrder
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Shipment Deliverd Schedule";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            show: {
                effect: "clip",
                duration: 1000
            },
            hide: {
                effect: "drop",
                duration: 1000
            },
           // autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
           // show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //Style Delivery Schedule

        $("#lnkCreateStyleSchedule").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Shipment Schedule.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })


        $(".lnkEditStyleSchedule").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Deliverd Quantity  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        //Bill Of Exchange Create

        $("#create").click(function (e) {
            var id = "";
            $('.check').each(function () {
                if ($(this).is(":checked")) {
                    id += "" + $(this).val() + ",";
                }
            });

            if (id == "") {
                alert("Please select bill of exchange check box!");
            }
            else {
                this.href = this.href.replace("x", id);
                $(".ui-dialog-titlebar").html("Bill of Exchange Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();
            }
           
            return false;
        });

        //Invoice Create

        $("#createInvoice").click(function (e) {
            var id = "";
            $('.checkInvoce').each(function () {
                if ($(this).is(":checked")) {
                    id += "" + $(this).val() + ",";
                }
            });

            if (id == "") {
                alert("Please select invoice check box!");
            }
            else {
                this.href = this.href.replace("x", id);
                $(".ui-dialog-titlebar").html("Invoice Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();
            }

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Invoice  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
    });

</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h3>
     <b> Order</b>: @Html.DisplayFor(x => x.Common_TheOrder.CID)


    </h3>
    <ol class="breadcrumb"style="padding-top:60px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>*@
        <li class="active">@Html.DisplayFor(x => x.Common_TheOrder.CID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Common_TheOrder.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Order Summary :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.CID)</span>
                                @*<input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.CID)">*@
                                <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)</textarea>
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.OrderDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.OrderDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Season)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Season)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Mkt_BuyerFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.BuyerPO)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.BuyerPO)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Agent)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Agent)">
                            </div>

                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.InspectionAgent)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.InspectionAgent)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Common_CurrencyFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.PaymentTerms)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.PaymentTerms)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.PaymentMethod)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.PaymentMethod)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Supplier)</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol)@Html.DisplayFor(x => x.Common_TheOrder.Supplier)">
                                </div>*@
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Reference)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Common_TheOrder.Reference)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.Description)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.Description)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@*---------------Order Delivery Schedule---------------*@

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">

                <section>
                    <h3>
                        Shipment Deliverd Schedule
                        @*(&nbsp;<a href="~/Shipment/VmShipment_OrderDeliverdCreate/@Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())" id="lnkCreateStyleSchedule"><i title="Shipment Schedule Create" , class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
                    </h3>
                </section>
                @{ 
                    decimal balance = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Destination)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.PortNo)
                            </th>
                            <th>
                                Required Qty
                            </th>
                            <th>
                                Deliverd Qty
                            </th>
                            <th>
                                Balance
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        @{ int sl = 0;}
                        <tbody>
                            @foreach (var item in Model.VmMkt_OrderDeliverySchedule.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Country.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.PortNo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Quantity)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeliverdQuantity)
                                    </td>
                                    @if (item.DeliverdQuantity != 0)
                                    {
                                        balance = (item.Mkt_OrderDeliverySchedule.Quantity - item.DeliverdQuantity);
                                        <td>
                                            @(balance)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_OrderDeliverySchedule.Quantity)
                                        </td>
                                    }

                                    <td>
                                        @Html.ActionLink(".", "VmShipment_OrderDeliverdEdit", "Shipment", new {orderDeliverySchedule = item.Mkt_OrderDeliverySchedule.ID, commonTheOrderID = item.Mkt_OrderDeliverySchedule.Common_TheOrderFk, mktBOMID = item.Mkt_OrderDeliverySchedule.Mkt_BOMFk}, new {@class = "lnkEditStyleSchedule glyphicon glyphicon-pencil"})
                                        @*@Html.ActionLink(".", "../Shipment/VmShipment_OrderDeliverdDelete", new { id = item.Shipment_OrderDeliverdSchedule.ID + "ʁ" + @Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString()) }, new { @title = "Shipment Schedule Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@*----------------Shipment received quantity list------------------*@

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">

                <section>
                    <h3>
                        Shipment Deliverd 
                        @*(&nbsp;<a href="~/Shipment/VmShipment_OrderDeliverdCreate/@Model.VmControllerHelper.Encrypt(Model.Common_TheOrder.ID.ToString())" id="lnkCreateStyleSchedule"><i title="Shipment Schedule Create" , class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
                    </h3>
                </section>
               
                <div class="table-responsive">
                    <table id="example" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                Destination
                            </th>
                            <th>
                                Port No
                            </th>
                            <th>
                                Deliverd Qty
                            </th>
                            <th>
                                Reference
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>

                        @{ int Sl = 0;}
                        <tbody>
                            @foreach (var item in Model.VmShipment_OrderDeliverdSchedule.DataList)
                            {
                                <tr>
                                    <td>
                                        @(++Sl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Destination)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PortNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.DeliverdQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shipment_OrderDeliverdSchedule.Reference)
                                    </td>
                                    <td>
                                      
                                        @Html.ActionLink(".", "VmShipment_OrderDeliverdDelete","Shipment", new { shipmentOrderDeliverdScheduleID = item.Shipment_OrderDeliverdSchedule.ID, commonTheOrderID = item.Shipment_OrderDeliverdSchedule.Common_TheOrderFk }, new { @title = "Shipment Schedule Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>










