﻿
@model Oss.Romo.ViewModels.Shipment.VmShipment_UnloadingPort

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Unloading Port";

}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 400,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Unloading Port  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Update Unloading Port  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            return false;
        })

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Delete Unloading Port.");

            $("#dialog-confirm").dialog('open');
            return false;
        })
        $(".lnkDetail").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');
            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load('Common_UnitCreate');
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">

</div>



<section class="content-header">
    <h1>
        Unloading Port : &nbsp;&nbsp;
        (&nbsp; <a href="VmShipment_UnloadingPortCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active"> Unloading Port</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_UnloadingPort.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_UnloadingPort.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_UnloadingPort.Description)
                            </th>
                            <th>
                                @*Action*@
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Shipment_UnloadingPort.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_UnloadingPort.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_UnloadingPort.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmShipment_UnloadingPortEdit", new { id = item.Shipment_UnloadingPort.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmShipment_UnloadingPortDelete", new { id = item.Shipment_UnloadingPort.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
