﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_OrderDeliverdSchedule

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Common_TheOrderFk)

        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, new SelectList(string.Empty, "Value", "Text"), new { @id = "Mkt_OrderDeliveryFk", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, new { htmlAttributes = new { @id = "quantity", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Required Qty</b></span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" class="form-control" id="ReqQty" readonly="readonly" value="">
            </div>
        </div>

        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script>

    $(document).ready(function () {
        var id = $("#StyleDropdown").val();
            PortNo(id);
    });

    $("#StyleDropdown").change(function () {
        var id = $("#StyleDropdown").val();
            PortNo(id);
    });

    function PortNo(id)
    {
        $.get("../../Shipment/GetDeliveryScheduleProtNo", { id: id }, function (data) {
            $("#Mkt_OrderDeliveryFk").empty();
            $.each(data, function (index, row) {
                $("#Mkt_OrderDeliveryFk").append("<option selected='selected' value='" + row.ID + "'>" + row.PortNo + "</option>")
            });
            DeliveryQty($("#Mkt_OrderDeliveryFk").val());
        });

    };

    function DeliveryQty(id)
    {
        if (id != null) {
        $.get("../../Shipment/GetOrderDeliveryQty", { id: id }, function (data) {
            var value = data.qty.toFixed(2)
            //$('#quantity').val(value);
            $('#ReqQty').val(value);
            });
        }
        else {
            $('#ReqQty').val(0);
        }
    };

    $("#Mkt_OrderDeliveryFk").change(function () {

        var id = $("#Mkt_OrderDeliveryFk").val();

        $.get("../../Shipment/GetOrderDeliveryQty", { id: id }, function (data) {
            var value = data.qty.toFixed(2)
            //$('#quantity').val(value);
            $('#ReqQty').val(value);
        });
    });

</script>

