﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_History

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Shipment History";
}
<div></div>
<div></div>
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Entry New Shipment  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

       $(".lnkEdit").click(function (e) {
           $(".ui-dialog-titlebar").html("Update Shipment <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Shipment Cancel");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Cancel This Shipment?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>


<section class="content-header">
    <h1>
        Shipment History: &nbsp;&nbsp;
        (&nbsp; <a href="VmShipment_HistoryCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active"> Shipment List</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.Common_TheOrderFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.ShipmentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.ShipperName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.ReceiverName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.TotalPack)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_History.DescriptionOfGoods)
                            </th>                           
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.ShipmentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.ShipperName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.ReceiverName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.TotalPack)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shipment_History.DescriptionOfGoods)
                                </td>                               
                                <td>
                                    @Html.ActionLink(".", "VmShipment_HistoryEdit", new { id = item.Shipment_History.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmShipment_HistoryDelete", new { id = item.Shipment_History.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmShipment_DetailsInfo", new { id = item.Shipment_History.ID }, new { @class = "glyphicon glyphicon-zoom-in" })&nbsp;
                                    @Html.ActionLink(".", "#", "#", new { id = item.Shipment_History.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })
                                </td>         
                            </tr>
                        }

                    </tbody>
                    @*  *@
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
