﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_OrderDeliverdSchedule

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.ID)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Common_TheOrderFk)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_OrderDeliveryFk)
        @Html.HiddenFor(model => model.Shipment_OrderDeliverdSchedule.Mkt_BOMFK)
        @Html.HiddenFor(model => model.Mkt_OrderDeliverySchedule.Common_TheOrderFk)
    
        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Shipment_OrderDeliverdSchedule.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Country.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Country.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.PortNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.PortNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.VmMkt_OrderDeliverySchedule.Mkt_OrderDeliverySchedule.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })*@
            <div class="control-label col-md-3 col-sm-3 col-xs-6">
                <b>Req.Quantity</b>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.Quantity, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })               
            </div>
        </div>

        <div class="form-group">          
            <div class="control-label col-md-3 col-sm-3 col-xs-6">
                <b>Deliverd Qty</b>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input style="width:267px;" type="text" class="form-control" readonly="readonly" value="@ViewBag.TotalReceivedQty">               
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })*@
            <div class="control-label col-md-3 col-sm-3 col-xs-6">
                <b>Due Qty</b>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.DeliverdQty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shipment_OrderDeliverdSchedule.Reference, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Shipment_OrderDeliverdSchedule.Reference, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Shipment_OrderDeliverdSchedule.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

@*<script>

    $(document).ready(function () {
        var id = $("#StyleDropdown").val();
            PortNo(id);
    });

    $("#StyleDropdown").change(function () {
        var id = $("#StyleDropdown").val();
        ChangePortNoLoad(id);
    });

    function PortNo(id)
    {
        $.get("../../Shipment/GetDeliveryScheduleProtNo", { id: id }, function (data) {
            $("#Mkt_OrderDeliveryFk").empty();
            $.each(data, function (index, row) {
                $("#Mkt_OrderDeliveryFk").append("<option selected='selected' value='" + row.ID + "'>" + row.PortNo + "</option>");           
            });

            DeliveryQty($("#orderDeliverySelectedID").val());
            $("#Mkt_OrderDeliveryFk").val($("#orderDeliverySelectedID").val());
        });
    };

    function ChangePortNoLoad(id) {
        $.get("../../Shipment/GetDeliveryScheduleProtNo", { id: id }, function (data) {
            $("#Mkt_OrderDeliveryFk").empty();
            $.each(data, function (index, row) {
                $("#Mkt_OrderDeliveryFk").append("<option selected='selected' value='" + row.ID + "'>" + row.PortNo + "</option>");
            });

            DeliveryQty($("#Mkt_OrderDeliveryFk").val());
            //$("#Mkt_OrderDeliveryFk").val($("#orderDeliverySelectedID").val());
        });
    };

    function DeliveryQty(id)
    {
        if (id != null) {
            $.get("../../Shipment/GetOrderDeliveryQty", { id: id }, function (data) {
                var value = data.qty.toFixed(2)
                $('#ReqQty').val(value);
            });
        }
       else {
            $('#ReqQty').val(0);
        }
    };

    $("#Mkt_OrderDeliveryFk").change(function () {

        var id = $("#Mkt_OrderDeliveryFk").val();

        $.get("../../Shipment/GetOrderDeliveryQty", { id: id }, function (data) {
            var value = data.qty.toFixed(2)
            $('#ReqQty').val(value);
        });
    });

</script>*@


