﻿@model Oss.Romo.ViewModels.Shipment.VmShipment_CNFDelivaryChallan
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = " Delivery Challan Without Invoice";
}



<section class="content-header">
    <h1>
       Delivery Challan Without Invoice : &nbsp;&nbsp;

    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Delivery Challan Without Invoice</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.ChallanNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.Date)
                            </th>
                            <th>CTN Qty</th>
                            <th>Invoiced Qty</th>
                            <th>Pack Qty</th>
                            <th>Delivered Qty(Pcs)</th>

                            @*<th>
            @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.Common_SupplierFk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.Transporter_Common_SupplierFk)
        </th>*@
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.ChallanList)
                        {
                        <tr>
                            <td><b>@(++i).</b></td>
                            <td>
                                @item.ChallanName
                            </td>
                            <td>
                                @item.ChallanDate.ToString("dd/MM/yyyy")
                            </td>
                            @*<td>
            @item.CommonSupplierName
        </td>
        <td>
            @item.TransporterSupplierName
        </td>*@
                            <td>@item.TotalCtnQty</td>
                            <td>@item.InvoicedCtnQty</td>
                            <td>@item.TotalPackQty</td>
                            <td>@item.TotalDeliveredQty</td>
                            <td>
                                @Html.ActionLink(".", "ViewWithoutInvoicedDeliveryChallanDetails", new { id = item.DelivaryChallanId }, new { @title = "Challan Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
