﻿@model Oss.Romo.ViewModels.Account.VmAcc_DollarRate
@{
    ViewBag.Title = "Acc_DollarRateEdit";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_DollarRate.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_DollarRate.DollarRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_DollarRate.DollarRate, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_DollarRate.DollarRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}


