﻿@model Oss.Romo.ViewModels.Account.VmAcc_JournalSlave
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

    ViewBag.Title = "Journal Details";

}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Acc_JournalSlave: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $("#lnkCreate2").click(function (e) {
            $(".ui-dialog-titlebar").html("Acc_JournalSlave: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })


        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Acc_JournalSlave: Edit<button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(" Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });



        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<section class="content-header">
    <h1>
        Journal: @*@Html.DisplayFor(x => x.Acc_Journal.ID)*@


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("VmAcc_JournalIndex")" id="lnkFinalise" style="color: green;">Journal</a></li>
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>*@
        <li class="active">@Html.DisplayFor(x => x.Acc_Journal.ID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Acc_Journal.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            @*Order Summary :*@
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Acc_Journal.Title)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Acc_Journal.Title)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Acc_Journal.Description)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Acc_Journal.Description)">
                            </div>

                        </div>

                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Acc_Journal.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Acc_Journal.Date)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>



                <div class="table-responsive">

                </div>
                <section>
                    <h3>

                        Journal Slave:
                        @{
                            if (Model.Acc_Journal.isFinal == false)
                            {
                                <a href="@Url.Action("VmAcc_JournalSlaveCreate", new { Model.Acc_Journal.ID})" id="lnkCreate"><i class="glyphicon ">Debit</i></a> <span>|</span>
                                <a href="@Url.Action("VmAcc_JournalSlaveCreditCreate", new { Model.Acc_Journal.ID})" id="lnkCreate2"><i class="glyphicon ">Credit</i></a>
                            }
                        }
                    </h3>
                </section>
                @{
                    int Sl = 0;
                }
                <table id="example11" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Acc_AcName.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_JournalSlave.Description)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Acc_JournalSlave.Debit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_JournalSlave.Credit)
                            </th>


                            <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Type.Name)/@Html.DisplayFor(modelItem => item.Acc_Chart1.Name)/@Html.DisplayFor(modelItem => item.Acc_Chart2.Name)/@Html.DisplayFor(modelItem => item.Acc_AcName.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_JournalSlave.Description)
                                </td>
                                <td>
                                    @{
                                        if (item.Acc_JournalSlave.Debit == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                                @Html.DisplayFor(modelItem => item.Acc_JournalSlave.Debit)
                                        }
                                    }
                                   
                                </td>
                                <td>
                                    @{
                                        if (item.Acc_JournalSlave.Credit == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Acc_JournalSlave.Credit)
                                        }
                                    }
                                   
                                </td>

                                <td>
                                    @{
                                        if (Model.Acc_Journal.isFinal == false)
                                        {
                                            @*@Html.ActionLink(".", "VmAcc_JournalSlaveEdit", new { id = item.Acc_JournalSlave.ID + "x" + Model.Acc_Journal.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })*@
                                            
                                            @Html.ActionLink(".", "VmAcc_JournalSlaveDelete", new { id = item.Acc_JournalSlave.ID + "x" + Model.Acc_Journal.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                        }
                                    }
                                   
                                </td>
                            </tr>

                        }
                        <tr>
                            <td>  &nbsp;</td>

                            <td>
                                &nbsp;
                            </td>
                            <td>
                                TOTAL =    &nbsp;
                            </td>
                            <td>
                                <span class="@Html.DisplayFor(x => x.IsEqual)">
                                    @Html.DisplayFor(x => x.DrSummary)
                                </span>
                            </td>
                            <td>
                                <span class="@Html.DisplayFor(x => x.IsEqual)">
                                    @Html.DisplayFor(x => x.CrSummary)
                                </span>
                            </td>

                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>

                </table>

                @{
                    if (Model.Acc_Journal.isFinal == false)
                    {
                        <div class="col-md-12" style="text-align: right; margin-left: 14px;">
                            <button class="btn btn-success">
                                <a href="@Url.Action("JournalSlaveFinalise", new {Model.Acc_Journal.ID})" id="lnkFinalise" style="color: white;">Finalise </a>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12" style="text-align: right; margin-left: 14px;color: green; font-size: 16px; font-weight: 700">
                            Journal Already Finalized | <a href="@Url.Action("VmAcc_JournalIndex")" id="lnkFinalise" style="color: green;">Back to Journal</a>
                        </div>
                    }
                }

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>



