﻿@model Oss.Romo.ViewModels.Account.VmAcc_AcName
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Account Charttwo Inventory";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkLock").click(function(e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-lock').load($('.lnkLock').attr('href'));


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
            <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>*@
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Acc_Type.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


             

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3>
                                Category Inventory :
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="box-body col-md-5">
                                <div class="input-group">
                                    <span style="width: 120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Acc_Type.Name)</span>
                                    <input style="width: 250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Acc_Type.Name)">
                                </div>
                              


                            </div>

                            <div class="box-body col-md-5">
                                <div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Acc_Chart1.Name)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Acc_Chart1.Name)">
                                </div>
                            </div>
                        </div>

                    </div>

               

                <section>
                    <h3>
                        Account Chart2 Inventory:
                    </h3>
                </section>
                @{
                    int Sl = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.AccountHead)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalCredit)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalDebit)
                                </th>
                                <th>
                                     Amount
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        @{
                            decimal devision = 0;
                            decimal TotalCredit = 0;
                            decimal totalDebit = 0;
                            decimal balance = 0;
                            decimal ttlb = 0;
                        }


                        @foreach (var item in Model.DataList)
                        {

                            TotalCredit += item.TotalCredit;
                            totalDebit += item.TotalDebit;
                            balance = item.TotalCredit - item.TotalDebit;
                            ttlb += balance;
                            <tr>
                                <td>
                                    <b> @(++Sl).</b>
                                </td>
                                <td style="padding: 2px 4px 2px 4px">
                                    <a href="~/Accounts/AccountsNameIndex/@Html.DisplayFor(modelItem => item.AccountHeadID)" target="_blank">@Html.DisplayFor(modelItem => item.AccountHead)</a>
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.TotalCredit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalDebit)
                                </td>*@

                                <td>@balance</td>
                            </tr>

                        }
                      
                        </tbody>
                        <tfoot>

                            <tr>
                                <th></th>
                                <th>
                                    Total
                                </th>
                                @*<th>
                                    @TotalCredit
                                </th>
                                <th>
                                    @totalDebit
                                </th>*@
                                <th>
                                    @ttlb
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
