﻿
@model Oss.Romo.ViewModels.MisDashboard.VmNotifier
@{
    ViewBag.Title = "NotifierStatus";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-hold").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(" Reject.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });
        $(".lnkHold").click(function (e) {
            $(".ui-dialog-titlebar").html(" Hold.");
            url = $(this).attr('href');
            $("#dialog-hold").dialog('open');

            return false;
        });
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to reject?
    </p>
</div>
<div id="dialog-hold" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to hold?
    </p>
</div>
<section class="content">
    <div class="row">
        <div>
            <div class="box">
                <div class="box-header">
                    <center><b>Party Payment/LC/Doc</b></center>
                </div>
                <div class="box-body">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cheque</a></li>
                            <li role="presentation"><a href="#lcopen" aria-controls="messages" role="tab" data-toggle="tab">L/C Open</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Doc Payment</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in  active" id="home">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                Cheque Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier Payable Balance
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Account Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Cheque Information
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int sl = 1;
                                        }
                                        @foreach (var item in Model.DataList)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.FromBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (item.Acc_Notifier.IsApproved == 0)
                                                        {
                                                            <label class="label-primary">Pending</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 1)
                                                        {
                                                            <label class="label-success">Approved</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 2)
                                                        {
                                                            <label class="label-warning">Hold</label>
                                                            <a href="@Url.Action("VmAcc_AccNotifierRequestAgain", "MisDashboard", new {id = item.Acc_Notifier.ID})" data-toggle="tooltip" data-placement="bottom" title="Request Again" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-refresh"></span></a>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 3)
                                                        {
                                                            <label class="label-danger">Rejected</label>
                                                        }
                                                    }
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="lcopen">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                L/C Opening Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier L/C Opening Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Additional
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            sl = 1;
                                        }
                                        @foreach (var item in Model.DataListLcOpen)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (item.Acc_Notifier.IsApproved == 0)
                                                        {
                                                            <label class="label-primary">Pending</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 1)
                                                        {
                                                            <label class="label-success">Approved</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 2)
                                                        {
                                                            <label class="label-warning">Hold</label>
                                                            <a href="@Url.Action("VmAcc_AccNotifierRequestAgain", "MisDashboard", new {id = item.Acc_Notifier.ID})" data-toggle="tooltip" data-placement="bottom" title="Request Again" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-refresh"></span></a>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 3)
                                                        {
                                                            <label class="label-danger">Rejected</label>
                                                        }
                                                    }
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                L/C Payment Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier  Payable Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Additional
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            sl = 1;
                                        }
                                        @foreach (var item in Model.DataListDocPayment)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (item.Acc_Notifier.IsApproved == 0)
                                                        {
                                                            <label class="label-primary">Pending</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 1)
                                                        {
                                                            <label class="label-success">Approved</label>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 2)
                                                        {
                                                            <label class="label-warning">Hold</label>
                                                            <a href="@Url.Action("VmAcc_AccNotifierRequestAgain", "MisDashboard", new {id = item.Acc_Notifier.ID})" data-toggle="tooltip" data-placement="bottom" title="Request Again" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-refresh"></span></a>
                                                        }
                                                        else if (item.Acc_Notifier.IsApproved == 3)
                                                        {
                                                            <label class="label-danger">Rejected</label>
                                                        }
                                                    }
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

