﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Supplier Payment History";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-b2bpayment").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkb2bpayment").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Payment.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-b2bpayment").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-b2bpayment').load($('.lnkb2bpayment').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-b2bpayment" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        B2B L/C:
        @*&nbsp;&nbsp;
            (&nbsp; <a href="VmCommercial_B2bLCCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            B2B L/C
        </li>
    </ol>
</section>
<div class="clearfix"></div>


<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="row">

                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                    </div>
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Mobile)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Mobile)">
                    </div>

                </div>

                <div class="box-body col-md-5">


                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Address)</span>
                        <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Address)">
                    </div>
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Country.Name)</span>
                        <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Country.Name)">
                    </div>


                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr />
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.UdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Amount)
                            </th>
                         
                            <th>
                               Paid Value
                            </th>
                            <th>
                                Attachment
                            </th>
                            <th>
                                BTB Payment
                            </th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Date, "{0:yyyy/MM/dd}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_UD.UdNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)@Html.DisplayFor(modelItem => item.Commercial_B2bLC.Amount)
                                </td>
                                <td>
                                    
                                    @{
                                        if (item.PaidBtbValue == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.PaidBtbValue)
                                        }
                                    }
                                    
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>*@
                                <td>
                                    @if (item.Commercial_B2bLC.ScanedFile != null)
                                    {
                                        @Html.ActionLink(".", "../CustomeFile/Commercial/", new { id = item.Commercial_B2bLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file", @title = "Attach File" })
                                    }
                                    else
                                    {
                                        <div class="glyphicon glyphicon-ban-circle" title="No Attach File" style="color:red;">

                                        </div>
                                    }
                                </td>

                               
                                <td>
                                    @*@Html.ActionLink(".", "VmCommercial_B2bLCEdit", new { id = item.Commercial_B2bLC.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        @Html.ActionLink(".", "VmCommercial_B2bLCDelete", new { id = item.Commercial_B2bLC.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;*@
                                    @*@Html.ActionLink(".", "VmCommercial_B2bLcSupplierPOIndex", new { id = item.Commercial_B2bLC.ID }, new { @class = "glyphicon glyphicon-zoom-in" }) &nbsp;
                                        @Html.ActionLink(".", "VmCommercial_B2BLcSupplierPIIndex", new { id = item.Commercial_B2bLC.ID }, new { @class = "glyphicon glyphicon-zoom-in" }) &nbsp;*@
                                    @*@Html.ActionLink(".", "VmCommercial_ImportIndex", new { id = item.Commercial_B2bLC.ID }, new { @class = "glyphicon glyphicon-zoom-in" }) &nbsp;*@
                                    <div style="width: 130px;">
                                        @Html.ActionLink("Document Payment", "VmCommercial_B2BPaymentInformationCreate", "Commercial", new { id = item.Commercial_B2bLC.ID + "x"+ item.Commercial_B2bLC.Common_SupplierFK }, new { @class = "lnkb2bpayment" }) &nbsp;
                                    </div>
                                </td>
                               
                               
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

<style>
    .lnkb2bpayment:hover {
        background-color: #7CFC00;
        padding:3px;
        color:white;
    }
</style>