﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

    ViewBag.Title = "Goods Received From Supplier ("+ Html.DisplayFor(x => x.Common_Supplier.Name)+" )";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-b2bpayment").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkb2bpayment").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Payment.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-b2bpayment").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-b2bpayment" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Goods Received &nbsp;&nbsp;
        @*@Html.ActionLink(".", "POwiseGoodsReceivedDoc", new { id = Model.Common_Supplier.ID }, new { @class= "glyphicon glyphicon-print", @target = "_blank" })*@


    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/accounts/vmacc_supplierphindex"><i class="fa fa-dashboard"></i>Supplier Details</a></li>
        <li class="active">
            Goods Received
        </li>
    </ol>
</section>
<div class="clearfix"></div>


<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                    </div>
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Mobile)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Mobile)">
                    </div>
                </div>

                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Address)</span>
                        <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Address)">
                    </div>
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Country.Name)</span>
                        <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Country.Name)">
                    </div>


                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr />
            @{
                int Sl = 0;
            }
           
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                PO NO
                            </th>                      
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            <th style="width:600px">
                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Unit.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_POSlave.TotalRequired)
                            </th>
                            <th>
                               <center>
                                   Challan
                               </center>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Recived) Qty
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Returned) Qty
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total) Qty
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Balance) Qty
                            </th>
                            <th>
                              Received Amount
                            </th>
                            <th>
                               Returned Amount
                            </th>
                            <th>
                             Total Amount
                            </th>
                            <th>
                             Balance Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                <td style="width:600px">
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.TotalRequired)
                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <th>Challan</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                        @foreach (var itemChild in item.ChallanList)
                                        {
                                            if (itemChild.Quantity != 0)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => itemChild.Challan)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => itemChild.Quantity)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => itemChild.Price)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => itemChild.TotalPrice)

                                                    </td>
                                                </tr>

                                            }

                                        }

                                    </table>

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Recived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Returned)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Balance)
                                </td>
                                <td>
                                    @String.Format("{0:0.00##}", item.Recived * item.Mkt_POSlave.Price)
                                </td>
                                <td>
                                    
                                    @String.Format("{0:0.00##}", item.Returned * item.Mkt_POSlave.Price)
                                </td>
                                <td>                                   
                                    @String.Format("{0:0.00##}", item.Total * item.Mkt_POSlave.Price)
                                </td>
                                <td>
     
                                    @String.Format("{0:0.00##}", item.Balance * item.Mkt_POSlave.Price)
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

