﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierBillSlave
@{
    ViewBag.Title = "SupplierBillSlaveEdit";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.Acc_SupplierBillFk)
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.ID)
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.ApprovedDate)
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.ApprovedBy)
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.CreatedBy)
    @Html.HiddenFor(model => model.Acc_SupplierBillSlave.FirstCreated)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBillSlave.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBillSlave.Date, new { htmlAttributes = new { @id = "Date", @readonly = "true", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @{
                if (Model.Acc_SupplierBill.Common_BillTypeFk == 1)
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Invoice</label>
                }
                else if (Model.Acc_SupplierBill.Common_BillTypeFk == 2)
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Challan</label>
                }
                else
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Bill Head</label>
                }
            }
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierBillSlave.ChallanOrInvoiceFk, ViewBag.GetInvoiceList as SelectList, "--Select Challan/Invoice--", new { @id = "Common_BillTypeFk", @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.ChallanOrInvoiceFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @{
                if (Model.Acc_SupplierBill.Common_BillTypeFk == 1)
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Invoice No.</label>
                }
                else if (Model.Acc_SupplierBill.Common_BillTypeFk == 2)
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Challan No.</label>
                }
                else
                {
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">Bill No.</label>
                }
            }
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBillSlave.ChallanInvoiceNo, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.ChallanInvoiceNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBillSlave.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierBillSlave.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @id = "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBillSlave.DollarRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBillSlave.DollarRate, new { htmlAttributes = new { @id = "CurrencyRate", @class = "form-control dropdown col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.DollarRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBillSlave.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBillSlave.Amount, new { htmlAttributes = new { @id = "Amount", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBillSlave.Particulars, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBillSlave.Particulars, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBillSlave.Particulars, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
                }
<script>
    $(function () {
        $("#CurrencyType").change(function () {
            var currencyType = $("#CurrencyType").val();
            var date = $("#Date").val();
            //alert(supplierId);
            if (currencyType !== '') {
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
                $.get("@Url.Action("GetDateWiseCurrencyRate", "Helper")", { ID: currencyType, date: date }, function (data) {
                    document.getElementById("CurrencyRate").readOnly = false;
                    $("#CurrencyRate").val(data.CurrencyRate);
                    document.getElementById("CurrencyRate").readOnly = data.ReadOnly;
                });
            }
            else {
                document.getElementById("CurrencyRate").readOnly = false;
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
            }
            document.getElementById("Amount").focus();
        });
        $("#Date").change(function () {
            $("#CurrencyType").trigger('change');
            document.getElementById("Common_BillTypeFk").focus();
        });
    });

</script>
