﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_PO.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @readonly= "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.CID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Price, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.TotalRequired, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Total_Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Total_Price, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Total_Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.PaidAmount, htmlAttributes: new { @readonly = "readonly", @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.PaidAmount, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.PaidAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Now_Paid, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Now_Paid, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Now_Paid, "", new { @class = "text-danger" })
            </div>
        </div>



      

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Store_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Store_ItemFK, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Store_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

       

   

        

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Common_UnitFK, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

       

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Common_CurrencyFK, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

       

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Mkt_BOMFK, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Received, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Received, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Received, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Delivered, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Delivered, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Delivered, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Date, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Date, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Status, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Status, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Status, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*For Insprement*@
        @*<div class="row">
            <div class="col-xs-12">

              
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                   
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped jambo_table bulk_action">

                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_PO.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_PO.PaidAmount)
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td>&nbsp;</td>

                                      

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)/@Html.DisplayFor(modelItem => item.Mkt_PO.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_PO.PaidAmount)
                                        </td>


                                    </tr>

                                }
                            </tbody>

                        </table>
                    </div>
                  
                </div>
               
            </div>
           
        </div>*@
       
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}


