﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierBill
@{
    ViewBag.Title = "SupplierBillCreate";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Acc_SupplierBill.ID)
    @Html.HiddenFor(model => model.Acc_SupplierBill.IsApproved)
    @Html.HiddenFor(model => model.Acc_SupplierBill.CreatedBy)
    @Html.HiddenFor(model => model.Acc_SupplierBill.ApprovedDate)
    @Html.HiddenFor(model => model.Acc_SupplierBill.ApprovedBy)
    @Html.HiddenFor(model => model.Acc_SupplierBill.FirstCreated)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBill.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBill.Date, new { htmlAttributes = new { @readonly = "true", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBill.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBill.Common_BillTypeFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierBill.Common_BillTypeFk, ViewBag.SupplerBillType as SelectList, "--Select Bill Type--", new { @id = "Common_BillTypeFk", @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBill.Common_BillTypeFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBill.Common_SupplierFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierBill.Common_SupplierFk, ViewBag.CommonSupplier as SelectList, "--Select Supplier--", new { @id = "Common_SupplierFk", @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBill.Common_SupplierFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierBill.Particulars, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierBill.Particulars, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierBill.Particulars, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>

    </div>
}


<script>
    $('#Common_BillTypeFk').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Common_BillTypeFk').val() !== "---Select Supplier---") {
            var acc_Type = $('#Common_BillTypeFk').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetASupplierByCnfTransport", "Helper")",
                data: { ID: acc_Type },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#Common_SupplierFk").empty();
                    if (data.length !== 0) {
                        $("#Common_SupplierFk").append("<option value='0'>---Select  Supplier---</option>");
                        $.each(data, function (index, row) {
                            $("#Common_SupplierFk").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                        });

                    }

                }
            });

        }

        });
</script>


@*<script>
    $(function () {
        $("#Common_BillTypeFk").change(function () {
            var acc_Type = $("#Common_BillTypeFk").val();

            if (acc_Type != '') {
                document.getElementById("Common_SupplierFk").innerHTML = "";
                $.get("../../Helper/GetASupplierByCnfTransport", { ID: acc_Type }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Common_SupplierFk").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                })
            }
            else {
                document.getElementById("Common_SupplierFk").innerHTML = "";
            }
        });
    });
</script>*@