﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierBillSlave
@{
    ViewBag.Title = "SupplierBillSlaveIndex";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-b2bpayment").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill Entry: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill Entry: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkb2bpayment").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill Entry.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-b2bpayment").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill Entry: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-b2bpayment').load($('.lnkb2bpayment').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-b2bpayment" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header" style="padding-top:25px">
   
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Supplier Bill  Details
        </li>
    </ol>
</section>
<div class="clearfix"></div>


<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="row">

                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                    </div>
                    <div class="input-group">
                        <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Mobile)</span>
                        <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Mobile)">
                    </div>

                </div>

                <div class="box-body col-md-5">


                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Address)</span>
                        <textarea style="width:320px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_Supplier.Address)</textarea>
                    </div>
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_BillType.Name)</span>
                        <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_BillType.Name)">

                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr />
          
            <section style="padding-left:15px">
                <h3>
                    Supplier Bill  Details:
                    &nbsp;&nbsp;
                    (&nbsp; <a href="~/Accounts/SupplierBillSlaveCreate/@Model.Acc_SupplierBill.ID" id="lnkCreate"><i title="Supplier Bill Payment Create" class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                </h3>
             </section>
            @{
                int Sl = 0;
            }
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr  class="success">
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Acc_SupplierBillSlave.Date)
                                    </th>
                                    <th>
                                        @{
                                            if (Model.Acc_SupplierBill.Common_BillTypeFk == 1)
                                            {
                                                <span>Invoice</span>
                                            }
                                            else if (Model.Acc_SupplierBill.Common_BillTypeFk == 2)
                                            {
                                                <span>Challan</span>
                                            }
                                            else
                                            {
                                                <span>Bill Head</span>
                                            }
                                        }
                                    </th>
                                    <th>
                                        @{
                                            if (Model.Acc_SupplierBill.Common_BillTypeFk == 1)
                                            {
                                                <span>Invoice No.</span>
                                            }
                                            else if (Model.Acc_SupplierBill.Common_BillTypeFk == 2)
                                            {
                                                <span>Challan No.</span>
                                            }
                                            else
                                            {
                                                <span>Bill No.</span>
                                            }
                                        }
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Common_Currency.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Acc_SupplierBillSlave.DollarRate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Acc_SupplierBillSlave.Amount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Acc_SupplierBillSlave.Particulars)
                                    </th>
                                  
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td><b>@(++Sl).</b></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Acc_SupplierBillSlave.Date, "{0:yyyy/MM/dd}")
                                        </td>
                                        <td>
                                            @{
                                                if (Model.Acc_SupplierBill.Common_BillTypeFk == 1)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceNo)
                                                }
                                                else if(Model.Acc_SupplierBill.Common_BillTypeFk == 2)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Shipment_CNFDelivaryChallan.ChallanNo)
                                                }
                                                else if (Model.Acc_SupplierBill.Common_BillTypeFk == 3)
                                                {
                                                    @Html.DisplayFor(modelItem => item.Acc_AcName.Name)
                                                }
                                            }

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Acc_SupplierBillSlave.ChallanInvoiceNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_Currency.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Acc_SupplierBillSlave.DollarRate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Acc_SupplierBillSlave.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Acc_SupplierBillSlave.Particulars)
                                        </td>
                                     
                                        <td>
                                            @{
                                                if (item.Acc_SupplierBillSlave.IsApproved)
                                                {
                                                    <label class="label label-success">Approved</label>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(".", "SupplierBillSlaveEdit", new { id = item.Acc_SupplierBillSlave.ID, }, new { @title = "Supplier Bill  Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                                    @Html.ActionLink(".", "SupplierBillSlaveDelete", new { id = item.Acc_SupplierBillSlave.ID }, new { @title = "Supplier Bill  Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                                    @Html.ActionLink(".", "SupplierBillSlaveApproved", new { id = item.Acc_SupplierBillSlave.ID }, new { @title = "Supplier Bill  Approved", @class = "glyphicon glyphicon-check" })
                                                }
                                            }

                                        </td>
                                    </tr>
                                                }

                            </tbody>

                        </table>
                    </div>

</div>

    </div>

</div>
