﻿

@model Oss.Romo.ViewModels.Account.VmAcc_POPH

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Supplier List";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({

            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Make Payment Supplier wise: <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Make Payment Supplier wise  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Payment Supplier wise.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Supplier Information : @*@Html.DisplayFor(x => x.Common_Supplier.ID)*@


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Accounts/SupplierIndex">Supplier Information</a></li>
        <li class="active">@Html.DisplayFor(x => x.Common_Supplier.ID)</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Common_Supplier.ID)

        <div class="box">
            <div class="box-body">

                <div class="box box-info">
                    <div class="box-header with-border">
                      
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Address)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Address)">
                            </div>


                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Mobile)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Mobile)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Email)</span>
                                <input style="width:320px;" class="form-control" readonly="readonly" value="@Html.DisplayTextFor(x => x.Common_Supplier.Email)">
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>

                <div class="table-responsive">
                    @{
                        int sl = 0;
                    }
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_PO.Total_Value)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_PO.GoodReceived)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_PO.Total_Paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_PO.Payable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_PO.Total_Due)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.PaymentCleared)
                                </th>

                                <th>
                                    Payment
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList1)
                            {
                                <tr>
                                    <td><b>@(++sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total_Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GoodReceived)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total_Paid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Payable)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total_Due)
                                    </td>


                                    <td>
                                        <div style="padding:0px 50px" class="center">
                                            @if (item.Mkt_PO.PaymentCleared == true)
                                            {
                                                <span class="label label-success">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">No</span>
                                            }

                                        </div>
                                    </td>
                                    <td title="Supplier Payment">
                                        @Html.ActionLink(".", "../Accounts/VmAcc_POPHEdit", new { id = item.Mkt_PO.ID+"x"+item.Common_Supplier.ID }, new { @style = "font-size:24px;color:blue", @class = "lnkEdit fa fa-money" })
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                @*<table id="example1" class="table table-striped jambo_table bulk_action">

                        <thead>
                            <tr>
                                <th>SL</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Mkt_BOMCID)
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td><b>@(++Sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Mkt_BOMCID)
                                    </td>
                                    <td>
                                        @Html.ActionLink("MakePayment", "../Accounts/VmAcc_POPHEdit", new { id = item.Mkt_PO.ID+"x" + item.Mkt_PO.Common_SupplierFK }, new { @class = "lnkEdit" })
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>*@

            </div>
        </div>
    </div>
</div>




