﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierBill
@{
    ViewBag.Title = "SupplierBillIndex";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $("#lnkCreate2").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })


        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Bill: Edit<button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(" Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });



        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<section class="content-header">
    <h1>
        Supplier Bill :  (&nbsp; <a href="SupplierBillCreate" id="lnkCreate" title="Supplier Bill Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("VmAcc_JournalIndex")" id="lnkFinalise" style="color: green;">Supplier Bill</a></li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            @*Order Summary :*@
                        </h3>
                    </div>
                </div>
                @{
                    int Sl = 0;
                }
                <table id="example11" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Acc_SupplierBill.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_BillType.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_SupplierBill.Particulars)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_SupplierBill.Date, "{0:yyyy/MM/dd}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_BillType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_SupplierBill.Particulars)
                                </td>
                                <td>
                                @{
                                    if (item.Acc_SupplierBill.IsApproved)
                                    {
                                        <label class="label label-success">Approved</label>
                                    }
                                    else
                                    {
                                        @Html.ActionLink(".", "SupplierBillEdit", new {id = item.Acc_SupplierBill.ID}, new {@title = "Supplier Bill Edit", @class = "lnkEdit glyphicon glyphicon-pencil"})
                                        
                                        @Html.ActionLink(".", "SupplierBillDelete", new {id = item.Acc_SupplierBill.ID}, new {@title = "Supplier Bill Delete", @class = "lnkDelete glyphicon glyphicon-trash"})
                                        
                                        @Html.ActionLink(".", "SupplierBillSlaveIndex", new {id = item.Acc_SupplierBill.ID}, new {@title = "Supplier Bill Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                        
                                    }
                                }
                                  </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>





