﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO

@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Supplier Payment Due";

}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Due : Create <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Due : Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Supplier Due : Delete ");

            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
<section class="content-header">
    <h1>
        Due Supplier List:
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
      
        <li class="active">Supplier Deu</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{ 
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">

                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Mobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
 
                            <th>
                                @*@Html.DisplayNameFor(model => model.Mkt_PO.Price)*@
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Mkt_PO.PaidAmount)*@
                            </th>
                            <th>
                                Action
                            </th>
                        </tr> 
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Mobile)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                              
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Common_Currency.Symbol)/@Html.DisplayFor(modelItem => item.Mkt_PO.)*@
                                </td>
                                 <td>
                                    @*@Html.DisplayFor(modelItem => item.Mkt_PO.t)*@
                                </td>
                                <td>
                                    @Html.ActionLink("..", "SupplierDueEdit", new { id = item.Mkt_PO.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                </td>
                   
                          
                            </tr>

                        }
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>





