﻿@using Oss.Romo.ViewModels.Common
@using Oss.Romo.ViewModels.User
@model Oss.Romo.ViewModels.Account.VmAcc_Transaction
@{
    ViewBag.Title = "Finalized Transaction";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}



<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Bank Withdraw: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        $("#lnkCreate2").click(function (e) {
            $(".ui-dialog-titlebar").html("Bank Withdraw: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })


        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Bank Withdraw: Edit<button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(" Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })



        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>
<section class="content-header">
    <h1>
        Cash/Bank Finalized Transaction


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("VmAcc_FinamizedTransactionIndex")" id="lnkFinalise" style="color: green;">Cash/Bank Withdraw</a></li>
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>*@
        <li class="active">@Html.DisplayFor(x => x.Acc_Transaction.ID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                @using (Html.BeginForm("VmAcc_FinamizedTransactionIndex", "Accounts", new { id = "VmAcc_FinamizedTransactionIndex", data_server = "true" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-4">
                            <strong>Select Date</strong>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group date" data-datetimepicker="true">
                                    <input type="text" name="DateSelect" value=@ViewBag.TransactionDate
                                           class="calendarControl form-control">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group float-right">

                                <button type="submit" id="btnSubmit" class="btn btn-primary btn-cstm btn-flat "><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Submit</button>
                            </div>

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                }

                @{
                    int Sl = 0;
                }
                <table id="example11" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.Acc_CostPoolFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.VoucherNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.ChequeNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.ChequeDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.From_Acc_NameFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.To_Acc_NameFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Transaction.Description)
                            </th>
                            @*<th>
                                    Action
                                </th>*@


                        </tr>
                    </thead>
                    <tbody>
                   
                    @{
                        VmForDropDown dropDown = new VmForDropDown();
                        decimal total = 0;
                    }
                    @foreach (var item in Model.DataList)
                    {
                        total += item.Acc_Transaction.Amount;
                        <tr>
                            <td><b>@(++Sl).</b></td>

                            <th>
                                @Html.DisplayFor(modelItem => item.Acc_Transaction.Date)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_CostPool.Name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_Transaction.VoucherNo)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_Transaction.ChequeNo)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_Transaction.ChequeDate)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_AcNameCr.Name)
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_AcNameDr.Name)
                            </th>
                            <th>
                                @{
                                    var commaAmount=dropDown.NumberToComma(item.Acc_Transaction.Amount);
                                }
                                @commaAmount
                            </th>
                            <th>
                                @Html.DisplayFor(model => item.Acc_Transaction.Description)
                            </th>
                            <td>
                                @{

                                    // @Html.ActionLink(".", "VmAcc_BankWithdrawEdit", new { id = item.Acc_Transaction.ID }, new { @class = "lnkEdit glyphicon glyphicon-edit", @title = "Edit" })
                                    //@Html.ActionLink(".", "VmAcc_AccTransactionDelete", new { id = item.Acc_Transaction.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", @title = "Delete" })
                                    @Html.ActionLink(".", "VmAcc_AccTransactionReport", new { id = item.Acc_Transaction.ID }, new { @class = "glyphicon glyphicon-print", @title = "Print", target = "_blank" })
                                    // @Html.ActionLink(".", "VmAcc_AccTransactionFinalized", new { id = item.Acc_Transaction.ID }, new { @class = "lnkDelete glyphicon glyphicon-ok", @title = "Finalized" })

                                    VmUser_User user = (VmUser_User)Session["One"];
                                    if (user.User_User.UserName == "admin")
                                    {
                                        @Html.ActionLink(".", "VmAcc_AccTransactionDelete", new { id = item.Acc_Transaction.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", @title = "Delete" })
                                    }
                                }

                            </td>
                        </tr>

                                    }
                    <tr>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>
                        <td> &nbsp;</td>

                        <td>
                            &nbsp;
                        </td>
                        <td>
                            TOTAL = &nbsp;
                        </td>
                        <td>
                            
                            @{
                                var commaTotalAmount=dropDown.NumberToComma(total);
                            }
                            <span>
                                @commaTotalAmount
                            </span>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>

                </table>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>