﻿@model Oss.Romo.ViewModels.Account.VmAcc_Chart2

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_Chart2.ID)
    
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Type.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_TypeID, ViewBag.Acc_Type as SelectList,new { @id = "Acc_Type", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Type.Name, "", new { @class = "text-danger" })
            </div>
        </div>
      

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart2.Acc_Chart1FK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart2.Acc_Chart1FK, ViewBag.Acc_Chart1 as SelectList, new { @id= "Acc_Chart1", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart2.Acc_Chart1FK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart2.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Chart2.Name, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Chart2.Name, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>


    </div>
}
<script>
    $(function () {
        $("#Acc_Type").change(function () {
            var catid = $("#Acc_Type").val();
            //alert(catid);
            if (catid != '') {
                document.getElementById("Acc_Chart1").innerHTML = "";
                $.get("../Helper/GetAcc_Chart1DD", { ID: catid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Acc_Chart1").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });

                });
            }
            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });
</script>

