﻿@model Oss.Romo.ViewModels.Account.VmAcc_Expenses_History
@{
    ViewBag.Title = "Income History";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Income : Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $("#lnkCreate1").click(function (e) {
            $(".ui-dialog-titlebar").html("Expenses : Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Income : Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Income & Expenses History: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        $('#dialog-edit').load($('#lnkCreate').attr('href'));
        $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        <U>Income History:</U>
        &nbsp;&nbsp;
        &nbsp; <a href="VmAcc_Income_HistoryCreate" id="lnkCreate"title="Income History Create"><i class="fa fa-plus"> Add New Income</i></a> 
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Income History
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.To_Acc_NameFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.From_Acc_NameFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.InstrumentNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.Comment)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.Note)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Expenses_History.Referance)
                            </th>
                            <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList.Where(x=>x.Acc_Expenses_History.IsIncome))
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.Date)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.ToAcc_Name.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FromAcc_Name.Name)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.Amount)
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.InstrumentNo)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.Comment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.Note)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Acc_Expenses_History.Referance)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmAcc_Income_HistoryEdit", new { id = item.Acc_Expenses_History.ID }, new {@title= "Income History Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                    @Html.ActionLink(".", "VmAcc_Expenses_HistoryDelete", new { id = item.Acc_Expenses_History.ID }, new { @title = "Income History Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>



