﻿@using Oss.Romo.ViewModels.Common
@model Oss.Romo.ViewModels.Account.VmAcc_ReceiptPayment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt Payment Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .table > tbody > tr > td {
            padding: 3px !important;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>Receipt Payment Report From @Model.FromDate.ToString("yyyy-MM-dd") To @Model.ToDate.ToString("yyyy-MM-dd")</h4>
                </div>
            </div>
            <br />

            @{
                string commaAmount = "";
                VmForDropDown dropDown = new VmForDropDown();
            }
            <div style="width: 100%;">
                <div id="viewparty0">
                    <h4>Opening</h4>
                    <div>

                        <table class="table table-bordered" style="width: 100%; font-size: 12px">
                            <tr class="trclass">
                                <td style="text-align: center"><strong>SL</strong></td>
                                <td style="text-align: center"><strong>Particulars</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><strong>1</strong></td>
                                <td style="text-align: left"><strong>&nbsp;Opening Balance</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            commaAmount = dropDown.NumberToComma(Model.OpeningBalanceIncome);
                                        }
                                        @commaAmount

                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <h4>Receipt</h4>
                    <div>

                        <table class="table table-bordered" style="width: 100%; font-size: 12px">
                            <tr class="trclass">
                                <td style="text-align: center"><strong>SL</strong></td>
                                <td style="text-align: center"><strong>Particulars</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            @{
                                decimal totalbalanceAsses = 0;
                                decimal totalreceiptbalance = 0;
                                totalbalanceAsses += Model.OpeningBalanceIncome;
                                var slAsses = 0;
                            }
                            @foreach (var item in Model.DataListIncome)
                            {
                                totalbalanceAsses += item.Balance;
                                totalreceiptbalance += item.Balance;
                                slAsses++;
                                <tr>
                                    <td style="text-align: center">@slAsses</td>
                                    <td style="text-align: left">&nbsp;@item.Name</td>
                                    <td style="text-align: right">
                                        @{
                                            commaAmount = dropDown.NumberToComma(item.Balance);
                                        }
                                        @commaAmount
                                    </td>
                                </tr>
                                            }


                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            commaAmount = dropDown.NumberToComma(totalreceiptbalance);
                                        }
                                        @commaAmount
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty1">
                    <h4>Payment</h4>
                    <div>
                        <table style="width: 100%; font-size: 12px" class="table table-bordered">
                            <tr class="trclass">
                                <td style="text-align: center"><strong>SL</strong></td>
                                <td style="text-align: center"><strong>Particulars</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            @*<tr>
                                    <td style="text-align: center"><strong>1</strong></td>
                                    <td style="text-align: left"><strong>&nbsp;Opening Balance</strong></td>
                                    <td style="text-align: right"><strong>@Model.OpeningBalanceExpenses</strong></td>
                                </tr>*@
                            @{
                                decimal totalbalanceliabilities = 0;
                                totalbalanceliabilities += Model.OpeningBalanceExpenses;
                                var slliabilitiess = 0;
                            }
                            @foreach (var item in Model.DataListExpenses)
                            {
                                totalbalanceliabilities += item.Balance;
                                slliabilitiess++;
                                <tr>
                                    <td style="text-align: center">@slliabilitiess</td>
                                    <td style="text-align: left">&nbsp;@item.Name</td>
                                    <td style="text-align: right">
                                        @{
                                            commaAmount = dropDown.NumberToComma(@item.Balance);
                                        }
                                        @commaAmount
                                    </td>
                                </tr>
                                            }
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            commaAmount = dropDown.NumberToComma(@totalbalanceliabilities);
                                        }
                                        @commaAmount
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
        <div class="row">
            <div class="col-md-12">
                <div style="width: 100%;">
                    <div id="viewparty3">
                        <h4>Closing Balance</h4>
                        <div>
                            <table style="width: 100%; font-size: 12px" class="table table-bordered">
                                <tr class="trclass">
                                    <td style="text-align: center"><strong>SL</strong></td>
                                    <td style="text-align: center"><strong>Particulars</strong></td>
                                    <td style="text-align: center"><strong>Balance</strong></td>
                                </tr>
                                @{
                                    decimal totalclosing = 0;
                                    int sl = 0;
                                }
                                @foreach (var item in Model.DataListClosingBalance)
                                {
                                    totalclosing += item.Balance;
                                    sl++;
                                    <tr>
                                        <td style="text-align: center">@sl</td>
                                        <td style="text-align: left">&nbsp;@item.Name</td>
                                        <td style="text-align: right">
                                            @{
                                                commaAmount = dropDown.NumberToComma(@item.Balance);
                                            }
                                            @commaAmount
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="text-align: right"></td>
                                    <td style="text-align: right"><strong>Total:</strong></td>
                                    <td style="text-align: right">
                                        <strong>
                                            @{
                                                commaAmount = dropDown.NumberToComma(@totalclosing);
                                            }
                                            @commaAmount
                                        </strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" style="width: 100%; font-size: 13px; font-weight:700">
                    <tr>
                        <td class="text-right">Total (Opening + Receipt)</td>
                        <td class="text-right">
                            @{
                                commaAmount = dropDown.NumberToComma(totalbalanceAsses);
                            }
                            @commaAmount
                        </td>
                        <td class="text-right">Total Payment</td>
                        <td class="text-right">
                            @{
                                commaAmount = dropDown.NumberToComma(totalbalanceliabilities);
                            }
                            @commaAmount
                        </td>
                    </tr>
                    <tr>

                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right">Closing Balance</td>
                        <td class="text-right">
                            @{
                                var balnsamt = totalbalanceAsses - totalbalanceliabilities;
                                commaAmount = dropDown.NumberToComma(balnsamt);
                            }
                            @commaAmount
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Grand Total</td>
                        <td class="text-right">
                            @{
                                commaAmount = dropDown.NumberToComma(totalbalanceAsses);
                            }
                            @commaAmount
                        </td>
                        <td class="text-right">Grand Total</td>
                        <td class="text-right">
                            @{
                                var grandtotal = balnsamt + totalbalanceliabilities;
                                commaAmount = dropDown.NumberToComma(grandtotal);
                            }
                            @commaAmount
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>
