﻿@model Oss.Romo.ViewModels.Account.VmAcc_POPH

@{
    Layout = "~/Views/Shared/_LayoutAcc.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create User  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Update User  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
           $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("User: Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>



<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
       Account Purhase Order Payment History : &nbsp;&nbsp;

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>AccPOPH</li>

    </ol>
</section>


<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_POPH.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_POPH.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_POPH.LC_D)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_POPH.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_POPH.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_POPH.LC_D)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                </td>
                                <td>
                                    @*@Html.ActionLink("MakePayment", "VmAcc_SupplierPHEdit", new { id = item.Common_Supplier.ID }, new { @class = "lnkCreate" }) &nbsp;*@
                                    @*@Html.ActionLink(".", "InventoryView", "Accounts", new { id = item.Mkt_PO.ID }, new { @class = "glyphicon glyphicon-collapse-down" })*@
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
































