﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
   
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Mobile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Mobile, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Email, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierPH.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierPH.Date, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierPH.Acc_SupplierPaymentFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierPH.Acc_SupplierPaymentFK, ViewBag.PaymentType as SelectList, "--Select Payment Type--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Acc_SupplierPaymentFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierPH.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_SupplierPH.Amount, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
  </div>
}


