﻿
@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}



<div class="hold-transition skin-blue">

    
    <!-- Main content -->
    <section id="page" class="invoice" style="min-height: 900px;">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Supplier Payment Ledger Outstanding Statement
                    <small class="pull-right">Date: @DateTime.Now.ToString("dd/MM/yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <hr />
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table id="example1" class="table table-striped">
                    <thead>
                        <tr style="border-bottom:2px solid black">
                            <th>SL</th>
                            <th>Supplier</th>
                            <th>Outstanding balance</th>
                            <th>Adjustment Value</th>
                            <th>Net Balance</th>

                        </tr>
                    </thead>
                    @{
                        int sl = 0;

                    }
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>@(++sl)</td>
                                <td>@item.Common_Supplier.Name</td>
                                <td style="text-align:right;">@item.Payable</td>
                                <td style="text-align:right;">@item.AdjustmentValue</td>

                                <td style="text-align:right;">@item.Balance</td>

                            </tr>

                        }
                    </tbody>
                  
                </table>
            </div>


            <!-- /.col -->
        </div>



        <!-- /.row -->
        <!-- /.row -->
        <!-- this row will not appear when printing -->

    </section>

    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
  
    <script>
        function printDiv() {
            window.print();
        }

    </script>
</div>


