﻿@model Oss.Romo.ViewModels.Account.VmAcc_AccExportRealisation
@{
    ViewBag.Title = "Export Realization";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div></div>
<div></div>
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 600,
            width: 900,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Export Realization:Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Export Realization:Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Export Realization:Delete ");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Cancel This Export Realization?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>


<section class="content-header">
    <h1>
        Export Realization: &nbsp;&nbsp;
        (&nbsp; <a href="VmAcc_AccExportRealisationCreate" id="lnkCreate" title="Export Realization Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)&nbsp;&nbsp;
        &nbsp; <a href="VmAcc_AccExportRealisationExpenseIndex" target="_blank" title="Export Realization By UD"><i class="glyphicon glyphicon-print"></i></a> &nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active"> Export Bill Realization</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-responsive jambo_table bulk_action" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.UdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Name)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BillNo)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FDBC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FDBCDate)
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BillValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.ValueDate)
                            </th>
                            <th>
                                $  @Html.DisplayNameFor(model => model.Acc_ExportRealisation.RealisedAmount)
                            </th>
                            <th>$ Short Amt</th>
                            <th>
                                $  @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FcbParAmt)
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.ERQAmt)
                            </th>
                            <th>
                                $ Balance
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.DollarValue)
                            </th>
                            <th>
                                Bal BDT
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FxTrading)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.PcAdjust)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BuyingCommission)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FdrAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.CourierExpense)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.RmgAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.AitAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.SodAcAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.CdAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.TimeLoanAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BillPurchase)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.DocHandlingCharge)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.Others)
                            </th>
                            <th>
                                BDT
                            </th>
                            <th>
                                Bal Tk
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Acc_ExportRealisation.IsFinal)
                                        {
                                            <b class="label label-primary">@(++sl).</b>
                                        }
                                        else
                                        {
                                            <b>@(++sl).</b>
                                        }
                                    }
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Commercial_UD.UdNo)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.Date)
                                </td>
                                <th>
                                    @Html.DisplayFor(model => item.Commercial_BillOfExchange.Name)
                                </th>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BillNo)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FDBC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FDBCDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BillValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.ValueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.RealisedAmount)
                                </td>
                                <td>
                                    @{
                                        var shortamt = item.Acc_ExportRealisation.BillValue - item.Acc_ExportRealisation.RealisedAmount;
                                    }
                                    @shortamt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FcbParAmt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.ERQAmt)
                                </td>
                                <td>
                                    @{
                                        var balanceamt = item.Acc_ExportRealisation.RealisedAmount - item.Acc_ExportRealisation.FcbParAmt - item.Acc_ExportRealisation.ERQAmt;
                                    }
                                    @balanceamt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.DollarValue)
                                </td>
                                <td>
                                    @{
                                        var balancebdt = item.Acc_ExportRealisation.DollarValue * balanceamt;
                                    }
                                    @balancebdt.ToString("0.00")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FxTrading)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.PcAdjust)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BuyingCommission)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FdrAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.CourierExpense)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.RmgAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.AitAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.SodAcAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.CdAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.TimeLoanAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BillPurchase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.DocHandlingCharge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.Others)
                                </td>
                                <td>
                                    @{
                                        var bdtamount = (item.Acc_ExportRealisation.FxTrading + item.Acc_ExportRealisation.PcAdjust + item.Acc_ExportRealisation.TimeLoanAmount +
                                                        item.Acc_ExportRealisation.BuyingCommission + item.Acc_ExportRealisation.FdrAmount +
                                                        item.Acc_ExportRealisation.CourierExpense + item.Acc_ExportRealisation.RmgAmount +
                                                        item.Acc_ExportRealisation.AitAmount + item.Acc_ExportRealisation.SodAcAmount +
                                                        item.Acc_ExportRealisation.CdAmount + item.Acc_ExportRealisation.BillPurchase + item.Acc_ExportRealisation.DocHandlingCharge +
                                                        item.Acc_ExportRealisation.Others);
                                    }
                                    @bdtamount
                                </td>
                                <td>
                                    @{
                                        var balance = balancebdt - bdtamount;
                                    }
                                    @balance.ToString("0.00")
                                </td>

                                <td class="text-center">

                                    @{
                                        if (item.Acc_ExportRealisation.IsFinal == false)
                                        {
                                            <span>
                                                @Html.ActionLink(".", "VmAcc_AccExportRealisationFinalized", new { id = item.Acc_ExportRealisation.ID }, new { @title = "Finalized", @class = "glyphicon glyphicon-ok" })&nbsp;
                                                @Html.ActionLink(".", "VmAcc_AccExportRealisationEdit", new { id = item.Acc_ExportRealisation.ID }, new { @title = "Export Realization Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                @Html.ActionLink(".", "VmAcc_AccExportRealisationDelete", new { id = item.Acc_ExportRealisation.ID }, new { @title = "Export Realization Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-success">Finalized</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
