﻿@model Oss.Romo.ViewModels.Account.VmAcc_BalanceSheet
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Balance Sheet Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>Balance Sheet Report As on  @Model.ToDate.ToString("yyyy-MM-dd")</h4>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <h4>Asset</h4>
                    <div>

                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <tr>
                                <td style="text-align: center"><strong>Name</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            @{
                                decimal totalbalanceAsses = 0;
                                var slAsses = 0;
                            }
                            @foreach (var item in Model.VmAcc_BalanceSheetListAsset)
                            {
                                slAsses++;
                                
                                <tr>
                                    <td style="text-align: left; font-weight: bold" colspan="3">@item.Name</td>
                                </tr>
                                foreach (var vmAccBalanceSheetReport in item.BalanceSheetHeadWiseList)
                                {
                                    totalbalanceAsses += vmAccBalanceSheetReport.Balance;
                                    <tr>
                                        <td style="text-align: left; padding-left: 30px;">&nbsp;@vmAccBalanceSheetReport.Name</td>
                                        <td style="text-align: right">@vmAccBalanceSheetReport.Balance</td>
                                    </tr>
                                }
                                
                            }


                            <tr>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right"><strong>@totalbalanceAsses</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty1">
                    <h4>Liabilities</h4>
                    <div>
                        <table style="width: 100%; font-size: 13px" class="table table-bordered table-condensed">
                            <tr>
                                <td style="text-align: center"><strong>Name</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            @{
                                decimal totalbalanceliabilities = 0;
                                totalbalanceliabilities += Model.OpeningBalanceExpenses;
                                var slliabilitiess = 0;
                            }
                            @foreach (var item in Model.VmAcc_BalanceSheetListLib)
                            {
                                slAsses++;
                                <tr>
                                    <td style="text-align: left; font-weight: bold" colspan="3">@item.Name</td>
                                </tr>
                                foreach (var vmAccBalanceSheetReport in item.BalanceSheetHeadWiseList)
                                {
                                    totalbalanceliabilities += vmAccBalanceSheetReport.Balance;
                                    <tr>
                                        <td style="text-align: left; padding-left: 30px;">&nbsp;@vmAccBalanceSheetReport.Name</td>
                                        <td style="text-align: right">@vmAccBalanceSheetReport.Balance</td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right"><strong>@totalbalanceliabilities</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <table class="" style="width: 100%; float: right; font-size: 16px; font-weight: 700">
                        <tr>
                            <td class="text-right">Total Asset</td>
                            <td class="text-right">:</td>
                            <td class="text-right">@totalbalanceAsses</td>
                        </tr>
                        <tr>
                            <td class="text-right">Total Liabilities</td>
                            <td class="text-right">:</td>
                            <td class="text-right">@totalbalanceliabilities</td>
                        </tr>
                        <tr>
                            <td class="text-right">Balance</td>
                            <td class="text-right">:</td>
                            <td class="text-right">@(totalbalanceAsses - totalbalanceliabilities)</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>
