﻿@model Oss.Romo.ViewModels.Account.VmAcc_JournalSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_JournalSlave.ID)
        @*@Html.HiddenFor(model => model.Acc_Chart1.ID)
        @Html.HiddenFor(model => model.Acc_Chart2.ID)
        @Html.HiddenFor(model => model.Acc_AcName.ID)
        @Html.HiddenFor(model => model.Acc_Type.ID)*@


        @Html.HiddenFor(model => model.Acc_JournalSlave.Acc_JournalFK)
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Type.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_TypeID, ViewBag.Acc_Type as SelectList, new { @id = "Acc_Type", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Type.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart1.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart1ID, ViewBag.Acc_Chart1 as SelectList, new { @id = "Acc_Chart1", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart1.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart2.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart2ID, ViewBag.Acc_Chart2 as SelectList, new { @id = "Acc_Chart2", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart2.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Acc_AcNameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_JournalSlave.Acc_AcNameFK, ViewBag.Acc_AcName as SelectList, new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Acc_AcNameFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Debit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Debit, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Debit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Credit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Credit, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Credit, "", new { @class = "text-danger" })
            </div>
        </div>
     
      <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>


    </div>
}
<script>
    $(function () {
        $("#Acc_Type").change(function () {
            var acc_Type = $("#Acc_Type").val();

            if (acc_Type != '') {
                document.getElementById("Acc_Chart1").innerHTML = "";

                $.get("../../Helper/GetAcc_TypeDD", { ID: acc_Type }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Acc_Chart1").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });

                    var acc_chart1 = $("#Acc_Chart1").val();
                    if (acc_chart1 != '') {
                        document.getElementById("Acc_Chart2").innerHTML = "";

                        $.get("../../Helper/GetAcc_Chart1DD", { ID: acc_chart1 }, function (data) {
                            $.each(data, function (index, row) {
                                $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });


                            var NameId = $("#Acc_Chart2").val();
                            //alert(NameId)
                            document.getElementById("Acc_AcName").innerHTML = "";

                            $.get("../../Helper/GetAcc_Chart2DD", { ID: NameId }, function (data) {
                                $.each(data, function (index, row) {
                                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                });

                                var NameId = $("#Acc_Chart2").val();
                                //alert(NameId)
                                document.getElementById("Acc_AcName").innerHTML = "";

                                $.get("../../Helper/GetAcc_Chart2DD", { ID: NameId }, function (data) {

                                    $.each(data, function (index, row) {
                                        $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });

                                });

                            });

                        });
                    }
                })


            }

            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });



    $(function () {
        $("#Acc_Chart1").change(function () {
            var acc_chart1 = $("#Acc_Chart1").val();

                    if (acc_chart1 != '') {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                        $.get("../../Helper/GetAcc_Chart1DD", { ID: acc_chart1 }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });


                            var NameId = $("#Acc_Chart2").val();
                            //alert(NameId)
                            document.getElementById("Acc_AcName").innerHTML = "";
                            $.get("../../Helper/GetAcc_Chart2DD", { ID: NameId }, function (data) {

                                $.each(data, function (index, row) {
                                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                });
                            });
                        });
                    }

            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });
    $(function () {
        $("#Acc_Chart2").change(function () {
            var NameId = $("#Acc_Chart2").val();
            //alert(NameId)
            document.getElementById("Acc_AcName").innerHTML = "";
            $.get("../../Helper/GetAcc_Chart2DD", { ID: NameId }, function (data) {

                $.each(data, function (index, row) {
                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        });

    });
    $('#Acc_Type').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_Chart1').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_Chart2').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_AcName').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
</script>