﻿@model Oss.Romo.ViewModels.Account.VmAcc_POPH

@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_POPH.Mkt_POFK)
        @Html.HiddenFor(model => model.Mkt_PO.ID)
        @Html.HiddenFor(model => model.Mkt_PO.Common_SupplierFK)
        @Html.HiddenFor(model => model.Common_Supplier.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.CID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Mobile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Mobile, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Common_Supplier.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_POPH.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_POPH.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_POPH.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6">
                <b>
                    Is Check Payment
                </b>
            </span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span>
                    Yes &nbsp;
                    @Html.RadioButtonFor(model => model.Acc_POPH.Ischeque, true, new { @class = "Ischeque" })
                    &nbsp;&nbsp;&nbsp;
                    No  &nbsp;
                    @Html.RadioButtonFor(model => model.Acc_POPH.Ischeque, false, new { @class = "Nocheque" })
                </span>
            </div>
        </div>
        <div class="form-group DocAmount">
            @Html.LabelFor(model => model.Acc_POPH.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_POPH.Amount, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_POPH.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ChequeValue" style="display:none">
            @Html.LabelFor(model => model.ChequeValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ChequeValue, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ChequeValue, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group b2bLCNo">
            @Html.LabelFor(model => model.Acc_POPH.LC_D, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_POPH.LC_D, ViewBag.b2bLc as SelectList, "---Select b2bL/c No---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_POPH.LC_D, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group IsChequePayment" style="display:none">
            @Html.LabelFor(model => model.ChequeNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">


                @Html.EditorFor(model => model.ChequeNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                <span>
                    Example: ACC21345(Bangladesh Bank)
                </span>
                @Html.ValidationMessageFor(model => model.ChequeNo, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="form-group">
            @Html.LabelFor(model => model.FinalPayment, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBoxFor(model => model.FinalPayment, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.FinalPayment, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="btncancel" class="btncancel btn btn-primary" />

            </p>
        </div>


    </div>
}
@{
    int sl = 0;
}
<div class="row">
    <div class="col-xs-12">


        <div class="box-body table-responsive no-padding">
            <table id="example1" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Acc_POPH.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Acc_POPH.Amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Acc_POPH.LC_D)
                        </th>


                        <th>

                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.DataList)
                    {
                        <tr>
                            <td><b>@(++sl).</b></td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Acc_POPH.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Acc_POPH.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Acc_POPH.LC_D)
                            </td>

                            <td></td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $(".Ischeque").click(function (e) {
            
            $(".IsChequePayment").show();
            $(".b2bLCNo").hide();
            $(".ChequeValue").show();
            $(".DocAmount").hide();
        })

        $(".Nocheque").click(function (e) {

            $(".IsChequePayment").hide();
            $(".b2bLCNo").show();
            $(".DocAmount").show();
            $(".ChequeValue").hide();
        })
    });
</script>