﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<div class="box">
    <div class="box-danger">
        <div class="box-header" style="background-color:#00CED1">
            <h4 style="text-align:center;">
                Cash/Cheque Payment.
            </h4>
        </div>
        <div class="box-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Acc_SupplierPH.Common_SupplierFK)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })

                            @Html.ValidationMessageFor(model => model.Common_Supplier.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Common_Supplier.Mobile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Common_Supplier.Mobile, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })

                            @Html.ValidationMessageFor(model => model.Common_Supplier.Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Common_Supplier.Email, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Common_Supplier.Email, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Common_Supplier.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Acc_SupplierPH.Date, new { htmlAttributes = new { @id = "DateControl", @readonly = "true", @class = "form-control  col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Acc_AcNameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6 " })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.DropDownListFor(model => model.Acc_SupplierPH.Acc_AcNameFK, ViewBag.Acc_AcName as SelectList, "---Select account head---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6 SerchingDropDown" })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Acc_AcNameFK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Acc_SupplierPH.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.ChequeVoucherNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Acc_SupplierPH.ChequeVoucherNo, new { htmlAttributes = new { @class = "form-control dropdown col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.ChequeVoucherNo, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group hidden">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Commercial_BankFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.DropDownListFor(model => model.Acc_SupplierPH.Commercial_BankFK, ViewBag.LienBank as SelectList, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Commercial_BankFK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.DropDownListFor(model => model.Acc_SupplierPH.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @id = "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Common_CurrencyFK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.DollarRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Acc_SupplierPH.DollarRate, new { htmlAttributes = new { @id = "CurrencyRate", @class = "form-control dropdown col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.DollarRate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Acc_SupplierPH.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Acc_SupplierPH.Amount, new { htmlAttributes = new { @class = "form-control dropdown col-md-6 col-xs-6", @placeholder = "Amount", @required = true } })
                            @Html.ValidationMessageFor(model => model.Acc_SupplierPH.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"></div>
                        <p style="margin-left:50px">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

                        </p>
                    </div>

                </div>
            }

          

        </div>
        <div class="box-footer" style="background-color:#FFF0F5;border:dotted">
            <div class="col-xs-12">


                <div class="box-body table-responsive no-padding">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_SupplierPH.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_SupplierPaymentType.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_SupplierPH.ChequeVoucherNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Lein_Bank.Name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_SupplierPH.Amount)
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>

                        </thead>



                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_SupplierPH.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_SupplierPaymentType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_SupplierPH.ChequeVoucherNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lein_Bank.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_SupplierPH.Amount)
                                    </td>

                                    <td>
                                        @{
                                            if (item.Acc_SupplierPH.IsApproved)
                                            {
                                                <label class="label-success">Approved</label>
                                            }
                                            else
                                            {
                                                <label class="label-warning">Not Approved</label>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }

                        </tbody>

                    </table>
                </div>

            </div>


        </div>

    </div>

</div>

<script>
    $(function () {
        $("#CurrencyType").change(function () {
            var currencyType = $("#CurrencyType").val();
            var date = $("#DateControl").val();
            //alert(supplierId);
            if (currencyType !== '') {
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
                $.get("../Helper/GetDateWiseCurrencyRate", { ID: currencyType, date: date }, function (data) {
                    document.getElementById("CurrencyRate").readOnly = false;
                    $("#CurrencyRate").val(data.CurrencyRate);
                    document.getElementById("CurrencyRate").readOnly = data.ReadOnly;
                });
            }
            else {
                document.getElementById("CurrencyRate").readOnly = false;
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
            }
            document.getElementById("StatusId").focus();
        });
        $("#DateControl").change(function () {
            $("#CurrencyType").trigger('change');
            document.getElementById("CurrencyType").focus();
        });
    });

</script>


