﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierPH

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Account Supplier Payment History";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 700,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-LedgerOne").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
         $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Make Payment  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })
        
        $(".lnkLedgerOne").click(function (e) {
            $(".ui-dialog-titlebar").html("L/C Opening Ledger <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-LedgerOne").dialog('open');
            return false;
        })
        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Cash/Cheque Payment   <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        })
        $(".lnkEditReceive").click(function (e) {
            $(".ui-dialog-titlebar").html("Cash/Cheque Receive   <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Make Payment Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-LedgerOne" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Supplier Ledger: &nbsp;&nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>  Supplier Ledger</li>

    </ol>
</section>


<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }
            @using (Html.BeginForm("VmAcc_SupplierPHIndex", "Accounts", new { id = "formcSupplierPHIndex", data_server = "true" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4 text-right">
                        <strong>Select Date</strong>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group date" data-datetimepicker="true">
                                <input type="text" name="DateSelect" value=@ViewBag.Date
                                       class="calendarControl form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group float-right">
                            <button type="submit" id="btnSubmit" class="btn btn-primary btn-cstm btn-flat "><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Submit</button>
                        </div>

                    </div>
                    <div class="col-md-3"></div>
                </div>
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Mobile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Address)
                            </th>
                            <th>
                                @Html.DisplayName("Allocation Due")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Payable)
                            </th>



                            <th style="width:100px">
                                Supplier Payment
                            </th>
                            <th style="width:100px">
                                Ledger
                            </th>

                        </tr>
                    </thead>
                    @{
                        decimal? totalDue = 0;
                        decimal? totalPayable = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            decimal? due = item.Due;
                            totalDue += due;
                            decimal? payable = item.Payable;
                            totalPayable += payable;
                            <tr>
                                <td><b>@(++Sl).</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Due)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Payable)
                                </td>
                                <td style="width:180px;border:solid;color:#F5F5DC">

                                    @Html.ActionLink("Received Goods", "POwiseGoodsReceived", new { id = item.Common_Supplier.ID }, new { @title = "You can see all goods quantity that already received in store", @class = "InlineBtn", @target = "_blank" })
                                    <br />
                                    @Html.ActionLink("Cash Receive", "VmAcc_SupplierReceiveHEdit", new { id = item.Common_Supplier.ID }, new { @target = "_blank", @title = "You can receive from supplier by cash or cheque through this link", @class = "InlineBtn" })

                                    <br />
                                    @Html.ActionLink("Document Payment", "OpenedBTBBySupplier", new { id = item.Common_Supplier.ID }, new { @title = "You can see all the BTB of this supplier & pay to supplier via BTB through this link", @class = "InlineBtn", @target = "_blank" })
                                    <br />
                                    @Html.ActionLink("Other Payment", "VmAcc_SupplierPHEdit", new { id = item.Common_Supplier.ID }, new { @target = "_blank", @title = "You can pay to supplier by cash or cheque through this link", @class = "InlineBtn" })
                                    <br />
                                    @Html.ActionLink("Supplier Adjustment", "VmAccSupplierAdjustment", new { id = item.Common_Supplier.ID }, new { @target = "_blank", @class = "InlineBtn" })

                                    @*@Html.ActionLink("L/C Alocation", "VmAcc_LCAlocationIndex", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn" })*@
                                </td>


                                <td style="width:180px;border:solid;color:#F5F5DC">


                                    @*@Html.ActionLink("Payment", "SupplierIndex", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn" })*@
                                    @*<br />*@
                                    @Html.ActionLink("L/C Opening Ledger", "VmLedger1LCallocation", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn", @target = "_blank" }) &nbsp;
                                    <br />
                                    @Html.ActionLink("PO Wise Supplier Liabilities", "VmLedgerSupplierLiabilities", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn", @target = "_blank" }) &nbsp;
                                    <br />
                                    @Html.ActionLink("Payment Ledger", "VmLedger2SupplierPayment", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn", @target = "_blank" })
                                    <br />
                                    @Html.ActionLink("Delete PO List", "VmDeletedPOList", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn", @target = "_blank" })
                                    <br />

                                    @*@Html.ActionLink("L/C Alocation", "VmAcc_LCAlocationIndex", new { id = item.Common_Supplier.ID }, new { @class = "InlineBtn" })*@
                                </td>
                            </tr>
                        }
                        @*@class = "glyphicon glyphicon-print"*@
                    </tbody>
                    <tfoot>
                        <tr style="">
                            <th></th>
                            <th colspan="4" style="border: solid;background-color:yellow; color:red;">Total</th>
                            <th id="popover1" title="Alocation Due" data-content="Total L/C Alocation Due is @totalDue" style="border: solid;background-color:yellow; color:red;">@totalDue</th>
                            <th id="popover2" title="Payable" data-content="Total Supplier Payable is @totalPayable" style="border: solid;background-color:yellow; color:red;">@totalPayable</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

    </div>

</div>

<style>
    .InlineBtn:hover {
        background-color: blue;
        color: white;
    }
</style>
<script>
    $(document).ready(function () {
        $("#popover1").mouseover().popover();
        $("#popover2").mouseover().popover();
    });
</script>


