﻿@model Oss.Romo.ViewModels.Account.VmAcc_Journal
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Journal";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
    

        var url = "";


        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
           show: {
               effect: "blind",
               duration: 1000
           },
           hide: {
               effect: "explode",
               duration: 1000
           },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Journal: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Journal: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Journal: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Journal:
        &nbsp;&nbsp;
        @*(&nbsp; @Html.ActionLink(".", "VmAcc_JournalCreate", "", new {@title= "Create Journal", @class = "lnkCreate glyphicon glyphicon-plus" })&nbsp;)*@
        (&nbsp; <a href="VmAcc_JournalCreate" id="lnkCreate" title="Journal Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
        
       
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Journal
        </li>
    </ol>
</section>

<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }
            @using (Html.BeginForm("VmAcc_JournalIndex", "Accounts", new { id = "VmAcc_JournalIndex", data_server = "true" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4 text-right">
                        <strong>Select Date</strong>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group date" data-datetimepicker="true">
                                <input type="text" name="DateSelect" value=@ViewBag.TransactionDate
                                       class="calendarControl form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group float-right">
                            <button type="submit" id="btnSubmit" class="btn btn-primary btn-cstm btn-flat "><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Submit</button>
                        </div>

                    </div>
                    <div class="col-md-3"></div>
                </div>
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Journal.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Journal.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Journal.Date)
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Journal.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Journal.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Journal.Date, "{0:yyyy/MM/dd}")
                                </td>
                                <td>
                                    @{
                                        if (item.Acc_Journal.isFinal)
                                        {
                                            <span class="label label-success">Finalized</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Not Finalized</span>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmAcc_JournalEdit", new { id = item.Acc_Journal.ID }, new { @title = "Journal Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                    @Html.ActionLink(".", "VmAcc_JournalDelete", new { id = item.Acc_Journal.ID }, new { @title = "Journal Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                    @Html.ActionLink(".", "Acc_JournalSlave", new { id = item.Acc_Journal.ID }, new { @title = "Journal Details", @target = "_blank", @class = "glyphicon glyphicon-zoom-in" }) &nbsp;
                                   
                                   
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>



