﻿@model Oss.Romo.ViewModels.Account.VmAcc_AccExportRealisationExpense
@{
    ViewBag.Title = "VmAcc_AccExportRealisationExpenseCreate";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm("VmAcc_AccExportRealisationExpenseCreate", "Accounts", FormMethod.Post, new { id = "VmAcc_AccExportRealisationExpenseCreate", data_server = "true" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h5 class="text-center">Export Realisation Expense Create</h5>
        <hr />
        @Html.HiddenFor(model => model.Acc_ExportRealisationExpense.Acc_ExportRealisationFK)
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_ExportRealisationExpense.Acc_AcNameFK, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Acc_ExportRealisationExpense.Acc_AcNameFK, ViewBag.ExportRealisationExpName as SelectList, "---Select Expense Name---", new { @id = "Acc_AcNameFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_ExportRealisationExpense.Acc_AcNameFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_ExportRealisationExpense.Percent, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_ExportRealisationExpense.Percent, new { htmlAttributes = new { @class = "form-control", id= "Percent", @placeholder = "Dollar value in taka" } })
                @Html.ValidationMessageFor(model => model.Acc_ExportRealisationExpense.Percent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_ExportRealisationExpense.TotalAmount, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_ExportRealisationExpense.TotalAmount, new { htmlAttributes = new { @class = "form-control", id= "TotalAmount", @placeholder = "Bill Value in dollar" } })
                @Html.ValidationMessageFor(model => model.Acc_ExportRealisationExpense.TotalAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left: 50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}


<script>
    $('#Acc_AcNameFK').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {

        });
    $('#Percent').on('change',function(e) {
        var percent = $('#Percent').val();
        var realistionId = @Html.Raw(Json.Encode(Model.Acc_ExportRealisationExpense.Acc_ExportRealisationFK));
        $.ajax({
            type: "post",
            url: "@Url.Action("GetRealisationPercentValue", "Helper")",
            data: { realistionId: realistionId, percent: percent},
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data);
                $('#TotalAmount').val(data.realisationpercentamtbdt.toFixed(2));
                $("#TotalAmount").blur();
                if ($('#TotalAmount').val() === "") {
                    $("#TotalAmount").focus();
                }
            }
        });
    });
</script>
