﻿@model Oss.Romo.ViewModels.Account.VmAcc_LCAlocation

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "LC Alocation";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
   
        var url = "";

        $("#dialog-edit").dialog({

            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Acc_LCAlocation: <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Acc_LCAlocation <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Acc_LCAlocation.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Supplier Information : @*@Html.DisplayFor(x => x.Common_Supplier.ID)*@



    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Accounts/SupplierIndex">Supplier Information</a></li>
        @*<li class="active">@Html.DisplayFor(x => x.Common_Supplier.ID)</li>*@
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Common_Supplier.ID)

        <div class="box">
            <div class="box-body">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                           
                        </h3>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Address)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Address)">
                            </div>


                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Mobile)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Mobile)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Email)</span>
                                <input style="width:320px;" class="form-control" readonly="readonly" value="@Html.DisplayTextFor(x => x.Common_Supplier.Email)">
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
                <section>
                    <h3>
                        Acc_LCAlocation 

                        (&nbsp; <a href="~/Accounts/VmAcc_LCAlocationCreate/@Model.Common_Supplier.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                       

                    </h3>
                </section>

                <div class="table-responsive">
                    @{
                        int sl = 0;
                    }
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_LCAlocation.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_LCAlocation.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Acc_LCAlocation.Value)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                                </th>
                                 <th>
                                  Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td><b>@(++sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_LCAlocation.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_LCAlocation.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_LCAlocation.Value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)
                                    </td>

                                    <td>
                                        @Html.ActionLink(".", "VmAcc_LCAlocationEdit", new { id = item.Acc_LCAlocation.ID +"x" + Model.Common_Supplier.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                       

                                        @Html.ActionLink(".", "VmAcc_LCAlocationDelete", new { id = item.Acc_LCAlocation.ID + "x" + Model.Common_Supplier.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                        @*@Html.ActionLink(".", "VmAccountingview", new { id = item.Acc_AcName.ID }, new { @class = "glyphicon glyphicon-zoom-in" })*@
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







