﻿@model Oss.Romo.ViewModels.Account.VmAcc_LCAlocation

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_LCAlocation.ID)
        @Html.HiddenFor(model => model.Common_Supplier.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_LCAlocation.Mkt_POFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_LCAlocation.Mkt_POFK, ViewBag.Mkt_PO as SelectList, "--Select Mkt_PO--", new { @*@id = "Acc_Type",*@ @class = "form-control dropdown ol-md-6 col-xs-6"})
                @Html.ValidationMessageFor(model => model.Acc_LCAlocation.Mkt_POFK, "", new { @class = "text-danger" })
            </div>
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_LCAlocation.Commercial_MasterLCFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_LCAlocation.Commercial_MasterLCFK, ViewBag.Commercial_MasterLC as SelectList, "--Select Commercial_MasterLC--", new{ @*@id = "Acc_Chart1",*@ @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_LCAlocation.Commercial_MasterLCFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_LCAlocation.Value, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_LCAlocation.Value, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_LCAlocation.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_LCAlocation.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_LCAlocation.Date, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_LCAlocation.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_LCAlocation.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_LCAlocation.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_LCAlocation.Description, "", new { @class = "text-danger" })
            </div>
        </div>

   <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>


    </div>
}















