﻿@model Oss.Romo.ViewModels.Account.VmAcc_IncomeStatement
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Income Statement Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #525659;">

    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>

    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>Income Statement Report From @Model.FromDate.ToString("yyyy-MM-dd") To @Model.ToDate.ToString("yyyy-MM-dd")</h4>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>

                        <table class="table table-bordered" style="width: 100%; font-size: 13px">
                            <tr class="trclass">
                                <td style="text-align: center"><strong>SL</strong></td>
                                <td style="text-align: center"><strong>Name</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><strong>1</strong></td>
                                <td style="text-align: left"><strong>&nbsp;Opening Balance</strong></td>
                                <td style="text-align: right"><strong>@Model.OpeningBalanceIncome</strong></td>
                            </tr>
                            @{
                                decimal totalbalanceincome = 0;
                                totalbalanceincome += Model.OpeningBalanceIncome;
                                var slincome = 1;
                            }
                            @foreach (var item in Model.DataListIncome)
                            {
                                totalbalanceincome += item.Balance;
                                slincome++;
                                <tr>
                                    <td style="text-align: center">@slincome</td>
                                    <td style="text-align: left">&nbsp;@item.Name</td>
                                    <td style="text-align: right">@item.Balance</td>
                                </tr>
                            }


                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right"><strong>@totalbalanceincome</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <table class="" style="width: 100%; float: right; font-size: 16px; font-weight: 700">
                        <tr>
                            <td class="text-right">Total Income</td>
                            <td class="text-right">:</td>
                            <td class="text-right">@totalbalanceincome</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>
