﻿@model Oss.Romo.ViewModels.Account.VmAcc_AccExportRealisation
@{
    ViewBag.Title = "VmAcc_AccExportRealisationCreate";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("VmAcc_AccExportRealisationEdit", "Accounts", FormMethod.Post, new { id = "VmAcc_AccExportRealisationEdit", data_server = "true" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Export Realisation Create</div>
                    @Html.HiddenFor(model => model.Acc_ExportRealisation.ID)
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Commercial_UD.UdNo, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.Commercial_UDSlave.Commercial_UDFK, ViewBag.UdNo as SelectList, "---Select L/C No---", new { @id = "Commercial_UDFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                                        @Html.ValidationMessageFor(model => model.Commercial_UD.UdNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Commercial_MasterLC.Name, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.Commercial_MasterLC.ID, ViewBag.MasterLC as SelectList, "---Select L/C No---", new { @id = "Commercial_MasterLCFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                                        @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.Shipment_BillOfExchangeFK, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.Acc_ExportRealisation.Shipment_BillOfExchangeFK, ViewBag.BillOfExchange as SelectList, "---Select L/C No---", new { @id = "Shipment_BillOfExchangeFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.Shipment_BillOfExchangeFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.Date, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.Date, new { htmlAttributes = new { @class = "form-control", @readonly="true", @id = "Date", @placeholder = "Select Date" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.FDBC, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.FDBC, new { htmlAttributes = new { @class = "form-control", @placeholder = "Write FDBC No" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.FDBC, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.BillNo, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.BillNo, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @id = "BillNo", @placeholder = "Write Bill No" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.BillNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.FDBCDate, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.FDBCDate, new { htmlAttributes = new { @class = "calendarControl form-control", @placeholder = "Select FDBC Date" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.FDBCDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.BillValue, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.BillValue, new {htmlAttributes = new {@class = "form-control", @placeholder = "Bill Value in dollar"}})
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.BillValue, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.ValueDate, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.ValueDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bill Value in dollar" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.ValueDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.RealisedAmount, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.RealisedAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Realised Amount in dollar" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.RealisedAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Acc_ExportRealisation.FcbParAmt, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Acc_ExportRealisation.FcbParAmt, new { htmlAttributes = new { @class = "form-control", @placeholder = "FCBPAR Amount in dollar" } })
                                        @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.FcbParAmt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.ERQAmt, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left;" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.ERQAmt, new { htmlAttributes = new { @class = "form-control", @placeholder = "ERQ Amount in dollar" } })
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.ERQAmt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.DollarValue, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.DollarValue, new {htmlAttributes = new {@class = "form-control", @placeholder = "Dollar value in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.DollarValue, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.FxTrading, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.FxTrading, new {htmlAttributes = new {@class = "form-control", @placeholder = "Fx Trading Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.FxTrading, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.PcAdjust, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.PcAdjust, new {htmlAttributes = new {@class = "form-control", @placeholder = "Pc Adjust Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.PcAdjust, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.BuyingCommission, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.BuyingCommission, new {htmlAttributes = new {@class = "form-control", @placeholder = "Buying Commission Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.BuyingCommission, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.FdrAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.FdrAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "FDR Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.FdrAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.CourierExpense, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.CourierExpense, new {htmlAttributes = new {@class = "form-control", @placeholder = "Courier Expense Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.CourierExpense, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.RmgAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.RmgAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "RMG Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.RmgAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.AitAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.AitAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "AIT Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.AitAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.SodAcAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.SodAcAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "SOD Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.SodAcAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.CdAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.CdAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "CD Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.CdAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.TimeLoanAmount, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.TimeLoanAmount, new {htmlAttributes = new {@class = "form-control", @placeholder = "CD Amount in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.TimeLoanAmount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.BillPurchase, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.BillPurchase, new {htmlAttributes = new {@class = "form-control", @placeholder = "Bill purchase in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.BillPurchase, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.DocHandlingCharge, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.DocHandlingCharge, new {htmlAttributes = new {@class = "form-control", @placeholder = "Doc Handling Charge in taka" } })
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.DocHandlingCharge, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Acc_ExportRealisation.Others, htmlAttributes: new {@class = "control-label col-md-12", @style = "text-align: left;"})
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Acc_ExportRealisation.Others, new {htmlAttributes = new {@class = "form-control", @placeholder = "Others in taka"}})
                                    @Html.ValidationMessageFor(model => model.Acc_ExportRealisation.Others, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-2"></div>
            <p style="margin-left: 50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}


<script>
    window.onload = function () {
        $('#BillNo').prop('readonly', false);
        $('#Date').prop('readonly', false);
    };
    $('#Commercial_UDFK').select2().on("select2-selecting",
        function (e) {

        }).on("change", function (e) {
            var udid = $("#Commercial_UDFK").val();

            //alert(acc_typeId);
            if (udid !== '') {
                document.getElementById("Commercial_MasterLCFK").innerHTML = "";
                $.get("../Helper/GetMasterLCByUDNo", { id: udid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Commercial_MasterLCFK")
                            .append("<option selected='selected' value='" + row.Value + "'>" + row.Text + "</option>");
                    });
                    var masterlc = $("#Commercial_MasterLCFK").val();
                    //alert(acc_chart1);
                    if (masterlc !== '') {
                        document.getElementById("Shipment_BillOfExchangeFK").innerHTML = "";
                        $.get("../Helper/GetBillOfExchangeByMasterLC", { ID: masterlc }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Shipment_BillOfExchangeFK").append("<option selected='selected' value='" +
                                    row.Value +
                                    "'>" +
                                    row.Text +
                                    "</option>");
                            });
                            $('#Shipment_BillOfExchangeFK').trigger('change');
                        });

                        $("#Commercial_MasterLCFK").change(function () {
                            var masterlc = $("#Commercial_MasterLCFK").val();
                            // alert(acc_chart2);

                            if (masterlc !== '') {
                                document.getElementById("Shipment_BillOfExchangeFK").innerHTML = "";
                                $.get("../Helper/GetBillOfExchangeByMasterLC", { ID: masterlc }, function (data) {
                                    document.getElementById("Acc_Chart2").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Shipment_BillOfExchangeFK").append("<option selected='selected' value='" +
                                            row.Value +
                                            "'>" +
                                            row.Text +
                                            "</option>");
                                    });
                                    $('#Shipment_BillOfExchangeFK').trigger('change');
                                });
                            }
                            else {
                                document.getElementById("Acc_Chart2").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    $('#Commercial_MasterLCFK').select2().on("select2-selecting",
        function (e) {

        }).on("change", function (e) {
            var masterlc = $("#Commercial_MasterLCFK").val();
            if (masterlc !== '') {
                document.getElementById("Shipment_BillOfExchangeFK").innerHTML = "";
                $.get("../Helper/GetBillOfExchangeByMasterLC", { id: masterlc }, function (data) {
                    document.getElementById("Shipment_BillOfExchangeFK").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Shipment_BillOfExchangeFK").append("<option selected='selected' value='" +
                            row.Value +
                            "'>" +
                            row.Text +
                            "</option>");
                    });
                    $('#Shipment_BillOfExchangeFK').trigger('change');
                });
            }
            else {
                document.getElementById("Acc_Chart2").innerHTML = "";
            }
        });
    $('#Shipment_BillOfExchangeFK').select2().on("select2-selecting",
        function (e) {

        }).on("change", function (e) {
            var biilofexid = $("#Shipment_BillOfExchangeFK").val();
            if (biilofexid !== '') {
                $.get("../Helper/GetBillOfExchangeData",
                    { id: biilofexid },
                    function (data) {
                        console.log(data);
                        var d = new Date(data.Date);
                        console.log(d);
                        $('#BillNo').prop('readonly', false);
                        $('#Date').prop('readonly', false);
                        $("#BillNo").val(data.Name);
                        $("#Date").val(data.Date);
                        $('#BillNo').prop('readonly', true);
                        $('#Date').prop('readonly', true);
                        //$.each(data,
                        //    function (index, row) {
                        //        $("#Shipment_BillOfExchangeFK").append("<option selected='selected' value='" +
                        //            row.Value +
                        //            "'>" +
                        //            row.Text +
                        //            "</option>");
                        //    });
                    });
            }
        });
</script>