﻿@model Oss.Romo.ViewModels.Account.VmAcc_JournalSlave
@{
    ViewBag.Title = "Credit";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm("VmAcc_JournalSlaveCreate", "Accounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Acc_JournalSlave.Acc_JournalFK)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Acc_Journal.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Journal.Date, new { htmlAttributes = new { @id = "Date", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Journal.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart1.Acc_TypeFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart1.Acc_TypeFK, ViewBag.Acc_Type as SelectList, "--Select Acc_Type--", new { @id = "Acc_Type", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart1.Acc_TypeFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart2.Acc_Chart1FK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart2.Acc_Chart1FK, ViewBag.Acc_Chart1 as SelectList, "--Select Acc_Chart1--", new { @id = "Acc_Chart1", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart2.Acc_Chart1FK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_AcName.Acc_Chart2FK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_AcName.Acc_Chart2FK, ViewBag.Acc_Chart2 as SelectList, "--Select Acc_Chart2--", new { @id = "Acc_Chart2", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_AcName.Acc_Chart2FK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Acc_AcNameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_JournalSlave.Acc_AcNameFK, ViewBag.Acc_AcName as SelectList, "---Select Acc_AcName---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Acc_AcNameFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.CurrencyType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_JournalSlave.CurrencyType, ViewBag.CurrencyList as SelectList, "---Select Currency Type---", new { @id = "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.CurrencyType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.CurrencyRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.CurrencyRate, new { htmlAttributes = new { @readonly = "true", @id = "CurrencyRate", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.CurrencyRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Description, new { htmlAttributes = new { @id= "Description", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Acc_JournalSlave.Debit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Debit, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Debit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_JournalSlave.Credit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_JournalSlave.Credit, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_JournalSlave.Credit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}
<script>
    $(function () {
        $("#Acc_Type").change(function () {
            var acc_Type = $("#Acc_Type").val();

            if (acc_Type != '') {
                document.getElementById("Acc_Chart1").innerHTML = "";
                $.get("../../Helper/GetAcc_Chart1DD", { ID: acc_Type }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Acc_Chart1").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var acc_chart1 = $("#Acc_Chart1").val();

                    if (acc_chart1 != '') {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                        $.get("../../Helper/GetAcc_Chart2DD", { ID: acc_chart1 }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });


                            var NameId = $("#Acc_Chart2").val();
                            //alert(NameId)
                            document.getElementById("Acc_AcName").innerHTML = "";
                            $.get("../../Helper/GetAcc_NameDD", { ID: NameId }, function (data) {

                                $.each(data, function (index, row) {
                                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                });
                            });
                        });
                    }
                })


            }

            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });

    $(function () {
        $("#Acc_Chart1").change(function () {
            var acc_chart1 = $("#Acc_Chart1").val();

                    if (acc_chart1 != '') {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                        $.get("../../Helper/GetAcc_Chart2DD", { ID: acc_chart1 }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });


                            var NameId = $("#Acc_Chart2").val();
                            //alert(NameId)
                            document.getElementById("Acc_AcName").innerHTML = "";
                            $.get("../../Helper/GetAcc_NameDD", { ID: NameId }, function (data) {

                                $.each(data, function (index, row) {
                                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                });
                            });
                        });
                    }

            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });
    $(function () {
        $("#Acc_Chart2").change(function () {
            var NameId = $("#Acc_Chart2").val();
            //alert(NameId)
            document.getElementById("Acc_AcName").innerHTML = "";
            $.get("../../Helper/GetAcc_NameDD", { ID: NameId }, function (data) {

                $.each(data, function (index, row) {
                    $("#Acc_AcName").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        });

    });

    $("#CurrencyType").change(function () {
        var currencyType = $("#CurrencyType").val();
        var date = $("#Date").val();
        //alert(supplierId);
        if (currencyType !== '') {
            document.getElementById("CurrencyRate").innerHTML = "1";
            document.getElementById("CurrencyRate").readOnly = true;
            $.get("../../Helper/GetDateWiseCurrencyRate", { ID: currencyType, date: date }, function (data) {
                document.getElementById("CurrencyRate").readOnly = false;
                $("#CurrencyRate").val(data.CurrencyRate);
                document.getElementById("CurrencyRate").readOnly = data.ReadOnly;
            });
        }
        else {
            document.getElementById("CurrencyRate").readOnly = false;
            document.getElementById("CurrencyRate").innerHTML = "1";
            document.getElementById("CurrencyRate").readOnly = true;
        }
        document.getElementById("Description").focus();
    });
    $("#Date").change(function () {
        $("#CurrencyType").trigger('change');
        document.getElementById("Description").focus();
    });

    $('#Acc_Type').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_Chart1').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_Chart2').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_AcName').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
</script>



