﻿@model Oss.Romo.ViewModels.Account.VmAcc_Expenses_History


@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_Expenses_History.ID)
        @Html.HiddenFor(model => model.Acc_Expenses_History.IsIncome)

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.Date, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Acc_Expenses_History.IsIncome == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Acc_Expenses_History.To_Acc_NameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Acc_Expenses_History.To_Acc_NameFK, ViewBag.Acc_AcName as SelectList, "---Select Acc_AcName---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Acc_Expenses_History.To_Acc_NameFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Acc_Expenses_History.From_Acc_NameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Acc_Expenses_History.From_Acc_NameFK, ViewBag.Acc_AcName as SelectList, "---Select Acc_AcName---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Acc_Expenses_History.From_Acc_NameFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.Amount, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Common_Currency.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Expenses_History.Common_CurrencyFK, ViewBag.Currency as SelectList, "--Select Currency--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Common_Currency.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.InstrumentNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.InstrumentNo, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.InstrumentNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.Referance, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.Referance, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.Referance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.Note, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.Note, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.Note, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Acc_Expenses_History.IsIncome == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Acc_Expenses_History.From_Acc_NameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Acc_Expenses_History.From_Acc_NameFK, ViewBag.Acc_AcName as SelectList, "---Select Acc_AcName---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Acc_Expenses_History.From_Acc_NameFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Acc_Expenses_History.To_Acc_NameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Acc_Expenses_History.To_Acc_NameFK, ViewBag.Acc_AcName as SelectList, "---Select Acc_AcName---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Acc_Expenses_History.To_Acc_NameFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }


        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Expenses_History.Comment, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_Expenses_History.Comment, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_Expenses_History.Comment, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>
    $('#Acc_AcName').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
    $('#Acc_Expenses_History_To_Acc_NameFK').select2().on("select2-selecting",
        function (e) { }).on("change", function (e) { });
</script>