﻿@model Oss.Romo.ViewModels.Account.VmAccounting

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Account View";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>


@{
    Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];

}
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-active-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html(" <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html(" <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(": Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".linkActiveEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("<button type='button' style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-active-edit").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>
<div id="dialog-active-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Account Report:
        &nbsp;&nbsp;

    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Account Report
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body table-responsive">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerAC" class="lnkEdit btn btn-primary btn-flat">Ledger of Account Head</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerCashBook" class="lnkEdit btn btn-primary btn-flat">Cash Book</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerBankBook" class="lnkEdit btn btn-primary btn-flat">Bank Book</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerLoanBook" class="lnkEdit btn btn-primary btn-flat">Loan Statement</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerofCat2" class="lnkEdit btn btn-primary btn-flat">Chart 2 Ledger</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmLedgerofCat1" class="lnkEdit btn btn-primary btn-flat">Chart 1 Ledger</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmAcc_TrialBalance" class="lnkEdit btn btn-primary btn-flat">Trail Balance</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmIncomeStatement" class="lnkEdit btn btn-primary btn-flat">Income Statement</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmAcc_ExpenseStatement" class="lnkEdit btn btn-primary btn-flat">Expense Statement</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmAcc_AssetStatement" class="lnkEdit btn btn-primary btn-flat">Asset Statement</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 20px;width:100%" target="_blank" href="~/Accounts/VmLedgerReceivePayment" class="lnkEdit btn btn-primary btn-flat">Receipt Payment(Part View Ledger)</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmReceiptPayment" class="lnkEdit btn btn-primary btn-flat">Receipt Payment</a>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmProfitLossAccount" class="lnkEdit btn btn-primary btn-flat">P/L Statement</a>
                        </div>
                        <div class="col-md-3">
                            <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmBalanceSheet" class="lnkEdit btn btn-primary btn-flat">Balance Sheet</a>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                </div>
                <hr />

                @{
                    if (!MvcApplication.IsReleased)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <a style="padding:2px 50px;width:100%" target="_blank" href="~/Accounts/VmJournalReport" class="lnkEdit btn btn-primary btn-flat">Journal Report</a>
                                </div>
                                <div class="col-md-3">
                                    <a style="padding:2px 50px;width:100%" target="_blank" href="~/Commercial/ImportReport" class="lnkEdit btn btn-primary btn-flat">Import Status Report</a>
                                </div>
                                <div class="col-md-3">
                                    <a style="padding:2px 50px;width:100%" target="_blank" href="~/Common/MarchandierOrderViewReport/@user.User_User.ID" class="lnkEdit btn btn-primary btn-flat">Order View</a>
                                </div>
                                <div class="col-md-3">
                                    <a style="padding:2px 50px;width:100%" target="_blank" href="~/Store/OrderInventory" class="btn btn-primary btn-flat">Report1</a>
                                </div>
                            </div>
                        </div>
                        <hr />

                    }
                }
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

