﻿@model Oss.Romo.ViewModels.Account.VmAcc_Chart1

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Acc_Chart1";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
  
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Accounts Chart-1: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Accounts Chart-1: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Accounts Chart-1: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Accounts Chart-1:
        &nbsp;&nbsp;
        (&nbsp; <a href="VmAcc_Chart1Create" id="lnkCreate"title="Accounts Chart-1 Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Accounts Chart1
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_Type.Name)
                            </th>
                            <th >
                                @Html.DisplayNameFor(model => model.Acc_Chart1.Name)
                            </th>

                           <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_Type.Name)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Acc_Chart1.Name)
                                </td>
                              
                           @if (item.Acc_Chart1.Editable != false)
                           {
                                  <td>
                                  
                                    @Html.ActionLink(".", "VmAcc_Chart1Edit", new { id = item.Acc_Chart1.ID }, new { @title = "Accounts Chart-1 Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                    @Html.ActionLink(".", "VmAcc_Chart1Delete", new { id = item.Acc_Chart1.ID }, new { @title = "Accounts Chart-1 Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                  
                                </td>
                           }
                           else
                           {
                               
                               <td>
                                  
                                   @Html.ActionLink(".", "VmAcc_Chart1Edit", new { id = item.Acc_Chart1.ID }, new { @title = "Accounts Chart-1 Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                   @Html.ActionLink(".", "VmAcc_Chart1Delete", new { id = item.Acc_Chart1.ID }, new { @title = "Accounts Chart-1 Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                  
                               </td>
                               @*<td>
                                   <span title="Not Editable" class="btn-success" style="padding:2px; border-radius:2px">
                                       <i>
                                           System account
                                       </i>
                                   </span>
                                    
                               </td>*@
                           }

                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

