﻿@using Oss.Romo.ViewModels.Common
@model Oss.Romo.ViewModels.Account.VmAcc_Transaction
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voucher Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        .voucherHeader {
            border: 1px solid #000000;
            border-radius: 10px;
            background-color: #c0c0c0;
            font-weight: 700
        }

        @@media print {
            .voucherHeader {
                border: 1px solid #000000 !important;
                border-radius: 10px;
                background-color: #c0c0c0 !important;
                font-weight: 700
            }

            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div>

            @*-----------------Report Header-----------------*@

            <div class="text-center">

                <div class="row">
                    <div>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 30%"></td>
                                <td style="width: 40%">
                                    <h3 class="voucherHeader">
                                        @{
                                            var vouchertype = "";
                                            if (Model.SingleData.Acc_Transaction.TransactionType == "Cash Payment" || Model.SingleData.Acc_Transaction.TransactionType == "Bank Withdraw")
                                            {
                                                vouchertype = "Debit";
                                            }
                                            else
                                            {
                                                vouchertype = "Credit";
                                            }
                                        }
                                        @vouchertype  Voucher
                                    </h3>
                                </td>
                                <td style="width: 30%; text-align: right;">
                                    <strong>DATE: @Model.SingleData.Acc_Transaction.Date.ToString("dd-MM-yyyy")</strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 20%">
                                    <img style="width: 130px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                                </td>
                                <td style="width: 60%; vertical-align: top">
                                    <h2 style="font-weight: 800; font-family: initial;">
                                        ROMO Fashion Today Limited
                                    </h2>
                                    <p style="margin: -10px 0 10px;">Vannera Road, Mouchak, Kaliakoir, Gazipur, Bangladesh.</p>
                                </td>
                                <td style="width: 20%;">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="text-align: right;width: 60%"><strong>Voucher No. </strong></td>
                                            <td style="text-align: center; width: 40%; border-bottom: 1px solid #000000">
                                                @Model.SingleData.Acc_Transaction.VoucherNo
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
            <div style="padding:10px 0 10px 0">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 2%">
                                <strong>A/C</strong>
                            </td>
                            <td style="width: 98%; border-bottom: 1px solid #000000">
                                &nbsp;&nbsp;&nbsp;
                                <strong>
                                    @{
                                        if (vouchertype == "Credit")
                                        {
                                            <span>@Model.SingleData.Acc_AcNameCr.Name</span>
                                        }
                                        else
                                        {
                                            <span>@Model.SingleData.Acc_AcNameDr.Name</span>
                                        }
                                    }
                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            @{
                VmForDropDown dropDown = new VmForDropDown();
                var inword=dropDown.NumberToWords(Model.SingleData.Acc_Transaction.Amount, CurrencyType.BDT);
                var commaAmount = dropDown.NumberToComma(Model.SingleData.Acc_Transaction.Amount);
            }

            <div>
                <table style="width: 100%" cellspacing="0" rules="all" border="1">
                    <tr>
                        <th style="width: 65%; text-align: center">Particulars</th>
                        <th style="width: 15%; text-align: center">Code</th>
                        <th style="width: 20%; text-align: center">Taka</th>
                    </tr>
                    <tr>
                        <td>Being the amount of @Model.SingleData.Acc_Transaction.TransactionType against</td> 
                        <td></td>
                        <td style="text-align: right">
                            @commaAmount
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            @{
                                if (vouchertype == "Credit")
                                {
                                    <span>@Model.SingleData.Acc_AcNameDr.Name</span>
                                }
                                else
                                {
                                    <span>@Model.SingleData.Acc_AcNameCr.Name</span>
                                }
                                var checkno = "";
                                if (Model.SingleData.Acc_Transaction.ChequeNo != null)
                                {
                                    checkno = " and check no. "+ Model.SingleData.Acc_Transaction.ChequeNo;
                                }
                            }
                            @checkno as per @Model.SingleData.Acc_Transaction.Description
                        </td>
                        <td style="text-align: center"></td>
                        <td style="text-align: right"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: right">Total Tk.</td>
                        <td style="text-align: right">
                           
                            @commaAmount
                        </td>
                    </tr>
                </table>
            </div>



            <div style="padding:10px 0 10px 0">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 12%">
                                <strong>Taka in Words :</strong>
                            </td>
                            <td style="width: 88%; border-bottom: 1px solid #000000">
                                <strong>@inword</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="padding:50px 0 20px 0">
                <div>
                    <table style="width: 100%; text-align: center">
                        <tr>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Prepared By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Accountant</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Checked By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Approved By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Received By</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
