﻿@model Oss.Romo.ViewModels.Account.VmAcc_AcName

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Acc_AcName.ID)
        @Html.HiddenFor(model => model.Acc_AcName.Code)
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Type.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_TypeID, ViewBag.Acc_Type as SelectList, new { @id = "Acc_Type", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Type.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Chart1.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_Chart1ID, ViewBag.Acc_Chart1 as SelectList, new { @id = "Acc_Chart1", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Chart1.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_AcName.Acc_Chart2FK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_AcName.Acc_Chart2FK, ViewBag.Acc_Chart2 as SelectList, new { @id = "Acc_Chart2", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_AcName.Acc_Chart2FK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_AcName.Acc_CostPoolFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_AcName.Acc_CostPoolFK, ViewBag.Acc_CostPool as SelectList, "--Select Cost Pool--", new { @id = "Acc_Chart2", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_AcName.Acc_CostPoolFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_AcName.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_AcName.Name, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_AcName.Name, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_AcName.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Acc_AcName.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Acc_AcName.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>


    </div>
}


<script>
    $(function () {
        $("#Acc_Type").change(function () {
            var acc_typeId = $("#Acc_Type").val();
      
            //alert(acc_typeId);
            if (acc_typeId != '') {
                document.getElementById("Acc_Chart1").innerHTML = "";
                $.get("../Helper/GetAcc_Chart1DD", { ID: acc_typeId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Acc_Chart1").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var acc_chart1 = $("#Acc_Chart1").val();
                    //alert(acc_chart1);
                    if (acc_chart1 != '') {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                        $.get("../Helper/GetAcc_Chart2DD", { ID: acc_chart1 }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                        });

                        $("#Acc_Chart1").change(function () {
                            var acc_chart2 = $("#Acc_Chart1").val();
                           // alert(acc_chart2);
                     
                            if (acc_chart2 != '') {
                                document.getElementById("Acc_Chart2").innerHTML = "";
                                $.get("../Helper/GetAcc_Chart2DD", { ID: acc_chart2 }, function (data) {
                                    document.getElementById("Acc_Chart2").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                });
                            }
                            else {
                                document.getElementById("Acc_Chart2").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Acc_Chart2").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Acc_Chart1").innerHTML = "";
            }
        });
    });
    $(document).ready(function () {
        $("#Acc_Chart1").change(function () {
            var acc_chart2 = $("#Acc_Chart1").val();
            //alert( 'Sub Category id '+ ItemChangeId);
            if (acc_chart2 != '') {
                document.getElementById("Acc_Chart2").innerHTML = "";
                $.get("../Helper/GetAcc_Chart2DD", { ID: acc_chart2 }, function (data) {
                    document.getElementById("Acc_Chart2").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Acc_Chart2").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Acc_Chart2").innerHTML = "";
            }

        });
    });

</script>





















