﻿@model Oss.Romo.ViewModels.Account.VmAcc_AcName
@{
    ViewBag.Title = "VmAcc_ChartOfAccountView";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
    });
</script>
<section class="content-header">
    <h1>
        Chart of Accounts
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Chart of Accounts:
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            
            <div class="box-body table-responsive">
                
            </div>

        </div>

    </div>

</div>



