﻿@model Oss.Romo.ViewModels.Account.VmAcc_Transaction

@{
    ViewBag.Title = "Cash Payment";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm("VmAcc_BankWithdrawCreate", "Accounts", FormMethod.Post, new { id = "VmAcc_BankWithdrawCreate", data_server = "true" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Acc_Transaction.TransactionType, new { id = "TransactionType", Value = "Cash Payment" })
    <div class="form-horizontal">
        <h4 class="text-center">Cash Payment</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.Date, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_Transaction.Date, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.VoucherNo, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.TextBox("NameOfTheTextbox", (String) ViewBag.VoucherNo.ToString(), new {@class = "form-control", @readonly = "readonly"})
                @Html.HiddenFor(model => model.Acc_Transaction.VoucherNo, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.VoucherNo, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.Acc_CostPoolFK, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Acc_Transaction.Acc_CostPoolFK, ViewBag.Acc_CostPool as SelectList, "---Select Acc_AcName---", new { @class = "form-control SerchingDropDown dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Transaction.Acc_CostPoolFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.From_Acc_NameFK, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Acc_Transaction.From_Acc_NameFK, ViewBag.Acc_AcNameDr as SelectList, "---Select Acc_AcName---", new { @id = "CreditAc", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_Transaction.From_Acc_NameFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.To_Acc_NameFK, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Acc_Transaction.To_Acc_NameFK, ViewBag.Acc_AcNameCr as SelectList, "---Select Acc_AcName---", new {@id = "DebitAc", @class = "form-control dropdown ol-md-6 col-xs-6"})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.To_Acc_NameFK, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Acc_Transaction.ChequeNo, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_Transaction.ChequeNo, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.ChequeNo, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Acc_Transaction.ChequeDate, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_Transaction.ChequeDate, new {htmlAttributes = new {@class = "calendarControl form-control"}})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.ChequeDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.Amount, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_Transaction.Amount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.Amount, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acc_Transaction.Description, htmlAttributes: new {@class = "control-label col-md-3"})
            <div class="col-md-7">
                @Html.EditorFor(model => model.Acc_Transaction.Description, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Acc_Transaction.Description, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left: 50px">
                <input type="submit" value="Save" class="btn btn-success"/>
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary"/>

            </p>
        </div>

    </div>
}


<script>
    $('#DebitAc').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {

    });
    $('#CreditAc').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {

    });
</script>