﻿@model Oss.Romo.ViewModels.Account.VmAcc_AccExportRealisation
@{
    ViewBag.Title = "Export Realization";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Entry New Export Realization Expense <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Export Realization  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Shipment Cancel");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<section class="content-header">
    <h1>
        Export Realization&nbsp;&nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active">Export Realization</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body box-info">
                @using (Html.BeginForm("VmAcc_AccExportRealisationExpenseIndex", "Accounts"))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VmFilter.UDId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.VmFilter.UDId, ViewBag.UDList as SelectList, "--- Select a UDNo ---", new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
                            </div>
                            @Html.ValidationMessageFor(model => model.VmFilter.UDId, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div style="padding-top:24px;">
                                    <input type="submit" value="Show Report" class="btn btn-success" />
                                    @*<input type="reset" value="Cancel" class="btncancel btn btn-primary" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @{
                int sl = 0;
                decimal totalfcbparamt = 0;
                decimal totalbillamt = 0;
                decimal totalshortamt = 0;
                decimal totalrealisedamt = 0;
                decimal totalerqamt = 0;
                decimal totalbalanceamt = 0;
                decimal totalbalancebtdamt = 0;
                decimal totalfxtradingamt = 0;
                decimal totalpcadjustmentamt = 0;
                decimal totalbuyingcommisonamt = 0;
                decimal totalfdramt = 0;
                decimal totalcurierexpamt = 0;
                decimal totalrmgamt = 0;
                decimal totalaitamt = 0;
                decimal totalsodamt = 0;
                decimal totalcdamt = 0;
                decimal totalbdtamt = 0;
                decimal totalbalamt = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-responsive jambo_table bulk_action" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            @*<th>SL</th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.UdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FDBC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FDBCDate)
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BillValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.ValueDate)
                            </th>
                            <th>
                                $  @Html.DisplayNameFor(model => model.Acc_ExportRealisation.RealisedAmount)
                            </th>
                            <th>$ Short Amt</th>
                            <th>
                                $  @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FcbParAmt)
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.ERQAmt)
                            </th>
                            <th>
                                $ Balance
                            </th>
                            <th>
                                $ @Html.DisplayNameFor(model => model.Acc_ExportRealisation.DollarValue)
                            </th>
                            <th>
                                Bal BDT
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FxTrading)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.PcAdjust)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.BuyingCommission)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.FdrAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.CourierExpense)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.RmgAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.AitAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.SodAcAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Acc_ExportRealisation.CdAmount)
                            </th>
                            <th>
                                BDT
                            </th>
                            <th>
                                Bal Tk
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DataList != null)
                        {

                            foreach (var item in Model.DataList)
                            {
                                <tr>

                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(modelItem => item.Commercial_UD.UdNo)
                                    </td>
                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)
                                    </td>
                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.Date)
                                    </td>
                                    <th>
                                        @Html.DisplayFor(model => item.Commercial_BillOfExchange.Name)
                                    </th>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FDBC)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FDBCDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BillValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.ValueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.RealisedAmount)
                                    </td>
                                    <td>
                                        @{
                                            var shortamt = item.Acc_ExportRealisation.BillValue - item.Acc_ExportRealisation.RealisedAmount;
                                        }
                                        @shortamt
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FcbParAmt)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.ERQAmt)
                                    </td>
                                    <td>
                                        @{
                                            var balanceamt = item.Acc_ExportRealisation.RealisedAmount - item.Acc_ExportRealisation.FcbParAmt - item.Acc_ExportRealisation.ERQAmt;
                                        }
                                        @balanceamt
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.DollarValue)
                                    </td>
                                    <td>
                                        @{
                                            var balancebdt = item.Acc_ExportRealisation.DollarValue * balanceamt;
                                        }
                                        @balancebdt.ToString("0.00")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FxTrading)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.PcAdjust)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.BuyingCommission)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.FdrAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.CourierExpense)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.RmgAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.AitAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.SodAcAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Acc_ExportRealisation.CdAmount)
                                    </td>
                                    <td>
                                        @{
                                            var bdtamount = (item.Acc_ExportRealisation.FxTrading + item.Acc_ExportRealisation.PcAdjust +
                                                            item.Acc_ExportRealisation.BuyingCommission + item.Acc_ExportRealisation.FdrAmount +
                                                            item.Acc_ExportRealisation.CourierExpense + item.Acc_ExportRealisation.RmgAmount +
                                                            item.Acc_ExportRealisation.AitAmount + item.Acc_ExportRealisation.SodAcAmount +
                                                            item.Acc_ExportRealisation.CdAmount);
                                        }
                                        @bdtamount
                                    </td>
                                    <td>
                                        @{
                                            var balance = balancebdt - bdtamount;
                                        }
                                        @balance.ToString("0.00")
                                    </td>
                                    @{
                                        totalbillamt += item.Acc_ExportRealisation.BillValue;
                                        totalrealisedamt += item.Acc_ExportRealisation.RealisedAmount;
                                        totalfcbparamt += item.Acc_ExportRealisation.FcbParAmt;
                                        totalshortamt += shortamt;
                                        totalbalanceamt += balanceamt;
                                        totalbalancebtdamt += balancebdt;
                                        totalerqamt += item.Acc_ExportRealisation.ERQAmt;
                                        totalfxtradingamt += item.Acc_ExportRealisation.FxTrading;
                                        totalpcadjustmentamt += item.Acc_ExportRealisation.PcAdjust;
                                        totalbuyingcommisonamt += item.Acc_ExportRealisation.BuyingCommission;
                                        totalfdramt += item.Acc_ExportRealisation.FdrAmount;
                                        totalcurierexpamt += item.Acc_ExportRealisation.CourierExpense;
                                        totalrmgamt += item.Acc_ExportRealisation.RmgAmount;
                                        totalaitamt += item.Acc_ExportRealisation.AitAmount;
                                        totalsodamt += item.Acc_ExportRealisation.SodAcAmount;
                                        totalcdamt += item.Acc_ExportRealisation.CdAmount;
                                        totalbdtamt += bdtamount;
                                        totalbalamt += balance;

                                    }
                                    <td class="text-center">

                                        @{
                                            if (item.Acc_ExportRealisation.IsFinal == false)
                                            {
                                                <span>
                                                    @Html.ActionLink(".", "VmAcc_AccExportRealisationFinalized", new { id = item.Acc_ExportRealisation.ID }, new { @class = "glyphicon glyphicon-ok" })&nbsp;
                                                    @Html.ActionLink(".", "VmAcc_AccExportRealisationEdit", new { id = item.Acc_ExportRealisation.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                    @Html.ActionLink(".", "VmAcc_AccExportRealisationDelete", new { id = item.Acc_ExportRealisation.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-success">Finalized</span>
                                            }
                                        }
                                    </td>
                                </tr>
                                                }
                                            }
                    </tbody>

                    <tfoot>
                        <tr class="text-navy text-bold">

                            <td class="text-navy text-bold"></td>
                            <td class="text-navy text-bold"></td>
                            <td class="text-navy text-bold"></td>
                            <td></td>
                            <td></td>
                            <td class="text-navy text-bold">Total: </td>
                            <td>@totalbillamt</td>
                            <td></td>
                            <td>@totalrealisedamt</td>
                            <td>@totalshortamt</td>
                            <td>@totalfcbparamt</td>
                            <td>@totalerqamt</td>
                            <td>@totalbalanceamt</td>
                            <td></td>
                            <td>@totalbalancebtdamt.ToString("0.00")</td>
                            <td>@totalfxtradingamt</td>
                            <td>@totalpcadjustmentamt</td>
                            <td>@totalbuyingcommisonamt</td>
                            <td>@totalfdramt</td>
                            <td>@totalcurierexpamt</td>
                            <td>@totalrmgamt</td>
                            <td>@totalaitamt</td>
                            <td>@totalsodamt</td>
                            <td>@totalcdamt</td>
                            <td>@totalbdtamt</td>
                            <td>@totalbalamt.ToString("0.00")</td>

                            <td class="text-center"></td>
                        </tr>

                        @if (Model.RealSummary != null)
                        {


                            <tr style="border: 1px">
                                <td colspan="6">
                                    <table class="table">
                                        <tr>
                                            <td colspan="6" class="text-navy text-bold">Summary</td>
                                           
                                        </tr>
                                        <tr>
                                            <td class="text-navy text-bold">Export LC:</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.ExportLC</td>
                                            <td class="text-navy text-bold">Total B2b</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.TotalB2b</td>
                                            <td class="text-navy text-bold">Export Po Value</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.ExportPoValue</td>
                                        </tr>
                                        <tr>
                                            <td class="text-navy text-bold">Total TT:</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.TotalTT</td>
                                            <td class="text-navy text-bold">Total IFBC</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.TotalIfbc</td>
                                            <td class="text-navy text-bold">Total FCBPAR</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.TotalFCBPAR</td>
                                        </tr>
                                        <tr>
                                            <td class="text-navy text-bold">Reamining Export Value:</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.ReaminingExportValue</td>
                                            <td class="text-navy text-bold">Realize Value</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.RelisedValue</td>
                                            <td class="text-navy text-bold">ReceiveAbleValue</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.ReceiveAbleValue</td>
                                        </tr>
                                        <tr>
                                            <td class="text-navy text-bold">Balance</td>
                                            <td class="text-navy text-bold">@Model.RealSummary.Balance</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-center"></td>
                            </tr>

                        }
                    </tfoot>

                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
