﻿@model Oss.Romo.ViewModels.Account.VmAcc_SupplierAdjustment
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="box">
    <div class="box-danger">
        <div class="box-header" style="background-color:#FFB6C1;">
            <h4 style="text-align:center;">
                Supplier Adjustment.
            </h4>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Acc_SupplierAdjustment.Common_SupplierFk)
                @Html.HiddenFor(model => model.Acc_SupplierAdjustment.Date)

                <div class="form-group">
                    @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })

                        @Html.ValidationMessageFor(model => model.Common_Supplier.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
            @Html.LabelFor(model => model.Acc_SupplierReceiveH.Acc_AcNameFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6 " })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_SupplierReceiveH.Acc_AcNameFK, ViewBag.Acc_AcName as SelectList, "---Select account head---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6 SerchingDropDown" })
                @Html.ValidationMessageFor(model => model.Acc_SupplierReceiveH.Acc_AcNameFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Acc_SupplierAdjustment.AdjustmentAmmount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Acc_SupplierAdjustment.AdjustmentAmmount, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.Acc_SupplierAdjustment.AdjustmentAmmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Acc_SupplierAdjustment.Remarks, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Acc_SupplierAdjustment.Remarks, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6", @placeholder = "Remarks" } })
                        @Html.ValidationMessageFor(model => model.Acc_SupplierAdjustment.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:50px">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </p>
                </div>
            </div>
            }
        </div>
        <div class="box-footer" style="background-color:#FFF5EE;border:dotted">
            <div class="col-xs-12">
                <div class="box-body table-responsive no-padding">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    Adjustment ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Adjustment Ammount
                                </th>
                                <th>
                                    Remarks
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DataList != null)
                            {
                                int sl = 0;
                                foreach (var item in Model.DataList)
                                {
                            <tr>
                                <td>@(++sl)</td>
                                <td>
                                    @item.Acc_SupplierAdjustment.CID
                                </td>
                                <td>
                                    @item.Acc_SupplierAdjustment.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_SupplierAdjustment.AdjustmentAmmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Acc_SupplierAdjustment.Remarks)
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
