﻿@model Oss.Romo.ViewModels.Account.VmAccounting

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}



@using (Html.BeginForm("VmAcc_BalanceSheetReport", "Accounts", FormMethod.Post, new { id = "VmBalanceSheet", target = "_blank" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h3 class="text-center">Balance Sheet</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @*<div class="form-group">
            @Html.LabelFor(model => model.ChartType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ChartType, ViewBag.ChartType as SelectList, "--Select Chart Type--", new { @id = "Common_BillTypeFk", @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ChartType, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Show" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}







