﻿@model Oss.Romo.ViewModels.Account.VmAccounting
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

    ViewBag.Title = "LC Allocation Ledger";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Common_Supplier.ID)
        <div class="box box-primary">
            <div class="box-header">
                <center>
                    <h3 class="box-title">Deleted PO List of &nbsp;<span style="color:#B8860B;"> @Model.Common_Supplier.Name</span></h3>
                </center>
            </div>
            <div class="box-body">
                <!-- Date -->
                <!-- /.form group -->
                <!-- Date range -->
                <div class="form-group">
                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date and time range -->
                <div class="form-group">
                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date and time range -->
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:50px">
                        <input type="submit" value="Show Deleted PO List" class="btn btn-success" target="_blank" />
                    </p>
                </div>
                <!-- /.form group -->
            </div>
            <!-- /.box-body -->
        </div>

    </div>
}

<div class="box box-primary">

    <div class="box-body table-responsive">
        @{
            if (Model.DataList2 != null)
            {
                var Sl = 0;
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Date</th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList2)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@Html.Raw(item.Description)</td>
                            </tr>
                        }

                    </tbody>

                </table>
            }
        }
    </div>
    <!-- /.box-body -->
</div>