﻿@model Oss.Romo.ViewModels.Account.VmAccounting
@{
   
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Income Statement: &nbsp;&nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"></li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    @*<thead>
                        <tr>
                            <th style="padding:2px 4px 2px 4px">
                                @Html.DisplayNameFor(model => model.CostofGoods)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.CostofGoods)

                            </td>
                        </tr>
                    </thead>*@
                    <tbody>
                        @*@foreach (var item in Model)
                        {*@
                        <tr>
                            <th>
                               Revenue
                            </th>
                             
                        </tr>
                        <tr>
                            <th style="padding:2px 4px 2px 4px">
                                &nbsp;Sales
                            </th>
                            <td style="padding:2px 4px 2px 4px">
                                @*@Html.DisplayFor(model => model.CostofGoods)*@
                                @ViewBag.Sold
                            </td>
                        </tr>
                           <tr>
                               <th style="padding:2px 4px 2px 4px">
                                    &nbsp;@Html.DisplayNameFor(model => model.CostofGoods)
                               </th>
                               <td  style="padding:2px 4px 2px 4px">
                                   @*@Html.DisplayFor(model => model.CostofGoods)*@
                                   @ViewBag.Item
                               </td>
                           </tr>
                        <tr>
                            <th style="padding:2px 4px 2px 4px">
                                &nbsp;&nbsp;&nbsp;&nbsp;Gross Profit
                            </th>
                            <td style="padding:2px 4px 2px 4px">
                                @*@Html.DisplayFor(model => model.CostofGoods)*@
                                @ViewBag.GrossP
                            </td>
                        </tr>
                        @*}*@
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


