﻿@model Oss.Romo.ViewModels.Account.VmAccounting

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}



@using (Html.BeginForm("VmLedgerAC", "Accounts", FormMethod.Post, new { id = "VmLedgerAC", target = "_blank" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.LedgerName, new { Value = "Bank Book" })
        <h3 class="text-center">Bank Book</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Bank A/C Head</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Acc_AcName.ID, ViewBag.Acc_AcName as SelectList, "---Select Bank Name---", new { @id = "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Acc_AcName.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.CurrencyType, ViewBag.CurrencyList as SelectList, "---Select Currency Type---", new { @id = "Acc_AcName", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.CurrencyType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left: 50px">
                <input type="submit" value="Show" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}
<script>
    jQuery('form').submit(function () {
        $(this).find(':submit').attr('disabled', true);
        setTimeout(function () {
            $(this).find(':submit').attr('disabled', false);
        }, 5 * 1000);
    });
</script>