﻿@model Oss.Romo.ViewModels.Account.VmAccounting
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

    ViewBag.Title = "LC Allocation Ledger";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Common_Supplier.ID)
        <div class="box box-primary">
            <div class="box-header">
                <center>
                    <h3 class="box-title">L/C Opening Ledger of &nbsp;<span style="color:#B8860B;"> @Model.Common_Supplier.Name</span></h3>
                </center>
            </div>
            <div class="box-body">
                <!-- Date -->
               
                <!-- /.form group -->
                <!-- Date range -->
                <div class="form-group">
                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date and time range -->
                <div class="form-group">
                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
                <!-- Date and time range -->
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:50px">
                        <input type="submit" value="Show L/C Opening Ledger" class="btn btn-success" target="_blank" />
                    </p>
                </div>
                <!-- /.form group -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
}