﻿@using Oss.Romo.ViewModels.Common
@model Oss.Romo.ViewModels.Account.VmAccounting
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt Payment Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .table > tbody > tr > td {
            padding: 3px !important;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="">
                <div class="form-group">
                    <div class="text-center"><h4>Receipt Payment Report </h4></div>
                    <table style="width: 40%; font-weight: 700">
                        <tr>
                            <td>From</td>
                            <td>:</td>
                            <td>@Model.FromDate.ToString("yyyy-MM-dd") </td>
                        </tr>
                        <tr>
                            <td>To</td>
                            <td>:</td>
                            <td>@Model.ToDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr>
                            <td>Ledger Head</td>
                            <td>:</td>
                            <td>@Model.Transaction[0].Account</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />

            @{
                string commaAmount = "";
                VmForDropDown dropDown = new VmForDropDown();
                var sign = Model.CurrencyType == 1 ? "$" : "৳";
            }
            <div style="width: 100%;">
                <div id="viewparty0">
                    <h4>Opening</h4>
                    <div>

                        <table class="table table-bordered" style="width: 100%; font-size: 12px">
                            <tr class="trclass">
                                <td style="text-align: center; width: 10%"><strong>SL</strong></td>
                                <td style="text-align: center; width: 75%"><strong>Particulars</strong></td>
                                <td style="text-align: center; width: 15%"><strong>Amount</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><strong>1</strong></td>
                                <td style="text-align: left"><strong>&nbsp;Opening Balance</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            decimal totalbalanceAsses = 0;
                                            totalbalanceAsses = Convert.ToDecimal(Model.Transaction[0].Balance.ToString("F"));
                                            commaAmount = dropDown.NumberToComma(totalbalanceAsses);
                                        }
                                        @commaAmount@sign

                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <h4>Receipt</h4>
                    <div>

                        <table class="table table-bordered" style="width: 100%; font-size: 12px">
                            <tr class="trclass">
                                <td style="text-align: center; width: 10%"><strong>SL</strong></td>
                                <td style="text-align: center; width: 75%"><strong>Particulars</strong></td>
                                <td style="text-align: center; width: 15%"><strong>Amount</strong></td>
                            </tr>
                            @{
                                decimal totalreceiptbalance = 0;
                                var slAsses = 0;
                            }
                            @foreach (var item in Model.Transaction.Where(x => x.Debit != 0).ToList())
                            {
                                totalreceiptbalance += item.Debit;
                                slAsses++;
                                <tr>
                                    <td style="text-align: center">@slAsses</td>
                                    <td style="text-align: left">&nbsp;@item.Description</td>
                                    <td style="text-align: right">
                                        @{
                                            commaAmount = dropDown.NumberToComma(Convert.ToDecimal(item.Debit.ToString("F")));
                                        }
                                        @commaAmount@sign
                                    </td>
                                </tr>
                                            }


                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            commaAmount = dropDown.NumberToComma(Convert.ToDecimal(totalreceiptbalance.ToString("F")));
                                        }
                                        @commaAmount@sign
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty1">
                    <h4>Payment</h4>
                    <div>
                        <table style="width: 100%; font-size: 12px" class="table table-bordered">
                            <tr class="trclass">
                                <td style="text-align: center; width: 10%"><strong>SL</strong></td>
                                <td style="text-align: center; width: 75%"><strong>Particulars</strong></td>
                                <td style="text-align: center; width: 15%"><strong>Amount</strong></td>
                            </tr>
                            @*<tr>
                                    <td style="text-align: center"><strong>1</strong></td>
                                    <td style="text-align: left"><strong>&nbsp;Opening Balance</strong></td>
                                    <td style="text-align: right"><strong>@Model.OpeningBalanceExpenses</strong></td>
                                </tr>*@
                            @{
                                decimal totalbalanceliabilities = 0;
                                var slliabilitiess = 0;
                            }
                            @foreach (var item in Model.Transaction.Where(x => x.Credit != 0))
                            {
                                totalbalanceliabilities += item.Credit;
                                slliabilitiess++;
                                <tr>
                                    <td style="text-align: center">@slliabilitiess</td>
                                    <td style="text-align: left">&nbsp;@item.Description</td>
                                    <td style="text-align: right">
                                        @{
                                            commaAmount = dropDown.NumberToComma(Convert.ToDecimal(item.Credit.ToString("F")));
                                        }                                        
                                        @commaAmount@sign
                                    </td>
                                </tr>
                                            }
                            <tr>
                                <td style="text-align: right"></td>
                                <td style="text-align: right"><strong>Total:</strong></td>
                                <td style="text-align: right">
                                    <strong>
                                        @{
                                            commaAmount = dropDown.NumberToComma(Convert.ToDecimal(totalbalanceliabilities.ToString("F")));
                                        }
                                        @commaAmount@sign
                                    </strong>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div style="width: 100%;">
                        <div id="viewparty3">
                            <h4>Closing Balance</h4>
                            <div>
                                <table style="width: 100%; font-size: 12px" class="table table-bordered">
                                    <tr class="trclass">
                                        <td style="text-align: center; width: 10%"><strong>SL</strong></td>
                                        <td style="text-align: center; width: 75%"><strong>Particulars</strong></td>
                                        <td style="text-align: center; width: 15%"><strong>Amount</strong></td>
                                    </tr>
                                    @{
                                        decimal totalclosing = 0;
                                        int sl = 0;
                                    }
                                    @{
                                        string bCarriedForward;
                                        if (Model.Transaction.Any())
                                        {
                                            bCarriedForward = Model.Transaction[Model.Transaction.Count() - 1].Balance.ToString("F");
                                        }
                                        else
                                        {
                                            bCarriedForward = "0";
                                        }
                                        sl++;
                                        <tr>
                                            <td style="text-align: center">@sl</td>
                                            <td style="text-align: left">Closign Balance</td>
                                            <td style="text-align: right">
                                                @{
                                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(Convert.ToDecimal(bCarriedForward).ToString("F")));
                                                }
                                                @commaAmount@sign
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" style="width: 100%; font-size: 13px; font-weight:700">
                        <tr>
                            <td class="text-right">Total (Opening + Receipt)</td>
                            <td class="text-right">
                                @{
                                    var s = totalbalanceAsses + totalreceiptbalance;
                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(s.ToString("F")));
                                }
                                @commaAmount@sign
                            </td>
                            <td class="text-right">Total Payment</td>
                            <td class="text-right">
                                @{
                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(totalbalanceliabilities.ToString("F")));
                                }
                                @commaAmount@sign
                            </td>
                        </tr>
                        <tr>

                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">Closing Balance</td>
                            <td class="text-right">
                                @{
                                    var balnsamt = totalbalanceAsses + totalreceiptbalance - totalbalanceliabilities;
                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(balnsamt.ToString("F")));
                                }
                                @commaAmount@sign
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">Grand Total</td>
                            <td class="text-right">
                                @{
                                    var ss = totalbalanceAsses + totalreceiptbalance;
                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(ss.ToString("F")));
                                }
                                @commaAmount
                            </td>
                            <td class="text-right">Grand Total</td>
                            <td class="text-right">
                                @{
                                    var grandtotal = balnsamt + totalbalanceliabilities;
                                    commaAmount = dropDown.NumberToComma(Convert.ToDecimal(grandtotal.ToString("F")));
                                }
                                @commaAmount@sign
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>
