﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLC

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BTB LC";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-b2bpayment").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkb2bpayment").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Payment.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-b2bpayment").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        ///$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-b2bpayment" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        BTB L/C:
        &nbsp;&nbsp;
        (&nbsp; <a href="Commercial_BTBLCCreate" id="lnkCreate" title="BTB L/C Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            BTB L/C
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_BtBLCType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_LCOregin.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_BTBItem.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.UdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.RequiredQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Amount)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_B2bLC.Description)
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Attachment
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BtBLCType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_LCOregin.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BTBItem.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_UD.UdNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.RequiredQuantity) @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Amount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Description)
                                </td>
                                <td>
                                    @{
                                        if (item.Commercial_B2bLC.IsApproved)
                                        {
                                            @Html.ActionLink(".", "Commercial_BTBLCEdit", new { id = item.Commercial_B2bLC.ID }, new { @title = "BTB L/C Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) 
                                            @Html.ActionLink(".", "Commercial_BTBLCDelete", new { id = item.Commercial_B2bLC.ID }, new { @title = "BTB L/C Delete", @class = "lnkDelete glyphicon glyphicon-trash" })

                                            if (item.Commercial_LCOregin.ID == 2)
                                            {
                                                @Html.ActionLink(".", "VmCommercial_ImportIndex", new { id = item.Commercial_B2bLC.ID }, new { @title = "BTB L/C Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                            }
                                        }
                                        else
                                        {
                                            <label class="label-danger">Not Approed</label>
                                        }
                                    }

                                    &nbsp;
                                    @*<div style="width: 86px;">
                                            @Html.ActionLink("Make Payment", "VmCommercial_B2BPaymentInformationCreate", new { id = item.Commercial_B2bLC.ID }, new { @class = "lnkb2bpayment" }) &nbsp;
                                        </div>*@
                                </td>
                                <td>
                                    @if (item.Commercial_B2bLC.ScanedFile != null)
                                    {
                                        @Html.ActionLink(".", "../CustomeFile/Commercial/", new { id = item.Commercial_B2bLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file" })
                                    }
                                    else
                                    {
                                        <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                        </div>
                                    }
                                </td>
                            </tr>
                                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
