﻿@using Oss.Romo.ViewModels
@model Oss.Romo.Models.Commercial.Commercial_B2BLCStatementReport

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LC Statement</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 100%;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                line-height: 20px;
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>

        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #525659;">
<div id="page">
<div style="min-height: 900px;">

@*-----------------Report Header-----------------*@

<div class="text-center">
    <div class="row">
        <h3>
            <span style="float: left">
                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </span>
            <span style="float: right; color: #AA57FF">
                <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
            </span>

        </h3>

    </div>
</div>
<hr style="width: 100%; color: black; height: 2px; background-color: black;">
<div class="text-center">
    <div class="from-group">
        <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
            Print
        </span>

    </div>
    <div class="form-group">

        <center><h3><u>L/C STATEMENT</u></h3></center>
    </div>
</div>
<table style="width: 100%;border: 1px solid;">
    @{
        int a = 0;
        <tr>
            <th style="width: 15%"></th>
            <th style="width: 1%"></th>
            <th></th>
        </tr>

        foreach (var report in Model.Report)
        {
            if (a == 0)
            {
                <tr style="border-bottom: 1px solid;">
                    <td><strong>&nbsp;Buying House</strong></td>
                    <td>:</td>
                    <td>@report.HeaderLeft1</td>
                </tr>

                <tr>
                    <td><strong>&nbsp;Buyer</strong></td>
                    <td>:</td>
                    <td>@report.HeaderLeft2</td>
                </tr>
            }
            a++;
        }



    }

</table>
<table style="width: 100%;border-bottom: 1px solid;border-right: 1px solid;border-left: 1px solid;">
    @{

        int b = 0;

        foreach (var report in Model.Report)
        {
            if (b == 0)
            {
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;UD NO</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderLeft3</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Freight Charge</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 40%; text-align: right"> @report.SubBody5&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;UD Date</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderLeft4</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Handling Charge</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.HeaderRight3&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;TTL Pack QTY</strong>
                        </span>
                        <span style="width: 1%">:</span>

                        <span style="width: 70%">@report.SubBody1</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Buyer Commission</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.Footer1&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;TTL Quantity</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.SubBody2</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Germents Test</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.Footer4&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;Shipment Date</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderLeft4</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;TTL L/C Amount</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.HeaderRight7&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;Expiry Date</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderRight6</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;TTL PO Value</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.SubBody3&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;Tolerance</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderLeft8</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Actual PO Value</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span style="width: 60%; text-align: right"> @report.Footer2&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;BTB Opening</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <span style="width: 70%">@report.HeaderRight4</span>
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;BTB Limitation </strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <span id="btbLimitation" style="width: 60%; text-align: right"> @report.Footer3&nbsp;</span>
                    </td>


                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 50%; border-right: 1px solid">
                        <span style="width: 29%; display: -webkit-inline-box">
                            <strong>&nbsp;Total BTB</strong>
                        </span>
                        <span style="width: 1%">:</span>
                        <strong><span id="grandBtbval1" style="width: 70%"></span></strong>   
                    </td>
                    <td style="width: 50%; text-align: right">
                        <span style="width: 39%; display: -webkit-inline-box; float: left;">
                            <strong>&nbsp;Available for BTB</strong>
                        </span>
                        <span style="width: 1%; float: left;">:</span>
                        <strong><span id="availableBtb" style="width: 60%; text-align: right"></span></strong> 
                    </td>


                </tr>
            }
            b++;
        }
    }
</table>
<div class="text-center" style="padding-top: 10px;">
    <strong style="font-size: 16px;">PO Information</strong>
</div>
<table style="width: 100%;margin-top: 10px;" cellspacing="0" rules="all" border="1">
    @{

        var temp = Model.Report.GroupBy(x => new { x.HeaderLeft5, x.HeaderLeft6, x.HeaderMiddle8, x.Footer5 });

        var result = temp.Select(y => new
        {
            Id = y.Key.HeaderLeft5,
            Date = y.Key.HeaderLeft6,
            LCValue = y.Key.HeaderMiddle8,
            POValue = y.Key.Footer5
        }).ToList();

        <tr style="background-color: #008080;">
            <th style="width: 5%;text-align: center">SL</th>
            <th style="width: 20%;text-align: center">PO No</th>
            <th style="width: 23%;text-align: center">Item</th>
            <th style="width: 12%;text-align: center">Qty Pack</th>
            <th style="width: 12%;text-align: center">Qty PCS</th>
            <th style="width: 12%;text-align: center">Unit Price</th>
            <th style="width: 12%;text-align: center">Amount</th>
        </tr>
        foreach (var group in result)
        {
            int sl = 1;
            <tr style="background-color: #C0C0C0">
                <td colspan="2" style="border-right-color: #C0C0C0;"><strong>L/C NO : @group.Id</strong></td>
                <td colspan="1" style="border-right-color: #C0C0C0;"><strong>Date : @group.Date</strong></td>
                <td colspan="2" style="border-right-color: #C0C0C0;"><strong>L/C Value: @group.LCValue</strong></td>
                <td colspan="2" style="border-right-color: #C0C0C0;"><strong>PO Value : @group.POValue</strong></td>
            </tr>
            foreach (var po in Model.Report.Where(x => x.HeaderLeft5 == group.Id))
            {
                <tr>
                    <td style="text-align: center">@sl</td>
                    <td>&nbsp;@po.HeaderMiddle1</td>
                    <td>&nbsp;@po.HeaderMiddle2</td>
                    <td style="text-align: right">@po.HeaderMiddle3</td>
                    <td style="text-align: right">@po.HeaderMiddle4</td>
                    <td style="text-align: right">@po.HeaderMiddle6</td>
                    <td style="text-align: right">@po.HeaderMiddle5</td>
                </tr>
                sl++;
            }
        }
    }
</table>
<div class="text-center" style="padding-top: 10px;">
    <strong style="font-size: 16px;">BTB Information</strong>
</div>

<table id="example" style="width: 100%;margin-top: 10px;" cellspacing="0" rules="all" border="1">
<tr style="background-color: #008080;">
    <th style="width: 2%;text-align: center; display: none">SL</th>
    <th style="width: 10%; text-align: center">Supplier</th>
    <th style="width: 8%; text-align: center">IPO No</th>
    <th style="width: 10%; text-align: center">Item</th>
    <th style="width: 8%; text-align: center">Qty</th>                   
    <th style="width: 6%; text-align: center">IPO Value</th>
    <th style="width: 8%; text-align: center">BTB NO</th>
    <th style="width: 6%; text-align: center">BTB Value</th>
    <th style="width: 6%; text-align: center">BTB Qty</th>                
    <th style="width: 6%; text-align: center">Balance Qty</th>
    <th style="width: 6%; text-align: center">Total Value</th>
    <th style="width: 6%; text-align: center">Pending BTB Value</th>
    <th style="width: 6%; text-align: center">Paid BTB</th>
    <th style="width: 6%; text-align: center">Due BTB</th>
</tr>
@{
    int serial = 0;
    decimal gipoval = 0;

    foreach (var btbLc in Model.BtbList.OrderBy(x => x.Common_Supplier.Name))//group by
    {

        <tr>
            <td style="text-align: center; display: none"> <strong>@(serial += 1).</strong></td>
            <td style="padding: 2px">@btbLc.Common_Supplier.Name</td>
            <td style="padding: 2px">
                @btbLc.Mkt_PO.CID
            </td>
            <td style="padding: 2px">
                @btbLc.Raw_Item.Name
            </td>
            <td style="text-align: right">
                @btbLc.Mkt_POSlave.TotalRequired @btbLc.Common_Unit.Name
            </td>
            <td style="text-align: right">
                <span class="totalpo">
                    @String.Format("{0:0.00}", (btbLc.Mkt_POSlave.TotalRequired *
                                                btbLc.Mkt_POSlave.Price))
                </span>
            </td>@*PO Value*@
            <td>
                <table>
                    <tbody>
                    @{
                        foreach (var b2bItem in btbLc.b2B)
                        {
                            foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID).GroupBy(x => x.BTBNo))
                            {
                                <tr>
                                    <td style="padding: 2px">@subItem.Key</td>
                                </tr>
                            }

                        }
                    }
                    </tbody>
                </table>
            </td>
            <td style="text-align: right">
                <table style="float: right">
                    <tbody>
                    @{
                        foreach (var b2bItem in btbLc.b2B)
                        {
                            foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID).GroupBy(x => x.BTBValue))
                            {
                                <tr>
                                    <td><span class="btb">@String.Format("{0:0.00}", subItem.Key)</span></td>
                                </tr>
                            }

                        }
                    }

                    </tbody>
                </table>
            </td>
            <td>
                <table style="float: right">
                    <tbody>
                    @{
                        foreach (var b2bItem in btbLc.b2B)
                        {
                            foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID))
                            {
                                <tr>
                                    <td style="text-align: right">@String.Format("{0:0.00}", subItem.TotalQuantity) @subItem.UniName</td>
                                </tr>
                            }

                        }
                    }
                    </tbody>
                </table>
            </td>                           
            <td style="text-align: right">
                @{
                    decimal sum1 = 0;
                    foreach (var b2bItem in btbLc.b2B)
                    {

                        foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID))
                        {
                            sum1 += subItem.TotalQuantity;

                        }

                    }
                    @(btbLc.Mkt_POSlave.TotalRequired - sum1)
                    @:&nbsp;@btbLc.Common_Unit.Name
                }

            </td>
            <td style="text-align: right">
                <table style="float: right">
                    <tbody>
                    @{
                        foreach (var b2bItem in btbLc.b2B)
                        {
                            decimal sum = 0;
                            foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID))
                            {
                                sum += subItem.POValue.Value;
                                <tr>
                                    <td>@String.Format("{0:0.00}", subItem.POValue)</td>
                                </tr>
                            }

                        }
                    }
                    </tbody>
                </table>
            </td>
                          
            <td style="text-align: right">
                @{
                    decimal sum2 = 0;
                    foreach (var b2bItem in btbLc.b2B)
                    {

                        foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID))
                        {
                            sum2 += subItem.POValue.Value;
                        }

                    }
                    <span class="pendingbtbval">
                        @String.Format("{0:0.00}", ((btbLc.Mkt_POSlave.TotalRequired *
                                                     btbLc.Mkt_POSlave.Price) - sum2))
                    </span>


                }


            </td> @*TTL PO Value*@
            @{
                decimal sum3 = 0;
        {
            foreach (var b2bItem in btbLc.b2B)
            {
                foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID).GroupBy(x => x.BTBValue))
                {

                    sum3 += subItem.Key.Value;
                }

            }
        }
            }
            <td style="text-align: right">
                <table style="width: 100%">
                    <tbody>
                    @{
                        decimal PaidBTB = 0;
                        foreach (var b2bItem in btbLc.b2B)
                        {
                            foreach (var subItem in b2bItem.Where(x => x.Mkt_POSlaveFK == btbLc.Mkt_POSlave.ID && x.CID == btbLc.Mkt_PO.CID).GroupBy(x => x.PaidBTBValue))
                            {
                                PaidBTB += subItem.Key;
                                <tr>
                                    <td style="padding: 2px;"><span class="paidbtbval">@subItem.Key</span></td>
                                </tr>
                            }

                        }
                    }
                    </tbody>
                </table>
            </td>
            <td style="text-align: right">
                @{
                    var xv = sum3 - PaidBTB;
                }
                <span class="duebtbval">@xv</span>
            </td>
            @{
                gipoval += sum2;
            }
        </tr>
    }
    <tr>
        <td colspan="3" valign="middle" style="text-align: center; font-size: 22px">Grand Total</td>
        <td></td>
        <td style="text-align: right; font-size: 14px "><strong>$<span id="grandPOval"></span></strong></td>
        <td></td>
        <td style="text-align: right; font-size: 14px "><strong>$<span id="grandBtbval"></span></strong></td>
        <td></td>
        <td></td>
        <td style="text-align: right; font-size: 14px "><strong>$@String.Format("{0:0.00}", gipoval)</strong></td>
                             
        <td style="text-align: right; font-size: 14px "><strong>$<span id="grandPendingval"></span></strong></td>
        <td style="text-align: right; font-size: 14px "><strong>$<span id="grandPaidval"></span></strong></td>
        <td style="text-align: right; font-size: 14px "><strong>$<span id="grandDueval"></span></strong></td>
    </tr>
}
</table>
</div>
</div>
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<script>
    !function (t, n, e, i) { "use strict"; function a(n, e) { this.element = n, this.settings = t.extend({}, o, e), this._defaults = o, this._name = s, this.init() } var s = "rowspanizer", o = { vertical_align: "top" }; t.extend(a.prototype, { init: function () { var n = this, e = t(this.element), i = []; e.find("tr").each(function (n, e) { t(this).find("td").each(function (n, e) { var a = t(e), s = a.html(); if ("undefined" != typeof i[n] && "dato" in i[n] && i[n].dato == s) { var o = i[n].elem.data("rowspan"); ("undefined" == o || isNaN(o)) && (o = 1), i[n].elem.data("rowspan", parseInt(o) + 1).addClass("rowspan-combine"), a.addClass("rowspan-remove") } else i[n] = { dato: s, elem: a } }) }), t(".rowspan-combine").each(function (e, i) { var a = t(this); a.attr("rowspan", a.data("rowspan")).css({ "vertical-align": n.settings.vertical_align }) }), t(".rowspan-remove").remove() } }), t.fn[s] = function (n) { return this.each(function () { t.data(this, "plugin_" + s) || t.data(this, "plugin_" + s, new a(this, n)) }) } }(jQuery, window, document);
    $(function () {
        $("#example").rowspanizer({ vertical_align: 'middle' });
        calc_total();
    });
    function calc_total() {
        var btbsum = 0;
        var posum = 0;
        var pendingbtbval = 0;
        var paidbtbval = 0;
        var duebtbval = 0;

        $(".btb").each(function () {
            btbsum += parseFloat($(this).text());
        });
        $(".totalpo").each(function () {
            posum += parseFloat($(this).text());
        });
        $(".pendingbtbval").each(function () {
            pendingbtbval += parseFloat($(this).text());
        });
        $(".paidbtbval").each(function () {
            paidbtbval += parseFloat($(this).text());
        });
        $(".duebtbval").each(function () {
            duebtbval += parseFloat($(this).text());
        });

        $('#grandBtbval').text(btbsum.toFixed(2));
        $('#grandBtbval1').text("$" +btbsum.toFixed(2));
        $('#grandPOval').text(posum.toFixed(2));
        $('#grandPendingval').text(pendingbtbval.toFixed(2));
        $('#grandPaidval').text(paidbtbval.toFixed(2));
        $('#grandDueval').text(duebtbval.toFixed(2));
        var a = $('#btbLimitation').text();
        var limit = parseFloat(a.substring(2));
        var availablebtb = limit - btbsum;
        $('#availableBtb').text("$" +availablebtb.toFixed(2));
    }

</script>

</body>

</html>
