﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "General Purchase Order Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Authorize").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Item Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkAuthorize").click(function (e) {
            $(".ui-dialog-titlebar").html("To Authorize this Purchase Order  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-Authorize").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-Authorize" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Purchase Orders : @Html.DisplayFor(x => x.Mkt_PO.CID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/PurchaseOrders">Purchase Orders</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_PO.CID)</li>
        @*<li>@Html.ActionLink(".", "POReportView", "Marketing", new { id = Model.Mkt_PO.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })</li>*@
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            @{ Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
                            Order Summary :
                            @*@if (Model.Mkt_PO.IsAuthorize == true)
                                {*@
                            @Html.ActionLink(".", "POReportWithoutBuyerOrderDoc", new { id = Model.Mkt_PO.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })
                            @*}*@
                           
                        </h3>
                    </div>
                    <div class="row">

                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.CID)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Date)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
                            </div>

                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Description)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_PO.Description)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                            
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.TotalVal)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol) @Html.DisplayFor(x => x.TotalVal)">
                            </div>

                            <div class="input-group">
                                <span style="width:440px;" class="input-group-addon">
                                    <a href="~/commercial/PurchaseOrdersWithoutBuyerOrder">TO CREATE PO</a>
                                </span>

                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>



                <div class="table-responsive">

                </div>
                <section>
                    <h3>
                        Item List
                        (&nbsp;
                        @Html.ActionLink(".", "VmMktPO_SlaveWithoutBuyerOrderCreate", new { id = Model.Mkt_PO.ID }, new { @class = "lnkEdit glyphicon glyphicon-plus" }) 
                        )

                       
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>
                                Item Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Raw_Item.Name)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.TotalRequired)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Common_Unit.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Price)
                            </th>
                            <th>
                               Line Total
                            </th>                            
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VmMktPO_Slave.DataList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)/@Html.DisplayFor(modelItem => item.Raw_Item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.TotalRequired)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.LineTotal)

                                </td>

                                <td>
                                    @Html.ActionLink(".", "VmMktPOSlaveWithoutBuyerOrderEdit", new { id = item.Mkt_POSlave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;



                                    @Html.ActionLink(".", "VmMkt_POSlaveWithoutBuyerOrderDelete", new { id = item.Mkt_POSlave.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
