﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_BillOfExchangeSlave

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Bill Of Exchange Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Invoice .  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Invoice. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Invoice.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
       
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header"style="padding-bottom:5px">
    
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Invoice</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        @Html.HiddenFor(model => model.Commercial_BillOfExchangeSlave.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Invoice Summary :
                            @Html.ActionLink(".", "BillOfExchangeReport","Shipment", new { id = Model.Commercial_BillOfExchange.ID }, new {title= "Print Bill Of Exchange", target = "_blank", @class = "glyphicon glyphicon-print" })

                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Name)">
                            </div>
                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_BillOfExchange.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_BillOfExchange.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:440px;" class="input-group-addon">
                                    <a href="~/commercial/vmcommercial_masterlcindex">TO CREATE NEW MASTER L/C</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>
                    <h3>
                     Add Invoice 
                   (@Html.ActionLink(".", "VmCommercial_BillOfExchangeSlaveCreate", new { id = Model.Commercial_BillOfExchange.ID }, new { @class = "lnkCreate glyphicon glyphicon-plus" }) )&nbsp;
                       
                 </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>


                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceIdNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalInvoiceValue)
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            decimal totalBillOfExchange = 0;
                            int Sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                decimal totalInvoiceValue = item.TotalInvoiceValue;
                                totalBillOfExchange += totalInvoiceValue;
                                <tr>

                                    <td><b>@(++Sl).</b></td>


                                    <td>
                                        <a target ="_blank" href="@Url.Action("VmCommercial_InvoiceSlaveIndex","Commercial",new {id=item.Commercial_Invoice.ID })">@Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceNo)</a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceIdNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalInvoiceValue)
                                    </td>
                                    <td>
                                        @Html.ActionLink(".", "VmCommercial_BillOfExchangeSlaveEdit", new { id = item.Commercial_BillOfExchangeSlave.ID  }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                        @Html.ActionLink(".", "VmCommercial_BillOfExchangeSlaveDelete", new { id = item.Commercial_BillOfExchangeSlave.ID , invoiceId = Model.Commercial_BillOfExchange.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>

                                <th></th>


                                <th colspan="3">Total Bill of Exchange</th>
                               
                                <th>
                                    @string.Format("{0:0.00}", totalBillOfExchange)
                                </th>
                                <th></th>
                            </tr>

                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
