﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_InvoiceSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Commercial_InvoiceSlave.Commercial_InvoiceFk)
            @Html.HiddenFor(model => model.Commercial_InvoiceSlave.MktBOMFK, new { id = "MktBOMFK" })
        </div>
        @*<div class="form-group" id="divMkt_BOMSlaveFK">
                <label class="control-label col-md-3 col-sm-3 col-xs-6">Style No</label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Commercial_InvoiceSlave.MktBOMFK, ViewBag.DelivaryChallan as SelectList, "--Select Style--", new { @id = "mktBOMFK", @class = "SerchingDropDown form-control col-md-9 col-xs-9" })
                    @Html.ValidationMessageFor(model => model.Commercial_InvoiceSlave.MktBOMFK, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div id="divMkt_POSlaveFK">
            <div class="form-group">
                @Html.LabelFor(model => model.Commercial_InvoiceSlave.Shipment_CNFDelivaryChallanFk, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Commercial_InvoiceSlave.Shipment_CNFDelivaryChallanFk, ViewBag.DelivaryChallan as SelectList, "--Select Challan No--", new {@id = "shipmentCNFDelivaryChallanFk", @class = "form-control col-md-6 col-xs-6 SerchingDropDown" })
                    @Html.ValidationMessageFor(model => model.Commercial_InvoiceSlave.Shipment_CNFDelivaryChallanFk, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Commercial_InvoiceSlave.Shipment_OrderDeliverdScheduleFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Commercial_InvoiceSlave.Shipment_OrderDeliverdScheduleFK, new SelectList(string.Empty, "Value", "Text"), "--Select Deliverd Order--", new { @id = "Shipment_OrderDeliverdScheduleFK", @class = "form-control col-md-6 col-xs-6 SerchingDropDown" })
                    @Html.ValidationMessageFor(model => model.Commercial_InvoiceSlave.Shipment_OrderDeliverdScheduleFK, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Deliverd Quantity</b></span>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" name="ShipDeliverdQuantity" id="shipDeliverdQuantity" class="form-control col-md-9 col-xs-9" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_InvoiceSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_InvoiceSlave.Description, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_InvoiceSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>


    $(document).ready(function () {
        $('#shipmentCNFDelivaryChallanFk').on("change", function (e) {
            var challanId = $('#shipmentCNFDelivaryChallanFk').val();


            $.ajax({
                type: "post",
                url: "@Url.Action("GetScheduleByDelivaryChallan", "Helper")",
                data: { ChallanId: challanId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $("#Shipment_OrderDeliverdScheduleFK").empty();
                if (data.length !== 0) {
                    $("#Shipment_OrderDeliverdScheduleFK").append("<option value='0'>---Select Item---</option>");
                    $.each(data, function (index, row) {
                        console.log(row.value);
                        $("#Shipment_OrderDeliverdScheduleFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                    });

                }

            }
        });



            $.ajax({
                type: "post",
                url: "@Url.Action("GetBOMByDelivaryChallan", "Helper")",
                data: { ChallanId: challanId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#MktBOMFK").empty();
                    if (data.length !== 0) {
                        //console.log(data);
                        $("#MktBOMFK").val(data.BOMID);
                    }
                }
            });



        });




        $('#Shipment_OrderDeliverdScheduleFK').on("change", function (e) {
            var id = $('#Shipment_OrderDeliverdScheduleFK').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetDelivaryChallanQuantity", "Helper")",
                data: { ID: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#shipDeliverdQuantity").empty();
                    if (data.length !== 0) {
                        //console.log(data);
                        $("#shipDeliverdQuantity").val(data.DeliverdQuantity);
                    }
                }
            });
        });
    });





</script>
