﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_MasterLC

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "MasterLC List";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
   

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Master L/C: Create  <button type='button' style='background-color:red;float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Master L/C: Edit.  <button type='button' style='background-color:red;float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Master L/C: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
       // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });


</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Master L/C:
        &nbsp;&nbsp;
        (&nbsp; <a href="VmCommercial_MasterLCCreate" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            Master L/C:
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_LCType.Name)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Commercial_LCOregin.Name)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Mkt_BuyerFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.TotalValue)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Port)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Commercial_BuyerBankFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.Commercial_LienBankFK)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.AmendmentIncrease)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_MasterLC.AmendmentDecrease)
                            </th>
                            <th>
                                Action
                            </th>
                            <th style="width:110px">
                                Break downs
                            </th>
                            <th>
                                Attachment
                            </th>
                           
                        </tr>
                    </thead>
                     <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Commercial_MasterLC.Acc_AcNameFk > 0)
                                        {
                                            <span class="label label-primary"><b>@(++Sl).</b></span>
                                        }
                                        else
                                        {
                                            <b>@(++Sl).</b>
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Date)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_LCType.Name)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Commercial_LCOregin.Name)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Buyer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.TotalValue)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Port)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Buyer_Bank.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lien_Bank.Name)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.AmendmentIncrease)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_MasterLC.AmendmentDecrease)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmCommercial_MasterLCEdit", new { id = item.Commercial_MasterLC.ID }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmCommercial_MasterLCDelete", new { id = item.Commercial_MasterLC.ID }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                   
                                </td>
                                <td style="width:110px">
                                    @Html.ActionLink("Add Buyer PO", "VmCommercial_MasterLCBuyerPOIndex", new { id = item.Commercial_MasterLC.ID }, new { @target = "_blank", @class = "InlineBtn" }) &nbsp;
                                    <br />
                                    @*@Html.ActionLink("Proforma Invoice", "VmCommercial_MasterLCBuyerPIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;
                                    <br />
                                    @Html.ActionLink("Supplier PO", "VmCommercial_MLcSupplierPOIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;
                                    <br />
                                    @Html.ActionLink("Supplier PI", "VmCommercial_MLcSupplierPIIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;
                                    <br />*@
                                    @*@Html.ActionLink("Add BTB L/C", "VmCommercial_MLcB2BLcIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;
                                    <br />*@

                                   
                                    @*@Html.ActionLink("Cotton", "../Marketing/CottonRequiredReport", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;*@


                                    @*@Html.ActionLink("Documentation", "VmCommercial_MLcBuyerDocsIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;
                                    <br />*@

                                    @*@Html.ActionLink("M L/C Realization", "VmCommercial_MLCRealizationIndex", new { id = item.Commercial_MasterLC.ID }, new { @class = "InlineBtn" }) &nbsp;*@
                                </td>

                                <td>
                                    @if (item.Commercial_MasterLC.ScanedFile != null)
                                    {
                                        @Html.ActionLink(".", "../CustomeFile/Commercial/", new { id = item.Commercial_MasterLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file", @title = "Attach File" })
                                    }
                                    else
                                    {
                                        <div class="glyphicon glyphicon-ban-circle" style="color:red;"  title = "No Attach File">
                                          
                                        </div>
                                    }

                                </td>
                               
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
<style>
    .InlineBtn:hover {
        background-color: blue;
        color: white;
    }
</style>