﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_MasterLCBuyerPO

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "MasterLC Buyer PO";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
       

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Buyer PO to this Master L/C.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Buyer PO to this Master L/C. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Buyer PO to this Master L/C.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Master L/C Buyer PO: @Html.DisplayFor(x => x.Commercial_MasterLCBuyerPO.ID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>*@
        <li class="active">@Html.DisplayFor(x => x.Commercial_MasterLCBuyerPO.ID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_MasterLCBuyerPO.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Master L/C Summary : @*@Html.ActionLink(".", "LCStatementDoc", new { id = Model.Commercial_MasterLC.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })*@
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Date)">
                            </div>

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.NotifyParty)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.NotifyParty)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.TotalValue)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.TotalValue)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.BuyerTolerance)</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.BuyerTolerance)">
                                </div>*@
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.HandlingCharge)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.HandlingCharge)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">Test Charge</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.GarmentsTest">
                                </div>*@
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">Buyer Com.</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.TotalBuyerCommission">
                                </div>*@
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.FreightCharge)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.FreightCharge)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">Actual Value</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.ActualValue">
                                </div>*@
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Mkt_BuyerFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                            </div>
                        </div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.ShipmentDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.ShipmentDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.ExpiryDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.ExpiryDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Port)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Port)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.DestinationCountry)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.DestinationCountry)">
                            </div>


                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Commercial_BuyerBankFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Buyer_Bank.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Commercial_LienBankFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Lien_Bank.Name)">
                            </div>

                            @*<div class="input-group">
                                    <span style="width:130px;" class="input-group-addon">Value For BTB</span>
                                    <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.ActualValueOf75Percent">
                                </div>*@
                            <div class="input-group">
                                <span style="width:440px;" class="input-group-addon">
                                    <a href="~/commercial/vmcommercial_udindex"target="_blank"><b style="color:red">TO CREATE UD</b></a>
                                </span>

                            </div>

                            <div class="col-md-1"></div>
                        </div>
                    </div>




                    <section>
                        <h3>
                            Buyer PO
                            (&nbsp;<a href="~/Commercial/VmCommercial_MasterLCBuyerPOCreate/@Model.Commercial_MasterLC.ID+@Model.Mkt_Buyer.ID" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                        </h3>
                    </section>
                    <div class="table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Common_TheOrder.CID)

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_BOM.QPack)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalOrderQty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_BOM.UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RatePack)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Commercial_MasterLCBuyerPO.Description)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            @{
                                int Sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>

                                        <td><b>@(++Sl).</b></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOM.QPack)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalOrderQty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RatePack)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Commercial_MasterLCBuyerPO.Description)
                                        </td>



                                        <td>
                                            @Html.ActionLink(".", "VmCommercial_MasterLCBuyerPOEdit", new { id = item.Commercial_MasterLCBuyerPO.ID + "x" + Model.Commercial_MasterLC.ID }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                            @Html.ActionLink(".", "VmCommercial_MasterLCBuyerPODelete", new { id = item.Commercial_MasterLCBuyerPO.ID + "x" + Model.Commercial_MasterLC.ID }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td>
                                        &nbsp;
                                    </td>

                                    <td colspan="2">
                                        <span class="text-bold" style="font-size:15px">TOTAL</span>
                                    </td>
                                    <td>
                                        <span class="text-bold" style="font-size:15px">
                                            @Model.SumTotalPackQty
                                        </span>

                                    </td>
                                    <td>
                                        <span class="text-bold" style="font-size:15px">
                                            @Model.SumTotalOrderQty
                                        </span>

                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        @*<span class="text-bold" style="font-size:15px">
                                                @Model.SumRatePack
                                            </span>*@
                                        &nbsp;
                                    </td>
                                    <td>
                                        <span class="text-bold" style="font-size:15px">
                                            @Model.SumTotalPriceStr
                                        </span>

                                    </td>

                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>


