﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLC


@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BTB LC List";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("BTB L/C: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("BTB L/C: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BTB L/C: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Master L/C BTB L/C : @Html.DisplayFor(x => x.Commercial_B2bLC.ID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Commercial_B2bLC.ID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_B2bLC.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Master L/C Summary :@Html.ActionLink(".", "LCStatementDoc", new { id = Model.Commercial_MasterLC.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Date)">
                            </div>
                           
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.NotifyParty)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.NotifyParty)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.TotalValue)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.TotalValue)">
                            </div>
                          
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.HandlingCharge)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.HandlingCharge)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Test Charge</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.VmCommercial_MasterLCBuyerPO.GarmentsTest"> @*@Html.DisplayFor(x => x.Commercial_MasterLC.TestCharge)*@
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Buyer Com.</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.VmCommercial_MasterLCBuyerPO.TotalBuyerCommission"> @*@Html.DisplayFor(x => x.Commercial_MasterLC.BuyerCommision)*@
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.FreightCharge)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.FreightCharge)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Actual Value</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.VmCommercial_MasterLCBuyerPO.ActualValue">
                            </div>

                        </div>
                        <div class="box-body col-md-5">
                           
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.ShipmentDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.ShipmentDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.ExpiryDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.ExpiryDate)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Port)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Port)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.DestinationCountry)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.DestinationCountry)">
                            </div>
                          
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_MasterLC.Mkt_BuyerFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                            </div>
                         
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">Value For BTB</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.VmCommercial_MasterLCBuyerPO.ActualValueOf75Percent">
                            </div>
                            <div class="input-group">
                                <span style="width:440px;" class="input-group-addon">
                                    <a href="~/Commercial/VmCommercial_MasterLCBuyerPOIndex/@Html.DisplayFor(x => x.Commercial_MasterLC.ID)">TO ADD BUYER PO IN THIS L/C</a>
                                </span>

                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>




                <section>
                    <h3>
                        BTB L/C List

                        (&nbsp;<a href="~/Commercial/VmCommercial_MLcB2BLcCreate/@Model.Commercial_MasterLC.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLC.RequiredQuantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLC.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLC.Date)
                                </th>
                             
                              
                                <th>
                                    Lien @Html.DisplayNameFor(model => model.Buyer_Bank.Name)
                                </th>
                              
                                <th>
                                    Current BTB L/C Value
                                    @*@Html.DisplayNameFor(model => model.Commercial_B2bLC.Amount)*@
                                </th>
                                <th>
                                  Total Amendment Value
                                    @*@Html.DisplayNameFor(model => model.Commercial_B2bLC.AmendmentValue)*@
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.Amendment)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLC.Description)
                                </th>

                                <th>
                                    Action
                                </th>
                                <th>
                                    Attachment
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td><b>@(++Sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.RequiredQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Date)
                                    </td>
                                   
                                  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Buyer_Bank.Name)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Amount)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amendment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Description)
                                    </td>




                                    <td>
                                        @Html.ActionLink(".", "VmCommercial_MLcB2BLcEdit", new { id = item.Commercial_B2bLC.ID + "x" + Model.Commercial_MasterLC.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        @Html.ActionLink(".", "VmCommercial_MLcB2BLcDelete", new { id = item.Commercial_B2bLC.ID + "x" + Model.Commercial_MasterLC.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                    </td>
                                    @*<td>
                                            @Html.ActionLink(".", "../CustomeFile/Commercial/", new { id = item.Commercial_B2bLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file" }) &nbsp;

                                        </td>*@
                                    <td>
                                        @Html.ActionLink(".", "~/CustomeFile/Commercial/", new { id = item.Commercial_B2bLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file" }) &nbsp;

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="3">
                                    <span class="text-bold" style="font-size:15px">
                                        TOTAL BTB L/C Value
                                    </span>
                                </th>
                              
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                               
                             
                                <th>
                                    <span class="text-bold" style="font-size:15px">
                                        @Model.SumAmount
                                    </span>
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                              
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>
                                    <span class="text-bold" style="font-size:15px">
                                        BALANCE
                                    </span>
                                </th>
                              
                              
                               
                                <th>
                                    &nbsp;
                                </th>
                                <th colspan="3">
                                    (<span class="text-bold" style="font-size:15px">
                                        @*@Model.ValueForB2B75*@
                                    </span><b>-</b> <span class="text-bold" style="font-size:15px">
                                        @Model.SumAmount
                                    </span> )
                                </th>

                                <th>
                                    <span class="text-bold" style="font-size:15px">
                                        @Model.Balance
                                    </span>
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

