﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_BillOfExchange

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Bill Of Exchange";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>


<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html("Add Bill Of Exchange.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Edit Bill Of Exchange. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Bill Of Exchange.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header" style="padding-bottom:5px">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>

        <li class="active">Bill Of Exchange</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->

<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
      
        <!-- /.box -->
        <div class="box">

            <div class="box-body">
                <section>
                    <h3>
                      Bill Of Exchange
                        (&nbsp;<a href="~/Commercial/VmCommercial_BillOfExchangeCreate" id="lnkCreate"title="Create Bill Of Exchange"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Name)
                                </th>
                                <th>
                                    Bill Value
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.BillDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                                </th>

                                <th>Invoice No</th>
                                @*<th>Destination</th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.FDBCNO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.FDBCDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Courier)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.CourierDate)
                                </th>

                                <th>
                                    Pay to the order of
                                </th>
                                <th>
                                    Issued By
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl2 = 0;
                          

                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {

                             
                            <tr>

                                <td><b>@(++Sl2).</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.Name)
                                </td>
                                <td>
                                    @string.Format("{0:0.00}", @item.BillValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.BillDate)
                                </td>
                                <td>
                                    <a href="~/Commercial/VmCommercial_MasterLCBuyerPOIndex/@item.Commercial_MasterLC.ID" title="Master L/C Details">@Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)</a>
                                   
                                </td>

                                <td>
                                    <table>

                                        <tr></tr>
                                        @foreach (var itemChild in item.BillOfExchangeSlaveList)
                                        {
                                            <tr>
                                                <td style="padding:2px 4px 2px 4px">
                                                    <center>
                                                        <a href="~/Commercial/VmCommercial_InvoiceSlaveIndex/@itemChild.InvoiceId" title="Invoice Details">@itemChild.InvoiceNo</a><br />
                                                    </center>
                                                </td>
                                            </tr>

                                        }
                                    </table>
                                </td>
                                @*<td>
                                    <table>

                                        <tr></tr>
                                        @foreach (var itemChild in item.BillOfExchangeSlaveList)
                                        {
                                            <tr>
                                                <td style="padding:2px 4px 2px 4px">
                                                    <center>
                                                       @itemChild.CountryName<br />
                                                    </center>
                                                </td>
                                            </tr>

                                        }
                                    </table>
                                </td>*@

                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.FDBCNO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.FDBCDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.Courier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.CourierDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Lien_Bank.Name) <br />@Html.DisplayFor(modelItem => item.Lien_Bank.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Buyer_Bank.Name) <br />@Html.DisplayFor(modelItem => item.Buyer_Bank.Address)
                                </td>

                                <td>
                                    @Html.ActionLink(".", "VmCommercial_BillOfExchangeEdit", "Commercial", new { id = item.Commercial_BillOfExchange.ID }, new { @title = "Edit Bill Of Exchange", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmCommercial_BillOfExchangeDelete", "Commercial", new { id = item.Commercial_BillOfExchange.ID }, new { @title = "Delete Bill Of Exchange", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                    @Html.ActionLink(".", "VmCommercial_BillOfExchangeSlaveIndex", "Commercial", new { id = (item.Commercial_BillOfExchange.ID) }, new { @title = "Add Invoice", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                    @Html.ActionLink(".", "BillOfExchangeReport", "Shipment", new { id = item.Commercial_BillOfExchange.ID }, new { @title = "Print Bill Of Exchange", @target = "_blank", @class = "glyphicon glyphicon-print" })

                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>



































