﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_Invoice

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Invoice";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>


<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header" style="padding-bottom:5px">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Invoice</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_Invoice.ID)
        <!-- /.box -->
        <div class="box">

            <div class="box-body">

                <section>
                    <h3>
                        Invoice :
                        (&nbsp;<a href="~/Commercial/VmCommercial_InvoiceCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceDate)
                                </th>
                                <th>
                                    Exp No
                                </th>
                                <th>
                                    Exp Date
                                </th>
                                <th>
                                    Total Ctn Qty
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Commercial_Invoice.InvoiceIdNo)*@
                                    Total Order Qty
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Commercial_Invoice.BLNo)*@
                                    Total Pack Qty
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Commercial_Invoice.BLDate)*@
                                    Total Price
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Invoice.IncDecDescription)
                                </th>
                                <th>
                                    Inc/Decs Amount
                                </th>
                                <th>
                                    Grand Total
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            int SlLc = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td><b>@(++SlLc).</b></td>
                                    <td>
                                        <a href="~/Commercial/VmCommercial_InvoiceSlaveIndex/@item.Commercial_Invoice.ID" title="Invoice Details">@Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceNo)</a>
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.InvoiceDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.ExpNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.ExpDate)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalCtnQty)) Ctn
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalOrderQty)) Pcs
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalPackQty)) Pack
                                    </td>
                                    <td>
                                        @{
                                            var totalPrice = item.TotalGenerateClass.Sum(x => x.TotalPrice);
                                        }
                                        $@string.Format("{0:0.00}", totalPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Invoice.IncDecDescription)
                                    </td>
                                    <td>
                                        @if (item.Commercial_Invoice.IsIncrease)
                                        {
                                            <span>+&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span>-&nbsp;</span>
                                        }
                                        <span>$</span>@string.Format("{0:0.00}", item.Commercial_Invoice.IncDecAmount)
                                    </td>
                                    <td>
                                        @if (item.Commercial_Invoice.IsIncrease)
                                        {
                                            var grandtotal = totalPrice + item.Commercial_Invoice.IncDecAmount;
                                            <span>$</span>@Html.DisplayFor(modelItem => grandtotal)
                                        }
                                        else
                                        {
                                            var grandtotal = totalPrice - item.Commercial_Invoice.IncDecAmount;
                                            <span>$</span>@Html.DisplayFor(modelItem => grandtotal)
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink(".", "VmCommercial_InvoiceEdit", new { id = item.Commercial_Invoice.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                        @Html.ActionLink(".", "VmCommercial_InvoiceDelete", new { id = item.Commercial_Invoice.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                        @Html.ActionLink(".", "VmCommercial_InvoiceSlaveIndex", new { id = item.Commercial_Invoice.ID }, new { target = "_blank", @class = "glyphicon glyphicon-new-window", @title = "Invoice Details" })
                                        @Html.ActionLink(".", "InvoiceReport", "Shipment", new { id = item.Commercial_Invoice.ID }, new { target = "_blank", @class = "glyphicon glyphicon-print" })


                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

