﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_Import
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Import Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Import Status  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Import Status  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Import Status Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Commercial/VmCommercial_ImportIndex">Import Status</a></li>
        <li class="active">@Html.DisplayFor(x => x.Commercial_Import.ID)</li>
    </ol>
</section>
<br />

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_Import.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            BTB L/C Summary : (&nbsp;<a href="~/Commercial/VmCommercial_SetBTBLcStatus/@Model.Commercial_B2bLC.ID" class="lnkCreate"title="Import Status"><i class="fa fa-check"></i></a>&nbsp;)
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                        
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Commercial_MasterLCFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_MasterLC.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Date)">
                            </div>


                        </div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.FirstCreated)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.FirstCreated)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.LastEditeddBy)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.LastEditeddBy)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Status)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Status)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>
                    <h3>
                        Import Status
                        (&nbsp;<a href="~/Commercial/VmCommercial_ImportCreate/@Model.Commercial_B2bLC.ID" class="lnkCreate"title="Import Status Create"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.UnitQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.ETDDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.ETADate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.DocDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.Ship)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_Import.Remarks)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>

                                    <td><b>@(++Sl).</b></td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.Quantity) @Html.DisplayFor(modelItem => item.Shipment_Unit.Name) 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.UnitQty) @Html.DisplayFor(modelItem => item.Common_Unit.Name) 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.ETDDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.ETADate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.DocDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.Ship)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_Import.Remarks)
                                    </td>
                                    <td>
                                        @Html.ActionLink(".", "VmCommercial_ImportEdit", new { id = item.Commercial_Import.ID + "x" + Model.Commercial_B2bLC.ID }, new { @title = "Import Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                        @Html.ActionLink(".", "VmCommercial_ImportDelete", new { id = item.Commercial_Import.ID + "x" + Model.Commercial_B2bLC.ID }, new { @title = "Import Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>




