﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_Report
@{
    ViewBag.Title = "BTB L/C Summary Details";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        BTB L/C DETAILS
        &nbsp;&nbsp;
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            BTB L/C DETAILS
        </li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                MASTER L/C.
                            </th>
                            <th>
                                AMOUNT
                            </th>
                            <th>
                                LIMITATION
                            </th>
                            <th>
                                BTB L/C.
                            </th>
                            <th>
                                DATE
                            </th>
                            <th>
                                SUPPLYER NAME
                            </th>
                            <th>
                                ISSUED AMOUNT
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BTBList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MasterLCValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BOMValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BTBLimitValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BTBAvailableValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PORestValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.POIssuedValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BTBIssuedValue)
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>

