﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_MasterLCBuyerPO

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-10">
            @Html.HiddenFor(model => model.Commercial_MasterLCBuyerPO.Commercial_MasterLCFK)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLCBuyerPO.MKTBOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MasterLCBuyerPO.MKTBOMFK, ViewBag.MktBomCIDStyle as SelectList, "-- Select Order --", new { @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLCBuyerPO.MKTBOMFK, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLCBuyerPO.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLCBuyerPO.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLCBuyerPO.Name, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLCBuyerPO.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLCBuyerPO.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLCBuyerPO.Description, "", new { @class = "text-danger" })
            </div>
        </div>


       


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}





















































    
    



