﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLC
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<!-- Latest compiled and minified CSS -->
<script type="text/javascript" src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

@using (Html.BeginForm("VmCommercial_MLcB2BLcCreate", "Commercial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Commercial_B2bLC.Commercial_UDFK)
            @Html.HiddenFor(model => model.Commercial_B2bLC.Status)
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Date, new { htmlAttributes = new { @id= "Date", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Commercial_LCOreginFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Commercial_LCOreginFK, ViewBag.LCOregin as SelectList, "--Select Origin--", new { @id= "Commercial_LCOreginFK",@class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Commercial_LCOreginFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Commercial_BtBLCTypeFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Commercial_BtBLCTypeFK, ViewBag.BtBLCType as SelectList, "--Select BTB L/C Type--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Commercial_BtBLCTypeFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Commercial_BTBItemFK, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Commercial_BTBItemFK, ViewBag.ComBTBItem as SelectList, "--Select Item--", new {@class = "form-control SerchingDropDown ol-md-6 col-xs-6"})
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Commercial_BTBItemFK, "", new {@class = "text-danger"})
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Commercial_B2bLC.RequiredQuantity, new { htmlAttributes = new { @id = "Consumption", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Commercial_B2bLC.RequiredQuantity, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>KG</i>
                    </div>
                </div>

            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.RequiredQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.RequiredQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>



       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Common_SupplierFK, ViewBag.Common_Supplier as SelectList, "--Select Supplier--", new { @id = "Common_SupplierID", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <label class = "control-label col-md-3 col-sm-3 col-xs-6">Payable</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input style="background-color:#F0F8FF" id="B2bLCAmount" type="text" class="form-control ol-md-6 col-xs-6" disabled>
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.CurrencyType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.CurrencyType, ViewBag.CurrencyList as SelectList, "---Select Currency Type---", new { @id = "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.CurrencyType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.CurrencyRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.CurrencyRate, new { htmlAttributes = new { @readonly = "true", @id = "CurrencyRate", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.CurrencyRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Amount, new { htmlAttributes = new { @id= "Amount", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScanedFile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.ScanedFile, new { Type = "file" })
                @Html.ValidationMessageFor(model => model.ScanedFile, "", new { @class = "" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancelBtB btn btn-primary" />

            </p>
        </div>

    </div>
}

<script>
   
    $(function () {
        
        $("#Common_SupplierID").change(function () {
            var supplierId = $("#Common_SupplierID").val();
            //alert(supplierId);
            if (supplierId != '') {
                document.getElementById("B2bLCAmount").innerHTML = "";
                $.get("../../Helper/SupplierPayableValue", { ID: supplierId }, function (data) {
                   

                    $.each(data, function (index, row) {
                        console.log(row.Payable)                       
                        $("#B2bLCAmount").val(row.Payable)
                       
                    });
                });
            }
            else {
                document.getElementById("B2bLCAmount").innerHTML = "";
            }
        });
        $("#CurrencyType").change(function () {
            var currencyType = $("#CurrencyType").val();
            var date = $("#Date").val();
            //alert(supplierId);
            if (currencyType !== '') {
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
                $.get("../../Helper/GetDateWiseCurrencyRate", { ID: currencyType, date: date }, function (data) {
                    document.getElementById("CurrencyRate").readOnly = false;
                    $("#CurrencyRate").val(data.CurrencyRate);
                    document.getElementById("CurrencyRate").readOnly = data.ReadOnly;
                });
            }
            else {
                document.getElementById("CurrencyRate").readOnly = false;
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
            }
            document.getElementById("Amount").focus();
        });
        $("#Date").change(function () {
            $("#CurrencyType").trigger('change');
            document.getElementById("Commercial_LCOreginFK").focus();
        });
    })

</script>