﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_InvoiceSlave

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Invoice Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Invoice Details.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Invoice Details. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Invoice Details.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header" style="padding-bottom:5px">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Invoice Details </li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        @Html.HiddenFor(model => model.Commercial_InvoiceSlave.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Invoice Summary :
                            @Html.ActionLink(".", "InvoiceReport", "Shipment", new { id = Model.Commercial_Invoice.ID }, new { target = "_blank", @class = "glyphicon glyphicon-print" })


                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.InvoiceNo)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.InvoiceNo)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.InvoiceDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.InvoiceDate)">
                            </div>

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.ErcNo)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.ErcNo)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.InvoiceIdNo)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.InvoiceIdNo)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.ShippedPer)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.ShippedPer)">
                            </div>

                        </div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Shipment_PortOfLoading.PortOfLoading)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Shipment_PortOfLoading.PortOfLoading)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Shipment_PortOfDischarge.PortOfDischarge)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Shipment_PortOfDischarge.PortOfDischarge)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Country.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Country.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.BLNo)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.BLNo)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_Invoice.BLDate)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_Invoice.BLDate)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:440px;" class="input-group-addon">
                                        <a href="~/commercial/vmcommercial_masterlcindex">TO CREATE NEW MASTER L/C</a>
                                    </span>

                                </div>*@
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>




                <section>
                    <h3>
                        Add Deliverd Order
                        @*(&nbsp;<a href="~/Commercial/VmCommercial_InvoiceSlaveCreate/@Model.Commercial_Invoice.ID x @Model.Commercial_Invoice.Commercial_MasterLCFk" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
                        ( @Html.ActionLink(".", "VmCommercial_InvoiceSlaveCreate", new { id = Model.Commercial_Invoice.ID }, new { @class = "lnkEdit glyphicon glyphicon-plus" }) )&nbsp;

                    </h3>
                </section>



                <div>
                    <div class="table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Pack price</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Shipment_CNFDelivaryChallan.ChallanNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_BOM.Style)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                                    </th>
                                    <th>
                                        Order Quantity
                                    </th>
                                    <th>
                                        Total Pack
                                    </th>
                                    <th>
                                        Total CTN
                                    </th>
                                    <th style="text-align: right">
                                        Total Price
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            @{

                                int sl = 0;

                                decimal TTLPrice = 0;
                                decimal TTLdeliverdQty = 0;
                                decimal TTLlinePack = 0;
                                decimal TTLlineCtn = 0;
                            }

                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    decimal quantity = item.Mkt_BOM.Quantity;
                                    decimal packPrice = item.Mkt_BOM.PackPrice;
                                    decimal deliverdQty = item.Shipment_OrderDeliverdSchedule.DeliverdQty;


                                    decimal linePack = deliverdQty / quantity;


                                    var TotalPrice = packPrice * item.Shipment_OrderDeliverdSchedule.PackQty;
                                    TTLPrice += TotalPrice;
                                    TTLdeliverdQty += deliverdQty;
                                    TTLlinePack += linePack;
                                    TTLlineCtn += item.Shipment_OrderDeliverdSchedule.CtnQty;

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>@item.Mkt_BOM.PackPrice</td>
                                        <td>
                                            <a href="~/shipment/VmCNFDelivaryChallanSlaveIndex/@item.Shipment_CNFDelivaryChallan.ID">@Html.DisplayFor(modelItem => item.Shipment_CNFDelivaryChallan.ChallanNo)</a>                                           
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                        </td>
                                        <td>
                                            @string.Format("{0:0}", item.Shipment_OrderDeliverdSchedule.DeliverdQty)

                                        </td>
                                        <td>
                                            @string.Format("{0:0}", linePack)

                                        </td>
                                        <td>
                                            @string.Format("{0:0}", item.Shipment_OrderDeliverdSchedule.CtnQty)

                                        </td>
                                        <td style="text-align: right">
                                            @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)@string.Format("{0:0.00}", TotalPrice)
                                        </td>
                                        <td>
                                            @Html.ActionLink(".", "VmCommercial_InvoiceSlaveEdit", new { id = item.Commercial_InvoiceSlave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                            @Html.ActionLink(".", "VmCommercial_InvoiceSlaveDelete", new { id = item.Commercial_InvoiceSlave.ID, invoiceId = item.Commercial_InvoiceSlave.Commercial_InvoiceFk }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>

                                    <th colspan="3">
                                        Total
                                    </th>
                                    <th></th>
                                    <th>@string.Format("{0:0}", TTLdeliverdQty) Pcs</th>
                                    <th>@string.Format("{0:0}", TTLlinePack) Pack</th>
                                    <th>@string.Format("{0:0}", TTLlineCtn) Ctn</th>
                                    <th style="text-align: right">
                                        $@string.Format("{0:0.00}", TTLPrice)

                                    </th>

                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

