﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_UD
@{
    ViewBag.Title = "Closed UD";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-closeconfirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("UD: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("UD: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("UD: Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkClose").click(function (e) {
            $(".ui-dialog-titlebar").html("UD: Close");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Close");
            $("#dialog-closeconfirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        // $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-closeconfirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to close?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Closed UD 
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
           Closed UD
        </li>
    </ol>
</section>
<br />
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.UdNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Commercial_UD.Date)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Commercial_UD.BTBOpening)
                                </th>*@
                            <th>
                                Master L/C No
                            </th>
                            <th>
                                Action
                            </th>
                            <th>
                                Statements
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Commercial_UD.Acc_AcNameFk > 0)
                                        {
                                            <span class="label label-primary"><b>@(++Sl).</b></span>
                                        }
                                        else
                                        {
                                            <b>@(++Sl).</b>
                                        }
                                    }
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_UD.UdNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Commercial_UD.Date)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Commercial_UD.BTBOpening) %
                                    </td>*@
                                <td>
                                    <table>

                                        <tr></tr>
                                        @foreach (var itemChild in item.MasterLC)
                                        {
                                            <tr>
                                                <td style="padding:2px 4px 2px 4px">
                                                    <center>
                                                        <a href="~/Commercial/VmCommercial_MasterLCBuyerPOIndex/@Html.DisplayFor(modelItem => itemChild.ID)" class="ItemChildCSS" target="_blank">@Html.DisplayFor(modelItem => itemChild.Name)</a>

                                                        <br />
                                                    </center>
                                                </td>
                                            </tr>

                                        }
                                    </table>
                                </td>

                                <td class="text-center">
                                    @if (item.Commercial_UD.IsClose == false)
                                    {
                                        @Html.ActionLink(".", "VmCommercial_UDEdit", new { id = item.Commercial_UD.ID }, new { title = "UD Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) <span>&nbsp;</span>
                                        @Html.ActionLink(".", "VmCommercial_UDDelete", new { id = item.Commercial_UD.ID }, new { title = "UD Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) <span>&nbsp;</span>
                                        @Html.ActionLink(".", "VmCommercial_UDSlaveIndex", new { id = item.Commercial_UD.ID }, new { title = "UD Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })<span>&nbsp;</span>
                                        <br />@Html.ActionLink(".", "VmCommercial_UDClose", new { id = item.Commercial_UD.ID }, new { title = "UD Close", @class = "lnkClose glyphicon glyphicon-off" })
                                    }
                                    else
                                    {
                                        <span class="label label-warning">UD Closed</span>
                                        <br />
                                        @Html.ActionLink(".", "VmCommercial_UDSlaveIndex", new { id = item.Commercial_UD.ID }, new { title = "UD Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                        <span>&nbsp;</span>
                                        @Html.ActionLink(".", "VmCommercial_UDReOpen", new { id = item.Commercial_UD.ID }, new { title = "UD Re Open", @class = "glyphicon glyphicon-repeat" })
                                    }
                                </td>
                                <td title="Statement">
                                    @Html.ActionLink("L/C Statement", "LCStatementDoc", new { id = item.Commercial_UD.ID }, new { @title = "L/C Statement", @target = "_blank", @class = "InlineBtn" })
                                    <br />
                                    @Html.ActionLink("L/C Statement", "LCStatementReport", new { id = item.Commercial_UD.ID }, new { @title = "L/C Statement", @target = "_blank", @class = "InlineBtn" })
                                    <br />
                                    @Html.ActionLink("Invoice", "VmCommercial_InvoiceIndex", new { id = item.Commercial_UD.ID }, new { @title = "Invoice", @target = "_blank", @class = "InlineBtn" }) &nbsp;
                                    <br />
                                    @Html.ActionLink("Bills Of Exchange", "VmCommercial_BillOfExchangeIndex", new { id = item.Commercial_UD.ID }, new { @title = "Bills Of Exchange", @target = "_blank", @class = "InlineBtn" }) &nbsp;
                                    <br />
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>

        </div>

    </div>

</div>
<style>
    .InlineBtn:hover {
        background-color: blue;
        color: white;
    }
</style>
