﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_MasterLC

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm("VmCommercial_MasterLCEdit", "Commercial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Commercial_MasterLC.ID)
        @Html.HiddenFor(model => model.Commercial_MasterLC.AmendmentIncrease)
        @Html.HiddenFor(model => model.Commercial_MasterLC.AmendmentDecrease)
        @Html.HiddenFor(model => model.Commercial_MasterLC.Acc_AcNameFk)
      

      
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.Name, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.Date, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Mkt_BuyerFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MasterLC.Mkt_BuyerFK, ViewBag.MasterLCMkt_Buyer as SelectList, "--Select Buyer--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Mkt_BuyerFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Commercial_BuyerBankFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MasterLC.Commercial_BuyerBankFK, ViewBag.Buyer_Bank as SelectList, "--Select Buyer Bank--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Commercial_BuyerBankFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Commercial_LienBankFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MasterLC.Commercial_LienBankFK, ViewBag.Lien_Bank as SelectList, "--Select Lien Bank--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Commercial_LienBankFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Commercial_LCTypeFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MasterLC.Commercial_LCTypeFK, ViewBag.MasterLcType as SelectList, "--Select L/C Type--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Commercial_LCTypeFK, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.NotifyParty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.NotifyParty, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.NotifyParty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.TotalValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.TotalValue, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.TotalValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AmendmentIncrease, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.AmendmentIncrease, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.AmendmentIncrease, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AmendmentDecrease, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.AmendmentDecrease, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.AmendmentDecrease, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.BuyerTolerance, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Commercial_MasterLC.BuyerTolerance, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Commercial_MasterLC.BuyerTolerance, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>%</i>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.HandlingCharge, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.HandlingCharge, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.HandlingCharge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.FreightCharge, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.FreightCharge, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.FreightCharge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.ShipmentDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.ShipmentDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.ShipmentDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.ExpiryDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.Port, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.Port, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.Port, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MasterLC.DestinationCountry, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MasterLC.DestinationCountry, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MasterLC.DestinationCountry, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            @Html.LabelFor(model => model.ScanedFile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextBoxFor(model => model.ScanedFile, new { Type = "file" })
                @Html.ValidationMessageFor(model => model.ScanedFile, "", new { @class = "" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}

