﻿
<style type="text/css">.commonCountryOfOriginFk { }</style>
@model Oss.Romo.ViewModels.Commercial.VmCommercial_Invoice
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Commercial_Invoice.EstimatedReceivedDate)
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.InvoiceNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.InvoiceNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.InvoiceNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.InvoiceDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.InvoiceDate, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.Commercial_Invoice.EstimatedReceivedDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_Invoice.EstimatedReceivedDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_Invoice.EstimatedReceivedDate, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ExpNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.ExpNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ExpNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ExpDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.ExpDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ExpDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ErcNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.ErcNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ErcNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.InvoiceIdNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.InvoiceIdNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.InvoiceIdNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ShippedPer, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.ShippedPer, ViewBag.ShippedPer as SelectList, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ShippedPer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.TermOfShipment, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.TermOfShipment, ViewBag.TermOfShipment as SelectList, "---Please Select---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.TermOfShipment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ShipmentPortOfLoadingFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.ShipmentPortOfLoadingFk, ViewBag.PortLoading as SelectList, "---Select port of Loading---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ShipmentPortOfLoadingFk, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ShipmentPortOfDischargeFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.ShipmentPortOfDischargeFk, ViewBag.Discharge as SelectList, "---Select port of discharge---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ShipmentPortOfDischargeFk, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.CommonCountryFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.CommonCountryFk, ViewBag.Country as SelectList, "---Select Final Destination---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.CommonCountryFk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.CommonCountryOfOriginFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Commercial_Invoice.CommonCountryOfOriginFk, ViewBag.Country as SelectList, "---Select Final Destination---", new { @class = "form-control commonCountryOfOriginFk ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.CommonCountryOfOriginFk, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.BLNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.BLNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.BLNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.BLDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.BLDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.BLDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.ShippingMarks, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.ShippingMarks, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", rows = "3" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.ShippingMarks, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Commercial_Invoice.CTN, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_Invoice.CTN, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", placeholder = "1-60" } })
                @Html.ValidationMessageFor(model => model.Commercial_Invoice.CTN, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.NWT, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.NWT, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.NWT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.GWT, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.GWT, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.GWT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.CBM, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.CBM, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", placeholder = "CBM" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.CBM, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.IsIncrease, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">

            @Html.RadioButtonFor(model => model.Commercial_Invoice.IsIncrease, false, new { @checked = "checked", id = "IsIncreasefalse" })
            @Html.Label("IsIncreasefalse", "Decrease")
            @Html.RadioButtonFor(model => model.Commercial_Invoice.IsIncrease, true, new { id = "IsIncreasetrue" })
            @Html.Label("IsIncreasetrue", "Increase")

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.IncDecDescription, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.IncDecDescription, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", placeholder = "Increase/Decrease Description" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.IncDecDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Commercial_Invoice.IncDecAmount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Commercial_Invoice.IncDecAmount, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", placeholder = "Increase/Decrease Amount in Dollar" } })
            @Html.ValidationMessageFor(model => model.Commercial_Invoice.IncDecAmount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

        </p>
    </div>

</div>
}

<script>
    
    $(document).ready(function() {

        $(".commonCountryOfOriginFk").val(20);


    })
</script>