﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_UDSlave

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "UD Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {

        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html("Add.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>

        @*<li class="active">@Html.DisplayFor(x => x.Commercial_UDSlave.ID)</li>*@
        <li class="active">UD Details</li>
    </ol>
</section>
<br />

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_UDSlave.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <b> Reports:</b>
                                </div>

                                <div class="col-md-3">
                                    <div class="center">
                                        @Html.ActionLink("L/C Statement", "LCStatementDoc", new { id = Model.Commercial_UD.ID }, new { @target = "_blank", @class = "InlineBtn" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="center">
                                        @Html.ActionLink("Invoice", "VmCommercial_InvoiceIndex", new { id = Model.Commercial_UD.ID }, new { @target = "_blank", @class = "InlineBtn" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="center">
                                        @Html.ActionLink("Bills Of Exchange", "VmCommercial_BillOfExchangeIndex", new { id = Model.Commercial_UD.ID }, new { @target = "_blank", @class = "InlineBtn" })
                                    </div>
                                </div>

                            </div>



                        </div>

                    </div>
                    <div class="row">
                        <center>
                            <h4>
                                UD Summary :
                            </h4>
                        </center>
                        <div class="col-md-1">

                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_UD.UdNo)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_UD.UdNo)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_UD.BTBOpening)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_UD.BTBOpening) %">
                            </div>
                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_UD.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_UD.Date)">

                            </div>
                            <div class="input-group">
                                @if (Model.Commercial_UD.IsClose == false)
                                {
                                    <span style="width:440px;" class="input-group-addon">
                                        <a href="~/commercial/vmcommercial_masterlcindex" target="_blank"><b style="color:red">TO CREATE NEW MASTER L/C</b></a>
                                    </span>
                                }
                                else
                                {

                                }


                            </div>
                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>
                    @if (Model.Commercial_UD.IsClose == false)
                    {
                        <h3>
                            Add Master L / C. (<a href="~/Commercial/VmCommercial_UDSlaveCreate/@Model.Commercial_UD.ID" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a>)
                        </h3>
                    }
                    else
                    {
                        <h3><span class="label label-warning">UD Closed</span></h3>
                    }
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.FreightCharge)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.HandlingCharge)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BuyerCommission)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TestCharge)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.TotalValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalPoValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_UDSlave.Description)
                                </th>


                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>

                                    <td><b>@(++Sl).</b></td>
                                    <td>
                                        <a href="~/Commercial/VmCommercial_MasterLCBuyerPOIndex/@Html.DisplayFor(modelItem => item.Commercial_MasterLC.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)</a>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.FreightCharge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.HandlingCharge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuyerCommission)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TestCharge)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.TotalValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPoValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_UDSlave.Description)
                                    </td>


                                    <td>
                                        @{
                                            if (Model.Commercial_UD.IsClose == false)
                                            {
                                                @Html.ActionLink(".", "VmCommercial_UDSlaveEdit", new { id = item.Commercial_UDSlave.ID + "x" + Model.Commercial_UD.ID }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) <sapn>&nbsp;</sapn>

                                                @Html.ActionLink(".", "VmCommercial_UDSlaveDelete", new { id = item.Commercial_UDSlave.ID + "x" + Model.Commercial_UD.ID }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                            }
                                            else
                                            {
                                                <span class="label label-warning">UD Closed</span>
                                            }
                                        }


                                    </td>
                                </tr>

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-navy text-bold" colspan="2">TOTAL</td>

                                <td class="text-bold">@Model.TotalFreightChargeStr</td>
                                <td class="text-bold">@Model.TotalHandlingChargeStr</td>
                                <td class="text-bold">@Model.TotalBuyerCommissionStr</td>
                                <td class="text-bold">@Model.TotalTestChargeStr</td>
                                <td class="text-bold">@Model.TotalLCValueStr</td>
                                <td class="text-bold">@Model.TotalPOValueStr</td>
                                <td></td>
                                <td></td>
                              
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-navy text-bold" colspan="2">BTB Opening Value</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-bold">@Model.BTBOpeningStr</td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                @*<div class="box box-info">
                        <div class="box-header with-border">
                            <h3>

                            </h3>
                        </div>
                    </div>*@
                <script>
                    $(document).ready(function () {
                        var url = "";


                        $("#dialog-editBtB").dialog({
                            autoOpen: false,
                            resizable: false,
                            height: 550,
                            width: 600,
                            show: { effect: 'left', direction: "up" },
                            modal: true,
                            draggable: true,
                            open: function (event, ui) {
                                $(".ui-dialog-titlebar-close").hide();
                                $(this).load(url);
                            }
                        });

                        $("#dialog-confirmBtB").dialog({
                            autoOpen: false,
                            resizable: false,
                            height: 170,
                            width: 350,
                            show: { effect: 'drop', direction: "up" },
                            modal: true,
                            draggable: true,
                            open: function (event, ui) {
                                $(".ui-dialog-titlebar-close").hide();

                            },
                            buttons: {
                                "OK": function () {
                                    $(this).dialog("close");
                                    window.location.href = url;
                                },
                                "Cancel": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });


                        $("#lnkCreateBtB").click(function(e) {
                            $(".ui-dialog-titlebar").html("BTB L/C: Create  <button type='button'  style='float: right;' class='btncancelBtB'>&times;</button>");
                            url = $(this).attr('href');
                            $("#dialog-editBtB").dialog('open');
                            $("#LoadingBar").show();

                            return false;
                        });

                        $(".lnkEditBtB").click(function(e) {
                            $(".ui-dialog-titlebar").html("BTB L/C: Edit.  <button type='button'  style='float: right;' class='btncancelBtB'>&times;</button>");
                            url = $(this).attr('href');
                            $("#dialog-editBtB").dialog('open');
                            $("#LoadingBar").show();

                            return false;
                        });

                        $(".lnkDeleteBtB").click(function(e) {
                            $(".ui-dialog-titlebar").html("BTB L/C: Delete.");
                            url = $(this).attr('href');
                            $(".ui-dialog-title").html("Delete");
                            $("#dialog-confirmBtB").dialog('open');

                            return false;
                        });

                        $(".btncancelBtB").click(function(e) {
                            $("#dialog-editBtB").dialog("close");
                            return false;
                        });
                        //$('#dialog-editBtB').load($('#lnkCreateBtB').attr('href'));
                        //$('#dialog-editBtB').load($('.lnkEditBtB').attr('href'));
                    });
                </script>
                <div id="dialog-alertBtB" style="display: none">
                    <p>

                    </p>
                </div>

                <div id="dialog-confirmBtB" style="display: none">
                    <p>
                        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                        Are you sure to delete?
                    </p>
                </div>

                <div id="dialog-editBtB" style="display: none">
                    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

                </div>
                <section>
                    @if (Model.Commercial_UD.IsClose == false)
                    {
                        <h3>
                            BTB L/C List  (&nbsp;<a href="~/Commercial/VmCommercial_MLcB2BLcCreate/@Model.Commercial_UD.ID" id="lnkCreateBtB"><i title="Create" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                        </h3>
                    }
                    else
                    {
                        <h3><span class="label label-warning">UD Closed</span></h3>
                    }
                </section>
                <div class="table-responsive">
                    <table id="DataTable2" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_LCOregin.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_BtBLCType.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.RequiredQuantity)
                                </th>
                                <th>
                                    @Html.DisplayName("PO Value")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Common_Supplier.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.Description)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.Amount)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.AmendmentIncrease)
                                </th>
                                <th>

                                    @Html.DisplayNameFor(model => model.VmCommercial_B2bLC.Commercial_B2bLC.AmendmentDecrease)
                                </th>



                                <th>
                                    Action
                                </th>
                                <th>
                                    Attachment
                                </th>
                            </tr>
                        </thead>
                        @{
                            int SlBTB = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.VmCommercial_B2bLC.DataList)
                            {
                                <tr>
                                    <td>
                                        @{
                                            if (item.Commercial_B2bLC.Acc_AcNameFk > 0)
                                            {
                                                <b class="label label-primary">@(++SlBTB).</b>
                                            }
                                            else
                                            {
                                                <b>@(++SlBTB).</b>
                                            }
                                        }
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_LCOregin.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BtBLCType.Name)
                                    </td>




                                    @{
                                        if (item.Commercial_B2bLC.RequiredQuantity == 0)
                                        {
                                            <td>
                                                0.00
                                                @*<span style="text-decoration: line-through;">
                                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </span>*@
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Commercial_B2bLC.RequiredQuantity)

                                                @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                            </td>
                                        }
                                    }
                                    @*<td>
                                            <table>
                                                <tbody>
                                                @{
                                                    foreach (var b2bItem in Model.VmCommercial_B2bLC.b2B)
                                                    {
                                                        foreach (var subItem in b2bItem.Where(x => x.Commercial_B2bLCID == item.Commercial_B2bLC.ID))
                                                        {
                                                            <tr>
                                                                <td>@subItem.ItemName</td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                                </tbody>
                                            </table>

                                        </td>
                                        <td>
                                            <table>
                                                <tbody>
                                                @{
                                                    foreach (var b2bItem in Model.VmCommercial_B2bLC.b2B)
                                                    {
                                                        foreach (var subItem in b2bItem.Where(x => x.Commercial_B2bLCID == item.Commercial_B2bLC.ID))
                                                        {
                                                            <tr>
                                                                <td>@subItem.RequiredQuantity</td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                                </tbody>
                                            </table>
                                        </td>*@
                                    <td>

                                        @Html.DisplayFor(modelItem => item.PoValue)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Description)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.AmendmentIncrease)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLC.AmendmentDecrease)
                                    </td>


                                    <td style="width: 110px">
                                        @{
                                            if (Model.Commercial_UD.IsClose == false)
                                            {
                                                if (item.Commercial_B2bLC.IsApproved)
                                                {
                                                    @Html.ActionLink(".", "VmCommercial_MLcB2BLcEdit", new { id = item.Commercial_B2bLC.ID + "x" + Model.Commercial_UD.ID }, new { @title = "Edit", @class = "lnkEditBtB glyphicon glyphicon-pencil" })
                                                    @Html.ActionLink(".", "VmCommercial_MLcB2BLcDelete", new { id = item.Commercial_B2bLC.ID + "x" + Model.Commercial_UD.ID }, new { @title = "Delete", @class = "lnkDeleteBtB glyphicon glyphicon-trash" })

                                                    @Html.ActionLink("Add Supplier PO", "VmCommercial_B2bLcSupplierPOIndex", new { id = item.Commercial_B2bLC.ID }, new { @target = "_blank" })
                                                }
                                                else
                                                {
                                                    <label class="label-danger">Not Approed</label>
                                                }
                                            }
                                            else
                                            {
                                                <span class="label label-warning">UD Closed</span>
                                            }
                                        }
                                    </td>
                                   
                                    <td>
                                        @if (item.Commercial_B2bLC.ScanedFile != null)
                                        {
                                            @Html.ActionLink(".", "../CustomeFile/Commercial/", new { id = item.Commercial_B2bLC.ScanedFile }, new { @target = "_blank", @class = "glyphicon glyphicon-file" })
                                        }
                                        else
                                        {
                                            <div class="glyphicon glyphicon-ban-circle" style="color:red;" title="NoFile">

                                            </div>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="3">
                                    <span class="text-bold" style="font-size:15px">
                                        TOTAL BTB L/C Value
                                    </span>
                                </th>

                                <th>
                                    &nbsp;
                                </th>
                                <th class="text-bold text-right">
                                    @Model.VmCommercial_B2bLC.TotalRequired KG
                                </th>
                                <th>
                                    &nbsp;
                                </th>

                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    <span class="text-bold text-right" style="font-size:15px">
                                        @Model.VmCommercial_B2bLC.SumAmount
                                    </span>
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                                <th>
                                    &nbsp;
                                </th>
                               

                            </tr>

                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<style>
    .InlineBtn:hover {
        background-color: blue;
        color: white;
    }
</style>