﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLcSupplierPO

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Commercial_MLcSupplierPO.Commercial_MasterLCFK)*@
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Commercial_B2bLcSupplierPO.Commercial_B2bLCFK)
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLcSupplierPO.Mkt_POFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLcSupplierPO.Mkt_POFK, ViewBag.Mkt_PO as SelectList, "--Select PO--", new {id="Mkt_PoId", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLcSupplierPO.Mkt_POFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLcSupplierPOSlave.Mkt_POSlaveFK, new SelectList(string.Empty, "Value", "Text"), "---Select Item---", new { id = "Mkt_POSlaveItem", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Total Required")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtTotalRequired" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Now Require")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtNowRequire" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLcSupplierPOSlave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLcSupplierPOSlave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLcSupplierPOSlave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLcSupplierPO.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLcSupplierPO.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLcSupplierPO.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}
<script>

    $('#Mkt_PoId').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Mkt_PoId').val() !== "--Select PO --") {
            var poid = $('#Mkt_PoId').val();
            $("#Mkt_POSlaveItem").empty();
            $('#txtTotalRequired').val("");
            $('#txtNowRequire').val("");
            $("#Mkt_POSlaveItem")
                .append("<option> --Select Item-- </option>");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetReqItemForSupplierPoList", "Helper")",
                data: { ID: poid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.length !== 0) {
                        $.each(data, function (index, row) {
                            $("#Mkt_POSlaveItem")
                                .append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                        });
                    }
                }
            });
        }
        });

    $('#Mkt_POSlaveItem').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Mkt_POSlaveItem').val() !== "---Select Item---") {
            var poslaveid = $('#Mkt_POSlaveItem').val();
            $('#txtTotalRequired').val("");
            $('#txtNowRequire').val("");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetQuantityForSupplierPoList", "Helper")",
                data: { ID: poslaveid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.length !== 0) {
                        
                        $('#txtTotalRequired').val(data.Total);
                        $('#txtNowRequire').val(data.NowReq);
                    }
                }
            });
        }
    });
</script>