﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_MLcBuyerDocs

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Commercial_MLcSupplierPO.Commercial_MasterLCFK)*@
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Commercial_MLcBuyerDocs.Commercial_MasterLCFK)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MLcBuyerDocs.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MLcBuyerDocs.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MLcBuyerDocs.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MLcBuyerDocs.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MLcBuyerDocs.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MLcBuyerDocs.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Commercial_MLcSupplierPO.Commercial_MasterLCFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Commercial_MLcSupplierPO.Commercial_MasterLCFK, ViewBag.MasterLC as SelectList, "--Select Master LC--", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Commercial_MLcSupplierPO.Commercial_MasterLCFK, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.Commercial_MLcBuyerDocs.Commercial__MasterLCDocsFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_MLcBuyerDocs.Commercial__MasterLCDocsFK, ViewBag.MasterLCDocs as SelectList, "--Select MasterLC Docs --", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_MLcBuyerDocs.Commercial__MasterLCDocsFK, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_MLcBuyerDocs.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_MLcBuyerDocs.Date, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_MLcBuyerDocs.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}

