﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLC

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Commercial_B2bLC.ID)
        @Html.HiddenFor(model => model.SupplierID)
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>B2B L/C Date</b></span>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Date, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>B2B L/C Amount</b></span>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2bLC.Amount, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_UD.UdNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_UD.UdNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_UD.UdNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_UD.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_UD.Date, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_UD.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2BPaymentInformation.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Commercial_B2BPaymentInformation.Date, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Commercial_B2BPaymentInformation.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Commercial_B2BPaymentInformation.B2bLCPayment == 0)
        {
            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6 text-bold">Payble</span>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input style="background-color:#d2d6de" value="There are no payble value" disabled="disabled" type="text" class="form-control col-md-6 col-xs-6" />
                </div>
            </div>
        }
        @if (Model.Commercial_B2BPaymentInformation.B2bLCPayment != 0)
        {
            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6 text-bold">Payble</span>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input style="background-color:#d2d6de" id="ShowB2bLCPayment" disabled="disabled" type="text" class="form-control col-md-6 col-xs-6" />
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Payment Value</b></span>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Commercial_B2BPaymentInformation.B2bLCPayment, new { htmlAttributes = new { @id = "B2bLCPayment", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Commercial_B2BPaymentInformation.B2bLCPayment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <p style="margin-left:50px">
                    <input type="submit" value="Save" class="btn btn-success" />
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </p>
            </div>
        }

    </div>
}

@{
    int sl = 0;
}
<div class="row">
    <div class="col-xs-12">


        <div class="box-body table-responsive no-padding" style="border-color:blue">
            <table border="1" id="example1" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Commercial_B2BPaymentInformation.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Commercial_B2BPaymentInformation.B2bLCPayment)
                        </th>
                        <th>Status</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.DataList)
                    {
                        <tr>
                            <td><b>@(++sl).</b></td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Commercial_B2BPaymentInformation.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Commercial_B2BPaymentInformation.B2bLCPayment)
                            </td>

                            <th>
                                @{
                                    if (item.Commercial_B2BPaymentInformation.IsApproved)
                                    {
                                        <label class="label-success">Approved</label>
                                    }
                                    else
                                    {
                                        <label class="label-warning">Not Approved</label>
                                    }

                                }
                            </th>

                        </tr>
                    }

                </tbody>

            </table>
        </div>

    </div>

</div>
<script>

    $(document).ready(function () {
        var payment = $("#B2bLCPayment").val()

        $("#ShowB2bLCPayment").val(payment)
    });

</script>