﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLC


@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm("VmCommercial_EditBTBLcStatus", "Commercial", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Commercial_B2bLC.ID)
        <input type="hidden" name="FromPage" value="InHouse" />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Commercial_B2bLC.Status, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Commercial_B2bLC.Status, ViewBag.Status as SelectList, "--Selec Status--", new { @class = "form-control dropdown col-xs-6" })
                @Html.ValidationMessageFor(model => model.Commercial_B2bLC.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>

    </div>
}

