﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_B2bLcSupplierPO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "B2B LC Supplier PO";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add New B2B L/C Supplier PO.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C Supplier PO Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("B2B L/C Supplier PO Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
       // $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        B2B L/C Supplier PO : @Html.DisplayFor(x => x.Commercial_B2bLcSupplierPO.ID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Commercial_B2bLcSupplierPO.ID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Commercial_B2bLcSupplierPO.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            B2B L/C Summary :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                           
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Date)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Date)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Commercial_BtBLCTypeFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_BtBLCType.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Commercial_LCOreginFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_LCOregin.Name)">
                            </div>
                        </div>
                       
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Commercial_UDFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_UD.UdNo)">
                            </div>

                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Common_SupplierFK)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                           <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Description)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Description)">
                            </div>
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Commercial_B2bLC.Amount)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Commercial_B2bLC.Amount)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>




                <section>
                    <h3>
                        Supplier PO List
                        (&nbsp;
                        
                        <a href="~/Commercial/VmCommercial_B2bLcSupplierPOCreate/@Model.Commercial_B2bLC.ID+@Model.Commercial_B2bLC.Common_SupplierFK" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLcSupplierPOSlave.TotalRequired)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_POSlave.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalPOValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_B2bLcSupplierPO.Description)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>

                                    <td><b>@(++Sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLcSupplierPOSlave.TotalRequired)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPOValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_B2bLcSupplierPO.Description)
                                    </td>
                                   
                                    <td>
                                        @Html.ActionLink(".", "VmCommercial_B2bLcSupplierPOEdit", new { id = item.Commercial_B2bLcSupplierPO.ID + "x" + Model.Commercial_B2bLC.ID }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                        @Html.ActionLink(".", "VmCommercial_B2bLcSupplierPODelete", new { id = item.Commercial_B2bLcSupplierPO.ID + "x" + Model.Commercial_B2bLC.ID }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;

                                    </td>
                                </tr>
                                
                            }
                        </tbody>
                        <tfoot>
                            <tr style="background-color:#F5F5DC">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-bold">Total</td>                              
                                <td></td>
                                <td></td>
                                <td class="text-bold">@Model.AllPOValueStr</td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
