﻿@model Oss.Romo.ViewModels.Commercial.VmImportReport

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Supplier FollowUp";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add New PI. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Status Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("PI Delete.");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
       // $('#dialog-edit').load($('#lnkCreate').attr('href'));
       // $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Supplier FollowUp</li>
    </ol>
</section>
<br />

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Filter BTB L/C Wise Supplier FollowUp Report (In-House)</h3>
                <hr />
            </div>
            <div class="box-body box-info">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VmFilter.FilterId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.VmFilter.FilterId, ViewBag.Filter as SelectList, "--- Select Filter Criteria ---", new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
                            </div>
                            @Html.ValidationMessageFor(model => model.VmFilter.FilterId, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-lg-3">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.VmFilter.FromDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.VmFilter.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                                </div>
                                @Html.ValidationMessage("error", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.VmFilter.FromDate, "", new { @class = "text-danger" })
                            </div>*@
                        <div class="col-lg-3">

                            <div class="form-group">
                                @Html.LabelFor(model => model.VmFilter.FromDate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.VmFilter.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })

                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                            </div>
                            @Html.ValidationMessage("error", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(model => model.VmFilter.FromDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VmFilter.ToDate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.VmFilter.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                            </div>
                            @Html.ValidationMessageFor(model => model.VmFilter.ToDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <div style="padding-top:24px;">
                                    <input type="submit" value="Show Report" class="btn btn-success" />
                                    @*<input type="reset" value="Cancel" class="btncancel btn btn-primary" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.ImportReport != null)
{
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title with-border">Supplier FollowUp Details</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="test" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th><center>SL.</center></th>
                                <th><center>BTB L/C</center></th>
                                <th><center>STATUS</center></th>
                                <th><center>AMOUNT(US $)</center></th>
                                <th><center>UD NO</center></th>
                                <th><center>EXPORT/SC</center></th>
                                <th><center>SUPPLIER</center></th>
                                <th><center>ITEM</center></th>
                                <th><center>BUYER</center></th>
                                <th><center>ORDER</center></th>
                                <th><center>SHIPMENT</center></th>
                                <th><center>BALANCE</center></th>
                                <th><center>UNIT</center></th>
                                <th><center>ETD</center></th>
                                <th><center>ETA</center></th>
                                <th><center>DOC.DATE</center></th>
                                <th><center>MODE</center></th>
                                <th><center>REMARKS</center></th>
                                <th><center>UPDATE</center></th>
                                @*<th><center>ACTION</center></th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var v in Model.ImportReport.Where(x => x.Body11 == "In-House"))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => v.Body8)
                                    </td>
                                    <td>
                                        @Html.ActionLink(v.Body1, "VmCommercial_ImportIndex", new { id = v.Body9 }, new { @title = "Commercial Import", @target = "_blank" })

                                    </td>
                                    <td>
                                        @Html.ActionLink(v.Body11, "VmCommercial_EditBTBLcStatus", new { id = v.Body9 }, new { @title = "Commercial Status", @class = "lnkEdit" })
                                    </td>
                                    <td>
                                        <center>@Html.DisplayFor(modelItem => v.Body2)</center>
                                    </td>
                                    <td style="padding-right: 15px;">
                                        <center>@Html.DisplayFor(modelItem => v.Body10)</center>
                                    </td>
                                    <td>
                                        <center>@Html.DisplayFor(modelItem => v.Body3)</center>
                                    </td>
                                    <td>
                                        <center>  @Html.DisplayFor(modelItem => v.Body4)</center>
                                    </td>
                                    <td>
                                        <center>@Html.DisplayFor(modelItem => v.Body5)</center>
                                    </td>
                                    <td>
                                        <center>@Html.DisplayFor(modelItem => v.Body6)</center>
                                    </td>
                                    <td>
                                        <center>@Html.DisplayFor(modelItem => v.Body7)</center>
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            <center>@Html.DisplayFor(modelItem => i.SubBody1)</center>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            <center>@Html.DisplayFor(modelItem => i.SubBody2)</center>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            <center>@Html.DisplayFor(modelItem => i.SubBody3)</center>
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody4) <br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody5)<br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody6)<br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody7)<br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody8)<br />
                                        }
                                    </td>
                                    <td>
                                        @foreach (var i in v.ReportDocTypeList)
                                        {
                                            @Html.DisplayFor(modelItem => i.SubBody9)<br />
                                        }
                                    </td>
                                    @*<td>
                                            @Html.ActionLink(".", "VmCommercial_ImportIndex", new { id = v.Body9 }, new { @title = "Commercial Import", @target = "_blank", @class = "glyphicon glyphicon-new-window" })

                                        </td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<style type="text/css">
    .ItemChildCSS:hover {
        background-color: dodgerblue;
        color: white;
    }

    .table-custom {
        overflow-y: visible;
        height: 490px;
    }
</style>

<script>
    $(document).ready(function () {
        var table = $('#test').DataTable({
            //"scrollX": true,
            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                    orientation: 'landscape',
                    //exportOptions: {
                    //    columns: [0, 1, 2, 3, 4, 5]
                    //}
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                    orientation: 'landscape',
                    //exportOptions: {
                    //    columns: [0, 1, 2, 3, 4, 5]
                    //}
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    orientation: 'landscape',
                    autoPrint: true,
                    exportOptions: {
                        columns: [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                    }
                }
            ],

            // "scrollY": "555px",
            //"scrollX": true,

            //   "fixedHeader": {
            //    "header": true,
            //    "footer": false
            //},
            //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


        });
    });
</script>