﻿@model Oss.Romo.ViewModels.Store.VmMktPO_Slave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Mkt_POSlave.ID)
                @Html.HiddenFor(model => model.Mkt_POSlave.Mkt_POFK)
                @Html.HiddenFor(model => model.Mkt_POSlave.Mkt_BOMSlaveFK)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RawCatID, ViewBag.Raw_Category as SelectList, new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raw_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RawSubCatID, ViewBag.Raw_SubCategory as SelectList, new { @id = "Raw_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_SubCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_POSlave.Raw_ItemFK, ViewBag.Raw_Item as SelectList, new { @id = "Raw_ItemFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.Mkt_POSlave.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_POSlave.Consumption, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_POSlave.Consumption, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_POSlave.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Mkt_POSlave.Mkt_POFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_POSlave.Mkt_POFK, ViewBag.PO as SelectList, "---Select POID---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_POSlave.Mkt_POFK, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}



<script>
    $(function () {
        $("#Raw_CategoryFK").change(function () {
            var subCatId = $("#Raw_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetRaw_SubCategory", { ID: subCatId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Raw_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var itemId = $("#Raw_SubCategoryFK").val();
                    if (itemId != '') {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                        $.get("../../Helper/GetRaw_Item", { ID: itemId }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                        });




                        $("#Raw_SubCategoryFK").change(function () {
                            var ItemChangeId = $("#Raw_SubCategoryFK").val();
                            //alert( 'Sub Category id '+ ItemChangeId);
                            if (ItemChangeId != '') {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                                $.get("../../Helper/GetRaw_Item", { ID: ItemChangeId }, function (data) {
                                    document.getElementById("Raw_ItemFK").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                });
                            }
                            else {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
            }
        });
    });
    $(function () {
        $("#Raw_SubCategoryFK").change(function () {
            var ItemChangeId = $("#Raw_SubCategoryFK").val();
            //alert( 'Sub Category id '+ ItemChangeId);
            if (ItemChangeId != '') {
                document.getElementById("Raw_ItemFK").innerHTML = "";
                $.get("../../Helper/GetRaw_Item", { ID: ItemChangeId }, function (data) {
                    document.getElementById("Raw_ItemFK").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Raw_ItemFK").innerHTML = "";
            }
        });
    });
</script>
