﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_Report

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Summary Report";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">

    function printDiv(elem)
    {
        Popup($(elem).html());
    }

    function Popup(data)
    {
        var mywindow = window.open('', 'new div', 'height=auto; width=450px;');
        mywindow.document.write('<html><head><title>Summary Report</title>');
        mywindow.document.write('</head><body>');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Summary Report</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    @*<div class="col-lg-5 col-xs-12">
        <div class="box">
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="box box-primary">
                            <div class="box-header">
                                <center>
                                    <h3 class="box-title">&nbsp;<span style="color:#B8860B;">Commercial Summary Report</span></h3>
                                </center>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SummaryReport.FromDate, htmlAttributes: new {@readonly="readonly", @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.SummaryReport.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                                        @Html.ValidationMessageFor(model => model.SummaryReport.FromDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SummaryReport.ToDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                                    <div class="input-group col-md-6 col-sm-6 col-xs-6">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.SummaryReport.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-4 col-xs-4" } })
                                        @Html.ValidationMessageFor(model => model.SummaryReport.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <input type="submit" value="Show Summary Report" class="btn btn-success pull-right" target="_blank" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@
    <div class="col-lg-8 col-xs-12 col-lg-offset-2">
        @if (Model.SummaryReport != null)
        {
            <div id="printArea" class="box">
                <div class="box-header">
                    <div class="text-center">
                        <div class="form-group">
                            <center><h3 class="box-title with-border text-bold">SUMMARY REPORT</h3></center>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th><center>SERIAL</center></th>
                                <th colspan="2"><center>TITLE</center></th>
                                <th><center>VALUES ($)</center></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">
                                    A
                                </td>
                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        @Html.ActionLink("Total LC Value", "VmCommercial_MasterLCDetails", null, new { target = "_blank", })
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    @Html.ActionLink(Model.SummaryReport.MasterLCValue, "VmCommercial_MasterLCDetails", null, new { target = "_blank", })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    B
                                </td>
                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        @Html.ActionLink("Actual Export Value", "VmExportSummary", "Common", null, new { target = "_blank", })
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    @Html.ActionLink(Model.SummaryReport.ExportValue, "VmExportSummary", "Common", null, new { target = "_blank", })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    C
                                </td>
                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        Total BOM Value
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    @Html.DisplayFor(x => x.SummaryReport.BOMValue)
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    D
                                </td>

                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        @Html.ActionLink("Total PO Issued", "POSummaryDetails", "Marketing", null, new { target = "_blank", })
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    @Html.ActionLink(Model.SummaryReport.POIssuedValue, "POSummaryDetails", "Marketing", null, new { target = "_blank", })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    E
                                </td>

                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        PO Pending
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.POPending)</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    F
                                </td>

                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        BTB Limit
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BTBLimitValue)</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    G
                                </td>

                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        @Html.ActionLink("BTB Issued Value", "VmCommercial_BTBLCDetails", null, new { target = "_blank", })
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    @Html.ActionLink(Model.SummaryReport.BTBIssuedValue, "VmCommercial_BTBLCDetails", null, new { target = "_blank", })

                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    H
                                </td>

                                <td style="text-align:left;" colspan="2">
                                    <span>
                                        Available BTB Value
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BTBAvailableValue)</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    I
                                </td>
                                <td rowspan="2" style="padding-top:26px;">
                                    Outstanding
                                </td>
                                <td style="text-align:left;">
                                    <span>
                                        BOM Value
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BOMRestValue)</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">
                                    J
                                </td>

                                <td style="text-align:left;">
                                    <span>
                                        PO Value
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.PORestValue)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <span class="info-box-text text-bold text-uppercase">Calculation Note:</span><br />
                    <span class="info-box-text text-bold" style="padding-left:120px;">[ E ] PO Pending  = [C] - [D] </span><br />
                    <span class="info-box-text text-bold" style="padding-left:120px;">[ F ] BTB Limit    = 75% for [B] </span><br />
                    <span class="info-box-text text-bold" style="padding-left:120px;">[ H ] Available BTB Value   = [F] - [G] </span><br />
                    <span class="info-box-text text-bold" style="padding-left:120px;">[ I ] Outstanding BOM Value   = [C] - [G] </span><br />
                    <span class="info-box-text text-bold" style="padding-left:120px;">[ J ] Outstanding PO Value   = [D] - [G] </span><br />
                </div>
            </div>
            <div class="from-group">
                <input id="print" type="button" value="Print" name="Print" onclick="printDiv('#printArea')" class="btn btn-primary pull-right"/>
            </div>
        }
    </div>
</div>