﻿@model Oss.Romo.ViewModels.Commercial.VmCommercial_Report
@{
    Layout = "";
    ViewBag.Title = "SummaryReport";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<!DOCTYPE html>

<html id="loadPage">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary Report</title>
    <style type="text/css">
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
        }

        #page {
            background-color: #fff;
            width: 950px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div id="page">
            <div style="min-height: 900px;">

                @*-----------------Report Header-----------------*@

                <div class="text-center">
                    <div class="row">
                        <h3>
                            <span style="float: left">
                                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                            </span>
                            <span style="float: right; color: #AA57FF">
                                <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                            </span>

                        </h3>

                    </div>
                </div>
                <hr style="width: 100%; color: black; height: 2px; background-color: black;">
                <div class="text-center">
                    <div class="from-group">
                        <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                            Print
                        </span>

                    </div>
                    <div class="form-group">

                        <center><h2><b>SUMMARY REPORT</b></h2> </center>

                    </div>
                </div>
                <br />

                <div style="width: 100%;">
                   
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        SL
                                    </th>
                                    
                                    <th style="text-align:center;" colspan="2">
                                        Title
                                    </th>
                                    <th style="text-align:center; font:bold;">Values</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center;">
                                        A
                                    </td>
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            @Html.ActionLink("Total LC Value", "VmCommercial_MasterLCDetails", null, new { target = "_blank", })
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">
                                        @Html.DisplayFor(x => x.SummaryReport.MasterLCValue)
                                        @*@Html.ActionLink(Model.SummaryReport.MasterLCValue, "VmCommercial_MasterLCDetails", null, new { target = "_blank", })*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        B
                                    </td>
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            @Html.ActionLink("Actual Export Value", "VmExportSummary", "Common", null, new { target = "_blank", })
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">
                                        @Html.DisplayFor(x => x.SummaryReport.ExportValue)
                                        @*@Html.ActionLink(Model.SummaryReport.ExportValue, "VmExportSummary", "Common", null, new { target = "_blank", })*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        C
                                    </td>
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            Total BOM Value
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">
                                        @Html.DisplayFor(x => x.SummaryReport.BOMValue)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        D
                                    </td>
                                    
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            @Html.ActionLink("Total PO Issued", "POSummaryDetails", "Marketing", null, new { target = "_blank", })
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">
                                        @Html.DisplayFor(x => x.SummaryReport.POIssuedValue)
                                        
                                        @*@Html.ActionLink(Model.SummaryReport.POIssuedValue, "POSummaryDetails", "Marketing", null, new { target = "_blank", })*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        E
                                    </td>

                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            PO Pending
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.POPending)</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        F
                                    </td>
                                    
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            BTB Limit
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BTBLimitValue)</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        G
                                    </td>
                                    
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            @Html.ActionLink("BTB Issued Value", "VmCommercial_BTBLCDetails", null, new { target = "_blank", })
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">
                                        @*@Html.ActionLink(Model.SummaryReport.BTBIssuedValue, "VmCommercial_BTBLCDetails", null, new { target = "_blank", })*@
                                    @Html.DisplayFor(x => x.SummaryReport.BTBIssuedValue)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        H
                                    </td>
                                    
                                    <td style="text-align:left;" colspan="2">
                                        <span>
                                            Available BTB Value
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BTBAvailableValue)</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        I
                                    </td>
                                    <td rowspan="2" style="padding-top:26px;">
                                        Outstanding
                                    </td>
                                    <td style="text-align:left;">
                                        <span>
                                             BOM Value
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.BOMRestValue)</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        J
                                    </td>
                                    
                                    <td style="text-align:left;">
                                        <span>
                                            PO Value
                                        </span>
                                    </td>
                                    <td style="text-align:center; font:bold;">@Html.DisplayFor(x => x.SummaryReport.PORestValue)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-gray"><i class="ion ion-cash"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text text-bold text-uppercase">Calculation Note:</span><br />
                                    <span class="info-box-text text-bold" style="padding-left:120px;">[ E ] PO Pending  = [C] - [D] </span><br />
                                    <span class="info-box-text text-bold" style="padding-left:120px;">[ F ] BTB Limit    = 75% for [B] </span><br />
                                    <span class="info-box-text text-bold" style="padding-left:120px;">[ H ] Available BTB Value   = [F] - [G] </span><br />
                                    <span class="info-box-text text-bold" style="padding-left:120px;">[ I ] Outstanding BOM Value   = [C] - [G] </span><br />
                                    <span class="info-box-text text-bold" style="padding-left:120px;">[ J ] Outstanding PO Value   = [D] - [G] </span><br />
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
              
            </div>
            <div style="text-align: left;">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>
        </div>
  
    </div>
</body>
</html>
