﻿@model Oss.Romo.ViewModels.Commercial.VmImportReport
<tbody>
    @foreach (var v in Model.ImportReport)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => v.Body8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => v.Body1)
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => v.Body2)</center>
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => v.Body3)</center>
            </td>
            <td>
                <center>  @Html.DisplayFor(modelItem => v.Body4)</center>
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => v.Body5)</center>
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => v.Body6)</center>
            </td>
            <td>
                <center>@Html.DisplayFor(modelItem => v.Body7)</center>
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    <center>@Html.DisplayFor(modelItem => i.SubBody1)</center>
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    <center>@Html.DisplayFor(modelItem => i.SubBody2)</center>
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    <center>@Html.DisplayFor(modelItem => i.SubBody3)</center>
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody4) <br />
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody5)<br />
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody6)<br />
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody7)<br />
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody8)<br />
                }
            </td>
            <td>
                @foreach (var i in v.ReportDocTypeList)
                {
                    @Html.DisplayFor(modelItem => i.SubBody14)<br />
                }
            </td>
        </tr>
    }
</tbody>