﻿
@model Oss.Romo.ViewModels.Commercial.VmCommercial_BillOfExchange

@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Bill Of Exchange Without Invoice";
}



<section class="content-header" style="padding-bottom:5px">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>

        <li class="active">Bill Of Exchange Without Invoice </li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            <div class="box-body">
                <section>
                    <h3>
                        Bill Of Exchange Without Invoice 
                    </h3>
                </section>
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Name)
                                </th>
                                <th>
                                    Bill Value
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.BillDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_MasterLC.Name)
                                </th>

                                <th>Invoice No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.FDBCNO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.FDBCDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.Courier)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Commercial_BillOfExchange.CourierDate)
                                </th>

                                <th>
                                    Pay to the order of
                                </th>
                                <th>
                                    Issued By
                                </th>
                            </tr>
                        </thead>
                        @{
                            int Sl2 = 0;


                        }
                        <tbody>
                            @foreach (var item in Model.DataList.Where(x => x.BillOfExchangeSlaveList.Count==0))
                            {


                                <tr>

                                    <td><b>@(++Sl2).</b></td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.Name)
                                    </td>
                                    <td>
                                        @string.Format("{0:0.00}", item.BillValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.BillDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_MasterLC.Name)
                                    </td>

                                    <td>
                                        <table>

                                            <tr></tr>
                                            @foreach (var itemChild in item.BillOfExchangeSlaveList)
                                            {
                                                <tr>
                                                    <td style="padding:2px 4px 2px 4px">
                                                        <center>
                                                            @Html.DisplayFor(modelItem => itemChild.InvoiceNo)<br />
                                                        </center>
                                                    </td>
                                                </tr>

                                            }
                                        </table>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.FDBCNO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.FDBCDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.Courier)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Commercial_BillOfExchange.CourierDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lien_Bank.Name) <br />@Html.DisplayFor(modelItem => item.Lien_Bank.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Buyer_Bank.Name) <br />@Html.DisplayFor(modelItem => item.Buyer_Bank.Address)
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
