﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Experience Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                    if (ViewBag.Experience != null /*&& spouseList.Any()*/)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Company Name</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Responsibility</th>
                                <th>Job Start Date</th>
                                <th>Job End Date</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Experience)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Company_Name)</td>
                                    <td>@(item.Designation)</td>
                                    <td>@(item.Department)</td>
                                    <td>@(item.Responsibility)</td>
                                    <td>@(item.Job_Start_Date.ToString("d"))</td>
                                    <td>@(item.Job_End_Date.ToString("d"))</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditExperience", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteExperience", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                                }
                }
            </div>
        </div>
    </div>
</div>
