﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Training Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    //var spouseList = (List<VM_HRMS_Spouse>)ViewBag.Spouse  ;
                    if (ViewBag.Training != null /*&& spouseList.Any()*/)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Course Name</th>
                                <th>Institute</th>
                                <th>Country</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Training)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Course_Name)</td>
                                    <td>@(item.Institute)</td>
                                    <td>@(item.Country)</td>
                                    <td>@(item.Course_Start_Date.ToString("d"))</td>
                                    <td>@(item.Course_End_Date.ToString("d"))</td>
                                    <td>@(item.Course_Duration)</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditTraining", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteTraining", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                                }
                }
            </div>
        </div>
    </div>
</div>
