﻿@using Oss.Romo.Models.ViewModels.HRMS
@model Oss.Romo.Models.ViewModels.HRMS.VM_HRMS_LinkToEmployee
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Setting Information</h3>
    </div>
    <div id="divPanelbody" class="panel-body" @*style="min-height: 45em"*@>
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Superior != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th class="hidden">ID </th>
                                <th>Employee Id. </th>
                                <th>Employee Name</th>
                                <th>Superior Name</th>
                                <th>Superior Type</th>
                                <th>Action</th>
                                @*<th>SL#</th>
                                <th>Line Manager Id.</th>
                                <th>Line Manager Name</th>
                                <th>Admin Id</th>
                                <th>Admin Name</th>
                                <th>Dept. Head Id.</th>
                                <th>Dept. Head Name</th>
                                <th>Action</th>*@
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in (List<VM_HRMS_LinkToEmployee>)ViewBag.Superior)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td class="hidden">  @Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SuperiorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SuperiorType)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "EditLinkToEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @*@Html.ActionLink(" ", "DeleteLinkToEmployee", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })*@
                                    </td>
                                    @*<td>@i</td>
                                    <td>@(item.LineManager.CardNo)</td>
                                    <td>@(item.LineManager.Name)</td>
                                    <td>@(item.Admin.CardNo)</td>
                                    <td>@(item.Admin.Name)</td>
                                    <td>@(item.DeptHead.CardNo)</td>
                                    <td>@(item.DeptHead.Name)</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditLinkToEmployee", new { id = item.HrmsLinkSuperior.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        
                                    </td>*@
                                </tr>
                            }

                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
