﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Facility Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Facility != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                @*<th>Salary Grade</th>*@
                                <th>Item Name</th>
                                <th>Cost Per Month</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Facility)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    @*<td>@(item.Salary_Grade)</td>*@
                                    <td>@(item.Item_Name)</td>
                                    <td>@(item.Cost_Per_Month)</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditFacility", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteFacility", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
