﻿@using Oss.Romo.Controllers
@using Oss.Romo.Models.ViewModels.HRMS
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Education Information</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Education != null)
                    {
                        VMUnit vm = new VMUnit();
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Exam/Degree</th>
                                <th>Institute</th>
                                <th>Group/Subject</th>
                                <th>Passing Year</th>
                                <th>Result</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Education)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@vm.GetDegreeName(Convert.ToInt32(item.Degree))</td>
                                    <td>@item.Institute</td>
                                    <td>@item.GroupOrSubject</td>
                                    <td>@item.Passing_Year</td>
                                    <td>@item.Result</td>
                                    <td>
                                        @Html.ActionLink(" ", "EditEduction", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteEducation", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
