﻿<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Upload Documents</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="box-body table-responsive">
                @{
                    if (ViewBag.Document != null)
                    {
                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                            <tr>
                                <th>SL#</th>
                                <th>Document Type</th>
                                <th>Document Name</th>
                                <th>Document</th>
                                <th>Action</th>
                            </tr>
                            @{
                                var i = 0;
                            }

                            @foreach (var item in ViewBag.Document)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@(item.Document_Type)</td>
                                    <td>@(item.Document_Name)</td>
                                    @*<td>@(item.Document)</td>*@
                                    <td>
                                        @Html.ActionLink(".", "../Assets/Upload/", new { id = item.Document }, new { @target = "_blank", @class = "glyphicon glyphicon-file", @title = "Upload Document" })
                                        @*@Html.ActionLink((string), item, "DownloadFile", new { filename = item.Document });*@
                                        @*<a href="EmployeeRecord/DownloadFile?filename=@(item.Document)" target="_blank">Download</a>*@
                                    </td>
                                    <td>
                                        @*@Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })  &nbsp;
                                        @Html.ActionLink(" ", "DeleteTraining", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })*@
                                    </td>
                                </tr>
                            }
                        </table>
                                }
                }
            </div>
        </div>
    </div>
</div>
