﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard

@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<section>
    <br />
    <center>
        <h3 style="text-decoration: underline">Important Access Link</h3>
    </center>

    <hr />
    <br />
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/commercial/vmSummaryReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon-gradient">
                            @*<i class="ion ion-cash"></i>*@
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center" style="padding-top: 25px !important">
                            <span class="info-box-text text-bold text-black">Commercial<br /> Summary</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/marketing/yarnstatementledger" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                            <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Yarn<br />Statement</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/common/ordersummaryviewindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-green">
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Order<br /> Summary</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue-active"><i class="fa fa-users"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Supplier<br /> Overview</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/commercial/vmcommercial_udindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-red">
                            <img height="50" width="50" src="~/Content/Images/adminboard/bank.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">L/C<br /> Statement</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Payment<br /> Ledger</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/common/vmcommon_theorderindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Order<br /> Overview</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemWiseReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-purple">
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Inventory</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemLeftoverReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-navy">
                            <img height="50" width="50" src="~/Content/Images/adminboard/store.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Store<br /> Leftover</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- /.info-box -->
                <a href="~/planning/vmplan_orderstepindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Time & <br />Action</span>
                        </div>

                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/VmAccountingview" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Cost instant/Periodical<br /> Head wise/Total</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- /.info-box -->
                <a href="~/common/ordersummaryviewindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">List Of order that <br />BOM not yet complete</span>
                        </div>

                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemWiseReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Item Stock</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/store/categoryinventoryindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Store Inventory</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

</section>