﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    SumofPayableDueSupplier supplier = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>

<script type="text/javascript">

    var configBar = {
        type: 'bar',
        data: {
            datasets: [{
                data: [
                    '@Model.SummaryReportAdminBoard.MasterLCValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.ExportValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POPending.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBLimitValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBAvailableValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMRestValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.PORestValue.ToString("F")',
                    '@supplier.Due.ToString("F")',
                    '@supplier.Payable.ToString("F")',
                    '@Model.RealisedAmount.ToString("F")',
                    '@Model.TotalLcBtbLcPoAmount.ToString("F")',
                    '@Model.TotalLcTtAmount.ToString("F")'
                ],
                backgroundColor: [
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue
                ],
                label: "Balance"
            }],
            labels: [
                'LC Value:',
                'Export Value',
                'BOM Value',
                'PO Issued Value',
                'PO Pending',
                'BTB Limit',
                'BTB Issued Value',
                'Available BTB Value',
                'Outstanding BOM Value',
                'Outstanding PO Value',
                'Supplier Due',
                'Supplier Payable',
                'Realised Amount',
                'Total BTB LC PO Value',
                'Total LC Amount(TT)'
            ]
        },
        options: {
            responsive: true
        }
    };

 

    function start() {
        var ctxbar = document.getElementById('bar-chart-area').getContext('2d');
        var a = new Chart(ctxbar, configBar);
       
    };

    window.onload = start;

</script>



<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">AT A GLANCE</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>


    <div class="row">
        <div>
            <div class="box">
                <div class="box-header">
                    <center><b>AT A GLANCE</b></center>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: left;">SL</th>
                            <th style="text-align: left;">
                                Title
                            </th>
                            <th style="text-align: center; font: bold;">Values</th>
                        </tr>
                           

                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: left;">1</td>
                            <td style="text-align: left;">
                                <span>
                                        Total LC Value :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.MasterLCValue).ToString("#,##0")</span>
                                @*@Html.DisplayFor(x => )*@
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">2</td>
                            <td style="text-align: left;">
                                <span>
                                        Actual Export Value :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.ExportValue).ToString("#,##0")</span>
                                @*@Html.DisplayFor(x => )*@
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">3</td>
                            <td style="text-align: left;">
                                <span>
                                        Total BOM Value :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMValue).ToString("#,##0")</span>
                                @*@Html.DisplayFor(x => )*@
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">4</td>
                            <td style="text-align: left;">
                                <span>
                                        Total PO Issued :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.POIssuedValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">5</td>
                            <td style="text-align: left;">
                                <span>
                                        PO Pending :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.POPending).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">6</td>
                            <td style="text-align: left;">
                                <span>
                                        BTB Limit :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBLimitValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">7</td>
                            <td style="text-align: left;">
                                <span>
                                        BTB Issued Value :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBIssuedValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">8</td>
                            <td style="text-align: left;">
                                <span>
                                        Available BTB Value :
                                    </span>
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBAvailableValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">9</td>
                            <td style="text-align: left;">
                                Outstanding BOM Value :
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMRestValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">10</td>
                            <td style="text-align: left;">
                                Outstanding PO Value :
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(Model.SummaryReportAdminBoard.PORestValue).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">11</td>
                            <td style="text-align: left;">
                                Supplier Due :
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(supplier.Due).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">12</td>
                            <td style="text-align: left;">
                                Supplier Payable :
                            </td>
                            <td style="text-align: center; font: bold;">
                                <span>$ @Math.Round(supplier.Payable).ToString("#,##0")</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">13</td>
                            <td style="text-align: left;">
                                Total BTB LC PO Value :
                            </td>
                            <td style="text-align: center; font: bold;">$ @Model.TotalLcBtbLcPoAmount.ToString("0.00")</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">14</td>
                            <td style="text-align: left;">
                                Realised Amount :
                            </td>
                            <td style="text-align: center; font: bold;">$ @Model.RealisedAmount.ToString("0.00")</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">15</td>
                            <td style="text-align: left;">
                                Total LC Amount(TT) :
                            </td>
                            <td style="text-align: center; font: bold;">$ @Model.TotalLcTtAmount.ToString("0.00")</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- /.content -->