﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    //SumofPayableDueSupplier s = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/plugins/chartjs/Chart.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@{
    //var collectionDueReceivableAmount = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount;
    var businessCashFlow = (List<BusinessCashFlow>)ViewBag.BusinessCashFlow;
}


<script>

    var lebel = [];
    var predictedCashInFlow = [];
    var actualCashInFlow = [];
    var pedictedCashOutFlow = [];
    var actualCashOutFlow = [];
    var invoiceAmount = [];
    @foreach(BusinessCashFlow item in businessCashFlow)
    {
        <text>
          lebel.push(['@item.MonthName']);
          predictedCashInFlow.push(['@Convert.ToString(item.PredictedCashInFlow, CultureInfo.InvariantCulture)']);
          actualCashInFlow.push(['@Convert.ToString(item.ActualCashInFlow, CultureInfo.InvariantCulture)']);
          pedictedCashOutFlow.push(['@Convert.ToString(item.PedictedCashOutFlow, CultureInfo.InvariantCulture)']);
          actualCashOutFlow.push(['@Convert.ToString(item.ActualCashOutFlow, CultureInfo.InvariantCulture)']);
          invoiceAmount.push(['@Convert.ToString(item.InvoiceAmount, CultureInfo.InvariantCulture)']);
        </text>
    }

    $(function () {

        //var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
        //var areaChart = new Chart(areaChartCanvas);

        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                {
                    label: "Predicted cash inflow",
                    fillColor: "#00FF00",
                    strokeColor: "#00FF00",
                    pointColor: "#00FF00",
                    pointStrokeColor: "#00FF00",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#00FF00",
                    data: predictedCashInFlow
                },
                {
                    label: "Actual cash inflow",
                    fillColor: "#00008B",
                    strokeColor: "#00008B",
                    pointColor: "#00008B",
                    pointStrokeColor: "#00008B",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#00008B",
                    data: actualCashInFlow
                },
                {
                    label: "Pedicted cash outflow",
                    fillColor: "#FF8C00",
                    strokeColor: "#FF8C00",
                    pointColor: "#FF8C00",
                    pointStrokeColor: "#FF8C00",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#FF8C00",
                    data: pedictedCashOutFlow
                },
                {
                    label: "Actual cash outflow",
                    fillColor: "#DC143C",
                    strokeColor: "#DC143C",
                    pointColor: "#DC143C",
                    pointStrokeColor: "#DC143C",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#DC143C",
                    data: actualCashOutFlow
                },
                {
                    label: "Pending payment ",
                    fillColor: "rgb(156, 45, 167)",
                    strokeColor: "rgb(156, 45, 167)",
                    pointColor: "rgb(156, 45, 167)",
                    pointStrokeColor: "rgb(156, 45, 167)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(156, 45, 167)",
                    data: invoiceAmount
                }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //Create the line chart
        //lineChart.Line(areaChartData, areaChartOptions);

        //-------------
        //- LINE CHART -
        //--------------
        //var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        //var lineChart = new Chart(lineChartCanvas);
        // var lineChartOptions = areaChartOptions;
        lineChartOptions.datasetFill = false;
        lineChart.Line(lineChartData, lineChartOptions);
    });
</script>


<section class="content">
    <canvas hidden id="areaChart" style="height: 250px"></canvas>
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Business Cashflow</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>


</section>
