﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    //SumofPayableDueSupplier s = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@*@{
        var collectionDueReceivableAmount = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount;
        var collectionDueReceivableAmount12months = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount12Months;
    }*@
<script type="text/javascript">

    var lebel = [];
    var value = [];

    @foreach (BuyerInfoChart item in ViewBag.BuyerList)
        {
           <text>
               lebel.push([ '@item.BuyerName']);
               value.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
           </text>
        }

    var color = Chart.helpers.color;

    var configBarBuyer = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Party outstanding -Sundry debtors',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };




    function start() {

        var ctxbarbuyer = document.getElementById('bar-chart-area-buyer').getContext('2d');
        var d = new Chart(ctxbarbuyer, configBarBuyer);

    };

    window.onload = start;

</script>



<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Buyer Balance</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area-buyer"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>


</section>
<!-- /.content -->