﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    SumofPayableDueSupplier s = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@{
    var collectionDueReceivableAmount = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount;
    var collectionDueReceivableAmount12months = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount12Months;
}
<script type="text/javascript">

    var configBar = {
        type: 'bar',
        data: {
            datasets: [{
                data: [
                    '@Model.SummaryReportAdminBoard.MasterLCValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.ExportValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POPending.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBLimitValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBAvailableValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMRestValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.PORestValue.ToString("F")',
                    '@s.Due.ToString("F")',
                    '@s.Payable.ToString("F")',
                    '@Model.RealisedAmount.ToString("F")',
                    '@Model.TotalLcBtbLcPoAmount.ToString("F")',
                    '@Model.TotalLcTtAmount.ToString("F")'
                ],
                backgroundColor: [
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue
                ],
                label:"Balance"
            }],
            labels: [
                'LC Value:',
                'Export Value',
                'BOM Value',
                'PO Issued Value',
                'PO Pending',
                'BTB Limit',
                'BTB Issued Value',
                'Available BTB Value',
                'Outstanding BOM Value',
                'Outstanding PO Value',
                'Supplier Due',
                'Supplier Payable',
                'Realised Amount',
                'Total BTB LC PO Value',
                'Total LC Amount(TT)'
            ]
        },
        options: {
            responsive: true
        }
    };

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var configPie = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    @collectionDueReceivableAmount[0].Income, @collectionDueReceivableAmount[0].Receivable
                ],
                backgroundColor: [
                    window.chartColors.green,
                    window.chartColors.red
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Collection',
                'Due'
            ]
        },
        options: {
            responsive: true
        }
    };

    var lebel = [];
    var earning = [];
    var collection = [];
    var due = [];
    @foreach(CollectionDueReceivableAmount item in collectionDueReceivableAmount12months)
    {
        <text>
            lebel.push([ '@item.MonthName' ]);
            earning.push([ '@Convert.ToString(item.Receivable + item.Income, CultureInfo.InvariantCulture)' ]);
            collection.push([ '@Convert.ToString(item.Income, CultureInfo.InvariantCulture)' ]);
            due.push([ '@Convert.ToString(item.Receivable, CultureInfo.InvariantCulture)' ]);
        </text>
    }
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var color12 = Chart.helpers.color;
    var configLine = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Income',
                backgroundColor: color12(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: earning
            }, {
                label: 'Received',
                backgroundColor: color12(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                borderWidth: 1,
                data: collection
                }, {
                    label: 'Due',
                    backgroundColor: color12(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                    data: due
                }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                text: 'Collection Status'
            }
        }
    };
    var lebel = [];
    var value = [];

    @foreach (BuyerInfoChart item in ViewBag.BuyerList)
        {
           <text>
               lebel.push([ '@item.BuyerName']);
               value.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
           </text>
        }

    var color = Chart.helpers.color;

    var configBarBuyer = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Party outstanding -Sundry creditors',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };

    lebel = [];
    value = [];
    @foreach (CategoryStockQty item in ViewBag.CategoryStock)
        {
           <text>
               lebel.push([ '@item.Name']);
               value.push(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture));
           </text>
        }
    var configBarCategoryStock = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Stock',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };


    function start() {
        
        var ctxbarcategorystock = document.getElementById('Bar-chart-Category-stock').getContext('2d');
        var d = new Chart(ctxbarcategorystock, configBarCategoryStock);
    };

    window.onload = start;

</script>



<!-- Main content -->
<section class="content">
   
   
    <div class="row">
      
        <div class="col-lg-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Category Stock</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">

                    <div id="">
                        <canvas id="Bar-chart-Category-stock"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>
   
</section>
<!-- /.content -->