﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    //SumofPayableDueSupplier s = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/plugins/chartjs/Chart.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@{
    //var collectionDueReceivableAmount = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount;
    var factoryOverview = (List<FactoryOverview>)ViewBag.FactoryOverview;
}


<script>

    var lebel = [];
    var Planed = [];
    var Actual = [];
    var Capacity = [];
    @foreach(FactoryOverview item in factoryOverview)
    {
        <text>
    lebel.push(['@item.MonthName']);
    Planed.push(['@Convert.ToString(item.Planed, CultureInfo.InvariantCulture)']);
    Actual.push(['@Convert.ToString(item.Actual, CultureInfo.InvariantCulture)']);
    Capacity.push(['@Convert.ToString(item.Capacity, CultureInfo.InvariantCulture)']);
    </text>
    }

    $(function () {

        //var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
        //var areaChart = new Chart(areaChartCanvas);

        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                {
                    label: "Planed",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: Planed
                },
                 {
                     label: "Actual",
                     fillColor: "rgb(255, 204, 0)",
                     strokeColor: "rgb(255, 204, 0)",
                     pointColor: "rgb(255, 204, 0)",
                     pointStrokeColor: "rgb(255, 204, 0)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(255, 204, 0)",
                     data: Actual
                 },
                 {
                     label: "Capacity",
                     fillColor: "rgb(0,128,128)",
                     strokeColor: "rgb(0,128,128)",
                     pointColor: "rgb(0,128,128)",
                     pointStrokeColor: "rgb(0,128,128)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(0,128,128)",
                     data: [850000, 850000, 850000, 850000, 850000, 850000, 860000, 850000, 850000, 840000, 850000, 850800] //Capacity
                 }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //Create the line chart
        //lineChart.Line(areaChartData, areaChartOptions);

        //-------------
        //- LINE CHART -
        //--------------
        //var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        //var lineChart = new Chart(lineChartCanvas);
        // var lineChartOptions = areaChartOptions;
        lineChartOptions.datasetFill = false;
        lineChart.Line(lineChartData, lineChartOptions);

    });
</script>


<section class="content">
    <canvas hidden id="areaChart" style="height: 250px"></canvas>
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Factory Overview</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>


</section>
