﻿@using System.Security.Policy
@using Oss.Romo.Models
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Commercial
@model Oss.Romo.ViewModels.MisDashboard.VmNotifier
@{
    ViewBag.Title = "Notifier";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-hold").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html(" Reject.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });
        $(".lnkHold").click(function (e) {
            $(".ui-dialog-titlebar").html(" Hold.");
            url = $(this).attr('href');
            $("#dialog-hold").dialog('open');

            return false;
        });
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to reject?
    </p>
</div>
<div id="dialog-hold" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to hold?
    </p>
</div>
<section class="content">
    <div class="row">
        <div>
            <div class="box">
                <div class="box-header">
                    <center><b>Party Payment/LC/Doc</b></center>
                </div>
                <div class="box-body">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li id="presentation1" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cheque</a></li>
                            <li id="presentation2" role="presentation"><a href="#lcopen" aria-controls="messages" role="tab" data-toggle="tab">L/C Open</a></li>
                            <li id="presentation3" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Doc Payment</a></li>
                            @*<li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Cheque v-2</a></li>*@
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="home">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                Cheque Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier Payable Balance
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Account Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Cheque Information
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int sl = 1;
                                        }
                                        @foreach (var item in Model.DataList)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.FromBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @*<a href="@Url.Action("VmAcc_AccNotifierFinalized", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type = "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                    <a href="@Url.Action("VmAcc_AccNotifierSeen", "MisDashboard", new {id = item.Acc_Notifier.ID, type = "cheque" })" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="lcopen">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                L/C Opening Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier L/C Opening Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Additional
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            sl = 1;
                                        }
                                        @foreach (var item in Model.DataListLcOpen)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @*<a href="@Url.Action("VmAcc_AccNotifierBtbApproved", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                    <a href="@Url.Action("VmAcc_AccNotifierSeen", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcopen"})" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="text-center" style="width: 5%">#SL</th>
                                            <th class="text-center" style="width: 10%">
                                                L/C Payment Amount
                                            </th>
                                            <th class="text-center" style="width: 30%">
                                                Supplier Name
                                            </th>
                                            <th class="text-center" style="width: 10%">
                                                Supplier  Payable Balance
                                            </th>
                                            <th class="text-center" style="width: 20%">
                                                Additional
                                            </th>
                                            <th class="text-center" style="width: 15%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            sl = 1;
                                        }
                                        @foreach (var item in Model.DataListDocPayment)
                                        {

                                            <tr>
                                                <td class="text-center">@sl</td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.Amount
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.ToName
                                                </td>
                                                <td class="text-right">
                                                    @item.Acc_Notifier.ToBalance
                                                </td>
                                                <td>
                                                    @item.Acc_Notifier.Particulars
                                                </td>
                                                <td class="text-center">
                                                    @*<a href="@Url.Action("VmAcc_AccNotifierDocApproved", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="fa fa-check"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierHold", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Hold" class="lnkHold btn btn-sm btn-warning" role="button"><span class="fa fa-pause"></span></a>
                                                    <a href="@Url.Action("VmAcc_AccNotifierReject", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment" })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="lnkDelete btn btn-sm btn-danger" role="button"><span class="fa fa-remove"></span></a>*@
                                                    <a href="@Url.Action("VmAcc_AccNotifierSeen", "MisDashboard", new {id = item.Acc_Notifier.ID, type= "lcpayment"})" data-toggle="tooltip" data-placement="bottom" title="Make as read" class="btn btn-sm btn-success" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                </td>
                                            </tr>

                                            sl++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function() {
        var url_string = window.location.href;
        //console.log(url_string);
        var url = new URL(url_string);
        //console.log(url);
        var c = url.searchParams.get("type");
        //console.log(c);
        if (c === "cheque") {
            var element = document.getElementById("home");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation1");
            presentation1.classList.add("active");
        }
        else if (c === "lcopen") {
            var element = document.getElementById("lcopen");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation2");
            presentation1.classList.add("active");
        }
        else if (c === "lcpayment") {
            var element = document.getElementById("messages");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation3");
            presentation1.classList.add("active");
        }else {
            var element = document.getElementById("home");
            element.classList.add("in");
            element.classList.add("active");
            var presentation1 = document.getElementById("presentation1");
            presentation1.classList.add("active");
        }
    });
</script>