﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Progress Step";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar").html(" Create Plan Order Step:  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Plan Order Step: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>



<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>


<section class="content-header">
 
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Planning</a></li>
        <li class="active">
            <b>Plan_OrderStep</b>
        </li>
    </ol>
</section>
@{
    int Sl = 0;
}
<div class="clearfix"></div>



<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Production Status</h3>
    </div>
    <div class="panel-body">

        <div id="divreportone" class="row">
            @*<div class="col-md-2"></div>*@

            <div class="col-md-8">
                @using (Html.BeginForm(new { id = "fromPlanning" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="text-center">
                                <h4 style="font-weight: bold">Production Status</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="BuyerName" class="col-md-4">
                                        <span><i class="ion-star font-red"></i></span>Buyer:
                                    </label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.Buyer, ViewBag.BuyerName as SelectList, "--Select Buyer Name--", new { id = "ddlBuyerName", name = "BuyerName", @class = "SerchingDropDown form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="row" style="float: right" >
                            <div class="col-md-12">
                                <input type="submit" value="Search" class="btn btn-success"/>
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

                            </div>
                        </div>
                }
            </div>
            <div class="col-md-2"></div>

        </div>

        <div class="col-md-12"></div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3>
                    Pending Production
                </h3>
            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table id="example1" class="tableLine table-striped jambo_table bulk_action">

                        <thead>
                            <tr>
                                @if (Model.DataTable != null)
                                {
                                    foreach (System.Data.DataColumn cl in Model.DataTable.Columns)
                                    {
                                        <th style="text-align: center;">
                                            @cl.ColumnName
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.DataTable != null)
                            {
                                foreach (System.Data.DataRow dr in Model.DataTable.Rows)
                                {
                                    <tr>
                                        @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                                        {
                                            string dateTime = i.ToString();
                                            <td style="text-align: left;">
                                                <div class="progress">

                                                    @if (dr[i].ToString().Contains("#"))
                                                    {

                                                        <div class="progress-bar progress-bar-success" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim( new Char[] { '#' } )
                                                        </div>

                                                    }
                                                    else if (dr[i].ToString().Contains("$"))
                                                    {
                                                        <div class="progress-bar progress-bar-warning" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim(new Char[] { '$' })
                                                        </div>

                                                    }
                                                    else if (dr[i].ToString().Contains("*"))
                                                    {
                                                        <div class="progress-bar progress-bar-danger" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim(new Char[] { '*' })
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        int orderID = 0;
                                                        int.TryParse(@dr[i].ToString().Substring(0, @dr[i].ToString().LastIndexOf("₴")), out orderID);
                                                        int bOMid = 0;
                                                        var x = @dr[i].ToString().Replace(orderID.ToString() + "₴", "");
                                                        
                                                        <a target="_blank" href="~/planning/Plan_OrderStepProgress/@orderID">@x</a>
                                                    }

                                                </div>
                                            </td>
                                        }


                                    </tr>
                                }
                            }


                        </tbody>

                    </table>
                </div>
            </div>


        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>


@*<script>

        $(document).ready(function () {

            $('#example1 tr').each(function () {
                $(this).find("td").each(function () {
                    var col = $(this).parent().children().index($(this));
                    var row = $(this).parent().parent().children().index($(this).parent());
                    //alert('Row: ' + row + ', Column: ' + col);
                    var cID = 'Row' + row + 'Column' + col;
                    var cellID = $(this).attr('id', cID);
                });

            });
            $('#example1 tr').each(function () {
                $(this).find("td").each(function () {
                    var cellID = $(this).attr('id');

                    console.log(cellID);
                    $('#' + cellID).click(function () {
                        console.log(cellID);
                    })
                });

            });
        });
    </script>*@