﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Time And Action Status";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

@Scripts.Render("~/Content/Bower/moment.js")
@Scripts.Render("~/Content/Bower/daterangepicker.js")
@Scripts.Render("~/Content/Bower/bootstrap-datepicker.min.js")
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
@Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")


<section class="content-header" style="padding-bottom:15px">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active">Time & Action</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<center>
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Time And Action Status</h3>
        </div>
        <div class="panel-body">

            <div id="divreportone" class="row">
                @*<div class="col-md-2"></div>*@

                <div class="col-md-8">
                    @using (Html.BeginForm(new { id = "fromPlanning" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <h4 style="font-weight: bold">Time And Action By Style</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="BuyerName" class="col-md-4">
                                            <span><i class="ion-star font-red"></i></span>Style:
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("Style", ViewBag.Style as SelectList, "--Select Style Number--", new { id = "ddlStyle", name = "Style", @class = "SerchingDropDown form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="reset" id="btnresetreportone" class="btn btn-danger btn-cstm btn-flat pull-right"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset</button>
                                <a onclick="getsearchTimeAndAction()" id="btnAssetQuantityReport" class="btn btn-primary btn-cstm btn-flat pull-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-2"></div>

            </div>

            <div class="col-md-12"></div>
        </div>
    </div>
</center>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="asfsexample11" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Step Name</th>
                            <th>Planned Start Date</th>
                            <th>Actual Start Date</th>
                            <th>Planned Finish Date</th>
                            <th>Actual Finish Date</th>
                            <th>Assigned To</th>
                            <th>Remarks</th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>

</div>
<!-- /.col -->

<script>
  

    function getsearchTimeAndAction() {
        var styleid = $('#ddlStyle').val();
        var counter = 1;
        $.ajax({
            type: "post",
            url: "@Url.Action("GetTimeAndActionStatusJsonResult", "Helper")",
            data: { orderID: styleid },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $("#asfsexample11 tbody").empty();
                var txt = "";
                if (data.length !== 0) {

                    $.each(data, function (index, row) {
                        var sl = data[index].Id;
                        txt += "<tr>" +
                            "<td><strong>" +
                            counter +
                            "</strong></td><td>" +
                            data[index].StepName +
                            "</td><td>" +
                            ToJavaScriptDate(data[index].PlannedStartDate) +
                            "</td><td>" +
                            ToJavaScriptDate(data[index].ActualStartDate) +
                            "</td><td>" +
                            ToJavaScriptDate(data[index].PlannedFinishDate) +
                            "</td><td>" +
                            ToJavaScriptDate(data[index].ActualFinishDate) +
                            "</td><td>" +
                            data[index].AssignedTo +
                             "</td><td>" +
                            data[index].Remarks +
                            "</td>" +
                            "</tr>";
                        counter++;
                    });

                    $("#asfsexample11 tbody").html(txt);
                    $('#asfsexample11').DataTable({
                        "destroy": true, //use for reinitialize datatable
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],

                        "scrollY": "555px",
                        "scrollX": true

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']

                    });

                }




            }
        });

    }
    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }
</script>

