﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    SumofPayableDueSupplier supplier = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/plugins/chartjs/Chart.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@{
    var collectionDueReceivableAmount12months = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount12Months;
    var businessCashFlow = (List<BusinessCashFlow>)ViewBag.BusinessCashFlow;

    var factoryOverview = (List<FactoryOverview>)ViewBag.FactoryOverview;
}


<script>

    var lebel = [];
    var earning = [];
    var collection = [];
    var due = [];
    @foreach (CollectionDueReceivableAmount item in collectionDueReceivableAmount12months)
    {
        <text>
    lebel.push(['@item.MonthName']);
    earning.push(['@Convert.ToString(item.Receivable + item.Income, CultureInfo.InvariantCulture)']);
    collection.push(['@Convert.ToString(item.Income, CultureInfo.InvariantCulture)']);
    due.push(['@Convert.ToString(item.Receivable, CultureInfo.InvariantCulture)']);
    </text>
    }

    $(function () {
        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                {
                    label: "Income",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: earning
                },
                {
                    label: "Received",
                    fillColor: "rgba(60,141,188,0.9)",
                    strokeColor: "rgba(60,141,188,0.8)",
                    pointColor: "#3b8bba",
                    pointStrokeColor: "rgba(60,141,188,1)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(60,141,188,1)",
                    data: collection
                },
                {
                    label: "Due",
                    fillColor: "rgb(255, 204, 0)",
                    strokeColor: "rgb(255, 204, 0)",
                    pointColor: "rgb(255, 204, 0)",
                    pointStrokeColor: "rgb(255, 204, 0)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(255, 204, 0)",
                    data: due
                }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };
     
        lineChartOptions.datasetFill = false;
        lineChart.Line(lineChartData, lineChartOptions);

    });


    var lebel = [];
    var predictedCashInFlow = [];
    var actualCashInFlow = [];
    var pedictedCashOutFlow = [];
    var actualCashOutFlow = [];
    var invoiceAmount = [];
    @foreach(BusinessCashFlow item in businessCashFlow)
    {
        <text>
    lebel.push(['@item.MonthName']);
    predictedCashInFlow.push(['@Convert.ToString(item.PredictedCashInFlow, CultureInfo.InvariantCulture)']);
    actualCashInFlow.push(['@Convert.ToString(item.ActualCashInFlow, CultureInfo.InvariantCulture)']);
    pedictedCashOutFlow.push(['@Convert.ToString(item.PedictedCashOutFlow, CultureInfo.InvariantCulture)']);
    actualCashOutFlow.push(['@Convert.ToString(item.ActualCashOutFlow, CultureInfo.InvariantCulture)']);
    invoiceAmount.push(['@Convert.ToString(item.InvoiceAmount, CultureInfo.InvariantCulture)']);
    </text>
    }

    $(function () {

        var lineChartCanvas = $("#lineChart2").get(0).getContext("2d");
        var lineChart2 = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                 {
                     label: "Predicted cash inflow",
                     fillColor: "#00FF00",
                     strokeColor: "#00FF00",
                     pointColor: "#00FF00",
                     pointStrokeColor: "#00FF00",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "#00FF00",
                     data: predictedCashInFlow
                 },
                {
                    label: "Actual cash inflow",
                    fillColor: "#00008B",
                    strokeColor: "#00008B",
                    pointColor: "#00008B",
                    pointStrokeColor: "#00008B",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#00008B",
                    data: actualCashInFlow
                },
                {
                    label: "Pedicted cash outflow",
                    fillColor: "#FF8C00",
                    strokeColor: "#FF8C00",
                    pointColor: "#FF8C00",
                    pointStrokeColor: "#FF8C00",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#FF8C00",
                    data: pedictedCashOutFlow
                },
                {
                    label: "Actual cash outflow",
                    fillColor: "#DC143C",
                    strokeColor: "#DC143C",
                    pointColor: "#DC143C",
                    pointStrokeColor: "#DC143C",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#DC143C",
                    data: actualCashOutFlow
                },
                {
                    label: "Pending payment ",
                    fillColor: "rgb(156, 45, 167)",
                    strokeColor: "rgb(156, 45, 167)",
                    pointColor: "rgb(156, 45, 167)",
                    pointStrokeColor: "rgb(156, 45, 167)",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgb(156, 45, 167)",
                    data: invoiceAmount
                }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

      
        lineChartOptions.datasetFill = false;
        lineChart2.Line(lineChartData, lineChartOptions);
    });






    var lebel = [];
    var Planed = [];
    var Actual = [];
    var Capacity = [];
    @foreach(FactoryOverview item in factoryOverview)
    {
        <text>
    lebel.push(['@item.MonthName']);
    Planed.push(['@Convert.ToString(item.Planed, CultureInfo.InvariantCulture)']);
    Actual.push(['@Convert.ToString(item.Actual, CultureInfo.InvariantCulture)']);
    Capacity.push(['@Convert.ToString(item.Capacity, CultureInfo.InvariantCulture)']);
    </text>
    }

    $(function () {
        var lineChartCanvas = $("#lineChart3").get(0).getContext("2d");
        var lineChart3 = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                {
                    label: "Planed",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: Planed
                },
                 {
                     label: "Actual",
                     fillColor: "rgb(255, 204, 0)",
                     strokeColor: "rgb(255, 204, 0)",
                     pointColor: "rgb(255, 204, 0)",
                     pointStrokeColor: "rgb(255, 204, 0)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(255, 204, 0)",
                     data: Actual
                 },
                 {
                     label: "Capacity",
                     fillColor: "rgb(0,128,128)",
                     strokeColor: "rgb(0,128,128)",
                     pointColor: "rgb(0,128,128)",
                     pointStrokeColor: "rgb(0,128,128)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(0,128,128)",
                     data: [850000, 850000, 850000, 850000, 850000, 850000, 860000, 850000, 850000, 840000, 850000, 850800] //Capacity
                 }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        lineChartOptions.datasetFill = false;
        lineChart3.Line(lineChartData, lineChartOptions);

    });

    
    $(function () {
        var lineChartCanvas = $("#lineChart4").get(0).getContext("2d");
        var lineChart4 = new Chart(lineChartCanvas);

        var lineChartData = {
            labels: lebel,
            datasets: [
                {
                    label: "Planed",
                    fillColor: "rgba(210, 214, 222, 1)",
                    strokeColor: "rgba(210, 214, 222, 1)",
                    pointColor: "rgba(210, 214, 222, 1)",
                    pointStrokeColor: "#c1c7d1",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: Planed
                },
                 {
                     label: "Actual",
                     fillColor: "rgb(255, 204, 0)",
                     strokeColor: "rgb(255, 204, 0)",
                     pointColor: "rgb(255, 204, 0)",
                     pointStrokeColor: "rgb(255, 204, 0)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(255, 204, 0)",
                     data: Actual
                 },
                 {
                     label: "Capacity",
                     fillColor: "rgb(0,128,128)",
                     strokeColor: "rgb(0,128,128)",
                     pointColor: "rgb(0,128,128)",
                     pointStrokeColor: "rgb(0,128,128)",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgb(0,128,128)",
                     data: [1850000, 2850000, 1850000, 3850000, 2850000, 2850000, 1860000, 3850000, 2850000, 1840000, 1850000, 3850800] //Capacity
                 }
            ]
        };

        var lineChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: true,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //Create the line chart
        //lineChart.Line(areaChartData, areaChartOptions);

        //-------------
        //- LINE CHART -
        //--------------
        //var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        //var lineChart = new Chart(lineChartCanvas);
        // var lineChartOptions = areaChartOptions;
        lineChartOptions.datasetFill = false;
        lineChart4.Line(lineChartData, lineChartOptions);

    });



    $(function () {
        var areaChartData = {
            labels: [
                     "LC Value",
                      "Export Value",
                      "BOM Value",
                      "PO Issued",
                      "PO Pending",
                      "BTB Limit",
                      "BTB Issued",
                      "Available BTB",
                      "Outstanding BOM",
                      "Outstanding PO",
                      "Supplier Due",
                      "Supplier Payable",
                      "Realised Amount",
                      "BTB LC PO",
                      "LC Amount"
            ],
            datasets: [

              {
                  label: "Digital Goods",
                  fillColor: "#00a65a",
                  strokeColor: "#00a65a",
                  pointColor: "#3b8bba",
                  pointStrokeColor: "#00a65a",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "#00a65a",
                  data: [
                           '@Model.SummaryReportAdminBoard.MasterLCValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.ExportValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.BOMValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.POIssuedValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.POPending.ToString("F")',
                            '@Model.SummaryReportAdminBoard.BTBLimitValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.BTBIssuedValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.BTBAvailableValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.BOMRestValue.ToString("F")',
                            '@Model.SummaryReportAdminBoard.PORestValue.ToString("F")',
                            '@supplier.Due.ToString("F")',
                            '@supplier.Payable.ToString("F")',
                            '@Model.RealisedAmount.ToString("F")',
                            '@Model.TotalLcBtbLcPoAmount.ToString("F")',
                            '@Model.TotalLcTtAmount.ToString("F")'
                  ]
              }
            ]
        };




        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas);
        var barChartData = areaChartData;
        //barChartData.datasets[1].fillColor = "#00a65a";
        //barChartData.datasets[1].strokeColor = "#00a65a";
        //barChartData.datasets[1].pointColor = "#00a65a";
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 0.5,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 15,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };

        barChartOptions.datasetFill = false;
        barChart.Bar(barChartData, barChartOptions);
    });
</script>


<section class="content">
    @*AT A GLANCE*@
    <div class="row">
        <div>
            <div class="box">
                <div class="box-header">
                    <center><b>AT A GLANCE</b></center>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="background-color: #B0C4DE">
                                <th style="text-align: left;">SL</th>
                                <th style="text-align: left;">
                                    Title
                                </th>
                                <th style="text-align: center; font: bold;">Values</th>
                            </tr>


                        </thead>
                        <tbody>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">1</td>
                                <td style="text-align: left;">
                                    <span>
                                        Total LC Value :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.MasterLCValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">2</td>
                                <td style="text-align: left;">
                                    <span>
                                        Actual Export Value :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.ExportValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">3</td>
                                <td style="text-align: left;">
                                    <span>
                                        Total BOM Value :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">4</td>
                                <td style="text-align: left;">
                                    <span>
                                        Total PO Issued :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.POIssuedValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">5</td>
                                <td style="text-align: left;">
                                    <span>
                                        PO Pending :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.POPending).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">6</td>
                                <td style="text-align: left;">
                                    <span>
                                        BTB Limit :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBLimitValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">7</td>
                                <td style="text-align: left;">
                                    <span>
                                        BTB Issued Value :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBIssuedValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">8</td>
                                <td style="text-align: left;">
                                    <span>
                                        Available BTB Value :
                                    </span>
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBAvailableValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">9</td>
                                <td style="text-align: left;">
                                    Outstanding BOM Value :
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMRestValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">10</td>
                                <td style="text-align: left;">
                                    Outstanding PO Value :
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.PORestValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">11</td>
                                <td style="text-align: left;">
                                    Supplier Due :
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(supplier.Due).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">12</td>
                                <td style="text-align: left;">
                                    Supplier Payable :
                                </td>
                                <td style="text-align: center; font: bold;">
                                    <span>$ @Math.Round(supplier.Payable).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">13</td>
                                <td style="text-align: left;">
                                    Total BTB LC PO Value :
                                </td>
                                <td style="text-align: center; font: bold;">$ @Model.TotalLcBtbLcPoAmount.ToString("0.00")</td>
                            </tr>
                            <tr style="background-color: #AFEEEE">
                                <td style="text-align: left;">14</td>
                                <td style="text-align: left;">
                                    Realised Amount :
                                </td>
                                <td style="text-align: center; font: bold;">$ @Model.RealisedAmount.ToString("0.00")</td>
                            </tr>
                            <tr style="background-color: #FFFACD">
                                <td style="text-align: left;">15</td>
                                <td style="text-align: left;">
                                    Total LC Amount(TT) :
                                </td>
                                <td style="text-align: center; font: bold;">$ @Model.TotalLcTtAmount.ToString("0.00")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    @*AT A GLANCE Grap*@
    <div class="col-lg-12">
        <canvas hidden id="areaChart" style="height: 250px"></canvas>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">
                    AT A GLANCE
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="barChart" style="height: 230px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    @*Collection Status*@
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Collection Status</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>

    @*Business Cashflow*@
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Business Cashflow</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart2" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    @*Factory Overview*@
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Factory Overview</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart3" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>

    @*Daily Production*@
    <div class="col-lg-12">
        <!-- LINE CHART -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Daily Production</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart4" style="height: 350px"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>

    @*Pending Production*@
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3>
                        Pending Production
                    </h3>

                    <div class="form-group">
                        <label for="BuyerName" class="col-md-4">
                            <span><i class="ion-star font-red"></i></span>Buyer:
                        </label>
                        <div class="col-md-8 input-group">
                            @Html.DropDownListFor(model => model.Buyer, ViewBag.BuyerName as SelectList, "--Select Buyer Name--", new { id = "ddlBuyerName", name = "BuyerName", @class = "SerchingDropDown form-control" })



                        </div>
                        <input style="float: right" type="submit" value="Search" class="btn btn-success" />
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example1" class="tableLine table-striped jambo_table bulk_action">

                            <thead>
                                <tr>
                                    @if (Model.DataTable != null)
                                    {
                                        foreach (System.Data.DataColumn cl in Model.DataTable.Columns)
                                        {
                                    <th style="padding: 4px; text-align: center;">
                                        @cl.ColumnName
                                    </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.DataTable != null)
                                {
                                    foreach (System.Data.DataRow dr in Model.DataTable.Rows)
                                    {
                                <tr>
                                    @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                                            {
                                                string dateTime = i.ToString();
                                            <td>
                                                <div class="progress">

                                                    @if (dr[i].ToString().Contains("#"))
                                                        {
                                                        <div class="progress-bar progress-bar-success" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim(new Char[] { '#' })
                                                        </div>

                                                        }
                                                        else if (dr[i].ToString().Contains("$"))
                                                        {
                                                        <div class="progress-bar progress-bar-warning" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim(new Char[] { '$' })
                                                        </div>

                                                        }
                                                        else if (dr[i].ToString().Contains("*"))
                                                        {
                                                        <div class="progress-bar progress-bar-danger" style="width: 100%; height: 24px;">
                                                            @dr[i].ToString().Trim(new Char[] { '*' })
                                                        </div>
                                                        }
                                                        else
                                                        {
                                                            int orderID = 0;
                                                            int.TryParse(@dr[i].ToString().Substring(0, @dr[i].ToString().LastIndexOf("₴")), out orderID);
                                                            int bOMid = 0;
                                                            var x = @dr[i].ToString().Replace(orderID.ToString() + "₴", "");

                                                        <a target="_blank" href="~/planning/Plan_OrderStepProgress/@orderID">@x</a>

                                                        }

                                                </div>
                                            </td>
                                            }


                                </tr>
                                    }
                                }


                            </tbody>

                        </table>
                    </div>
                </div>


            </div>
            <!-- /.box-header -->
            <!-- /.box-body -->
        </div>
    </div>

    @*Link*@
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="~/misdashboard/TimeAndActionStatus" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon-gradient">
                            @*<i class="ion ion-cash"></i>*@
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center" style="padding-top: 25px !important">
                            <span class="info-box-text text-bold text-black">Time & Action Status</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/misdashboard/VmMis_Dashboard2Index" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon-gradient">
                            @*<i class="ion ion-cash"></i>*@
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center" style="padding-top: 25px !important">
                            <span class="info-box-text text-bold text-black">Buyer Receivable & Supplier Payable</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/AccountsHeadIndex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-aqua">
                            <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Account<br />Inventory</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>






        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/commercial/vmSummaryReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon-gradient">
                            @*<i class="ion ion-cash"></i>*@
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center" style="padding-top: 25px !important">
                            <span class="info-box-text text-bold text-black">Commercial<br /> Summary</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/marketing/yarnstatementledger" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-aqua">
                            <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Yarn<br />Statement</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/common/ordersummaryviewindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-green">
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Order<br /> Summary</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-light-blue-active"><i class="fa fa-users"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Supplier<br /> Overview</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/commercial/vmcommercial_udindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-red">
                            <img height="50" width="50" src="~/Content/Images/adminboard/bank.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">L/C<br /> Statement</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Payment<br /> Ledger</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/common/vmcommon_theorderindex" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Order<br /> Overview</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemWiseReport" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-purple">
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Inventory</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemLeftoverReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-navy">
                            <img height="50" width="50" src="~/Content/Images/adminboard/store.png" />
                        </span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Store<br /> Leftover</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->

            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- /.info-box -->
                <a href="~/planning/vmplan_orderstepindex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Time & <br />Action</span>
                        </div>

                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/accounts/VmAccountingview" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Cost instant/Periodical<br /> Head wise/Total</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- /.info-box -->
                <a href="~/common/ordersummaryviewindex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">List Of order that <br />BOM not yet complete</span>
                        </div>

                        <!-- /.info-box-content -->
                    </div>
                </a>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/Store/ItemWiseReport" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Item Stock</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="~/store/categoryinventoryindex" target="_blank">
                    <div class="info-box">
                        <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                        <div class="info-box-content center">
                            <span class="info-box-text text-bold text-black">Store Inventory</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
