﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

    SumofPayableDueSupplier supplier = (SumofPayableDueSupplier)ViewBag.SupplierData;
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>

<script type="text/javascript">

    var lebel = [];
    var value = [];

    @foreach (SupplierInfoChart item in ViewBag.SupplierList)
        {
           <text>
    lebel.push(['@item.SupplierName']);
    value.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
    </text>
        }

    var color = Chart.helpers.color;

    var configBarSupplier = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Supplier Payable',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };


    var buyerName = [];
    var buyerBalance = [];

    @foreach (BuyerInfoChart item in ViewBag.BuyerList)
    {
           <text>
    buyerName.push(['@item.BuyerName']);
    buyerBalance.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
    </text>
    }
    console.log('Buyer Name', buyerName);
    console.log('Buyer Balance', buyerBalance);

    var color = Chart.helpers.color;

    var configBarBuyer = {
        type: 'bar',
        data: {
            labels: buyerName,
            datasets: [{
                label: 'Buyer outstanding -Sundry creditors',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: buyerBalance
            }]
        },
        options: {
            responsive: true //,
            //legend: {
            //    position: 'top'
            //}
        }
    };




    var atAGlance = {
        type: 'bar',
        data: {
            datasets: [{
                data: [
                    '@Model.SummaryReportAdminBoard.MasterLCValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.ExportValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POPending.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBLimitValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBAvailableValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMRestValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.PORestValue.ToString("F")',
                    '@supplier.Due.ToString("F")',
                    '@supplier.Payable.ToString("F")',
                    '@Model.RealisedAmount.ToString("F")',
                    '@Model.TotalLcBtbLcPoAmount.ToString("F")',
                    '@Model.TotalLcTtAmount.ToString("F")'
                ],
                backgroundColor: [
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue
                ],
                label: "Balance"
            }],
            labels: [
                'LC Value:',
                'Export Value',
                'BOM Value',
                'PO Issued Value',
                'PO Pending',
                'BTB Limit',
                'BTB Issued Value',
                'Available BTB Value',
                'Outstanding BOM Value',
                'Outstanding PO Value',
                'Supplier Due',
                'Supplier Payable',
                'Realised Amount',
                'Total BTB LC PO Value',
                'Total LC Amount(TT)'
            ]
        },
        options: {
            responsive: true
        }
    };




    function start() {

        var ctxbarsupplier = document.getElementById('bar-chart-area-supplier').getContext('2d');
        var d = new Chart(ctxbarsupplier, configBarSupplier);

        var ctxbarbuyer = document.getElementById('bar-chart-area-buyer').getContext('2d');
        var d1 = new Chart(ctxbarbuyer, configBarBuyer);

        var bar = document.getElementById('bar-chart-atAGlance').getContext('2d');
        var a = new Chart(bar, atAGlance);

    };

    window.onload = start;







</script>



<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Supplier Balance</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>

                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area-supplier"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Buyer Balance</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area-buyer"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>Account Inventory</b></h3>
                </div>

                @{
                    int Sl = 0;
                }
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmAcc_AcName.AccountHead)

                                </th>

                                @*<th>
                                        @Html.DisplayNameFor(model => model.TotalCredit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalDebit)
                                    </th>*@
                                <th>
                                    Amount
                                </th>
                            </tr>
                        </thead>
                        @{
                            decimal ttlC = 0;
                            decimal ttlD = 0;
                            decimal ttlb = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.VmAcc_AcName.DataList)
                            {

                                decimal totalCredit = item.TotalCredit;
                                decimal totalDebit = item.TotalDebit;
                                decimal balance = totalCredit - totalDebit;
                                ttlC += item.TotalCredit;
                                ttlD += item.TotalDebit;
                                ttlb += balance;
                            <tr>
                                <td>
                                    <b> @(++Sl).</b>
                                </td>
                                <td style="padding:2px 4px 2px 4px">
                                    <a href="~/Accounts/AccountsChartOneIndex/@Html.DisplayFor(modelItem => item.AccountHeadID)" target="_blank">@Html.DisplayFor(modelItem => item.AccountHead)</a>
                                </td>

                                @*<td>
                                        @Html.DisplayFor(modelItem => item.TotalCredit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalDebit)
                                    </td>*@
                                <td>
                                    @balance
                                </td>
                            </tr>

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Total</th>
                                @*<th>@ttlC</th>
                                    <th>@ttlD</th>*@
                                <th>@ttlb</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <b>
                            Store Ledger
                        </b>
                    </h3>
                </div>

                @{
                    int Sli = 0;
                }
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmStoreInventory.Raw_Category.Name)

                                </th>

                                <th>
                                    Total Received Quantity
                                </th>
                                <th>
                                    Consumption Quantity
                                </th>
                                <th>
                                    Current Stock
                                </th>
                                <th>
                                    Total Vaule
                                </th>
                                <th>
                                    Average Price
                                </th>
                                <th>
                                    Current Stock Value
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmStoreInventory.DataList)
                            {
                                <tr>
                                    <td>
                                        <b> @(++Sli).</b>
                                    </td>
                                    <td style="padding: 2px 4px 2px 4px">
                                        <a href="~/Store/SubCategoryInventoryIndex/@Html.DisplayFor(modelItem => item.Raw_Category.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Raw_Category.Name)</a>
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryStockOutQuantity)
                                    </td>
                                    <td>
                                        @(item.CategoryQuantity - item.CategoryStockOutQuantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryTotalPrice)
                                    </td>
                                    <td>
                                        @{
                                            decimal avgprice = 0;
                                            if (item.CategoryQuantity != 0 && item.CategoryTotalPrice != 0)
                                            {
                                                avgprice = (decimal)item.CategoryQuantity / (decimal)item.CategoryTotalPrice;
                                            }
                                            else
                                            {
                                                avgprice = 0;
                                            }

                                        }
                                        @String.Format("{0:0.0000}", (avgprice))
                                    </td>
                                    <td>
                                        @String.Format("{0:0.0000}", ((item.CategoryQuantity - item.CategoryStockOutQuantity) * avgprice))
                                    </td>
                                </tr>

                                            }

                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> <b> Item LeftOver Inventory Report</b></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>

                                <th>

                                    Item
                                </th>

                                <th>
                                    Item Quantity

                                </th>

                                <th>
                                    Store Received Quantity

                                </th>

                                <th>
                                    Issued Quantity

                                </th>

                                <th>
                                    Consumption Quantity

                                </th>

                                <th>
                                    Production Store Balance

                                </th>

                                <th>
                                    Central Store Balance

                                </th>
                                <th>
                                    Total Stock


                                </th>
                            </tr>
                        </thead>

                        <tbody>


                            <tr>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    @*<div class="col-lg-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <a href="~/misdashboard/TimeAndActionStatus" target="_blank">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon-gradient">
                            <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                        </span>
                        <div class="info-box-content center" style="padding-top: 25px !important">
                            <span class="info-box-text text-bold text-black">Time & Action Status</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/misdashboard/VmMis_Dashboard2Index" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-maroon-gradient">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center" style="padding-top: 25px !important">
                                <span class="info-box-text text-bold text-black">Buyer Receivable & Supplier Payable</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/AccountsHeadIndex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-aqua">
                                <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Account<br />Inventory</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/commercial/vmSummaryReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-maroon-gradient">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center" style="padding-top: 25px !important">
                                <span class="info-box-text text-bold text-black">Commercial<br /> Summary</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/marketing/yarnstatementledger" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-aqua">
                                <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Yarn<br />Statement</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/common/ordersummaryviewindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-green">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Order<br /> Summary</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-light-blue-active"><i class="fa fa-users"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Supplier<br /> Overview</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/commercial/vmcommercial_udindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-red">
                                <img height="50" width="50" src="~/Content/Images/adminboard/bank.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">L/C<br /> Statement</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Payment<br /> Ledger</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/common/vmcommon_theorderindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Order<br /> Overview</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemWiseReport" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-purple">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Inventory</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemLeftoverReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-navy">
                                <img height="50" width="50" src="~/Content/Images/adminboard/store.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Store<br /> Leftover</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/planning/vmplan_orderstepindex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Time & <br />Action</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/VmAccountingview" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Cost instant/Periodical<br /> Head wise/Total</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/common/ordersummaryviewindex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">List Of order that <br />BOM not yet complete</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemWiseReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Item Stock</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/store/categoryinventoryindex" target="_blank">
                        <div class="info-box">
                            <span style="float: right" class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Store Inventory</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>*@
</section>
