﻿@using System.Web.UI.WebControls
@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductInfo

@{
    ViewBag.Title = "Accessories Product Entry";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";

}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Accesories Information Entry", "AccesoriesProductEntry", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Accesories List", "ViewAllAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available Accesories List", "ViewAvaliableAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Accesories List", "ViewAssignedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Product", "ViewAccessoriesProduct", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Brand", "ViewAccessoriesProductBrand", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Model", "AddAccessoriesProductModel", "AssetManagement", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>

@using (Html.BeginForm("AccesoriesProductEntry", "AssetManagement", FormMethod.Post, new { id = "formAccesoriesProductEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <div class="panel panel-default border-top border-blue">

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Accesories Information Entry</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitall as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartmentsHeadOffice as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />

                    @*<div class="row">
                        <div class="form-group">
                            <label for="txtAssetSerialNumber" class="col-md-4">
                                Product SL No:
                            </label>
                            <div class="col-md-8">
                                <input type="text" id="txtAssetSerialNumber" name="AstProductSlNo" class="form-control" placeholder="Product SL No." data-fv-stringlength="true" data-fv-stringlength-min="1" data-fv-stringlength-max="25" data-fv-trigger="blur">
                            </div>
                        </div>
                    </div>*@

                    @*<br />*@
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ProductId, ViewBag.AssetProduct as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />


                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BrandId, ViewBag.AssetBrandList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ModelId, ViewBag.AssetBrandList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row hide" id="assetSlViewDiv">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="text-center alert" id="assetSlAlert">
                                    <strong>Accesories Serial No:</strong><span class="badge font-size-16" id="headingAssetSl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Accesories Details Info</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="AssetConfiguration" class="col-md-4">
                                Configuration:
                            </label>
                            <div class="col-md-8">
                                <textarea cols="20" rows="3" style="white-space:normal;text-align:justify" id="AssetConfiguration" name="AssetConfiguration" class="form-control" placeholder="Product Configuration Details">                                            
                                        </textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="Price" class="col-md-4">
                                Price:
                            </label>
                            <div class="col-md-8">
                                <input type="text" id="Price" name="Price" class="form-control" placeholder="Price" data-fv-stringlength="true" data-fv-stringlength-min="1" data-fv-stringlength-max="25" data-fv-trigger="blur" data-input-numeric-only="true">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="IsWarranty" class="col-md-4">
                                Is Warranty:
                            </label>
                            <div class="col-md-8">
                                <div class="btn-group" id="status" data-toggle="buttons">
                                    <label class="btn btn-default btn-on-3 btn-sm">
                                        <input type="radio" id="chkYes" value="true" name="IsWarranty">YES
                                    </label>
                                    <label class="btn btn-default btn-off-3 btn-sm active ">
                                        <input type="radio" id="chkNo" value="false" name="IsWarranty">NO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" id="warranty" style="display:none">
                        <div class="form-group">
                            <label for="txtWarrantyDate" class="col-md-4">
                                Warranty Expired Date:
                            </label>
                            <div class="col-md-8">
                                <div class="input-group date" data-datetimepicker-new-noresitrictionforworkprogress-next="true">
                                    <input type="text" id="txtWarrantyDate" placeholder="YYYY-MM-DD" name="WarrantyDate" required class="form-control" data-fv-notempty="true" data-fv-notempty-message="Warranty Date is required!!" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.VendorId, ViewBag.ListOfVendor as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<div class="row">
                            <div class="form-group">
                                <label for="txtPurchaseDate" class="col-md-4">
                                    Purchase Date:
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group date" data-datetimepicker-new-noresitrictionforworkprogress="true">
                                        <input type="text" id="txtPurchaseDate" placeholder="YYYY-MM-DD" name="PurchaseDate" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Location_Id, ViewBag.ListOfProductLocation as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <input type="submit" value="Save" id="btnaccesoriesentry" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    </div>

}


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>


    <script>

        $(document).ready(function () {
            $(document).on('click', '#btnassetentry', function (e) {
                $("#formAccesoriesProductEntry").submit();
            });
        });
    </script>




