﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProduct
@{
    ViewBag.Title = "AddAssetProduct";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div id="addform">
    @using (Html.BeginForm("AddAssetProduct", "AssetManagement", FormMethod.Post, new { data_server = "true", id = "addshifttype" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.AssetCategoryList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SubCategoryId, ViewBag.AssetSubCategoryList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                        @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProductAbbreviation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProductAbbreviation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductAbbreviation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>






@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>*@
    @*<script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


    @*<script>
        $(document).ready(function () {

            /*
             This is used for cascding dropdown. Which will change upon Brand. If Brand is selected
             then the Model will appear according to selected Brand
             */
            $("#CategoryId").change(function () {

                $("#SubCategoryId").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCategoryList")",
                    datatype: "Json",
                    data: { categoryId: $("#CategoryId").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected> Please Select Category </option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.ModelName + '</option>');
                        });
                        $("#SubCategoryId").html(items);
                    }
                });
            });


        })
    </script>}*@

