﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductModel
@{
    ViewBag.Title = "AddAssetProductModel";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addform">
    @using (Html.BeginForm("AddAssetProductModel", "AssetManagement", FormMethod.Post, new { data_server = "true", id = "addassetmodel" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ProductId, ViewBag.AssetProductType as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.BrandId, ViewBag.AssetBrandList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                        @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ModelName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ModelName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>








