﻿@using System.Web.UI.WebControls

@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductInfo

@{
    ViewBag.Title = "Asset Product Entry";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Asset Information Entry", "AssetProductEntry", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Asset List", "ViewAllAssetProductList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available Asset List", "ViewAvailableAssetProductList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Asset List", "ViewAssignedAssetProductList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Asset Product", "ViewAssetProductList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Asset Brand", "ViewAssetProductBrandList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Asset Model", "ViewAssetProductModelList", "AssetManagement", new { @class = "elements" }, null)</li>

        </ul>
    </div>
</div>

@using (Html.BeginForm("AssetProductEntry", "AssetManagement", FormMethod.Post, new { id = "formAssetProductEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <input id="hidAssetSerialNo" type="hidden" name="Asset_Serial_No" value="" />
    <input id="hidProduct" type="hidden" name="ProductName" />
    <input id="hidBusinessUnit" type="hidden" name="BusinessName" value="HO" />
    <input id="hidDepartment" type="hidden" name="DeptName" />

    <div class="panel panel-default border-top border-blue">

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Information Entry</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitall as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    @*<div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Unit_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Unit_Id, ViewBag.GetUnitList as SelectList, new { @class = "form-control dropdown myselect2" })
                                    @Html.ValidationMessageFor(model => model.Unit_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@


                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartmentsHeadOffice as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    @*<div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.EmployeeId, ViewBag.ListOfEmployee as SelectList, new { @class = "form-control dropdown myselect2" })
                                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ProductId, ViewBag.AssetProduct as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row hide" id="assetSlViewDiv">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="text-center alert" id="assetSlAlert">
                                    <strong>Asset Serial No:</strong><span class="badge font-size-16" id="headingAssetSl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Product Details</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BrandId, ViewBag.AssetBrandList as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ModelId, new SelectList(string.Empty, "Value", "Text"), "Select Model",
                                 new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="txtAssetSerialNumber" class="col-md-4">
                                Product SL No:
                            </label>
                            <div class="col-md-8">
                                <input type="text" id="txtAssetSerialNumber" name="AstProductSlNo" class="form-control" placeholder="Product SL No." data-fv-stringlength="true" data-fv-stringlength-min="1" data-fv-stringlength-max="25" data-fv-trigger="blur">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="AssetConfiguration" class="col-md-4">
                                Configuration:
                            </label>
                            <div class="col-md-8">
                                <textarea cols="20" rows="3" style="white-space:normal;text-align:justify" id="AssetConfiguration" name="AssetConfiguration" class="form-control" placeholder="Product Configuration Details">                                            
                                        </textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="Price" class="col-md-4">
                                Price:
                            </label>
                            <div class="col-md-8">
                                <input type="text" id="Price" name="Price" class="form-control" placeholder="Price" data-fv-stringlength="true" data-fv-stringlength-min="1" data-fv-stringlength-max="25" data-fv-trigger="blur" data-input-numeric-only="true">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="IsWarranty" class="col-md-4">
                                Is Warranty:
                            </label>
                            <div class="col-md-8">
                                <div class="btn-group" id="status" data-toggle="buttons">
                                    <label class="btn btn-default btn-on-3 btn-sm">
                                        <input type="radio" id="chkYes" value="true" name="IsWarranty">YES
                                    </label>
                                    <label class="btn btn-default btn-off-3 btn-sm active ">
                                        <input type="radio" id="chkNo" value="false" name="IsWarranty">NO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" id="warranty" style="display:none">
                        <div class="form-group">
                            <label for="txtWarrantyDate" class="col-md-4">
                                Warranty Expired Date:
                            </label>
                            <div class="col-md-8">
                                <div class="input-group date" data-datetimepicker-new-noresitrictionforworkprogress-next="true">
                                    <input type="text" id="txtWarrantyDate" placeholder="YYYY-MM-DD" name="WarrantyDate" required class="form-control" data-fv-notempty="true" data-fv-notempty-message="Warranty Date is required!!" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.VendorId, ViewBag.ListOfVendor as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    @*<div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="col-md-8">
                                <div class="input-group date" data-datetimepicker-startdate="true">
                                    @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@

                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Location_Id, ViewBag.ListOfProductLocation as SelectList, new { @class = "form-control dropdown myselect2" })
                                @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <input type="submit" value="Save" id="btnassetentry" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>*@
    @*<script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


    <script>
        $(document).ready(function () {


            //Date picker
            //$('#DOB').datepicker();
            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change', function (ev) {
                // $('#date-daily').change();
                var date = ev.date._d;
                // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                var stdate = moment(date).format('MM/DD/YYYY');
                //$("#hidStartdate").val(stdate);
                var elemId = $(this).attr('data-startdate-model');
                $("#" + elemId).val(stdate);
            });

            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#BU_Id").change(function () {

                $("#Unit_Id").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList")",
                    datatype: "Json",
                    data: { bUnitId: $("#BU_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Unit</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.UnitName  + '</option>');
                        });
                        $("#Unit_Id").html(items);
                    }
                });
            });

               /*
             This is used for cascding dropdown. Which will change upon Brand. If Product is selected
             then the Brand will appear according to selected Product
             */

            $("#ProductId").change(function () {

                $("#BrandId").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetBrandListByProduct")",
                    datatype: "Json",
                    data: { productID: $("#ProductId").val() },
                    success: function (data) { 
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Product</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.BrandName + '</option>');
                        });
                        $("#BrandId").html(items);

                        var assetSl = data.assetSerialNo;
                        var sl=getAssetSerialNo(assetSl); //Generate Serial Number
                        $("#headingAssetSl").html(sl);
                    }
                });
            });


            /*
             This is used for cascding dropdown. Which will change upon Brand. If Brand is selected
             then the Model will appear according to selected Brand
             */
            $("#BrandId").change(function () {

                $("#ModelId").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetModelByBrand")",
                    datatype: "Json",
                    data: { brandId: $("#BrandId").val() },
                    success: function (data) {                
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Brand</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.ModelName + '</option>');
                        });
                        $("#ModelId").html(items);
                    }
                });
            });


            //Generate Serial Number
            function getAssetSerialNo(assetSl) {
                debugger;
                if (assetSl === "error") {
                    $('#assetSlViewDiv').removeClass('hide');
                    $('.alert').removeClass('alert-success').addClass('alert-error');
                    $('#headingAssetSl').text(' ' + assetSl + '! Network Error, Please Try Again!');
                } else {
                    var businessUnit = $("#hidBusinessUnit").val();
                    var department = $("#Dept_Id").val();
                    var product = $("#hidProduct").val();
                    if (businessUnit === '' || department === '' || product === '') {
                        $('#assetSlViewDiv').removeClass('hide');
                        $('.alert').removeClass('alert-success').addClass('alert-error');
                        $('#headingAssetSl').text('Please Select BusinessUnit & Department!');
                    } else {
                        $('#assetSlViewDiv').removeClass('hide');
                        $('.alert').removeClass('alert-error').addClass('alert-success');
                        var assetSerialNo = businessUnit + '-' + department + '-' + product + '-' + assetSl;
                        $('#headingAssetSl').text(assetSerialNo);
                        $("#hidAssetSerialNo").val(assetSerialNo);
                    }
                }
            }


        })
    </script>
}
