﻿@using System.Web.UI.WebControls

@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductAssign
@{
    ViewBag.Title = "Asset Assign Form";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Asset Assign", "AssetAssign", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Asset List", "ViewAllAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available Asset List", "ViewAvailableAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Asset List", "ViewAssignedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Damaged Asset List", "ViewDamagedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("Assign Brand", "ViewAssetProductBrandList", "AssetManagement", new { @class = "elements" }, null)</li>
                <li class="">@Html.ActionLink("Assign Model", "ViewAssetProductModelList", "AssetManagement", new { @class = "elements" }, null)</li>*@
        </ul>
    </div>
</div>

@using (Html.BeginForm("AssetAssign", "AssetManagement", FormMethod.Post, new { id = "formAssetProductAssignEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <input id="hidAssetSerialNo" type="hidden" name="Asset_Serial_No" value="" />

    <div class="panel panel-default border-top border-blue">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Product Details</h4>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ProductId, ViewBag.AssetProductList as SelectList, "Select Product", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BrandId, new SelectList(string.Empty, "Value", "Text"), "Select Brand", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ModelId, new SelectList(string.Empty, "Value", "Text"), "Select Model",
                                 new { @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Asset_Serial_No, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Asset_Serial_No, new SelectList(string.Empty, "Value", "Text"), "Select Model",
                                     new { @class = "form-control SerchingDropDown" })
                                    @Html.ValidationMessageFor(model => model.Asset_Serial_No, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="form-group">
                            <label for="spnAstProductSlNo" class="col-md-4">
                                <span id="spnAstProductSlNo"><i class="ion-star font-red"></i></span>Assign Tag No:
                            </label>
                            <div class="col-md-8">
                                <select id="ddlProdSlNo" name="AssetProductInfoId" data-placeholder="Select Model" class="form-control SerchingDropDown" data-fv-notempty="true" data-fv-notempty-message="">
                                    <option value=""></option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Assign</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BU_Id, ViewBag.ListOfBusinessUnit as SelectList, "Select Business Unit.", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartments as SelectList, "Select Dept.", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.EmployeeId, new SelectList(string.Empty, "Value", "Text"), "Select Employee",
                                     new { @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Location_Id, ViewBag.ListOfAssignLocation as SelectList, "Select Location", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.AssignDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <div class="input-group date" data-datetimepicker-startdate="true">
                                    @Html.TextBoxFor(model => model.AssignDate, new { @class = "calendarControl form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.ValidationMessageFor(model => model.AssignDate, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <input type="submit" value="Save" id="btnassetassignentry" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    </div>

}

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>
    <script>

        $(document).ready(function () {
            //Date picker
            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //    });


            $(document).on('click', '#btnassetassignentry', function (e) {

                $("#formAssetProductAssignEntry").submit();
            });


             /*
           This is used for cascding dropdown. Which will change upon Department. If Department is selected
           then the Employee will appear according to selected Department
           */
        $("#Dept_Id").change(function () {
            var bunit = $('#BU_Id').val();
            var dept = $('#Dept_Id').val();
            $("#EmployeeId").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetEmployeeByDepartmentJson")",
                    datatype: "Json",
                    data: { bunit: bunit, dept: dept },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Dept.</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.Name + '</option>');
                        });
                        $("#EmployeeId").html(items);
                    }
                });
            });



            $("#ProductId").change(function () {

                $("#BrandId").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetBrandListByProductForAssign")",
                    datatype: "Json",
                    data: { productID: $("#ProductId").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Product</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.BrandName + '</option>');
                        });
                        $("#BrandId").html(items);

                    }
                });
            });


            /*
             This is used for cascding dropdown. Which will change upon Brand. If Brand is selected
             then the Model will appear according to selected Brand
             */
            $("#BrandId").change(function () {

                $("#ModelId").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetModelByBrand")",
                    datatype: "Json",
                    data: { brandId: $("#BrandId").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Brand</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.ModelName + '</option>');
                        });
                        $("#ModelId").html(items);
                    }
                });
            });


            $("#ModelId").change(function () {
                var productId = $('#ProductId').val();
                var brnd = $('#BrandId').val();
                var mdl = $('#ModelId').val();

                $("#ddlProdSlNo").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAssetProductSerialNoForAssign")",
                    data: { productId: productId, Brand: brnd, Model: mdl },
                    datatype: "Json",
                    success: function (data) {
                        
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Model</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.Asset_Serial_No + '</option>');
                            //getAssetSerialNo(value.Asset_Serial_No);
                        });
                        $("#ddlProdSlNo").html(items);
                    }
                });
            });


            //Generate Serial Number
            function getAssetSerialNo(assetSl) {
                debugger;
                if (assetSl === "error") {
                    $('#assetSlViewDiv').removeClass('hide');
                    $('.alert').removeClass('alert-success').addClass('alert-error');
                    $('#headingAssetSl').text(' ' + assetSl + '! Network Error, Please Try Again!');
                } else {
                    var businessUnit = $("#BU_Id").val();
                    var department = $("#Dept_Id").val();
                    var product = $("#ProductId").val();
                    if (businessUnit === '' || department === '' || product === '') {
                        $('#assetSlViewDiv').removeClass('hide');
                        $('.alert').removeClass('alert-success').addClass('alert-error');
                        $('#headingAssetSl').text('Please Select BusinessUnit & Department!');
                    } else {
                        $('#assetSlViewDiv').removeClass('hide');
                        $('.alert').removeClass('alert-error').addClass('alert-success');
                        var assetSerialNo = businessUnit + '-' + department + '-' + product + '-' + assetSl;
                        alert(assetSerialNo);
                        $('#headingAssetSl').text(assetSerialNo);
                        $("#hidAssetSerialNo").val(assetSerialNo);
                    }
                }
            }

            $('#ddlProdSlNo').select2().on("select2-selecting", function (e) {

               
            }).on("change", function (e) {
                if (e.val !== "0") {
                    var serialNo = $("#ddlProdSlNo option:selected").text();;
                    //$('#hidAssetSerialNo').val(serialNo.trim());
                    $('#hidAssetSerialNo').val(serialNo.trim());

                    //getProductInfoForAssignByProdSlNo(e.val, tblviewallmodels);
                } else {
                    //
                }
            });
        });
    </script>






