﻿@using System.Web.UI.WebControls
@using Oss.Romo.Models.AssetManagement
@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductAssign

@{
    ViewBag.Title = "Asset Product Return Entry";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
}


<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Asset Return", "AssetReturnsToAnother", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Asset List", "ViewAllAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available asset List", "ViewAvailableAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Asset List", "ViewAssignedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Damaged List", "ViewDamagedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>

        </ul>
    </div>
</div>

@using (Html.BeginForm("AssetReturnsToAnother", "AssetManagement", FormMethod.Post, new { id = "formAssetProductReturnEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <div class="panel panel-default border-top border-blue" />

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="text-center">
                    <h4 style="font-weight: bold">Asset Return Info</h4>
                </div>
            </div>
            <div class="panel-body">
                @{
//var assignedAsset = ViewBag.AssignedAsset as Asset_ProductAssign;
                }
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Product: </label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.ProductName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Brand:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.BrandName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label font-size-12 text text-right">Model:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.ModelName</label>
                            </div>
                        </div>



                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Business Unit:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">Head Office</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Department:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.DeptName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Employee:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.EmpName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Asset Serial No:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.Asset_Serial_No</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-6 control-label text font-size-12 text-right">Assign Date:</label>
                            <div class="col-sm-6">
                                <label class="control-label font-size-11">@ViewBag.AssignedAsset.AssignDate</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />


                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row" id="addform">
                <div class="panel panel-default content-box border-top border-gray">
                    <div class="panel-heading">
                        <h3 class="panel-title">Asset Return Information</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("AssetReturnsToAnother", "AssetManagement", FormMethod.Post, new { id = "frmAddMeasurementUnit", data_server = "true", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            <input id="hidAction" type="hidden" name="action" value="Insert" />
                            <input id="SL" type="hidden" name="ID" value="" />
                            <input id="hidAssetProductInfoId" type="hidden" name="AssetProductInfoId" value="@ViewBag.AssignedAsset.AssetProductInfoId" />
                            <input id="hidEmployee" type="hidden" name="Asset_Serial_No" value="@ViewBag.AssignedAsset.Asset_Serial_No" />
                            <input id="hidEmployeeId" type="hidden" name="EmployeeId" value="@ViewBag.AssignedAsset.EmployeeId" />
                            <input id="hidLocation" type="hidden" name="LocationId" value="@ViewBag.AssignedAsset.Location_Id" />
                                <input id="hidBusinessUnit" type="hidden" name="BU_Id" value="@ViewBag.AssignedAsset.BU_Id" />
                                <input id="hidDept" type="hidden" name="BU_Id" value="@ViewBag.AssignedAsset.Dept_Id" />
                                <input id="hidDepartment" type="hidden" name="DepartmentName" />
                                <input id="hidProductId" type="hidden" name="ProductId" value="@ViewBag.AssignedAsset.ProductId" />
                                <input id="hidBrand" type="hidden" name="BrandId" value="@ViewBag.AssignedAsset.BrandId" />
                                <input id="hidMode" type="hidden" name="ModelId" value="@ViewBag.AssignedAsset.ModelId" />
                                <input id="hidToFromDeptName" type="hidden" name="ToFromDeptName" value="@ViewBag.AssignedAsset.ToFromDeptName" />
                                <input id="hidEntryBy" type="hidden" name="EntryBy" value="0" />

                                <div class="row">

                                    <div class="form-group">
                                        <label for="ReturnType" class="col-md-4">
                                            <span><i class="ion-star font-red"></i></span>Return Type:
                                        </label>
                                        <div class="col-md-6">
                                            <select id="ddlReturnType" class="form-control SerchingDropDown" data-placeholder="Select Return Type" data-fv-notempty="true" data-fv-notempty-message="Please Select Return Type" data-fv-trigger="blur" name="ReturnType">
                                                <option></option>
                                                <option value="0">Normal Return</option>
                                                <option value="1">Damage Return</option>
                                                <option value="2">Return For Maintenance</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="ddlDeptNew" class="col-md-4">
                                            <span><i class="ion-star font-red"></i></span>Return To Department:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Dept_Id", ViewBag.ListOfDepartments as SelectList, new { id = "ddlDeptNew", name = "Dept_Id", @class = "form-control SerchingDropDown ", data_placeholder = "Select Department", data_fv_trigger = "blur", data_fv_notempty = "true", data_fv_notempty_message = "Must Select Department" })
                                            @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="Location" class="col-md-4">
                                            Return Location:
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Location_Id", ViewBag.ListOfProductLocation as SelectList, new { id = "Location", name = "Location_Id", @class = "form-control SerchingDropDown ", data_placeholder = "Select Entry Location", data_fv_trigger = "blur" })
                                            @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.AssetReturnDate, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group date" data-datetimepicker-startdate="true">
                                                @Html.TextBoxFor(model => model.AssetReturnDate, new { @class = "calendarControl form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                @Html.ValidationMessageFor(model => model.AssetReturnDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="remarks" class="col-md-4">
                                                    Remarks:
                                                </label>
                                                <div class="col-md-6">
                                                    <textarea id="txtRemarks" name="Remarks" rows="4" cols="50" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="font-red">@ViewBag.Message</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" id="btnreturn" class="btn btn-primary btn-cstm btn-flat pull-right"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Return</button>
                                            </div>
                                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

                    }

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>

    <script>

        $(document).ready(function () {

            ////Date picker
            //$('[data-datetimepicker-startdate]').datetimepicker({
            //    //minDate: currentDate,
            //    format: 'MM-DD-YYYY'
            //    //format: 'YYYY-MM-DD'
            //}).on('dp.change', function (ev) {
            //    // $('#date-daily').change();
            //    var date = ev.date._d;
            //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
            //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
            //    var stdate = moment(date).format('MM/DD/YYYY');
            //    //$("#hidStartdate").val(stdate);
            //    var elemId = $(this).attr('data-startdate-model');
            //    $("#" + elemId).val(stdate);
            //});


            $(document).on('click', '#btnassetassignentry', function (e) {
                $("#formAssetProductReturnEntry").submit();
            });

            //$('.SerchingDropDown').select2();
            //$("select").on("select2:close", function (e) {
            //    $(this).valid();
            //});
        });
    </script>

