﻿@using System.Web.UI.WebControls
@using Oss.Romo.Models.AssetManagement

@model Oss.Romo.ViewModels.AssetManagement.VM_AssetReturnedHistory

@{
    ViewBag.Title = "AssetReturnEntry";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString().ToLower();
    var actionName = this.Context.Request.RequestContext.RouteData.GetRequiredString("action").ToLower();
}
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/css/buttons.bootstrap.min.css")
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
@Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Asset Return Entry", "AssetProductReturnEntry", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Asset List", "ViewAllAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available asset List", "ViewAvailableAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Asset List", "ViewAssignedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Damaged List", "ViewDamagedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>
        </ul>
    </div>
</div>

@using (Html.BeginForm("AssetProductReturnEntry", "AssetManagement", FormMethod.Post, new { id = "formAssetProductReturnEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <div class="panel panel-default border-top border-blue">

        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Return Info</h4>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitall as SelectList,"Select BusinessUnit", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartmentsHeadOffice as SelectList,"Select Dept", new { id= "Dept_Id", @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.EmployeeId, new SelectList(string.Empty, "Value", "Text"), "Select Employee",
                                     new { @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="col-md-10">
                        <div id="viewform">
                            <div class="col-md-12 mrg10T">
                                <div class="table-responsive overflow-auto">
                                    <table id="tblviewallProductOfEmployee" class="table table-hover table-responsive table-bordered nowrap font-black ">
                                        <thead>
                                            <tr>
                                                <th>Asset Tag No</th>
                                                <th>Product</th>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-1">
                    </div>
                    <br />

                </div>
            </div>
        </div>

    </div>

}

    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@

    <script>

        $(document).ready(function () {
            $(document).on('click', '#btnassetassignentry', function (e) {
                $("#formAssetProductReturnEntry").submit();
            });
            /*
           This is used for cascding dropdown. Which will change upon Department. If Department is selected
           then the Employee will appear according to selected Department
           */

        $("#Dept_Id").change(function () {
            var bunit = $('#BU_Id').val();
            var dept = $('#Dept_Id').val();
            $("#EmployeeId").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetEmployeeByDepartmentJson")",
                    datatype: "Json",
                    data: { bunit: bunit, dept: dept },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Dept.</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.Name + '</option>');
                        });
                        $("#EmployeeId").html(items);
                    }
                });
            });


        $("#EmployeeId").change(function () {
                var bunit = $('#BU_Id').val();
                var dept = $('#Dept_Id').val();
                var emp = $('#EmployeeId').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetProductInfoByBUnitDeptEmpJson")",
                    datatype: "Json",
                    data: { Bunit: bunit, Department: dept, Employee: emp },
                    success: function (data) {
                        var newOptions = data.lstList;
                        if (newOptions.length <= 0) {
                            tblviewallProductOfEmployee.clear().draw();
                        } else {
                            tblviewallProductOfEmployee.clear().draw();

                            for (var i = 0; i < newOptions.length; i++)
                            {
                                tblviewallProductOfEmployee.row.add([newOptions[i].Asset_Serial_No, newOptions[i].ProductName, newOptions[i].BrandName, newOptions[i].ModelName,  newOptions[i].ActionButtonsHtmlUser]).draw(false);
                                $("#btnastrtn" + newOptions[i].ID).tooltip('fixTitle');
                            }
                        }
                    },
                });
            });
        });

        var tblviewallProductOfEmployee = $('#tblviewallProductOfEmployee').DataTable({

            "order": [],
            "language": {
                searchPlaceholder: "Search ....."
            },
            "responsive": true//,
        });


    </script>




