﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductInfo

@{
    ViewBag.Title = "AssetInfoEntry";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Asset Information Entry", "AssetProductEntry", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View All Asset List", "ViewAllAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Available Asset List", "ViewAvailableAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("View Assigned Asset List", "ViewAssignedAssetInfoList", "AssetManagement", new { @class = "elements" }, null)</li>
            @*<li class="">@Html.ActionLink("View Damaged Asset List", "ViewDamagedAssetList", "AssetManagement", new { @class = "elements" }, null)</li>*@
            <li class="">@Html.ActionLink("Asset Product", "ViewAssetProductList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Asset Brand", "ViewAssetProductBrandList", "AssetManagement", new { @class = "elements" }, null)</li>
            <li class="">@Html.ActionLink("Asset Model", "ViewAssetProductModelList", "AssetManagement", new { @class = "elements" }, null)</li>

        </ul>
    </div>
</div>

@using (Html.BeginForm("AssetInfoEntry", "AssetManagement", FormMethod.Post, new { id = "formAssetProductEntry", data_server = "true", enctype = "multipart/form-data" }))
            {
    <input id="hidAssetSerialNo" type="hidden" name="Asset_Serial_No" value="" />
    <input id="hidProduct" type="hidden" name="ProductName" />
    <input id="hidBusinessUnit" type="hidden" name="BusinessName" value="HO" />
    <input id="hidDepartment" type="hidden" name="DeptName" />

    <div class="panel panel-default border-top border-blue">

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Information Entry</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitall as SelectList, "Select Business Unit", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />

                    @*<div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Unit_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Unit_Id, ViewBag.GetUnitList as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                    @Html.ValidationMessageFor(model => model.Unit_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@


                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartment as SelectList, "Select Dept.", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    @*<div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.EmployeeId, ViewBag.ListOfEmployee as SelectList, new { @class = "form-control dropdown SerchingDropDown" })
                                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ProductId, ViewBag.AssetProduct as SelectList, "Select Product", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row hide" id="assetSlViewDiv">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="text-center alert" id="assetSlAlert">
                                    <strong>Asset Tag No:</strong><span class="badge font-size-16" id="headingAssetSl"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <input type="text" name="listDepriciatiionc" id="listDepriciatiion" style="display: none" />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Depreciation History</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @*<div class="col-md-3">
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    onclick="addPercentage();">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>

                            <button type="button" class="btn btn-default" aria-label="right Align"
                                    onclick="removePercentage();">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input type="email" class="form-control" id="depriciationPercentage" placeholder="Depriciation Percentage">
                            </div>
                        </div>*@
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <table class="table table-bordered" id="depriciationTable">
                                <thead>
                                    <tr>
                                        <td>
                                            Year
                                        </td>
                                        <td>
                                            Percentage
                                        </td>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Asset Product Details</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.BrandId, new SelectList(string.Empty, "Value", "Text"), "Select Brand", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.ModelId, new SelectList(string.Empty, "Value", "Text"), "Select Model",
                                 new { @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="txtAssetSerialNumber" class="col-md-4">
                                Product SL No:
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Product_SL_No, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Product_SL_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AssetConfiguration, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.AssetConfiguration, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AssetConfiguration, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.PurchaseDate, new { @class = "calendarControl form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label for="IsWarranty" class="col-md-4">
                                Warranty:
                            </label>
                            <div class="col-md-8">
                                @*<div class="btn-group" id="status">
                                    <label class="btn btn-default btn-on-3 btn-sm">
                                        <input type="radio" id="chkYes" value="true" name="IsWarranty">YES
                                    </label>
                                    <label class="btn btn-default btn-off-3 btn-sm active ">
                                        <input type="radio" id="chkNo" value="false" name="IsWarranty">NO
                                    </label>
                                </div>*@
                                <input class='tgl tgl-flip' id='cb5' type='checkbox' name="IsWarranty">
                                <label class='tgl-btn' data-tg-off='Nope' data-tg-on='Yeah!' for='cb5'></label>
                            </div>
                          
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.LifeTime, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.LifeTime, ViewBag.GetLifeTime as SelectList, new { id ="btnLifeTime", @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.LifeTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br/>

                    @*<div class="row" id="warranty" style="display:none">
                            <div class="form-group">
                                <label for="txtWarrantyDate" class="col-md-4">
                                    Warranty Expired Date
                                </label>
                                <div class="col-md-8">
                                    <div class="input-group date" data-datetimepicker-new-noresitrictionforworkprogress-next="true">
                                        <input type="text" id="txtWarrantyDate" placeholder="YYYY-MM-DD" name="WarrantyDate" required class="form-control" data-fv-notempty="true" data-fv-notempty-message="Warranty Date is required!!" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="row" id="warranty" style="display:none">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.WarrantryDate, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                <div class="input-group date" data-datetimepicker-startdate="true">
                                    @Html.TextBoxFor(model => model.WarrantryDate, new { @class = "calendarControl form-control" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*@Html.ValidationMessageFor(model => model.AssignDate, "", new { @class = "text-danger" })*@
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.VendorId, ViewBag.ListOfVendor as SelectList, "Select Vendor", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Location_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Location_Id, ViewBag.ListOfProductLocation as SelectList, "Select Location", new { @class = "form-control dropdown SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <input type="submit" value="Save" id="btnassetentry" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>*@
    @*<script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>*@


<script>
 
    $(document).ready(function () {
        $("input[type='checkbox']").click(function (e) {
            if ($(this).is(':checked')) {
                $("#warranty").show();
            } else {
                $("#warranty").hide();
            }
        });
        //Adding not to the query selector only selects input's without the *dont-style* class
       
        ////Date picker
        ////$('#DOB').datepicker();
        //$('[data-datetimepicker-startdate]').datetimepicker({
        //    //minDate: currentDate,
        //    format: 'MM-DD-YYYY'
        //    //format: 'YYYY-MM-DD'
        //}).on('dp.change', function (ev) {
        //    // $('#date-daily').change();
        //    var date = ev.date._d;
        //    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
        //    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
        //    var stdate = moment(date).format('MM/DD/YYYY');
        //    //$("#hidStartdate").val(stdate);
        //    var elemId = $(this).attr('data-startdate-model');
        //    $("#" + elemId).val(stdate);
        //});

        /*
         This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
         then the Units will appear according to selected Busines Unit.
         */
        $("#BU_Id").change(function () {

            $("#Unit_Id").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetUnitList")",
                datatype: "Json",
                data: { bUnitId: $("#BU_Id").val() },
                success: function (data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Unit</option>";
                    $.each(data, function (index, value) {
                        items += ('<option value="' + value.ID + '">'
                            + value.UnitName + '</option>');
                    });
                    $("#Unit_Id").html(items);
                }
            });
        });

        /*
      This is used for cascding dropdown. Which will change upon Brand. If Product is selected
      then the Brand will appear according to selected Product
      */

        $("#ProductId").change(function () {

            $("#BrandId").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetBrandListByProduct")",
                datatype: "Json",
                data: { productID: $("#ProductId").val() },
                success: function (data) {
                    var assetSl = data.assetSerialNo;
                    var brandList = data.list;
                    var sl = getAssetSerialNo(assetSl); //Generate Serial Number
                    $("#headingAssetSl").html(sl);
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Product</option>";
                    $.each(brandList, function (index, value) {
                        items += ('<option value="' + value.ID + '">'
                            + value.BrandName + '</option>');
                    });
                    $("#BrandId").html(items);

                }
            });
        });


        /*
         This is used for cascding dropdown. Which will change upon Brand. If Brand is selected
         then the Model will appear according to selected Brand
         */
        $("#BrandId").change(function () {

            $("#ModelId").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetModelByBrand")",
                datatype: "Json",
                data: { brandId: $("#BrandId").val() },
                success: function (data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Brand</option>";
                    $.each(data, function (index, value) {
                        items += ('<option value="' + value.ID + '">'
                            + value.ModelName + '</option>');
                    });
                    $("#ModelId").html(items);
                }
            });
        });


        //Generate Serial Number
        function getAssetSerialNo(assetSl) {
            debugger;
            if (assetSl === "error") {
                $('#assetSlViewDiv').removeClass('hide');
                $('.alert').removeClass('alert-success').addClass('alert-error');
                $('#headingAssetSl').text(' ' + assetSl + '! Network Error, Please Try Again!');
            } else {
                var businessUnit = $("#BU_Id").val();
                var department = $("#Dept_Id").val();
                var product = $("#ProductId").val();
                if (businessUnit === '' || department === '' || product === '') {
                    $('#assetSlViewDiv').removeClass('hide');
                    $('.alert').removeClass('alert-success').addClass('alert-error');
                    $('#headingAssetSl').text('Please Select BusinessUnit & Department!');
                } else {
                    $('#assetSlViewDiv').removeClass('hide');
                    $('.alert').removeClass('alert-error').addClass('alert-success');
                    //var assetSerialNo = businessUnit + '-' + department + '-' + product + '-' + assetSl;
                    var assetSerialNo = assetSl;
                    $('#headingAssetSl').text(assetSerialNo);
                    $("#hidAssetSerialNo").val(assetSerialNo);
                }
            }
        }


    })
    //$(document).ready(function () {

    //    //hide warenty div initially
    //    $('#warranty').hide();

    //    $("input[name='IsWarranty']:radio").change(function () {
    //        alert("Test");

    //        if ($("#chkYes").is(":checked")) {
    //            $("#warranty").show();
    //        }
    //        else if ($("#chkNo").is(":checked")) {
    //            $("#warranty").hide();
    //        }
    //        else {
    //            $("#warranty").hide();
    //        }
    //    });
    //});



    var perentare = [];

        
    $(document).ready(function () {
            

        $('#btnLifeTime').on('change', function () {
                    
            var yy = $('#btnLifeTime').val();
            $("#depriciationTable tbody").empty();
            var rowstring = '';
            for (var i = 1; i <= yy; i++) {
                rowstring += '<tr><td>' + i + '  Year' + '</td> <td> <input type="text" id="txtpercentage'+i+'" data-id="'+i+'" class="txtpercentage" value="20">%</td></tr>';
                perentare.push({ prtnge: 20, year: i });
                //$('#depriciationTable tbody').append('<tr><td></td></tr>');
                       
            }
            $('#depriciationTable tbody').append(rowstring);
            $('#listDepriciatiion').val(JSON.stringify(perentare));
            //tbaleshowPercentage();
            //console.log(perentare);
        });

        $(document).on('change','.txtpercentage', function () {
            var id=$(this).attr('data-id');

            perentare = [];
            var per_number = $(".txtpercentage");
                
            for (var i = 0; i < per_number.length;i++){
                //console.log($(per_number[i]).val());
                perentare.push({ prtnge: $(per_number[i]).val(), year: ++i });
                i--;
                console.log(perentare);
                $('#listDepriciatiion').val(JSON.stringify(perentare));
            }
        });

        function addPercentage() {
            var prtnge = $('#depriciationPercentage').val();
            if (prtnge !== "") {
                var year = perentare.length + 1;
                perentare.push({ prtnge: prtnge, year: year });
                $('#depriciationPercentage').val("");
                $('#depriciationPercentage').focus();
                //alert(JSON.stringify(perentare));
                tbaleshowPercentage();
            } else {
                $('#depriciationPercentage').focus();
            }
        }

        function removePercentage() {
            perentare.pop();
            tbaleshowPercentage();
        }

        function tbaleshowPercentage() {
            $("#depriciationTable tbody").empty();
            $('#listDepriciatiion').val(JSON.stringify(perentare));
            //var apnddata = "";
            //for (var i = 0; i < perentare.length; i++) {
            //    apnddata += "<tr><td>" + perentare[i]["year"] + " Year</td><td>" + perentare[i]["prtnge"] + " %</td></tr>";

            //}
            //$("#depriciationTable tbody").append(apnddata);
        }

    });


</script>
