﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AseetReporting

@{
    ViewBag.Title = "GetAssetReportByDeptAndEmp";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString().ToLower();
    var actionName = this.Context.Request.RequestContext.RouteData.GetRequiredString("action").ToLower();
}


@using (Html.BeginForm("GetAssetTrackingReport", "AssetManagement", FormMethod.Post, new { id = "formAssetProductReturnEntry", data_server = "true", enctype = "multipart/form-data" }))

{
    <div class="panel panel-default content-box border-top border-blue">
        <div class="panel-heading">
            <h3 class="panel-title">Asset Tracking Report</h3>
        </div>
        <div class="panel-body">
            <div id="divreportone" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form id="frmAssteTrackingOne">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <h4 style="font-weight: bold">Asset Tracking By Product</h4>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.CategoryId, ViewBag.ListOfCategory as SelectList, new { @class = "form-control dropdown myselect2", data_placeholder = "Select Category" })
                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.SubCategoryId, ViewBag.ListOfSubCategory as SelectList, new { @class = "form-control dropdown myselect2", data_placeholder = "Select Sub Category" })
                                            @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.ProductId, ViewBag.ListOfProduct as SelectList, new { @class = "form-control dropdown myselect2", data_placeholder = "Select Product" })
                                            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-md-12 mrg25T">
                <table id="tblAssetTrackingData" class="table table-hover table-responsive table-bordered font-black nowrap yui-dt-scrollable yui-dt-bd">
                    <thead>
                        <tr>
                            <th>Asset Serial No</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Product</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


}







@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $(document).on('click', '#btnassetassignentry', function (e) {
                $("#formAssetProductReturnEntry").submit();
            });
        });


        $("#ProductId").change(function () {
            var bunit = $('#CategoryId').val();
            var dept = $('#SubCategoryId').val();
            var emp = $('#ProductId').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetReportByProductJson")",
                datatype: "Json",
                data: { Category: cat, SubCategory: subcat, Product: pdt },
                success: function (data) {
                    var newOptions = data.lstList;
                    if (newOptions.length <= 0) {
                        tblviewallProductOfEmployee.clear().draw();
                    } else {
                        tblviewallProductOfEmployee.clear().draw();

                        for (var i = 0; i < newOptions.length; i++) {
                            tblviewallProductOfEmployee.row.add([newOptions[i].Asset_Serial_No, newOptions[i].CategoryName, newOptions[i].SubCategoryName, newOptions[i].ProductName]).draw(false);
                        }
                    }
                },
            });
        });
        var tblAssetTrackingData = $("#tblAssetTrackingData").DataTable({
            "order": [[0, "asc"]],
            "language": {
                searchPlaceholder: "Search in report..."
            },
            "columnDefs": [
                {
                    //width: "35%",
                    "targets": [0],
                    "sortable": true
                }
            ],
            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
            //<"pull-left"l><"pull-right"T><"clearfix"><"pull-left"i><"pull-right"f><"clearfix">rt<"pull-right"p><"clearfix">
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy'
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>&nbsp;Export To Pdf'
                },
                //'copyHtml5',
                //'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5',
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print All Records',
                    autoPrint: true
                }
            ],
            "responsive": true
        });

    </script>
}