﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AseetReporting

@{
    ViewBag.Title = "GetAssetReportByDeptAndEmp";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString().ToLower();
    var actionName = this.Context.Request.RequestContext.RouteData.GetRequiredString("action").ToLower();
}
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/css/buttons.bootstrap.min.css")
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
@Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")

@using (Html.BeginForm("GetAssetReportByDeptAndEmp", "AssetManagement", FormMethod.Post, new { id = "formAssetProductReturnEntry", data_server = "true", enctype = "multipart/form-data" }))

{
    <div class="panel panel-default border-top border-blue">

        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="text-center">
                        <h4 style="font-weight: bold">Department and Employwise Asset Reports</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="panel-body">
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BU_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitall as SelectList, "Select BusinessUnit", new { @class = "form-control dropdown myselect2", data_placeholder = "Select Business Unit"})
                                        @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dept_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.Dept_Id, ViewBag.ListOfDepartments as SelectList, "Select Department", new { @class = "form-control dropdown myselect2" , data_placeholder = "Select Department", })
                                        @Html.ValidationMessageFor(model => model.Dept_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.ListOfEmployee as SelectList,"Select Employee", new { @class = "form-control myselect2", data_placeholder = "Select Employee"})
                                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div id="viewform">

                            <div class="col-sm-12">
                                <div class="table-responsive overflow-auto">
                                    <table id="tblviewallProductOfEmployee" class="table table-hover table-responsive table-bordered nowrap font-black ">
                                        <thead>
                                            <tr>
                                                <th>Asset Serial No</th>
                                                <th>Product</th>
                                                <th>Brand</th>
                                                <th>Model</th>
                                                <th>Department</th>
                                                <th>Employee</th>
                                                @*<th>Purchase date</th>
                                                    <th>Assigned date</th>
                                                    <th>Return date</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    @Scripts.Render("~/bundles/jqueryval")
    <script>


        $(document).ready(function () {
            $(document).on('click', '#btnassetassignentry', function (e) {
                $("#formAssetProductReturnEntry").submit();
            });
           
        @*$("#BU_Id").change(function () {
            alert();
            $("#Dept_Id").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetProductInfoByBUnitDeptEmpJson")",
                datatype: "Json",
                data: { bUnitId: $("#BU_Id").val() },
                success: function (data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please select Business Unit</option>";
                    $.each(data, function (index, value) {
                        items += ('<option value="' + value.ID + '">'
                            + value.Name  + '</option>');
                    });
                    $("#Dept_Id").html(items);
                }
            });
        });*@

        $("#Dept_Id").change(function () {
            var bunit = $('#BU_Id').val();
            var dept = $('#Dept_Id').val();
            $("#EmployeeId").empty();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetEmployeeByDepartmentJson")",
                datatype: "Json",
                data: { bunit: bunit, dept: dept },
                success: function (data) {
                    var items = "";
                    items += "<option value = '' disabled selected>Please Select Employee</option>";
                    $.each(data, function (index, value) {
                        items += ('<option value="' + value.ID + '">'
                            + value.Name + '</option>');
                    });
                    $("#EmployeeId").html(items);
                }
            });
        });


        $("#EmployeeId").change(function () {
            var bunit = $('#BU_Id').val();
            var dept = $('#Dept_Id').val();
            var emp = $('#EmployeeId').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetReportByBUnitDeptEmpJson")",
                datatype: "Json",
                data: { Bunit: bunit, Department: dept, Employee: emp },
                success: function (data) {
                    var newOptions = data.lstList;
                    if (newOptions.length <= 0) {
                        tblviewallProductOfEmployee.clear().draw();
                    } else {
                        tblviewallProductOfEmployee.clear().draw();

                        for (var i = 0; i < newOptions.length; i++)
                        {
                            tblviewallProductOfEmployee.row.add([newOptions[i].Asset_Serial_No, newOptions[i].ProductName, newOptions[i].BrandName, newOptions[i].ModelName, newOptions[i].DepartmentName, newOptions[i].EmployeeName]).draw(false);
                        }
                    }
                },
            });
        });

        var tblviewallProductOfEmployee =  $('#tblviewallProductOfEmployee').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                //<"pull-left"l><"pull-right"T><"clearfix"><"pull-left"i><"pull-right"f><"clearfix">rt<"pull-right"p><"clearfix">
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                    orientation: 'landscape',
                    exportOptions: {
                        //columns: [0,1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel',
                    orientation: 'landscape',
                    exportOptions: {
                        //columns: [0,1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>&nbsp;Export To Pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        //columns: [0,1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                //'copyHtml5',
                //'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5',
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print All Records',
                    orientation: 'landscape',
                    autoPrint: true,
                    exportOptions: {
                        //columns: [0,1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            "responsive": true
        });
        });
    </script>


