﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductAssign
@{
    ViewBag.Title = "View Assigned Asset List";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">View Assigned Asset List</h3>
    </div>
    <div class="panel-body">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Assigned Asset List
                </li> 
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-hover table-responsive table-bordered nowrap font-black">

                    <thead>
                        <tr>
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asset_Serial_No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModelName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AssignDate)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.DeptName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpName)
                            </th>

                        </tr>

                    </thead>

                    <tbody id="assetProductList">
                        @foreach (var item in Model.listasset)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asset_Serial_No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssignDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DeptName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpName)
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#tblViewAllAssetList').DataTable({
            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>&nbsp;Export To Pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                //'copyHtml5',
                //'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5',
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print All Records',
                    orientation: 'landscape',
                    autoPrint: true,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            "responsive": true
        });
    </script>