﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductInfo

@{
    ViewBag.Title = "ViewAllAssetProductList";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">View All Asset List</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h3>
                Add Asset:
                &nbsp;&nbsp;
                (&nbsp; <a href="AssetProductEntry" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h3>

            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Asset Product
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="tblViewAllAssetList" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>


                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset_Serial_No)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModelName)
                        </th>

                        @*<th>
                                    @Html.DisplayNameFor(model => model.PurchaseDate)
                                </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VendorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeptName)
                        </th>
                        @*<th>
                                    @Html.DisplayNameFor(model => model.EmployeeId)
                                </th>*@
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>

                    @foreach (var item in Model.listasset)
                    {
                        <tr>
                            <td><b>@(++Sl).</b></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Asset_Serial_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelName)
                            </td>

                            @*<td>
                                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeptName)
                            </td>
                            @*<td>
                                        @Html.DisplayFor(modelItem => item.EmployeeId)
                                    </td>*@
                            <td>
                                @Html.ActionLink(".", "EditAssetProductInfo", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                @Html.ActionLink(".", "DeleteAssetProductInfo", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                            </td>

                        </tr>

                    }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#tblViewAllAssetList').DataTable({
            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>&nbsp;Export To Pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                //'copyHtml5',
                //'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5',
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print All Records',
                    orientation: 'landscape',
                    autoPrint: true,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            "responsive": true
        });



    </script>