﻿@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductBrand
@{
    ViewBag.Title = "ViewAssetProductBrandList";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Accessories Product Brand</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add Accessories Brand:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddAccessoriesProductBrand" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/AssetManagement/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Accessories Brand Information
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="tblViewAllAssetList" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <thead>
                        <tr>
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandName)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                    </thead>

                    
                    @foreach (var item in Model.DataList)
                    {
                        
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandName)
                                </td>

                                <td>
                                    @Html.ActionLink(".", "EditAccessoriesProductBrand", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "DeleteAccessoriesProductBrand", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                </td>

                            </tr>
                        

                        
                    }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var url = "";


            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 350,
                width: 440,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar").html("Accessories Brand: Add New Brand <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar").html("Accessories Brand: Update This Brand.<button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            })

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Accessories Brand: Delete This Brand.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            })

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            })

        });

        
        $('#tblViewAllAssetList').DataTable({
            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Export To Excel',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>&nbsp;Export To Pdf',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                //'copyHtml5',
                //'excelHtml5',
                //'csvHtml5',
                //'pdfHtml5',
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print All Records',
                    orientation: 'landscape',
                    autoPrint: true,
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                }
            ],
            "responsive": true
        });
    </script>
}



