﻿@using Oss.Romo.ViewModels.AssetManagement
@model Oss.Romo.ViewModels.AssetManagement.VM_AssetVendorInfo

@{
    ViewBag.Title = "ViewAssetVendorList";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Asset Vendor Info</h3>
    </div>
    <div class="panel-body">
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
            <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

        </div>
        <section class="content-header">
            <h1>
                Add Asset Vendor:
                &nbsp;&nbsp;
                (&nbsp; <a href="AddAssetVendorInfo" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
            </h1>

            <ol class="breadcrumb">
                <li><a href="~/AssetManagement/Index"><i class="fa fa-dashboard"></i> Home </a></li>
                <li class="active">
                    Asset Vendor Info
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-hover table-responsive table-bordered nowrap font-black">
                    <tr>
                        <th>
                            SL
                        </th>
                        <th>
                            VendorName
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            ContactPersonName
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Phone
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>
                    @foreach (var item in (List<VM_AssetVendorInfo>)Model.DataListAssetVendorInfo)
                    {
                        <tr>
                            <td><b>@(++Sl).</b></td>
                            <th>
                                @item.VendorName
                            </th>
                            <th>
                                @item.Address
                            </th>
                            <th>
                                @item.ContactPersonName
                            </th>
                            <th>
                                @item.Designation
                            </th>
                            <th>
                                @item.Phone
                            </th>

                            <td>
                                @Html.ActionLink(".", "EditAssetVendorInfo", new { id = item.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;

                                @Html.ActionLink(".", "DeleteAssetVendorInfo", new { id = item.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                            </td>

                        </tr>

                    }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

    @Scripts.Render("~/bundles/jqueryval")
    <script>


        $(document).ready(function () {
            var url = "";
            $("#dialog-edit").dialog({
                autoOpen: false,
                resizable: false,
                height: 400,
                width: 550,
                show: { effect: 'left', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).load(url);
                }
            });

            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();

                },
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location.href = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });


            $("#lnkCreate").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                    "Asset Vendor: Add New Vendor Info  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkEdit").click(function (e) {
                $(".ui-dialog-titlebar")
                    .html(
                    "Asset Vendor: Update This Vendor Info.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
                url = $(this).attr('href');
                $("#dialog-edit").dialog('open');
                $("#LoadingBar").show();

                return false;
            });

            $(".lnkDelete").click(function (e) {
                $(".ui-dialog-titlebar").html("Asset Vendor: Delete This Asset Vendor Info.");
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Delete");
                $("#dialog-confirm").dialog('open');

                return false;
            });

            $(".btncancel").click(function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });

        });
    </script>









