﻿
@model Oss.Romo.ViewModels.AssetManagement.VM_AssetProductAssign
@{
    ViewBag.Title = "View Damaged Asset List";
    Layout = "~/Views/Shared/_LayoutAsset.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">View Damaged Asset List</h3>
    </div>
    <div class="panel-body">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="~/HRMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">
                    Damaged Asset List
                </li>
            </ol>
        </section>
        <div class="row">
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-hover table-responsive table-bordered nowrap font-black">

                    <thead>
                        <tr>
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asset_Serial_No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BrandName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModelName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AssetReturnDate)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.DeptName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmpName)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                    </thead>

                    <tbody id="assetProductList">
                        @foreach (var item in Model.listasset)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asset_Serial_No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AssetReturnDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DeptName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpName)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "DisposeAssetProduct", new { id = item.AssetProductInfoId }, new { @class = "lnkDelete glyphicon glyphicon-trash" }) &nbsp;
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

