﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Buyer Order Production Details</h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="custom1" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Buyer</th>
                            <th>PO NO</th>
                            <th>Style</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>OrderQty</th>
                            <th>TotalCutting</th>
                            <th>Line</th>
                            <th>DaySewing</th>
                            <th>TotalSewing</th>
                            <th>SewingBalance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.BuyerName)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Item)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.ColorName)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCutting)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.LineName)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.DaySewing)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.TotalSewing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SewingBalance)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#custom1').DataTable({
            //sDom: '<"pull-left mrg25B"B><"pull-right"f>rtip',
            dom: 'lBfrtip',
            buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                footer: true
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                footer: true
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                footer: true
                            }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                pendingtotal = api.column(6).data().reduce(function (a, b) {return intval(a) + intval(b);}, 0);
                pendingpageTotal = api.column(6, { page: 'current' }).data().reduce(function (a, b) {return intval(a) + intval(b);}, 0);
                $(api.column(6).footer()).html('' + pendingpageTotal + '(' + pendingtotal + ')');
                pendingpo = pendingtotal;
                total = api.column(7).data().reduce(function (a, b) { return intval(a) + intval(b);}, 0);
                pageTotal = api.column(7, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b);}, 0);
                $(api.column(7).footer()).html('' + pageTotal + '(' + total + ')');
                
                total = api.column(9).data().reduce(function (a, b) { return intval(a) + intval(b);}, 0);
                pageTotal = api.column(9, { page: 'current' }).data().reduce(function (a, b) {return intval(a) + intval(b);}, 0);
                $(api.column(9).footer()).html('' + pageTotal + '(' + total + ')');
                invoicedtotal = api.column(10).data().reduce(function (a, b) {return intval(a) + intval(b);}, 0);
                invoicedpageTotal = api.column(10, { page: 'current' }).data().reduce(function (a, b) {return intval(a) + intval(b);}, 0);
                $(api.column(10).footer()).html('' + invoicedpageTotal + '(' + invoicedtotal + ')');
                invoicedtotal = api.column(11).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                invoicedpageTotal = api.column(11, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(11).footer()).html('' + invoicedpageTotal + '(' + invoicedtotal + ')');
            }

        });
    });

</script>