﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    ViewBag.Title = "DailyCutting";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Daily Production [Cutting]
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Daily Cutting</li>
    </ol>
</section>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="custom1" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Order</th>
                            <th>Item</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>ExtraRate</th>
                            <th>ExtraQty</th>
                            <th>TotalQty</th>
                            <th>TodayCutting</th>
                            <th>CuttingWeight</th>
                            <th>TotalCutting</th>
                            <th>TotalWeight</th>
                            <th>Balance</th>
                            <th>MarkerLength</th>
                            <th>MarkerWidth</th>
                            <th>LayerWeight</th>
                            <th>MarkerPic</th>
                            <th>Consumption</th>
                            <th>GSM</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExtraRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExtraQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalTarget)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DayCutting)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DayCuttingWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCutting)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BalanceQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MarkerLength)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MarkerWidth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LayerWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MarkerPic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuttingConsumption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GSM)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#custom1').DataTable({
            sDom: 'l<"pull-left"B><"pull-right"f>rtip',
            //dom: 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5',
                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                orientation: 'landscape',
                footer: true
                //exportOptions: {
                //columns: [0, 1, 2, 3, 4, 5]
                //}
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                    orientation: 'landscape',
                    footer: true
                    //exportOptions: {
                    //columns: [0, 1, 2, 3, 4, 5]
                    //}
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    orientation: 'landscape',
                    autoPrint: true,
                    footer: true
                }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                paidtotal = api.column(5).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                paidpageTotal = api.column(5, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(5).footer()).html('' + paidpageTotal + '(' + paidtotal + ')');

                pendingtotal = api.column(6).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pendingpageTotal = api.column(6, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(6).footer()).html('' + pendingpageTotal + '(' + pendingtotal + ')');

                total = api.column(7).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(7, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(7).footer()).html('' + pageTotal + '(' + total + ')');

                invoicedtotal = api.column(8).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                invoicedpageTotal = api.column(8, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(8).footer()).html('' + invoicedpageTotal + '(' + invoicedtotal + ')');

                total = api.column(9).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(9, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(9).footer()).html('' + pageTotal + '(' + total + ')');

                t1 = api.column(10).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                t2 = api.column(10, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(10).footer()).html('' + t2.toFixed(2) + '(' + t1.toFixed(2) + ')');

                t3 = api.column(11).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                t4 = api.column(11, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(11).footer()).html('' + t4.toFixed(2) + '(' + t3.toFixed(2) + ')');

                t5 = api.column(12).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                t6 = api.column(12, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(12).footer()).html('' + t6.toFixed(2) + '(' + t5.toFixed(2) + ')');

                t7 = api.column(13).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                t8 = api.column(13, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(13).footer()).html('' + t8 + '(' + t7 + ')');

            }
        });
    });
</script>