﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    Layout = "";
    ViewBag.Title = "HourlyReport";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<!DOCTYPE html>

<html id="loadPage">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hourly Production Report</title>
    <style type="text/css">
        h4 {
            padding-top:5px;
            font-size:25px;
        }
        .bg-red {
            background-color:lightblue;
            
        }
        .trclass {
            border: 1px solid #000;
            font-size: 10px;
            font-weight: 700;
        }

        #page {
            background-color: #fff;
            /*width: 950px;*/
            /*margin: 50px auto;*/
            padding: 0 30px;
            font-size: 10px;
        }
        .center {
            text-align:center;
        }
        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div id="page">
            <div style="min-height: 900px;">

                @*-----------------Report Header-----------------*@

                @*<div class="text-center">
                    <div class="row">
                        <h3>
                            <span style="float: left">
                                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                            </span>
                            <span style="float: right; color: #AA57FF">
                                <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                            </span>
                        </h3>
                    </div>
                </div>*@
                @*<div class="text-center">
                    <div class="from-group">
                        <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                            Print
                        </span>
                    </div>
                    <div class="form-group">
                        <center><h2><b></b></h2> </center>
                    </div>
                </div>
                <br />*@

                <div style="width: 100%;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-default">
                                <div class="box-header">
                                    <div class="row">
                                        <div class="col-md-4"><h4 class="box-title">Hourly Production Report</h4></div>
                                        <div class="col-md-5"><h4 class="box-title">Date : @Model.ProductionDate</h4></div>
                                        <div class="col-md-3">
                                            <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                                                Print
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead class="bg-red">
                                                <tr class="trclass">
                                                    @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                                    {
                                                        <th class="center">@col.Caption</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow dr in (ViewData["ProductionData"] as System.Data.DataTable).Rows)
                                                {
                                                    <tr class="trclass">
                                                        @foreach (var cell in dr.ItemArray)
                                                        {
                                                            <td class="center">@cell.ToString()</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                
                                <div class="info-box-content">
                                    <table class="table table-striped">
                                        <thead class="bg-red">
                                            <tr class="trclass">
                                                <th>Line</th>
                                                <th>OrderPO</th>
                                                <th>Style</th>
                                                <th>SMV</th>
                                                <th>TargetQty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var v in Model.DataList)
                                            {
                                                <tr class="trclass">
                                                    <td>@Html.DisplayFor(i => v.LineName)</td>
                                                    <td>@Html.DisplayFor(i => v.OrderNo)</td>
                                                    <td>@Html.DisplayFor(i => v.Style)</td>
                                                    <td>@Html.DisplayFor(i => v.SMV)</td>
                                                    <td>@Html.DisplayFor(i => v.TotalTarget)</td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

