﻿@model Oss.Romo.ViewModels.Planning.VmPlanReport
@{
    ViewBag.Title = "LinePlanSchedule";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<style type="text/css">
    h4 {
        padding-top: 5px;
        font-size: 25px;
    }

    .bg-red {
        background-color: lightblue;
    }

    .trclass {
        border: 1px solid thick;
        font-size: 10px;
        font-weight: 700;
    }

    #page {
        background-color: #fff;
        /*width: 950px;*/
        /*margin: 50px auto;*/
        padding: 0 30px;
        font-size: 10px;
    }

    .center {
        text-align: center;
    }

    table td a {
        display: block;
        color: black;
    }

    .popover {
        color: black;
        max-width: 100% !important;
    }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #444 !important;
    }

    @@media print {
        #print, #print * {
            display: none !important;
        }
    }
</style>

<script type="text/javascript">
        function printDiv() {
            window.print();
        }
</script>

<section class="content-header">
    <h1>
        Line Plan Schedule
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Schedule</li>
    </ol>
</section>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="box-body col-md-4">
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon bg-blue">Plan From Date:</span>
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-body col-md-4">
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon bg-blue">Plan To Date:</span>
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row" style="padding-top:10px;">
                            <input type="submit" value="Generate" class="btn btn-primary" />
                        </div>
                        @*<p style="margin-left:50px">

                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </p>*@
                    </div>
                </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewData["ProductionData"] != null)
                        {
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="bg-black-gradient">
                                    <tr class="trclass">
                                        @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                            {
                                            <th class="center">@col.Caption</th>
                                            }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow dr in (ViewData["ProductionData"] as System.Data.DataTable).Rows)
                                        {
                                        <tr class="trclass">
                                            @foreach (var cell in dr.ItemArray)
                                                {
                                                    if (cell.Equals("Undefine"))
                                                    {
                                            <td style="background-color: #e6e6e6; border-bottom-color:black;" class="center"></td>
                                                    }
                                                    else if (cell.ToString() != "Undefine" && cell.ToString().StartsWith("Line-"))
                                                    {
                                            <td style="border-bottom-color:black;" class="center bg-blue-gradient">
                                                @cell.ToString()
                                                @*<input type="button" value="@cell.ToString()" class="fineLine bg-blue-gradient" id="@cell" />*@
                                            </td>
                                                    }
                                                    else
                                                    {
                                                        string[] word = cell.ToString().Split('@');
                                                        string buyerPO = word[0];
                                            <td style="border-bottom-color:black;cursor:pointer; background-color:#009933" class="center rowclass" onclick="myfunction('@(cell.ToString())')">
                                                <a class="popupAjax font-weight-bold" style="color:white;" href="#/" data-toggle="popover" data-placement="top">@buyerPO</a>
                                            </td>
                                                    }
                                                }
                                        </tr>
                                        }
                                </tbody>
                                <tfoot class="bg-black-gradient">
                                    <tr class="trclass">
                                        @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                            {
                                            <th class="center">@col.Caption</th>
                                            }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        }
                    </div>
                    <div id="customdiv" style="display:none">
                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:25%"></th>
                                    <th style="width:5%"></th>
                                    <th style="width:70%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="font-weight:bold">Line No</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pLineNo"></span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Period</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pPeriod"></span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Buyer PO</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pBuyerPO"></span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Order Qty</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pOrderQty"></span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Production Qty</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pProductionQty"></span></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold">Remain Qty</td>
                                    <td style="font-weight:bold;text-align:center;">:</td>
                                    <td><span id="pRemainQty"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<script type="text/javascript">

        $(document).on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide').data('bs.popover').inState.click = false // fix for BS 3.3.6
                }
            });
        });

        function myfunction(a) {
            var OrderNo = '';
            $('a.popupAjax').popover({
                "html": true,
                content: function () {
                    return $('#customdiv').html();
                }
            });
            PopupDetails(a);
        }

        function PopupDetails(a) {
            var content = '';
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOrderPlanDetails", "Production")',
                data: { Id: a },
                datatype: "json",
                async: false,
                traditional: true,
                success: function (data) {

                    $("#pLineNo").text(data.LineName);
                    $("#pPeriod").text(data.Range);
                    $("#pBuyerPO").text(data.OrderNo);
                    $("#pOrderQty").text(data.OrderQuantityPC);
                    $("#pProductionQty").text(data.ProductionQty);
                    $("#pRemainQty").text(data.OrderTotalAchiveRemain);
                },
                error: function (data) {
                    isSuccess = data;
                }
            });
            return content;
        }

        $(function () {

            $('.fineLine').on('click', function () {

                var tr = $(this).parents('tr:first');

                var ID = $(this).prop('id');
                console.log(ID);


                @*$.ajax({
                url: '@Url.Action("GetOrderPlanDetails", "Production")',
                data: JSON.stringify(ID),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                },
                error: function (result) {
                    isSuccess = result;
                }

            });*@

            });
        });
</script>