﻿@model Oss.Romo.ViewModels.Planning.VmPlanReport
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    //Layout = "";
    ViewBag.Title = "HourlyReport";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<!DOCTYPE html>

<html id="loadPage">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hourly Production Report</title>
    <style type="text/css">
        h4 {
            padding-top: 5px;
            font-size: 25px;
        }

        .bg-red {
            background-color: lightblue;
        }

        .trclass {
            border: 1px solid thick;
            font-size: 10px;
            font-weight: 700;
        }

        #page {
            background-color: #fff;
            /*width: 950px;*/
            /*margin: 50px auto;*/
            padding: 0 30px;
            font-size: 10px;
        }

        .center {
            text-align: center;
        }

        table td a {
            display: block;
            color: black;
        }

        .popover {
            color: black;
            max-width:100% !important;
        }

        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #444 !important;
}

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div id="page">
            <div style="min-height: 900px;">
                <div style="width: 100%;">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-default">
                                <div class="box-header">
                                    <div class="row">
                                        <div class="box-body">
                                            <div class="col-md-1"></div>
                                            <div class="box-body col-md-5">
                                                <div class="input-group">
                                                    <span style="width: 140px;" class="input-group-addon">From Date</span>
                                                    <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.FromDate)">
                                                </div>
                                            </div>
                                            <div class="box-body col-md-5">
                                                <div class="input-group">
                                                    <span style="width: 140px;" class="input-group-addon">To Date</span>
                                                    <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ToDate)">
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="2" class="table table-bordered">
                                            <thead class="bg-black-gradient">
                                                <tr class="trclass">
                                                    @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                                    {
                                                        <th class="center">@col.Caption</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (System.Data.DataRow dr in (ViewData["ProductionData"] as System.Data.DataTable).Rows)
                                                {
                                                    <tr class="trclass">
                                                        @foreach (var cell in dr.ItemArray)
                                                        {
                                                            if (cell.Equals("Undefine"))
                                                            {
                                                                <td style="background-color: #e6e6e6; border-bottom-color:black;" class="center"></td>
                                                            }
                                                            else if (cell.ToString() != "Undefine" && cell.ToString().StartsWith("Line-"))
                                                            {
                                                                <td style="border-bottom-color:black;" class="center bg-blue-gradient">@cell.ToString()
                                                                    @*<input type="button" value="@cell.ToString()" class="fineLine bg-blue-gradient" id="@cell" />*@
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                string[] word = cell.ToString().Split('@');
                                                                string buyerPO = word[0];
                                                                <td style="border-bottom-color:black;cursor:pointer; background-color:#009933" class="center rowclass" onclick="myfunction('@(cell.ToString())')">
                                                                    <a class="popupAjax font-weight-bold" style="color:white;" href="#/" data-toggle="popover" data-placement="top">@buyerPO</a>
                                                                </td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot class="bg-black-gradient">
                                                <tr class="trclass">
                                                    @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                                    {
                                                        <th class="center">@col.Caption</th>
                                                    }
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="customdiv" style="display:none">
        <table style="width:100%;">
            <thead>
               <tr>
                   <th style="width:25%"></th>
                   <th style="width:5%"></th>
                   <th style="width:70%"></th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="font-weight:bold">Line No</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pLineNo"></span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Period</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pPeriod"></span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Buyer PO</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pBuyerPO"></span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Order Qty</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pOrderQty"></span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Production Qty</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pProductionQty"></span></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Remain Qty</td>
                    <td style="font-weight:bold;text-align:center;">:</td>
                    <td><span id="pRemainQty"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>

<script type="text/javascript">

    $(document).on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide').data('bs.popover').inState.click = false // fix for BS 3.3.6
            }
        });
    });

    function myfunction(a) {
        var OrderNo = '';
        $('a.popupAjax').popover({
            "html": true,
            content: function () {
                return $('#customdiv').html();
            }
        });
        PopupDetails(a);
    }

    function PopupDetails(a) {
        var content = '';
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetOrderPlanDetails", "Production")',
            data: { Id: a },
            datatype: "json",
            async: false,
            traditional: true,
            success: function (data) {

                $("#pLineNo").text(data.LineName);
                $("#pPeriod").text(data.Range);
                $("#pBuyerPO").text(data.OrderNo);
                $("#pOrderQty").text(data.OrderQuantityPC);
                $("#pProductionQty").text(data.ProductionQty);
                $("#pRemainQty").text(data.OrderTotalAchiveRemain);
            },
            error: function (data) {
                isSuccess = data;
            }
        });
        return content;
    }

    $(function () {

        


        $('.fineLine').on('click', function () {

            var tr = $(this).parents('tr:first');

            var ID = $(this).prop('id');
            console.log(ID);


            @*$.ajax({
                url: '@Url.Action("GetOrderPlanDetails", "Production")',
                data: JSON.stringify(ID),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                },
                error: function (result) {
                    isSuccess = result;
                }

            });*@

        });
    });
</script>