﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    ViewBag.Title = "MonthlyProduction";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Monthly Production
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Monthly Production</li>
    </ol>
</section>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="box-body col-md-4">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">Report Name</span>
                                @Html.DropDownListFor(model => model.ID, ViewBag.Report as SelectList, "--Select a Report--", new { @id = "ReportId", @class = "form-control SerchingDropDown" })
                                <br />
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="box-body col-md-3">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">From Date:</span>
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "calendarControl form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="box-body col-md-3">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">To Date:</span>
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row" style="padding-top:10px;">
                                <input type="submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewData["ProductionData"] != null && Model.ID == 1)
                        {
                            <div class="table-responsive">
                                <table id="DataTable2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                            {
                                                <th class="center">@col.Caption</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow dr in (ViewData["ProductionData"] as System.Data.DataTable).Rows)
                                        {
                                            <tr class="trclass">
                                                @foreach (var cell in dr.ItemArray)
                                                {
                                                    <td>@cell.ToString()</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            @foreach (System.Data.DataColumn col in (ViewData["ProductionData"] as System.Data.DataTable).Columns)
                                            {
                                                <th class="center">@col.Caption</th>
                                            }
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                        else if (Model.DataList != null && Model.ID == 2)
                        {
                            <div class="table-responsive">
                                <table id="DataTable2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">Buyer</th>
                                            <th class="center">OrderNo</th>
                                            <th class="center">Style</th>
                                            <th class="center">OrderQty</th>
                                            <th class="center">PreviousQty</th>
                                            <th class="center">PeriodQty</th>
                                            <th class="center">Grand Total</th>
                                            <th class="center">Production BL(+/-)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var v in Model.DataList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(item => v.BuyerName)</td>
                                                <td>@Html.DisplayFor(item => v.OrderNo)</td>
                                                <td>@Html.DisplayFor(item => v.Style)</td>
                                                <td>@Html.DisplayFor(item => v.PackPice)</td>
                                                <td>@Html.DisplayFor(item => v.TotalTarget)</td>
                                                <td>@Html.DisplayFor(item => v.Quantity)</td>
                                                <td>@Html.DisplayFor(item => v.TotalSewing)</td>
                                                <td>@Html.DisplayFor(item => v.SewingBalance)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="center">Buyer</th>
                                            <th class="center">OrderNo</th>
                                            <th class="center">Style</th>
                                            <th class="center">OrderQty</th>
                                            <th class="center">PreviousQty</th>
                                            <th class="center">PeriodQty</th>
                                            <th class="center">Grand Total</th>
                                            <th class="center">Production BL(+/-)</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                        else if (Model.DataList != null && Model.ID == 3)
                        {
                            <div class="table-responsive">
                                <table id="custom1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">Date</th>
                                            <th class="center">Line</th>
                                            <th class="center">OrderNo</th>
                                            <th class="center">Buyer/Style</th>
                                            <th class="center">Color</th>
                                            <th class="center">SMV</th>
                                            <th class="center">WorkHour</th>
                                            <th class="center">DayTarget</th>
                                            <th class="center">DayOutput</th>
                                            <th class="center">TotalOutput</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var v in Model.DataList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(item => v.DateView)</td>
                                                <td>@Html.DisplayFor(item => v.LineName)</td>
                                                <td>@Html.DisplayFor(item => v.OrderNo)</td>
                                                <td>@Html.DisplayFor(item => v.Style)</td>
                                                <td>@Html.DisplayFor(item => v.ColorName)</td>
                                                <td>@Html.DisplayFor(item => v.SMV)</td>
                                                <td>@Html.DisplayFor(item => v.LineHour)</td>
                                                <td>@Html.DisplayFor(item => v.TotalTarget)</td>
                                                <td>@Html.DisplayFor(item => v.TotalAchivement)</td>
                                                <td>@Html.DisplayFor(item => v.TotalSewing)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center">Total</th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                            <th class="center"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                        else if (Model.DataList != null && Model.ID == 4)
                        {
                            <div class="table-responsive">
                                <table id="DataTable2" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>LineNo</th>
                                            <th>PerLine M/C</th>
                                            <th>Order</th>
                                            <th>Item</th>
                                            <th>Mach. Running</th>
                                            <th>Opt.Pre.</th>
                                            <th>No.of HP</th>
                                            <th>TotalWorker</th>
                                            <th>SizeMan</th>
                                            <th>Supervisor</th>
                                            <th>InputCount</th>
                                            <th>SMV</th>
                                            <th>HourTarget</th>
                                            <th>TotalTarget</th>
                                            <th>WorkHour</th>
                                            <th>PerHourAchv.</th>
                                            <th>TotalAchv.</th>
                                            <th>Tar.Effic.</th>
                                            <th>Achv.Effic.</th>
                                            <th>TargetBalance</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var model in Model.DataList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(item => model.DateView)</td>
                                                <td>@Html.DisplayFor(item => model.LineName)</td>
                                                <td>@Html.DisplayFor(item => model.LineMachineRequired)</td>
                                                <td>@Html.DisplayFor(item => model.OrderNo)</td>
                                                <td>@Html.DisplayFor(item => model.Item)</td>
                                                <td>@Html.DisplayFor(item => model.LineMachineRunning)</td>
                                                <td>@Html.DisplayFor(item => model.NoOfOPPresent)</td>
                                                <td>@Html.DisplayFor(item => model.NoOfHP)</td>
                                                <td>@Html.DisplayFor(item => model.TotalWorker)</td>
                                                <td>@Html.DisplayFor(item => model.SizeMan)</td>
                                                <td>@Html.DisplayFor(item => model.SuperVisor)</td>
                                                <td>@Html.DisplayFor(item => model.NoOfInputMan)</td>
                                                <td>@Html.DisplayFor(item => model.SMV)</td>
                                                <td>@Html.DisplayFor(item => model.PerHourTarget)</td>
                                                <td>@Html.DisplayFor(item => model.TotalTarget)</td>
                                                <td>@Html.DisplayFor(item => model.LineHour)</td>
                                                <td>@Html.DisplayFor(item => model.PerHourAchivement)</td>
                                                <td>@Html.DisplayFor(item => model.TotalAchivement)</td>
                                                <td>@Html.DisplayFor(item => model.TargetEffi)</td>
                                                <td>@Html.DisplayFor(item => model.AchiveEffi)</td>
                                                <td>@Html.DisplayFor(item => model.TargetBalance)</td>
                                                <td>@Html.DisplayFor(item => model.Remarks)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#custom1').DataTable({
            sDom: 'l<"pull-left"B><"pull-right"f>rtip',
            //dom: 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5',
                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                orientation: 'landscape',
                footer: true
            },
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                orientation: 'landscape',
                footer: true
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i>&nbsp;Print',
                orientation: 'landscape',
                autoPrint: true,
                footer: true
            }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                
                total = api.column(7).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(7, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(7).footer()).html('' + pageTotal.toFixed(0) + '(' + total.toFixed(0) + ')');

                invoicedtotal = api.column(8).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                invoicedpageTotal = api.column(8, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(8).footer()).html('' + invoicedpageTotal.toFixed(0) + '(' + invoicedtotal.toFixed(0) + ')');

                total = api.column(9).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(9, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(9).footer()).html('' + pageTotal.toFixed(0) + '(' + total.toFixed(0) + ')');

            }
        });
    });
</script>
