﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    ViewBag.Title = "OrderProduction";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<section class="content-header">
    <h1>
        Buyer Order Production
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Production</li>
    </ol>
</section>

<div class="clearfix"></div>


<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box box-primary">
            <div class="box-header box-success">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="box-body col-md-8">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">Buyer PO:</span>
                                @Html.DropDownListFor(model => model.ID, ViewBag.Report as SelectList, "--Select a Report--", new { @id = "ReportId", @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row" style="padding-top:10px;">
                                <input type="submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (Model.DataList != null)
            {
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                @{
                    int sl = 0;
                }
                <table id="custom1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Order</th>
                            <th>Item</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>TotalCutting</th>
                            <th>TodayCutting</th>
                            <th>TodaySewing</th>
                            <th>TotalSewing</th>
                            <th>SewingBalance(+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ColorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCutting)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DayCutting)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaySewing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalSewing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BalanceQty)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
                    }
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#custom1').DataTable({
            sDom: 'l<"pull-left mrg25B"B><"pull-right"f>rtip',
            //dom: 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5',
                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                orientation: 'landscape',
                footer: true
                //exportOptions: {
                //columns: [0, 1, 2, 3, 4, 5]
                //}
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                    orientation: 'landscape',
                    footer: true
                    //exportOptions: {
                    //columns: [0, 1, 2, 3, 4, 5]
                    //}
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    orientation: 'landscape',
                    autoPrint: true,
                    footer: true
                }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                paidtotal = api.column(5).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                paidpageTotal = api.column(5, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(5).footer()).html('' + paidpageTotal + '(' + paidtotal + ')');

                pendingtotal = api.column(6).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pendingpageTotal = api.column(6, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(6).footer()).html('' + pendingpageTotal + '(' + pendingtotal + ')');

                total = api.column(7).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(7, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(7).footer()).html('' + pageTotal + '(' + total + ')');

                invoicedtotal = api.column(8).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                invoicedpageTotal = api.column(8, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(8).footer()).html('' + invoicedpageTotal + '(' + invoicedtotal + ')');

                total = api.column(9).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                pageTotal = api.column(9, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(9).footer()).html('' + pageTotal + '(' + total + ')');

                t1 = api.column(10).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                t2 = api.column(10, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(10).footer()).html('' + t2 + '(' + t1 + ')');
            }
        });
    });

</script>

