﻿@model Oss.Romo.ViewModels.Planning.VmPlanReport
@using JQChart.Web.Mvc
@{
    ViewBag.Title = "PlanSchedule";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<section class="content-header">
    <h1>
        Line Plan Schedule
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Schedule</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="box-body">
        <div class="col-md-1"></div>
        <div class="box-body col-md-5">
            <div class="input-group">
                <span style="width: 140px;" class="input-group-addon">From Date</span>
                <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.FromDate)">
            </div>
        </div>
        <div class="box-body col-md-5">
            <div class="input-group">
                <span style="width: 140px;" class="input-group-addon">To Date</span>
                <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ToDate)">
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- /.box-body -->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                
                @(Html.JQChart()
                .Chart(Model.DataList)
                .ID("jqChart")
                .Width("auto")
                .Height(750)
                .Title("Line Plan Schedule")
                .Animation(TimeSpan.FromSeconds(1))
                .Legend(false)
                .Series(series =>
                {
                    series.Gantt()
                          .XValues(el => el.LineName)
                          .FromValues(el => el.FromDate)
                          .ToValues(el => el.ToDate)
                          .LabelValues(el => el.OrderNo)
                          //.FillStyles(new object[] { "#418CF0", "#FCB441", "#E0400A", "#056492", "#BFBFBF", "#418FFF", "#BFBFBA", "#FCB444", "","Gray", "#33FFBE", "#9e8140", "","" })
                          .FillStyle("gray")
                          .Labels(el => el.FillStyle("blue").Font("14px sans-serif"));
                }).Render()
                )
            </div>
        </div>
    </div>
</div>