﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div class="box">
    <div class="box-header">
        <h6 class="box-title">Order : @Model.OrderName</h6>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Size</th>
                    <th>OrderQty</th>
                    <th>DoneQty</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.PlanDataList)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => v.Color)</td>
                        <td>@Html.DisplayFor(modelItem => v.Size)</td>
                        <td>@Html.DisplayFor(modelItem => v.OrderQty)</td>
                        <td>@Html.DisplayFor(modelItem => v.CuttingDoneQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => v.FollowupDate)</td>
                        <td>@Html.DisplayFor(modelItem => v.FollowupTime)</td>
                        <td>@Html.DisplayFor(modelItem => v.CreateBy)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



