﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Target & Achivement Sheet
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Achivement Sheet</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @using (Html.BeginForm("productionReportView", "Production", FormMethod.Post, new { @target = "_blank" }))
            {
                <div class="box-header">
                    <div class="row">
                        <div class="col-md-12 pull-right">
                            <div class="form-group">
                                <input type="submit" value="Save Remarks" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>LineNo</th>
                                <th>PerLine M/C</th>
                                <th>Order</th>
                                <th>Item</th>
                                <th>Mach. Running</th>
                                <th>Opt.Pre.</th>
                                <th>No.of HP</th>
                                <th>SizeMan</th>
                                <th>InputCount</th>
                                <th>TotalWorker</th>
                                <th>Supervisor</th>
                                <th>SMV</th>
                                <th>HourTarget</th>
                                <th>TotalTarget</th>
                                <th>WorkHour</th>
                                <th>PerHourAchv.</th>
                                <th>TotalAchv.</th>
                                <th>Tar.Effic.</th>
                                <th>Achv.Effic.</th>
                                <th>TargetBalance</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataList.Count; i++)
                            {
                                <tr>
                                    <td class="text-navy text-bold">
                                        @Html.HiddenFor(model => model.DataList[i].ProdReferenceId)
                                        @Html.HiddenFor(model => model.DataList[i].BOMID)
                                        @Html.HiddenFor(model => model.DataList[i].LineId)
                                        @Html.HiddenFor(model => model.DataList[i].LineName)
                                        @Html.HiddenFor(model => model.DataList[i].LineMachineRequired)
                                        @Html.HiddenFor(model => model.DataList[i].OrderNo)
                                        @Html.HiddenFor(model => model.DataList[i].Item)
                                        @Html.HiddenFor(model => model.DataList[i].LineMachineRunning)
                                        @Html.HiddenFor(model => model.DataList[i].NoOfOPPresent)
                                        @Html.HiddenFor(model => model.DataList[i].NoOfHP)
                                        @Html.HiddenFor(model => model.DataList[i].SizeMan)
                                        @Html.HiddenFor(model => model.DataList[i].NoOfInputMan)
                                        @Html.HiddenFor(model => model.DataList[i].TotalWorker)
                                        @Html.HiddenFor(model => model.DataList[i].SuperVisor)
                                        @Html.HiddenFor(model => model.DataList[i].SMV)
                                        @Html.HiddenFor(model => model.DataList[i].PerHourTarget)
                                        @Html.HiddenFor(model => model.DataList[i].TotalTarget)
                                        @Html.HiddenFor(model => model.DataList[i].LineHour)
                                        @Html.HiddenFor(model => model.DataList[i].PerHourAchivement)
                                        @Html.HiddenFor(model => model.DataList[i].TotalAchivement)
                                        @Html.HiddenFor(model => model.DataList[i].TargetEffi)
                                        @Html.HiddenFor(model => model.DataList[i].AchiveEffi)
                                        @Html.HiddenFor(model => model.DataList[i].TargetBalance)
                                        @Html.HiddenFor(model => model.DataList[i].SectionId)
                                        @Html.HiddenFor(model => model.DataList[i].FromDate)
                                        @Html.DisplayFor(model => model.DataList[i].LineName)
                                    </td>
                                    <td class="text-navy text-bold">
                                        @Html.DisplayFor(model => model.DataList[i].LineMachineRequired)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].OrderNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].Item)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].LineMachineRunning)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].NoOfOPPresent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].NoOfHP)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].SizeMan)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].NoOfInputMan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].TotalWorker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].SuperVisor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].SMV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].PerHourTarget)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].TotalTarget)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].LineHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].PerHourAchivement)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].TotalAchivement)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].TargetEffi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].AchiveEffi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DataList[i].TargetBalance)
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(model => model.DataList[i].Remarks, new { @cols = "50", @rows = "4" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>