﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Order and Line Wise Production</h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Buyer</th>
                            <th>Order/Style</th>
                            <th>LineName</th>
                            <th>Line No</th>
                            <th>Operator</th>
                            <th>OrderQty</th>
                            <th>TotalCutting</th>
                            <th>LineSewing</th>
                            <th>DaySewing</th>
                            <th>TotalSewing</th>
                            <th>SewingBalance</th>
                            <th>TotalPacking</th>
                            <th>TotalCTN</th>
                            <th>Cutting(%)</th>
                            <th>Sewing(%)</th>
                            <th>Packing(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList1)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.BuyerName)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.ActionLink(item.Item, "BuyerProductionDetails", new { BomId = item.BOMID, RefId= item.ProdReferenceId }, new { @title = "Production Details", @target = "_blank" })                                    
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.LineName)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.LineCount)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.TotalWorker)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCutting)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineOutput)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaySewing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalSewing)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TargetBalance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPacking)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCTN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuttingRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SewingRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PackingRate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>