﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReference

@{ Layout = "";

    ViewBag.Title = "Production Status";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Production Status</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>
    <script>
        //function printDiv() {
        //    window.print();
        //}
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>

                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="from-group">
                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>

                </div>
                <div class="form-group">
                    <center><h3><u>SEWING Wise Status Report</u></h3> </center>
                </div>
            </div>
            <br />
            <div style="width: 100%; border: 1px solid #000">
                <div id="viewparty">
                    <div>
                        <table style="width: 100%" cellspacing="0" rules="all" border="1">
                            <thead>
                                <tr>
                                    <th style="background-color:darkgray">
                                        <center>Order No</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Style</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Step Name</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Extra Cutting</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Actual Qty</center>
                                    </th>
                                    <th style="background-color: darkgray">
                                        <center>Plan Qty</center>
                                    </th>
                                    <th style="background-color: darkgray">
                                        <center>ExFactory Qty</center>
                                    </th>
                                    <th style="background-color: darkgray">
                                        <center>Shift Qty</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Done Quantity</center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td style="padding: 2px 4px 2px 4px">
                                            @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)
                                        </td>
                                        <td>
                                            <center>@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)</center>
                                        </td>
                                        <td style="padding: 2px 4px 2px 4px">
                                            @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                        </td>
                                        <td>
                                            <center>@Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.ExtraCutting)</center>
                                        </td>
                                        <td>
                                            <center>@Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)</center>
                                        </td>
                                        
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProductionSection.Quantity)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.ExFactoryQty)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.ShiftQty)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.DoneQuantity)
                                            </center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>

