﻿@model Oss.Romo.ViewModels.Production.VmProductionReport
@{
    ViewBag.Title = "Closing Report";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>Closing Report</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Closing Report</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="box-body offset-3 col-md-8">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">Buyer Order</span>
                                @Html.DropDownListFor(model => model.BOMID, ViewBag.Report as SelectList, "--Select a Order--", new { @id = "ReportId", @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BOMID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row" style="padding-top:10px;">
                                <input type="submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.DataList != null)
                        {
                            <div class="table-responsive">
                                <table id="custom1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">Buyer</th>
                                            <th class="center">OrderNo</th>
                                            <th class="center">Style</th>
                                            <th class="center">Color</th>
                                            <th class="center">OrderQty</th>
                                            <th class="center">Extra(%)</th>
                                            <th class="center">TotalQty</th>
                                            <th class="center">Store_Total Fabric Received</th>
                                            <th class="center">Booking Consumption</th>
                                            <th class="center">Cutting Fabric Received</th>
                                            <th class="center">Store Fabric Balance</th>
                                            <th class="center">Cutting Total GMT</th>
                                            <th class="center">Cutting Fabric Used</th>
                                            <th class="center">Cutting Consumption</th>
                                            <th class="center">Cutting Fabric Balance</th>
                                            <th class="center">Total Fabric Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var v in Model.DataList)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(item => v.BuyerName)</td>
                                                <td>@Html.DisplayFor(item => v.OrderNo)</td>
                                                <td>@Html.DisplayFor(item => v.Style)</td>
                                                <td>@Html.DisplayFor(item => v.ColorName)</td>
                                                <td>@Html.DisplayFor(item => v.Quantity)</td>
                                                <td>@Html.DisplayFor(item => v.Extra)</td>
                                                <td>@Html.DisplayFor(item => v.TotalTarget)</td>
                                                <td>@Html.DisplayFor(item => v.TotalStoreReceived)</td>
                                                <td>@Html.DisplayFor(item => v.BookingConsump)</td>
                                                <td>@Html.DisplayFor(item => v.TotalCuttingReceived)</td>
                                                <td>@Html.DisplayFor(item => v.StoreBalance)</td>
                                                <td>@Html.DisplayFor(item => v.TotalCutting)</td>
                                                <td>@Html.DisplayFor(item => v.TotalFabricUsed)</td>
                                                <td>@Html.DisplayFor(item => v.CuttingConsumption)</td>
                                                <td>@Html.DisplayFor(item => v.FabricBalance)</td>
                                                <td>@Html.DisplayFor(item => v.TotalBalance)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Total</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        $('#custom1').DataTable({
            sDom: 'l<"pull-left"B><"pull-right"f>rtip',
            //dom: 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5',
                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                orientation: 'landscape',
                footer: true
                },
                {
                    extend: 'csvHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                    orientation: 'landscape',
                    footer: true
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    orientation: 'landscape',
                    autoPrint: true,
                    footer: true
                }
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "scrollX": true,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                var intval = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                paidtotal = api.column(4).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //paidpageTotal = api.column(4, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(4).footer()).html(paidtotal);

                total = api.column(6).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //pageTotal = api.column(6, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(6).footer()).html(total);

                invoicedtotal = api.column(7).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //invoicedpageTotal = api.column(8, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(7).footer()).html(invoicedtotal.toFixed(2));

                t1 = api.column(9).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t2 = api.column(10, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(9).footer()).html(t1.toFixed(2));


                t1 = api.column(10).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t2 = api.column(10, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(10).footer()).html(t1.toFixed(2));

                t3 = api.column(11).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t4 = api.column(11, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(11).footer()).html(t3);

                t5 = api.column(12).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t6 = api.column(12, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(12).footer()).html(t5.toFixed(2));

                t7 = api.column(14).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t6 = api.column(13, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(14).footer()).html(t7.toFixed(2));

                t8 = api.column(15).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                //t6 = api.column(13, { page: 'current' }).data().reduce(function (a, b) { return intval(a) + intval(b); }, 0);
                $(api.column(15).footer()).html(t8.toFixed(2));

            }
        });
    });
</script>