﻿
@model List<Oss.Romo.Models.Production.ProductionTargetAndAchivementViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Production Target & Achievement Sheet</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 100%;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                line-height: 20px;
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>

        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body style="background-color: #525659;">
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>

                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="from-group">
                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>

                </div>
                <div class="form-group">

                    <center><h3><u>Production Target & Achivement Sheet</u></h3></center>
                </div>
            </div>
            <table id="example" style="width: 100%;margin-top: 10px;" cellspacing="0" rules="all" border="1">
                <tr>
                    <th style="text-align: center">Line Name</th>
                    <th style="text-align: center">Order No</th>
                    <th style="text-align: center">Item</th>
                    <th style="width: 5%;text-align: center">Machine Running</th>
                    <th style="width: 5%;text-align: center">No. Operator</th>
                    <th style="width: 5%;text-align: center">No. Helper</th>
                    <th style="width: 5%;text-align: center">Total Manpower</th>
                    <th style="text-align: center">SMV</th>
                    <th style="text-align: center">Per Hour Target</th>
                    <th style="text-align: center">Total Target</th>
                    <th style="text-align: center">Working Hour</th>
                    <th style="text-align: center">Achv/hr</th>
                    <th style="text-align: center">Total Achv</th>
                    <th style="text-align: center">Target Effc</th>
                    <th style="text-align: center">Achv Effc</th>
                    <th style="text-align: center">Balance</th>
                    <th style="text-align: center">Remarks</th>
                </tr>
                @{
                    var ttlmachinerun = 0;
                    var ttlOperator = 0;
                    var ttlHelper = 0;
                    var ttlmanpower = 0;
                    decimal ttlsmv = 0;
                    int count = 0;
                    int Target = 0;
                    int ttlhourtarget = 0;
                    int ttltarget = 0;
                    decimal ttlWorkingHour = 0;
                    decimal ttlachvHr = 0;
                    int ttlTotalAchivement = 0;
                    decimal ttlTargeteff = 0;
                    decimal ttlachvteff = 0;
                    int ttlbalance = 0;
                    foreach (var data in Model)
                    {
                        var manpower = data.NumHelper + data.NumOperator;
                        var totalTarget = (int)Math.Ceiling(data.PerHourTarget * data.WorkingHour);
                        decimal achvHr = 0;
                        var balance = data.TotalAchivement - totalTarget;
                        decimal targetefficiency = (Decimal.Divide((data.SMV * totalTarget), (data.WorkingHour * 60 * totalTarget)) * 100);
                        decimal achivementefficiency = (Decimal.Divide((data.SMV * data.TotalAchivement.Value), (data.WorkingHour * 60 * data.TotalAchivement.Value)) * 100);
                        if (data.TotalAchivement != null)
                        {
                            achvHr = Math.Ceiling(data.TotalAchivement.Value / data.WorkingHour);
                        }
                        ttlmachinerun += data.RunningMachine;
                        ttlOperator += data.NumOperator;
                        ttlHelper += data.NumHelper;
                        ttlOperator += data.NumOperator;
                        ttlmanpower += manpower;
                        ttlsmv += data.SMV;
                        ttlhourtarget += data.PerHourTarget;
                        ttltarget += totalTarget;
                        ttlWorkingHour += data.WorkingHour;
                        ttlachvHr += achvHr;
                        ttlTargeteff += targetefficiency;
                        ttlachvteff += achivementefficiency;
                        ttlbalance += balance.Value;
                        ttlTotalAchivement += data.TotalAchivement.Value;

                        count += 1;
                        <tr>
                            <td style="text-align: center">@data.LineName</td>
                            <td style="text-align: center">@data.OrderNo</td>
                            <td style="text-align: center">@data.ItemName</td>
                            <td style="text-align: center">@data.RunningMachine</td>
                            <td style="text-align: center">@data.NumOperator</td>
                            <td style="text-align: center">@data.NumHelper</td>
                            <td style="text-align: center">@manpower</td>
                            <td style="text-align: center">@data.SMV</td>
                            <td style="text-align: center">@data.PerHourTarget</td>
                            <td style="text-align: center">@totalTarget</td>
                            <td style="text-align: center">@data.WorkingHour</td>
                            <td style="text-align: center">@achvHr</td>
                            <td style="text-align: center">@data.TotalAchivement</td>
                            <td style="text-align: center">@String.Format("{0:0.0000}", targetefficiency) </td>
                            <td style="text-align: center">@String.Format("{0:0.0000}", achivementefficiency) </td>
                            <td style="text-align: center">@balance</td>
                            <td style="text-align: center">@data.Remarks</td>
                        </tr>

                    }
                    <tr style="font-weight: bold;">
                        <td colspan="3" style="text-align: center">TOTAL:</td>
                        <td style="text-align: center">@ttlmachinerun</td>
                        <td style="text-align: center">@ttlOperator</td>
                        <td style="text-align: center">@ttlHelper</td>
                        <td style="text-align: center">@ttlmanpower</td>
                        @if (ttlsmv > 0 && count > 0)
                        {
                            <td style="text-align: center">(ttlsmv / count) </td>
                        }
                        else
                        {
                            <td style="text-align: center">0.0000</td>

                        }
                        <td style="text-align: center">@ttlhourtarget</td>
                        <td style="text-align: center">@ttltarget</td>
                        <td style="text-align: center">@ttlWorkingHour</td>
                        <td style="text-align: center">@ttlachvHr</td>
                        <td style="text-align: center">@ttlTotalAchivement</td>
                        @if (ttlTargeteff > 0 && count > 0)
                        {
                            <td style="text-align: center">@String.Format("{0:0.0000}", (ttlTargeteff / count))</td>
                     
                        }
                        else
                        {
                            <td style="text-align: center">0.0000</td>

                        }

                        
                        @if (ttlachvteff > 0 && count > 0)
                        {
                          <td style="text-align: center">@String.Format("{0:0.0000}", (ttlachvteff / count))</td>
                        }
                        else
                        {
                            <td style="text-align: center">0.0000</td>

                        }
                       
                        <td style="text-align: center">@ttlbalance</td>
                        <td></td>

                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

<script>
    //!function (t, n, e, i) { "use strict"; function a(n, e) { this.element = n, this.settings = t.extend({}, o, e), this._defaults = o, this._name = s, this.init() } var s = "rowspanizer", o = { vertical_align: "top" }; t.extend(a.prototype, { init: function () { var n = this, e = t(this.element), i = []; e.find("tr").each(function (n, e) { t(this).find("td").each(function (n, e) { var a = t(e), s = a.html(); if ("undefined" != typeof i[n] && "dato" in i[n] && i[n].dato == s) { var o = i[n].elem.data("rowspan"); ("undefined" == o || isNaN(o)) && (o = 1), i[n].elem.data("rowspan", parseInt(o) + 1).addClass("rowspan-combine"), a.addClass("rowspan-remove") } else i[n] = { dato: s, elem: a } }) }), t(".rowspan-combine").each(function (e, i) { var a = t(this); a.attr("rowspan", a.data("rowspan")).css({ "vertical-align": n.settings.vertical_align }) }), t(".rowspan-remove").remove() } }), t.fn[s] = function (n) { return this.each(function () { t.data(this, "plugin_" + s) || t.data(this, "plugin_" + s, new a(this, n)) }) } }(jQuery, window, document);
    //$(function () {
    //    $("#example").rowspanizer({ vertical_align: 'middle' });

    //});


</script>

