﻿@model Oss.Romo.ViewModels.Procurement.VmProc_Requisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Requisition ";
}

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>

                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_Requisition.RequisitionCID)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_Requisition.Date)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User_Department.Name)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_Requisition.Priority)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_Requisition.Description)
                            </th>
                            <th class="text-center">
                                @Html.DisplayName("Total Amount")
                            </th>
                            <th class="text-center">
                                Authorization
                            </th>

                            @if (Model.Header != "Requisition")
                            {
                                <th class="text-center">
                                    Action
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.RequisitionCID)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Department.Name)
                                </td>
                                @if (item.Prod_Requisition.Priority == "High")
                                {
                                    <td class="text-center">
                                        <div style="padding: 0px 50px" class="center">
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                        </div>
                                    </td>
                                }
                                else if (item.Prod_Requisition.Priority == "Medium")
                                {
                                    <td class="text-center">
                                        <div style="padding: 0px 50px" class="center">
                                            <span class="label label-yellow">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <div style="padding: 0px 50px" class="center">
                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                        </div>
                                    </td>
                                }


                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalEstimatedPrice)
                                </td>

                                @if (!item.Prod_Requisition.IsAutherized)
                                {
                                    <td class="text-center">
                                        <div style="padding: 0px 50px" class="center">
                                            <span class="label label-danger">Unauthorize</span>

                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <div style="padding: 0px 50px" class="center">
                                            <span class="label label-success">Authorize</span>

                                        </div>
                                    </td>
                                }


                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOM.CID)
                                    </td>*@

                                <td>
                                    @Html.ActionLink(".", "VmProc_Requisition_SlaveIndex", "Procurement", new { id = item.Prod_Requisition.ID, dept=false }, new { @title = "Requisition Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>