﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_ReferenceFk)
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_PlanReferenceOrderFk)
    @Html.HiddenFor(model => model.ProductionDailyPlan.BOMFk)
    @Html.HiddenFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk)
    @Html.HiddenFor(model => model.ProductionDailyPlan.PerHourTarget)
    @Html.HiddenFor(model => model.ProductionDailyPlan.SMV)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.OrderNo, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(model => model.ProductionDailyPlan.OrderNo, new { @cols = "38", @rows="4", @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.OrderNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Line, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.Line, new { htmlAttributes = new {  @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Line, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.MachineRunning, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.MachineRunning, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.MachineRunning, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.PresentOpt, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.PresentOpt, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.PresentOpt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.NoOfHelper, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.NoOfHelper, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.NoOfHelper, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.WorkingHour, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.WorkingHour, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.WorkingHour, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.PerHourTarget, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.PerHourTarget, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.PerHourTarget, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.SMV, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-4" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.SMV, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.SMV, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}