﻿@model Oss.Romo.ViewModels.Planning.VmPlanReport
@{
    Layout = "";
    ViewBag.Title = "SummaryReport";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<!DOCTYPE html>

<html id="loadPage">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary Report</title>
    <style type="text/css">
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
        }

        #page {
            background-color: #fff;
            /*width: 1050px;*/
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div id="page">
            <div style="min-height: 900px;">
                @*-----------------Report Header-----------------*@
                <hr style="width: 100%; color: black; height: 2px; background-color: black;">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>
                                <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <center><h2><b>Buyer/PO WISE SHIPMENT SUMMARY</b></h2> </center>
                        </div>
                        <div class="col-md-4">
                            <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                                Print
                            </span>
                        </div>
                    </div>
                </div>
                <div style="width:100%;">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        SL
                                    </th>
                                    <th style="text-align:center;">
                                        Buyer Name
                                    </th>
                                    <th style="text-align:center;">
                                        Buyer PO
                                    </th>
                                    <th style="text-align:center;">
                                        Style
                                    </th>
                                    <th style="text-align:center;">
                                        TotalPack
                                    </th>
                                    <th style="text-align:center; font:bold;">
                                        TotalPiece
                                    </th>
                                    <th style="text-align:center; font:bold;">
                                        ShipmentDate
                                    </th>
                                    <th style="text-align:center; font:bold;">
                                        PackQty
                                    </th>
                                    <th style="text-align:center; font:bold;">
                                        PieceQty
                                    </th>
                                    <th style="text-align:center; font:bold;">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var v in Model.ReportDoc)
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => v.Body1)
                                        </td>
                                        <td style="text-align:left;">
                                            @Html.DisplayFor(modelItem => v.Body2)
                                        </td>
                                        <td style="text-align:center; font:bold;">
                                            @Html.DisplayFor(modelItem => v.Body3)
                                        </td>
                                        <td style="text-align:center; font:bold;">
                                            @Html.DisplayFor(modelItem => v.Body4)
                                        </td>
                                        <td style="text-align:center; font:bold;">
                                            @Html.DisplayFor(modelItem => v.Body5)
                                        </td>
                                        <td style="text-align:center; font:bold;">
                                            @Html.DisplayFor(modelItem => v.Body6)
                                        </td>
                                        @if (v.ReportDocTypeList != null)
                                        {
                                            <td>
                                                @foreach (var i in v.ReportDocTypeList)
                                                {
                                                    <center>@Html.DisplayFor(modelItem => i.SubBody1)</center>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var i in v.ReportDocTypeList)
                                                {
                                                    <center>@Html.DisplayFor(modelItem => i.SubBody2)</center>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var i in v.ReportDocTypeList)
                                                {
                                                    <center>@Html.DisplayFor(modelItem => i.SubBody3)</center>
                                                }
                                            </td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                <center>@Html.DisplayFor(modelItem => v.SubBody1)</center>
                                            </td>
                                            <td>
                                                <center>@Html.DisplayFor(modelItem => v.SubBody2)</center>
                                            </td>
                                            <td>
                                                <center>@Html.DisplayFor(modelItem => v.SubBody3)</center>
                                            </td>
                                            <td></td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="text-align: left;">
                Corporate Office: House# 58, Road #20, Sector #11, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>
        </div>
    </div>
</body>
</html>