﻿@model Oss.Romo.ViewModels.Planning.VmPlanReport
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Shipment Plan Schedule
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Schedule</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Report)
                                @Html.DropDownListFor(model => model.Report, ViewBag.ReportType as SelectList, "--Select Report Type--", new { @id = "reportTypeId", @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BomFk, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.BomFk, ViewBag.BuyerList as SelectList, "--Select Buyer--", new { @id = "MktBOMFk", @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BomFk, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.BomFk, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.BomFk, new SelectList(string.Empty, "Value", "Text"), "--Select Buyer/BuyerPO--", new { @id = "MktBOMFk", @class = "form-control SerchingDropDown" })
                                @Html.ValidationMessageFor(model => model.BomFk, "", new { @class = "text-danger" })
                            </div>*@
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @id = "StartDate", @class = "calendarControl form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "calendarControl form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <input type="submit" value="Generate" class="btn btn-success" />
                                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-body table-responsive">
                @{
                    int Sl = 0;
                }
                @if (Model.DataList != null)
                {
                    <h2><b>Buyer Wise Periodic Shipment Details</b></h2>
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    SL
                                </th>
                                <th>
                                    @Html.DisplayName("Buyer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("BuyerPO")
                                </th>
                                <th>
                                    @Html.DisplayName("Item")
                                </th>
                                @*<th>
                                    @Html.DisplayName("TotalPack")
                                </th>
                                <th>
                                    @Html.DisplayName("TotalPiece")
                                </th>*@
                                <th>
                                    @Html.DisplayName("ShipmentDate")
                                </th>
                                <th>
                                    @Html.DisplayName("PackQty")
                                </th>
                                <th>
                                    @Html.DisplayName("TotalQty")
                                </th>
                                <th>
                                    @Html.DisplayName("Total")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        @(++Sl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuyerName)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.OrderNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Style)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.PieceQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderQty)
                                    </td>*@
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.ShipmentDateView)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.ShipPackQty)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.ShipOrderQty)
                                    </td>
                                    <td style="text-align: center">
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Model.DataList1 != null)
                {
                    <h2><b>BuyerPO Wise Periodic Shipment Summary</b></h2>
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    SL
                                </th>
                                <th>
                                    @Html.DisplayName("Buyer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("BuyerPO")
                                </th>
                                <th>
                                    @Html.DisplayName("Item")
                                </th>
                                <th>
                                    @Html.DisplayName("TotalPack")
                                </th>
                                <th>
                                    @Html.DisplayName("TotalQty")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList1)
                            {
                                <tr>
                                    <td>
                                        @(++Sl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BuyerName)
                                    </td>
                                    <td style="text-align: center">
                                        @Html.DisplayFor(modelItem => item.OrderNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Style)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PieceQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderQty)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
</div>
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
@*<script type="text/javascript">

    $(document).ready(function () {

        $("#reportTypeId").change(function () {
            var reportId = $("#reportTypeId").val();
            console.log(reportId);
            if (reportId != '') {
                $("#MktBOMFk").empty();
                if (reportId == 1 || reportId == 2) {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetActiveBuyer", "Helper")",
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            $("#MktBOMFk").append("<option value='0'>--Select Buyer--</option>");
                            $.each(data, function (index, row) {
                                $("#MktBOMFk").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                            });
                        }
                    });
                }
            }
            else {
                $("#MktBOMFk").empty();
            }
    });

        var id= $("#reportTypeId").val();
        $('#reportTypeId').val(id).trigger('change');
    });
</script>*@

