﻿
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
</head>
@{
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var userInfoJson = jss.Serialize(ViewBag.Color);
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id='TextBoxesGroup'>
        <div id="TextBoxDiv1">
            <table>
                <tr>
                    <td>
                        <select name="test[0].Color" id='textbox1'>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </td>&nbsp;
                    <td><input type="text" name="test[0].Quantity" id="textbox' + counter + '" value=""></td>&nbsp;
                    <td><a href="#" value="addButtons" class="addButton">Add</a>&nbsp;<a href="#" value="removeButton" class="removeButton">Remove</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left: 50px">
            <input type="submit" value="Save" class="btn btn-success"/>
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary"/>
        </p>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var userInfo = JSON.parse('@Html.Raw(userInfoJson)');
        var counter = 1;

        $(document.body).on("click", '.addButton', function () {

            if(counter>5){
                alert("Only 5 textboxes allow");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                .attr("id", 'TextBoxDiv' + counter);

            var option = '';
            $.each(userInfo,
                function(index, row) {
                    option += '<option value="' + row.Value + '">' + row.Text + '</option>';
                });       
            newTextBoxDiv.html('<table><tr><td>' +
                '<select name="test['+counter+'].Color" id="ddlBox' + counter + '">' + option +'</select></td>' +
                '<td>' +
                '<input type="text" name="test[' + counter + '].Quantity" id="textbox' + counter + '" value="" ></td>&nbsp;<td>' +
                '<a href="#" value="addButton" class="addButton">Add</a>&nbsp;<a href="#" value="removeButton" class="removeButton">Remove</a></td></tr></table>');

            newTextBoxDiv.appendTo("#TextBoxesGroup");


            counter++;
        });

        $(document.body).on("click", '.removeButton', function () {
            if(counter===1){
                alert("No more textbox to remove");
                return false;
            }

            counter--;

            $("#TextBoxDiv" + counter).remove();

        });

        $("#getButtonValue").click(function () {

            var msg = '';
            for (var i=1; i<counter; i++){
                msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
            }
            alert(msg);
        });
    });

</script>