﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSection

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Reference Progress Step";
}


<section class="content-header">
    <h1>
        Current Production Status
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Production</a></li>
        <li class="active">
            <b>Production Reference Step</b>
        </li>
    </ol>
</section>

<div class="clearfix"></div>
<br />
@{ 
    int count = 0;
}
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">          
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="tableLine table-striped jambo_table bulk_action">
                        @*<thead>
                            <tr>
                                @if (Model.DataTable != null)
                                {
                                    foreach (System.Data.DataColumn cl in Model.DataTable.Columns)
                                    {
                                        if (count > 0)
                                        {
                                        <th style="padding:4px">
                                            @cl.ColumnName
                                        </th>
                                        }
                                        count++;
                                    }
                                }
                            </tr>
                        </thead>*@
                        <tbody>

                           
                        </tbody>
                    </table>

                    @*@if (Model.DataTable != null)
                    {
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width:100%; height:8px;">
                            </div>
                        </div>
                    }*@
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="tableLine table-striped jambo_table bulk_action">

                        @*<thead>
                            <tr>
                                @if (Model.DataTable != null)
                                {
                                    foreach (System.Data.DataColumn cl in Model.DataTable.Columns)
                                    {
                                        <th style="padding:4px">
                                            @cl.ColumnName
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>*@
                        <tbody>

                            @*@if (Model.DataTable != null)
                            {
                                foreach (System.Data.DataRow dr in Model.DataTable.Rows)
                                {
                                    <tr>
                                        @for (int i = 0; i < Model.DataTable.Columns.Count; i++)
                                        {
                                            //string dateTime = i.ToString();
                                            <td>
                                                <div class="progress">

                                                    @if (dr[i].ToString().Contains("#"))
                                                    {
                                                        <div class="progress-bar progress-bar-success" style="width:100%; height:8px;">
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @dr[i].ToString()
                                                    }

                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>
