﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSection

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Reference Running Order Progress";
}


<section class="content-header">
    <h1>
        Current Production Running Order Progress
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Production</a></li>
        <li class="active">
            <b>Production Running Order Progress</b>
        </li>
    </ol>
</section>

<div class="clearfix"></div>
<br />

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">

                    <div class="col-md-12" style="border: 1px solid #d2d2d2;">
                        <div class="col-md-1" style="border-right: 1px solid #d2d2d2;padding: 8px;">Line No</div>
                        <div class="col-md-1" style="border-right: 1px solid #d2d2d2;padding: 8px;">Start</div>
                        <div class="col-md-9" style="border-right: 1px solid #d2d2d2;padding: 8px;">
                            Line Progress
                        </div>
                        <div class="col-md-1" style="padding: 8px;">Finish</div>
                    </div>
                    <div class="col-md-12" style="height:15px"></div>
                    <br />
                    @if (Model.CurrentProductionRunningProcessList != null)
                    {
                        foreach (var item in Model.CurrentProductionRunningProcessList)
                        {
                        <div class="col-md-12" style="border: 1px solid #d2d2d2;">
                            <div class="col-md-1" style="border-right: 1px solid #d2d2d2;padding: 8px;">@item.LineName</div>
                            <div class="col-md-1" style="border-right: 1px solid #d2d2d2;padding: 8px;">@item.StartTime</div>
                            @if (item.IsRunning == 1)
                            {
                            <div class="col-md-9" style="border-right: 1px solid #d2d2d2;padding: 8px;">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percent%">
                                   Running (@item.Percent %)
                                </div>
                            </div>
                            }
                            else if (item.IsRunning == 2)
                            {
                            <div class="col-md-9" style="border-right: 1px solid #d2d2d2;padding: 8px;">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percent%">
                                    Paused (@item.Percent %)
                                </div>
                            </div>
                            }
                            else if (item.IsRunning == 3)
                            {
                                <div class="col-md-9" style="border-right: 1px solid #d2d2d2;padding: 8px;">
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@item.Percent%">
                                    Stopped (@item.Percent %)
                                    </div>
                                </div>
                            }

                            <div class="col-md-1" style="padding: 8px;">Est: @item.FinishTime hr</div>
                        </div>
                        <div class="col-md-12" style="border: 1px solid #d2d2d2;">
                            <b> Information:</b> @item.Info
                        </div>
                        <div class="col-md-12" style="height:15px"></div>
                      <br />
                        }
                    }
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- /.box-body -->
    </div>
</div>

