﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_ReferenceFk, new { @id = "PlanOrderRefId" })
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_PlanReferenceOrderFk, new { @id = "PlanReferenceOrderFk" })
    @Html.HiddenFor(model => model.ProductionDailyPlan.BOMFk, new { @id = "MktBOMFk" })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Code, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.Code, ViewBag.Order as SelectList, "---Select Order ID---", new { @id = "Code", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, new SelectList(string.Empty, "Value", "Text"), "--Select a Line--", new { @id = "ProductionLineFk", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Color, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.Color, new SelectList(string.Empty, "Value", "Text"), "--Select a Line--", new { @id = "OrderColor", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })                
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Color, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">
    $("#Code").change(function () {
        var CodeValue = $("#Code").val();
        var value=CodeValue.split("_");
        var MktBOMFk = value[0];
        var PlanReferenceOrderFk = value[1];

        $("#MktBOMFk").val(MktBOMFk);
        $("#PlanReferenceOrderFk").val(PlanReferenceOrderFk);
        var PlanOrderRefId = $("#PlanOrderRefId").val();
        
        if (MktBOMFk != '' && PlanOrderRefId != '') {
            $("#ProductionLineFk").empty();
            $("#OrderColor").empty();
            $.get('@Url.Action("GetSwingOrderByLine", "Helper")', { ID: PlanReferenceOrderFk, PlanOrderRefId: PlanOrderRefId, BomId: MktBOMFk }, function (data) {

                $("#ProductionLineFk").append("<option value='0'>Select Line</option>")
                $.each(data, function (index, row) {
                    $("#ProductionLineFk").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
            $.get('@Url.Action("GetSwingOrderByColor", "Helper")', { BomId: MktBOMFk }, function (data) {

                $("#OrderColor").append("<option value='0'>Select Color</option>")
                $.each(data, function (index, row) {
                    $("#OrderColor").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        }
        else {
            $("#ProductionLineFk").empty();
            $("#OrderColor").empty();
        }
    });

    @*$("#MktBOMFk").change(function () {
        var MktBOMFk = $("#MktBOMFk").val();
        var PlanOrderRefId = $("#PlanOrderRefId").val();
        if (MktBOMFk != '' && PlanOrderRefId != '') {

            document.getElementById("ProductionLineFk").innerHTML = "";
            document.getElementById("OrderColor").innerHTML = "";
            $.get('@Url.Action("GetSwingOrderByLine", "Helper")', { PlanOrderRefId: PlanOrderRefId, BomId: MktBOMFk }, function (data) {

                $("#ProductionLineFk").append("<option value='0'>Select Line</option>")
                $.each(data, function (index, row) {
                    $("#ProductionLineFk").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
            $.get('@Url.Action("GetSwingOrderByColor", "Helper")', { BomId: MktBOMFk }, function (data) {

                $("#OrderColor").append("<option value='0'>Select Color</option>")
                $.each(data, function (index, row) {
                    $("#OrderColor").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        }
        else {
            document.getElementById("ProductionLineFk").innerHTML = "";
            document.getElementById("OrderColor").innerHTML = "";
        }
    });*@

    @*$("#ProductionLineFk").change(function () {
        var MktBOMFk = $("#MktBOMFk").val();
        var PlanOrderRefId = $("#PlanOrderRefId").val();
        var lineId = $("#ProductionLineFk").val();
        if (lineId != '' && MktBOMFk != '' && PlanOrderRefId != '') {
            $.get('@Url.Action("GetSwingOrderBySMVPaper", "Helper")', { PlanOrderRefId: PlanOrderRefId, BomId: MktBOMFk, LineId: lineId }, function (data) {

                $('#Prod_PlanReferenceOrderFk').val(data.ID);
            });
        }
        else {
            alert("Plan Order Reference not found.");
        }
    });*@
</script>