﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_ReferenceFk, new { @id = "PlanOrderRefId" })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.BOMFk, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.BOMFk, ViewBag.Order as SelectList, "---Select Order ID---", new { @id = "MktBOMFk", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.BOMFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Color, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.Color, new SelectList(string.Empty, "Value", "Text"), "--Select a Line--", new { @id = "OrderColor", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Color, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">
    $("#MktBOMFk").change(function () {
        var MktBOMFk = $("#MktBOMFk").val();
        var PlanOrderRefId = $("#PlanOrderRefId").val();
        if (MktBOMFk != '' && PlanOrderRefId != '') {
            document.getElementById("OrderColor").innerHTML = "";
            $.get('@Url.Action("GetSwingOrderByColor", "Helper")', { BomId: MktBOMFk }, function (data) {

                $("#OrderColor").append("<option value='0'>Select Color</option>")
                $.each(data, function (index, row) {
                    $("#OrderColor").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                });
            });
        }
        else {
            document.getElementById("OrderColor").innerHTML = "";
        }
    });
</script>