﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Cutting Plan";
    WebGrid grid = new WebGrid(Model.PlanDataList, canPage: false);
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Plan Reference Order <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit plan Reference Order <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>

<div id="dialog-alert" style="display: none"></div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>
        Add Plan Order
        (
        @Html.ActionLink(" ", "VmProd_PlanReferenceOrderCreate", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @title = "Add Order", @class = "lnkCreate glyphicon glyphicon-plus" })
        )
        &nbsp;&nbsp;
        (
        @Html.ActionLink(" ", "ManagePlanReferenceOrder", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @title = "Delete Zero Plan", @class = "glyphicon glyphicon-trash" })
        ) 
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cutting Plan</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                @grid.GetHtml(htmlAttributes: new { id = "DataTable2" },
                        tableStyle: "table",
                        columns: grid.Columns(
                          grid.Column(
                              header: "Date",
                              format: @<text><span class=""><label id="lblEntryDate">@item.EntryDate.ToString("d")</label></span></text>),
                          grid.Column(
                              header: "OrderNo",
                              format: @<text><span class=""><label id="lblOrderNo">@item.OrderNo</label></span></text>),
                           grid.Column(
                              header: "Port",
                              format: @<text><span class=""><label id="lblPort">@item.Port</label></span></text>),
                           grid.Column(
                              header: "Color",
                              format: @<text><span class=""><label id="lblColor">@item.Color</label></span></text>),
                           grid.Column(
                              header: "Size",
                              format: @<text><span class=""><label id="lblSize">@item.Size</label></span></text>),
                            grid.Column(
                              header: "OrderQty",
                              format: @<text><span class=""><label id="lblOrderQty">@item.OrderQty</label></span></text>),
                          grid.Column(
                              header: "RemainQty",
                              style: "text-blue bg-danger",
                              format: @<text><span class=""><label id="lblRemainQty">@item.RemainQty</label></span></text>),
                          grid.Column(
                              header: "PlanQty",
                              format: @<text>
                                <span class="display"><label id="lblCuttingPlanQuantity">@item.CuttingPlanQuantity</label></span>
                                @Html.TextBox("tbxCuttingPlanQuantity", (int)item.CuttingPlanQuantity, new { @class = "edit form-control", @style = "width:70px;" })
                            </text>),
                            grid.Column(
                              header: "Table",
                              format: @<text>
                                <span class="display"><label id="lblPlanProductionLineFk">@item.LineTable</label></span>
                                @Html.DropDownListFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, new SelectList(ViewBag.LineName, "Value", "Text"), new { id = "tbxPlanProductionLineFk", @class = "edit form-control" })
                            </text>),
                          grid.Column(
                              header: "Ext.Cut",
                              format: @<text><span class=""><label id="lblCuttingExtra">@item.CuttingExtra</label></span></text>),
                            grid.Column(
                              header: "GSM",
                              format: @<text><span class=""><label id="lblGSM">@item.GSM</label></span></text>),
                            grid.Column(
                              header: "Chief/SV",
                              format: @<text>
                                <span class=""><label id="lblLineChiefSupervisor">@item.LineChiefSupervisor</label></span>
                            </text>),
                            grid.Column(
                              header: "Action",
                              format: @<text>
                                <a class="edit-book display glyphicon glyphicon-pencil" id="@item.Prod_PlanReferenceOrderFk"></a>
                                <a class="save-book edit glyphicon glyphicon-ok" id="@item.Prod_PlanReferenceOrderFk"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                            </text>)
                            ))
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var buttonId = '';
        $('.edit').hide();
        $('.edit-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 1;
        });

        $('.update-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 2;
        });

        $('.cancel-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.save-book').on('click', function () {

            var tr = $(this).parents('tr:first');

            var PlanRefOrderFK = $(this).prop('id');
            var CuttingPlanQuantity = tr.find("#tbxCuttingPlanQuantity").val();
            var tbxPlanProductionLineFk = tr.find("#tbxPlanProductionLineFk").val();

            tr.find("#lblCuttingPlanQuantity").text(CuttingPlanQuantity);

            var ProductionDailyPlan =
            {
                "Prod_PlanReferenceOrderFk": PlanRefOrderFK,
                "Prod_ReferenceFk": 0,
                "CuttingPlanQuantity": CuttingPlanQuantity,
                "Plan_ProductionLineFk": tbxPlanProductionLineFk
            };

            var isSuccess = -1;
            var TotalQty = 0;
            var LineName = '';
            var CheifSVName = '';

            $.ajax({
                url: '@Url.Action("VmProd_PlanReferenceOrderItemEdit", "Production")',
                data: JSON.stringify(ProductionDailyPlan),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    isSuccess = result.result;
                    LineName = result.lineName;
                    CheifSVName = result.cheifsupervisor;
                },
                error: function (result) {
                    isSuccess = result;
                }
            }).done(function () {
                if (isSuccess == "1") {
                    tr.find("#lblPlanProductionLineFk").text(LineName);
                    tr.find("#lblLineChiefSupervisor").text(CheifSVName);
                    tr.find('.edit, .display').toggle();
                }
                else {
                    alert("Error. Please, check the data");
                }
            });

        });
    });
</script>