﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Sewing Plan";
    WebGrid grid = new WebGrid(Model.PlanDataList, canPage: false);
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 560,
            width: 650,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create Plan Reference Order <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Plan Reference Order <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Plan Order Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>
        Add Plan Order
        (
        @Html.ActionLink(" ", "VmProd_PlanReferenceOrderSewingCreate", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @title = "Add Order", @class = "lnkCreate glyphicon glyphicon-plus" })
        )
        &nbsp;&nbsp;
        Add Previous Plan
        (
        @Html.ActionLink(" ", "AddSewingPreviousPlan", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @title = "Previous Plan", @class = "glyphicon glyphicon-plus" })
        )
        &nbsp;&nbsp;
        (
        @Html.ActionLink(" ", "productionReportView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Achivement Report", @class = "glyphicon glyphicon-print" })
        &nbsp;&nbsp;
        @Html.ActionLink(" ", "ProductionorderReportView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Order Summary Report", @class = "glyphicon glyphicon-print" })
        &nbsp;&nbsp;
        @Html.ActionLink(" ", "BuyerProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK, SId = 2 }, new { @target = "_blank", @title = "Production Report", @class = "glyphicon glyphicon-print" })
        &nbsp;&nbsp;
        @Html.ActionLink(" ", "HourlyLineProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Hourly Production Report", @class = "glyphicon glyphicon-print" })
        &nbsp;&nbsp;
        @Html.ActionLink(" ", "MonthlyProduction", "Production", new { @target = "_blank", @title = "Monthly Production Report", @class = "glyphicon glyphicon-print" })
        )
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Reference</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="DataTable2" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>
                                OrderNo
                            </th>
                            <th>
                                SMV
                            </th>
                            <th>
                                LineNo
                            </th>
                            <th>
                                Opterator
                            </th>
                            <th>
                                Helper
                            </th>
                            <th>
                                LineChief|SuperVisor
                            </th>
                            <th>
                                Machine
                            </th>
                            <th>
                                WorkHour
                            </th>
                            <th>
                                HourTarget
                            </th>
                            <th>
                                TargetQty
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PlanDataList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SMV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineTable)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PresentOpt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfHelper)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineChiefSupervisor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MachineRunning)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkingHour)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PerHourTarget)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.SewingPlanQuantity)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "SewingPlanUpdate", new { OId = item.Prod_PlanReferenceOrderFk }, new { @title = "Plan Order Update", @class = "lnkEdit glyphicon glyphicon-pencil" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "SewingPlanDelete", new { OId = item.Prod_PlanReferenceOrderFk }, new { @title = "Plan Order Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
