﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Packing Followup";
    WebGrid grid = new WebGrid(Model.PlanDataList, canPage: false);
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Plan Reference Order <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Plan Reference Followup <button type='button' style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>

<div id="dialog-alert" style="display: none">
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>
        Order Followup
        (
        @Html.ActionLink(" ", "VmCreatePackOrderFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @title = "Add Order", @class = "lnkCreate glyphicon glyphicon-plus" })
        )
        &nbsp;&nbsp;
        (
        Daily Packing 
        @Html.ActionLink(".", "DailyPacking", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Production Report", @class = "glyphicon glyphicon-print" })
        )
        &nbsp;&nbsp;
        (
        @Html.ActionLink(" ", "DeleteZeroFollowup", "Production", new { RId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK, SId = 4 }, new { @title = "Delete Zero Followup", @class = "glyphicon glyphicon-trash" })
        ) 
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Packing Followup</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                @grid.GetHtml(htmlAttributes: new { id = "DataTable2" },
                        tableStyle: "table",
                        columns: grid.Columns(
                          grid.Column(
                              header: "OrderNo",
                              format: @<text><span class=""><label id="lblOrderNo">@item.OrderNo</label></span></text>),
                           grid.Column(
                              header: "Port",
                              format: @<text><span class=""><label id="lblPort">@item.Port</label></span></text>),
                           grid.Column(
                              header: "Color",
                              format: @<text><span class=""><label id="lblColor">@item.Color</label></span></text>),
                           grid.Column(
                              header: "Size",
                              format: @<text><span class=""><label id="lblSize">@item.Size</label></span></text>),
                          grid.Column(
                              header: "OrderQty",
                              format: @<text><span class=""><label id="lblOrderQty">@item.OrderQty</label></span></text>),
                            grid.Column(
                              header: "CuttingQty",
                              format: @<text><span class=""><label id="lblOrderQty">@item.CuttingDoneQuantity</label></span></text>),
                            grid.Column(
                              header: "SewingQty",
                              format: @<text><span class=""><label id="lblSewingDoneQuantity">@item.SewingDoneQuantity</label></span></text>),
                            grid.Column(
                              header: "IronQty",
                              format: @<text><span class=""><label id="lblIronDoneQuantity">@item.IronDoneQuantity</label></span></text>),
                            @*grid.Column(
                              header: "PlanQty",
                              style: "bg-danger text-blue",
                              format: @<text><span class=""><label id="lblPackingPlanQuantity">@item.PackingPlanQuantity</label></span></text>),*@
                          grid.Column(
                              header: "DoneQty",
                              format: @<text>
                                <span class="display"><label id="lblPackingDoneQuantity">@item.PackingDoneQuantity</label></span>
                                @Html.TextBox("tbxPackingDoneQuantity", (int)item.PackingDoneQuantity, new { @class = "edit" })
                            </text>),
                            grid.Column(
                              header: "Action",
                              format: @<text>
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="@item.ID"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="@item.ID"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                @Html.ActionLink(".", "PlanReferenceFollowup", new { rid = item.ID, SectionId = 4 }, new { @title = "View Details", @class = "lnkEdit glyphicon glyphicon-th-list" }) &nbsp;
                            </text>)
                            ))
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.edit').hide();

        $('.update-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.cancel-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.save-book').on('click', function () {

            var tr = $(this).parents('tr:first');

            var PlanRefOrderFK = $(this).prop('id');
            var PackingDoneQuantity = tr.find("#tbxPackingDoneQuantity").val();
            var isSuccess = -1;
            var TotalQty = 0;

            var ProductionDailyPlan =
            {
                "ID": PlanRefOrderFK,
                //"Prod_PlanReferenceOrderFk": PlanRefOrderFK,
                "PackingDoneQuantity": PackingDoneQuantity
            };

            $.ajax({
                url: '@Url.Action("VmOrderProductionPackingUpdate", "Production")',
                data: JSON.stringify(ProductionDailyPlan),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    isSuccess = result.result;
                    TotalQty = result.qty;
                },
                error: function (result) {
                    isSuccess = result;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    tr.find("#lblPackingDoneQuantity").text(TotalQty);
                    tr.find('.edit, .display').toggle();
                    //alert("Successfully Saved");
                }
                else {
                    alert("Error. Please, check the data");
                }
            });

        });
    });
</script>