﻿
@model Oss.Romo.ViewModels.Production.VmPlan_PartyWiseLeftOver
@{
    ViewBag.Title = "VmPlan_PartyWiseLeftOverReport";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}



<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({

            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Make Payment Supplier wise: <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar").html("Make Payment Supplier wise  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Delete Payment Supplier wise.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Supplier Wise Left Over
    </h1>
    <ol class="breadcrumb"></ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">

                <div class="table-responsive">
                    @{
                        int sl = 0;
                    }
                </div>
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Supplier</th>
                                <th>IPO. Id</th>
                                <th>Perticulers</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmPlanPartyWiseLeftOver)
                            {
                                <tr>
                                    <td><b>@(++sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupplierName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Perticulers)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>




