﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Reports";
}

<section class="content-header">
    <h1>
        Production Report
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Report</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="box-body">
            <div class="col-md-1"></div>
                <div class="box-body col-md-4">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Reference No</span>
                        <input style="width: 200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.CID)">
                    </div>
                </div>
                <div class="box-body col-md-3">
                    <div class="input-group">
                        <span style="width: 140px;" class="input-group-addon">From Date</span>
                        <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.FromDate)">
                    </div>
                </div>
                <div class="box-body col-md-3">
                    <div class="input-group">
                        <span style="width: 140px;" class="input-group-addon">To Date</span>
                        <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.ToDate)">
                    </div>
                </div>
            </div><!-- /.box-body -->
   
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading bg-blue-gradient text-center">
                <h4>Cutting Report</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Daily Report", "DailyCutting", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Production Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("PO Wise Report", "OrderProduction", "Production", null, new { @target = "_blank", @title = "PO Wise Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Clossing Report", "ProductionClose", "Production", null, new { @target = "_blank", @title = "Clossing Report", @class = "btn btn-default btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading bg-green text-center">
                <h4>Sewing Report</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Daily Sewing", "BuyerProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Sewing Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Daily Achivement", "productionReportView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Achivement Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Order Summary", "ProductionorderReportView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Order Summary Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Production Report", "BuyerProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK, SId = 2 }, new { @target = "_blank", @title = "Production Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Hourly Production", "HourlyLineProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Hourly Production Report", @class = "btn btn-default btn-block" })
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Monthly Production", "MonthlyProduction", "Production", new { @target = "_blank", @title = "Monthly Production Report", @class = "btn btn-default btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading bg-navy text-center">
                <h4>Iron Report</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Daily Iron", "DailyIroning", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Ironning Report", @class = "btn btn-default btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading bg-aqua text-center">
                <h4>Pack/Finish Report</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row" style="padding-bottom:10px;">
                        @Html.ActionLink("Daily Packing", "DailyPacking", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Daily Packing Report", @class = "btn btn-default btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
               
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                              <center><span><a href="#"><b>Daily Production</b></a></span></center>  
                         </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:red" id="Daily">
                                @Html.ActionLink("Daily Production", "BuyerProductionView", "Production", new { RefId = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK, SId = 1 }, new {id="acoountTag", @target = "_blank", @title = "Daily Production Report" })

                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                             <center><span><a href="#"><b>Accounting</b></a></span></center>       
                            </div>
                    
                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:darkseagreen">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:gray">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:darkseagreen">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:red">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:darkseagreen">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:gray">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div>
                                <center><span><a href="#"><b>Accounting</b></a></span></center>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body" style="height:80px; width:150px ;background-color:darkseagreen">
                                @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank" })
                                <a href="#">
                                </a>
                            </div>

                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>*@
</div>

@*<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
@*<script type="text/javascript">
   $(document).ready(function () {
        $('#Daily').click(function () {
            $("#acoountTag")[0].click();
        });
    });
</script>*@



