﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Order";
}

<section class="content-header">
    <h1>
        Plan Reference Process
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Plan Reference</a></li>
        <li class="active">Plan Reference Process</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="box-body">
        <div class="col-md-1"></div>
        <div class="box-body col-md-4">
            <div class="input-group">
                <span style="width: 160px;" class="input-group-addon">Reference No</span>
                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.CID)">
            </div>
        </div>

        <div class="box-body col-md-3">
            <div class="input-group">
                <span style="width: 140px;" class="input-group-addon">From Date</span>
                <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.FromDate)">
            </div>
        </div>
        <div class="box-body col-md-3">
            <div class="input-group">
                <span style="width: 140px;" class="input-group-addon">To Date</span>
                <input style="width: 160px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Prod_Reference.ToDate)">
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
                    Production Section Plan
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="padding-bottom:10px;">
                    <div class="col-md-6">
                        @Html.ActionLink("Cutting", "VmOrderProductionCuttingProcess", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Cutting Plan", @class = "btn btn-block btn-primary" })                      
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Sewing", "VmOrderProductionSewingProcess", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Sewing Plan", @class = "btn btn-block btn-success" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink("Ironing", "VmOrderProductionIronProcess", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Ironing Plan", @class = "btn btn-block btn-warning" })                        
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Packing", "VmOrderProductionPackingProcess", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Packing Plan", @class = "btn btn-block btn-info" })
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
                    Production Followup
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="padding-bottom:10px;">

                    <div class="col-md-6">
                        @Html.ActionLink("Cutting", "VmOrderProductionCuttingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Cutting Followup", @class = "btn btn-block btn-primary" })                      
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Sewing", "VmOrderProductionSewingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Sewing Followup", @class = "btn btn-block btn-success" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink("Ironing", "VmOrderProductionIronFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Ironing Followup", @class = "btn btn-block btn-warning" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Packing", "VmOrderProductionPackingFollowup", "Production", new { rid = Model.Prod_PlanReferenceOrder.Prod_ReferenceFK }, new { @target = "_blank", @title = "Packing Followup", @class = "btn btn-block btn-info" })
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        @if (Model.IsProductionStart)
        {
            <h1>Plan Reference Process Start</h1>

        }
        else
        {
            <h1>.</h1>
        }

    </div>
    <div class="col-md-1"></div>
</div>