﻿@model Oss.Romo.ViewModels.Planning.VmPlan_OrderProcess

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create  Production Step  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update  Production Step <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete  Production Step.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Choose Today's Production Steps
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active">ProductionStep List</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
           
            @{
                int sl = 0;
            }
            <!-- /.box-header -->

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Plan_OrderProcess.StepName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Plan_OrderProcess.SerialNo)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Plan_OrderProcess.Description)
                                    </th>*@
                                    <th>Remarks</th>
                                    <th>Selected</th>

                                </tr>
                            </thead>
                            <tbody>


                                @{
                                    int i = 0;

                                    int SL = 0;
                                }


                                @*@for (int i = 0; i < Model.DataList2.Count(); i++)
                                    {


                                    }*@


                                @while (i < Model.DataListPlan_OrderProcesss.Count())
                                {
                                    <tr>
                                        <td><b>@(++SL ).</b></td>   

                                        <td>
                                            <b style="font-family:Calibri;font-size:15px;">
                                                @Model.DataListPlan_OrderProcesss[i].StepName
                                            </b>
                                        </td>

                                        <td>
                                            <b style="font-family:Calibri;font-size:15px;">
                                                @Model.DataListPlan_OrderProcesss[i].SerialNo
                                            </b>


                                        </td>
                                        @*<td>
                                            <b style="font-family:Calibri;font-size:15px;">
                                                @Model.DataListPlan_OrderProcesss[i].Description
                                            </b>


                                        </td>*@

                                        <td>
                                            @Html.HiddenFor(model => model.DataListPlan_OrderProcesss[i].ID)
                                            @Html.HiddenFor(model => model.DataListPlan_OrderProcesss[i].StepName)
                                            
                                                @Html.EditorFor(model => model.DataListPlan_OrderProcesss[i].Remarks)
                                          
                                        </td>
                                        <td style="width:100px">
                                           
                                            @Html.CheckBoxFor(model => model.DataListPlan_OrderProcesss[i].IsSelected, new { htmlAttributes = new { @class = "checkbox icheck" } })
                                        </td>

                                    </tr>
                                    i++;
                                }

                            </tbody>

                        </table>
                    </div>

                    <div>
                        <div class="col-md-4"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            <a href="~/Production/VmPlan_OrderProcessSlaveIndex">Go Today's Plan</a>
                        </div>
                        <p style="margin-left:50px">
                            <input type="submit" value="Plan(@DateTime.Now.ToLocalTime())" class="btn btn-success" />
                            @*<input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />*@
                        </p>
                    </div>
                </div>
                                    }





            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
