﻿@model Oss.Romo.ViewModels.Planning.VmPlan_ProductionLineRunning
@{
    ViewBag.Title = "Line Progress";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<section class="content-header">
    <h1>
        Production Order Progress
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Production</a></li>
        <li class="active">
            <b>Production Order Progress</b>
        </li>
    </ol>
</section>

<div class="clearfix"></div>
<br />

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Line No</td>
                            <td>Production Process Status</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <th style="width:150px;">
                                @Html.DisplayFor(modelitem=>item.Plan_ProductionLine.Name)
                                </th>
                                <th>
                                    @if (item.Plan_ProductionLineRunning != null)
                                    {
                                        if (item.Plan_ProductionLineRunning.TimeType == 1)
                                        {
                                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:20px;">
                                            </div>
                                            <div class="pull-left">@item.Plan_ProductionLineRunning.Date.TimeOfDay</div>
                                        }
                                        else if (item.Plan_ProductionLineRunning.TimeType == 2)
                                        {
                                            <div class="progress-bar progress-bar-yellow progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:20px;">
                                            </div>
                                            <div class="center-block">@item.Plan_ProductionLineRunning.Date.TimeOfDay</div>
                                        }
                                        else if (item.Plan_ProductionLineRunning.TimeType == 3)
                                        {
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:20px;">
                                            </div>
                                            <div class="pull-right">@item.Plan_ProductionLineRunning.Date.TimeOfDay</div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar"
                                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%; height:20px;">
                                        </div>
                                    }
                                </th>
                                @if (item.Plan_ProductionLineRunning != null)
                                {
                                    if (item.Plan_ProductionLineRunning.TimeType == null)
                                    {
                                        <th style="width:10px;">
                                            @Html.ActionLink("Start", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 1 }, new { onclick = "javascript:return false;", @class = "btn btn-success btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Pause", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 2 }, new { onclick = "javascript:return false;", @class = "btn btn-warning btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Stop", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 3 }, new { onclick = "javascript:return false;", @class = "btn btn-danger btn-block", @disabled = "disabled" })
                                        </th>
                                    }
                                    else if (item.Plan_ProductionLineRunning.TimeType == 1)
                                    {
                                        <th style="width:10px;">
                                            @Html.ActionLink("Start", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 1 }, new { onclick = "javascript:return false;", @class = "btn btn-success btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Pause", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 2 }, new { @class = "btn btn-warning btn-block" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Stop", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 3 }, new { @class = "btn btn-danger btn-block" })
                                        </th>
                                    }
                                    else if (item.Plan_ProductionLineRunning.TimeType == 2)
                                    {
                                        <th style="width:10px;">
                                            @Html.ActionLink("Start", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 1 }, new { @class = "btn btn-success btn-block" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Pause", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 2 }, new { onclick = "javascript:return false;", @class = "btn btn-warning btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Stop", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 3 }, new { @class = "btn btn-danger btn-block" })
                                        </th>
                                    }
                                    else if (item.Plan_ProductionLineRunning.TimeType == 3)
                                    {
                                        <th style="width:10px;">
                                            @Html.ActionLink("Start", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 1 }, new { @class = "btn btn-success btn-block" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Pause", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 2 }, new { onclick = "javascript:return false;", @class = "btn btn-warning btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Stop", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 3 }, new { onclick = "javascript:return false;", @class = "btn btn-danger btn-block", @disabled = "disabled" })
                                        </th>
                                    }
                                }
                                else
                                {
                                    <th style="width:10px;">
                                        @Html.ActionLink("Start", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 1 }, new { @class = "btn btn-success btn-block" })
                                    </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Pause", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 2 }, new { onclick = "javascript:return false;", @class = "btn btn-warning btn-block", @disabled = "disabled" })
                                        </th>
                                        <th style="width:10px;">
                                            @Html.ActionLink("Stop", "VmPlanProductionLineRunningCreate", new { Id = item.Plan_ProductionLine.ID.ToString() + "X" + 3 }, new { onclick = "javascript:return false;", @class = "btn btn-danger btn-block", @disabled = "disabled" })
                                        </th>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>