﻿@using System.Globalization
@using Oss.Romo.ViewModels.Production
@model Oss.Romo.ViewModels.Production.VmProd_Capacity
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Production Capacity:Create <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                " Production Capacity:Edit <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Production Capacity:Delete");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>


<section class="content-header">
    <h1>
        Production Capacity
        (&nbsp; <a href="VmProd_CapacityCreate" id="lnkCreate"title="Production Capacity Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Production Capacity</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Prod_Capacity.Month)-@Html.DisplayNameFor(model => model.Prod_Capacity.Year)
                            </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Capacity.TotalLineInFactory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Capacity.PerDayWorkingHour)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Capacity.TotalWorkingDays)
                            </th>
                            <th>
                                Total Working Hour
                            </th>
                            <th>
                                Total Capacity
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            int? perDayWorkingHour = item.Prod_Capacity.PerDayWorkingHour;
                            int? totalWorkingDays = item.Prod_Capacity.TotalWorkingDays;
                            int? totalLineInFactory = item.Prod_Capacity.TotalLineInFactory;

                            int? totalWorkingHour = perDayWorkingHour*totalWorkingDays;
                            int? TotalCapacity = totalWorkingHour*totalLineInFactory;
                            var MonthName = DateTimeFormatInfo.CurrentInfo.GetAbbreviatedMonthName(item.Prod_Capacity.Month);


                            <tr>
                                <td>
                                    @MonthName-@Html.DisplayFor(modelItem => item.Prod_Capacity.Year)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Capacity.TotalLineInFactory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Capacity.PerDayWorkingHour)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Capacity.TotalWorkingDays)
                                </td>
                                <td>
                                   @totalWorkingHour 
                                </td>
                                <td>
                                   @TotalCapacity Hour
                                </td>

                                <td>
                                    @Html.ActionLink(".", "VmProd_CapacityEdit", new { id = item.Prod_Capacity.ID }, new { @title = "Production Capacity Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_CapacityDelete", new { id = item.Prod_Capacity.ID }, new { @title = "Production Capacity Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>