﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProduction

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK)
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK, ViewBag.MasterPlan as SelectList, "---Select Order Process---", new { id="ddlPlan", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProduction.StartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProduction.StartDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divFinishDate">
            @Html.LabelFor(model => model.Prod_PlanReferenceProduction.FinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProduction.FinishDate, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.FinishDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="divCutting" style="display: none"> 
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.ExtraCutting, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.ExtraCutting, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.ExtraCutting, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div id="divSewing" style="display: none">
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.SMB, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.SMB, new {htmlAttributes = new {@class = "form-control ol-md-6 col-xs-6"}})
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.SMB, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.MachineQuantity, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.MachineQuantity, new {htmlAttributes = new {@class = "form-control ol-md-6 col-xs-6"}})
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.MachineQuantity, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.WorkingHour, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.WorkingHour, new {htmlAttributes = new {@class = "form-control ol-md-6 col-xs-6"}})
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.WorkingHour, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.NoOfOpetator, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.NoOfOpetator, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.NoOfOpetator, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.NoOfOpetator, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.NoOfHelper, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.NoOfHelper, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.NoOfHelper, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.NoOfHelper, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProduction.TargetPerHour, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProduction.TargetPerHour, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.TargetPerHour, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProduction.TargetPerHour, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<Script>
    $('#ddlPlan').on("change",
        function(e) {
            var txt = $("#ddlPlan option:selected").text();
            if (txt === "Cutting") {
                $("#divCutting").show();
                $("#divFinishDate").show();
                $("#divSewing").hide();
            } else if (txt === "Sewing") {
                $("#divSewing").show();
                $("#divCutting").hide();
                $("#divFinishDate").hide();

            } else {
                $("#divSewing").hide();
                $("#divCutting").hide();
                $("#divFinishDate").show();
            }
        }); 
</Script>