﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSection
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production Section";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create plan Reference Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Edit plan Reference Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete plan Reference Production Section.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>


<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Reference Production Section</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="box" style="margin-top: 10px">
    <div class="box-body">
        <h4>Order No : @Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.BuyerPo)</h4>
        <div class="row">
            <div class="col-xs-12">
                <!-- /.box -->

                <div class="box">

                    <div class="box-body table-responsive">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">Buyer Po </span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.BuyerPo)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon"> Step Name</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.Plan_OrderProcess.StepName)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon"> Quantity</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.Prod_PlanReference.Quantity)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">Port No</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.PortNo)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">Start Date</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.Prod_PlanReferenceProduction.StartDate)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">Finish Date</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.Prod_PlanReferenceProduction.FinishDate)">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>


       
    </div>
</div>

<div class="clearfix"></div>
<section class="content-header">
    <h1>
        Plan Reference Production Section &nbsp;(

        @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionCreate", new { pRefProdid = Model.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk, bomId = Model.BOMID , orderDeliveryScheduleId = Model.OrderDeliveryScheduleId }, new { @class = "lnkEdit glyphicon glyphicon-plus" })&nbsp;&nbsp;
        )
    </h1>
</section>
<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Date)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Plan_ProductionLineFk)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Color)
                            </th>
                            @if (Model.VmProd_PlanReferenceProduction.Plan_OrderProcess.ID == 30)
                            {

                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Layer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerPics)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerLength)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerWidth)
                                </th>
                            }


                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Size)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Quantity)
                            </th>
                            <th>
                                Done Quantiy
                            </th>
                            <th>
                                Sample Count
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Rejected
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList.GroupBy(x => new { x.Prod_PlanReferenceProductionSection, x.Plan_ProductionLine, x.SampleCount, x.Weight, x.Rejected, x.Quantity }))
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Plan_ProductionLine.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Color)
                                </td>
                                @if (Model.VmProd_PlanReferenceProduction.Plan_OrderProcess.ID == 30)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Layer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerPics)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerLength)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerWidth)
                                    </td>
                                }
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.SampleCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Rejected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionEdit", new { pRefProdSecid = item.Key.Prod_PlanReferenceProductionSection.ID, pRefProdid = item.Key.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk, bomId = Model.BOMID, orderDeliveryScheduleId = Model.OrderDeliveryScheduleId }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionDelete", new { pid = item.Key.Prod_PlanReferenceProductionSection.ID, pRefProdiD = item.Key.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk, bomID = Model.BOMID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionFollowupIndex", new { id = item.Key.Prod_PlanReferenceProductionSection.ID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Followup" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <h3 style="text-decoration: underline;">
                <center>
                    <b>Size & Color With @Html.DisplayFor(m => m.VmProd_PlanReferenceProduction.Prod_PlanReferenceProduction.ExtraCutting) % Extra</b>
                </center>
            </h3>
            <div class="col-md-12">

                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                @foreach (System.Data.DataColumn col in (ViewBag.ColorSizeDimension as System.Data.DataTable).Columns)
                                {
                                    <th>@col.Caption</th>
                                }
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                var l = (ViewBag.ColorSizeDimension as System.Data.DataTable).Columns.Count - 1;
                                decimal[] a = new decimal[l];
                                decimal grandTotal = 0;
                                foreach (System.Data.DataRow dr in (ViewBag.ColorSizeDimension as System.Data.DataTable).Rows)
                                {
                                    List<decimal> hqty = new List<decimal>();

                                    int flag = 0;
                                    int flag2 = 0;
                                    <tr>
                                        @foreach (var cell in dr.ItemArray)
                                        {
                                            if (flag != 0)
                                            {
                                                hqty.Add(Convert.ToDecimal(cell));
                                                a[flag2] += Convert.ToDecimal(cell);
                                                flag2++;
                                            }
                                            <td>@cell.ToString()</td>

                                            flag++;
                                        }
                                        <td>@hqty.Sum()</td>
                                        @{
                                            decimal total = hqty.Sum();
                                            grandTotal += total;
                                        }
                                    </tr>

                                            }
                                            <tr>
                                                <td style="text-align: center"><strong>Total</strong></td>
                                                @foreach (var total in a)
                                                {
                                                    <td><strong>@total</strong></td>
                                                }
                                                <td><strong>@grandTotal</strong></td>
                                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
