﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSectionFollowup

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x=>x.Prod_PlanReferenceProductionSectionFollowup.Prod_PlanReferenceProductionSectionFk)
        @Html.HiddenFor(x => x.OrderProcessID, new { @id = "orderProcessID" })


        <div class="form-group" id="divCID">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.CID, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.CID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Quantity, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Quantity, new {htmlAttributes = new {@class = "form-control ol-md-6 col-xs-6"}})
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Quantity, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group" id="divPicWeight">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.PicWeight, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.PicWeight, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.PicWeight, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>Per Piece</i>
                    </div>
                </div>

            </div>
        </div>




        <div class="form-group" id="divSampleCount">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.SampleCount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.SampleCount, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.SampleCount, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Rejected, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Rejected, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Rejected, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Note, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.TextAreaFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Note, new  { @style="width:275px;height:100px;" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSectionFollowup.Note, "", new { @class = "text-danger" })
            </div>
        </div>
        
        
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}


<script>
    $(document).ready(function() {

        var orderProcess = $("#orderProcessID").val();
        if (orderProcess == 32) {
            $("#divCID").hide();
            $("#divPicWeight").hide();
            $("#divSampleCount").hide();
        }


    })


</script>