﻿@using System
@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSectionFollowup
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Section Followup";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Production Followup <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit Production Followup <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Production Followup");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
        Plan Production Section Details

    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Production Followup</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="box box-info">
                    <h4>
                        @Html.DisplayFor(x => x.BuyerPO)
                    </h4>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">

                                    <b>@Html.DisplayName("Order No")</b>

                                </span>
                                <textarea style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.BuyerPO)</textarea>
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">

                                    <b>@Html.DisplayName("Date")</b>

                                </span>
                                <span style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Prod_PlanReferenceProductionSection.Date)</span>
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">

                                    <b>@Html.DisplayName("Line Name")</b>

                                </span>
                                <span style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Plan_ProductionLine.Name)</span>
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">

                                    <b>@Html.DisplayName("Color")</b>

                                </span>
                                <span style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Prod_PlanReferenceProductionSection.Color)</span>
                            </div>

                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">

                                    <b>@Html.DisplayName("Size")</b>

                                </span>
                                <span style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Prod_PlanReferenceProductionSection.Size)</span>
                            </div>

                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">
                                    <b>
                                        @Html.DisplayName("Quantity")
                                    </b>

                                </span>
                                <span style="width: 280px;" type="text" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Prod_PlanReferenceProductionSection.Quantity)</span>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- /.box -->
                            <div class="box">
                                <h3>
                                    Production Followup
                                    (&nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionFollowupCreate", "Production", new { ProdPlanReferenceProductionSectionID = Model.Prod_PlanReferenceProductionSection.ID, bomId = Model.Mkt_BOM.ID, orderProcessId = Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK }, new { @title = "Production Followup Create", @class = "lnkCreate glyphicon glyphicon-plus" })





                                    &nbsp;)
                                </h3>
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr>

                                                <th>SL</th>
                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <th>Number</th>
                                                }

                                                <th>Item Name</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Quantity</th>
                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <th>Weight Per Piece</th>
                                                }




                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <th>Total Weight</th>
                                                    <th>Sample Count</th>
                                                }
                                                <th>Rejected</th>
                                                <th>Note</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 1;
                                            int sumquantity = 0;
                                            int totalquantity = 0;
                                            decimal sumsample = 0;
                                            decimal sumweight = 0;
                                            decimal sumrejected = 0;
                                            decimal TotalWeight = 0;

                                            <tbody>

                                                @foreach (var followup in Model.DataList)
                                                {
                                                    if (followup.Prod_PlanReferenceProductionSectionFollowup.Quantity != null)
                                                    {
                                                        sumquantity += followup.Prod_PlanReferenceProductionSectionFollowup.Quantity.Value;
                                                    }
                                                    if (followup.Prod_PlanReferenceProductionSectionFollowup.SampleCount != null)
                                                    {
                                                        sumsample += followup.Prod_PlanReferenceProductionSectionFollowup.SampleCount.Value;
                                                    }

                                                    if (followup.Prod_PlanReferenceProductionSectionFollowup.Rejected != null)
                                                    {
                                                        sumrejected += followup.Prod_PlanReferenceProductionSectionFollowup.Rejected.Value;
                                                    }
                                                    if (followup.Prod_PlanReferenceProductionSectionFollowup.PicWeight != null)
                                                    {
                                                        decimal Weight = followup.Prod_PlanReferenceProductionSectionFollowup.PicWeight.Value;
                                                        decimal quantity = followup.Prod_PlanReferenceProductionSectionFollowup.Quantity.Value;
                                                        TotalWeight = quantity * Weight;
                                                        sumweight += TotalWeight;
                                                    }
                                                    if (followup.Prod_PlanReferenceProductionSectionFollowup.Rejected != null)
                                                    {
                                                        sumrejected += followup.Prod_PlanReferenceProductionSectionFollowup.Rejected.Value;
                                                    }
                                                    <tr>
                                                        <td>@sl</td>

                                                        @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                        {
                                                            <td>@followup.Prod_PlanReferenceProductionSectionFollowup.CID</td>
                                                        }
                                                        <td>@followup.Prod_TransitionItemInventory.ItemName</td>
                                                        <td>
                                                            @if (followup.Prod_PlanReferenceProductionSectionFollowup.FirstCreated != null)
                                                            {
                                                                @followup.Prod_PlanReferenceProductionSectionFollowup.Date
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (followup.Prod_PlanReferenceProductionSectionFollowup.FirstCreated != null)
                                                            {
                                                                @String.Format("{0:t}", followup.Prod_PlanReferenceProductionSectionFollowup.FirstCreated.Value)
                                                            }
                                                        </td>
                                                        <td>@followup.Prod_PlanReferenceProductionSectionFollowup.Quantity</td>

                                                        @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                        {
                                                            <td>@followup.Prod_PlanReferenceProductionSectionFollowup.PicWeight</td>
                                                        }
                                                        @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                        {
                                                            <td>@string.Format("{0:0.000}", TotalWeight)</td>
                                                            <td>@followup.Prod_PlanReferenceProductionSectionFollowup.SampleCount</td>
                                                        }
                                                        <td>@followup.Prod_PlanReferenceProductionSectionFollowup.Rejected</td>
                                                        <td>@followup.Prod_PlanReferenceProductionSectionFollowup.Note</td>

                                                        <td>
                                                            @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionFollowupEdit", new { FollowupId = followup.Prod_PlanReferenceProductionSectionFollowup.ID, orderProcessId = Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK }, new { @title = "Production Followup Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                        </td>
                                                    </tr>
                                                    sl++;

                                                }

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td></td>
                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <td></td>
                                                }


                                                <td style="text-align: center"><strong>Total:</strong></td>
                                                <td></td>
                                                <td></td>


                                                <td><strong>@sumquantity</strong> </td>


                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <td></td>
                                                    <td>
                                                        <strong>
                                                            @string.Format("{0:0.000}", sumweight)
                                                        </strong>


                                                    </td>
                                                }

                                                @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK != 32)
                                                {
                                                    <td><strong>@sumsample</strong></td>
                                                }

                                                <td><strong>@sumrejected</strong></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tfoot>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>
