﻿@model Oss.Romo.ViewModels.Production.VmProd_Reference
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production plan Reference";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Plan Reference  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit  Plan Reference <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Plan Reference Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>
        Plan Reference
        (&nbsp; <a href="VmProd_PlanReferenceCreate" id="lnkCreate" title="Create Plan Reference"><i class="glyphicon glyphicon-plus"></i></a>)
        &nbsp;&nbsp;
        Order Production
        (
        @Html.ActionLink(" ", "OrderProduction", "Production", null, new { @target = "_blank", @title = "Cutting Report", @class = "glyphicon glyphicon-print" })
        )
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Plan Reference</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>Reference NO</th>
                            <th>FromDate</th>
                            <th>ToDate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>@Html.DisplayFor(modelItem => item.Prod_Reference.CID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Prod_Reference.FromDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.Prod_Reference.ToDate)</td>
                                <td>
                                    @*@Html.ActionLink(".", "VmProd_PlanReferenceEdit", new { id = item.Prod_Reference.ID }, new { @title = "Edit Plan Reference", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;*@
                                    @*@Html.ActionLink(".", "VmProd_PlanReferenceDelete", new { id = item.Prod_Reference.ID }, new { @title = "Delete Plan Reference", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;*@
                                    @Html.ActionLink(".", "VmPlanReferenceOrderProcess", new { rid = item.Prod_Reference.ID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Details" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmPlanReferenceReportProcess", new { rid = item.Prod_Reference.ID }, new { @class = "glyphicon glyphicon-print", target = "_blank", title = "Report Process" })&nbsp;&nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>