﻿
@{
    ViewBag.Title = "VmProductionAchivement";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <div class="box-body">
        <a class="btn btn-block btn-social btn-bitbucket" href="VmStepWiseProductionReport" id="lnkCreate">
            <i class="fa fa-print"></i>Step Wise Production Report
        </a>
    </div>
</div>