﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceOrder
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_ReferenceFk)
    @Html.HiddenFor(model => model.ProductionDailyPlan.BOMFk, new { @id = "BOMFk" })
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_LineChiefFk, new { @id= "Prod_LineChiefFk" })
    @Html.HiddenFor(model => model.ProductionDailyPlan.Prod_SVNameFk, new { @id = "Prod_SVNameFk" })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, ViewBag.Line as SelectList, "---Select a Line---", new {@id= "ProductionLineFk", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.Plan_ProductionLineFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.ID, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ProductionDailyPlan.ID, ViewBag.Order as SelectList, "---Select Order ID---", new { @id = "SMVID", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Order Item", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-4" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.LineTable, new { htmlAttributes = new { @id = "LineTable", @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.LineTable, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.MachineRunning, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.MachineRunning, new { htmlAttributes = new {@id= "MachineRunning", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.MachineRunning, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.PresentOpt, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.PresentOpt, new { htmlAttributes = new { @id = "PresentOpt", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.PresentOpt, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.NoOfHelper, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.NoOfHelper, new { htmlAttributes = new { @id = "NoOfHelper", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.NoOfHelper, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductionDailyPlan.WorkingHour, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ProductionDailyPlan.WorkingHour, new { htmlAttributes = new { @id = "WorkingHour", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ProductionDailyPlan.WorkingHour, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductionDailyPlan.SMV, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-4" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.ProductionDailyPlan.SMV, new { htmlAttributes = new { @id = "SMV", @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.ProductionDailyPlan.SMV, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductionDailyPlan.PerHourTarget, htmlAttributes: new { @class = "control-label col-md-5 col-sm-5 col-xs-5" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.ProductionDailyPlan.PerHourTarget, new { htmlAttributes = new { @id = "PerHourTarget", @readonly = "readonly", @class = "form-control col-md-7 col-xs-7" } })
                        @Html.ValidationMessageFor(model => model.ProductionDailyPlan.PerHourTarget, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductionDailyPlan.LineChiefSupervisor, htmlAttributes: new { @class = "control-label col-md-5 col-sm-5 col-xs-5" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.ProductionDailyPlan.LineChiefSupervisor, new { htmlAttributes = new { @id = "LineChiefSupervisor", @readonly = "readonly", @class = "form-control col-md-7 col-xs-7" } })
                        @Html.ValidationMessageFor(model => model.ProductionDailyPlan.LineChiefSupervisor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductionDailyPlan.SuperVisor, htmlAttributes: new { @class = "control-label col-md-5 col-sm-5 col-xs-5" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.ProductionDailyPlan.SuperVisor, new { htmlAttributes = new { @id = "SuperVisor", @readonly = "readonly", @class = "form-control col-md-7 col-xs-7" } })
                        @Html.ValidationMessageFor(model => model.ProductionDailyPlan.SuperVisor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        
        
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#SMVID").change(function () {
            var SMVID = $("#SMVID").val();
            //alert(BOMId);
            if (SMVID != '') {
                
                $.get('@Url.Action("GetOrderBySMVPaper", "Helper")', { Id: SMVID }, function (data) {
                    $('#BOMFk').val(data.Mkt_BOMFk);
                    $('#MachineRunning').val(data.NoOfOperator);
                    $('#NoOfHelper').val(data.NoOfHelper);
                    $('#SMV').val(data.TotalSMV);
                    $('#PerHourTarget').val(data.HourTarget);
                    $('#PresentOpt').val(data.NoOfOperator); 
                    $('#WorkingHour').val(data.DailyWorkHour); 
                    $('#LineTable').val(data.OrderItem);
                });
            }
            else {
                $('#BOMFk').val('');
                $('#MachineRunning').val('');
                $('#NoOfHelper').val('');
                $('#SMV').val('');
                $('#PerHourTarget').val('');
                $('#PresentOpt').val('');
                $('#WorkingHour').val('');
                $('#LineTable').val('');
            }
        });

        $("#ProductionLineFk").change(function () {
            var lineId = $("#ProductionLineFk").val();
            //alert(BOMId);
            if (lineId != '') {
                $.get('@Url.Action("GetLineWiseChiefSupervisor", "Helper")', { LineId: lineId }, function (data) {

                    $('#LineChiefSupervisor').val(data.CheifName);
                    $('#SuperVisor').val(data.SVName);
                    $('#Prod_LineChiefFk').val(data.CheifId);
                    $('#Prod_SVNameFk').val(data.SVID);
                });
            }
            else {

                $('#LineChiefSupervisor').val('');
                $('#SuperVisor').val('');
                $('#Prod_LineChiefFk').val('');
                $('#Prod_SVNameFk').val('');
            }
        });

    });

    </script>