﻿@model Oss.Romo.ViewModels.Production.VmProd_TransitionItemInventory
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_TransitionItemInventory.Prod_PlanReferenceProductionSectionFk)
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_TransitionItemInventory.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownList("Raw_CategoryFK", ViewBag.Raw_Category as SelectList, "--Select Category--", new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Raw_SubCategoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Item.Raw_SubCategoryFK, new SelectList(string.Empty, "Value", "Text"), "--Select SubCategory--", new { @id = "Raw_SubCategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Item.Raw_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.ItemName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemInventory.ItemName, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "Raw_ItemFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, ViewBag.OrderAndStyle as SelectList, "--Select Order And Style--", new { @id = "Raw_CategoryFK", @class = "SerchingDropDown form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_TransitionItemInventory.Quantity, new { htmlAttributes = new { @id = "quantity", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemInventory.Common_UnitFK, ViewBag.Unit as SelectList, "--Select unit--", new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Prod_MachineDIAFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemInventory.Prod_MachineDIAFk, ViewBag.MachineDIA as SelectList, "--Select Machine DIA--", new { @id = "Prod_MachineDIAFk", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Prod_MachineDIAFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

<script>
    $(function () {

        $('#Raw_CategoryFK').on("change", function (e) {
            var subCatId = $("#Raw_CategoryFK").val();
            if (subCatId != '') {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
                $.get("@Url.Action("GetRaw_SubCategory", "Helper")", { ID: subCatId }, function (data) {
                    $("#Raw_ItemFK").append("<option value='0'>---Select item---</option>");
                    $.each(data, function (index, row) {
                        $("#Raw_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                    });


                    var itemId = $("#Raw_SubCategoryFK").val();
                    document.getElementById("Raw_ItemFK").innerHTML = "";
                    $.get("@Url.Action("GetRaw_Item", "Helper")", { ID: itemId }, function (data) {
                        $.each(data, function (index, row) {
                            $("#Raw_ItemFK").append("<option selected='selected' value='" + row.Name + "'>" + row.Name + "</option>");
                        });
                    });




                });
            }
            else {
                document.getElementById("Raw_ItemFK").innerHTML = "";
            }
        });
        $('#Raw_SubCategoryFK').on("change", function (e) {
            var itemChangeId = $("#Raw_SubCategoryFK").val();
            if (itemChangeId != '') {
                document.getElementById("Raw_ItemFK").innerHTML = "";
                $.get("@Url.Action("GetRaw_Item", "Helper")", { ID: itemChangeId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.Name + "'>" + row.Name + "</option>");
                    });
                });
            }
            else {
                document.getElementById("Raw_ItemFK").innerHTML = "";
            }

        });

    });

</script>
