﻿@model Oss.Romo.ViewModels.Production.VmProd_TransitionItemMadeFrom
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Transition Item Made From";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {


        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Transition Item Made From Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Update Transition Item Made From <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Requisition Slave : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Transition Item Made From :

    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transition Item Made From</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @* @Html.HiddenFor(model => model.Prod_Requisition.ID)*@
        <!-- /.box -->
        <div class="box">
            <div class="box-body">

                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Item Name</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_TransitionItemInventory.Prod_TransitionItemInventory.ItemName)">
                    </div>
                </div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Quantity</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_TransitionItemInventory.Prod_TransitionItemInventory.Quantity)">
                    </div>
                </div>

                <!-- /.box-body -->
            </div>

            <div class="box-body">

                <h3>
                    Add Used Item
                    (&nbsp; <a href="~/Production/VmProd_TransitionItemMadeFromCreate/@Model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFK" id="lnkCreate"title="Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
                </h3>
                @{
                    int Sl = 0;

                }
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_TransitionItemMadeFrom.Mkt_POSlaveFK)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_TransitionItemMadeFrom.MakeFromQuantity)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @if (item.Prod_TransitionItemMadeFrom.Raw_ItemFK != 1)
                                    {
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)

                                    }
                                    else if (item.Prod_TransitionItemMadeFrom.Mkt_POSlaveFK != 1)
                                    {
                                        <span>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name) |
                                            @if (item.Mkt_POSlave != null)
                                            {
                                                if (item.Mkt_POSlave.Description != null)
                                                {
                                                    <span>
                                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description) |
                                                    </span>
                                                }

                                            }
                                            @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)

                                        </span>
                                    }
                                    else if (item.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFromFK != 1)
                                    {
                                        @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName)
                                    }
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_TransitionItemMadeFrom.MakeFromQuantity)
                                </td>
                                <td>
                                    @*<a href="@Url.Action("VmProd_TransitionItemMadeFromEdit", "Production", new RouteValueDictionary(new { id = item.Prod_TransitionItemMadeFrom.ID, tID = Model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFK }))" class="lnkEdit glyphicon glyphicon-pencil"></a>*@
                                    @Html.ActionLink(".", "VmProd_TransitionItemMadeFromDelete","Production", new { id = item.Prod_TransitionItemMadeFrom.ID,tID = Model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFK }, new {@title= "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                    &nbsp;
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


