﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSection
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production Section";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create plan Reference Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Edit plan Reference Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete plan Reference Production Section.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>


<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Reference Production Section</li>
    </ol>
</section>

<div class="clearfix"></div>
<section class="content-header">
    <h1>
        Previous Production Plan
    </h1>
</section>
<div class="row" style="margin-top: 10px">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Date)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Plan_ProductionLineFk)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Color)
                            </th>
                            @*@if (Model.VmProd_PlanReferenceProduction.Plan_OrderProcess.ID == 1)
                                {

                                    <th>
                                        @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Layer)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerPics)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerLength)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.MarkerWidth)
                                    </th>
                                }*@


                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Size)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Quantity)
                            </th>
                            <th>
                                Done Quantiy
                            </th>
                            <th>
                                Sample Count
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Rejected
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProductionSection.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList.GroupBy(x => new { x.Prod_PlanReferenceProductionSection, x.Plan_ProductionLine, x.SampleCount, x.Weight, x.Rejected, x.Quantity }))
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Plan_ProductionLine.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Color)
                                </td>
                                @*@if (Model.VmProd_PlanReferenceProduction.Plan_OrderProcess.ID == 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Layer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerPics)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerLength)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.MarkerWidth)
                                        </td>
                                    }*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.SampleCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Rejected)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.Prod_PlanReferenceProductionSection.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionEdit", new { pRefProdSecid = item.Key.Prod_PlanReferenceProductionSection.ID, pRefProdid = item.Key.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk, bomId = Model.BOMID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionDelete", new { pid = item.Key.Prod_PlanReferenceProductionSection.ID, pRefProdiD = item.Key.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk, bomID = Model.BOMID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionFollowupIndex", new { id = item.Key.Prod_PlanReferenceProductionSection.ID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Followup" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
