﻿@model Oss.Romo.ViewModels.Production.VmProd_OrderPlanning

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-9 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_OrderPlanning.Mkt_BOMFK, ViewBag.MktBomCIDStyle as SelectList, "-- Select Order --", new {@id= "Mkt_BOMFK", @class = "form-control SerchingDropDown col-md-9 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-9 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.ShipmentDate, new SelectList(string.Empty, "Value", "Text"), new { @id = "ShipmentDate", @class = "form-control SerchingDropDown col-md-9 col-xs-6" })
                @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.PlanQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.PlanQty, new { htmlAttributes = new { @id = "PlanQty", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.PlanQty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.ShipmentDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.ShipmentDate, new { htmlAttributes = new { @id = "ShipDate", @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.ShipmentDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.SampleApprovedDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.SampleApprovedDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.SampleApprovedDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.FabricInhouseDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.FabricInhouseDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.FabricInhouseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.AccessoriesInhouseDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.AccessoriesInhouseDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.AccessoriesInhouseDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_OrderPlanning.CuttingStartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_OrderPlanning.CuttingStartDate, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_OrderPlanning.CuttingStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#Mkt_BOMFK").change(function () {
            var BomId = $("#Mkt_BOMFK").val();
            if (BomId != '') {
                $("#ShipmentDate").empty();
                $.get('@Url.Action("GetAllShipmentInfo", "Helper")', { BomId: BomId }, function (data) {

                    $("#ShipmentDate").append("<option value='0'>Select Shipment Date</option>")
                    $.each(data, function (index, row) {
                        var d = moment(row.Name).format('YYYY/M/D')+"_"+row.Value;
                        $("#ShipmentDate").append("<option value='" + d + "'>" + d + "</option>")
                    });
                });
            }
            else {
                $("#ShipmentDate").empty();
            }
        });

        $("#ShipmentDate").change(function () {

            var alldata = $("#ShipmentDate").val();
            var BomId = $("#Mkt_BOMFK").val();
            var word = alldata.split('_');

            $("#PlanQty").val(word[1]);
            $('#ShipDate').datepicker("setDate", word[0]);
        });

    });

</script>