﻿@model Oss.Romo.ViewModels.Production.VmProd_Planning

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div class="row hide" id="errorbox">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" name="error" id="error" class="form-control col-md-12 col-sm-12 col-xs-12" readonly = "readonly" />
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BOMID)
    @Html.HiddenFor(model => model.Prod_PlanOrderId)
    @Html.HiddenFor(model => model.OrderQuantityPC)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationMessage("LineOverlap", new { @class = "text-danger" })
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Planning.Mkt_BOMFK, ViewBag.MktBomCIDStyle as SelectList, "-- Select Order --", new {
               @id = "MktBOMFK", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Planning.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.StartDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.StartDate, new { htmlAttributes = new { @id = "StartDate", @class = "calendarControl form-control col-md-6 col-xs-6", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.FinishDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.FinishDate, new { htmlAttributes = new { @id = "FinishDate", @class = "calendarControl form-control col-md-6 col-xs-6", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.FinishDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.Plan_ProductionLineFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Planning.Plan_ProductionLineFk, new SelectList(string.Empty, "Value", "Text"),"-- Select a Line --", new { @id = "Plan_ProductionLineFk", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Planning.Plan_ProductionLineFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.Capacity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.Capacity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.MachineQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.MachineQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.MachineQuantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.WorkingHour, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.WorkingHour, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.WorkingHour, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Planning.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Planning.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Planning.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" id="btnSave" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#MktBOMFK").attr('disabled', '');
        //$("#btnSave").attr('disabled', '');

        $("#StartDate").change(function () {
            var sDate = StartDate.value;
            var fDate = FinishDate.value;
            
            if (sDate != 0 && fDate != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetFreeLine", "Helper")",
                    datatype: "Json",
                    data: { StartDate: sDate, FinishDate: fDate },
                    success: function (data) {
                        $("#Plan_ProductionLineFk").empty();
                        $.each(data, function (index, row) {
                            $("#Plan_ProductionLineFk").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });
                    },
                    error: function (xhr, status) {
                        //$("#btnSave").attr('disabled', '');
                    }
                });
            }
        });

        $("#FinishDate").change(function () {
            var sDate = StartDate.value;
            var fDate = FinishDate.value;
            
            if (sDate != null && fDate != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetFreeLine", "Helper")",
                    datatype: "Json",
                    data: { StartDate: sDate, FinishDate: fDate },
                    success: function (data) {
                        $("#Plan_ProductionLineFk").empty();
                        $("#Plan_ProductionLineFk").append("<option value='0'>--Select a Line--</option>");
                        $.each(data, function (index, row) {
                            $("#Plan_ProductionLineFk").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });
                    },
                    error: function (xhr, status) {
                        //$("#btnSave").attr('disabled', '');
                    }
                });

            }
        });

        @*$("#Plan_ProductionLineFk").change(function () {
            var sDate = StartDate.value;
            var fDate = FinishDate.value;
            var LineId = $("#Plan_ProductionLineFk").val();

            if (LineId != 0 && sDate != null && fDate != null) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CheckOverlapLine", "Helper")",
                    datatype: "Json",
                    data: { LineId: LineId, StartDate: sDate, FinishDate: fDate },
                    success: function (data) {
                        if (data) {
                            $("#btnSave").removeAttr('disabled');
                            $('#errorbox').addClass("hide");
                        }
                        else {
                            $("#btnSave").attr('disabled', '');
                            $('#error').val("Selected line already assigned this date range.");
                            $('#errorbox').removeClass("hide");
                        }
                    },
                    error: function (xhr, status) {
                        $("#btnSave").attr('disabled');
                    }
                });
            }
        });*@
    });

</script>