﻿@model Oss.Romo.ViewModels.Production.VmProd_FinishItemTransferSlave
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_FinishItemTransferSlave.Prod_FinishItemTransferFK)
        @Html.HiddenFor(model => model.DepartmentId,new { @id= "DepartmentIdFk" })
        <div class="form-group">
            @Html.Label("Requisition Item", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_FinishItemTransferSlave.Prod_InputRequisitionSlaveFK, ViewBag.RequisitionItem as SelectList, "--Select Transfer Item--", new { @class = "form-control SerchingDropDown col-md-6 col-xs-6", id = "FIRequisitionSlaveFk" })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransferSlave.Prod_InputRequisitionSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AvailableQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.AvailableQty, new { htmlAttributes = new { id = "tbxAvailableQty", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.AvailableQty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("RequestQty", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.RemainQty, new { htmlAttributes = new { @id = "tbxRemainQty", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.RemainQty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransferSlave.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransferSlave.Quantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransferSlave.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransferSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransferSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransferSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">

    $(function () {
        $("#FIRequisitionSlaveFk").change(function () {
            var RequisitionSlaveId = $("#FIRequisitionSlaveFk").val();
            var UserFk = $("#DepartmentIdFk").val();
            if (RequisitionSlaveId != null, UserFk!=null) {
                $.get('@Url.Action("GetInputReqItemQty", "Helper")', { ID : RequisitionSlaveId, userId: UserFk }, function (data) {
                    $("#tbxAvailableQty").val(data.AvailableQty);
                    $("#tbxRemainQty").val(data.RequestQty);
                });
            }
            else {
                $("#tbxAvailableQty").empty();
                $("#tbxRemainQty").empty();
            }
        });
    });

</script>