﻿@model Oss.Romo.ViewModels.Production.VmProd_InputRequisitionSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_InputRequisitionSlave.Prod_InputRequisitionFk, new { id = "Prod_RequisitionFK" })
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisitionSlave.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_InputRequisitionSlave.Mkt_BOMFK, ViewBag.StyleList as SelectList, "--Select Order--", new { id = "MktBomFK", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })             
                @Html.ValidationMessageFor(model => model.Prod_InputRequisitionSlave.Mkt_BOMFK, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisitionSlave.ColorName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_InputRequisitionSlave.ColorName, new SelectList(string.Empty, "Value", "Text"), "--Select a Color--", new { id = "MktColorFK", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_InputRequisitionSlave.ColorName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisitionSlave.Size, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_InputRequisitionSlave.Size, new SelectList(string.Empty, "Value", "Text"), "--Select a Size--", new { id = "MktSizeFK", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_InputRequisitionSlave.Size, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AvailableQty, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.AvailableQty, new {htmlAttributes = new { id = "AvailableQty", @class = "form-control col-md-6 col-xs-6"}})
                @Html.ValidationMessageFor(model => model.AvailableQty, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisitionSlave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_InputRequisitionSlave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_InputRequisitionSlave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisitionSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_InputRequisitionSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_InputRequisitionSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">

    $(function () {
        $("#MktBomFK").change(function () {
            var MktBomId = $("#MktBomFK").val();
            if (MktBomId != null) {
                $("#MktColorFK").empty();
                $.get('@Url.Action("GetColorByOrderID", "Helper")', { BomId: MktBomId }, function (data) {
                    $("#MktColorFK").append("<option value='0'>Select a Color</option>")
                    $.each(data, function (index, row) {
                        $("#MktColorFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                $("#MktColorFK").empty();
            }
        });
        //$('#MktBomFK').trigger('change');
    });

    $(function () {
        $("#MktColorFK").change(function () {
            var MktBomID = $("#MktBomFK").val();
            var MktColorId = $("#MktColorFK").val();
            if (MktColorId != null && MktBomID !=null ) {
                $("#MktSizeFK").empty();
                $.get('@Url.Action("GetSizeByOrderColorID", "Helper")', { BomId: MktBomID, Color: MktColorId }, function (data) {
                    $("#MktSizeFK").append("<option value='0'>Select a Size</option>")
                    $.each(data, function (index, row) {
                        $("#MktSizeFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                $("#MktSizeFK").empty();
            }
        });
    });
</script>

