﻿@model Oss.Romo.ViewModels.Production.VmProd_InputRequisition
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/iCheck/square/blue.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_InputRequisition.ID)
        @Html.HiddenFor(model => model.Prod_InputRequisition.FirstCreatedBy)
        @Html.HiddenFor(model => model.Prod_InputRequisition.Date)
        @Html.HiddenFor(model => model.Prod_InputRequisition.Priority)
        @Html.HiddenFor(model => model.Prod_InputRequisition.Description)
        @Html.HiddenFor(model => model.Prod_InputRequisition.FromUser_DeptFK)
        @Html.HiddenFor(model => model.Prod_InputRequisition.ToUser_DeptFK)

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_InputRequisition.RequisitionCID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_InputRequisition.RequisitionCID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_InputRequisition.RequisitionCID, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            if (Model.Prod_InputRequisition.IsAutherized == false)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Prod_InputRequisition.IsAutherized, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to Authorize this requisition, Make sure to Check the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Prod_InputRequisition.IsAutherized, new { htmlAttributes = new { @class = "checkbox icheck" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.Prod_InputRequisition.IsAutherized, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Prod_InputRequisition.IsAutherized, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to Unauthorize this Purchase Order, Make sure to Uncheck the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Prod_InputRequisition.IsAutherized, new { htmlAttributes = new { @class = "checkbox icheck" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.Prod_InputRequisition.IsAutherized, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
    }

@Scripts.Render("~/plugins/iCheck/icheck.min.js")

