﻿@model Oss.Romo.ViewModels.Production.VmProd_FinishItemTransfer
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_FinishItemTransfer.ToUser_DeptFK,new { @id="ToDepartmentFK" })
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransfer.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, ViewBag.RequisitionList as SelectList, "--Select Requisition--", new { @class = "form-control SerchingDropDown col-md-6 col-xs-6", id = "FIRequisition" })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("To Department", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="tbxDepart" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransfer.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">

    $(function () {
        $("#FIRequisition").change(function () {
            var RequisitionId = $("#FIRequisition").val();
            if (RequisitionId != null) {
                $("#ToDepart").empty();
                $.get('@Url.Action("GetInputReqDepartment", "Helper")', { ID: RequisitionId }, function (data) {
                    $("#tbxDepart").val(data.Name);
                    $("#ToDepartmentFK").val(data.ID);
                });
            }
            else {
                $("#tbxDepart").empty();
                $("#ToDepartmentFK").empty();
            }
        });
    });

</script>