﻿@model Oss.Romo.ViewModels.Production.VmProd_MachineLine
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Machine Line Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Authorize").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Machine Line  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Machine Line Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
     
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Machine Line Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-Authorize" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Machine Details:
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
 
  </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Prod_MachineLine.ID)
        <!-- /.box -->
        <div class="box">
      
            <div class="box-body">


                <div class="box box-info">
                
                    <div class="row">

                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Plan_ProductionLine.Name)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Plan_ProductionLine.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Plan_ProductionLine.LineNumber)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Plan_ProductionLine.LineNumber)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Plan_ProductionLine.DailyCapacity)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Plan_ProductionLine.DailyCapacity)">
                            </div>
                            <div class="input-group">
                              <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_MachineLine.Description)</span>
                               <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Plan_ProductionLine.Description)">
                            </div>

                          @*<div class="col-md-1"></div>*@
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                @{
                    int sl = 0;
                }

          <div class="table-responsive">
          </div>
                <section>
                    <h3>
                      Machine :
                        (&nbsp;<a href="~/Production/VmProd_MachineLineCreate/@Model.Plan_ProductionLine.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Prod_MachineLine.Name)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Machine.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_MachineLine.Description)
                            </th>
                                <th>
                                    Action
                                </th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Prod_MachineLine.Name)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Machine.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_MachineLine.Description)
                                </td>
                              
                                 <td>
                                        @Html.ActionLink(".", "VmProd_MachineLineEdit", new { id = item.Prod_MachineLine.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        @Html.ActionLink(".", "VmProd_MachineLineDelete", new { id = item.Prod_MachineLine.ID + "z" + Model.Plan_ProductionLine.ID }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                   </td>
                            
                            </tr>
                        }

                    </tbody>

                </table>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
