﻿@model Oss.Romo.ViewModels.Production.VmProd_TransitionItemInventory
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.Prod_TransitionItemInventory.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, ViewBag.BOMFK as SelectList, "---Please Select---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @*@Html.DropDownListFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, new SelectList(string.Empty, "Value", "Text"), new { @id = "Mkt_OrderDeliveryFk", @class = "form-control col-md-6 col-xs-6" })*@
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Mkt_BOMFk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.ItemName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_TransitionItemInventory.ItemName, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemInventory.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_TransitionItemInventory.Quantity, new { htmlAttributes = new { @id = "quantity", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemInventory.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}



