﻿@model Oss.Romo.ViewModels.Production.VmProd_InputRequisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Finish Item Requisition";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";
        $("#dialog-edit").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
           autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function(e) {
            $(".ui-dialog-titlebar")
                .html("Finish Item Requisition: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkAutherize").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Finish Item Requisition: Authorization  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkComplete").click(function (e) {
            $(".ui-dialog-titlebar").html("Requisition: Finalize  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Finish Item Requisition: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkDelete").click(function(e) {
            $(".ui-dialog-titlebar").html("Finish Item Requisition: Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<style type="text/css">
    .label-yellow {
        background-color: #f39c12;
    }
</style>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>

<section class="content-header">
    <h1>
        Finish Item Requisition&nbsp;
        (<a href="VmProd_RequisitionCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>)&nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Requisition</li>
    </ol>
</section>

<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                @{
                    int Sl = 0;
                }
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.RequisitionCID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.Date)
                            </th>
                            <th>
                                @Html.DisplayName("To Department")
                            </th>
                            <th style="width: 5%" class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.Priority)
                            </th>
                            <th style="width: 5%" class="text-center">
                                Authorization
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisition.RequisitionCID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisition.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToUser_Department.Name)
                                </td>
                                @if (item.Prod_InputRequisition.Priority == "High")
                                {
                                    <td class="text-center">
                                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                else if (item.Prod_InputRequisition.Priority == "Medium")
                                {
                                    <td class="text-center">
                                        <span class="label label-yellow">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                @if (!item.Prod_InputRequisition.IsAutherized)
                                {
                                    <td class="text-center">
                                        <span class="label label-danger">Unauthorize</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="label label-success">Authorize</span>
                                    </td>
                                }
                                <td>
                                @if (!item.Prod_InputRequisition.IsAutherized)
                                {
                                    @Html.ActionLink(".", "VmProd_RequisitionEdit", new { id = item.Prod_InputRequisition.ID }, new { @title = "Requisition Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) 
                                    @Html.ActionLink(".", "VmProd_RequisitionDelete", new { id = item.Prod_InputRequisition.ID }, new { @title = "Requisition Delete", @class = "lnkDelete glyphicon glyphicon-trash" }) 
                                    @Html.ActionLink(".", "VmProd_InputRequisitionAutherize", new { id = item.Prod_InputRequisition.ID }, new { @title = "Autherize", @class = "lnkAutherize AuthorizeCss glyphicon glyphicon-user" })
                                }
                                    @Html.ActionLink(".", "VmProd_Requisition_SlaveIndex", new { id = item.Prod_InputRequisition.ID }, new { @title = "Requisition Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
