﻿@model Oss.Romo.ViewModels.Production.VmProd_TransitionItemMadeFrom
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.HiddenFor(x => x.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFK)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TransferType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.TransferType, ViewBag.TransferFilterList as SelectList, "---Select Type---", new { @style = "width: 100%", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.TransferType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" id="divMkt_BOMSlaveFK">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Style No</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOM.ID, ViewBag.BOMList as SelectList, "--Select Style--", new { @id = "BOMId", @style = "width: 100%", @class = "form-control SerchingDropDown col-md-9 col-xs-9" })
                @Html.ValidationMessageFor(model => model.Mkt_BOM.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="divMkt_POSlaveFK">
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_TransitionItemMadeFrom.Mkt_POSlaveFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_TransitionItemMadeFrom.Mkt_POSlaveFK, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "Mkt_POSlaveFK", @style = "width: 100%", @class = "form-control SerchingDropDown col-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_TransitionItemMadeFrom.Mkt_POSlaveFK, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Booking Quantity</b></span>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" name="name" id="TotalRequired" class="form-control col-md-9 col-xs-9" readonly="readonly" />
                </div>
            </div>
        </div>

        <div id="Prod_TransitionItemInventoryFK">
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFromFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFromFK, ViewBag.TransitionsItem as SelectList, "---Select Inventory Item---", new {@id= "Prod_TransitionItemInventoryID", @style = "width: 100%", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_TransitionItemMadeFrom.Prod_TransitionItemInventoryFromFK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Quantity</b></span>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" name="name" id="TotalTransitionItemRequired" class="form-control col-md-9 col-xs-9" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="form-group" id="Raw_ItemFK">
            @Html.LabelFor(model => model.Prod_TransitionItemMadeFrom.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_TransitionItemMadeFrom.Raw_ItemFK, ViewBag.RawItemList as SelectList, "---Select Row Item---", new { @style = "width: 100%", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemMadeFrom.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_TransitionItemMadeFrom.MakeFromQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_TransitionItemMadeFrom.MakeFromQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_TransitionItemMadeFrom.MakeFromQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">

    //$(document).ready(function() {
    //   $("#Mkt_BOMSlaveFK").hide();
    //   $("#Prod_TransitionItemInventoryFK").hide();
    //   $("#Raw_ItemFK").hide();

    //   $('#TransferType').select2().on("change", function (e) {
    //       var selectId = $("#TransferType").val();
    //        //console.log(selectId);
    //        if (selectId == 1) {
    //            $("#Mkt_BOMSlaveFK").hide();
    //            $("#Prod_TransitionItemInventoryFK").hide();
    //            $("#Raw_ItemFK").show();
    //        }
    //        else if (selectId == 2) {
    //            $("#Mkt_BOMSlaveFK").show();
    //            $("#Prod_TransitionItemInventoryFK").hide();
    //            $("#Raw_ItemFK").hide();
    //        }
    //        else if (selectId == 3) {
    //            $("#Mkt_BOMSlaveFK").hide();
    //            $("#Prod_TransitionItemInventoryFK").show();
    //            $("#Raw_ItemFK").hide();
    //        }
    //    });
    //});

    $(document).ready(function () {
        $("#divMkt_BOMSlaveFK").hide();
        $("#Prod_TransitionItemInventoryFK").hide();
        $("#Raw_ItemFK").hide();
        $("#divMkt_POSlaveFK").hide();

        $('#TransferType').select2().on("change", function (e) {
            var selectId = $("#TransferType").val();
            //console.log(selectId);
            if (selectId == 1) {
                $("#divMkt_BOMSlaveFK").hide();
                $("#divMkt_POSlaveFK").hide();
                $("#Prod_TransitionItemInventoryFK").hide();
                $("#Raw_ItemFK").show();
            }
            else if (selectId == 2) {
                $("#divMkt_BOMSlaveFK").show();
                $("#divMkt_POSlaveFK").show();
                $("#Prod_TransitionItemInventoryFK").hide();
                $("#Raw_ItemFK").hide();
            }
            else if (selectId == 3) {
                $("#divMkt_BOMSlaveFK").hide();
                $("#divMkt_POSlaveFK").hide();

                $("#Prod_TransitionItemInventoryFK").show();
                $("#Raw_ItemFK").hide();
            }
        });



        $('#BOMId').on("change", function (e) {
            var id = $('#BOMId').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetItemByOrder", "Helper")",
                data: { bomid: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#Mkt_POSlaveFK").empty();
                    if (data.length !== 0) {
                        $("#Mkt_POSlaveFK").append("<option value='0'>---Select Item---</option>");
                        $.each(data, function (index, row) {
                            $("#Mkt_POSlaveFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });

                    }

                }
            });
        });


        $('#Mkt_POSlaveFK').on("change", function (e) {
            var id = $('#Mkt_POSlaveFK').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetRequiredQty", "Helper")",
                data: { RawItemID: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#TotalRequired").empty();
                    if (data.length !== 0) {
                        $("#TotalRequired").val(data.RequiredQuantity);
                    }

                }
            });
        });

        $('#Prod_TransitionItemInventoryID').on("change", function (e) {
            var id = $('#Prod_TransitionItemInventoryID').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetTransitionalItemQuantity", "Helper")",
                data: { id: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#TotalTransitionItemRequired").empty();
                    if (data.length !== 0) {
                        $("#TotalTransitionItemRequired").val(data.Quantity);
                    }

                }
            });
        });
    });





</script>
