﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProduction
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = @ViewBag.Name;
}

<section class="content-header">
    <h1>
        @ViewBag.Name
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Name</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @*@Html.HiddenFor(model => model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK)*@
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionIndex", new { pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = item.BOMID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
