﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProductionSection

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 95%">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_PlanReferenceProductionSection.ID)
        @Html.HiddenFor(model => model.Prod_PlanReferenceProductionSection.Prod_PlanReferenceProductionFk)
        @Html.HiddenFor(model => model.Prod_PlanReferenceProductionSection.StartDate)
        @Html.HiddenFor(model => model.Prod_PlanReferenceProductionSection.FinishDate)
        @Html.HiddenFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK)
        @Html.HiddenFor(model => model.BOMID, new { id = "BomId" })
        @Html.HiddenFor(model => model.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK, new { id = "BomId" })
        @Html.HiddenFor(model => model.Prod_PlanReferenceProduction.ExtraCutting, new { id = "ExtraCutting" })
        @Html.HiddenFor(model => model.Prod_PlanReferenceProductionSection.OrderDeliveryScheduleId, new { id = "orderDeliveryScheduleId" })


        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.Date, new { htmlAttributes = new { @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Plan_ProductionLineFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Plan_ProductionLineFk, ViewBag.LineName as SelectList, "---Select Line Name---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Plan_ProductionLineFk, "", new { @class = "text-danger" })
            </div>
        </div>


        @if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK == 30)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Color, ViewBag.Color as SelectList, "---Select Color Name---", new { id = "Prod_PlanReferenceProductionSection_Color", @class = "form-control dropdown col-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Color, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.MarkerPics, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.MarkerPics, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.MarkerPics, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.MarkerLength, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.MarkerLength, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.MarkerLength, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.MarkerWidth, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.MarkerWidth, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.MarkerWidth, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK == 32)
        {

            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Color, ViewBag.Color as SelectList, "---Select Color Name---", new { id = "Prod_PlanReferenceProductionSection_Color", @class = "form-control dropdown col-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Color, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Size, htmlAttributes: new {@class = "control-label col-md-3 col-sm-3 col-xs-6"})
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Size, ViewBag.Size as SelectList, "---Select Size---", new {id = "SizeID", @class = "form-control dropdown ol-md-6 col-xs-6"})
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Size, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.Quantity, new { htmlAttributes = new { id = "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.MachineRunning, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.MachineRunning, new { htmlAttributes = new { id = "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.MachineRunning, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK == 34)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.Quantity, new { htmlAttributes = new { id = "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.LotNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.LotNo, new { htmlAttributes = new { id = "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.LotNo, "", new { @class = "text-danger" })
                </div>
            </div>

        }
        else if (Model.Prod_PlanReferenceProduction.Plan_OrderProcessFK == 33)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.Quantity, new { htmlAttributes = new { id = "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div>
            @Html.DisplayFor(model => model.Mkt_OrderColorAndSizeRatio.Ratio, new { id = "Rajdhani-Ratio" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Prod_LineChiefFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Prod_LineChiefFk, ViewBag.ProductionChief as SelectList, "---Select Line Chief---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Prod_LineChiefFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Prod_SVNameFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReferenceProductionSection.Prod_SVNameFk, ViewBag.ProductionSVName as SelectList, "---Select Super Visor---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Prod_SVNameFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReferenceProductionSection.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReferenceProductionSection.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReferenceProductionSection.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

<script>
    var a = [];
    var extra=@Model.Prod_PlanReferenceProduction.ExtraCutting;
    $('#Prod_PlanReferenceProductionSection_Color').on("change", function (e) {
        if ($('#Prod_PlanReferenceProductionSection_Color').val() !== "---Select Color Name---") {
            var id = $('#BomId').val();
            var color = $('#Prod_PlanReferenceProductionSection_Color').val();
            var orderDeliveryScheduleId = $('#orderDeliveryScheduleId').val();
            $("#SizeID").empty();
            $('#txtQuantity').val("");
            $("#SizeID").append("<option value='0'>---Select Size---</option>");
            a = [];
            $.ajax({
                type: "post",
                url: "@Url.Action("GetSizeByPlanReferenceProduction", "Helper")",
                data: { id: id, color: color, orderDeliveryScheduleId : orderDeliveryScheduleId },
                datatype: "json",
                traditional: true,
                success: function (data) {

                    if (data.length !== 0) {
                        $.each(data, function (index, row) {
                            $("#SizeID")
                                .append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                            a.push({ Size: row.ID, Quanity: row.Quantity });
                        });
                    }
                }
            });
        }
    });
    $('#SizeID').on("change", function (e) {

        $('#txtQuantity').val("");
        var id = $('#SizeID').val();
        var x = a.filter(x => x.Size === id).map(x => x.Quanity);
        var percent = ((x * extra) / 100);
        var qty = parseFloat(x) + parseFloat(percent);
        var quantity= (Math.ceil(qty));
        $('#txtQuantity').val(quantity);
    });

</script>
