﻿@model Oss.Romo.ViewModels.Production.VmProd_OrderPlanning
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order Plan Reference Production";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 800,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirmU").dialog({
            title: 'Open Or Close',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkReport").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning: Report  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkShipmentReport").click(function (e) {
            $(".ui-dialog-titlebar").html("Shipment Report  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            url = $(this).attr('href');
            //$(".ui-dialog-titlebar").html("BOM Complete.");
            $("#dialog-confirmU").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    <h1>
        Planning &nbsp;&nbsp; (<a href="VmProd_OrderPlanningCreate" id="lnkCreate" title="Planning Create"><i class="glyphicon glyphicon-plus"></i></a>) &nbsp;&nbsp;
        Plan Report
        (
        @Html.ActionLink(" ", "PlanReportFilterView", "Production", new { @title = "Plan Report", @class = "lnkReport glyphicon glyphicon-print" })&nbsp;&nbsp;        
        )
        &nbsp;
        Shipment Report
        (
        @Html.ActionLink(" ", "ShipmentReportView", "Production", null, new { @target = "_blank", @title = "Shipment Report", @class = "glyphicon glyphicon-print" })
        )
        &nbsp;&nbsp;
        Plan Schedule
        (
        @Html.ActionLink(" ", "LinePlanSchedule", "Production", new { @target = "_blank", @title = "Plan Schedule", @class = "glyphicon glyphicon-print" })
        )
        
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Planning</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @{ Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Style)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>
                            <th>
                                Quantity PC
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_OrderPlanning.ShipmentDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_OrderPlanning.SampleApprovedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_OrderPlanning.FabricInhouseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_OrderPlanning.AccessoriesInhouseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_OrderPlanning.CuttingStartDate)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @(++Sl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderQuantityPC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_OrderPlanning.ShipmentDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_OrderPlanning.SampleApprovedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_OrderPlanning.FabricInhouseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_OrderPlanning.AccessoriesInhouseDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_OrderPlanning.CuttingStartDate)
                                </td>
                                <td>
                                    @*@Html.ActionLink(".", "VmProd_PlanningEdit", new { pid = item.Prod_OrderPlanning.ID }, new { @title = "Planning Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;&nbsp;*@
                                    @Html.ActionLink(".", "VmProd_OrderPlanningEdit", new { pid = item.Prod_OrderPlanning.ID }, new { @title = "Planning Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanningOrderIndex", new { Id = item.Prod_OrderPlanning.ID, BomId = item.Prod_OrderPlanning.Mkt_BOMFK }, new { target = "_blank", @title = "Planning Edit", @class = "glyphicon glyphicon-new-window" }) &nbsp;
                                    @*@Html.ActionLink(".", "VmProd_PlanningDelete", new { pid = item.Prod_OrderPlanning.ID }, new { @title = "Planning Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>