﻿@model Oss.Romo.ViewModels.Production.VmProd_TransitionItemInventory
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Transition Item Inventory";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Production Transition Item Inventory  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Production Transition Item Inventory  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Production Transition Item Inventory  : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
        Production Transition Item Inventory: &nbsp;&nbsp;
        (&nbsp; <a href="VmProd_TransitionItemInventoryCreate" id="lnkCreate" title="Production Transition Item Inventory Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Production Transition Item Inventory</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_TransitionItemInventory.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Style)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model=>model.Prod_TransitionItemInventory.ItemName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_TransitionItemInventory.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_MachineDIA.Name)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.Date)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.Quantity) @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_MachineDIA.Name)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_TransitionItemInventoryEdit", new { id = item.Prod_TransitionItemInventory.ID }, new {@title= "Production Transition Item Inventory Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_TransitionItemInventoryDelete", new {id = item.Prod_TransitionItemInventory.ID}, new { @title = "Production Transition Item Inventory Delete", @class = "lnkDelete glyphicon glyphicon-trash"})&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProd_TransitionItemMadeFromIndex", new { id = item.Prod_TransitionItemInventory.ID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
