﻿@model Oss.Romo.ViewModels.Production.VmProd_SMVLayout

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Layout Paper";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create SMV Layout  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

       $(".lnkEdit").click(function (e) {
           $(".ui-dialog-titlebar").html("Update SMV Layout <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete SMV Layout.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
       // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Order SMV Layout Paper : &nbsp;&nbsp;
        (&nbsp; <a href="VmProd_SMVLayoutCreate" id="lnkCreate" title="Layout Paper Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> SMV Layout</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.NoOfOperator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.NoOfHelper)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.TotalWorker)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.DailyWorkHour)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.PerHourTarget)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.OperatorSMV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.HelperSMV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.TotalSMV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.Efficiency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_SMVLayout.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.NoOfOperator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.NoOfHelper)
                                </td>
                                <td class="text-blue text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.TotalWorker)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.DailyWorkHour)
                                </td>
                                <td class="text-red text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.PerHourTarget)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.OperatorSMV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.HelperSMV)
                                </td>
                                <td class="text-red text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.TotalSMV)
                                </td>
                                <td class="text-blue text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.Efficiency)
                                </td>
                                <td class="text-blue text-bold">
                                    @Html.DisplayFor(modelItem => item.Prod_SMVLayout.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_SMVLayoutEdit", new { id = item.Prod_SMVLayout.ID }, new { @title = "SMV Layout Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(".", "VmProd_SMVLayoutDelete", new { id = item.Prod_SMVLayout.ID }, new { @title = "SMV Layout Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>