﻿@model Oss.Romo.ViewModels.Production.VmProd_ProductionSection
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Section";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Production Section <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Production Section");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
        Production Section
        (&nbsp; <a href="VmProd_ProductionSectionCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Production Section</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_ProductionSection.Prod_ProductionFK)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_ProductionSection.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_ProductionSection.SerialNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_ProductionSection.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_ProductionSection.Prod_ProductionFK)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_ProductionSection.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_ProductionSection.SerialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_ProductionSection.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_ProductionSectionEdit", new { id = item.Prod_ProductionSection.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "", new { id = item.Prod_ProductionSection.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
