﻿@model Oss.Romo.ViewModels.Production.VmProd_InputRequisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Requisition Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var url = "";
        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Requisition Item Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".lnkEdit").click(function(e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Update Requisition Slave <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function(e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Requisition Slave : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Finish Item Requisition
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Production/VmProd_RequisitionIndex">Requisition</a></li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Prod_InputRequisition.ID)
        <!-- /.box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="box-body col-md-5">
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_InputRequisition.RequisitionCID)</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_InputRequisition.RequisitionCID)">
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_InputRequisition.Priority)</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_InputRequisition.Priority)">
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Requisition Type")</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="Internal">
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("From")</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.User_Department.Name)">
                        </div>
                    </div>

                    <div class="box-body col-md-5">
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_InputRequisition.Date)</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_InputRequisition.Date)">
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_InputRequisition.Description)</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_InputRequisition.Description)">
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Authorization")</span>
                            @if (Model.Prod_InputRequisition.IsAutherized)
                            {
                                <input style="width: 280px;" type="text" class="form-control text-success" readonly="readonly" value="Authorized">
                            }
                            else
                            {
                                <input style="width: 280px;" type="text" class="form-control text-danger" readonly="readonly" value="Unauthorize">
                            }
                        </div>
                        <div class="input-group">
                            <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("To")</span>
                            <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.ToUser_Department.Name)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">
                @{
                    int Sl = 0;
                }
                <section>
                    <h3>
                        Finished Items
                        (&nbsp;<a href="~/Production/VmProd_Requisition_SlaveCreate/@Model.Prod_InputRequisition.ID" id="lnkCreate" title="Part Finished Items"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmProd_InputRequisitionSlave.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmProd_InputRequisitionSlave.Mkt_BOM.Style)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmProd_InputRequisitionSlave.Prod_InputRequisitionSlave.ColorName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmProd_InputRequisitionSlave.Prod_InputRequisitionSlave.Size)
                            </th>
                            <th>
                                @Html.DisplayName("RequiredQty")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmProd_InputRequisitionSlave.Prod_InputRequisitionSlave.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VmProd_InputRequisitionSlave.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisitionSlave.ColorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisitionSlave.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisitionSlave.TotalRequired)
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisitionSlave.Description)
                                </td>
                                <td>
                                    @if (!item.Prod_InputRequisition.IsAutherized)
                                    {
                                        @*@Html.ActionLink(".", "VmProd_Requisition_SlaveEdit", new { id = item.Prod_InputRequisitionSlave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })*@
                                        @Html.ActionLink(".", "VmProd_Requisition_SlaveDelete", new { id = item.Prod_InputRequisitionSlave.ID + "x" + Model.Prod_InputRequisition.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>




