﻿@using Oss.Romo.Models.Production
@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProduction
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>

        Plan Reference Production 
        
        
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Reference Production</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
   
    <div class="col-xs-12">



        <div class="box">
         
            <div class="box-body">

                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Order No</span>
                        <textarea style="width:280px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(m => m.VmProd_PlanReference.Common_TheOrder.CID)/@Html.DisplayFor(m => m.VmProd_PlanReference.Mkt_BOM.Style)</textarea>

                    </div>
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Reference No</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Prod_PlanReference.CID)">
                    </div>
                   
                </div>

                <div class="box-body col-md-5">
                  

                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Quantity</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Prod_PlanReference.Quantity)">
                    </div>
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Port No</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Mkt_OrderDeliverySchedule.PortNo)">
                    </div>
                </div>

                <!-- /.box-body -->
            </div>

            @Html.HiddenFor(model => model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK)
            <div class="box-body table-responsive">
                <h3>Add

                    (
                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionCreate", "Production", new { rid = Model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID }, new {@title="Add Plan", @class = "lnkCreate glyphicon glyphicon-plus" })
                    )
                </h3>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <h3 style="text-align: center">
                                    <b style="border-bottom: 1px solid black;padding: 0 0 4px;">CUTTING</b>
                                </h3>

                                <br />
                                <div class="box-body table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Common_TheOrder.CID)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                                                </th>

                                                <th>
                                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.ExtraCutting)
                                                </th>

                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataList.Where(x => x.Plan_OrderProcess.ID == 30))
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.ExtraCutting)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionEdit", new { rpid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID }, new {@title="Edit Plan", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionDelete", new { rpid = item.Prod_PlanReferenceProduction.ID, prId = item.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID, orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new { @title = "Delete Plan", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionIndex", new { pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID, orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <h3 style="text-align: center">
                        <b style="border-bottom: 1px solid black;padding: 0 0 4px;">SEWING</b> 
                    </h3>
               
                <br />
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.MachineQuantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.NoOfOpetator)
                        </th><th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.NoOfHelper)
                        </th>
                        <th>
                            Total Manpower
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                        </th>*@

                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.SMB)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.TargetPerHour)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.WorkingHour)
                        </th>
                        @*<th>
                            @Html.DisplayName("Required Hours")
                        </th>
                        <th>
                            @Html.DisplayName("Day Need")
                        </th> 
                        <th>
                            @Html.DisplayName("Line Required")
                        </th>*@


                        @*<th>
                            @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.TargetDays)
                        </th>*@
                        <th>
                            Total Target
                        </th>
                        <th>
                            Target Efficiency
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.DataList.Where(x=>x.Plan_OrderProcess.ID== 32))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.MachineQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.NoOfOpetator)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.NoOfHelper)
                            </td>

                            @{
                                int id = item.Prod_PlanReferenceProduction.ID;
                                int NoOfOpetator = item.
                                Prod_PlanReferenceProduction.NoOfOpetator;
                                int NoOfHelper = item.Prod_PlanReferenceProduction.NoOfHelper;

                                int TotalManPower = NoOfOpetator + NoOfHelper;
                                ///////////////

                                int TargetPerHour = item.
                               Prod_PlanReferenceProduction.TargetPerHour;
                                decimal WorkingHour = item.Prod_PlanReferenceProduction.WorkingHour;

                                decimal TotalTarget = TargetPerHour * WorkingHour;

                                decimal smv = item.Prod_PlanReferenceProduction.SMB;

                                decimal efficiency = 0;
                                if (TotalManPower>0 && WorkingHour>0 && smv>0 && TotalTarget>0)
                                {
                                    efficiency = Decimal.Divide(smv * TotalTarget, ((WorkingHour * 60 * TotalManPower) * 100));
                                }
                               
                            }

                            <td>
                              @TotalManPower
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.SMB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.TargetPerHour)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.WorkingHour)
                            </td>

                            <td>

                                @TotalTarget

                            </td>
                            <td>
                                @efficiency.ToString("F")
                            </td>
                            @*@{
                                decimal smb = 1;
                                decimal workingHour = 1;
                                decimal targetDays = 1;

                                if (item.Prod_PlanReferenceProduction.SMB != 0)
                                {
                                    smb = item.Prod_PlanReferenceProduction.SMB;
                                }
                                if (item.Prod_PlanReferenceProduction.WorkingHour != 0)
                                {
                                    workingHour = item.Prod_PlanReferenceProduction.WorkingHour;
                                }
                                if (item.Prod_PlanReferenceProduction.TargetDays != 0)
                                {
                                    targetDays = item.Prod_PlanReferenceProduction.TargetDays;
                                }
                                decimal reqHour = item.Prod_PlanReference.Quantity / smb;
                                decimal dayNeed = reqHour / workingHour;
                                decimal lineRequired = dayNeed / targetDays;

                            }*@
                            @*<td style="text-align: center">
                                @Math.Ceiling(reqHour)
                            </td>
                            <td style="text-align: center">
                                @Math.Ceiling(dayNeed) 
                            </td>
                            <td style="text-align: center">
                                @Math.Ceiling(lineRequired)
                            </td>*@
                          
                           
                            @*<td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.TargetDays)
                            </td>*@
                            <td>
                                @Html.ActionLink(".", "VmProd_PlanReferenceProductionEdit", new { rpid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                @Html.ActionLink(".", "VmProd_PlanReferenceProductionDelete", new { rpid = item.Prod_PlanReferenceProduction.ID, prId = item.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionIndex", new { pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID,  orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        <div class="clearfix"></div>    
          
            <!-- /.box-body -->
        </div>
    </div>
        <!-- /.box -->
    </div>
<!-- /.col -->


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <h3 style="text-align: center">
                    <b style="border-bottom: 1px solid black;padding: 0 0 4px;">IRON</b>
                </h3>

                <br />
                <div class="box-body table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.DataList.Where(x => x.Plan_OrderProcess.ID == 33))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionEdit", new { rpid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionDelete", new { rpid = item.Prod_PlanReferenceProduction.ID, prId = item.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionIndex", new { pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID, orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <h3 style="text-align: center">
                    <b style="border-bottom: 1px solid black;padding: 0 0 4px;">PACKING</b>
                </h3>

                <br />
                <div class="box-body table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Common_TheOrder.BuyerPO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList.Where(x => x.Plan_OrderProcess.ID == 34))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionEdit", new { rpid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionDelete", new { rpid = item.Prod_PlanReferenceProduction.ID, prId = item.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID}, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                        @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionIndex", new { pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID, orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details" })&nbsp;&nbsp;
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>