﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReferenceProduction
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>

        Plan Reference Production

    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Plan Reference Production</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <div class="box box-info">
          @Html.HiddenFor(model => model.OrderProcessID)

            @Html.HiddenFor(model => model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK)
            <div class="box-body table-responsive">
                <h3>
                    

                    (
                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionCreate", "Production", new { rid = Model.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID }, new {@class = "lnkEdit glyphicon glyphicon-plus" })
                    )
                </h3>

                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_TheOrder.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReference.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.Plan_OrderProcessFK)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_PlanReferenceProduction.FinishDate)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++i).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReference.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plan_OrderProcess.StepName)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_PlanReferenceProduction.FinishDate)
                                </td>
                                <td>
                                    @*@Html.ActionLink(".", "VmProd_PlanReferenceProductionEdit", new { rpid = item.Prod_PlanReferenceProduction.ID, bomId = Model.BOMID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionDelete", new { rpid = item.Prod_PlanReferenceProduction.ID, prId = item.Prod_PlanReferenceProduction.Prod_PlanReferenceFK, bomId = Model.BOMID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;*@
                                    @Html.ActionLink(".", "VmProd_PlanReferenceProductionSectionView", new {pRefProdid = item.Prod_PlanReferenceProduction.ID, bomId = item.Mkt_BOM.ID, orderDeliveryScheduleId = item.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK }, new {@class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Production Details"})&nbsp;&nbsp;
                                    @Html.ActionLink("Production Status", "ProductionStatusReport", new { bomID = item.Mkt_BOM.ID, orderprocessId = Model.OrderProcessID }, new { target = "_blank", title = "Production Status" })&nbsp;&nbsp;
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
