﻿@model Oss.Romo.ViewModels.Production.VmProd_MonthlyOrderMc

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Monthly Order MC";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

@Scripts.Render("~/Content/Bower/moment.js")
@Scripts.Render("~/Content/Bower/daterangepicker.js")
@Scripts.Render("~/Content/Bower/bootstrap-datepicker.min.js")
@Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
@Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")


<section class="content-header" style="padding-bottom:15px">
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Marketing/Dashboard">Marketing</a></li>*@
        <li class="active">Monthly Order MC</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<center>
    <div class="panel panel-default content-box border-top border-green">
        <div class="panel-heading">
            <h3 class="panel-title">Planning Report</h3>
        </div>
        <div class="panel-body">
           
            <div id="divreportone" class="row">
                @*<div class="col-md-2"></div>*@

                <div class="col-md-8">
                    @using (Html.BeginForm(new { id = "fromPlanning" }))
                {
                        @Html.AntiForgeryToken()

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <h4 style="font-weight: bold">Planning</h4>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="txtdaterang" class="col-md-4">
                                            <span><i class="ion-star font-red"></i></span>Date range:
                                        </label>

                                        <div class="col-md-8">
                                            <div class="col-md-6 col-sm-6">
                                                <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                                    <span>
                                                        <i class="fa fa-calendar"></i> Date range picker
                                                    </span>
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                                @Html.HiddenFor(model => model.StartDate, new { @class = "startDate" })
                                                @Html.HiddenFor(model => model.EndDate, new { @class = "endDate" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="form-group">
                                        <label for="BuyerName" class="col-md-4">
                                            <span><i class="ion-star font-red"></i></span>Buyer:
                                        </label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("BuyerName", ViewBag.BuyerName as SelectList, "--Select Buyer Name--", new { id = "ddlBuyerName", name = "BuyerName", @class = "SerchingDropDown form-control" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="reset" id="btnresetreportone" class="btn btn-danger btn-cstm btn-flat pull-right"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Reset</button>
                                <a onclick="getsearchplaning()" id="btnAssetQuantityReport" class="btn btn-primary btn-cstm btn-flat pull-right"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</a>
                            </div>
                        </div>
                }
                </div>
                <div class="col-md-2"></div>

            </div>

            <div class="col-md-12"></div>
        </div>
    </div>
</center>
<div class="row">
    <div class="col-xs-12">


        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="asfsexample11" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Start Date</th>
                            <th>Finish Date</th>
                            <th>Style No</th>

                            <th>Item</th>
                            <th>Order Quantity</th>
                            <th>Machine Quantity</th>
                            <th>Capacity Per Hour</th>

                            <th>Req/Hour</th>
                            <th>Days Need</th>
                            <th>Target Days</th>
                            <th>Line Req</th>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>

    </div>

</div>
<!-- /.col -->

<script>
    var startdate = "";
    var enddate = "";
    var counter = 1;
    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
    //Date range as a button
    $('#daterange-btn').daterangepicker(
        {
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [
                    moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')
                ]
            },
            startDate: moment().subtract(29, 'days'),
            endDate: moment()
        },
        function (start, end) {
            $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            startdate = start.format('YYYY/MM/D');
            enddate = end.format('YYYY/MM/D');
        }
    );

    function getsearchplaning() {
        var buyerid = $('#ddlBuyerName').val();
        var counter = 1;
        var requireHours = 0;
        var daysneed = 0;
        var linerequire = 0;
        $.ajax({
            type: "post",
            url: "@Url.Action("GetSerachedPlan", "Helper")",
            data: { StartDate: startdate, EndDate: enddate, BuyerId: buyerid },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $("#asfsexample11 tbody").empty();
                var txt = "";
                if (data.length !== 0) {

                    $.each(data, function (index, row) {
                        var sl = data[index].Id;
                        requireHours = parseFloat(data[index].OrderQuantity) / parseFloat(data[index].Capacity);
                        daysneed = requireHours / parseFloat(data[index].WorkingHours);
                        linerequire = daysneed / parseFloat(data[index].TargetDays);

                        txt += "<tr>" +
                            "<td><strong>" +
                            counter +
                            "</strong></td><td>" +
                            ToJavaScriptDate(data[index].StartDate) +
                            "</td><td>" +
                            ToJavaScriptDate(data[index].FinishDate) +
                            "</td><td>" +
                            data[index].BOMCID +
                            "</td><td>" +
                            data[index].ItemName +
                            "</td><td>" +
                            data[index].OrderQuantity +
                            "</td><td>" +
                            data[index].MachineQuantity +
                            "</td><td>" +
                            data[index].Capacity +
                            "</td><td>" +
                            requireHours.toFixed(2) +
                            "</td><td>" +
                            daysneed.toFixed(2) +
                            "</td><td>" +
                            data[index].TargetDays +
                            "</td><td>" +
                            linerequire.toFixed(2) +
                            "</td>" +
                            "</tr>";
                        counter++;
                    });

                    $("#asfsexample11 tbody").html(txt);
                    $('#asfsexample11').DataTable({
                        "destroy": true, //use for reinitialize datatable
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],

                        "scrollY": "555px",
                        "scrollX": true

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']

                    });

                }




            }
        });

    }
    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }
</script>

