﻿@model Oss.Romo.ViewModels.Production.VmProd_Planning
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Plan Reference Production";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm-pause").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirm-play").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-confirmU").dialog({
            title: 'Open Or Close',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Line Plan Schedule  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Planning Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".lnkPause").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Line Start.");
            //$("#dialog-confirmU").dialog('open');
            $("#dialog-confirm-play").dialog('open');
            return false;
        })

        $(".lnkPlay").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Line Pause.");
            //$("#dialog-confirmU").dialog('open');
            $("#dialog-confirm-pause").dialog('open');
            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>

<div id="dialog-confirm-pause" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure you want to pause this line?
    </p>
</div>
<div id="dialog-confirm-play" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure you want to start this line?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>

<section class="content-header">
    <h1>
        Planning
        (
        @Html.ActionLink(" ", "VmProd_PlanningCreate", "Production", new { Id = Model.Prod_PlanOrderId, BomId = Model.BOMID, PId = Model.OrderQuantityPC }, new { @title = "Add Plan", @class = "lnkCreate glyphicon glyphicon-plus" })
        )
         @*&nbsp; (&nbsp;<a href="VmProd_PlanningCreate" id="lnkCreate" title="Planning Create"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Planning</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="box-body col-md-5">
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.CID)</span>
                            <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)</textarea>
                        </div>
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Style)</span>
                            <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Mkt_BOM.Style)</textarea>                            
                        </div>
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Order Qty")</span>
                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.OrderQuantityPC)">
                        </div>
                        <div class="input-group">
                            <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Achive Qty")</span>
                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.OrderTotalAchive)">
                        </div>
                    </div>
                    <div class="box-body col-md-5">
                        <div class="input-group">
                            <span style="width:175px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_OrderPlanning.ShipmentDate)</span>
                            <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_OrderPlanning.ShipmentDate)">
                        </div>
                        <div class="input-group">
                            <span style="width:175px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_OrderPlanning.SampleApprovedDate)</span>
                            <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_OrderPlanning.SampleApprovedDate)">
                        </div>
                        <div class="input-group">
                            <span style="width:175px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_OrderPlanning.FabricInhouseDate)</span>
                            <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_OrderPlanning.FabricInhouseDate)">
                        </div>
                        <div class="input-group">
                            <span style="width:175px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_OrderPlanning.AccessoriesInhouseDate)</span>
                            <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_OrderPlanning.AccessoriesInhouseDate)">
                        </div>
                        <div class="input-group">
                            <span style="width:175px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_OrderPlanning.CuttingStartDate)</span>
                            <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_OrderPlanning.CuttingStartDate)">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!-- /.box-header -->
            @{ Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayName("Line")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.MachineQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.StartDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.FinishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.Capacity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.WorkingHour)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.TargetDays)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.DayOutputQty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.TargetOutputQty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.RemainQty)
                            </th>
                            <th>
                                Line Output
                            </th>
                            <th>
                                Line Remain
                            </th>
                            <th>
                                Target Remain
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Planning.Description)
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            string a = item.LineStatus == "Paused" ? "bg-red" : "";
                            <tr>
                                <td>
                                    @(++Sl)
                                </td>
                                <td class="@a">
                                    @Html.DisplayFor(modelItem => item.Plan_ProductionLine.Name)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.MachineQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.FinishDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.Capacity)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.WorkingHour)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.TargetDays)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.DayOutputQty)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.TargetOutputQty)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.RemainQty)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.ProductionQty)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.TempRemainQty)
                                </td>
                                <td style="text-align: center">
                                    @Html.DisplayFor(modelItem => item.TempAchiveRemain)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Planning.Description)
                                </td>
                                <td class="@a">
                                    @Html.DisplayFor(modelItem => item.LineStatus)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProd_PlanningEdit", new { pid = item.Prod_Planning.ID }, new { @title = "Planning Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;&nbsp;
                                   
                                    @if (item.LineStatus.Equals("Paused"))
                                    {
                                        @Html.ActionLink(".", "VmProd_PlanningPlay", new { pid = item.Prod_Planning.ID }, new { @title = "Line Play", @class = "lnkPlay glyphicon glyphicon-play-circle" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink(".", "VmProd_PlanningPause", new { pid = item.Prod_Planning.ID }, new { @title = "Line Pause", @class = "lnkPause glyphicon glyphicon-pause" })
                                    }

                                    
                                    @*@Html.ActionLink(".", "VmProd_PlanningDelete", new { pid = item.Prod_Planning.ID }, new { @title = "Line Close", @class = "lnkDelete glyphicon glyphicon-remove" })&nbsp;&nbsp;*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>