﻿@model Oss.Romo.ViewModels.Production.VmProd_FinishItemTransfer
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_FinishItemTransfer.ID)
        @Html.HiddenFor(model => model.Prod_FinishItemTransfer.FromUser_DeptFK)
        @Html.HiddenFor(model => model.Prod_FinishItemTransfer.ToUser_DeptFK)
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransfer.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, ViewBag.RequisitionList as SelectList, "--Select Requisition--", new { @class = "form-control SerchingDropDown col-md-6 col-xs-6", id = "FIRequisition" })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Prod_InputRequisitionFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_FinishItemTransfer.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_FinishItemTransfer.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_FinishItemTransfer.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
