﻿@model Oss.Romo.ViewModels.Production.VmProd_PlanReference

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_PlanReference.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReference.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReference.Mkt_BOMFK, ViewBag.Order as SelectList, "---Select Order ID---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReference.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK, ViewBag.OrderDeliverySchedule as SelectList, "---Select Delivery Schedule---", new {id= "ddlPort", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_PlanReference.Mkt_OrderDeliveryScheduleFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_PlanReference.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_PlanReference.Quantity, new { htmlAttributes = new {id= "txtQuantity", @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_PlanReference.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

<Script>
    $('#Prod_PlanReference_Mkt_BOMFK').select2().on("select2-selecting",
        function(e) {

        }).on("change",
        function(e) {          
            var id = $('#Prod_PlanReference_Mkt_BOMFK').val();
            $("#ddlPort").empty();
            $("#txtQuantity").val("");
            $("#ddlPort").append("<option value='0'>----Select Delivery Schedule---</option>");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetPortForProduction", "Helper")",
                data: { id: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.length !== 0) {
                        $.each(data, function (index, row) {
                            $("#ddlPort")
                                .append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                        });
                    }
                }
            });
            
        }); 
    $('#ddlPort').select2().on("select2-selecting",
        function(e) {

        }).on("change",
        function (e) {
            var id = $('#ddlPort').val();
            $("#txtQuantity").val("");          
            $.ajax({
                type: "post",
                url: "@Url.Action("GetQuantityForProduction", "Helper")",
                data: { id: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data.length !== 0) {
                        $("#txtQuantity").val(data.Quantity);   
                    }
                }
            });

        });
</Script>