﻿@model Oss.Romo.ViewModels.Production.VmProd_InputRequisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Received Requisition";
}

<style type="text/css">
    .label-yellow {
        background-color: #f39c12;
    }
</style>

<section class="content-header">
    <h1>
        Finish Item Requisition Received
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Requisition</li>
    </ol>
</section>

<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                @{
                    int Sl = 0;
                }
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.RequisitionCID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.Date)
                            </th>
                            <th>
                                @Html.DisplayName("From Department")
                            </th>
                            <th style="width: 5%" class="text-center">
                                @Html.DisplayNameFor(model => model.Prod_InputRequisition.Priority)
                            </th>
                            <th style="width: 5%" class="text-center">
                                Authorization
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisition.RequisitionCID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_InputRequisition.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToUser_Department.Name)
                                </td>
                                @if (item.Prod_InputRequisition.Priority == "High")
                                {
                                    <td class="text-center">
                                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                else if (item.Prod_InputRequisition.Priority == "Medium")
                                {
                                    <td class="text-center">
                                        <span class="label label-yellow">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Prod_InputRequisition.Priority)</span>
                                    </td>
                                }
                                @if (!item.Prod_InputRequisition.IsAutherized)
                                {
                                    <td class="text-center">
                                        <span class="label label-danger">Unauthorize</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <span class="label label-success">Authorize</span>
                                    </td>
                                }
                                <td>
                                    @Html.ActionLink(".", "VmProd_Requisition_SlaveIndex", new { id = item.Prod_InputRequisition.ID }, new { @title = "Requisition Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>