﻿html, body {
    font-family: 'Open Sans', Arial, Trebuchet MS, Verdana, sans-serif;
    font-size: 0.88em;
    font-weight: 400;
}

input[type="text"], input[type="number"], input[type="search"], textarea {
    border-radius: 4px;
}

.box.box-bg-blue {
    border-top-color: blue;
}

.box.box-bg-purple {
    border-top-color: purple;
}

.box.box-bg-green {
    /*border-top-color: #559B6B;*/
    border-top-color: #9CD159;
}

.breadcrumb {
    background-color: #fff;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li::before {
    color: #000;
    content: "> ";
    padding: 0 5px;

}
.breadcrumb > .active {
    color: #777;
}

.personal-info {
    
}

ul, ol {
    list-style: outside none none;
}

.product_item.type_2 {
    padding-bottom: 75px;
}

    .product_item.type_2 .buttons_row {
        bottom: 20px;
        position: absolute;
    }

        .product_item.type_2 .buttons_row .add_to_wishlist, .product_item.type_2 .buttons_row .add_to_compare {
            opacity: 0;
            transition: background-color 0.7s ease 0s, color 0.7s ease 0s, opacity 0.7s ease 0s;
        }

    .product_item.type_2:hover .buttons_row .add_to_wishlist, .product_item.type_2:hover .buttons_row .add_to_compare {
        opacity: 1;
        transition: background-color 0.7s ease 0s, color 0.7s ease 0s, opacity 0.1s ease 0s;
    }

        .product_item.type_2:hover .buttons_row .add_to_wishlist:hover, .product_item.type_2:hover .buttons_row .add_to_compare:hover {
            transition: background-color 0.1s ease 0s, color 0.1s ease 0s, opacity 0.1s ease 0s;
        }

.product_item.type_3 .image_wrap {
    overflow: hidden;
}

.product_item.type_3 .actions_wrap {
    background-color: #fff;
    bottom: 0;
    left: 1px;
    padding: 3px 19px 13px;
    right: 1px;
    transform: translateY(100%);
    transition: transform 0.7s ease 0s;
}

    .product_item.type_3 .actions_wrap [class*="button"] {
        margin: 3px;
    }

.product_item.type_3:hover .actions_wrap {
    transform: translateY(0%);
    transition: transform 0.1s ease 0s;
}

.single_product {
    float: left;
    margin-right: 5em;
    max-width: 360px;
}

.single_product_description {
    overflow: hidden;
    /*padding-top: 10px;*/
    position: relative;
}

.image_preview_container {
    margin-bottom: 10px;
    position: relative;
}

    .image_preview_container * {
    }

.open_qv {
    bottom: 5px;
    position: absolute;
    right: 5px;
    z-index: 109;
}

.zoomContainer {
    z-index: 108;
}

.single_product_description .topbar {
    font-size: 13px;
}

.single_product_description .v_centered > *:not(:first-child) {
    margin-left: 8px;
}

.single_product_description h3 {
    margin-bottom: 5px;
}

.single_product_description .page-nav {
    bottom: auto;
    top: 5px;
}

table.product_info {
    table-layout: auto;
    width: auto;
}

    table.product_info td {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        padding: 0 0 3px;
    }

    table.product_info tr:last-child td {
        padding-bottom: 0;
    }

    table.product_info td:first-child {
        padding-right: 10px;
    }

.description_section {
    margin-bottom: 14px;
}

.description_section_2:not(:last-child) {
    margin-bottom: 10px;
}

.single_product_description hr {
    margin: 0 0 15px;
}

.single_product_description .buttons_row {
    margin-top: 30px;
}

.single_product .product_preview {
    margin-bottom: 20px;
}

.single_product_description .product_price {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
}

[class*="description_section"] .title {
    min-width: 30px;
}

.product_price_table {
    border: medium none;
}

    .product_price_table td {
        border-color: #f8f8f8;
        border-width: 2px;
        padding-bottom: 13px;
        padding-top: 12px;
    }

    .product_price_table .price {
        font-size: 20px;
        font-weight: 600;
        padding-top: 2px;
    }

.special_price {
    color: #018bc8;
}

.old_price {
    color: #b2b2b2;
}

.save {
    color: #ff4557;
}

.product_price_table tfoot {
    font-size: 13px;
    font-weight: 400;
}

    .product_price_table tfoot td {
        padding: 6px 10px;
    }

.product_price_table .countdown_title {
    margin-right: 7px;
}

.hurry_message {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0;
}

    .hurry_message > span {
        color: #ff4557;
    }

.theme_box .image_preview_container [class*="label_"] {
    left: 5px;
    top: 5px;
}

.theme_box .product_price_table td {
    background: none repeat scroll 0 0 #f8f8f8;
    border-color: #fff;
}

.widgets_carousel .single_product_description .buttons_row {
    margin-top: 20px;
}

.countdown {
    color: #ff4557;
}

    .countdown .countdown-section {
        display: block;
        float: left;
    }

    .countdown .countdown-row {
        overflow: hidden;
    }

    .countdown:not(.simple) {
        text-align: center;
    }

        .countdown:not(.simple) .countdown-row {
            display: inline-block;
        }

        .countdown:not(.simple) .countdown-section:not(:last-child) {
            margin-right: 2px;
        }

        .countdown:not(.simple) .countdown-section {
            width: 35px;
        }

        .countdown:not(.simple) .countdown-amount {
            background: none repeat scroll 0 0 #f8f8f8;
            border-radius: 3px 3px 0 0;
            display: block;
            font-weight: 700;
            margin-bottom: 1px;
            padding: 1px 0;
        }

        .countdown:not(.simple) .countdown-period {
            background: none repeat scroll 0 0 #f8f8f8;
            border-radius: 0 0 3px 3px;
            display: block;
            font-size: 10px;
            line-height: 16px;
        }

    .countdown.simple {
        display: inline-block;
        font-size: 13px;
    }

        .countdown.simple .countdown-row {
            display: block;
        }

        .countdown.simple .countdown-amount {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            margin-right: 2px;
        }

        .countdown.simple .countdown-section:not(:last-child) {
            margin-right: 8px;
        }

.ts_nav, .tabs_nav {
    position: relative;
    z-index: 101;
}

.tabs_nav {
    margin-right: 65px;
}

.ts_nav {
    float: left;
    width: 196px;
}

.ts_containers_wrap, .tab_containers_wrap {
    position: relative;
    z-index: 100;
}

.tab_containers_wrap {
    top: -1px;
}

.ts_containers_wrap {
    left: -1px;
    overflow: hidden;
}

.ts_containers_wrap, .tab_containers_wrap {
    transition: height 0.4s ease 0s;
}

.tabs .tab_container, .tour_section .ts_container {
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.7s ease 0s, visibility 0.7s ease 0s;
    width: 100%;
}

.tour_section .ts_container, .tabs:not(.products) .tab_container {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eaeaea;
    border-radius: 0 3px 3px;
    overflow: hidden;
    padding: 19px;
}

.v_centered > * {
    display: inline-block;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    vertical-align: middle;
}

.on_the_sides h1, .on_the_sides h2, .on_the_sides h3, .on_the_sides h4, .on_the_sides h5, .on_the_sides h6 {
    margin-bottom: 0;
    padding-top: 0;
}

.v_centered > *:not(:first-child) {
    margin-left: 10px;
}

.v_baseline > * {
    display: inline-block;
    vertical-align: baseline;
}

    .v_baseline > *:not(:first-child) {
        margin-left: 8px;
    }

.relative {
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.transparent {
    opacity: 0;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: inherit;
    line-height: 1em;
    margin-bottom: 14px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p:not(:last-of-type):not(.subcaption) {
    margin-bottom: 15px;
}

p:last-of-type + [class*="button"]:last-child {
    margin-top: 15px;
}

small {
    font-size: 12px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 600;
}

.sub {
    color: #777;
}

mark {
    background: none repeat scroll 0 0 #018bc8;
    color: #fff;
    display: inline-block;
    padding: 0 2px;
}

[class*="dropcap"]::first-letter {
    float: left;
    font-weight: 900;
    margin-right: 10px;
}

.dropcap_type_1::first-letter {
    color: #018bc8;
    font-size: 36px;
    margin-top: 10px;
}

.dropcap_type_2::first-letter {
    background: none repeat scroll 0 0 #018bc8;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 24px;
    padding: 9px;
}

.zoom-left {
    float: left;
    width: 412px;
}

#gallery_01 img {
    border: 2px solid white;
    width: 96px;
}

.active img {
    border: 2px solid #333 !important;
}
.zoom-wrapper{
border-radius: 10px;
border: 1px solid #E0E0E0;
padding: 10px;
background-color: #F7F7F7;
}
#zoom1, #zoom2, #zoom3, #zoom4, #zoom5 {
    border: 1px solid #e8e8e6;
}
#shopnameH3:hover {
    color: #018bc8;
    text-decoration: none;
}
.spinner {
  width: 100px;
}

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

/*
* Media Queries
*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    body {
        min-height: 100%;
    }

    .footer {
        margin-top: 6em;
        padding-top: 10px;
        height: 100px;
    }

    .single_product_description {
        overflow: visible;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    body {
        min-height: 100%;
    }

    .footer {
        margin-top: 6em;
        padding-top: 10px;
        height: 100px;
    }

    .single_product_description {
        overflow: visible;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    body {
        min-height: 100%;
    }

    .footer {
        margin-top: 6em;
    }

    .single_product_description {
        overflow: visible;
    }
}

.todo-list {
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.todo-list > li {
    /*border-left: 2px solid #e6e7e8;*/
    cursor: pointer;
    border-radius: 2px;
    color: #444;
    /*margin-bottom: 5px;*/
    padding: 10px;
    border: 1px solid #ccc;

}

.notify {
     background: none repeat scroll 0 0 #fff;/*#e2eefb;*//*#EDEFF5;*/
}

.un-notify {
     background: none repeat scroll 0 0 #f5f5f5;/*#e2eefb;*//*#EDEFF5;*/
}

.todo-list > li:last-of-type {
    margin-bottom: 0;
}
.todo-list > li.danger {
    border-left-color: #dd4b39;
}
.todo-list > li.warning {
    border-left-color: #f39c12;
}
.todo-list > li.info {
    border-left-color: #00c0ef;
}
.todo-list > li.success {
    border-left-color: #00a65a;
}
.todo-list > li.primary {
    border-left-color: #3c8dbc;
}
.todo-list > li > input[type="checkbox"] {
    margin: 0 10px 0 5px;
}
.todo-list > li .text {
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}
.todo-list > li .label {
    font-size: 9px;
    margin-left: 10px;
}
.todo-list > li .tools {
    /*color: #444;#dd4b39;*/
    display: none;
    float: right;
}
.todo-list > li .tools .mark-as-read {
    color: #7B9D5D;
}
.todo-list > li .tools .remove-notification {
    color: #dd4b39;
}
.todo-list > li .tools > .fa, .todo-list > li .tools > .glyphicon, .todo-list > li .tools > .ion {
    cursor: pointer;
    margin-right: 5px;
}
.todo-list > li:hover {
    background: none repeat scroll 0 0 #F6F7F8;/*#e2eefb;*/
    border-left: 2px solid #e2eefb;/*#e6e7e8;*/
    border-radius: 2px;
    color: #444;
    /*margin-bottom: 5px;*/
    padding: 10px;
}
.todo-list > li:hover .tools {
    display: inline-block;
}
.todo-list > li.done {
    color: #999;
}
.todo-list > li.done .text {
    font-weight: 500;
    text-decoration: line-through;
}
.todo-list > li.done .label {
    background: none repeat scroll 0 0 #d2d6de !important;
}
.todo-list .handle {
    cursor: move;
    display: inline-block;
    margin: 0 5px;
}
.modal-backdrop.in {
 opacity: 0.5;
 filter: alpha(opacity = 50);
}
/*.main-header .logo {
    height: 56px;
}
.main-header .sidebar-toggle {
    padding: 19px;
}*/

table.nowrap td,
table.nowrap th,
.nowrap table td,
.nowrap table th {
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}


#orgChart{
    width: auto;
    height: auto;
}

#orgChartContainer{
    /*width: 1000px;
    height: 500px;*/
    overflow: auto;
    background: #eeeeee;
}

#yui-dt-scrollable  {
       overflow-y:scroll; /*for vertical Scroll*/
       /*for horizontalScroll*/
} 
#yui-dt-bd {
     overflow-x:scroll;
}

.selected{
 color: blue;
}