﻿html, body {
    background: #fdfdfd;
    color: #222;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Open Sans', Arial, Trebuchet MS, sans-serif;
}


/*.navbar-default {
	background-color: #3485d3;
	background-color: #00BA8B;
	border-color: #12a30e;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000000;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #12a30e;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #000000;
	background-color: #12a30e;
}
.navbar-default .navbar-toggle {
	border-color: #12a30e;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #12a30e;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #000000;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #000000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #000000;
		background-color: #12a30e;
	}
}*/

.navbar-blue {
  background-color: #3485d3;
  border-color: #215e99;
}
.navbar-blue .navbar-brand {
  color: #efefef;
}
.navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
  color: #ffffff;
}
.navbar-blue .navbar-text {
  color: #efefef;
}
.navbar-blue .navbar-nav > li > a {
  color: #efefef;
}
.navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
  color: #ffffff;
    background: none;
}
.navbar-blue .navbar-nav > li > .dropdown-menu {
  background-color: #3485d3;
}
.navbar-blue .navbar-nav > li > .dropdown-menu > li > a {
  color: #efefef;
}
.navbar-blue .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-blue .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #215e99;
}
.navbar-blue .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3485d3;
}
.navbar-blue .navbar-nav > .active > a, .navbar-blue .navbar-nav > .active > a:hover, .navbar-blue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #215e99;
}
.navbar-blue .navbar-nav > .open > a, .navbar-blue .navbar-nav > .open > a:hover, .navbar-blue .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #215e99;
}
.navbar-blue .navbar-toggle {
  border-color: #215e99;
}
.navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus {
  background-color: #215e99;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #efefef;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #efefef;
}
.navbar-blue .navbar-link {
  color: #efefef;
}
.navbar-blue .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #efefef;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #215e99;
  }
}

.custom-dropdown-form {
    padding: 0.2em 1.2em;
}

.custom-dropdown-form a {
    text-decoration: none;
    color: #555;
}

.custom-dropdown-form a:hover {
    color: #000;
}

.marginDrop {
    margin-top: 1em;
}

.marginhalfDrop {
    margin-top: 0.5em;
}

.marginDropbtn {
    margin-top: 1.70em;
}

.gvColumnhide {
    display: none;
}

.searchlevelDrop {
    margin-top: .70em;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.gridcolumnhide {
    display: none;
}

.gridcolumnwidth2nd {
    float: right;
}

.custom-datepicker {
    margin-top: 0;
    padding: 10px;
}

.borderless tbody tr td, .borderless thead tr th {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    right: 0px;
    height: 20px;
}
.homepageImagesize {
    width: 100%;
    height: 70%;
}

.lblColor {
    color: white;
}

.logo-img {
    height: 240%;
}
.logo-img1 {
    width: 22%;
}
ul.nav-border-raduis-adjust li a {
	border-radius: 2px 2px 0 0;
}

ul.nav-border-raduis-adjust > li.active a,
ul.nav-border-raduis-adjust > li.active a:focus,
ul.nav-border-raduis-adjust > li.active a:hover,
ul.nav-border-raduis-adjust > li.active a:active {
	background: #f5f5f5;
	color: #222;
	border: 1px solid #ddd;
}

.list-border-less {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
	margin: 0;
}

.list-border-less .list-group-item {
	border: 0;
}

.list-border-less .list-group-item a:hover {
	color: #222;
	text-decoration: none;
	padding-left: 10px;
  	-webkit-transition: padding-left 500ms ease-out;
    -moz-transition: padding-left 500ms ease-out;
    -o-transition: padding-left 500ms ease-out;
    transition: padding-left 500ms ease-out;
}

.list-border-less .badge {
	font-size: 0.96em;
}

ol.ol-custom li {
	padding: 0.4em;
	text-align: justify;
}

.tab-simple-border {
	border: 1px solid #ddd;
	border-top: 0;
	margin: -1.5em 0 1em 0;
	padding: 1em 0;
}

.border-top-none {
    border-top: none;
}

.border-raduis-top-none {
    border-radius: 0 0 2px 2px;
}
.no-resize {
    resize: none;
}
table.nowrap td,
table.nowrap th,
.nowrap table td,
.nowrap table th {
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}
.myselect2 {
    
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
.collapse-min-height-body {
    min-height: 30em;
}
.collapse-min-height-inner {
    margin-top: 10em;
}
.sweet-overlay { z-index: 999999; }
.sweet-alert { z-index: 999999; }

.dropdown-max-height {
    max-height: 25em;
    overflow: auto;
}
.calenadar-css {
    glyph-orientation-vertical: auto;
    overflow: visible;
}
table.DTFC_Cloned tr.odd {
    background-color: white;
    margin-bottom: 0;
}
.truncate {
  width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-new {
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

.selected{
 color: blue;
}

/* Switch button */

.btn-default.btn-on-3.active {
    background-color: #5BB75B;
    color: white;
}

.btn-default.btn-off-3.active {
    background-color: #DA4F49;
    color: white;
}

.btn-default.btn-on-3.hover {
    background-color: #5BB75B;
    color: white;
}

.btn-default.btn-off-3.hover {
    background-color: #DA4F49;
    color: white;
}

.previous {
    content: "\00ab";
}

.next {
    content: "\00bb";
}
