﻿@model Oss.Romo.ViewModels.Store.VmStore_InterTransfer
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/iCheck/square/blue.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Raw_InternaleTransfer.ID)
     
        @Html.HiddenFor(model => model.Raw_InternaleTransfer.FirstCreatedBy)
        @*@Html.HiddenFor(model => model.Raw_InternaleTransfer.RequisitionFK)*@

        @{
            if (Model.Raw_InternaleTransfer.IsAuthorize == false)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Raw_InternaleTransfer.IsAuthorize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to Autherize this Internale Transfer, Make sure to Check the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Raw_InternaleTransfer.IsAuthorize, new
                       {
                           htmlAttributes = new { @class = "checkbox icheck" }
                       })
                        </span>


                        @Html.ValidationMessageFor(model => model.Raw_InternaleTransfer.IsAuthorize, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Raw_InternaleTransfer.IsAuthorize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to decline, this Internale Transfer, Make sure to Uncheck the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Raw_InternaleTransfer.IsAuthorize, new
                       {
                           htmlAttributes = new { @class = "checkbox icheck" }
                       })
                        </span>


                    </div>
                </div>
            }
        }


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
            }

@Scripts.Render("~/plugins/iCheck/icheck.min.js")




