﻿@model Oss.Romo.ViewModels.Store.VmStore_InternalTransferSlave
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/select2/select2.min.css")
@Scripts.Render("~/plugins/select2/select2.full.min.js")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Raw_InternaleTransferFK)
    @Html.HiddenFor(model => model.Raw_InternaleTransfer.FromUser_DeptFK)
    @Html.HiddenFor(model => model.Raw_InternaleTransfer.ToUser_DeptFK)
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Prod_TransitionItemInventoryFK, new { id = "Prod_TransitionItemInventoryFK" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Mkt_BOMFK, new { id = "bomId" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Mkt_POSlaveFK, new { id = "Mkt_POSlaveFK" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Common_UnitFK, new { id = "txtUnit" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Raw_ItemFK, new { id = "Raw_ItemFK" })
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">
                @Html.DisplayName("Requisition No")
            </label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RequsitionId, ViewBag.StoreReq as SelectList, "---Select Requisition---", new { @id = "Prod_Requisition", @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.RequsitionId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_InternaleTransferSlave.RequisitionSlaveFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_InternaleTransferSlave.RequisitionSlaveFK, new SelectList(string.Empty, "Value", "Text"), "---Select Item---", new { id = "Prod_RequisitionSlaveId", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_InternaleTransferSlave.RequisitionSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Booking Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtRequiredRequisitaion" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Request Quantity")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtRequiredQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Available Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtAvailableQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6">
                <strong>Assign Quantity</strong>
            </span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Raw_InternaleTransferSlave.Quantity, new { htmlAttributes = new { @class = "form-control col-md-10 col-xs-10" } })
                    @Html.ValidationMessageFor(model => model.Raw_InternaleTransferSlave.Quantity, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i id="txtUnitName"></i>
                    </div>
                </div>
            </div>
        </div>
     

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>

}
<script type="text/javascript">
    var requisitionID = null;
    $('#Prod_Requisition').select2().on("select2-selecting",
        function (e) {

        }).on("change", function (e) {
            requisitionID = $("#Prod_Requisition").val();
            if (requisitionID != '') {
                $('#Prod_RequisitionSlaveId').empty();
                $.get("@Url.Action("GetItemByRequsition", "Helper")", { ID: requisitionID }, function (data) {
                    // $.get("../../Helper/GetItemByRequsition", { ID: requisitionID }, function (data) {

                    $("#Prod_RequisitionSlaveId").append("<option value='0'>---Select Item---</option>");
                    $("#txtRequiredQty").val("");
                    $.each(data, function (index, row) {
                        $("#Prod_RequisitionSlaveId").append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                    });
                });
            }
            else {
                $('#Prod_RequisitionSlaveId').empty();
            }
        });

    var itemid = null;
    $('#Prod_RequisitionSlaveId').on("change", function (e) {
        if ($('#Prod_RequisitionSlaveId').val() !== "---Select Items---") {
            var requisitionSlaveId = $('#Prod_RequisitionSlaveId').val();
            if (itemid != '') {

                $.get("@Url.Action("GetItemRequiredQty", "Helper")", { ID: requisitionSlaveId }, function (data) {
                    $("#txtRequiredQty").val(data.TotalRequired + " " + data.UnitName);
                    $("#txtUnit").val(data.Common_UnitFK);
                    $("#txtUnitName").text(data.UnitName);
                    $("#bomId").val(data.Mkt_BOMFK);
                    $("#Raw_ItemFK").val(data.Raw_ItemFK);
                    $("#Prod_TransitionItemInventoryFK").val(data.Prod_TransitionItemInventoryFk);


                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetRequiredQty","Helper")",
                        data: { poSlaveId: data.Mkt_POSlaveFK },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            $('#txtRequiredRequisitaion').val(data.RequiredQuantity + " " + data.UnitName);                           
                        }
                    });
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetAvailableReceivedQuantity", "Helper")",
                        data: { id: data.Mkt_POSlaveFK },
                        datatype: "json",
                        traditional: true,
                        success: function (data) {
                            var unitName = $('#txtUnitName').val();
                            $('#txtAvailableQty').val(data + " " + unitName);

                        }
                    });






                });
            }
            else {
                $('#Prod_RequisitionSlaveId').empty();
            }
        }
    });


</script>
