﻿@using Oss.Romo.Models.Store

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Order</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 30px;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                line-height: 30px;
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>

        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #525659;"onload="window.print()">
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>Inventory Ledger</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td><strong>Item Name</strong></td>
                            <td><strong>:</strong></td>
                            <td><strong>&nbsp;&nbsp;@ViewBag.ItemName</strong></td>

                        </tr>
                        <tr>
                            <td><strong>Period</strong></td>
                            <td><strong>:</strong></td>
                            <td><strong>&nbsp;&nbsp;@ViewBag.OpeningDate To @ViewBag.ToDate</strong></td>

                        </tr>
                    </table>
                </div>
            </div>
            @{
                <div style="width: 100%;">
                    <div id="viewLedger">


                        <table style="width: 100%; font-size: 13px" cellspacing="0" rules="all" border="1">
                            <tr class="trclass">
                                <td style="text-align: center"><strong>SL</strong></td>
                                <td style="text-align: center"><strong>Date</strong></td>
                                <td style="text-align: center"><strong>Description</strong></td>
                                <td style="text-align: center"><strong>Dr</strong></td>
                                <td style="text-align: center"><strong>Cr</strong></td>
                                <td style="text-align: center"><strong>Balance</strong></td>

                            </tr>
                            @{
                                int sl = 1;
                                decimal sumdr = 0;
                                decimal sumcr = 0;
                                decimal balance = Convert.ToDecimal(ViewBag.OpenigBalance);
                                var storeLedgers = (List<StoreLedger>)ViewBag.StoreLedger;
                                var openingDate = DateTime.Parse(ViewBag.OpeningDate);
                                <tr>
                                    <td style="text-align: center; width: 5%">1</td>
                                    <td style="text-align: center; width: 13%">@openingDate.ToString("dd MMM, yyyy")</td>
                                    <td style="text-align: left; width: 40%">Opening Balance</td>
                                    <td style="text-align: right; width: 14%"></td>
                                    <td style="text-align: right; width: 14%"></td>
                                    <td style="text-align: right; width: 14%">@balance</td>
                                </tr>


                                foreach (var ledger in storeLedgers)
                                {
                                    sl++;
                                    sumdr += ledger.rcvqty;
                                    sumcr += ledger.outqty;
                                    <tr>
                                        <td style="text-align: center; width: 5%">
                                            @sl
                                        </td>
                                        <td style="text-align: center; width: 10%">
                                            @ledger.Date.ToString("dd MMM, yyyy")
                                        </td>
                                        <td style="text-align: left; width: 40%">
                                           @ledger.Description.Trim()
                                        </td>
                                        <td style="text-align: right; width: 15%">
                                            @ledger.rcvqty
                                        </td>
                                        <td style="text-align: right; width: 15%">
                                            @ledger.outqty
                                        </td>
                                        @{
                                            decimal dr = Convert.ToDecimal(ledger.rcvqty);
                                            decimal cr = Convert.ToDecimal(ledger.outqty);
                                            balance += (dr - cr);
                                        }
                                        <td style="text-align: right; width: 15%">
                                            @balance
                                        </td>
                                    </tr>
                                            }
                            }
                        </table>
                        <div style="float: right">
                            <table style="text-align: right;  margin-top: 10px; padding-top: 10px; font-weight: 700;  font-size: 13px" cellspacing="0" rules="all" border="1">
                                <tr>
                                    <td>Opening Balance</td>
                                    <td>@ViewBag.OpenigBalance</td>
                                </tr>
                                <tr>
                                    <td>Dr</td>
                                    <td>@sumdr</td>
                                </tr>
                                <tr>
                                    <td>Cr</td>
                                    <td>@sumcr</td>
                                </tr>
                                <tr>
                                    <td>Balance</td>
                                    <td>@balance</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>



            }

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div style="text-align: left;padding-top: 20px">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>
            <br />
        </div>
    </div>
</body>
</html>