﻿@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("InventoryLedger", "Store", FormMethod.Post, new { id = "InventoryReport", target = "_blank" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input  Name="ItemId"  id="hdnItemId" type="hidden" value="@ViewBag.ItemId" />
        <input  Name="ItemName"  id="hdnItemName" type="hidden" value="@ViewBag.ItemName" />

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">From Date:</label>        
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input name="FromDate" type="text" class="calendarControl form-control col-md-6 col-xs-6"/>              
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">To Date:</label>        
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input name="ToDate" type="text" class="calendarControl form-control col-md-6 col-xs-6"/>              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

