﻿
@model Oss.Romo.ViewModels.Store.VmStoreInventory
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Item Details Inventory";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkLock").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-lock').load($('.lnkLock').attr('href'));


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
    
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Raw_Category.ID)
        @Html.HiddenFor(model => model.Raw_SubCategory.ID)
        <!-- /.box -->
        <div class="box">

            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Item Inventory :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-12">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_Category.Name)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Raw_Category.Name)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_SubCategory.Name)</span>
                                    <input style="width:230px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x =>x.Raw_SubCategory.Name)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_Item.Name)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x =>x.Raw_Item.Name)">
                                </div>
                            </div>
                        </div>

               <div class="box-body col-md-12">
                     
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:100px;" class="input-group-addon">@Html.DisplayNameFor(x => x.TotalRequired)</span>
                                    <input style="width:220px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.TotalRequired)">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:100px;" class="input-group-addon">@Html.DisplayNameFor(x => x.TotalPrice)</span>
                                    <input style="width:240px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.TotalPrice)">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>


                <section>
                    <h3>
                        Item Details Inventory:
                    </h3>
                </section>
                @{
                    int Sl = 0;
                }


                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                Description
                                </th>

                                @*<th>
                                 PO ID
                                </th>*@
                                <th>
                                   Dr Quantity
                                </th>
                                <th>
                                   Cr Quantity
                                </th>

                                <th>
                                    Requisition
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        <b> @(++Sl).</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Date)
                                        <br />
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Challan)
                                        <br />
                                        <a href="~/Marketing/Authorizedpurchaseorders/@Html.DisplayFor(modelItem =>item.Mkt_PO.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Mkt_PO.CID)</a>
                                     </td>
                             
                                      @*<a href="~/Marketing/Authorizedpurchaseorders/@Html.DisplayFor(modelItem =>item.Mkt_PO.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Mkt_PO.CID)</a>*@
                            
                             
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Consumption.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Consumption.Requisition)
                                    </td>

                             </tr>

                            }

                        </tbody>
                    </table>
                </div>


            
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


