﻿@model Oss.Romo.ViewModels.Store.VmStoreInventory

@{ Layout = "";

    ViewBag.Title = "Item Wise Inventory";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item LeftOver Inventory Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                      
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="from-group">
                    <span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                        Print
                    </span>

                </div>
                <div class="form-group">
                  
                <center><h3><u>Item LeftOver Inventory Report</u></h3> </center>  
                   
                </div>
            </div>
            <br />
            <div style="width: 100%; border: 1px solid #000">
                <div id="viewparty">
                    <div>
                        <table style="width: 100%" cellspacing="0" rules="all" border="1">

                            <thead>


                                <tr>

                                    <th style="background-color:darkgray">
                                        <center>@Html.DisplayNameFor(model => model.Raw_Item.Name)</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Item Quantity</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Store Received Quantity</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Issued Quantity</center>

                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Consumption Quantity</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Production Store Balance</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Central Store Balance</center>
                                    </th>
                                    <th style="background-color:darkgray">
                                        <center>Total  Stock</center>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>

                                        <td style="padding:2px 4px 2px 4px">
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                        </td>

                                        <td>
                                            <center>@Html.DisplayFor(modelItem => item.TotalRequired)</center>
                                        </td>
                                        <td>
                                            <center>@Html.DisplayFor(modelItem => item.TotalStockIn)</center>
                                        </td>
                                        <td>
                                            <center>  @Html.DisplayFor(modelItem => item.TotalStockOut)</center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.TotalConsumption)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.ProductionStore)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.CentralStore)
                                            </center>
                                        </td>
                                        <td>
                                            <center>
                                                @Html.DisplayFor(modelItem => item.TotalStore)
                                            </center>
                                        </td>

                                    </tr>

                                }


                            </tbody>
                        </table>
              


                        
                      
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: left">
            Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
            Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
            Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
        </div>
    </div>
</body>
</html>
