﻿
@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Order wise goods delivery and return details";
}
@{
    int sl = 0;
}

@{
    int i = 0;
    string reqistion = "";
}
<div class="box">
    <div class="box-danger">
        <div class="box-header">
            <h4 style="text-align:center">
                <strong>
                    Order wise goods delivery and return details
                </strong>
            </h4>
        </div>
        <div class="box-body">
            <div class="table-responsive">


                @if (Model.DeliverList != null)
                {
                    <table class="table table-striped jambo_table bulk_action">
                        <thead style="background-color:rgba(138, 250, 39, 0.35)">
                            <tr>
                                <th>SL.</th>

                                <th>
                                    @Html.DisplayName("Item")
                                </th>
                                <th>
                                    @Html.DisplayName("Description")
                                </th>
                                <th>
                                    @Html.DisplayName("Supervisor Name")
                                </th>

                                <th>
                                    @Html.DisplayName("Quantity")
                                </th>
                                <th>
                                    @Html.DisplayName("Status")
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @while (i < Model.DeliverList.Count())
                {
                    if (reqistion != Model.DeliverList[i].RequisitionNo)
                    {
                                    <tr class="text-bold">
                                        <td colspan="6" style="background-color:rgba(197, 239, 118, 0.71)">
                                            <u>Requisition No :</u> @Model.DeliverList[i].RequisitionNo &nbsp;&nbsp;&nbsp;<u>Date :</u> @Model.DeliverList[i].Date.ToString("yyyy/MM/dd")&nbsp;&nbsp;&nbsp;<u>Store: </u>@Model.DeliverList[i].Store
                                        </td>

                                    </tr>
                                    reqistion = Model.DeliverList[i].RequisitionNo;
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            @(++sl)
                                        </td>

                                        <td>
                                            @Model.DeliverList[i].Item
                                        </td>
                                        <td>
                                            @Model.DeliverList[i].Description
                                        </td>
                                        <td>
                                            @Model.DeliverList[i].SupervisorName

                                        </td>
                                        <td>
                                            @Model.DeliverList[i].Quantity
                                        </td>
                                        @if (Model.DeliverList[i].IsReturn == false)
                                        {
                                            <td style="color:green">
                                                Stock out from store
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="color:red">
                                                Return to store
                                            </td>
                                        }

                                    </tr>
                                    i++;
                                }

                            }
                        </tbody>
                    </table>


                }
                else

                {
                    <center>
                        <div>
                            <b>
                                @Model.Message
                            </b>
                        </div>
                    </center>


                }
            </div>
        </div>
        <div class="box-footer">

        </div>
    </div>
        

</div>

