﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO wise received inventory";
}
@{
    int sl = 0;
}
<div class="box">
    <div class="box-warning">

        <div class="box-header">
            <h3 style="text-align:center;text-decoration:underline">
                PO wise received inventory :
            </h3>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-2"> </div>
                <div class="col-md-8">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span style="width:95px;" class="input-group-addon">@Html.DisplayName("PO ID")</span>
                                    <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.CID)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span style="width:95px;" class="input-group-addon">@Html.DisplayName("Supplier")</span>
                                    <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                                </div>
                            </td>


                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span style="width:95px;" class="input-group-addon">@Html.DisplayName("PO Date")</span>
                                    <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span style="width:95px;" class="input-group-addon">@Html.DisplayName("Currency")</span>
                                    <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Name)">
                                </div>
                            </td>
                        </tr>
                    </table>


                </div>
                <div class="col-md-2"> </div>
            </div>
          
        </div>
       
        <div class="box-footer">

        </div>
    </div>
</div>
@{ 
    int i = 0;
    string challan = "";
}
<div class="box">
    <div class="box-danger">
        <div class="box-header">

        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table id="" class="table table-striped jambo_table bulk_action" border="1">
                    <thead style="background-color:rgba(138, 250, 39, 0.35)">
                        <tr>
                            <th style="border:1px solid">SL.</th>
                            <th style="border:1px solid">
                                @Html.DisplayName("Store")
                            </th>
                            <th style="border:1px solid">

                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
                            <th style="border:1px solid">
                                @Html.DisplayNameFor(model => model.Mkt_POSlave.TotalRequired)
                            </th>
                            <th style="border:1px solid">
                                @Html.DisplayName("Stock In")
                            </th>
                            @*<th style="border:1px solid">
                                @Html.DisplayName("Return")
                            </th>
                            <th style="border:1px solid">
                                @Html.DisplayName("Current Stock")
                            </th>*@
                        </tr>
                    </thead>
                    @{ 
                        decimal? totalQuantity = 0;
                    }
                    <tbody>
                        @while (i < Model.StokedList.Count())
                        {
                            if (challan != Model.StokedList[i].Challan)
                            {
                                <tr class="text-bold">
                                    <td colspan="7" style="background-color:rgba(197, 239, 118, 0.71); border:1px solid">
                                        <u>Challan No :</u> @Model.StokedList[i].Challan &nbsp;&nbsp;&nbsp;<u>Date :</u> @Model.StokedList[i].Date.ToString("yyyy/MM/dd")&nbsp;&nbsp;&nbsp;
                                    </td>
                                   
                                </tr>
                                challan = Model.StokedList[i].Challan;
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @(++sl)
                                    </td>
                                    <td>
                                        @Model.StokedList[i].Store
                                    </td>
                                    <td>
                                        @Model.StokedList[i].ItemName
                                    </td>
                                    <td>
                                        @Model.StokedList[i].TotalRequired
                                        @Model.StokedList[i].UnitName
                                    </td>
                                    <td>
                                        @Model.StokedList[i].Quantity
                                        @Model.StokedList[i].UnitName

                                        @*@{ 
                                            totalQuantity += Model.StokedList[i].Quantity;
                                        }*@
                                    </td>
                                    @*<td>
                                        @Model.StokedList[i].ReturnQuantity
                                        @Model.StokedList[i].UnitName
                                    </td>
                                    <td>
                                        @Model.StokedList[i].CurrentQuantity
                                        @Model.StokedList[i].UnitName
                                    </td>*@

                                </tr>
                                                    i++;
                                                }

                                            }
                    </tbody>

                    @*<tfoot>
                        <tr style="background-color:rgba(138, 250, 39, 0.35)">
                            <th></th>
                            <th colspan="3" style="border:1px solid">Total Received  Quantity</th>
                                                     
                            <th style="border:1px solid">@String.Format("{0:0.00}", totalQuantity)</th>
                        </tr>
                    </tfoot>*@
                </table>
            </div>
          
        </div>
        <div class="box-footer">

        </div>
    </div>

</div>
