﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@{
    int sl = 0;
}
<div class="box box-info">
    <div class="box-header with-border">
        <h3>
            Po Wise Return Inventory :
        </h3>
    </div>
    <div class="row">
        <div class="box-body col-md-6">
            <div class="input-group">
                <span style="width:95px;" class="input-group-addon">@Html.DisplayName("PO ID")</span>
                <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.CID)">
            </div>
            <div class="input-group">
                <span style="width:95px;" class="input-group-addon">@Html.DisplayName("Supplier")</span>
                <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
            </div>
        </div>
        <div class="box-body col-md-6">
            <div class="input-group">
                <span style="width:95px;" class="input-group-addon">@Html.DisplayName("PO Date")</span>
                <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
            </div>
            <div class="input-group">
                <span style="width:95px;" class="input-group-addon">@Html.DisplayName("Currency")</span>
                <input style="width:200px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Name)">
            </div>
        </div>
    </div>
</div>
@{
    int i = 0;
    string challan = "";
}
<div class="box-body table-responsive">
    <table id="example1" class="table table-striped jambo_table bulk_action">
        <thead style="background-color:rgba(138, 250, 39, 0.35)">
            <tr>
                <th>SL.</th>
                <th>
                    @Html.DisplayNameFor(model => model.Raw_Item.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mkt_POSlave.TotalRequired)
                </th>
                <th>
                    @Html.DisplayName("Return")
                </th>
            </tr>
        </thead>
        <tbody>
            @while (i < Model.StokedList.Count())
            {
                if (challan != Model.StokedList[i].Challan)
                {
                    <tr class="text-bold">
                        <td colspan="5" style="background-color:rgba(197, 239, 118, 0.71)">
                            <u>Challan No :</u> @Model.StokedList[i].Challan &nbsp;&nbsp;&nbsp;<u>Date :</u> @Model.StokedList[i].Date.ToString("yyyy/MM/dd")&nbsp;&nbsp;&nbsp;<u>Store :</u> @Model.StokedList[i].Store
                        </td>
                    </tr>
                    challan = Model.StokedList[i].Challan;
                }
                else
                {
                    <tr>
                        <td>
                            @(++sl)
                        </td>
                        <td>
                            @Model.StokedList[i].ItemName
                        </td>
                        <td>
                            @Model.StokedList[i].TotalRequired
                            @Model.StokedList[i].UnitName
                        </td>
                        <td>
                            @Model.StokedList[i].Quantity
                            @Model.StokedList[i].UnitName
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

