﻿@model Oss.Romo.ViewModels.Store.VmMkt_POExtTransfer
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@*@Styles.Render("~/plugins/select2/select2.min.css")
    @Scripts.Render("~/plugins/select2/select2.full.min.js")*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Mkt_POExtTransfer.Mkt_POFK)
    @Html.HiddenFor(model => model.ReturnController)
    <br />
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TransferType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.TransferType, ViewBag.TransferFilterList as SelectList, "---Select Type---", new { id = "TransferType", @style = "width: 100%", @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.TransferType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divMkt_BOMSlaveFK">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Style No</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOM.ID, ViewBag.BOMList as SelectList, "--Select Style--", new { @id = "BOMId", @style = "width: 100%", @class = "SerchingDropDown form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOM.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group divMkt_POSlaveFK">
            @Html.LabelFor(model => model.Mkt_POExtTransfer.Mkt_POSlaveFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_POExtTransfer.Mkt_POSlaveFK, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "Mkt_POSlaveFK", @style = "width: 100%", @class = "SerchingDropDown form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POExtTransfer.Mkt_POSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Booking Quantity</b></span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" style="width: 100%" name="name" id="TotalRequired" class="form-control col-md-9 col-xs-9" readonly="readonly" />
            </div>
        </div>
        <div class="form-group divMkt_POSlaveFK">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Available Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtAvailableQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POExtTransfer.Prod_MachineDIAFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_POExtTransfer.Prod_MachineDIAFk, ViewBag.MachineDIA as SelectList, "---Select Machine DIA---", new { @id = "Prod_MachineDIAFk", @style = "width: 100%", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POExtTransfer.Prod_MachineDIAFk, "", new { @class = "text-danger" })
            </div>
        </div>
      

        <div id="Prod_TransitionItemInventoryFK">
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK, ViewBag.TransitionItem as SelectList, "---Select Transition Item---", new { @id = "Prod_TransitionItemInventoryID", @style = "width: 100%", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6"><b>Quantity</b></span>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input type="text" name="name" id="TotalTransitionItemRequired" class="form-control col-md-9 col-xs-9" readonly="readonly" />
                </div>
            </div>
          
        </div>


        <div id="Raw_ItemFK">
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_POExtTransfer.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_POExtTransfer.Raw_ItemFK, ViewBag.RawItemList as SelectList, "---Select Item---", new { @style = "width: 100%", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_POExtTransfer.Raw_ItemFK, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6">
                <strong>Send Quantity</strong>
            </span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_POExtTransfer.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_POExtTransfer.TotalRequired, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <span id="txtUnitName"></span>
                        @Html.HiddenFor(model => model.Mkt_POExtTransfer.Common_UnitFK, new { id = "txtCommon_UnitFK" })
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#divMkt_BOMSlaveFK").hide();
        $("#Prod_TransitionItemInventoryFK").hide();
        $("#Raw_ItemFK").hide();
        $(".divMkt_POSlaveFK").hide();

        $('#TransferType').on("change", function (e) {
            var xxx = $("#TransferType").val();
            //console.log(selectId);
            if (xxx == 1) {
                $("#divMkt_BOMSlaveFK").hide();
                $(".divMkt_POSlaveFK").hide();
                $("#Prod_TransitionItemInventoryFK").hide();
                $("#Raw_ItemFK").show();
            } else if (xxx == 2) {
                $("#divMkt_BOMSlaveFK").show();
                $(".divMkt_POSlaveFK").show();
                $("#Prod_TransitionItemInventoryFK").hide();
                $("#Raw_ItemFK").hide();
            } else if (xxx == 3) {
                $("#divMkt_BOMSlaveFK").hide();
                $(".divMkt_POSlaveFK").hide();
                $("#Prod_TransitionItemInventoryFK").show();
                $("#Raw_ItemFK").hide();
            }
        });


        $('#BOMId').on("change", function (e) {
            if ($('#BOMId').val() !== "--Select--") {
                var id = $('#BOMId').val();
                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetItemByOrder", "Helper")",
                    data: { bomid: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#Mkt_POSlaveFK").empty();
                        if (data.length !== 0) {
                            $("#Mkt_POSlaveFK").append("<option value='0'>---Select Item---</option>");
                            $.each(data, function (index, row) {
                                $("#Mkt_POSlaveFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                            });

                        }

                    }
                });
            }
        });

        $('#Mkt_POSlaveFK').on("change", function (e) {
            var id = $('#Mkt_POSlaveFK').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetRequiredQty", "Helper")",
                data: { poSlaveId: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    console.log(data);
                    $("#TotalRequired").empty();
                    if (data.length !== 0) {
                        $("#TotalRequired").val(data.RequiredQuantity);
                        $("#txtUnitName").text(data.UnitName)
                        $("#txtCommon_UnitFK").val(data.Common_UnitFK)
                    }
                }
            });

            $.ajax({
                type: "post",
                url: "@Url.Action("GetAvailableReceivedQuantity", "Helper")",
                data: { id: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var unitName = $('#txtUnitName').text();
                    $('#txtAvailableQty').val(data + " " + unitName);

                }
            });
        });

        $('#Prod_TransitionItemInventoryID').on("change", function (e) {
            var id = $('#Prod_TransitionItemInventoryID').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetTransitionalItemQuantity", "Helper")",
                data: { id: id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#TotalTransitionItemRequired").empty();
                    if (data.length !== 0) {
                        $("#TotalTransitionItemRequired").val(data.Quantity);
                    }

                }
            });
        });

    });



</script>
