﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Deliver";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 450,
            width: 650,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-edit3").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 750,
            show: { effect: 'up', direction: "down" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Send <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit2").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Receive From Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit3").click(function (e) {
            $(".ui-dialog-titlebar").html("Deliver Report <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit3").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Now ");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit2').attr('href'));
        //$('#dialog-edit3').load($('.lnkEdit3').attr('href'));
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-edit3" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Stock Out &nbsp;&nbsp;

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Store/Dashboard">Marketing</a></li>
        <li class="active">Stock Out</li>
    </ol>
</section>
<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">


                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UpdateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Buyer.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Style)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)
                            </th>

                            <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/ @Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.UpdateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Reference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Buyer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)

                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    <span title="Item Stock">
                                        @Html.ActionLink(".", "VmMkt_POEditFromDeliver", new { id = item.Mkt_BOM.ID }, new {@target="_blank", @title = "Stock Out", @class = "glyphicon glyphicon-upload" }) &nbsp;
                                    </span>
                                    <span title="item Return">
                                        @Html.ActionLink(".", "VmMkt_ReturnFrom_Production", new { id = item.Mkt_BOM.ID }, new { @target = "_blank", @title = "Return", @class = "glyphicon glyphicon-download" }) &nbsp;
                                    </span>
                                    <span>
                                        @Html.ActionLink(".", "PO_DeliveredReport", new { id = item.Mkt_BOM.ID }, new { @target = "_blank", @title = "Stock Out List", @class = "glyphicon glyphicon-th-list" }) &nbsp;
                                    </span>

                                    @*<span title="Item Stock">
                                        @Html.ActionLink(".", "VmMkt_POStoreDeliver", new { id = item.Mkt_BOM.ID }, new { @class = "glyphicon glyphicon-pencil" }) &nbsp;
                                    </span>*@
                                    @* <span title="item Return">
                                            @Html.ActionLink(".", "VmMkt_ReturnProductionToStore", new { id = item.Mkt_BOM.ID }, new { @class = "fa fa-undo" }) &nbsp;
                                        </span>
                                        @Html.ActionLink(".", "OrderInventoryBalanceReportDoc", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })
                                        &nbsp;*@

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>