﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Prodution Requisition";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Requisition Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Requisition <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })
        $(".lnkEdit2").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Receive From Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Requisition : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-confirm2" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to complete this Requisition?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
   <h1>Stock Out (Requisition)</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Requisition</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @{
                int Sl = 0;
            }
            @using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By Requisition" } })

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }

            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Requisition.RequisitionCID)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Requisition.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Requisition.Description)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                         
                                <th>
                                    Action
                                </th>                        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem=>item.Prod_Requisition.RequisitionCID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.CID)
                                </td>

                                <td>
                                    @Html.ActionLink(".", "VmMkt_POEditFromDeliverREQ", new { id = item.Prod_Requisition.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink("Return", "VmMkt_ReturnFrom_ProductionREQ", new { id = item.Prod_Requisition.ID }, new { @class = "lnkEdit2" }) &nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>



