﻿@model Oss.Romo.ViewModels.Store.VmStoreInventory

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Item Inventory";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add New Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");

            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

       // //$('#dialog-edit').load($('#lnkCreate').attr('href'));
       // $('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb"></ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Raw_Item.ID)
        <!-- /.box -->
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Item Inventory:
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_Category.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x =>x.Raw_Category.Name)">
                            </div>
                        </div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_SubCategory.Name)</span>
                                <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x =>x.Raw_SubCategory.Name)">
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>




                <section>
                    <h3></h3>

                    @{
                        int Sl = 0;
                    }
                </section>
                <div class="table-responsive">
                    <table id="example1"  class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                @*<th>SL</th>*@

                                <th>
                            
                                    @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                </th>
                                <th>
                                 Stock In Quantity

                                </th>
                                <th>
                                    Challan No

                                </th>
                                <th>
                                    Price

                                </th>
                                <th>
                                   PO
                                </th>
                                @*<th>
                                 Stock Out
                                </th>*@
                                 @*<th>
                                   Requisition

                                </th>*@
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    @*<td><b>@(++Sl).</b></td>*@
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>

                                    <td>
                                        <table>
                                            @{
                                                decimal? sum = 0;
                                                foreach (var itemChild in item.ItemQty)
                                                {
                                                    sum += itemChild.Quantity;
                                                    <tr>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemChild.Quantity)
                                                        </td>
                                                    </tr>

                                                }
                                                <tr>
                                                    <th>Total Stock In Quantity = </th>

                                                    <td>@sum</td>
                                                </tr>
                                            }
                                            
                                
                                        </table>
                                    </td>

                                    <td>
                                        <table>

                                            @foreach (var itemChild in item.ItemQty)
                                            {

                                                <tr>

                                                    <td style="padding:2px 4px 2px 4px">
                                                        @Html.DisplayFor(modelItem => itemChild.Challan)
                                                    </td>
                                                </tr>

                                            }

                                        </table>
                                    </td>

                                    <td>
                                        <table>
                                            @{
                                                decimal? price = 0;
                                                foreach (var itemChild in item.ItemQty)
                                                {
                                                    price += itemChild.Price;
                                                    <tr>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemChild.Price)
                                                        </td>
                                                    </tr>
                                                   }
                                                <tr>
                                                    <th>Total  Price = </th>

                                                    <td>@price</td>
                                                </tr>
                                            }


                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            @{
                                      
                                                foreach (var itemChild in item.ItemQty)
                                                {
                                          
                                                    <tr>
                                                        <td style="padding:2px 4px 2px 4px">
                                                      
                                                            @*<a href="~/Marketing/authorizedpurchaseorders/@Html.DisplayFor(modelItem => itemChild.ID)" target="_blank">@Html.DisplayFor(modelItem => itemChild.PO)</a>*@
                                                            <a href="~/Marketing/PurchaseOrdersSlave/@Html.DisplayFor(modelItem => itemChild.ID)" target="_blank">@Html.DisplayFor(modelItem => itemChild.PO)</a>
                                                    
                                                          
                                                        </td>
                                                    </tr>
                                                }
                                              
                                            }


                                        </table>
                                    </td>




                               
                                    @*<td>
                                        <table>
                                            @{
                                                decimal? sout = 0;
                                                foreach (var itemChild in item.StockOutQuantitys)
                                                {
                                                    sout += itemChild.StockOut;
                                                    <tr>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemChild.StockOut)
                                                        </td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <th>Total Stock Out = </th>

                                                    <td>@sout</td>
                                                </tr>
                                            }


                                        </table>
                                    </td>



                                    <td>
                                        <table>
                                            @{
                                             
                                                foreach (var itemChild in item.StockOutQuantitys)
                                                {
                                                   <tr>
                                                        <td style="padding:2px 4px 2px 4px">
                                                            @Html.DisplayFor(modelItem => itemChild.Requition)
                                                        </td>
                                                    </tr>
                                                }
                                             
                                            }


                                        </table>
                                    </td>*@

                                </tr>




                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
