﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/iCheck/square/blue.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Prod_Requisition_Slave.Prod_RequisitionFK, new { id = "Prod_RequisitionFK" })
        @Html.HiddenFor(model => model.Prod_Requisition_Slave.ID)
        @Html.HiddenFor(model => model.Mkt_PO.ID)

        @{
            if (Model.Prod_Requisition_Slave.IsFinalize == false)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Prod_Requisition_Slave.IsFinalize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to finalize this requisition item, Make sure to Check the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Prod_Requisition_Slave.IsFinalize, new
                            {
                                htmlAttributes = new { @class = "checkbox icheck" }
                            })
                        </span>


                        @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.IsFinalize, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Prod_Requisition_Slave.IsFinalize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to decline, this Requiest item, Make sure to Uncheck the CheckBox.</b>
                            @Html.CheckBoxFor(model=> model.Prod_Requisition_Slave.IsFinalize, new
                            {
                                htmlAttributes = new { @class = "checkbox icheck" }
                            })
                        </span>


                        @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.IsFinalize, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
            }

@Scripts.Render("~/plugins/iCheck/icheck.min.js")
