﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    ViewBag.Title = "StockIn";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 550,
            width: 950,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Create. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Receive.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit2").click(function (e) {
            $(".ui-dialog-titlebar").html("Now Return. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit3").click(function (e) {
            $(".ui-dialog-titlebar").html("Receive List <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit4").click(function (e) {
            $(".ui-dialog-titlebar").html("Return List<button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })


        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>
<div id="dialog-confirm" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display: none">

    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none;"></div>
<section class="content-header">
    <h1>
        General Stock In &nbsp;&nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Stock In </li>
    </ol>
</section>
<div class="clearfix"></div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive">


                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    @{ 
                        int sl = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.VmMkt_POList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>

                                    @Html.ActionLink(".", "VmMkt_POEditFromReceive", "Store", new { id = item.Mkt_PO.ID }, new { @target = "_blank", @title = "Receive", @class = "glyphicon glyphicon-download" }) &nbsp;
                                    @Html.ActionLink(".", "VmMkt_PO_ItemReturn", "Store", new { id = item.Mkt_PO.ID }, new { @target = "_blank", @title = "Return", @class = "glyphicon glyphicon-upload" }) &nbsp;
                                    @Html.ActionLink(".", "PO_StockInRecevedReport", "Store", new { id = item.Mkt_PO.ID }, new { @title = "Receive List", @target = "_blank", @class = "glyphicon glyphicon-th-list" }) &nbsp;
                                    @Html.ActionLink(".", "PO_StockInReturnReport", "Store", new { id = item.Mkt_PO.ID }, new { @title = "Return List", @target = "_blank", @class = "glyphicon glyphicon-th-list" })
                                   
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>