﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/select2/select2.min.css")
    @Scripts.Render("~/plugins/select2/select2.full.min.js")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Mkt_POFK)
    @Html.HiddenFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Mkt_BOMSlaveFK)
    @*@Html.HiddenFor(model => model.Prod_Requisition_Slave.ID)*@
    @Html.HiddenFor(model => model.Prod_Requisition_Slave.Raw_ItemFK)
    @Html.HiddenFor(model => model.Prod_Requisition_Slave.Common_UnitFK)
    <div class="form-horizontal">
        <h3>Requisition List</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Prod_Requisition.ID)*@

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition.RequisitionCID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition.ID, ViewBag.StoreReq as SelectList, "---Select Requisition---", new { @id = "Prod_Requisition", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.ID, new SelectList(string.Empty, "Value", "Text"), "---Select Item---", new { id = "Prod_RequisitionSlaveId", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Request Quantity")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtRequiredQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Estimated Unit Price")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtEstimatedPrice" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">

            </div>
        </div>

        <hr />
        <h4><u>Add To PO</u></h4>

        <div class="row">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">

                    <div class="col-md-10">


                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Assign Quantity")</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.VmGeneral_POSlave.Mkt_POSlave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.VmGeneral_POSlave.Mkt_POSlave.TotalRequired, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.VmGeneral_POSlave.Mkt_POSlave.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:50px">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

                    </p>
                </div>
            </div>
        </div>
    </div>
}
<script>


    $('#Prod_Requisition').select2().on("select2-selecting",
        function (e) {

        }).on("change", function(e) {
        var catid = $("#Prod_Requisition").val();
        //alert(catid);
        if (catid != '') {
            //document.getElementById("Prod_RequisitionItem").innerHTML = "";
            $('#Prod_RequisitionSlaveId').empty();
            $.get("../../Helper/GetReqItem", { ID: catid }, function (data) {
                $("#Prod_RequisitionSlaveId").append("<option value='0'>---Select Item---</option>");
                $("#txtRequiredQty").val("");
                $("#txtEstimatedPrice").val("");
                $.each(data, function (index, row) {
                    $("#Prod_RequisitionSlaveId")
                        .append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                });
            });
        }
        else {
            $('#Prod_RequisitionSlaveId').empty();
        }

    });


    $('#Prod_RequisitionSlaveId').select2().on("select2-selecting",
        function (e) {

        }).on("change", function (e) {
        if ($('#Prod_RequisitionSlaveId').val() !== "---Select Items---") {
            var itemid = $('#Prod_RequisitionSlaveId').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetReqItemQty", "Helper")",
                data: { ID: itemid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#txtRequiredQty").empty();
                    $("#txtEstimatedPrice").empty();
                    if (data.length !== 0) {
                        $("#txtRequiredQty").val(data.Quantity);
                        $("#txtEstimatedPrice").val(data.UnitPrice);

                    }
                }
            });
        }
    });
</script>
