﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
   
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Create Plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Edit plan Reference Production <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>




<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<section class="content-header">
    <h1>
      
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Store Received Item</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">

    <div class="col-xs-12">



        <div class="box">

            @*<div class="box-body">

                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Order No</span>
                        <textarea style="width:280px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(m => m.VmProd_PlanReference.Common_TheOrder.CID)/@Html.DisplayFor(m => m.VmProd_PlanReference.Mkt_BOM.Style)</textarea>

                    </div>
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Reference No</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Prod_PlanReference.CID)">
                    </div>
                </div>

                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Quantity</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Prod_PlanReference.Quantity)">
                    </div>
                    <div class="input-group">
                        <span style="width: 160px;" class="input-group-addon">Port No</span>
                        <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.VmProd_PlanReference.Mkt_OrderDeliverySchedule.PortNo)">
                    </div>
                </div>               
            </div>*@     
            <div class="clearfix"></div>          
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <h3 style="text-align: center">
                    <b style="border-bottom: 1px solid black;padding: 0 0 4px;">Store Received Item</b>
                </h3>

                <br />
                <div class="box-body table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.Challan)
                                </th>                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.FirstCreated)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.Quantity)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Challan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)/@Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.FirstCreated)
                                    </td>                                  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave_Receiving.Quantity)
                                    </td>
                                    <td>
                                        @Html.ActionLink(".", "VmMkt_POSlave_ReceivingEdit", new { id = item.Mkt_POSlave_Receiving.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })
                                        @Html.ActionLink(".", "VmMkt_POSlave_ReceivingDelete", new { id = item.Mkt_POSlave_Receiving.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })                                   
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

