﻿@model Oss.Romo.ViewModels.Store.VmStoreInventory
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "SubCategory Inventory";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkLock").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-lock').load($('.lnkLock').attr('href'));


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
 
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        @*<li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>*@
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Raw_Category.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                           Category Inventory : 
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-12">
                            <div class="col-md-4">
                            <div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_Category.Name)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Raw_Category.Name)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:100px;" class="input-group-addon">@Html.DisplayNameFor(x => x.CategoryQuantity)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CategoryQuantity)">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <span style="width:100px;" class="input-group-addon">@Html.DisplayNameFor(x => x.CategoryTotalPrice)</span>
                                    <input style="width:250px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CategoryTotalPrice)">
                                </div>
                            </div>
                         </div>

                    <div class="col-md-1"></div>
                    </div>
                </div>
             

                <section>
                    <h3>
                        SubCategory Inventory: 
                     </h3>
                </section>
                @{
                    int Sl = 0;
                }
     <div class="table-responsive">
       <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Raw_SubCategory.Name)
                                </th>
                                <th>
                                    Total Received Quantity
                                </th>
                                <th>
                                    Consumption Quantity
                                </th>
                                <th>
                                    Current Stock
                                </th>
                                <th>
                                   Total Value
                                </th>
                                <th>
                                    Average Price
                                </th>
                                <th>
                                    Current Stock Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                      @{
                         decimal devision = 0;
                       }

                           
                       @foreach (var item in Model.DataList)
                       {

                           //if (item.CategoryTotalPrice != 0 && item.CategoryTotalPrice != null && item.SubCategoryQuantity != 0 && item.SubCategoryQuantity != null)
                           //{

                           //    devision = ((decimal)item.CategoryTotalPrice / (decimal)item.SubCategoryQuantity);

                           //}
                           //else
                           //{
                           //    devision = 0;
                           //}

                        <tr>
                          <td>
                               <b> @(++Sl).</b>
                          </td>
                           <td style="padding:2px 4px 2px 4px">
                               <a href="~/Store/ItemInventoryIndex/@Html.DisplayFor(modelItem => item.Raw_SubCategory.ID)" target="_blank">@Html.DisplayFor(modelItem => item.Raw_SubCategory.Name)</a>
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.SubCategoryQuantity)
                           </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubCategoryStockOutQuantity)
                            </td>
                            <td>
                                @(item.SubCategoryQuantity - item.SubCategoryStockOutQuantity)
                            </td>
                           <td>
                               @Html.DisplayFor(modelItem => item.SubCategoryTotalPrice)
                           </td>
                            <td>
                                @{
                                    decimal avgprice = 0;
                                    if (item.SubCategoryQuantity != 0 && item.SubCategoryQuantity != 0)
                                    {
                                        avgprice = (decimal)item.SubCategoryQuantity / (decimal)item.SubCategoryTotalPrice;
                                    }
                                    else
                                    {
                                        avgprice = 0;
                                    }

                                }
                                @String.Format("{0:0.0000}", (avgprice))
                            </td>
                            <td>
                                @String.Format("{0:0.0000}",((item.SubCategoryQuantity - item.SubCategoryStockOutQuantity) * avgprice))
                            </td>
                    
                      </tr>

                       }

                     </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

