﻿@model Oss.Romo.ViewModels.Store.VmGeneral_PO
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     
        @Html.HiddenFor(model => model.Mkt_PO.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_PO.LastEditeddBy)
        @{
            if (Model.DepartmentID == 13)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_PO.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.Mkt_PO.Mkt_BOMFK, ViewBag.BomCID as SelectList, "---Select Style No---", new { @id = "BOMCIDWithStyle", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                        @Html.ValidationMessageFor(model => model.Mkt_PO.Mkt_BOMFK, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.Mkt_PO.Mkt_BOMFK)
            }
        }

      

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Date, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_PO.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.StatusId, ViewBag.Status as SelectList, "---Select T & C Title---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_PO.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.AlsoATransfer, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.CheckBoxFor(model => model.Mkt_PO.AlsoATransfer, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.AlsoATransfer, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#StatusId").change(function () {
            var statusId = $("#StatusId").val();
            if (statusId != '') {
                
                $.get("../Helper/GetStatusDetails", { ID: statusId }, function (data) {
                    //$('#Mkt_PO_Description').val('');
                    $("#Mkt_PO_Description").append(data)
                });
            }
        });
    });
</script>