﻿@model Oss.Romo.ViewModels.Store.VmGeneral_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "General PO";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "General PO Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Update General PO <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("General PO : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });
        $(".lnkEdit1").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Authorize PO <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
        General Purchase Orders: &nbsp;&nbsp;
        (&nbsp; <a href="VmGeneral_POCreate" id="lnkCreate" title="General PO Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> General Purchase Orders</li>
    </ol>
</section>
<div class="clearfix"></div>
@{
    var u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
   
}
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th style="width:5%">SL</th>
                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.RequisitionFK)
                                </th>*@
                            @*<th style="text-align: center">
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Description)
                                </th>*@

                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.Mkt_PO.Common_SupplierFK)
                            </th>
                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.VmMkt_PO.Total_Value)
                            </th>
                            <th style="width:10%">
                                @Html.DisplayNameFor(model => model.Mkt_PO.IsAuthorize)
                            </th>
                            <th style="width:20%">
                                @Html.DisplayNameFor(model => model.VmMkt_PO.Mkt_BOM.Style)
                            </th>
                            <th style="width:15%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    @{ int sl = 0;}
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>@(++sl)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Prod_Requisition.RequisitionCID)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Description)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_Value)
                                </td>

                                @{
                                    if (!item.Mkt_PO.IsAuthorize)
                                    {

                                        <td class="text-center">
                                            <div style="padding: 0px 50px" class="center">
                                                <span class="label label-danger">Unauthorize</span>

                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <div style="padding: 0px 50px" class="center">
                                                <span class="label label-success">Authorize</span>

                                            </div>
                                        </td>
                                    }
                                }
                                @if (item.Mkt_PO.Mkt_BOMFK != 1)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        General Purchase Order
                                    </td>
                                }

                                    <td>
                                        @if (item.Mkt_PO.IsAuthorize == false)
                                        {
                                            @Html.ActionLink(".", "VmGeneral_POEdit", new { id = item.Mkt_PO.ID }, new { @title = "General PO Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                            @Html.ActionLink(".", "VmGeneral_PODelete", new { id = item.Mkt_PO.ID }, new { @title = "General PO Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                        }


                                        @Html.ActionLink(".", "VmGeneral_POSlaveDetails", new { id = item.Mkt_PO.ID }, new { @title = "Requisition Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                        @if (u.User_User.User_AccessLevelFK == 2)
                                        {
                                            @Html.ActionLink(".", "VmGeneral_POAuthorize", new { id = item.Mkt_PO.ID }, new { @title = "Authorizetion", @class = "lnkEdit1 AuthorizeCss glyphicon glyphicon-user" })


                                        }

                                        @Html.ActionLink(".", "VmGeneral_PurchaseInvoice", new { id = item.Mkt_PO.ID }, new { @title = "PO Invoice", target = "_blank", @class = "glyphicon glyphicon-print" })
                                        @Html.ActionLink(".", "POInventoryReport", new { id = item.Mkt_PO.ID }, new { @title = "PO Inventory", target = "_blank", @class = "glyphicon glyphicon-print" })
                                    </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
