﻿
@model Oss.Romo.ViewModels.Store.VmStore_InternalTransferSlave
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Store Internal Transfer Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#Requisition-Item-Create").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $(".lnkComplete").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Item Finalize For this Requisition <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $("#RequisitionItemCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#Requisition-Item-Create").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Item Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkAuthorize").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("PO Authorize. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>


<div id="Requisition-Item-Create" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Internal Transfer Details : @Html.DisplayFor(x => x.Raw_InternaleTransfer.CID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Internal Transfer</li>
        <li class="active">Transfer Details</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box box-info">

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_InternaleTransfer.CID)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Raw_InternaleTransfer.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Raw_InternaleTransfer.Date)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Raw_InternaleTransfer.Date)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.FromUser_Department.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.FromUser_Department.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.ToUser_Department.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.ToUser_Department.Name)">
                            </div>

                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>

                    <h3>
                        Add Items
                        (&nbsp;<a href="~/Store/InternalTransferRequisitionItem/@Model.Raw_InternaleTransfer.ID" id="lnkCreate"><i title="Item Add From Requisition" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Raw_InternaleTransferSlave.Quantity)
                            </th>




                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>



                                    @if (item.Raw_InternaleTransferSlave.Prod_TransitionItemInventoryFK != 1)
                                    {
                                        @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName)
                                    }
                                    else if (item.Raw_InternaleTransferSlave.Mkt_POSlaveFK != 1)
                                    {
                                        <span>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name) | @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                            (@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style))
                                        </span>

                                    }
                                    else if (item.Raw_InternaleTransferSlave.Raw_ItemFK != 1)
                                    {
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)

                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_InternaleTransferSlave.Quantity)@Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmGeneral_InternalTransferSlaveEdit", new { id = item.Raw_InternaleTransferSlave.ID }, new { title = "PO Edit FromRequisition", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(".", "VmGeneral_InternalTransferSlaveDelete", new { id = item.Raw_InternaleTransferSlave.ID + "x" + Model.Raw_InternaleTransfer.ID }, new { title = "PO Delete FromRequisition", @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>



            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
