﻿@model Oss.Romo.ViewModels.Store.VmStore_InterTransfer
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Internal Transfer";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Internal Transfer Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "InternalTransfer  Update <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("InternalTransfer : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });
        $(".lnkEdit1").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Authorize Internal Transfer <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkEdit2").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Acknowledgement Internal Transfer <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>
<div id="dialog-detail" style="display: none">
</div>


<section class="content-header">
    <h1>
        InternalTransfer: &nbsp;&nbsp;
        (&nbsp; <a href="VmStore_TransferCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Internal Transfer</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <!-- /.box-header -->
            @{
                int Sl = 0;
            }

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Raw_InternaleTransfer.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_InternaleTransfer.Date)
                            </th>
                            <th>
                             From Department
                            </th>
                            <th>
                                To Department
                            </th>
                            <th>
                                Is Authorize
                            </th>
                            <th>
                                Acknowledgement
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b> @(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_InternaleTransfer.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_InternaleTransfer.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FromUser_Department.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ToUser_Department.Name)
                                </td>
                                <td>
                                    <div style="padding:0px 50px" class="center">
                                        @if (item.Raw_InternaleTransfer.IsAuthorize == true)
                                        {
                                            <span class="label label-success">Approved</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Unauthorize</span>
                                        }

                                    </div>
                                </td>
                                <td>
                                    <div style="padding:0px 50px" class="center">
                                        @if (item.Raw_InternaleTransfer.IsAcknowledge == true)
                                        {
                                            <span class="label label-success">Acknowledged</span>
                                        }
                                       

                                    </div>
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmStore_TransferEdit", new { id = item.Raw_InternaleTransfer.ID }, new { @title = "Raw Internale Transfer Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmStore_TransferDelete", new { id = item.Raw_InternaleTransfer.ID }, new { @title = "Raw Internale Transfer Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmGeneral_InternalTransferSlaveIndex", new { id = item.Raw_InternaleTransfer.ID }, new { @title = "Internal Transfer Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                    @Html.ActionLink(".", "InternalTransferAuthorize", new { id = item.Raw_InternaleTransfer.ID }, new { @title = "Authorization", @class = "lnkEdit1 AuthorizeCss glyphicon glyphicon-user" })&nbsp;
                                    @Html.ActionLink(".", "VmStoreInterTransferAcknowledgement", new { id = item.Raw_InternaleTransfer.ID }, new { @title = "Acknowledgement", @class = "lnkEdit2 AuthorizeCss glyphicon glyphicon-ok" })&nbsp;
                                </td>

                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
