﻿@model Oss.Romo.ViewModels.Store.VmGeneral_PO
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/iCheck/square/blue.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_PO.ID)
        @Html.HiddenFor(model => model.Mkt_PO.Common_SupplierFK)
        @Html.HiddenFor(model => model.Mkt_PO.Description)
        @Html.HiddenFor(model => model.Mkt_PO.Common_CurrencyFK)
        @Html.HiddenFor(model => model.Mkt_PO.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_PO.RequisitionFK)
        @Html.HiddenFor(model => model.Mkt_PO.AlsoATransfer)


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.CID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.AuthorizeDate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.AuthorizeDate, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.AuthorizeDate, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            if (Model.Mkt_PO.IsAuthorize == false)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_PO.IsAuthorize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to Autherize this Purchase Order, Make sure to Check the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Mkt_PO.IsAuthorize, new
                       {
                           htmlAttributes = new { @class = "checkbox icheck" }
                       })
                        </span>


                        @Html.ValidationMessageFor(model => model.Mkt_PO.IsAuthorize, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_PO.IsAuthorize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span>
                            <b style="color:red">  Are you sure to decline, this Purchase Order, Make sure to Uncheck the CheckBox.</b>
                            @Html.CheckBoxFor(model => model.Mkt_PO.IsAuthorize, new
                       {
                           htmlAttributes = new { @class = "checkbox icheck" }
                       })
                        </span>


                    </div>
                </div>
            }
        }


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
            }

@Scripts.Render("~/plugins/iCheck/icheck.min.js")
