﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "General PO Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#Requisition-Item-Create").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $(".lnkComplete").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Item Finalize For this Requisition <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $("#RequisitionItemCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#Requisition-Item-Create").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $("#POAlsoTransferItemCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Transfer Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#LoadingBar").show();
            $("#Requisition-Item-Create").dialog('open');


            return false;
        });

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Item Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $(".lnkAuthorize").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("PO Authorize. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>


<div id="Requisition-Item-Create" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Common_TheOrder.ID)
        <!-- /.box -->
        <div class="box">
           
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Purchase Orders :&nbsp;

                            @{
                                if (Model.Mkt_PO.IsAuthorize == true)
                                {
                                    @Html.ActionLink(".", "VmGeneral_PurchaseInvoice", "Store", new { id = Model.Mkt_PO.ID }, new { title = "Print", @target = "_blank", @class = "glyphicon glyphicon-print" })
                                }
                                else
                                {
                                    @Html.ActionLink(".", "VmGeneral_POAuthorize", new { id = Model.Mkt_PO.ID }, new { title = "Authorize", @class = "lnkAuthorize AuthorizeCss glyphicon glyphicon-user" })
                                }
                            }
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            @if (Model.Mkt_PO.Mkt_BOMFK != 1)
                            {
                                <div class="input-group">
                                    <span style="width: 140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_TheOrder.CID)</span>
                                    <textarea style="width: 300px;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)</textarea>
                                </div>
                            }
                            <div class="input-group">
                                <span style="width: 140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.CID)</span>
                                <input style="width: 300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width: 140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Date)</span>
                                <input style="width: 300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
                            </div>

                            @*<div class="input-group">
                                <span style="width: 140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Description)</span>
                                <input style="width: 300px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_PO.Description)">
                            </div>*@
                        </div>

                        <div class="box-body col-md-5">
                            @if (Model.Mkt_PO.Mkt_BOMFK != 1)
                            {
                                <div class="input-group">
                                    <span style="width: 120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Style)</span>
                                    <input style="width: 320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Style)">
                                </div>
                            }
                            <div class="input-group">
                                <span style="width: 120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Currency.Name)</span>
                                <input style="width: 320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width: 120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                                <input style="width: 320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width: 120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Total_Value)</span>
                                <input style="width: 320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Total_Value)">
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>
                 
                        <h3>
                            Item Add From Requisition
                            (&nbsp;<a href="~/Store/StoreRequisitionItem/@Model.Mkt_PO.ID" id="RequisitionItemCreate"><i title="Item Add From Requisition" class="glyphicon glyphicon-plus"></i></a>&nbsp;)

                        </h3>
                   
                </section>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>
                                    SL
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Prod_Requisition.RequisitionCID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.TotalRequired)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Price)
                                </th>
                                <th>
                                    Line Total
                                </th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int SL = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.VmMktPO_Slave.DataList)
                            {
                                <tr>
                                    <td>
                                        @(++SL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_Requisition.RequisitionCID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.TotalRequired)
                                        @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                    </td>

                                    <td>
                                        @String.Format("{0:0.00}", item.Mkt_POSlave.Price)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LineTotal)
                                    </td>
                                    <td>
                                        @{
                                            if (item.Mkt_POSlave.RequisitionSlaveFK != null)
                                            {
                                                @Html.ActionLink(".", "VmGeneral_POSlaveEditFromRequisition", new { id = item.Mkt_POSlave.ID }, new { title = " PO EditFromRequisition", @class = "lnkEdit glyphicon glyphicon-pencil" })

                                            }
                                            else
                                            {
                                                @Html.ActionLink(".", "VmGeneral_POSlaveEdit", new { id = item.Mkt_POSlave.ID }, new { title = "PO Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })

                                            }
                                        }

                                        @Html.ActionLink(".", "VmGeneral_POSlaveDelete", new { id = item.Mkt_POSlave.ID + "x" + Model.Mkt_PO.ID }, new { title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                        @{
                                            if (item.Mkt_POSlave.RequisitionSlaveFK != null)
                                            {
                                                @Html.ActionLink(".", "RequisionItem_Finalize", new { reqid = item.Mkt_POSlave.RequisitionSlaveFK, poid = Model.Mkt_PO.ID }, new { title = "Complete", @class = "lnkComplete glyphicon glyphicon-ok-sign" })
                                            }
                                        }

                                        &nbsp;
                                    </td>
                                </tr>
                                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@{
    int sl = 0;
    decimal? total = 0;
}

@if (Model.Mkt_PO.AlsoATransfer)
{
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3>
                        Add Items To Transfer
                        (&nbsp;<a href="~/Store/POAlsoTransferItemCreate/@Model.Mkt_PO.ID?returnurl=@Model.VmMkt_POExtTransfer.ReturnController" id="POAlsoTransferItemCreate"><i title="Add Items" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </div>
                <div class="box-body">

                    <div class="table-responsive">
                        <table id="DataTable1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th style="width:5px">SL</th>
                                    <th style="width: 15%">
                                        @Html.DisplayNameFor(model => model.VmMkt_POExtTransfer.Raw_Item.Name)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.Mkt_YarnCalculation.Fabrication)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.Mkt_YarnType.Name)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.Mkt_YarnCalculation.GSM)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.Mkt_YarnCalculation.Color)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.Mkt_YarnCalculation.FinishDIA)
                                    </th>
                                    <th style="width: 10%">
                                        @Html.DisplayNameFor(model => model.VmMkt_POExtTransfer.Prod_MachineDIA.Name)
                                    </th>

                                    <th style="width: 15%">
                                        Send Quantity
                                    </th>

                                    <th style="width: 5px">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.VmMkt_POExtTransfer.DataList)
                                {
                                    total += item.Mkt_POExtTransfer.TotalRequired;
                                    <tr>
                                        <td style="width: 15px">
                                            @(++sl)
                                        </td>

                                        @if (item.Mkt_POExtTransfer.Mkt_POSlaveFK != 1)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Raw_Item.Name) | @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)
                                            </td>
                                        }
                                        else if (item.Mkt_POExtTransfer.Raw_ItemFK != 1)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                            </td>
                                        }
                                        else if (item.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK != 1)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName) | @Html.DisplayFor(modelItem => item.Common_TheOrder.BuyerPO)                                          </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Fabrication)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnType.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.GSM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Color)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.FinishDIA)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Prod_MachineDIA.Name)
                                        </td>
                                        <td style="width: 80px">
                                            @String.Format("{0:0.00}", item.Mkt_POExtTransfer.TotalRequired)
                                            @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                        </td>
                                        <td style="width: 20px">
                                            @Html.ActionLink(".", "POAlsoTransferItemEdit", new { id = item.Mkt_POExtTransfer.ID , returnurl = @Model.VmMkt_POExtTransfer.ReturnController }, new { title = "PO Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                            @Html.ActionLink(".", "POAlsoTransferItemDelete", new { id = item.Mkt_POExtTransfer.ID + "x" + Model.Mkt_PO.ID, returnurl = @Model.VmMkt_POExtTransfer.ReturnController }, new { title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr style="border-top:3px solid black">
                                    
                                    <th colspan="8">Total</th>
                                    <th>@String.Format("{0:0.00}", total)</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

}










<script>
    $(document).ready(function () {
        var table = $('#DataTable1').DataTable({

        });
    })
</script>


