﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase Order</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                line-height: 20px;
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>

        function printDiv() {
            window.print();
        }
    </script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: #525659;" onload="window.print()">
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="float: right; color: #AA57FF">
                            <img style="width: 120px;" src="~/Content/Images/Client_Images/Romo_pad.jpg" /> Fashion Today Ltd.
                        </span>
                        @*<span id="print" style="float: right; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                                Print
                            </span>*@
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>Purchase Order Invoice</h4>
                </div>
                @{
                    if (!Model.Mkt_PO.IsAuthorize)
                    {
                        <strong style="color: red !important">
                            This PO is not authorized yet. Please Contact with Admin
                        </strong>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table style="width: 100%">
                        <tr>
                            <th style="width:50%"></th>
                            <th style="width:24%"></th>
                            <th style="width:1%"></th>
                            <th style="width:25%"></th>
                        </tr>
                        <tr>
                            <td><strong style="font-size: 16px;">To</strong></td>
                            <td style="text-align:right"><strong>IPO</strong></td>
                            <td><strong>:</strong></td>
                            <td style="text-align: center;"><strong>@Model.Mkt_PO.CID</strong></td>
                        </tr>
                        <tr>
                            <td><strong>@Model.Common_Supplier.Name</strong></td>
                            <td style="text-align:right;"><strong>Date</strong></td>
                            <td><strong>:</strong></td>
                            @{
                                string date = "";
                                date = Model.Mkt_PO.Date?.ToString("d") ?? "N/A";
                            }
                            <td style="text-align: center"><strong>@date</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Email: @Model.Common_Supplier.Email</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Address: @Model.Common_Supplier.Address</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Mobile: @Model.Common_Supplier.Mobile</strong></td>
                        </tr>
                    </table>
                </div>
            </div>


            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        <table style="width: 100%;" border="1">
                            <tr class="trclass">
                                <td style="text-align: center;font-size:x-small;"><strong>SL</strong></td>
                                <td style="text-align: center;font-size:x-small;"><strong>Item Name</strong></td>
                                <td style="text-align: center;font-size:x-small;"><strong>Description</strong></td>
                                <td style="text-align: center;font-size:x-small;"><strong>Total Required</strong></td>
                                <td style="text-align: center"><strong>Price</strong></td>
                                <td style="text-align: center;font-size:x-small;"><strong>Line Total</strong></td>
                            </tr>
                            @{
                                int sl = 0;
                            }
                            @foreach (var vmMktPo in Model.VmMktPO_Slave.DataList)
                            {
                                sl++;
                                <tr>
                                    <td style="text-align: center">
                                        @sl
                                    </td>
                                    <td style="text-align: center;font-size:x-small;">@vmMktPo.Raw_Item.Name</td>
                                    <td style="text-align: center;font-size:x-small;">@vmMktPo.Raw_Item.Description</td>
                                    <td style="text-align: center;font-size:x-small;">@vmMktPo.Mkt_POSlave.TotalRequired</td>
                                    <td style="text-align: right;font-size:x-small;">@String.Format("{0:0.00}", vmMktPo.Mkt_POSlave.Price)</td>
                                    <td style="text-align:right;font-size:x-small;">@String.Format("{0:0.00}", vmMktPo.LineTotal)</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table style="width: 100%">
                        <tr>
                            <td><strong>Total:</strong></td>
                            <td style="text-align: right"><strong>@String.Format("{0:0.00}", Model.Total_Value)</strong></td>
                        </tr>
                        <tr>
                            <td><strong>In Word: </strong>@ViewBag.TotalInWord </td>
                        </tr>
                        <tr>
                            <td><strong>Terms & Condition: <br /> @Html.Encode(Model.Mkt_PO.Description)</strong></td>
                        </tr>
                    </table>

                </div>

            </div>
            @if (Model.Mkt_PO.AlsoATransfer)
            {
                <h5 style="text-decoration:underline">
                    <strong>
                        Details
                    </strong>
                </h5>
                <div style="width: 100%;">
                    <div id="viewparty2">
                        <div>
                            <table style="width: 100%;" border="1">
                                <tr class="trclass">
                                    <th style="width: 5%;text-align:center;font-size:x-small;">SL</th>
                                    <th style="width: 20%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Item
                                    </th>
                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Fabrication
                                    </td>
                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Yarn Type
                                    </td>
                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        GSM
                                    </td>
                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Color
                                    </td>
                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Finish DIA
                                    </td>

                                    <td style="width: 10%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Machine DIA
                                    </td>

                                    <th style="width: 15%;text-align:center;padding-left:1px;font-size:x-small;">
                                        Send Quantity
                                    </th>


                                </tr>
                                @{
                                    int sl2 = 0; decimal? total = 0;
                                }
                                @foreach (var item in Model.VmMkt_POExtTransfer.DataList)
                                {
                                    total += item.Mkt_POExtTransfer.TotalRequired;
                                    <tr>
                                        <td style="text-align:center;font-size:x-small;">
                                            @(++sl2)
                                        </td>

                                        @if (item.Mkt_POExtTransfer.Mkt_POSlaveFK != 1)
                                        {
                                            <td style="padding:1px;text-align:center;font-size:x-small;">
                                                @item.Raw_Item.Name | @item.Common_TheOrder.BuyerPO
                                            </td>
                                        }
                                        else if (item.Mkt_POExtTransfer.Raw_ItemFK != 1)
                                        {
                                            <td style="padding:1px;text-align:center;font-size:x-small;">
                                                @item.Raw_Item.Name)
                                            </td>
                                        }
                                        else if (item.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK != 1)
                                        {
                                            <td style="padding:1px;text-align:center;font-size:x-small;">
                                                @item.Prod_TransitionItemInventory.ItemName (@item.Common_TheOrder.BuyerPO))
                                            </td>
                                        }
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Mkt_YarnCalculation.Fabrication
                                        </td>
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Mkt_YarnType.Name
                                        </td>
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Mkt_YarnCalculation.GSM
                                        </td>
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Mkt_YarnCalculation.Color
                                        </td>
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Mkt_YarnCalculation.FinishDIA
                                        </td>

                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @item.Prod_MachineDIA.Name
                                        </td>
                                        <td style="padding:1px;text-align:center;font-size:x-small;">
                                            @String.Format("{0:0.00}", item.Mkt_POExtTransfer.TotalRequired)
                                            @item.Common_Unit.Name
                                        </td>

                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th colspan="7">Total</th>
                                        <th style="text-align:center;">
                                            @total
                                        </th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                                    }
           

        </div>
        <div class="row">

            <div class="col-md-5" style="text-align: left">
                <u> Prepared By</u>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5" style="text-align: right">
                <u> Authorised By</u>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
                <br />
            </div>

        </div>
    </div>
</body>
</html>
