﻿@model Oss.Romo.ViewModels.Store.VmStore_InternalTransferSlave
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.ID)
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Raw_InternaleTransferFK)
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Common_UnitFK, new { id = "txtUnit" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.Mkt_BOMFK, new { id = "bomId" })
    @Html.HiddenFor(model => model.Raw_InternaleTransferSlave.RequisitionSlaveFK, new { id = "RequisitionSlaveFK" })

    <div class="form-horizontal">
        <h3>Requisition List</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

        <div class="form-group">
            @Html.LabelFor(model => model.RequsitionId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RequsitionId, ViewBag.StoreReq as SelectList, "---Select Requisition---", new { @id = "Prod_Requisition", @disabled = "disabled", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.RequsitionId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_InternaleTransferSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_InternaleTransferSlave.Raw_ItemFK, ViewBag.RequisitionItem as SelectList, "---Select Item---", new { id = "Prod_RequisitionSlaveId", @disabled = "disabled", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_InternaleTransferSlave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Request Quantity")</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.RequiredQty, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6", id = "txtRequiredQty", @readonly = "readonly" } })
                @*<input name="VmGeneral_POSlave.RequiredQty" id="txtRequiredQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly" value="">*@

            </div>
        </div>

        <hr />
        <h4><u>Add To PO</u></h4>

        <div class="row">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-6">@Html.DisplayName("Assign Quantity")</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Raw_InternaleTransferSlave.Quantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6", id = "txtTotalRequired" } })
                        @Html.ValidationMessageFor(model => model.Raw_InternaleTransferSlave.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:50px">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<script>


    @*$('#Prod_Requisition').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {
        var catid = $("#Prod_Requisition").val();
        //alert(catid);
        $("#txtTotalRequired").val("");
        $("#txtPrice").val("");
        $("#txtDescription").val("");
        if (catid != '') {
            document.getElementById("Prod_RequisitionItem").innerHTML = "";

            $.get("../../Helper/GetReqItem", { ID: catid }, function (data) {
                $("#Prod_RequisitionItem").append("<option value='0'>---Select Item---</option>");
                $("#txtRequiredQty").val("");
                $("#txtEstimatedPrice").val("");
                $.each(data, function (index, row) {
                    $("#Prod_RequisitionItem")
                        .append("<option value='" + row.ID + "'>" + row.Text + "</option>");
                });
            });
        }
        else {
            document.getElementById("Prod_RequisitionItem").innerHTML = "";
        }

    });

    $('#Prod_RequisitionItem').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Prod_RequisitionItem').val() !== "---Select Items---") {
            var itemid = $('#Prod_RequisitionItem').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetReqItemQty", "Helper")",
                data: { ID: itemid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#txtRequiredQty").empty();
                    $("#txtEstimatedPrice").empty();
                    if (data.length !== 0) {
                        console.log(data);
                        $("#txtRequiredQty").val(data.Quantity);
                        $("#txtEstimatedPrice").val(data.UnitPrice);

                    }
                }
            });
        }
    });*@

</script>


