﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    //Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Receive from supplier";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-danger">
        <div class="box-header">
            <h4 style="text-align:center">
                <strong>
                    PO Receive from supplier
                </strong>
            </h4>
            <hr />
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Mkt_PO.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.User_Department.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.DropDownListFor(model => model.Mkt_POSlave_Receiving.User_DepartmentFk, ViewBag.Raw_Store as SelectList, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                        @Html.ValidationMessageFor(model => model.User_Department.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Challan, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Challan, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Challan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-warning">
            <div class="box-body table-responsive no-padding">
                <div class="row">
                    <div class="col-xs-12">
                        @{
                            int x = Model.DataList2.ToList().Count();
                            if (x > 0)
                            {
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayName("Required")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Current Stock")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Supplier Due")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Delivery")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Total Pro.loss")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Store Balance")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Stock In")
                                            </th>
                                            <th>
                                                @Html.DisplayName("ProcessLoss")
                                            </th>
                                            <th>
                                                @Html.DisplayName("IsFabric")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < x; i++)
                                        {
                                            decimal? supplierBalance = 0;
                                            decimal? storeBalance = 0;
                                            if (Model.DataList2.ToList()[i].Mkt_POExtTransfer != null)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.EditorFor(model => model.DataList2.ToList()[i].Mkt_POExtTransfer.ID, new { htmlAttributes = new { style = "display: none;" } })
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].Mkt_POExtTransfer.Raw_ItemFK != 1)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                                        }
                                                        else if (Model.DataList2.ToList()[i].Mkt_POExtTransfer.Mkt_POSlaveFK != 1)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                                        }
                                                        else if (Model.DataList2.ToList()[i].Mkt_POExtTransfer.Prod_TransitionItemInventoryFK != 1)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Prod_TransitionItemInventory.ItemName)
                                                        }
                                                    </td>
                                                    <td>
                                                        Transfer item part.
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].Mkt_POExtTransfer.TotalRequired != null || Model.DataList2.ToList()[i].Mkt_POExtTransfer.TotalRequired != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POExtTransfer.TotalRequired)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].PreviousReceived != null || Model.DataList2.ToList()[i].PreviousReceived != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousReceived)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].CurrentDelivery != null || Model.DataList2.ToList()[i].CurrentDelivery != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].CurrentDelivery)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].CurrentDelivery != null || Model.DataList2.ToList()[i].CurrentDelivery != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].CurrentStock)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                            decimal? totalRequired = Model.DataList2.ToList()[i].Mkt_POExtTransfer.TotalRequired;
                                                            decimal? currentStock = Model.DataList2.ToList()[i].PreviousReceived;
                                                            storeBalance = totalRequired - currentStock;
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].PreviousLoss != null || Model.DataList2.ToList()[i].PreviousLoss != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousLoss)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:0.0000}", storeBalance)
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].Receiving, new { htmlAttributes = new { @style = "width:100px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].Receiving, "", new { @class = "text-danger" })
                                                                    <div class="input-group-addon">
                                                                        <i>
                                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].StockLoss, new { htmlAttributes = new { @style = "width:50px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].StockLoss, "", new { @class = "text-danger" })
                                                                    <div class="input-group-addon">
                                                                        <i>
                                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.CheckBoxFor(model => model.DataList2.ToList()[i].IsFinishFabric, new { htmlAttributes = new { @style = "width:50px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].IsFinishFabric, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.DropDownListFor(model => model.DataList2.ToList()[i].FabricColor, ViewBag.Colorlist as SelectList, "--Fabric Color--", new { @style = "width:140px", @class = "form-control dropdown ol-md-6 col-xs-6" })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].FabricColor, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.EditorFor(model => model.DataList2.ToList()[i].Mkt_POSlave.ID, new { htmlAttributes = new { style = "display: none;" } })
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.Description)
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired != null || Model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].PreviousReceived != null || Model.DataList2.ToList()[i].PreviousReceived != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousReceived)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                            decimal? totalRequired = Model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired;
                                                            decimal? previousReceived = Model.DataList2.ToList()[i].PreviousReceived;
                                                            decimal? currentDelivery = Model.DataList2.ToList()[i].CurrentDelivery;
                                                            supplierBalance = totalRequired - previousReceived;
                                                            storeBalance = previousReceived - currentDelivery;
                                                        }
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:0.00}", supplierBalance)
                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].CurrentDelivery != null || Model.DataList2.ToList()[i].CurrentDelivery != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].CurrentDelivery)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.DataList2.ToList()[i].PreviousLoss != null || Model.DataList2.ToList()[i].PreviousLoss != 0)
                                                        {
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousLoss)
                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                        }
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:0.00}", storeBalance)
                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].Receiving, new { htmlAttributes = new { @style = "width:100px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].Receiving, "", new { @class = "text-danger" })
                                                                    <div class="input-group-addon">
                                                                        <i>
                                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].StockLoss, new { htmlAttributes = new { @style = "width:50px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].StockLoss, "", new { @class = "text-danger" })
                                                                    <div class="input-group-addon">
                                                                        <i>
                                                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                    @Html.CheckBoxFor(model => model.DataList2.ToList()[i].IsFinishFabric, new { htmlAttributes = new { @style = "width:50px", @class = "form-control col-md-6 col-xs-6" } })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].IsFinishFabric, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                <div class="input-group">
                                                                   @Html.DropDownListFor(model => model.DataList2.ToList()[i].FabricColor, ViewBag.Colorlist as SelectList, "--Fabric Color--", new { @style = "width:140px", @class = "form-control dropdown ol-md-6 col-xs-6" })
                                                                    @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].FabricColor, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="col-xs-12">
                                    <div class="box box-solid box-info">
                                        <div class="box-header">
                                            <h3 class="box-title">Information Message</h3>
                                        </div>
                                        <div class="box-body">
                                            @Model.Message
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <p style="margin-left:50px">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <input type="button" value="Cancel" class="btncancel btn btn-primary" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
        </div>
    </div>
    }

<input type="hidden" id="txtSweetAlert" name="name" value="@Session["Success"]" />
<input type="hidden" id="txtMessage" name="name" value="@Session["Message"]" />
<script type="text/javascript">
    $(document).ready(function () {
        var session = $("#txtSweetAlert").val();
        var message = $("#txtMessage").val();
        //console.log("message", session);
        if (session === "Yes") {
            sweetAlert(message, "You clicked the button!", "success");
            @{
                Session["Message"] = null;
                Session["Success"] = null;
            }
        }
        if (session == "Wrong") {
            sweetAlert("Oops...", "Something went wrong!", "error");
            @{
                Session["Message"] = null;
                Session["Success"] = null;
            }
        }
    })
</script>
