﻿@using System.Linq
@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 550,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Plan Order Step: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>









@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_PO.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Common_Supplier.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Common_Supplier.Name, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.User_DepartmentFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_POSlave_Receiving.User_DepartmentFk, ViewBag.Raw_Store as SelectList, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.User_DepartmentFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Challan, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Challan, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Challan, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            int sl = 0;
        }
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        @{
                            int x = Model.DataList2.ToList().Count();
                            if (x > 0)
                            {
                                <table id="example1" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayName("Store")
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayName("Required")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Total Stock")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Delivery")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Current Stock")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Stock In")
                                            </th>
                                            <th>
                                                Transfer
                                            </th>
                                        </tr>
                                    </thead>
                                    @for (int i = 0; i < x; i++)
                                    {
                                        <tbody>

                                            <tr>
                                             
                                                <td>
                                                    @(++sl)
                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].Mkt_POSlave.ID, new { htmlAttributes = new { style = "display: none;" } })
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].StoreName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired)
                                                    @*@Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)*@
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousReceived)
                                                    @*@Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)*@
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].CurrentDelivery)
                                                    @*@Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)*@
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].CurrentStock)
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.DataList2.ToList()[i].Receiving, new { htmlAttributes = new { @style = "width:100px", @class = "form-control col-md-6 col-xs-6" } })
                                                                @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].Receiving, "", new { @class = "text-danger" })
                                                                <div class="input-group-addon">
                                                                    <i>
                                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                    </i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.ActionLink(".", "VmMkt_TransferStoreItem", new { id = Model.DataList2.ToList()[i].Mkt_POSlave.ID }, new { @class = "lnkEdit glyphicon glyphicon-move" })
                                                </td>
                                            </tr>


                                        </tbody>
                                    }
                                </table>
                            }
                            else
                            {
                                <div class="col-xs-12">
                                    <div class="box box-solid box-info">
                                        <div class="box-header">
                                            <h3 class="box-title">Information Message</h3>
                                        </div>
                                        <div class="box-body">
                                            @Model.Message
                                        </div>
                                    </div>
                                </div>
                            }
                        }



                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <p style="margin-left:50px">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <input type="button" value="Cancel" class="btncancel btn btn-primary" />

                </p>
            </div>
        </div>
    </div>
                            }
