﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Return to supplier";
}

<span>@Model.Message</span>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box">
        <div class="box-pane">
            <div class="box-header">
                <h4 style="text-align:center">
                    <strong>
                        PO Stock out
                    </strong>
                </h4>
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Mkt_PO.ID)
                    @Html.HiddenFor(model => model.Mkt_PO.Mkt_BOMFK)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mkt_BOM.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Mkt_BOM.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Mkt_POSlave_Consumption.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.User_Department.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.DropDownListFor(model => model.Mkt_POSlave_Consumption.User_DepartmentFk, ViewBag.Raw_Store as SelectList, new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                            @Html.ValidationMessageFor(model => model.User_Department.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Requisition, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Requisition, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                            @Html.ValidationMessageFor(model => model.Mkt_POSlave_Consumption.Requisition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Supervisor, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Supervisor, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-danger">
                        <div class="box-body table-responsive no-padding">
                            @if (Model.DataList2 != null)
                            {
                                <table id="" class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Raw_Item.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayName("Required")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Current Stock")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Delivered")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Store Balance")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Stock Out")
                                            </th>
                                        </tr>
                                    </thead>
                                    @{ 
                                        decimal? balance = 0;
                                        int sl = 0;
                                    }
                                    <tbody>
                                        @for (int i = 0; i < Model.DataList2.ToList().Count(); i++)
                                        {
                                            <tr>

                                                <td>
                                                    @(++sl)
                                                    @Html.EditorFor(model => model.DataList2.ToList()[i].Mkt_POSlave.ID, new { htmlAttributes = new { style = "display: none;" } })
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].TotalStock)
                                                    @{ 
                                                        decimal? totalStock = Model.DataList2.ToList()[i].TotalStock;
                                                        decimal? previousDelivery = Model.DataList2.ToList()[i].PreviousDelivery;
                                                        balance = (totalStock - previousDelivery);
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousDelivery)
                                                </td>
                                                <td>
                                                    @String.Format("{0:0.00}", balance)
                                                </td>
                                                <td>
                                                    <div class="form-group">

                                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.DataList2.ToList()[i].Delivery, new { htmlAttributes = new { @style = "width:100px", @class = "form-control col-md-4 col-xs-4" } })
                                                                @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].Delivery, "", new { @class = "text-danger" })
                                                                <div class="input-group-addon">
                                                                    <i>
                                                                        @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                                                    </i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <center>
                                    <div>
                                        <b>
                                            @Model.Message
                                        </b>
                                    </div>
                                </center>
                            }
                        </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"></div>
                        <p style="margin-left:50px">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                        </p>
                    </div>

                </div>
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
}


