﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    ViewBag.Title = "Store Received Item<";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Mkt_POSlave_Receiving.Mkt_POExtTransferFK)
        @Html.HiddenFor(model => model.Mkt_POSlave_Receiving.Mkt_POExtTransferFK)
        @Html.HiddenFor(model => model.Mkt_POSlave_Receiving.User_DepartmentFk)
        @Html.HiddenFor(model => model.Mkt_POSlave_Receiving.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_POSlave_Receiving.LastEditeddBy)
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Challan, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Challan, new { htmlAttributes = new { @readonly = "true", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Challan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Date, new { htmlAttributes = new { @readonly = "true", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Receiving.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Receiving.Quantity, new { htmlAttributes = new { @readonly = "true", @class = "calendarControl form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Receiving.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>

    </div>
}


<script>
    $('#Common_BillTypeFk').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Common_BillTypeFk').val() !== "---Select Supplier---") {
            var acc_Type = $('#Common_BillTypeFk').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetASupplierByCnfTransport", "Helper")",
                data: { ID: acc_Type },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#Common_SupplierFk").empty();
                    if (data.length !== 0) {
                        $("#Common_SupplierFk").append("<option value='0'>---Select  Supplier---</option>");
                        $.each(data, function (index, row) {
                            $("#Common_SupplierFk").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                        });

                    }

                }
            });

        }

        });
</script>
