﻿@model Oss.Romo.ViewModels.Store.VmMktPOSlave_Consumption
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mkt_POSlave_Consumption</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_POSlave_Consumption.ID)
        <div class="col-md-12">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { style = "text-align: left;", @class = "control-label col-md-12col-sm-3 col-xs-6" })
                <div class="col-md-12 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-6 col-xs-6" } })

                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Supervisor, htmlAttributes: new { style = "text-align: left;", @class = "control-label col-md-12 col-sm-3 col-xs-6" })
                <div class="col-md-12 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Supervisor, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-6 col-xs-6" } })

                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Date, new { @Value = @DateTime.Now.ToShortDateString(), htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Consumption.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">


                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table id="example1" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Raw_Item.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mkt_POSlave.TotalRequired)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Previous Delivery")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Stock Out")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DataList2.ToList().Count(); i++)
                                {
                                    <tr>

                                        <td>
                                            @Html.EditorFor(model => model.DataList2.ToList()[i].Mkt_POSlave.ID, new { htmlAttributes = new { style = "display: none;" } })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Raw_Item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Mkt_POSlave.TotalRequired)
                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].PreviousDelivery)
                                            @Html.DisplayFor(model => model.DataList2.ToList()[i].Common_Unit.Name)
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.DataList2.ToList()[i].Delivery, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                                            @Html.ValidationMessageFor(model => model.DataList2.ToList()[i].Delivery, "", new { @class = "text-danger" })

                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <p style="margin-left:50px">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <input type="button" value="Cancel" id="btncancel" class="btn btn-primary" />

                </p>
            </div>
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_POSlave_Consumption.Mkt_POSlaveFK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mkt_POSlave_Consumption.Mkt_POSlaveFK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mkt_POSlave_Consumption.Mkt_POSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
 
}

