﻿@model Oss.Romo.ViewModels.Store.VmPOSlave_Receiving

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Return Challan List";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
            title: 'Bill Of Materials: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
       
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    <h1>
        Return Challan: &nbsp;&nbsp;
        @*(&nbsp; <a href="~/Store/VmRaw_ItemCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Store/Dashboard">Store</a></li>
        <li class="active"> Return Challan</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>

            @{
                int Sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.Challan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_POSlave.Mkt_POFK)
                            </th>
                            <th>
                                @Html.DisplayName("Challan Date")
                                @*@Html.DisplayNameFor(model => model.Mkt_POSlave_Receiving.Date)*@
                            </th>
                            <th>
                                @Html.DisplayName("PO Date")
                                @*@Html.DisplayNameFor(model => model.Mkt_PO.Date)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Common_SupplierFK)
                            </th>
                            <th>DETAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    <b> @(++Sl).</b>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Challan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChallanDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmPOSlave_ReturnChallanDeteils", new { challan = item.Challan }, new { @target = "_blank", @class = "glyphicon glyphicon-zoom-in" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
