﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Receving Details";

}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
        $("#dialog-alert").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        @*if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }*@

        $("#dialog-edit").dialog({
            title: 'Bill Of Materials: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'Bill Of Materials',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#lnkCreate").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Bill Of Materials: Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDetail").click(function (e) {
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        })
        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
       // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Bill Of Materials: &nbsp;&nbsp;
        (&nbsp; <a href="VmMkt_BOMCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Marketing</a></li>
        <li class="active">Bill Of Materials</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            @{ 
                int sl = 0;
            }


            <div class="box-body table-responsive no-padding">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UpdateDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Reference)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Buyer.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Style)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)


                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UnitPrice)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.CID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.UpdateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Reference)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Buyer.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)

                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol).  @Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)
                                </td>
                                <td>
                                    @Html.ActionLink("..", "VmMkt_POEditFromDeliver", new { id = item.Mkt_BOM.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;                                 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>



