﻿@model Oss.Romo.ViewModels.Store.VmMktPOSlave_Consumption

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Consumption Delivery Return Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";
       

        $("#dialog-edit").dialog({
            title: 'Item Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

       
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Create. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    <h1>
       


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="~/Common/VmCommon_TheOrderIndex">Challan</a></li>
        <li class="active">@Html.DisplayFor(x => x.Requisition)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @*@Html.HiddenFor(model => model.Mkt_POSlave_Receiving.Challan)*@
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Consumption delivery Details:
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:135px;" class="input-group-addon">@Html.DisplayNameFor(model => model.Mkt_POSlave_Consumption.Date)</span>
                                <input style="width:305px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.RequisitionDate)">
                            </div>

                            <div class="input-group">
                                <span style="width:135px;" class="input-group-addon">@Html.DisplayName("Requisition No")</span>
                                <input style="width:305px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Requisition)">
                            </div>
                            <div class="input-group">
                                <span style="width:135px;" class="input-group-addon">@Html.DisplayNameFor(model => model.Mkt_POSlave_Consumption.Supervisor)</span>
                                <input style="width:305px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Supervisor)">
                            </div>
                        </div>
                        <div class="box-body col-md-5">
                           
                            @*<div class="input-group">
                                <span style="width:135px;" class="input-group-addon">@Html.DisplayNameFor(model => model.Mkt_BOM.CID)</span>
                                <input style="width:305px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.CID)">
                            </div>*@
                            @*<div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayName("PO Date")</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
                            </div>

                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_POSlave.Price)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_POSlave.Price)">
                            </div>*@

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="table-responsive">

                </div>
                <section>
                    <h3>
                        Item List :
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            @*<th>Item ID</th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model=>model.Mkt_POSlave_Consumption.Quantity)
                            </th>
                            @*<th>
                                @Html.DisplayName("Delivered")
                            </th>*@
                            @*<th>
                                    Action
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                @*<td>
                                        @Html.DisplayFor(x => x.Mkt_PO.CID)/@Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave_Consumption.Quantity)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave_Consumption.)
                                </td>*@
                               
                            </tr>
                        }

                    </tbody>

                </table>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
