﻿@model Oss.Romo.ViewModels.Store.VmRaw_Item

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Raw Item";
}
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")

<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "right" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'left', direction: "right" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

       
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Raw Item Create <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Raw Item Edit <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Raw Item Delete");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">

    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>



<section class="content-header">
    <h1>
        Raw Item: &nbsp;&nbsp;
        (&nbsp; <a href="~/Store/VmRaw_ItemCreate" id="lnkCreate"title="Raw Item Create"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="~/Store/Dashboard">Marketing</a></li>*@
        <li class="active"> Raw Item</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>

            @{ 
                int Sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Category.Name)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_SubCategory.Name)
                                
                            </th>
                            <th>
                               @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Item.Description)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                   <b> @(++Sl).</b>
                                   
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Category.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_SubCategory.Name)
                                </td>
                                <td class="text-navy text-bold">
                                   @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Description)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmRaw_ItemEdit", new { id =Model.VmControllerHelper.Encrypt( item.Raw_Item.ID.ToString()) }, new { @title = "Raw Item Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmRaw_ItemDelete", new { id = Model.VmControllerHelper.Encrypt(item.Raw_Item.ID.ToString()) }, new { @title = "Raw Item Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
