﻿@model Oss.Romo.ViewModels.Store.VmRaw_Item

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Raw_Item.ID)
        <hr />
      
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RawCatID, ViewBag.Raw_Category as SelectList, new { @id = "Raw_Category", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raw_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Item.Raw_SubCategoryFK, ViewBag.Raw_SubCategory as SelectList, new { @id = "Raw_SubCategory", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_SubCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Raw_Item.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Raw_Item.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Raw_Item.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Raw_Item.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Raw_Item.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        $("#Raw_Category").change(function () {
            var catid = $("#Raw_Category").val();
            //alert(catid);
            if (catid != '') {
                document.getElementById("Raw_SubCategory").innerHTML = "";
                $.get("../Helper/GetRaw_SubCategory", { ID: catid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Raw_SubCategory").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Raw_SubCategory").innerHTML = "";
            }
        });
    });
  
   
</script>

