﻿@model Oss.Romo.ViewModels.Store.VmRaw_Item

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Category.Name, ViewBag.Raw_Category as SelectList, "--Select Category--", new { @id = "RawCategory", @class = "form-control dropdown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Raw_SubCategoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Item.Raw_SubCategoryFK, ViewBag.Raw_SubCategory as SelectList, "--Select Subcategory--", new { @id = "RawSubCategory", @class = "form-control dropdown col-md-6 col-xs-6" })


                @Html.ValidationMessageFor(model => model.Raw_Item.Raw_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Raw_Item.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Raw_Item.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @Html.LabelFor(model => model.Raw_Item.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Raw_Item.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Raw_Item.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                &nbsp;&nbsp;&nbsp;
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script>
    $(function () {
        $("#RawCategory").change(function () {
            var catid = $("#RawCategory").val();
            //alert(catid);
            if (catid != '') {
                document.getElementById("RawSubCategory").innerHTML = "";

                $.get("../Helper/GetRaw_SubCategory", { ID: catid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#RawSubCategory").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
               console.log(s)
            }
            else {
                document.getElementById("RawSubCategory").innerHTML = "";
            }
        });
    });

</script>
