﻿@model Oss.Romo.ViewModels.Store.VmStore_InterTransfer
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Raw_InternaleTransfer.FromUser_DeptFK)
        @Html.HiddenFor(model => model.Raw_InternaleTransfer.AcknowledgeDate)
        @Html.HiddenFor(model => model.Raw_InternaleTransfer.IsAcknowledge)
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_InternaleTransfer.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Raw_InternaleTransfer.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Raw_InternaleTransfer.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_InternaleTransfer.FromUser_DeptFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_InternaleTransfer.FromUser_DeptFK, ViewBag.Department as SelectList, new { @disabled= "disabled", @class = "form-control ol-md-6 col-xs-6" })
                 @Html.ValidationMessageFor(model => model.Raw_InternaleTransfer.FromUser_DeptFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Raw_InternaleTransfer.ToUser_DeptFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_InternaleTransfer.ToUser_DeptFK, ViewBag.InternalStore as SelectList, "---Select Department---", new { @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_InternaleTransfer.ToUser_DeptFK, "", new { @class = "text-danger" })
            </div>
        </div>
    
         <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#StatusId").change(function () {
            var statusId = $("#StatusId").val();
            if (statusId != '') {

                $.get("../Helper/GetStatusDetails", { ID: statusId }, function (data) {
                    //$('#Mkt_PO_Description').val('');
                    $("#Mkt_PO_Description").append(data)
                });
            }
        });
    });
</script>