﻿@model Oss.Romo.Models.ViewModels.Reports.VM_Report
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="row">

    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("AllReport", "HRMSReport", FormMethod.Post, new { @target = "_blank" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading pad5A">
                    <h3 class="panel-title">Report Form</h3>
                </div>
                <div id="divPanelbody" class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Report Name</label>
                                @Html.DropDownListFor(model => model.ReportId, ViewBag.ReportList as IEnumerable<SelectListItem>, "Select a Report", new { id = "ddlleaveReport", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divDesingnationList" class="col-md-3 hide">
                            <div class="form-group">
                                <label>Designation</label>
                                @Html.DropDownListFor(model => model.Designation_Id, ViewBag.DesignationList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divGradeList" class="col-md-3 hide">
                            <div class="form-group">
                                <label>Grade</label>
                                @Html.DropDownListFor(model => model.Grade, ViewBag.GradeList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divSectionList" class="col-md-3 hide">
                            <div class="form-group">
                                <label>Section</label>
                                @Html.DropDownListFor(model => model.SectionID, ViewBag.SectionList as IEnumerable<SelectListItem>, new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.SectionID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divfrom" class="col-md-3 hide">
                            <div class="form-group">
                                <label>From</label>
                                @Html.TextBoxFor(model => model.From, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divto" class="col-md-3 hide">
                            <div class="form-group">
                                <label>To</label>
                                @Html.TextBoxFor(model => model.To, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divfromdate" class="col-md-3 hide">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="divtodate" class="col-md-3 hide">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Todate, new { @class = "control-label" })
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.Todate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Todate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group" style="padding-top:25px;">
                                <div class="col-md-offset-3">
                                    <input type="submit" value="Generate Report" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
                $('.calendarControl').datepicker({
                    autoclose: true,
                    format: "yyyy/m/d"
            });


            $('#ddlleaveReport').select2().on("select2-selecting", function (e) {
                //TODO: step2 loading mathod
                //alert('ok go');
                if (e.val === "1") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "2") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "3") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "4") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "5") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').removeClass("hide");
                    $('#divtodate').removeClass("hide");
                }

                else if (e.val === "6") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "7") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "8") {
                    $('#divDesingnationList').removeClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "9") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').removeClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "10") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').removeClass("hide");
                    $('#divto').removeClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "11") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').addClass("hide");
                    $('#divfrom').removeClass("hide");
                    $('#divto').removeClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').addClass("hide");
                }
                else if (e.val === "12") {
                    $('#divDesingnationList').addClass("hide");
                    $('#divGradeList').addClass("hide");
                    $('#divSectionList').removeClass("hide");
                    $('#divfrom').addClass("hide");
                    $('#divto').addClass("hide");
                    $('#divfromdate').addClass("hide");
                    $('#divtodate').removeClass("hide");
                }
            }).on("change", function (e) {


                if (e.val !== "0") {
                    //
                }
            });

            }
        )
    </script>
}
