﻿@model Oss.Romo.Models.ViewModels.Reports.VMPersonalReport
@{
    ViewBag.Title = "Status Report";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content-header">
    <h1>
        Status Report
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HRMSEmployeeRecord")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Report</li>
        <li class="active">Status Report</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="dialog-edit" style="display: none"></div>
            <div class="panel panel-default border-top border-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Employee's Status Information</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default border-top border-green">
                        <div id="divPanelbody" class="panel-body">
                            @using (Html.BeginForm("StatusReport", "HRMSReport", FormMethod.Post))
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label " })
                                            @Html.DropDownListFor(model => model.StatusId, ViewBag.StatusList as IEnumerable<SelectListItem>, "Select a Status", new { @class = "form-control myselect2" })
                                            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.Fromdate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control calendarControl", autocomplete = "off" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group pull-left" style="padding-top:25px;">
                                            <input type="submit" value="Generate" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table id="tablehrms" class="table table-hover table-responsive table-bordered nowrap font-black">
                            <thead>
                                <tr>
                                    <th>
                                        SL
                                    </th>
                                    <th>
                                        CardNO
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Section
                                    </th>
                                    <th>
                                        Designation
                                    </th>
                                    <th>
                                        Grade
                                    </th>
                                    <th>
                                        JoinDate
                                    </th>
                                    <th>
                                        Reg./Ads.Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataList != null)
                                {
                                    foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Counter)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CardNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Section)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Designation)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Grade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ViewJoinDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ViewResignDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


