﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.Reports.VMPersonalReport
@{
    ViewBag.Title = "UpdateEmployeeImage";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="panel panel-default border-top border-green">
            <div class="panel-heading">
                <h3 class="panel-title">Update Photo</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Upload", "HRMSReport", FormMethod.Post, new { id = "upload", data_server = "true", enctype = "multipart/form-data" }))
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.files, "", new { @class = "btn btn-primary", @type = "file", @multiple = "multiple", @accept = "image/x-png,image/gif,image/jpeg" })
                                    @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CardTitle, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.CardTitle, new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.CardTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                @ViewBag.UploadStatus
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>


