﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Type
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Add Leave Type";
}

<div id="addform">
    @using (Html.BeginForm("AddHrmsLeaveType", "HRMSLeave", FormMethod.Post, new { data_server = "true", id = "addHrmsLeaveType" }))
    {
        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Leave_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Leave_Name, new { @class= "form-control text-box single-line" })
                        @Html.ValidationMessageFor(model => model.Leave_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Leave_Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Leave_Amount, new { @class = "form-control text-box single-line" })
                        @Html.ValidationMessageFor(model => model.Leave_Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@



