﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Type

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Edit Leave Type";
}

@using (Html.BeginForm("EditHrmsLeaveType", "HRMSLeave", FormMethod.Post, new { data_server = true, id = "EditHrmsLeaveType" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.hrms_leave_type.ID)
    <div class="form-group">
        @Html.LabelFor(model => model.hrms_leave_type.Leave_Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.hrms_leave_type.Leave_Name, new { @class = "form-control text-box single-line" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.hrms_leave_type.Leave_Amount, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.hrms_leave_type.Leave_Amount, new { @class = "form-control text-box single-line" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.hrms_leave_type.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.hrms_leave_type.Status)
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <input type="submit" value="Update" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </div>
        @*<div class="col-md-10">
            <input type="submit" value="Update" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </div>*@
    </div>
</div>
}



