﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Application

@{
    ViewBag.Title = "EditLeaveApplication";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<h2>EditLeaveApplication</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Apply for Leave</h3>
        </div>
        <div id="divPanelbody" class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                            "Select Employee", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveType as IEnumerable<SelectListItem>,
                            "Select Leave Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date" data-datetimepicker-startdate="true">
                            @Html.TextBoxFor(model => model.StartDate, new { Value = "", @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date" data-datetimepicker-startdate="true">
                            @Html.TextBoxFor(model => model.EndDate, new { Value = "", @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalDays, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TotalDays, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TotalDays, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Leave_Dates, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group date" data-datetimepicker-startdate="true">
                            @Html.TextBoxFor(model => model.Alt_Leave_Dates, new { Value = "", @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Alt_Leave_Dates, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.WorkStationName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.WorkStationName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkStationName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StayDuringLeave, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.StayDuringLeave, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StayDuringLeave, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AltMobileNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AltMobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AltMobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Leave_PaidType, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Leave_PaidType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Leave_PaidType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveStatus, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.LeaveStatus, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LeaveStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.During_LeaveWhoTakeOver, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.During_LeaveWhoTakeOver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.During_LeaveWhoTakeOver, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Latest_Period_of_leave_Enjoyed, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Latest_Period_of_leave_Enjoyed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Latest_Period_of_leave_Enjoyed, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="@*col-md-6*@">
                    <div class="form-group">
                        <div class="col-md-offset-11 col-md-12">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change', function (ev) {
                // $('#date-daily').change();
                var date = ev.date._d;
                // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                var stdate = moment(date).format('MM/DD/YYYY');
                //$("#hidStartdate").val(stdate);
                var elemId = $(this).attr('data-startdate-model');
                $("#" + elemId).val(stdate);
            });

        });
    </script>
}
