﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Holiday

@{
    ViewBag.Title = "EditHoliDay";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("EditHoliDay","HRMSLeave",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.OffDay, htmlAttributes: new { @class = "control-label  col-md-4" })
            <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                @Html.TextBoxFor(model => model.OffDay, new { @class = "form-control calendarControl", @readonly = "readonly" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.OffDay, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
