﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Assign
@{
    ViewBag.Title = "EmployeeLeaveAssign";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}
@using (Html.BeginForm("EmployeeLeaveAssign", "HRMSLeave", FormMethod.Post, new { id = "employeeleaveassign", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeIds)
    @Html.HiddenFor(model => model.LeaveTypeId)
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Leave Assign</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.BU_Id, ViewBag.BusinessUnitList as IEnumerable<SelectListItem>,
                          "Select Business Unit", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Unit_ID" class="">Unit Name:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlUnit_ID" name="Unit_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Unit Name">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Dept_ID" class="">Department:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlDept_ID" name="Dept_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Department">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Section_ID" class="">Section:</label>
                        <span><i class="ion-star font-red"></i></span>
                        <select id="ddlSection_ID" name="Section_ID" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Please Select Section">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.year, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model=>model.year, ViewBag.LeaveYearList as IEnumerable<SelectListItem>,
                            "Select Year ", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveName, new {@class = "control-label "})&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.LeaveName, ViewBag.LeaveTypeList as IEnumerable<SelectListItem>,
                            "Select Leave", new {id = "ddlLeaveTypeId", @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.LeaveName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Total, new {@class = "control-label"})
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Total, new {Value = "", id = "txtTotal", @class = "form-control"@*,@readonly="readonly"*@})
                        @Html.ValidationMessageFor(model => model.Total, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mrg25T">
                        @*<input type="button" value="Leave Assign" id="btnemployeeleaveassign" class="btn btn-primary" />*@
                        <input type="submit" value="Leave Assign" id="btnemployeeleaveassign" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="table-responsive overflow-auto">
                        <table id="tblEmployeeLeaveAssign" class="table table-hover table-responsive table-bordered nowrap font-black ">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" name="select_all" value="1" id="chk-select-all">
                                    </th>
                                    <th>Card Title</th>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th class="hidden">ID</th>
                                </tr> 
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {


            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */


            $('#BU_Id').select2().on("select2-selecting",
                function(e) {

                }).on("change",
                function(e) {
                    if ($('#BU_Id').val() !== "Select Bussiness Unit") {
                        var bUnitId = $('#BU_Id').val();

                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("GetUnitList", "HRMSLeave")",
                            datatype: "Json",
                            data: { bUnitId: bUnitId },
                            success: function(data) {
                                var items = "";
                                items += "<option value = '' disabled selected>Please select Unit</option>";
                                $.each(data,
                                    function(index, value) {
                                        items += ('<option value="' + value.ID + '">' + value.UnitName + '</option>');
                                    });
                                $("#ddlUnit_ID").html(items);
                            }
                        });

                    }

                });


            /*
     *  This is used for cascding dropdown. Which will change upon Unit. If Unit is selected
             then the Department will appear according to selected Unit.
     */


            $('#ddlUnit_ID').select2().on("select2-selecting",
                function(e) {

                }).on("change",
                function(e) {
                    if ($('#ddlUnit_ID').val() !== "Select Bussiness Unit") {
                        var unitid = $('#ddlUnit_ID').val();
                        $.ajax({
                            url: "@Url.Action("GetDeptList1", "HRMSLeave")",
                            data: { unitId: unitid },
                            type: "POST",
                            dataType: "json",
                            success: function(data) {
                                var items = "";
                                items += "<option value = '' disabled selected>Please select Department</option>";
                                $.each(data,
                                    function(index, value) {
                                        items += ('<option value="' + value.ID + '">' + value.DeptName + '</option>');
                                    });
                                $("#ddlDept_ID").html(items);
                            }
                        });

                    }

                });

            //$('#ddlUnit_ID').select2().on("select2-selecting", function (e) {
            //    if (e.val !== "") {
            //       // $('#hidSection').val(e.object.text);
            //        getDepartmentlist(e.val, "ddlDept_ID");
            //    } else {
            //        //
            //    }
            //}).on("change", function (e) {

            //    if (e.val !== "0") {
            //        //
            //    }
            //    });


            /*
     *  This is used for cascding dropdown. Which will change upon Unit. If Unit is selected
             then the Department will appear according to selected Unit.
     */

            
            $('#ddlLeaveTypeId').select2().on("select2-selecting",
                function(e) {

                }).on("change",
                function(e) {
                    if ($('#ddlLeaveTypeId').val() !== "Select Leave") {
                        var leaveId = $('#ddlLeaveTypeId').val();
                        $('#LeaveTypeId').val(leaveId);
                        $.ajax({
                            url: "@Url.Action("GetLeaveAmount", "HRMSLeave")",
                            data: { leaveId: leaveId },
                            type: "POST",
                            dataType: "json",
                            success: function (data) {
                                //console.log('data', data);
                                //$('#LeaveAmount').val(lvAmount.trim());
                               // var col2 = newOptions[i].CardTitle;
                                //$("#" + elemId).val(newId);
                                $("#txtTotal").val(data[0].Leave_Amount);


                            }
                        });

                    }

                });



            //$('#ddlLeaveTypeId').select2().on("select2-selecting",
            //    function(e) {

            //    }).on("change",
            //    function(e) {
            //        if (e.val !== "") {
            //            var str = e.val.split("-:-");
            //            console.log("d", str);
            //            $('#LeaveTypeId').val(str[0]);
            //            var v = (str[0]);
            //            console.log('v', v);
            //            $("#txtTotal").val(str[1]);
            //        }

            //    });

            //$('#ddlLeaveTypeId').select2().on("select2-selecting",
            //    function(e) {
            //        if (e.val !== "") {
            //            var str = e.val.split("-:-");
            //            $('#LeaveTypeId').val(str[0]);
            //            var v = (str[0]);
            //            console.log('v', v);
            //            $("#txtTotal").val(str[1]);


            //        } else {
            //            //
            //        }
            //    }).on("change",
            //    function(e) {

            //        if (e.val !== "0") {
            //            //
            //        }
            //    });

            /*
             * 
             * 
             This is used for cascding dropdown. Which will change upon  Unit. If Unit is selected
             then the Department will appear according to selected Unit.
             */

            @*function getDepartmentlist(unitid, elemid) {
                if (unitid !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetDeptList", "HRMSLeave")",
                        data: { unitId: unitid },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list; //.List
                            //console.log(newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Unit');
                }
            }*@


            /*
             *  This is used for cascding dropdown declartion.
             */


            $('#ddlDept_ID').select2().on("select2-selecting",
                function(e) {

                }).on("change",
                function(e) {
                    if ($('#ddlDept_ID').val() !== "Select Department") {
                        var deptid = $('#ddlDept_ID').val();
                        $.ajax({
                            url: "@Url.Action("GetSectionList1", "HRMSLeave")",
                            data: { deptId: deptid },
                            type: "POST",
                            dataType: "json",
                            success: function(data) {
                                var items = "";
                                items += "<option value = '' disabled selected>Please select Section</option>";
                                $.each(data,
                                    function(index, value) {
                                        items += ('<option value="' +
                                            value.ID +
                                            '">' +
                                            value.SectionName +
                                            '</option>');
                                    });
                                $("#ddlSection_ID").html(items);
                            }
                        });

                    }

                });

            //$('#ddlDept_ID').select2().on("select2-selecting", function (e) {
            //    if (e.val !== "") {
            //         //Below Method used to retrive Section List
            //        getSectionlist(e.val, "ddlSection_ID");
            //    } else {
            //        //
            //    }
            //}).on("change", function (e) {

            //    if (e.val !== "0") {
            //        //
            //    }
            //});

            /*
    *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
            then the Sections will appear according to selected Department.
    */

            @*function getSectionlist(deptid, elemid) {
                if (deptid !== "" && elemid !== "") {
                    $.ajax({
                        url: "@Url.Action("GetSectionList", "HRMSLeave")",
                        data: { deptId: deptid },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var newOptions = data.list;
                            //console.log(newOptions);
                            var $el = $("#" + elemid);
                            $el.empty(); // remove old options
                            $.each(newOptions, function (value, key) {
                                $el.append($("<option></option>").attr("value", key.Value).text(key.Text));
                            });
                        },
                        error: function (xhr, status) {
                            alert(status);
                            console.log('status', status);
                        }
                    });
                } else {
                    alert('Select Department');
                }
            }*@


            /*
    *  This is used for Data Table declartion.
    */
            var tblEmployeeLeaveAssign = $('#tblEmployeeLeaveAssign').DataTable({
                "order": [],
                "language": {
                    searchPlaceholder: "Search in salary....."
                },
                "responsive": true //,
            });


            /*
    *  This is used for cascding dropdown declartion.
    */


            $('#ddlSection_ID').select2().on("select2-selecting",
                function(e) {

                }).on("change",
                function(e) {
                    if ($('#ddlSection_ID').val() !== "Select Department") {
                        var sectionId = $('#ddlSection_ID').val();

                        $.ajax({
                            url: "@Url.Action("GetEmployeeIDforEmployeeShiftAssign", "HRMSLeave")",
                            data: { sectionid: sectionId },
                            type: "POST",
                            dataType: "json",
                            success: function(data) {
                                var newOptions = data.list;
                                console.log("data", newOptions);
                                if (newOptions.length <= 0) {
                                    tblEmployeeLeaveAssign.clear().draw();
                                } else {
                                    tblEmployeeLeaveAssign.clear().draw();
                                    for (var i = 0; i < newOptions.length; i++) {
                                        var col1 = '<input type="checkbox" name="check" value="' +
                                            newOptions[i].ID +
                                            '">';
                                        var col2 = newOptions[i].CardTitle;
                                        var col3 = newOptions[i].EmployeeIdentity;
                                        var col4 = newOptions[i].Name;
                                        var col5 = newOptions[i].ID;
                                        //'<input type="Hidden" name="ID" value="' + newOptions[i].ID + '">';
                                        tblEmployeeLeaveAssign.row.add([col1, col2, col3, col4, col5]).draw(false);
                                    }
                                }
                            }
                        });

                    }

                });


            //$('#ddlSection_ID').select2().on("select2-selecting", function (e) {
            //        if (e.val !== "") {
            //           //tblEmployeeShiftAssign
            //            getEmployeeListforShiftAssign(e.val, tblEmployeeLeaveAssign);
            //        } else {
            //            //
            //        }
            //    }).on("change", function (e) {

            //        if (e.val !== "0") {
            //            //
            //        }
            //    });

            /*
*  This is used for cascding dropdown. Which will change upon Section. If Section is selected
     then the Employees will appear according to selected Section.
*/
            @*function getEmployeeListforShiftAssign(sectionId, tblemplist) {
        if (sectionId !== "") {
            $.ajax({
                url: "@Url.Action("GetEmployeeIDforEmployeeShiftAssign", "HRMSLeave")",
                data: { sectionid: sectionId},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var newOptions = data.list;
                    if (newOptions.length <= 0) {
                        tblemplist.clear().draw();
                    } else {
                        tblemplist.clear().draw();
                        for (var i = 0; i < newOptions.length; i++) {
                            var col1 = '<input type="checkbox" name="check" value="' + newOptions[i].ID + '">';
                            var col2 = newOptions[i].CardTitle;
                            var col3 = newOptions[i].EmployeeIdentity;
                            var col4 = newOptions[i].Name;
                            var col5= newOptions[i].ID;
                                //'<input type="Hidden" name="ID" value="' + newOptions[i].ID + '">';
                            tblemplist.row.add([col1, col2, col3, col4, col5]).draw(false);
                            }
                        }
                    },
                error: function (xhr, status) {
                    alert(status);
                }
            });
            } else {
                alert('Select Section');
            }
            }*@
            /*
*  This is used for Select all Employee or select Specific Employee as per selected  Employee.
*/
            $('#chk-select-all').on('click',
                function() {
                    // Get all rows with search applied
                    var rows = tblEmployeeLeaveAssign.rows({ 'search': 'applied' }).nodes();
                    // Check/uncheck checkboxes for all rows in the table
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);
                });

            $('#tblEmployeeLeaveAssign tbody').on('click',
                'tr',
                function() {
                    $(this).toggleClass('selected');
                });
            // $('input[name="SelectedLocation"]:checked');
            $(document).off('click', '#btnemployeeleaveassign');
            $(document).on('click',
                '#btnemployeeleaveassign',
                function(e) {
                    e.preventDefault();

                    var datas;
                    if ($('#chk-select-all').prop("checked") === true) {

                        datas = tblEmployeeLeaveAssign.rows().data();
                    } else {
                        datas = tblEmployeeLeaveAssign.rows('.selected').data();
                    }
                    var ids = "";
                    //piconstarr = alldatas;
                    for (var i = 0; i < datas.length; i++) {
                        ids += datas[i][4] + ",";
                    }
                    $("#EmployeeIds").val(ids);
                    //$("#hidEmployeeIds").val(ids);
                    console.log('ids', ids);
                    $("#employeeleaveassign").submit();
                });

        });
    </script>
}
