﻿@using System.Web.UI.WebControls
@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Application
@{
    ViewBag.Title = "LeaveDetails";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeId, new { @id = "EmployeeId1" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Leave Application</h3>
        </div>
        <div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="EmployeeId">Card Title + Card No</label>
                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.Employee as IEnumerable<SelectListItem>,
                        "Select Employee", new { @id = "EmployeeId", @disabled = "disabled", @class = "form-control  myselect2" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveType as IEnumerable<SelectListItem>,
                         "Select Leave Type", new { id = "ddlleaveType", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="row hide" id="divleavebalance">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Lblleavebalance, new { Value = "No Leave Assign Yet", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EmployeeId">From</label>
                                <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                                    @Html.TextBoxFor(model => model.From, new { id = "first", @class = "form-control calendarControlleave", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EmployeeId">To</label>
                                <div class="input-group date" @*data-datetimepicker-startdate="true"*@>
                                    @Html.TextBoxFor(model => model.To, new { id = "second", @class = "form-control calendarControlleave", autocomplete = "off" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="hidden" id="Days1" name="Days1" value="" />
                                @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { id = "total", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StayDuringLeave, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.StayDuringLeave, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StayDuringLeave, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveStatusType, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.LeaveStatusType, ViewBag.LeaveStatusType as IEnumerable<SelectListItem>, "Select Leave Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeaveStatusType, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-11 col-md-12">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "txtEmpName", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DesignationName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @id = "txtDesignName", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @id = "txtSectionName", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function ConvertJsonDateString(jsonDate) {
            var shortDate = null;
            if (jsonDate) {
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();
                shortDate = monthString + '-' + dayString + '-' + year;
            }
            return shortDate;
        };

        $("#ddlleaveType").change(function () {

            var empId = $("#EmployeeId").val();
            var leaveId = $("#ddlleaveType").val();

            if (empId !== "" && leaveId !== "") {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLeaveInformationInformation", "HRMSLeave")",
                    datatype: "Json",
                    data: { empId: empId, leavetypeid: leaveId },
                    success: function (data) {
                        if (data.Lblleavebalance != null) {
                            //document.getElementById("Lblleavebalance").value = data.Lblleavebalance;
                            $('#Lblleavebalance').val(data.Lblleavebalance);
                            $('#divleavebalance').removeClass("hide");
                        }
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            } else {
                alert('Select Employee ID and Leave Type');
            }
        });

        $('.calendarControlleave').datepicker({
            autoclose: true,
            //format: "d/m/yyyy"
            format: "yyyy/m/d"
        });

        function parseDate(str) {
            var mdy = str.split('/');
            return new Date(mdy[0] - 1, mdy[1], mdy[2]);
            // return new Date(mdy[2], mdy[1], mdy[0] - 1);
        }

        function datediff(first, second) {
            // Take the difference between the dates and divide by milliseconds per day.
            // Round to nearest whole number to deal with DST.
            return Math.round((second - first) / (1000 * 60 * 60 * 24));
        }

        // alert(datediff(parseDate(first.value), parseDate(second.value)));
        $("#second").change(function () {
            var tot = 0;
            tot = (datediff(parseDate(first.value), parseDate(second.value)));
            document.getElementById("total").value = tot + 1;
            document.getElementById("Days1").value = tot + 1;
        });
    });
</script>