﻿@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Application

@{
    ViewBag.Title = "LeaveApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("LeaveApplication", "HRMSLeave", FormMethod.Post, new { id = "leaveapplication", data_server = "true", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default border-top border-blue">
        <div class="panel-heading pad5A">
            <h3 class="panel-title">Employee Basic Information</h3>
        </div>
        @*<div id="divPanelbody" class="panel-body" style="min-height: 45em">
            <div class="row mrg10T">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeeIdentity, new { @class = "control-label " })&nbsp;
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.EmployeeIdentity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeIdentity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label " })&nbsp;
                        <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name_BN, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Name_BN, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name_BN, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Father_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Father_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Father_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mother_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Mother_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Mother_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DOB, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" data-datetimepicker-startdate="true">
                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @{ var listItemsGn = new List<ListItem>
                                                                     {
                                                                         new ListItem {Text = "", Value = ""},
                                                                         new ListItem {Text = "Male", Value = "Male"},
                                                                         new ListItem {Text = "Female", Value = "Female"}
                                                                       };
                        }
                        @Html.DropDownList("Gender", new SelectList(listItemsGn, "Value", "Text"), "Select Gender",
                            new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Designation_Id, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.DropDownListFor(model => model.Designation_Id, ViewBag.Designations as IEnumerable<SelectListItem>,
                            "Select Designation", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country_Id, new { @class = "control-label " })&nbsp;
                        @Html.DropDownListFor(model => model.Country_Id, ViewBag.Coutries as IEnumerable<SelectListItem>,
                                           "Select Country", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Country_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Business_Unit_Id, new { @class = "control-label " })&nbsp;
                        @Html.DropDownListFor(model => model.Business_Unit_Id, ViewBag.BUnits as IEnumerable<SelectListItem>,
                             "Select Business Unit", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Business_Unit_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit_Id, new { @class = "control-label " })&nbsp;
                        @Html.DropDownListFor(model => model.Unit_Id, new SelectList(string.Empty, "Value", "Text"), "Select Unit",
                               new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Unit_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Department_Id, new { @class = "control-label " })&nbsp;
                        @Html.DropDownListFor(model => model.Department_Id, ViewBag.Departments as IEnumerable<SelectListItem>,
                              "Select Department", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Department_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Section_Id, new { @class = "control-label " })&nbsp;
                        @Html.DropDownListFor(model => model.Section_Id, new SelectList(string.Empty, "Value", "Text"),
                                             "Select Section", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Section_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Blood_Group, new { @class = "control-label " })&nbsp;
                        @{ var listItemBloodGroup = new List<ListItem>
                                                                   {
                                                                       new ListItem {Text = "A+(ve)", Value = "A+(ve)"},
                                                                       new ListItem {Text = "A-(ve)", Value = "A-(ve)"},
                                                                       new ListItem {Text = "B+(ve)", Value = "B+(ve)"},
                                                                       new ListItem {Text = "B-(ve)", Value = "B-(ve)"},
                                                                       new ListItem {Text = "AB+(ve)", Value = "AB+(ve)"},
                                                                       new ListItem {Text = "AB-(ve)", Value = "AB-(ve)"},
                                                                       new ListItem {Text = "O+(ve)", Value = "O+(ve)"},
                                                                       new ListItem {Text = "O-(ve)", Value = "O-(ve)"}
                                                                   }; }
                        @Html.DropDownListFor(model => model.Blood_Group, new SelectList(listItemBloodGroup, "Value", "Text"), "Select Blood Group",
                                           new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Blood_Group, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Joining_Date, new { @class = "control-label" })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group date" data-datetimepicker-startdate="true">
                            @Html.TextBoxFor(model => model.Joining_Date, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Joining_Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Religion, new { @class = "control-label " })&nbsp;
                        @{ var listItemReligion = new List<ListItem>
                                                                           {
                                                                               new ListItem {Text = "Islam", Value = "Islam"},
                                                                               new ListItem {Text = "Hindu", Value = "Hindu"},
                                                                               new ListItem {Text = "Christian", Value = "Christian"},
                                                                               new ListItem {Text = "Other", Value = "Other"}
                                                                           }; }
                        @Html.DropDownListFor(model => model.Religion, new SelectList(listItemReligion, "Value", "Text"), "Select Religion",
                                                new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile_No, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Mobile_No, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Alt_Mobile_No, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.Alt_Mobile_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Name, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Alt_Person_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Alt_Person_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Contact_No, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Alt_Person_Contact_No, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Alt_Person_Contact_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Alt_Person_Address, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Alt_Person_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Alt_Person_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Emergency_Contact_No, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Emergency_Contact_No, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Emergency_Contact_No, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Office_Contact, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Office_Contact, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Office_Contact, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Land_Phone, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Land_Phone, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Land_Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email_Id, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Email_Id, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Employement_Type, new { @class = "control-label " })&nbsp;
                        @{var listItemEmpType = new List<ListItem>
                                                                          {
                                                                             new ListItem {Text = "Permanent", Value = "Permanent"},
                                                                              new ListItem {Text = "Contractual", Value = "Contractual"}
                                                                          }; }

                        @Html.DropDownListFor(model => model.Employement_Type, new SelectList(listItemEmpType, "Value", "Text"),
                                           "Select Employe Type", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Employement_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NID_No, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        @Html.TextBoxFor(model => model.NID_No, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NID_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Passport_No, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Passport_No, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Passport_No, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Present_Address, new { @class = "control-label " })&nbsp;
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Present_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Present_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Permanent_Address, new { @class = "control-label " })
                        &nbsp; <span><i class="ion-star font-red"></i></span>
                        <div class="input-group">
                            @Html.TextAreaFor(model => model.Permanent_Address, new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Permanent_Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Marital_Status, new { @class = "control-label " })&nbsp;
                        @{ var listItemMaritalStatusList = new List<ListItem>
                                                                   {
                                                                       new ListItem {Text = "Single", Value = "Single"},
                                                                       new ListItem {Text = "Married", Value = "Married"},
                                                                       new ListItem {Text = "Widow", Value = "Widow"}
                                                                   }; }
                        @Html.DropDownListFor(model => model.Marital_Status, new SelectList(listItemMaritalStatusList, "Value",
                                           "Text"), "Select Marital Status", new { @class = "form-control myselect2" })

                        @Html.ValidationMessageFor(model => model.Marital_Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Staff_Type, new { @class = "control-label " })&nbsp;
                        @{
                            var listStaffType = new List<ListItem>
                                                                                {
                                                                                    new ListItem {Text = "Staff", Value = "Staff"},
                                                                                    new ListItem {Text = "Worker", Value = "Worker"}
                                                                                };
                        }
                        @Html.DropDownListFor(model => model.Staff_Type, new SelectList(listStaffType, "Value",
                                                "Text"), "Select Staff Type", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Staff_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Overtime_Eligibility, new { @class = "control-label " })&nbsp;
                        @{
                            var listOverTime = new List<ListItem>
                                                                            {
                                                                                new ListItem() {Text = "Yes", Value = "Yes"},
                                                                                new ListItem() {Text = "No", Value = "No"}
                                                                            };
                        }
                        @Html.DropDownListFor(model => model.Overtime_Eligibility, new SelectList(listOverTime, "Value",
                                                "Text"), "Select Overtime Eligibility", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Overtime_Eligibility, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Grade, new { @class = "control-label " })&nbsp;
                        @{
                            var listGrade = new List<ListItem>
                                                                    {
                                                                        new ListItem() {Text = "A", Value = "A"},
                                                                        new ListItem() {Text = "B", Value = "B"},
                                                                        new ListItem() {Text = "C", Value = "C"}
                                                                    };
                        }
                        @Html.DropDownListFor(model => model.Grade, new SelectList(listGrade, "Value", "Text"),
                                           "Select Grade", new { @class = "form-control myselect2" })
                        @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, new { @class = "control-label " })&nbsp;
                        @Html.TextBoxFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
                        <input type="file" name="Photo" />
                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <div class="col-md-offset-11 col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/JQuery/jquery-2.2.3.min.js"></script>
        <script src="~/Assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>*@
    <script src="~/Assets/CSS/jquery.bootstrap.wizard.js"></script>


    <script>
        $(document).ready(function() {

            //Date picker
            //$('#DOB').datepicker();
            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change', function (ev) {
                // $('#date-daily').change();
                var date = ev.date._d;
                // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                var stdate = moment(date).format('MM/DD/YYYY');
                //$("#hidStartdate").val(stdate);
                var elemId = $(this).attr('data-startdate-model');
                $("#" + elemId).val(stdate);
            });
            //$('#DOB').datepicker();


            function parseDate(str) {
                var mdy = str.split('/');
                return new Date(mdy[2], mdy[0]-1, mdy[1]);
            }

            function datediff(first, second) {
                // Take the difference between the dates and divide by milliseconds per day.
                // Round to nearest whole number to deal with DST.
                return Math.round((second-first)/(1000*60*60*24));
            }

            alert(datediff(parseDate(first.value), parseDate(second.value)));

            /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
            $("#Business_Unit_Id").change(function () {

                $("#Unit_Id").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUnitList")",
                    datatype: "Json",
                    data: { bUnitId: $("#Business_Unit_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Category</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.UnitName  + '</option>');
                        });
                        $("#Unit_Id").html(items);
                    }
                });
            });

    /*
     *  This is used for cascding dropdown. Which will change upon Department. If Department is selected
             then the Sections will appear according to selected Busines Unit.
     */


            $("#Department_Id").change(function () {

                $("#Section_Id").empty();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSectionList")",
                    datatype: "Json",
                    data: { deptId: $("#Department_Id").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please select Section</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.ID + '">'
                                + value.SectionName + '</option>');
                        });
                        $("#Section_Id").html(items);
                    }
                });
            });

        })
    </script>
}



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>VM_HRMS_Leave_Application</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Entry_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Entry_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Entry_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Update_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Update_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Update_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Entry_By, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Entry_By, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Entry_By, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Update_By, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Update_By, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Update_By, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LeaveTypeId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WorkStationName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WorkStationName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WorkStationName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StayDuringLeave, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StayDuringLeave, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StayDuringLeave, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AltMobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AltMobileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AltMobileNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LeaveStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeaveStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.During_LeaveWhoTakeOver, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.During_LeaveWhoTakeOver, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.During_LeaveWhoTakeOver, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Latest_Period_of_leave_Enjoyed, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Latest_Period_of_leave_Enjoyed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Latest_Period_of_leave_Enjoyed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Leave_PaidType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Leave_PaidType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Leave_PaidType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Alt_Leave_Dates, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Alt_Leave_Dates, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Alt_Leave_Dates, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Acknowledgement_Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Acknowledgement_Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Acknowledgement_Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HRAcknowledgeBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HRAcknowledgeBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HRAcknowledgeBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HRAcknowledgeDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HRAcknowledgeDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HRAcknowledgeDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Leave_ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Leave_ApplicationId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Leave_ApplicationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Start_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Start_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.End_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.End_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalDays, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalDays, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
