﻿@using System.Web.UI.WebControls
@using Oss.Romo.Models
@using Oss.Romo.Models.ViewModels
@using Oss.Romo.Models.ViewModels.Attendance
@using Oss.Romo.Models.ViewModels.Leave
@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Leave_Application
@*@model IEnumerable<Oss.Hrms.Models.ViewModels.Leave.VM_HRMS_Leave_Application>*@
@{
    ViewBag.Title = "ViewLeaveApplicationInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">Leave Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewLeaveApplicationInfo", "HRMSLeave", FormMethod.Post, new { data_server = "true", id = "ViewLeaveApplicationInfo" }))
            {
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.EmployeeId, new { @class = "control-label " })&nbsp;
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            @Html.DropDownListFor(model => model.LeaveApplication.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>,
                                                                      "Select Employee", new { @class = "form-control myselect2" })
                            @Html.ValidationMessageFor(model => model.LeaveApplication.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.From, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.LeaveApplication.From, new { Value = "", @class = "form-control calendarControl ", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LeaveApplication.From, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LeaveApplication.To, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.LeaveApplication.To, new { Value = "", @class = "form-control calendarControl", autocomplete = "off" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.LeaveApplication.To, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Leave Info " id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @*@{
                    List<VM_HRMS_Leave_Application> listfbinfo = ViewBag.LeaveList as List<VM_HRMS_Leave_Application>;*@
                @if (Model.DataList1 != null && Model.DataList1.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SectionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveTypeId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.From)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.To)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Days)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LeaveStatus)
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        <th>Section Name</th>
                                        <th>Employee ID</th>
                                        <th>Name</th>
                                        <th>Leave Type</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Days</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model.DataList1)
                                    {
                                        <tr>
                                            <td><b>@(++Sl).</b></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SectionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Leave_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.From)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.To)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Days)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.AttendanceStatus)*@
                                                @if (item.LeaveStatus == 1)
                                                {
                                                    <span class="label label-success">Approved</span>
                                                }
                                                else if (item.LeaveStatus == 2)
                                                {
                                                    <span class="label label-warning">Reject</span>
                                                }
                                            </td>
                                            <td>

                                                @Html.ActionLink(" Details", "LeaveDetail", new { id = item.ID }, new { @title = "Leave Details", @class = "glyphicon glyphicon-list" }) &nbsp;<br />
                                                @Html.ActionLink(" Delete", "DeleteLeaveApplication", new { id = item.ID }, new { @title = "Delete Leave", @class = "glyphicon glyphicon-trash" }) &nbsp;<br />
                                                @Html.ActionLink(" Print", "GetLeaveSlip", new { id = item.ID }, new { @target = "_blank", @title = "Leave Slip", @class = "glyphicon glyphicon-print" }) &nbsp;<br />
                                                @*@Html.ActionLink(" LeaveApplication", "LeaveApplicationFrom", new { id = item.ID }, new { @target = "_blank", @title = "Leave Application From", @class = "glyphicon glyphicon-print" }) &nbsp;*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @*}*@
            </div>
        </div>
    </div>
</div>

