﻿
@using System.Web.UI.WebControls
@using Oss.Romo.Models
@using Oss.Romo.Models.ViewModels
@using Oss.Romo.Models.ViewModels.Leave
@model Oss.Romo.Models.ViewModels.Leave.VM_HRMS_Earn_Leave_Payment
@{
    ViewBag.Title = "ViewEarnLeavePaymentInfo";
    Layout = "~/Views/Shared/_HrmsLayout.cshtml";
}

<div class="panel panel-default content-box border-top border-green">
    <div class="panel-heading">
        <h3 class="panel-title">View Earn Leave Information </h3>
    </div>
    <div class="panel-body">
        <div id="addform">
            @using (Html.BeginForm("ViewEarnLeavePaymentInfo", "HRMSLeave", FormMethod.Post, new { data_server = "true", id = "ViewEarnLeavePaymentInfo" }))
            {
                <div class="row ">
                    @*<div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ShiftTypeId, new { @class = "control-label " })&nbsp;
                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                @Html.DropDownListFor(model => model.ShiftTypeId, ViewBag.ShiftTypeList as IEnumerable<SelectListItem>,
                                                                     "Select Shift Name", new { @class = "form-control myselect2" })
                                @Html.ValidationMessageFor(model => model.ShiftTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fromdate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.Fromdate, new
                                {@*Value = DateTime.Now.ToShortDateString(),*@@class = "form-control calendarControl",
                                autocomplete = "off"
                            })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Fromdate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                            &nbsp; <span><i class="ion-star font-red"></i></span>
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.ToDate, new
                                {
                                    @class = "form-control calendarControl",
                                    autocomplete = "off"@*, Value = DateTime.Now.ToShortDateString()*@})
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mrg25T">
                            <input type="submit" value="View Earn Leave Info" id="btnviewshift" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="viewform">
            <div class="col-md-12 mrg10T">
                @{
                    int Sl = 0;
                }
                @if (Model.DataList != null && Model.DataList.Any())
                {
                    <div class="box">
                        <div class="box-body table-responsive">
                            <table id="table2" class="table table-hover table-responsive table-bordered nowrap font-black">
                                <thead>
                                    <tr>
                                        <th>
                                            SL
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SectionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EmployeeIdentity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Designation)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Joining_Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PaymentDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Total_Month)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.WorkingDays)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Holiday)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.OffDay)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalLeave)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAbsent)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalDeductionDays)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PayableWorkingDays)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalEarnLeave)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EnjoyAbleEarnLeave)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.PayableEarnLeave)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Stamp)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PayableEarnLeaveTk)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <th>
                                                <b>@(++Sl).</b>
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.SectionName)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.EmployeeIdentity)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayFor(modelItem => item.Designation)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.Joining_Date)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.PaymentDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.Total_Month)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.WorkingDays)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.Holiday)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.OffDay)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.TotalLeave)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => model.TotalAbsent)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.TotalDeductionDays)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.PayableWorkingDays)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.TotalEarnLeave)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(modelItem => item.EnjoyAbleEarnLeave)
                                                </th>*@
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PayableEarnLeave)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.Stamp)
                                            </th>
                                            <th>
                                                @Html.DisplayFor(modelItem => item.PayableEarnLeaveTk)
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>



    </div>
</div>

