﻿@model Oss.Romo.ViewModels.Procurement.VmProc_Requisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Purchase";
}
@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
@Styles.Render("~/plugins/select2/select2.min.css")
@Scripts.Render("~/plugins/select2/select2.full.min.js")
<section class="content-header">
    <h1>
        Purchase Order
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Purchase Order</li>
    </ol>
    <style>
        .label-yellow {
            background-color: #f39c12;
        }
    </style>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <div class="col-md-4" style="padding-left: 0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add Requisition</h3>
                        </div>
                        <div class="panel-body">                        
                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Prod_Requisition.RequisitionCID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        @Html.DropDownListFor(model => model.Prod_Requisition.RequisitionCID, ViewBag.Requisition as SelectList, new { @class = "form-control ol-md-6 col-xs-6", id = "ddlRequisition" })
                                        @Html.ValidationMessageFor(model => model.Prod_Requisition.RequisitionCID, "", new { @class = "text-danger" })
                                    </div>
                                    <button id="btnAdd" type="button" class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-plus"></span>Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
                <div class="col-md-8">
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Collapsible Group Item #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="box-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var data = [];
    var items = [];
    $(document).ready(function () {
        $('#ddlRequisition').select2().on("select2-selecting",
            function (e) {
            }).on("change", function (e) {
        });
    });
    $(document).ready(function() {
        $("#btnAdd").click(function() {
            var a = $('#ddlRequisition').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("")",
                datatype: "Json",
                data: { datestring: date},
                success: function (data) {
                  
                }
            });
            
        }); 
    });

</script>
