﻿@using System
@model Oss.Romo.ViewModels.Procurement.VmProc_Requisition
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Requisition Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {

        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 650,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-authorization").dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 500,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Create Requisition Item <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });
        $("#lnkOrderCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Create Requisition Item <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });
        $("#lnkTransition").click(function (e) {
            $(".ui-dialog-titlebar")
                .html("Create Part Finished Item <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });
        $(".lnkAutherize").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Requisition: Authorization  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-authorization").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Update Requisition Item <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Requisition Item : Delete");
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $("#btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-authorization" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Requisition : @Html.DisplayFor(x => x.Prod_Requisition.RequisitionCID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Procurement/VmProc_RequisitaionIndex">Requisition</a></li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Prod_Requisition.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                @{
                    int Sl = 0;
                }

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Requisition Summary :
                            @Html.ActionLink(".", "VmProc_Requisition_Autherize", new { id = Model.Prod_Requisition.ID }, new { @title = "Click to autherize requisition ", @class = "lnkAutherize AuthorizeCss glyphicon glyphicon-user" })&nbsp;
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_Requisition.RequisitionCID)</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_Requisition.RequisitionCID)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_Requisition.Priority)</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_Requisition.Priority)">
                            </div>


                            @if (Model.Prod_Requisition.Internal)
                            {
                                <div class="input-group">
                                    <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Requisition Type")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="Internal">
                                </div>

                                <div class="input-group">
                                    <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("From")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.FromUser_Department.Name)">
                                </div>
                            }
                            else
                            {
                                <div class="input-group">
                                    <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Department")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.FromUser_Department.Name)">
                                </div>
                                <div class="input-group">
                                    <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Requisition Type")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="External">
                                </div>
                            }

                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_Requisition.Date)</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_Requisition.Date)">
                            </div>

                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Prod_Requisition.Description)</span>
                                <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Prod_Requisition.Description)">
                            </div>
                            <div class="input-group">
                                <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("Authorization")</span>
                                @if (Model.Prod_Requisition.IsAutherized)
                                {
                                    <input style="width: 280px;" type="text" class="form-control text-success" readonly="readonly" value="Authorized">
                                }
                                else
                                {
                                    <input style="width: 280px;" type="text" class="form-control text-danger" readonly="readonly" value="Unauthorize">
                                }

                            </div>

                            @if (Model.Prod_Requisition.Internal)
                            {
                                <div class="input-group">
                                    <span style="width: 160px;" class="input-group-addon">@Html.DisplayName("To")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.ToUser_Department.Name)">
                                </div>
                            }
                            else
                            {
                                <div class="input-group">
                                    <span style=jj,i"width: 160px;" class="input-group-addon">@Html.DisplayName("Requisition Total")</span>
                                    <input style="width: 280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.TotalEstimatedPrice)">
                                </div>
                            }
                        </div>
                    </div>
                    <section>
                        @if (Model.Prod_Requisition.Internal)
                        {
                            <h3>
                                Internal requisition items
                                (
                                @Html.ActionLink(".", "VmProc_RequisitionSlaveInternalCreate", new { id = Model.Prod_Requisition.ID, uId = Model.Prod_Requisition.FromUser_DeptFK }, new { id = "lnkOrderCreate", @title = "Add Order Items for requisition", @class = "glyphicon glyphicon-plus" })&nbsp;
                                )

                                @*(&nbsp;<a href="~/Procurement/VmProc_RequisitionSlaveInternalCreate/@Model.Prod_Requisition.ID" id="lnkOrderCreate" title="Add Order Items for requisition"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
                            </h3>
                        }
                        else
                        {
                            <h3>
                                External requisition items
                                (&nbsp;<a href="~/Procurement/VmProc_RequisitionSlaveExternalCreate/@Model.Prod_Requisition.ID" id="lnkCreate" title="Add items for requisition"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                            </h3>
                        }
                    </section>
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmProd_Requisition_Slave.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmProd_Requisition_Slave.Prod_Requisition_Slave.Description)
                                </th>
                                <th>
                                    Required Qty
                                </th>
                                @if (!Model.Prod_Requisition.Internal)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.VmProd_Requisition_Slave.Prod_Requisition_Slave.EstimatedPrice)
                                    </th>
                                    <th>
                                        Line Total
                                    </th>
                                }
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        @{
                            decimal? totalReq = 0;
                            decimal? totalPrice = 0;
                            string unit = "";
                        }
                        <tbody>
                            @foreach (var item in Model.VmProd_Requisition_Slave.DataList)
                            {
                                <tr>
                                    <td><b>@(++Sl).</b></td>

                                    @if (item.Prod_Requisition_Slave.Mkt_POSlaveFK != 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name) | @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                            (@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style))

                                        </td>
                                    }
                                    else if (item.Prod_Requisition_Slave.Prod_TransitionItemInventoryFk != 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName)
                                        </td>
                                    }

                                    else if (item.Prod_Requisition_Slave.Raw_ItemFK != 1 && item.Prod_Requisition_Slave.Mkt_BOMFK != 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name)-(@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style))
                                        </td>
                                    }
                                    else if (item.Prod_Requisition_Slave.Raw_ItemFK != 1)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_Requisition_Slave.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prod_Requisition_Slave.TotalRequired)
                                        @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                        @{
                                            totalReq += item.Prod_Requisition_Slave.TotalRequired;
                                            unit = item.Common_Unit.Name;
                                        }

                                    </td>
                                    @if (!Model.Prod_Requisition.Internal)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Prod_Requisition_Slave.EstimatedPrice)
                                        </td>
                                        <td>
                                            @String.Format("{0:0.00}", (item.Prod_Requisition_Slave.EstimatedPrice * item.Prod_Requisition_Slave.TotalRequired))
                                        </td>

                                    }
                                    @{
                                        totalPrice += item.Prod_Requisition_Slave.EstimatedPrice * item.Prod_Requisition_Slave.TotalRequired;
                                    }
                                    <td>
                                        @if (item.Prod_Requisition_Slave.Mkt_BOMFK != 1 && item.Prod_Requisition_Slave.Raw_ItemFK != 1)
                                        {

                                            @Html.ActionLink(".", "VmProc_RequisitionSlaveExternalEdit", new { prSlaveId = item.Prod_Requisition_Slave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil", @title = "Update" })
                                            //VmProcOrder_Requisition_SlaveEdit
                                        }
                                        else if (item.Prod_Requisition_Slave.Mkt_BOMFK != 1 && item.Prod_Requisition_Slave.Mkt_POSlaveFK != 1)
                                        {
                                            @*@Html.ActionLink(".", "VmProc_RequisitionSlaveInternalEdit", new { prSlaveId = item.Prod_Requisition_Slave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil", @title = "Update" })*@
                                            @*@Html.ActionLink(".", "VmProc_TransitionItemInventoryEdit", new { prSlaveId = item.Prod_Requisition_Slave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil", @title = "Update" })*@
                                        }
                                        else if (item.Prod_Requisition_Slave.Mkt_BOMFK == 1 && item.Prod_Requisition_Slave.Raw_ItemFK != 1)
                                        {
                                            @Html.ActionLink(".", "VmProc_Requisition_SlaveEdit", new { prSlaveId = item.Prod_Requisition_Slave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil", @title = "Update" })
                                        }
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @if (!Model.Prod_Requisition.IsAutherized)
                                        {
                                            @Html.ActionLink(".", "VmProc_Requisition_SlaveDelete", new { id = item.Prod_Requisition_Slave.ID + "x" + Model.Prod_Requisition.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash", @title = "Delete" })
                                        }
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>TOTAL</th>
                                <th></th>
                                <th>@totalReq @unit</th>
                                @if (!Model.Prod_Requisition.Internal)
                                {
                                    <th></th>
                                    <th>
                                        @String.Format("{0:0.00}", totalPrice)
                                    </th>
                                }
                                <th></th>
                            </tr>
                        </tfoot>

                    </table>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>