﻿ @model Oss.Romo.ViewModels.Procurement.VmProc_Requisition
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Production Requisition ";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {


        var url = "";


        $("#dialog-edit").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Requisition: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Requisition: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkAutherize").click(function (e) {
            $(".ui-dialog-titlebar").html("Requisition: Authorization  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkComplete").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                    "Requisition: Finalize  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Requisition: Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
  

        <h1>
            Requisition:
            (&nbsp; <a href="VmProc_RequisitionCreate" id="lnkCreate"><i title="Requisition Create" class="glyphicon glyphicon-plus"></i></a> &nbsp;)

        </h1>
   

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Requisition</li>
    </ol>
    <style>
        .label-yellow {
            background-color: #f39c12;
        }
    </style>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr>
                        <th style="width: 5%">SL</th>

                        <th style="width: 15%" class="text-center">
                            @Html.DisplayNameFor(model => model.Prod_Requisition.RequisitionCID)
                        </th>
                        <th style="width: 10%" class="text-center">
                            @Html.DisplayNameFor(model => model.Prod_Requisition.Date)
                        </th>
                        <th style="width: 15%" class="text-center">
                            @Html.DisplayNameFor(model => model.User_Department.Name)
                        </th>
                        <th style="width: 5%" class="text-center">
                            @Html.DisplayNameFor(model => model.Prod_Requisition.Priority)
                        </th>
                        <th style="width: 20%" class="text-center">
                            @Html.DisplayNameFor(model => model.Prod_Requisition.Description)
                        </th>
                        <th style="width: 15%" class="text-center">
                            @Html.DisplayName("Total Amount")
                        </th>
                        <th style="width: 5%" class="text-center">
                            Authorization
                        </th>
                        <th style="width: 5%" class="text-center">
                            Type
                        </th>
                        <th style="width: 5%" class="text-center">
                            Action
                        </th>

                    </tr>
                    </thead>
                    @{
                        int SL = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>@(++SL)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.RequisitionCID)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Date)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.ToUser_Department.Name)
                                </td>
                                @if (item.Prod_Requisition.Priority == "High")
                                {
                                    <td class="text-center">
                                       
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                    
                                    </td>
                                }
                                else if (item.Prod_Requisition.Priority == "Medium")
                                {
                                    <td class="text-center">
                                     
                                            <span class="label label-yellow">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                       
                                            <span class="label label-success">@Html.DisplayFor(modelItem => item.Prod_Requisition.Priority)</span>

                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Requisition.Description)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalEstimatedPrice)
                                </td>

                                @if (!item.Prod_Requisition.IsAutherized)
                                {
                                    <td class="text-center">
                                      
                                            <span class="label label-danger">Unauthorize</span>

                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                       
                                            <span class="label label-success">Authorize</span>

                                    </td>
                                }
                                <td>
                                    @if (item.Prod_Requisition.Internal)
                                    {
                                      
                                            <span class="label label-primary">Internal</span>

                                    }
                                    else
                                    {

                                            <span class="label label-success">External</span>

                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmProc_RequisitionEdit", new { id = item.Prod_Requisition.ID }, new { @title = "Requisition Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmProc_RequisitionDelete", new { id = item.Prod_Requisition.ID }, new { @title = "Requisition Delete", @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                    @Html.ActionLink(".", "VmProc_Requisition_SlaveIndex", new { id = item.Prod_Requisition.ID }, new { @title = "Requisition Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                    @Html.ActionLink(".", "VmProc_Requisition_Autherize", new { id = item.Prod_Requisition.ID }, new { @title = "Autherize", @class = "lnkAutherize AuthorizeCss glyphicon glyphicon-user" })&nbsp;
                                    @*@Html.ActionLink(".", "VmProc_Requision_Complete", new { id = item.Prod_Requisition.ID }, new { @class = "lnkComplete glyphicon glyphicon-ok-sign" })&nbsp;*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
