﻿@model Oss.Romo.ViewModels.Procurement.VmProc_Purchase
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "General Purchase Order";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Authorize").dialog({
            title: 'Purchase Order: Authorize',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $(".lnkAutherize").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Purchase Order: Autherize  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Purchase Order: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });
        $(".lnkAuthorize").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "To Authorize this Purchase Order  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-Authorize").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Purchase Order: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar")
                .html(
                "Purchase Order: Delete  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-Authorize" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>



<section class="content-header">
    @if (Model.Header == "Purchase Orders")
    {
        <h1>
            @Model.Header
        </h1>

    }
    else
    {
        <h1>
            Purchase Orders:
            (&nbsp; <a href="VmProc_PurchaseOrdersCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
        </h1>
    }
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Purchase Orders</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @{ Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @{
                int sl = 0;
            }

            <!-- /.box-header -->

            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.Prod_Requisition.RequisitionCID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            <th>
                                @Html.DisplayName("PO Value")
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Status)
                                </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.IsAuthorize)
                            </th>
                            @if (Model.Header != "Purchase Orders")
                            {
                                <th>
                                    Action
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.DataList != null)
                            {
                                foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td><b>@(++sl).</b></td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Prod_Requisition.RequisitionCID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_PO.CID)

                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total_Value)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                        </td>
                                              
                                        <td>
                                            <div>
                                                @if (item.Mkt_PO.IsAuthorize == true)
                                                {
                                                    <span class="label label-success">Approved</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">Unauthorize</span>
                                                }

                                            </div>
                                        </td>
                                        <td>
                                            
                                        </td>
                                        @if (Model.Header != "Purchase Orders")
                                        {
                                            <td class="col-sm-2">
                                                @Html.ActionLink(".", "VmProc_PurchaseOrdersEdit", new { id = item.Mkt_PO.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                @Html.ActionLink(".", "VmProc_PurchaseOrderDelete", new { id = item.Mkt_PO.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp;&nbsp;
                                                @Html.ActionLink(".", "VmProc_PurchaseOrdersSlaveIndex", new { id = item.Mkt_PO.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                                @Html.ActionLink(".", "VmProc_Purchase_Autherize", new { id = item.Mkt_PO.ID }, new { @class = "lnkAutherize AuthorizeCss glyphicon glyphicon-user" })&nbsp;
                                                @Html.ActionLink(".", "POReportWithoutBuyerOrderDoc", "Commercial", new { id = item.Mkt_PO.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })

                                            </td>
                                        }

                                    </tr>
                                }
                            }

                        }

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<style>
    .AuthorizeCss:hover {
        background-color: greenyellow;
        color: white;
        padding: 4px;
    }
</style>