﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br/>
    <hr/>

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Prod_Requisition_Slave.Prod_RequisitionFK, new { id = "Prod_RequisitionFK" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Prod_TransitionItemInventoryFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Prod_TransitionItemInventoryFk, ViewBag.TransitionItems as SelectList, "---Select Transition Items---", new {id="ddlItem", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Prod_TransitionItemInventoryFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.TotalRequired, new { htmlAttributes = new {id= "txtTotalRequired", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @*<div class="form-group">
    @Html.EditorFor(model => model.Prod_Requisition_Slave.AvaialableQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } }) // available quantity
     </div>*@
        @*</div>*@
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script>
    $('#ddlItem').on("change", function (e) {
        if ($('#ddlItem').val() !== "---Select Transition Items---") {
            var Id = $('#ddlItem').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetTransitionalItemQuantity", "Helper")",
                data: { id: Id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#txtTotalRequired').val(data.Quantity);
                }
            });
        }
    });
</script>

