﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Prod_RequisitionFK, new { id = "Prod_RequisitionFK" })
                @Html.HiddenFor(model => model.UserDepartmentId, new { id = "UserDepartmentId" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.ID, "Category Name", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Category.ID, ViewBag.Category as SelectList, "---Select Category---", new { @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_SubCategory.ID, "Subcategory Name", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_SubCategory.ID, new SelectList(string.Empty, "Value", "Text"), "--Select SubCategory--", new { @id = "ddlSubcategory", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_SubCategory.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, "Item Name", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "ddlItem", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.UserDepartmentId == 13)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, ViewBag.BomCID as SelectList, "---Select Style No---", new { @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { id = "ddlunit", @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.EstimatedPrice, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.EstimatedPrice, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.EstimatedPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>
    $('#Raw_Category_ID').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#Raw_Category_ID').val() !== "---Select Category---") {
            var categoryid = $('#Raw_Category_ID').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetRaw_SubCategory", "Helper")",
                data: { ID: categoryid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#ddlSubcategory").empty();
                    $("#ddlItem").empty();
                    if (data.length !== 0) {
                        $("#ddlSubcategory").append("<option value='0'>---Select  Subcategory---</option>");
                        $.each(data, function (index, row) {
                            $("#ddlSubcategory").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                        });

                    }

                }
            });

        }

        });

    $('#ddlSubcategory').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        if ($('#ddlSubcategory').val() !== "---Select Subcategory---") {
            var subcategoryid = $('#ddlSubcategory').val();

            $.ajax({
                type: "post",
                url: "@Url.Action("GetRaw_Item", "Helper")",
                data: { ID: subcategoryid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#ddlItem").empty();
                    if (data.length !== 0) {
                        $("#ddlItem").append("<option value='0'>---Select Item---</option>");
                        $.each(data, function (index, row) {
                            $("#ddlItem").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                        });

                    }

                }
            });

        }

        });
    $('#ddlItem').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {

        });
    $('#ddlunit').select2().on("select2-selecting",
        function(e) {

        }).on("change", function(e) {

    });
</script>
