﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.ID, new { id = "requisitionSlaveId" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Prod_RequisitionFK, new { id = "Prod_RequisitionFK" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Common_UnitFK, new { id = "Common_UnitFK" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Raw_ItemFK, new { id = "Raw_ItemFK" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Consumption, new { id = "Consumption" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.EstimatedPrice, new { id = "EstimatedPrice" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, ViewBag.BomCID as SelectList, "---Select Style No---", new { @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, ViewBag.POItem as SelectList, "--Select Item--", new { id = "Mkt_POSlaveFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Required Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtRequiredRequisitaion" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AvailableQty, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.AvailableQty, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.AvailableQty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">

  
    var reqid = $("#Prod_RequisitionFK").val();

    //Style Dropdown Change

    $('#Prod_Requisition_Slave_Mkt_BOMFK').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {

        if ($('#Prod_Requisition_Slave_Mkt_BOMFK').val() !== "---Select Style No---") {
            var Mkt_BOMId = $("#Prod_Requisition_Slave_Mkt_BOMFK").val();

            if (Mkt_BOMId != '') {
                document.getElementById("Mkt_POSlaveFK").innerHTML = "";
                $.get("@Url.Action("GetStyleItemByBomPoSlave", "Helper")", { ID: Mkt_BOMId }, function (data) {
                    $("#Mkt_POSlaveFK").append("<option value='0'>---Select item---</option>");
                    $.each(data, function (index, row) {
                        $("#Mkt_POSlaveFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                    });
                });
            }
            else {
                document.getElementById("Mkt_POSlaveFK").innerHTML = "";
            }
        }
    });



    $('#Mkt_POSlaveFK').select2().on("select2-selecting", function (e) {
    }).on("change", function (e) {
        if ($('#Mkt_POSlaveFK').val() !== "--Select--") {
            var Id = $('#Mkt_POSlaveFK').val();
            $.ajax({
                type: "post",
                url: "@Url.Action("GetRequiredQty","Helper")",
                data: { RawItemID: Id },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#txtRequiredRequisitaion').val(data.RequiredQuantity + " " + data.UnitName);
                    $('#Common_UnitFK').val(data.Common_UnitFK);
                    $('#Consumption').val(data.Consumption);
                    $('#EstimatedPrice').val(0);
                }
            });
        }
    });
</script>
