﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
       <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.InternalValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.InternalValue, ViewBag.StoreType as SelectList, "---Select Requisition Type---", new { @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.InternalValue, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="InternalDiv">
           
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_Requisition.ToUser_DeptFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_Requisition.ToUser_DeptFK, ViewBag.InternalStore as SelectList, "---Select Department---", new { @class = "form-control ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_Requisition.ToUser_DeptFK, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition.Priority, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition.Priority, ViewBag.Priority as SelectList, "---Select Priority---", new { @class = "form-control ol-md-6 col-xs-6",id= "ddlPriority" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition.Priority, "", new { @class = "text-danger" })
     
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function() {
       var  userDepartment = parseInt('@ViewBag.DepartmentId');
        $("#InternalDiv").hide();
      
        $('#InternalValue').select2().on("change", function (e) {
            var selectId = $("#InternalValue").val();

            console.log(selectId);
            if (selectId == 0) {
                $("#InternalDiv").hide();
               
            }
            else if (selectId == 1) {
                $("#InternalDiv").show();
               
            }

        });
    });

</script>