﻿@model Oss.Romo.ViewModels.Production.VmProd_Requisition_Slave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Prod_Requisition.FromUser_DeptFK, new { id = "FromUser_DeptFK" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Prod_RequisitionFK, new { id = "Prod_RequisitionFK" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Common_UnitFK, new { id = "Common_UnitFK" })
                <input type="hidden" name="UnitName" id="txtUnitName"/>
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.Consumption, new { id = "Consumption" })
                @Html.HiddenFor(model => model.Prod_Requisition_Slave.EstimatedPrice, new { id = "EstimatedPrice" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, ViewBag.BomCID as SelectList, "--Select Style No--", new { @class = "form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, new SelectList(string.Empty, "Value", "Text"), "--Select item--", new { id = "Mkt_POSlaveFK", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Mkt_POSlaveFK, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Prod_Requisition.FromUser_DeptFK == 9)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_Requisition_Slave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Prod_Requisition_Slave.Description, new SelectList(string.Empty, "Value", "Text"), "--Fabric Color--", new { id = "FabricColor", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Required Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtRequiredRequisitaion" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-6">Available Quantity</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="txtAvailableQty" type="text" class="form-control col-md-6 col-xs-6" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prod_Requisition_Slave.TotalRequired, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Prod_Requisition_Slave.TotalRequired, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.TotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.Prod_Requisition.FromUser_DeptFK != 9)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Prod_Requisition_Slave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Prod_Requisition_Slave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Prod_Requisition_Slave.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script type="text/javascript">
    var reqid = $("#Prod_RequisitionFK").val();

    var userId = $("#FromUser_DeptFK").val();
    //Style Dropdown Change

    $('#Prod_Requisition_Slave_Mkt_BOMFK').select2().on("select2-selecting", function (e) {

    }).on("change", function (e) {
        
        if ($('#Prod_Requisition_Slave_Mkt_BOMFK').val() !== "--Select Style No--") {
            var Mkt_BOMId = $("#Prod_Requisition_Slave_Mkt_BOMFK").val();

            if (Mkt_BOMId != '') {
                document.getElementById("Mkt_POSlaveFK").innerHTML = "";
                $('#txtAvailableQty').val(0);
                $('#txtRequiredRequisitaion').val(0);
                if (userId != 9) {
                    $.get("@Url.Action("GetStyleItemByBomPoSlave", "Helper")", { ID: Mkt_BOMId }, function (data) {
                        $("#Mkt_POSlaveFK").append("<option value='0'>--Select item--</option>");
                        $.each(data, function (index, row) {
                            $("#Mkt_POSlaveFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });
                    });
                }
                else {
                    document.getElementById("FabricColor").innerHTML = "";
                    $.get("@Url.Action("GetStyleFinishFabricBomPoSlave", "Helper")", { ID: Mkt_BOMId }, function (data) {
                        $("#Mkt_POSlaveFK").append("<option value='0'>--Select item--</option>");
                        $.each(data, function (index, row) {
                            $("#Mkt_POSlaveFK").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });
                    });

                    $.get("@Url.Action("GetOrderStyleColor", "Helper")", { BomId: Mkt_BOMId }, function (data) {
                        $("#FabricColor").append("<option value='0'>--Fabric Color--</option>");
                        $.each(data, function (index, row) {
                            $("#FabricColor").append("<option value='" + row.Value + "'>" + row.Text + "</option>");
                        });
                    });
                }
            }
            else {
                document.getElementById("Mkt_POSlaveFK").innerHTML = "";
                document.getElementById("FabricColor").innerHTML = "";
            }
        }
    });


    $('#Mkt_POSlaveFK').select2().on("select2-selecting", function (e) {
        $('#txtAvailableQty').empty();
        $('#txtRequiredRequisitaion').empty();
    }).on("change", function (e) {
        if ($('#Mkt_POSlaveFK').val() !== "--Select item--") {
            var poSlaveId = $('#Mkt_POSlaveFK').val();
            
            $.ajax({
                type: "post",
                url: "@Url.Action("GetRequiredQty","Helper")",
                data: { poSlaveId: poSlaveId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#txtRequiredRequisitaion').val(data.RequiredQuantity + " " + data.UnitName);
                    $('#Common_UnitFK').val(data.Common_UnitFK);
                    $('#Consumption').val(data.Consumption);
                    $('#EstimatedPrice').val(0);
                    $('#txtUnitName').val(data.UnitName);
                }
            });

            if (userId != 9) {
                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetAvailableReceivedQuantity", "Helper")",
                    data: { id: poSlaveId },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var unitName = $('#txtUnitName').val();
                        $('#txtAvailableQty').val(data + " " + unitName);

                    }
                });
            }
            @*else {
                var colorName = $('#FabricColor').val();
                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetAvailableFabricReceivedQuantity", "Helper")",
                    data: { id: poSlaveId, color: colorName },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var unitName = $('#txtUnitName').val();
                        $('#txtAvailableQty').val(data + " " + unitName);

                    }
                });
            }*@
        }
    });

    $("#FabricColor").change(function () {
        var poSlaveId = $('#Mkt_POSlaveFK').val();
        var colorName = $('#FabricColor').val();
        //alert(BOMId);
        if (colorName != '' && poSlaveId!=null) {
            $.get('@Url.Action("GetAvailableFabricReceivedQuantity", "Helper")', { id: poSlaveId, color: colorName }, function (data) {

                var unitName = $('#txtUnitName').val();
                $('#txtAvailableQty').val(data + " " + unitName);
            });
        }
        else {
            var unitName = $('#txtUnitName').val();
            $('#txtAvailableQty').val(0 + " " + unitName);
        }
    });
</script>
