﻿<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
    <link  rel="stylesheet" href="~/Content/bootstrap-timepicker/css/bootstrap-timepicker.min.css"/>
    @*<script type="text/javascript" src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

   
    @Styles.Render("~/Content/OssStyle.css")
    @Scripts.Render("~/plugins/jQuery/jquery.validate.min.js")
    @Scripts.Render("~/plugins/jQuery/jquery.validate.unobtrusive.min.js")
    @Styles.Render("~/plugins/select2/select2.min.css")
    @Scripts.Render("~/plugins/select2/select2.full.min.js")
    @Styles.Render("~/plugins/iCheck/square/blue.css")
    @Scripts.Render("~/plugins/iCheck/icheck.min.js")
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script>
        //$('form').submit(function(){
        //    // On submit disable its submit button
        //    $('input[type=submit]', this).attr('disabled', 'disabled');
        //});
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $('.timepicker1').timepicker();
        });

        jQuery('form').submit(function () {
            $(this).find(':submit').attr('disabled', true);
            setTimeout(function () {
                $(this).find(':submit').attr('disabled', false);
            }, 10 * 1000);
        });
        $(document).ready(function () {

            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });
            //$(".SerchingDropDown").select2();
            $(".SerchingDropDown").select2();
            $.ui.dialog.prototype._allowInteraction = function (e) {
                return true;
            };
            //Timepicker
            $('.timepicker1').timepicker();
            $('.timepicker').timepicker({
                showInputs: false
            });
        });
        
        $(".btncancel").click(function (e) {
            $("#dialog-authorization").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        $(".btncancelConfirm").click(function(e) {
            $("#dialog-confirm").dialog("close");
            return false;
        });
        $(".btncancel").click(function (e) {
            $("#dialog-edit3").dialog("close");
            return false;
        });
        $(".btncancelBtB").click(function(e) {
            $("#dialog-editBtB").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-editBtB").dialog("close");
            return false;
        });

        $(".btncancel").click(function(e) {
            $("#dialog-Authorize").dialog('close');
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-access-control").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-Password-edit").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-edit-Details").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-active-edit").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-active-edit").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-user-Create").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#Requisition-Item-Create").dialog("close");
            return false;
        });

        $(".btncancelAuthorizePO").click(function(e) {
            $("#dialog-Authorize").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-LedgerOne").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-b2bpayment").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-lock").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-lnkAddMPlan").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-lnkDailyOutcome").dialog("close");
            return false;
        });
        $(".btncancel").click(function(e) {
            $("#dialog-unAuthorize").dialog("close");
            return false;
        });
    </script>
    
</body>
</html>
