﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oss.Romo</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/OssStyle.css")
    @Styles.Render("~/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/dataTables.bootstrap.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">
                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                @{
                                    if (MvcApplication.IsReleased)
                                    {

                                        if (Session["One"] == null)
                                        {
                                            Response.Redirect("~/Home");
                                        }
                                        Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
                                        string greeting = DateTime.Now.TimeOfDay.ToString();
                                        greeting = greeting.Substring(0, 2);
                                        int greet = 0;
                                        int.TryParse(greeting, out greet);
                                        if (greet >= 0 && greet < 12)
                                        {
                                            greeting = "Good Morning. ";
                                        }
                                        else if (greet >= 12 && greet < 18)
                                        {
                                            greeting = "Good Afternoon. ";
                                        }
                                        else
                                        {
                                            greeting = "Good Evening. ";
                                        }
                                        <span class="hidden-xs">@greeting! @u.User_User.Name.ToUpper()</span>
                                    }
                                }
                            </a>
                            <ul style="border:1px solid #3c8dbc" class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Home" class="btn btn-success btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">

                    <li class="header">MAIN NAVIGATION </li>
                    <li class="treeview">
                        <a href="~/Home/Index">
                            <i class="fa fa-dashboard"></i> <span> Dashboard </span>

                        </a>

                    </li>
                    <li class="header"> Order and T&A</li>
                    @{
                        HttpCookie MenuC1 = HttpContext.Current.Request.Cookies["Menu1"];
                        HttpCookie MenuC2 = HttpContext.Current.Request.Cookies["Menu2"];
                        HttpCookie MenuC3 = HttpContext.Current.Request.Cookies["Menu3"];
                        HttpCookie MenuC4 = HttpContext.Current.Request.Cookies["Menu4"];
                        HttpCookie MenuC5 = HttpContext.Current.Request.Cookies["Menu5"];

                        string Menu = MenuC1["Menu1"].ToString().ToLower() + MenuC2["Menu2"].ToString().ToLower() + MenuC3["Menu3"].ToString().ToLower() + MenuC4["Menu4"].ToString().ToLower() + MenuC5["Menu5"].ToString().ToLower();

                        //HttpCookie AloneC = HttpContext.Current.Request.Cookies["Menu"];
                        //string Menu = AloneC["Menu"].ToString().ToLower();
                        string TopMenu = "", SubMenu = "", Menuitem = "", Method = "";
                    }
                    @while (Menu.Length > 1)
                    {
                        TopMenu = Menu.Substring(1, Menu.IndexOf("$") - 1);
                        Menu = Menu.Substring(@TopMenu.Length + 1, Menu.Length - @TopMenu.Length - 1);
                        while (Menu.Substring(0, 1) == "$")
                        {
                            SubMenu = Menu.Substring(1, Menu.IndexOf("#") - 1);
                            Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @while (Menu.Substring(0, 1) == "#")
                                    {
                                        Menuitem = Menu.Substring(1, Menu.IndexOf("|") - 1);
                                        Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                                        Method = Menu.Substring(1, Menu.IndexOf("^") - 1);
                                        Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                                        <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                                    }

                                </ul>
                            </li>

                        }

                    }
                    @{
                        if (!MvcApplication.IsReleased)
                        {
                            <li class="header"> Order and T&A </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Common/VmCommon_TheOrderIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                    <li><a href="~/Common/VmCommon_TheOrderIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                    <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i> Plan Step</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Search</a></li>
                                </ul>
                            </li>

                            <li class="header">Marchendising</li>




                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Bill Of Materials</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/VmMkt_BOMIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                    <li><a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Fabrications</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/Mkt_BOMSlaveFabric"><i class="fa fa-share"></i> In Progress</a></li>
                                    @*<li>@*<a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>*@

                                </ul>
                            </li>
                            <li class="header">Purchase Orders and Tracking</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Purchase Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i>In Progress</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i>Store Settled</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>Payment Settled</a></li>
                                </ul>
                            </li>

                            <li class="header">Supplier Management</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Supplier</span>

                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Accounts/VmAcc_SupplierPHIndex"><i class="fa fa-share"></i> Supplier List</a></li>
                                    <li><a href="~/Accounts/PurchaseOrderListIndex"><i class="fa fa-share"></i>PO In Progress</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>PO Payment Settled</a></li>

                                </ul>
                            </li>

                            <li class="header">Raw Material Store Management</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Purchase Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i> PO in Progress</a></li>
                                    <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> General PO</a></li>
                                    <li><a href="~/Store/PurchaseOrderReceive"><i class="fa fa-share"></i> Stock In</a></li>
                                    <li><a href="~/Store/PurchaseOrderDeliver"><i class="fa fa-share"></i> Stock Out(BOM)</a></li>
                                    <li><a href="~/Store/VmGeneral_StockOut"><i class="fa fa-share"></i> Stock Out(General)</a></li>
                                    <li><a href="~/Store/PurchaseOrderDeliverREQ"><i class="fa fa-share"></i> Requisition</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i> Settled</a></li>

                                </ul>
                            </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Item</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Accounts/InventoryView"><i class="fa fa-share"></i> Inventory</a></li>
                                        <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i> Item List</a></li>
                                        <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                        <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Production Status</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i>Schedule Order</a></li>
                                        @*<li><a href="#"><i class="fa fa-share"></i> Receive Goods</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Send Goods</a></li>*@
                                    </ul>
                                </li>
                                <li class="header">System Admin & Security Management</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>User</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">

                                        <li><a href="~/User/VmUser_UserIndex"><i class="fa fa-share"></i> User List</a></li>
                                        <li><a href="~/User/VmUser_RoleIndex"><i class="fa fa-share"></i> User Role</a></li>

                                    </ul>
                                </li>

                                <li class="header">Commercial & LC Management</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>L/C</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                                        <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial Master L/C</a></li>
                                        <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial B2B L/C</a></li>

                                        @*<li><a href="~/Commercial/VmCommercial__MasterLCDocsIndex"><i class="fa fa-share"></i>Commercial__MasterLCDocs</a></li>*@
                                    </ul>

                                </li>

                                @*<li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Accessories Status</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Store/PurchaseOrderReady"><i class="fa fa-share"></i> View</a></li>
                                        </ul>
                                    </li>*@
                                <li class="header">Production Planning</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Undone</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i>Total Planning(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Daliy Planning(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Cutting(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Making(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>QC(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Send to Finish Store(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Daily Outcome (UD)</a></li>
                                    </ul>
                                </li>
                                <li class="header">Production Managment</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Production</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                    </ul>
                                </li>




                                <li class="header">Quality Assurance System</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Quality Assurance(UD)</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                    </ul>
                                </li>
                                <li class="header">Intermediate & Finish Goods Store</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Finish Goods</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i>  Stock In(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>  Shipment(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>  Stock Information(UD)</a></li>

                                    </ul>
                                </li>

                                <li class="header">Shipment Management System</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Shipment Management(UD) </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                    </ul>
                                </li>
                                <li class="header">Accounting System</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Accounting </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Account type</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i>  Chart1</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i>  Chart2</a></li>
                                        <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Account Name</a></li>
                                        <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i>  Journal</a></li>
                                        <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>


                                    </ul>
                                </li>


                                <li class="header">Mantenance & Utility Managment</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Utility</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> Stock In(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Stock Out(UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Requisition(UD)</a></li>
                                    </ul>
                                </li>

                                <li class="header">Management Information System</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>MIS</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                    </ul>
                                </li>
                                <li class="header">Common Settings</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Settings</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">

                                        <li><a href="~/Marketing/VmMkt_BuyerIndex"><i class="fa fa-share"></i> Listed Buyers</a></li>
                                        <li><a href="~/Common/VmCommon_SupplierIndex"><i class="fa fa-share"></i> Listed Suppliers</a></li>
                                        <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Listed Currency</a></li>
                                        <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Units</a></li>
                                        <li><a href="~/Marketing/VmMkt_ItemIndex"><i class="fa fa-share"></i> Items</a></li>
                                        <li><a href="~/Marketing/VmMkt_SubCategoryIndex"><i class="fa fa-share"></i>Subcategories</a></li>
                                        <li><a href="~/Marketing/VmMkt_CategoryIndex"><i class="fa fa-share"></i> Categories</a></li>
                                        <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial Bank</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i>Production Line</a></li>


                                    </ul>
                                </li>
                                <li class="header">UnDone</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Production Status</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> Request Goods</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> Priority Demand</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Received Goods</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Returned Goods</a></li>
                                    </ul>
                                </li>

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Expenses</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Accounting</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">

                                        <li><a href="#"><i class="fa fa-share"></i> Chart of A/C</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> Ledger</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Journal</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Income Statement</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Tail Balance</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Balance Sheet</a></li>
                                    </ul>
                                </li>




                                <li class="header">Commercial</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>L/C </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> Active</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> In Transit</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Records</a></li>

                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>B2B L/C</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-share"></i> Received PI</a></li>

                                        <li><a href="#"><i class="fa fa-share"></i> Opened L/C</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Acceptance Given</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Matured</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Records</a></li>
                                    </ul>
                                </li>


                                <li class="header">Attributes</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>General Setting</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">

                                        <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Listed Currency</a></li>
                                        <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Unit</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Merchendising Items</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">

                                        <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Item</a></li>
                                        <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                        <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Store Setting</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Item</a></li>

                                        <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                        <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                    </ul>
                                </li>



                                <li class="header">Sumaya</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Sumaya </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Acc_type</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i> Acc_Chart1</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i> Acc_Chart2</a></li>
                                        <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Acc_AcName</a></li>
                                        <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i> Acc_Journal</a></li>
                                        <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>


                                    </ul>
                                </li>

                                <li class="header">Ayesha</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Ayesha</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                                        <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial_MasterLC</a></li>
                                        <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial_B2bLC</a></li>
                                        <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial_Bank</a></li>

                                        @*<li><a href="~/Commercial/VmCommercial__MasterLCDocsIndex"><i class="fa fa-share"></i>Commercial__MasterLCDocs</a></li>*@
                                    </ul>

                                </li>

                                <li class="header">Emran</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Emran </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Production/VmProd_StatusIndex"><i class="fa fa-share"></i> Production Status</a></li>
                                        <li><a href="~/Production/VmProd_OrderStatusIndex"><i class="fa fa-share"></i> Order Status</a></li>
                                    </ul>
                                </li>

                        }
                    }
                </ul>

            </section>

            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>
    </div>
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->

    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/dist/js/app.min.js")
    @Scripts.Render("~/dist/js/demo.js")
    @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/plugins/chartjs/Chart.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.pie.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.categories.min.js")



    <script>
        $(function () {
            $("#example1").DataTable();

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });

            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});
            //Red color scheme for iCheck
            //$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            //    checkboxClass: 'icheckbox_minimal-red',
            //    radioClass: 'iradio_minimal-red'
            //});
            //Flat red color scheme for iCheck
            //$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            //    checkboxClass: 'icheckbox_flat-green',
            //    radioClass: 'iradio_flat-green'
            //});
            $(function () {
                /*
                 * BAR CHART
                 * ---------
                 */
                var bar_data = {
                    data: [["January", 20], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9]],
                    color: "#3c8dbc"
                };
                $.plot("#bar-chart", [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: "#f3f3f3",
                        tickColor: "#f3f3f3"
                    },
                    series: {
                        bars: {
                            show: true,
                            barWidth: 0.3,
                            align: "center"
                        }
                    },<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oss.Romo</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/OssStyle.css")
    @Styles.Render("~/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/dataTables.bootstrap.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">
                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                @{
                                    if (MvcApplication.IsReleased)
                                    {

                                        if (Session["One"] == null)
                                        {
                                            Response.Redirect("~/Home");
                                        }
                                        Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
                                        string greeting = DateTime.Now.TimeOfDay.ToString();
                                        greeting = greeting.Substring(0, 2);
                                        int greet = 0;
                                        int.TryParse(greeting, out greet);
                                        if (greet >= 0 && greet < 12)
                                        {
                                            greeting = "Good Morning. ";
                                        }
                                        else if (greet >= 12 && greet < 18)
                                        {
                                            greeting = "Good Afternoon. ";
                                        }
                                        else
                                        {
                                            greeting = "Good Evening. ";
                                        }
                                        <span class="hidden-xs">@greeting! @u.User_User.Name.ToUpper()</span>
                                    }
                                }
                            </a>
                            <ul style="border:1px solid #3c8dbc" class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Home" class="btn btn-success btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">

                    <li class="header">MAIN NAVIGATION </li>
                    <li class="treeview">
                        <a href="~/Home/Index">
                            <i class="fa fa-dashboard"></i> <span> Dashboard </span>

                        </a>

                    </li>
                    <li class="header"> Order and T&A</li>
                    @{
                        HttpCookie MenuC1 = HttpContext.Current.Request.Cookies["Menu1"];
                        HttpCookie MenuC2 = HttpContext.Current.Request.Cookies["Menu2"];
                        HttpCookie MenuC3 = HttpContext.Current.Request.Cookies["Menu3"];
                        HttpCookie MenuC4 = HttpContext.Current.Request.Cookies["Menu4"];
                        HttpCookie MenuC5 = HttpContext.Current.Request.Cookies["Menu5"];

                        string Menu = MenuC1["Menu1"].ToString().ToLower() + MenuC2["Menu2"].ToString().ToLower() + MenuC3["Menu3"].ToString().ToLower() + MenuC4["Menu4"].ToString().ToLower() + MenuC5["Menu5"].ToString().ToLower();

                        //HttpCookie AloneC = HttpContext.Current.Request.Cookies["Menu"];
                        //string Menu = AloneC["Menu"].ToString().ToLower();
                        string TopMenu = "", SubMenu = "", Menuitem = "", Method = "";
                    }
                    @while (Menu.Length > 1)
                    {
                        TopMenu = Menu.Substring(1, Menu.IndexOf("$") - 1);
                        Menu = Menu.Substring(@TopMenu.Length + 1, Menu.Length - @TopMenu.Length - 1);
                        while (Menu.Substring(0, 1) == "$")
                        {
                            SubMenu = Menu.Substring(1, Menu.IndexOf("#") - 1);
                            Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @while (Menu.Substring(0, 1) == "#")
                                    {
                                        Menuitem = Menu.Substring(1, Menu.IndexOf("|") - 1);
                                        Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                                        Method = Menu.Substring(1, Menu.IndexOf("^") - 1);
                                        Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                                        <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                                    }

                                </ul>
                            </li>

                        }

                    }
                    @{
                        if (!MvcApplication.IsReleased)
                        {
                            <li class="header"> Order and T&A </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Common/VmCommon_TheOrderIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                    <li><a href="~/Common/VmCommon_TheOrderIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                    <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i> Plan Step</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Search</a></li>
                                </ul>
                            </li>

                             <li class="header">Marchendising</li>




                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Bill Of Materials</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/VmMkt_BOMIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                    <li><a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Fabrications</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/Mkt_BOMSlaveFabric"><i class="fa fa-share"></i> In Progress</a></li>
                                    @*<li>@*<a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>*@

                                </ul>
                            </li>
                            <li class="header">Purchase Orders and Tracking</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Purchase Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i>In Progress</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i>Store Settled</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>Payment Settled</a></li>
                                </ul>
                            </li>

                            <li class="header">Supplier Management</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Supplier</span>

                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Accounts/VmAcc_SupplierPHIndex"><i class="fa fa-share"></i> Supplier List</a></li>
                                    <li><a href="~/Accounts/PurchaseOrderListIndex"><i class="fa fa-share"></i>PO In Progress</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>PO Payment Settled</a></li>

                                </ul>
                            </li>

                                <li class="header">Raw Material Store Management</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Purchase Orders</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i> PO in Progress</a></li>
                                    <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> General PO</a></li>
                                    <li><a href="~/Store/PurchaseOrderReceive"><i class="fa fa-share"></i> Stock In</a></li>
                                    <li><a href="~/Store/PurchaseOrderDeliver"><i class="fa fa-share"></i> Stock Out(BOM)</a></li>
                                    <li><a href="~/Store/VmGeneral_StockOut"><i class="fa fa-share"></i> Stock Out(General)</a></li>
                                    <li><a href="~/Store/PurchaseOrderDeliverREQ"><i class="fa fa-share"></i> Requisition</a></li>
                                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i> Settled</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Item</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Accounts/InventoryView"><i class="fa fa-share"></i> Inventory</a></li>
                                    <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i> Item List</a></li>
                                    <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                    <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Production Status</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i>Schedule Order</a></li>
                                    @*<li><a href="#"><i class="fa fa-share"></i> Receive Goods</a></li>
                                        <li><a href="#"><i class="fa fa-share"></i> Send Goods</a></li>*@
                                </ul>
                            </li>
                            <li class="header">System Admin & Security Management</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>User</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a href="~/User/VmUser_UserIndex"><i class="fa fa-share"></i> User List</a></li>
                                    <li><a href="~/User/VmUser_RoleIndex"><i class="fa fa-share"></i> User Role</a></li>

                                </ul>
                            </li>

                            <li class="header">Commercial & LC Management</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>L/C</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                                        <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial Master L/C</a></li>
                                        <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial B2B L/C</a></li>

                                        @*<li><a href="~/Commercial/VmCommercial__MasterLCDocsIndex"><i class="fa fa-share"></i>Commercial__MasterLCDocs</a></li>*@
                                    </ul>

                                </li>

                            @*<li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Accessories Status</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Store/PurchaseOrderReady"><i class="fa fa-share"></i> View</a></li>
                                    </ul>
                                </li>*@
                            <li class="header">Production Planning</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Undone</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i>Total Planning(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Daliy Planning(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Cutting(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Making(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>QC(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Send to Finish Store(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Daily Outcome (UD)</a></li>
                                  </ul>
                            </li>
                            <li class="header">Production Managment</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Production</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                 </ul>
                            </li>




                            <li class="header">Quality Assurance System</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Quality Assurance(UD)</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                </ul>
                            </li>
                            <li class="header">Intermediate & Finish Goods Store</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Finish Goods</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i>  Stock In(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>  Shipment(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>  Stock Information(UD)</a></li>

                                </ul>
                            </li>

                            <li class="header">Shipment Management System</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Shipment Management(UD) </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                </ul>
                            </li>
                            <li class="header">Accounting System</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Accounting </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Account type</a></li>
                                    <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i>  Chart1</a></li>
                                    <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i>  Chart2</a></li>
                                    <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Account Name</a></li>
                                    <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i>  Journal</a></li>
                                    <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>


                                </ul>
                            </li>


                            <li class="header">Mantenance & Utility Managment</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Utility</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> Stock In(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Stock Out(UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Requisition(UD)</a></li>
                                </ul>
                            </li>

                            <li class="header">Management Information System</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>MIS</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                </ul>
                            </li>
                            <li class="header">Common Settings</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Settings</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a href="~/Marketing/VmMkt_BuyerIndex"><i class="fa fa-share"></i> Listed Buyers</a></li>
                                    <li><a href="~/Common/VmCommon_SupplierIndex"><i class="fa fa-share"></i> Listed Suppliers</a></li>
                                    <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Listed Currency</a></li>
                                    <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Units</a></li>
                                    <li><a href="~/Marketing/VmMkt_ItemIndex"><i class="fa fa-share"></i> Items</a></li>
                                    <li><a href="~/Marketing/VmMkt_SubCategoryIndex"><i class="fa fa-share"></i>Subcategories</a></li>
                                    <li><a href="~/Marketing/VmMkt_CategoryIndex"><i class="fa fa-share"></i> Categories</a></li>
                                    <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial Bank</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i>Production Line</a></li>


                                </ul>
                            </li>
                            <li class="header">UnDone</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Production Status</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> Request Goods</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> Priority Demand</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Received Goods</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Returned Goods</a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Expenses</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Expenses Cat1</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Accounting</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a href="#"><i class="fa fa-share"></i> Chart of A/C</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> Ledger</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Journal</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Income Statement</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Tail Balance</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Balance Sheet</a></li>
                                </ul>
                            </li>




                            <li class="header">Commercial</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>L/C </span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> Active</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> In Transit</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Records</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>B2B L/C</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-share"></i> Received PI</a></li>

                                    <li><a href="#"><i class="fa fa-share"></i> Opened L/C</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Acceptance Given</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Matured</a></li>
                                    <li><a href="#"><i class="fa fa-share"></i> Records</a></li>
                                </ul>
                            </li>


                            <li class="header">Attributes</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>General Setting</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">

                                    <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Listed Currency</a></li>
                                    <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Unit</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Merchendising Items</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">

                                    <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Item</a></li>
                                    <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                    <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>Store Setting</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>

                                <ul class="treeview-menu">
                                    <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Item</a></li>

                                    <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                    <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                </ul>
                            </li>



                            <li class="header">Sumaya</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Sumaya </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Acc_type</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i> Acc_Chart1</a></li>
                                        <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i> Acc_Chart2</a></li>
                                        <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Acc_AcName</a></li>
                                        <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i> Acc_Journal</a></li>
                                        <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>


                                    </ul>
                                </li>

                                <li class="header">Ayesha</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Ayesha</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                                        <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial_MasterLC</a></li>
                                        <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial_B2bLC</a></li>
                                        <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial_Bank</a></li>

                                        @*<li><a href="~/Commercial/VmCommercial__MasterLCDocsIndex"><i class="fa fa-share"></i>Commercial__MasterLCDocs</a></li>*@
                                    </ul>

                                </li>

                                <li class="header">Emran</li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>Emran </span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Production/VmProd_StatusIndex"><i class="fa fa-share"></i> Production Status</a></li>
                                        <li><a href="~/Production/VmProd_OrderStatusIndex"><i class="fa fa-share"></i> Order Status</a></li>
                                    </ul>
                                </li>

                        }
                    }
                </ul>

            </section>

            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>
    </div>
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->

    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/dist/js/app.min.js")
    @Scripts.Render("~/dist/js/demo.js")
    @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/plugins/chartjs/Chart.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.pie.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.categories.min.js")



    <script>
        $(function () {
            $("#example1").DataTable();

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });

            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});
            //Red color scheme for iCheck
            //$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            //    checkboxClass: 'icheckbox_minimal-red',
            //    radioClass: 'iradio_minimal-red'
            //});
            //Flat red color scheme for iCheck
            //$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            //    checkboxClass: 'icheckbox_flat-green',
            //    radioClass: 'iradio_flat-green'
            //});
            $(function () {
                /*
                 * BAR CHART
                 * ---------
                 */
                var bar_data = {
                    data: [["January", 20], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9]],
                    color: "#3c8dbc"
                };
                $.plot("#bar-chart", [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: "#f3f3f3",
                        tickColor: "#f3f3f3"
                    },
                    series: {
                        bars: {
                            show: true,
                            barWidth: 0.3,
                            align: "center"
                        }
                    },
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    }
                });
            })
        });
    </script>
</body>

</html>
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    }
                });
            })
        });
    </script>
</body>

</html>