﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Oss.Romo
    </title>
    <link rel="shortcut icon" href="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/OssStyle.css")
    @Styles.Render("~/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/dataTables.bootstrap.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/plugins/iCheck/square/blue.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#"></a>
            <a href="~/Home/Index" class="logo">
                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                @{
                                    Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
                                    if (u != null)
                                    {
                                        if (MvcApplication.IsReleased)
                                        {

                                            if (Session["One"] == null)
                                            {
                                                Response.Redirect("~/Home");
                                            }

                                            string greeting = DateTime.Now.TimeOfDay.ToString();
                                            greeting = greeting.Substring(0, 2);
                                            int greet = 0;
                                            int.TryParse(greeting, out greet);
                                            if (greet >= 0 && greet < 12)
                                            {
                                                greeting = "Good Morning. ";
                                            }
                                            else if (greet >= 12 && greet < 18)
                                            {
                                                greeting = "Good Afternoon. ";
                                            }
                                            else
                                            {
                                                greeting = "Good Evening. ";
                                            }
                                            <span class="hidden-xs">@greeting! @u.User_User.Name.ToUpper()</span>
                                        }
                                        else
                                        {
                                            <span class="hidden-xs">Hi! @u.User_User.Name.ToUpper()</span>
                                        }
                                    }
                                    else
                                    {
                                        Response.Redirect("~/Home/Login");
                                    }

                                }
                            </a>
                            <ul style="border:1px solid #3c8dbc" class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Home/SignOut" class="btn btn-success btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="~/Home/Index">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("VmMis_DashboardIndex", "MisDashboard")">
                            <i class="fa fa-dashboard"></i> <span>MIS Dashboard</span>
                        </a>
                    </li>
                    <li class="header"> User Menu </li>
                    @{


                        var MenuC1 = HttpContext.Current.Session["Menu1"];
                        var MenuC2 = HttpContext.Current.Session["Menu2"];
                        var MenuC3 = HttpContext.Current.Session["Menu3"];
                        var MenuC4 = HttpContext.Current.Session["Menu4"];
                        var MenuC5 = HttpContext.Current.Session["Menu5"];
                        var MenuC6 = HttpContext.Current.Session["Menu6"];
                        var MenuC7 = HttpContext.Current.Session["Menu7"];
                        var MenuC8 = HttpContext.Current.Session["Menu8"];
                        var MenuC9 = HttpContext.Current.Session["Menu9"];
                        var MenuC10 = HttpContext.Current.Session["Menu10"];


                        string Menu = MenuC1.ToString().ToLower() + MenuC2.ToString().ToLower() + MenuC3.ToString().ToLower() + MenuC4.ToString().ToLower() + MenuC5.ToString().ToLower() + MenuC6.ToString().ToLower() + MenuC7.ToString().ToLower() + MenuC8.ToString().ToLower() + MenuC9.ToString().ToLower() + MenuC10.ToString().ToLower();


                        //string Menu = MenuC1["Menu1"].ToLower() + MenuC2["Menu2"].ToLower()
                        //                                      + MenuC3["Menu3"].ToLower() + MenuC4["Menu4"].ToLower() + MenuC5["Menu5"].ToLower()
                        //            + MenuC6["Menu6"].ToLower() + MenuC7["Menu7"].ToLower() + MenuC8["Menu8"].ToLower()
                        //            + MenuC9["Menu9"].ToLower() + MenuC10["Menu10"].ToLower();
                        string TopMenu = "", SubMenu = "", Menuitem = "", Method = "";

                        while (Menu.Length > 1)
                        {
                            TopMenu = Menu.Substring(1, Menu.IndexOf("$", StringComparison.Ordinal) - 1);

                            Menu = Menu.Substring(@TopMenu.Length + 1, Menu.Length - @TopMenu.Length - 1);

                            while (Menu.Substring(0, 1) == "$")
                            {
                                SubMenu = Menu.Substring(1, Menu.IndexOf("#", StringComparison.Ordinal) - 1);
                                Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        @while (Menu.Substring(0, 1) == "#")
                                        {
                                            Menuitem = Menu.Substring(1, Menu.IndexOf("|", StringComparison.Ordinal) - 1);
                                            Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                                            Method = Menu.Substring(1, Menu.IndexOf("^", StringComparison.Ordinal) - 1);
                                            Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                                            <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }

                </ul>

            </section>

            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>
    </div>
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->

    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/dist/js/app.min.js")
    @Scripts.Render("~/dist/js/demo.js")
    @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/plugins/chartjs/Chart.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.pie.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.categories.min.js")

    @Scripts.Render("~/dist/js/adminlte.min.js")
    @Scripts.Render("~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")
    @Scripts.Render("~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/bower_components/Chart.js/Chart.js")
    @Scripts.Render("~/dist/js/pages/dashboard2.js")
    @Scripts.Render("~/dist/js/demo.js")

    <script>
        $(function () {
            $("#example1").DataTable();
            var table = $('#DataTable2').DataTable({

            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });

            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});
            //Red color scheme for iCheck
            //$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            //    checkboxClass: 'icheckbox_minimal-red',
            //    radioClass: 'iradio_minimal-red'
            //});
            //Flat red color scheme for iCheck
            //$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            //    checkboxClass: 'icheckbox_flat-green',
            //    radioClass: 'iradio_flat-green'
            //});
            $(function () {
                /*
                 * BAR CHART
                 * ---------
                 */
                var bar_data = {
                    data: [["January", 20], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9]],
                    color: "#3c8dbc"
                };
                $.plot("#bar-chart", [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: "#f3f3f3",
                        tickColor: "#f3f3f3"
                    },
                    series: {
                        bars: {
                            show: true,
                            barWidth: 0.3,
                            align: "center"
                        }
                    },
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    }
                });
            })
        });
    </script>
</body>

</html>