﻿@using Oss.Romo.ViewModels.Common
@using Oss.Romo.ViewModels.MisDashboard
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/OssStyle.css")
    @Styles.Render("~/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/css/buttons.bootstrap.min.css")
    @Styles.Render("~/plugins/iCheck/square/blue.css")
    @Styles.Render("~/plugins/SweetAlert/dist/sweetalert.css")
   
    @*@Styles.Render("~/plugins/pnotify/dist/pnotify.css")
        @Styles.Render("~/plugins/pnotify/dist/pnotify.buttons.css")
        @Styles.Render("~/plugins/pnotify/dist/pnotify.nonblock.css")*@
    @*@Styles.Render("~/plugins/datatables/extensions/FixedHeader/css/dataTables.fixedHeader.min.css")*@
    @Styles.Render("~/plugins/jqChart/jquery.jqChart.css")
    <link href="~/Content/Bower/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/Bower/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">



    @Html.Partial("_FlashMessage")

    @{
        Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
    }
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">
                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                            @{
                                VmControllerHelper vmControllerHelper = new VmControllerHelper();
                                var UserName = vmControllerHelper.GetCurrentUser().User_User.Name;
                                if (UserName.Equals("MIS"))
                                {
                                    VmNotifier vmNotifier = new VmNotifier();
                                    vmNotifier.NotifyCount();

                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-warning">@vmNotifier.TotalNotifyCounter</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">You have @vmNotifier.TotalNotifyCounter notifications</li>
                                        <li>
                                            <!-- inner menu: contains the actual data -->
                                            <ul class="menu">
                                                @foreach (var item in vmNotifier.DataList)
                                                {
                                                    var link = "#";
                                                    if (item.NotifyLink == "cheque")
                                                    {
                                                        link = "?type=cheque";
                                                    }
                                                    else if (item.NotifyLink == "lcopen")
                                                    {
                                                        link = "?type=lcopen";
                                                    }
                                                    else if (item.NotifyLink == "lcpayment")
                                                    {
                                                        link = "?type=lcpayment";
                                                    }

                                                    <li>
                                                        <a href="@link">
                                                            <i class="fa fa-users text-aqua"></i> @item.NotifyName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="@Url.Action("Notifier","MisDashboard")">View all</a></li>
                                    </ul>
                                </li>
                                }
                            }
                            
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    @{
                                        if (u != null)
                                        {
                                            if (MvcApplication.IsReleased)
                                            {
                                                if (Session["One"] == null)
                                                {
                                                    Response.Redirect("~/Home");
                                                }

                                                string greeting = DateTime.Now.TimeOfDay.ToString();
                                                greeting = greeting.Substring(0, 2);
                                                int greet = 0;
                                                int.TryParse(greeting, out greet);
                                                if (greet >= 0 && greet < 12)
                                                {
                                                    greeting = "Good Morning. ";
                                                }
                                                else if (greet >= 12 && greet < 18)
                                                {
                                                    greeting = "Good Afternoon. ";
                                                }
                                                else
                                                {
                                                    greeting = "Good Evening. ";
                                                }
                                                <span class="hidden-xs">@greeting! @u.User_User.Name.ToUpper()</span>
                                            }
                                            else
                                            {
                                                <span class="hidden-xs">Hi! @u.User_User.Name.ToUpper()</span>
                                            }
                                        }
                                        else
                                        {
                                            Response.Redirect("~/Home/Login");
                                        }
                                    }
                                </a>
                                <ul style="border: 1px solid #3c8dbc" class="dropdown-menu">
                                    <!-- User image -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="~/Home/SignOut" class="btn btn-success btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="~/Home/Index">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        @*<li class="treeview">
                            <a href="@Url.Action("VmMis_DashboardIndex", "MisDashboard")">
                                <i class="fa fa-dashboard"></i> <span>MIS Dashboard</span>
                            </a>
                        </li>*@
                        <li class="header"> User Menu </li>
                        @{
                            var MenuC1 = HttpContext.Current.Session["Menu1"];
                            var MenuC2 = HttpContext.Current.Session["Menu2"];
                            var MenuC3 = HttpContext.Current.Session["Menu3"];
                            var MenuC4 = HttpContext.Current.Session["Menu4"];
                            var MenuC5 = HttpContext.Current.Session["Menu5"];
                            var MenuC6 = HttpContext.Current.Session["Menu6"];
                            var MenuC7 = HttpContext.Current.Session["Menu7"];
                            var MenuC8 = HttpContext.Current.Session["Menu8"];
                            var MenuC9 = HttpContext.Current.Session["Menu9"];
                            var MenuC10 = HttpContext.Current.Session["Menu10"];


                            string Menu = MenuC1.ToString().ToLower() + MenuC2.ToString().ToLower() + MenuC3.ToString().ToLower() + MenuC4.ToString().ToLower() + MenuC5.ToString().ToLower() + MenuC6.ToString().ToLower() + MenuC7.ToString().ToLower() + MenuC8.ToString().ToLower() + MenuC9.ToString().ToLower() + MenuC10.ToString().ToLower();


                            string TopMenu = "", SubMenu = "", Menuitem = "", Method = "";
                        }
                        @if (u.User_User.Name != "MIS")
                        {
                            while (Menu.Length > 1)
                            {

                                TopMenu = Menu.Substring(1, Menu.IndexOf("$") - 1);

                                Menu = Menu.Substring(@TopMenu.Length + 1, Menu.Length - @TopMenu.Length - 1);

                                while (Menu.Substring(0, 1) == "$")
                                {
                                    SubMenu = Menu.Substring(1, Menu.IndexOf("#") - 1);
                                    Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);


                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @while (Menu.Substring(0, 1) == "#")
                                            {
                                                Menuitem = Menu.Substring(1, Menu.IndexOf("|") - 1);
                                                Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                                                Method = Menu.Substring(1, Menu.IndexOf("^") - 1);
                                                Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                                                <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                                            }
                                        </ul>
                                    </li>
                                }


                            }

                        }
                        @{


                            if (u.User_User.Name == "MIS")
                            {

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa fa-th"></i> <span>MIS</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Mis/Mis1"><i class="fa fa-share"></i>AT A GLANCE</a></li>
                                        <li><a href="~/Mis/Mis2"><i class="fa fa-share"></i>UPDATES</a></li>
                                        <li><a href="~/Mis/Mis5"><i class="fa fa-share"></i>Production</a></li>
                                        <li><a href="~/common/ordersummaryviewindex"><i class="fa fa-share"></i>Order summary</a></li>
                                        <li><a href="~/Mis/Mis4"><i class="fa fa-share"></i>Graphical</a></li>
                                        <li><a href="~/Mis/Mis3"><i class="fa fa-share"></i>Graphical 2</a></li>
                                        <li><a href="~/marketing/yarnstatementledger"><i class="fa fa-share"></i>Yarn Statement</a></li>

                                    </ul>
                                </li>
                            }

                            @*if (!MvcApplication.IsReleased)
                                {


                                    <li class="header"> Knitting </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>MIS</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/MisDashboard/AtAGlance"><i class="fa fa-share"></i>At a Glance</a></li>
                                            <li><a href="~/MisDashboard/BuyerCreditors"><i class="fa fa-share"></i>Buyer Creditors</a></li>
                                            <li><a href="~/MisDashboard/BuyerDebtors"><i class="fa fa-share"></i>Buyer Debtors</a></li>
                                            <li><a href="~/MisDashboard/CategoryStock"><i class="fa fa-share"></i> Store Inventory</a></li>
                                            <li><a href="~/MisDashboard/AccessAllApplication"><i class="fa fa-share"></i>Important Access</a></li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Knitting</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Commercial/VmCommercial_InvoiceIndex"><i class="fa fa-share"></i>Commercial Invoice</a></li>
                                            <li><a href="~/Store/RequsitionPOReceive"><i class="fa fa-share"></i>General Stock In</a></li>
                                            <li><a href="~/store/categoryinventoryindex"><i class="fa fa-share"></i>Store Ledger</a></li>
                                            <li><a href="~/store/storeinventory"><i class="fa fa-share"></i> Store Inventory</a></li>
                                            <li><a href="~/store/orderwiseinventory"><i class="fa fa-share"></i> Order Inventory</a></li>
                                            <li><a href="~/Production/VmProd_TransitionItemInventoryIndex"><i class="fa fa-share"></i>Knitting Production</a></li>
                                            <li><a href="~/Production/RequisitonSend"><i class="fa fa-share"></i>Requisiton Send</a></li>
                                            <li><a href="~/Production/RequisitonRecieved"><i class="fa fa-share"></i>Requisiton Recieved</a></li>
                                            <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Requisiton</a></li>
                                            <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i>External Requisiton</a></li>
                                            <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>
                                            <li><a href="~/production/Raw_InternaleTransferSlaveView"><i class="fa fa-share"></i>Internale Transfer</a></li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Procurement</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>

                                        <ul class="treeview-menu">
                                            <li><a href="~/procurement/vmproc_requisitaionindex"><i class="fa fa-share"></i> Requsition</a></li>
                                            <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> Purchase Orders</a></li>

                                        </ul>

                                    </li>

                                    <li class="header"> Merchandising </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Orders & T&A</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/Common/OrderSummaryViewIndex"><i class="fa fa-share"></i>Order Summary</a></li>
                                            <li><a href="~/Planning/VmPlan_TimeAndActionNotification"><i class="fa fa-share"></i>T&A Notification</a></li>

                                            <li><a href="~/Common/VmCommon_TheOrderIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                            <li><a href="~/Common/VmCommon_TheOrderIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                            <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i> Plan Step</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Search</a></li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Bill Of Materials</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Marketing/VmMkt_BOMIndex"><i class="fa fa-share"></i> In Progress</a></li>
                                            <li><a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Fabrications</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Marketing/Mkt_BOMSlaveFabric"><i class="fa fa-share"></i> In Progress</a></li>

                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Purchase Orders & Tracking</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i>In Progress</a></li>
                                            <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i>Store Settled</a></li>
                                            <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>Payment Settled</a></li>
                                            <li><a href="~/Marketing/PurchaseOrdersAuthorization"><i class="fa fa-share"></i>To Authorize</a></li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Settings</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/Marketing/VmMkt_BuyerIndex"><i class="fa fa-share"></i>Create Buyers</a></li>
                                            <li><a href="~/Common/VmCommon_SupplierIndex"><i class="fa fa-share"></i> Create Suppliers</a></li>
                                            <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Create Currency</a></li>
                                            <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Create Units</a></li>
                                            <li><a href="~/Marketing/VmMkt_ItemIndex"><i class="fa fa-share"></i> Items</a></li>
                                            <li><a href="~/Marketing/VmMkt_SubCategoryIndex"><i class="fa fa-share"></i>Subcategories</a></li>
                                            <li><a href="~/Marketing/VmMkt_CategoryIndex"><i class="fa fa-share"></i> Categories</a></li>
                                            <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i>Raw Items</a></li>
                                            <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Raw Subcategories</a></li>
                                            <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i>Raw Categories</a></li>

                                            <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial Bank</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i>Production Line</a></li>

                                            <li><a href="~/Shipment/PortOfLoadingIndex"><i class="fa fa-share"></i>Shipment Port Of Loading</a></li>
                                            <li><a href="~/Shipment/PortOfDischargeIndex"><i class="fa fa-share"></i>Shipment Port Of Discharge</a></li>
                                            <li><a href="~/Shipment/VmTermsOfShipmentIndex"><i class="fa fa-share"></i>Terms Of Shipment</a></li>
                                        </ul>
                                    </li>
                                    <li class="header">Accounts </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Supplier Management</span>

                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Accounts/VmAcc_SupplierPHIndex"><i class="fa fa-share"></i>Create Supplier</a></li>
                                            <li><a href="~/Accounts/PurchaseOrderListIndex"><i class="fa fa-share"></i>PO In Progress</a></li>
                                            <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>PO Payment Settled</a></li>

                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Accounting System</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Account type</a></li>
                                            <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i> Chart1</a></li>
                                            <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i> Chart2</a></li>
                                            <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Account Name</a></li>
                                            <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i> Journal</a></li>
                                            <li><a href="~/Accounts/VmAcc_ChartOfAccountView"><i class="fa fa-share"></i> Chart Of Account</a></li>
                                            <li><a href="~/Accounts/VmAcc_TransactionIndex"><i class="fa fa-share"></i> Bank/Cash Withdraw/Deposit</a></li>
                                            <li><a href="~/Accounts/VmAcc_FinamizedTransactionIndex"><i class="fa fa-share"></i> Finalized Transaction</a></li>
                                            <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>
                                            <li><a href="~/Accounts/VmAcc_Income_HistoryIndex"><i class="fa fa-share"></i> Income</a></li>
                                            <li><a href="~/Accounts/VmAcc_Expenses_HistoryIndex"><i class="fa fa-share"></i> Expenses</a></li>
                                            <li><a href="~/Accounts/VmAcc_AccExportRealisationIndex"><i class="fa fa-share"></i> Export Bill Realisation</a></li>
                                            <li><a href="~/Accounts/SupplierBillIndex"><i class="fa fa-share"></i>Bill Entry</a></li>
                                            <li><a href="~/Accounts/NotifierStatus"><i class="fa fa-share"></i>Cheque & L/C Status</a></li>
                                            <li><a href="~/Accounts/Acc_DollarRate"><i class="fa fa-share"></i>Dollar Rate</a></li>
                                        </ul>
                                    </li>
                                    <li class="header"> Store Management</li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Store(BOM)</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i> PO in Progress</a></li>
                                            <li><a href="~/Store/PurchaseOrderReceive"><i class="fa fa-share"></i> Stock In</a></li>
                                            <li><a href="~/Store/PurchaseOrderDeliver"><i class="fa fa-share"></i> Stock Out(BOM)</a></li>
                                            <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i> Settled</a></li>
                                            <li><a href="~/Store/OrderWiseInventory"><i class="fa fa-share"></i> Inventory</a></li>
                                            <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Store</a></li>
                                            <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i> External Store</a></li>
                                            <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Store(General)</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Store/GeneralPurchaseOrderReceive"><i class="fa fa-share"></i> Stock In(General)</a></li>
                                            <li><a href="~/Store/VmGeneral_StockOut"><i class="fa fa-share"></i> Stock Out(General)</a></li>
                                            <li><a href="~/Store/PurchaseOrderDeliverREQ"><i class="fa fa-share"></i> Requisition</a></li>
                                            <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i> Store Requisition</a></li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Store Finish Goods</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="#"><i class="fa fa-share"></i> Stock In(UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Shipment(UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Stock Information(UD)</a></li>

                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Shipment Management System</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Settings</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                                            <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                                            <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i> Item List</a></li>
                                            <li><a href="~/Store/VmRaw_StoreIndex"><i class="fa fa-share"></i> Store Name</a></li>
                                        </ul>
                                    </li>


                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Store Inventory</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/Store/StoreInventory"><i class="fa fa-share"></i>Inventory</a></li>
                                            <li><a href="~/Store/CategoryInventoryIndex"><i class="fa fa-share"></i> Category Inventory</a></li>

                                        </ul>
                                    </li>

                                    <li class="header">Commercial</li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>L/C Management</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>

                                        <ul class="treeview-menu">
                                            <li><a href="~/Commercial/PurchaseOrdersWithoutBuyerOrder"><i class="fa fa-share"></i>PO List</a></li>
                                            <li><a href="~/Commercial/Yarnview"><i class="fa fa-share"></i>Yarn</a></li>
                                            <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                                            <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial Master L/C</a></li>
                                            <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial B2B L/C</a></li>
                                            <li><a href="~/Commercial/VmCommercial_UDIndex"><i class="fa fa-share"></i>UD</a></li>
                                            <li><a href="~/Commercial/VmCommercial_LCTypeIndex"><i class="fa fa-share"></i>L/C Type</a></li>
                                            <li><a href="~/Commercial/VmCommercial_BtBLCTypeIndex"><i class="fa fa-share"></i>BTB L/C Type</a></li>
                                            <li><a href="~/Commercial/VmCommercial_LCOreginIndex"><i class="fa fa-share"></i>L/C Oregin</a></li>
                                            <li><a href="~/Commercial/Commercial_BTBLCIndex"><i class="fa fa-share"></i>Local BTB L/C</a></li>
                                            <li><a href="~/Commercial/VmCommercial_BTBItemIndex"><i class="fa fa-share"></i> BTB Item</a></li>
                                            <li><a href="~/Shipment/VmShipment_UnloadingPortIndex"><i class="fa fa-share"></i> UnloadingPort</a></li>
                                            <li><a href="~/Shipment/VmCNFDelivaryChallan"><i class="fa fa-share"></i> CNF Challan</a></li>

                                        </ul>

                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Procurement</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>

                                        <ul class="treeview-menu">
                                            <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> General PO</a></li>

                                        </ul>

                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Shipment Management System</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                                            <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                                            <li><a href="~/Shipment/ShipmentScheduleIndex"><i class="fa fa-share"></i> Shipment Deliverd Schedule</a></li>
                                            <li><a href="~/Shipment/ShipmentInfoList"><i class="fa fa-share"></i> Shipment Info List</a></li>
                                            <li><a href="~/Shipment/ShipmentAlertIndex"><i class="fa fa-share"></i> Shipment Alert</a></li>
                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Mantenance & Utility Managment</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i> Stock In(UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Stock Out(UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Requisition(UD)</a></li>
                                        </ul>
                                    </li>


                                    <li class="header">Production</li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Production & Planning </span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Production/VmProd_PlanReferenceIndex"><i class="fa fa-share"></i>Planning</a></li>
                                            <li><a href="~/Production/VmProd_PlanReferenceView"><i class="fa fa-share"></i>Daily Planing</a></li>
                                            <li><a href="~/Production/Vm_Prod_PlanReferenceProductionStepProgress"><i class="fa fa-share"></i>Current Production Status</a></li>
                                            <li><a href="~/Production/VmProd_PlanReferenceProductionView/30"><i class="fa fa-share"></i>CUTTING</a></li>
                                            <li><a href="~/Production/VmProd_PlanReferenceProductionView/32"><i class="fa fa-share"></i>SEWING</a></li>
                                            <li><a href="~/Procurement/VmProc_RequisitaionIndex"><i class="fa fa-share"></i> Production Requisition</a></li>
                                            <li><a href="~/Production/RequisitonSend"><i class="fa fa-share"></i>Requisiton Send</a></li>
                                            <li><a href="~/Production/RequisitonRecieved"><i class="fa fa-share"></i>Requisiton Recieved</a></li>
                                            <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Store</a></li>
                                            <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i>External Store</a></li>
                                            <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>
                                            <li><a href="~/production/Raw_InternaleTransferSlaveView"><i class="fa fa-share"></i>Internale Transfer</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Inventory</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Reports</a></li>
                                            <li><a href="~/Production/VmPlan_ProductionLineIndex"><i class="fa fa-share"></i>Production Line</a></li>
                                            <li><a href="~/Production/VmProd_MonthlyOrderMc"><i class="fa fa-share"></i>Production Order MC</a></li>
                                            <li><a href="~/Production/VmProd_TransitionItemInventoryIndex"><i class="fa fa-share"></i>Transition Item</a></li>
                                            <li><a href="~/Production/VmPlanProductionLineRunningIndex"><i class="fa fa-share"></i>Production Progress</a></li>
                                            <li><a href="~/Production/VmPlanProductionReportOrderWise"><i class="fa fa-share"></i>Production Report Order Wise</a></li>
                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Settings</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">


                                            <li><a href="~/Production/VmProd_SVNameIndex"><i class="fa fa-share"></i>Supervisor</a></li>
                                            <li><a href="~/Production/VmProd_LineChiefIndex"><i class="fa fa-share"></i>Line Chief</a></li>
                                            <li><a href="~/Production/VmPlan_OrderProcessIndex"><i class="fa fa-share"></i>Production Step</a></li>
                                            <li><a href="~/Planning/VmPlan_OrderProcessCategoryIndex"><i class="fa fa-share"></i>Plan Order Process Category</a></li>
                                            <li><a href="~/Production/VmProd_MachineTypeIndex"><i class="fa fa-share"></i>Machine Type</a></li>
                                            <li><a href="~/Production/VmProd_MachineIndex"><i class="fa fa-share"></i>Machine</a></li>
                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Production Management</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i> Production Requisition</a></li>
                                            <li><a href="~/Production/VmProd_StatusIndex"><i class="fa fa-share"></i> Production Status(UD)</a></li>
                                            <li><a href="~/Production/VmProd_OrderStatusIndex"><i class="fa fa-share"></i>Production Order Status UD</a></li>
                                            <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i>Send to Finish Store(UD)</a></li>

                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Quality Assurance System</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i>UD</a></li>

                                            <li><a href="#"><i class="fa fa-share"></i>UD</a></li>

                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Production Finish Goods</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i> Stock In(UnDone)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Shipment(UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> Stock Information(UD)</a></li>

                                        </ul>
                                    </li>





                                    <li class="header">Security & Romo Management</li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>Management Information System</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                            <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                                        </ul>
                                    </li>

                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>System Admin & Security Management</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/User/VmUser_UserIndex"><i class="fa fa-share"></i> User List</a></li>
                                            <li><a href="~/User/VmUser_RoleIndex"><i class="fa fa-share"></i> User Role</a></li>
                                            <li><a href="~/User/VmUser_MenuItemIndex"><i class="fa fa-share"></i> User Menu</a></li>

                                        </ul>
                                    </li>
                                    <li class="header">Procurement</li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa fa-th"></i> <span>procurement</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">

                                            <li><a href="~/Procurement/VmProc_RequisitaionIndex"><i class="fa fa-share"></i>In Progress</a></li>
                                            <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i>Purchase Order</a></li>


                                        </ul>
                                    </li>

                                }*@



                        }
                    </ul>

                </section>
                <!-- /.sidebar -->
            </aside>

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    @RenderBody()
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.3.6
                </div>
                <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
            </footer>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
        @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
        @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
        @Scripts.Render("~/plugins/jQuery/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
        @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
        @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
        @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
        @Scripts.Render("~/plugins/jQuery/jquery.validate.min.js")
        @Scripts.Render("~/plugins/jQuery/jquery.validate.unobtrusive.min.js")

        @Scripts.Render("~/plugins/fastclick/fastclick.js")
        @Scripts.Render("~/dist/js/app.min.js")
        @Scripts.Render("~/dist/js/demo.js")
        @Scripts.Render("~/Content/Bower/moment.js")
        @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")
        @Scripts.Render("~/plugins/iCheck/icheck.min.js")
        @*@Scripts.Render("~/plugins/chartjs/Chart.min.js")*@
        @Styles.Render("~/plugins/select2/select2.min.css")
        @Scripts.Render("~/plugins/select2/select2.full.min.js")
        @Scripts.Render("~/plugins/jqChart/jquery.jqChart.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/dataTables.buttons.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.bootstrap.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.html5.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.10/JSZip-2.5.0/jszip.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.12/DataTables-1.10.12/extensions/Buttons/js/buttons.print.min.js")
        @*@Scripts.Render("~/plugins/datatables/v1.10.10/pdfmake-0.1.18/build/pdfmake.min.js")
        @Scripts.Render("~/plugins/datatables/v1.10.10/pdfmake-0.1.18/build/vfs_fonts.js")*@
        @Scripts.Render("~/plugins/SweetAlert/dist/sweetalert.min.js")
      @Scripts.Render("//cdn.datatables.net/plug-ins/1.10.19/api/sum().js")

    
        @*@Styles.Render("~/plugins/pnotify/dist/pnotify.js")
            @Styles.Render("~/plugins/pnotify/dist/pnotify.buttons.js")
            @Styles.Render("~/plugins/pnotify/dist/pnotify.nonblock.js")*@

        <script>
            $(function () {
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                })
                $(document).ready(function () {

                    var table = $('#example1').DataTable({
                        //"scrollX": true,
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape'
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ]
                        // fixedColumns: true
                        // "scrollY": "555px",
                        //"scrollX": true,

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


                    });

                    var table = $('.example1').DataTable({
                        //"scrollX": true,
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],

                        // "scrollY": "555px",
                        //"scrollX": true,

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


                    });
                    var table = $('#example2').DataTable({
                        //"scrollX": true,
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],

                        // "scrollY": "555px",
                        //"scrollX": true,

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


                    });

                    var table = $('#example').DataTable({
                        //"scrollX": true,
                        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],

                        "scrollY": "555px",
                        "scrollX": true,

                        //   "fixedHeader": {
                        //    "header": true,
                        //    "footer": false
                        //},
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


                    });

                    var table = $('#DataTable2').DataTable({
                        sDom: '<"pull-left mrg25B"B><"pull-right"f>rtip',
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                orientation: 'landscape',
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>&nbsp;Print',
                                orientation: 'landscape',
                                autoPrint: true,
                                //exportOptions: {
                                //    columns: [0, 1, 2, 3, 4, 5]
                                //}
                            }
                        ],
                        "bPaginate": false,
                        fixedHeader: true

                    });

                    $(".SerchingDropDown").select2();
                });

                $('.calendarControl').datepicker({
                    autoclose: true,
                    format: "yyyy/m/d"
                });
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });


                $('#tblcheque').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
                $('#tblLc').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
                $('#tblDoc').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });

                $('#tblataglace').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });

                $('#tblsupplierpayable').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
                $('#tblbuyerrecivable').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });

                //$('#tbataglance').DataTable({
                //    "paging": true,
                //    "lengthChange": false,
                //    "searching": true,
                //    "ordering": true,
                //    "info": true,
                //    "autoWidth": true
                //});

                //$(document).ready(function () {
                //    var table = $('#example').DataTable({
                //        fixedHeader: {
                //            header: true,
                //            footer: true
                //        }
                //    });
                //});

                //iCheck for checkbox and radio inputs
                //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                //    checkboxClass: 'icheckbox_minimal-blue',
                //    radioClass: 'iradio_minimal-blue'
                //});
                //Red color scheme for iCheck
                //$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                //    checkboxClass: 'icheckbox_minimal-red',
                //    radioClass: 'iradio_minimal-red'
                //});
                //Flat red color scheme for iCheck
                //$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                //    checkboxClass: 'icheckbox_flat-green',
                //    radioClass: 'iradio_flat-green'
                //});


            });
        </script>

    <script type="text/javascript">

    $('#tableAccountName tfoot th').each(function () {
        var title = $(this).text();
        var index = $(this).index();
        if (index > 0 && index < 5) {
            $(this).html('<input type="text" style="width:100%" />');
        }
        
    });


    var table = $('#tableAccountName').DataTable({
        drawCallback: function () {
            var api = this.api();
           
            $("#TotalCurrentBalance").text(api.column(5, { page: 'current' }).data().sum())
            //$(api.table().footer()).html(
             
            //);
        },
        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
        buttons: [
        {
            extend: 'copyHtml5',
            text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
            orientation: 'landscape'
            //exportOptions: {
            // columns: [0, 1, 2, 3, 4, 5]
            //}
        },
        {
            extend: 'csvHtml5',
            text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
            orientation: 'landscape'
            //exportOptions: {
            // columns: [0, 1, 2, 3, 4, 5]
            //}
        },
        {
            extend: 'print',
            text: '<i class="fa fa-print"></i>&nbsp;Print',
            orientation: 'landscape',
            autoPrint: true
            //exportOptions: {
            // columns: [0, 1, 2, 3, 4, 5]
            //}
        }
        ]
        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']

    });
    table.columns().every(function () {
        var that = this;

        $('input', this.footer()).on('keyup change',
        function () {
            if (that.search() !== this.value) {
                that
                .search(this.value)
                .draw();
            }
        });
    });

     $('#mktBomTable').DataTable({
         //"scrollX": true,
         drawCallback: function () {
             var api = this.api();

             $("#TotalBomSlave").text(api.column(7, { page: 'current' }).data().sum())
             //$(api.table().footer()).html(

             //);
         },
        sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
        buttons: [
            {
                extend: 'copyHtml5',
                text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                orientation: 'landscape',
                //exportOptions: {
                //    columns: [0, 1, 2, 3, 4, 5]
                //}
            },
            {
                extend: 'csvHtml5',
                text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                orientation: 'landscape',
                //exportOptions: {
                //    columns: [0, 1, 2, 3, 4, 5]
                //}
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i>&nbsp;Print',
                orientation: 'landscape',
                autoPrint: true,
                //exportOptions: {
                //    columns: [0, 1, 2, 3, 4, 5]
                //}
            }
        ],

        // "scrollY": "555px",
        //"scrollX": true,

        //   "fixedHeader": {
        //    "header": true,
        //    "footer": false
        //},
        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']


    });
    </script>


        @*<script>
              $(document).ready(function() {
                new PNotify({
                  title: "PNotify",
                  type: "info",
                  text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
                  nonblock: {
                      nonblock: true
                  },
                  addclass: 'dark',
                  styling: 'bootstrap3',
                  hide: false,
                  before_close: function(PNotify) {
                    PNotify.update({
                      title: PNotify.options.title + " - Enjoy your Stay",
                      before_close: null
                    });

                    PNotify.queueRemove();

                    return false;
                  }
                });

              });
            </script>*@
        <!-- /PNotify -->
        <!-- Custom Notification -->
        @*<script>
              $(document).ready(function() {
                var cnt = 10;

                TabbedNotification = function(options) {
                  var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title +
                    "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

                  if (!document.getElementById('custom_notifications')) {
                    alert('doesnt exists');
                  } else {
                    $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
                    $('#custom_notifications #notif-group').append(message);
                    cnt++;
                    CustomTabs(options);
                  }
                };

                CustomTabs = function(options) {
                  $('.tabbed_notifications > div').hide();
                  $('.tabbed_notifications > div:first-of-type').show();
                  $('#custom_notifications').removeClass('dsp_none');
                  $('.notifications a').click(function(e) {
                    e.preventDefault();
                    var $this = $(this),
                      tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
                      others = $this.closest('li').siblings().children('a'),
                      target = $this.attr('href');
                    others.removeClass('active');
                    $this.addClass('active');
                    $(tabbed_notifications).children('div').hide();
                    $(target).show();
                  });
                };

                CustomTabs();

                var tabid = idname = '';

                $(document).on('click', '.notification_close', function(e) {
                  idname = $(this).parent().parent().attr("id");
                  tabid = idname.substr(-2);
                  $('#ntf' + tabid).remove();
                  $('#ntlink' + tabid).parent().remove();
                  $('.notifications a').first().addClass('active');
                  $('#notif-group div').first().css('display', 'block');
                });
              });
            </script>*@





    </body>

</html>
<style>
    /*.selected {
        background-color: lightseagreen;
        color: #000 !important;
    }*/
    .clearfix {
        padding-bottom: 20px;
    }
</style>

@*<script>

            $(document).ready(function () {
                var url = window.location.href;

                $(".treeview-menu a").each(function () {
                    if (url == (this.href)) {
                        $(this).addClass("selected");
                        $(this).parents().addClass("menu-open");
                        // $('.treeview').addClass('active');
                        $('.menu-open').css('display', 'block');
                    }
                });
            });
    </script>*@
