﻿<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Assets/plugins/iCheck/square/blue.css")
    @Scripts.Render("~/Assets/plugins/iCheck/icheck.min.js")

    @Styles.Render("~/Assets/plugins/datepicker/datepicker3.css")
    @Scripts.Render("~/Assets/plugins/moment/moment.min.js")
    @Scripts.Render("~/Assets/plugins/datepicker/bootstrap-datepicker.js")
    @*@Styles.Render("~/Assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")*@
    @*@Scripts.Render("~/Assets/bower_components/moment/min/moment.min.js")*@
   
    @*@Scripts.Render("~/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")*@
</head>
<body>
    <div>
        <div class="modal-header">
            <h5 class="modal-title">@ViewBag.ModalTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @RenderBody()
    </div>
    <script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
    </script>
    <script>
        //$('form').submit(function(){
        //    // On submit disable its submit button
        //    $('input[type=submit]', this).attr('disabled', 'disabled');
        //});
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });

        $(document).ready(function () {
            $('.calendarControl').datepicker({
                autoclose: true,
                format: "yyyy/m/d"
            });
            //$(".SerchingDropDown").select2();
            $(".SerchingDropDown").select2();
            $.ui.dialog.prototype._allowInteraction = function (e) {
                return true;
            };


            $('.myselect2').select2();
            $("select").on("select2:close", function (e) {
                $(this).valid();
            });


            //Date picker
            //$('#DOB').datepicker();
            $('[data-datetimepicker-startdate]').datetimepicker({
                //minDate: currentDate,
                format: 'MM-DD-YYYY'
                //format: 'YYYY-MM-DD'
            }).on('dp.change',
                function(ev) {
                    // $('#date-daily').change();
                    var date = ev.date._d;
                    // $('[data-datetimepicker-endate]').data("DateTimePicker").minDate(ev.date);
                    // var date = moment(val).format('DD MMMM YYYY') + ' (' + moment(val).fromNow() + ')';
                    var stdate = moment(date).format('MM/DD/YYYY');
                    //$("#hidStartdate").val(stdate);
                    var elemId = $(this).attr('data-startdate-model');
                    $("#" + elemId).val(stdate);
                });



        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$(".btncancelConfirm").click(function (e) {
        //    $("#dialog-confirm").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-edit3").dialog("close");
        //    return false;
        //})
        //$(".btncancelBtB").click(function (e) {
        //    $("#dialog-editBtB").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-editBtB").dialog("close");
        //    return false;
        //})

        //$(".btncancel").click(function (e) {
        //    $("#dialog-Authorize").dialog('close');
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-access-control").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-Password-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-edit-Details").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-active-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-active-edit").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-user-Create").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#Requisition-Item-Create").dialog("close");
        //    return false;
        //})

        //$(".btncancelAuthorizePO").click(function (e) {
        //    $("#dialog-Authorize").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-LedgerOne").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-b2bpayment").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lock").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lnkAddMPlan").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-lnkDailyOutcome").dialog("close");
        //    return false;
        //})
        //$(".btncancel").click(function (e) {
        //    $("#dialog-unAuthorize").dialog("close");
        //    return false;
        //})
    </script>

</body>
</html>


