﻿<!DOCTYPE html>
<html>
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Oss.Romo
    </title>
    <link rel="shortcut icon" href="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/OssStyle.css")
    @Styles.Render("~/bootstrap/css/bootstrapLine.css")
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/dataTables.bootstrap.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/plugins/iCheck/square/blue.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#"></a>
            <a href="~/Home/Index" class="logo">
                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                @{
                                    Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];
                                    if (u != null)
                                    {
                                        if (u.User_User.Photo != null)
                                        {
                                            <img src="@Url.Content(u.User_User.Photo)" class="user-image" alt="User Image">
                                        }


                                        if (MvcApplication.IsReleased)
                                        {

                                            if (Session["One"] == null)
                                            {
                                                Response.Redirect("~/Home");
                                            }

                                            string greeting = DateTime.Now.TimeOfDay.ToString();
                                            greeting = greeting.Substring(0, 2);
                                            int greet = 0;
                                            int.TryParse(greeting, out greet);
                                            if (greet >= 0 && greet < 12)
                                            {
                                                greeting = "Good Morning. ";
                                            }
                                            else if (greet >= 12 && greet < 18)
                                            {
                                                greeting = "Good Afternoon. ";
                                            }
                                            else
                                            {
                                                greeting = "Good Evening. ";
                                            }
                                            <span class="hidden-xs">@greeting! @u.User_User.Name.ToUpper()</span>
                                        }
                                        else
                                        {
                                            <span class="hidden-xs">Hi! @u.User_User.Name.ToUpper()</span>
                                        }
                                    }
                                    else
                                    {
                                        Response.Redirect("~/Home/Login");
                                    }

                                }
                            </a>
                            <ul style="border:1px solid #3c8dbc" class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/user/commonprofile" class="btn btn-success btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Home/SignOut" class="btn btn-success btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="~/Home/Index">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="header"> User Menu </li>
                @{


                    var MenuC1 = HttpContext.Current.Session["Menu1"];
                    var MenuC2 = HttpContext.Current.Session["Menu2"];
                    var MenuC3 = HttpContext.Current.Session["Menu3"];
                    var MenuC4 = HttpContext.Current.Session["Menu4"];
                    var MenuC5 = HttpContext.Current.Session["Menu5"];
                    var MenuC6 = HttpContext.Current.Session["Menu6"];
                    var MenuC7 = HttpContext.Current.Session["Menu7"];
                    var MenuC8 = HttpContext.Current.Session["Menu8"];
                    var MenuC9 = HttpContext.Current.Session["Menu9"];
                    var MenuC10 = HttpContext.Current.Session["Menu10"];
                    

                    string Menu = MenuC1.ToString().ToLower() + MenuC2.ToString().ToLower() + MenuC3.ToString().ToLower() + MenuC4.ToString().ToLower() + MenuC5.ToString().ToLower() + MenuC6.ToString().ToLower() + MenuC7.ToString().ToLower() + MenuC8.ToString().ToLower() + MenuC9.ToString().ToLower() + MenuC10.ToString().ToLower();


                    //string Menu = MenuC1["Menu1"].ToLower() + MenuC2["Menu2"].ToLower()
                    //                                      + MenuC3["Menu3"].ToLower() + MenuC4["Menu4"].ToLower() + MenuC5["Menu5"].ToLower()
                    //            + MenuC6["Menu6"].ToLower() + MenuC7["Menu7"].ToLower() + MenuC8["Menu8"].ToLower()
                    //            + MenuC9["Menu9"].ToLower() + MenuC10["Menu10"].ToLower();
                    string TopMenu = "", SubMenu = "", Menuitem = "", Method = "";
                    }
                    @while (Menu.Length > 1)
                    {
                        TopMenu = Menu.Substring(1, Menu.IndexOf("$", StringComparison.Ordinal) - 1);

                        Menu = Menu.Substring(@TopMenu.Length + 1, Menu.Length - @TopMenu.Length - 1);

                        while (Menu.Substring(0, 1) == "$")
                        {
                            SubMenu = Menu.Substring(1, Menu.IndexOf("#", StringComparison.Ordinal) - 1);
                            Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @while (Menu.Substring(0, 1) == "#")
                                    {
                                        Menuitem = Menu.Substring(1, Menu.IndexOf("|", StringComparison.Ordinal) - 1);
                                        Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                                        Method = Menu.Substring(1, Menu.IndexOf("^", StringComparison.Ordinal) - 1);
                                        Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                                        <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                    @*@{

        if (!MvcApplication.IsReleased)
        {

            <li class="header"> Knitting </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Knitting</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Store/RequsitionPOReceive"><i class="fa fa-share"></i>General Stock In</a></li>
                    <li><a href="~/store/categoryinventoryindex"><i class="fa fa-share"></i>Store Ledger</a></li>
                    <li><a href="~/store/storeinventory"><i class="fa fa-share"></i> Store Inventory</a></li>
                    <li><a href="~/store/orderwiseinventory"><i class="fa fa-share"></i> Order Inventory</a></li>
                    <li><a href="~/Production/VmProd_TransitionItemInventoryIndex"><i class="fa fa-share"></i>Knitting Production</a></li>
                    <li><a href="~/Production/RequisitonSend"><i class="fa fa-share"></i>Requisiton Send</a></li>
                    <li><a href="~/Production/RequisitonRecieved"><i class="fa fa-share"></i>Requisiton Recieved</a></li>
                    <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Requisiton</a></li>
                    <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i>External Requisiton</a></li>
                    <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>
                    <li><a href="~/production/Raw_InternaleTransferSlaveView"><i class="fa fa-share"></i>Internale Transfer</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Procurement</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="~/procurement/vmproc_requisitaionindex"><i class="fa fa-share"></i> Requsition</a></li>
                    <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> Purchase Orders</a></li>

                </ul>

            </li>






            <li class="header"> Merchandising </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Orders & T&A</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Common/OrderSummaryViewIndex"><i class="fa fa-share"></i>Order Summary</a></li>
                    <li><a href="@Url.Action("VmPlan_TimeAndActionNotification", "Planning")"><i class="fa fa-share"></i>T&A Notification</a></li>
                    <li><a href="~/Common/VmCommon_TheOrderIndex"><i class="fa fa-share"></i> In Progress</a></li>
                    <li><a href="~/Common/VmCommon_TheOrderIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                    <li><a href="~/Planning/VmPlan_OrderStepIndex"><i class="fa fa-share"></i> Plan Step</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> Search</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Bill Of Materials</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Marketing/VmMkt_BOMIndex"><i class="fa fa-share"></i> In Progress</a></li>
                    <li><a href="~/Marketing/VmMkt_BOMIndex/1"><i class="fa fa-share"></i> Complete</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Fabrications</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Marketing/Mkt_BOMSlaveFabric"><i class="fa fa-share"></i> In Progress</a></li>

                </ul>
            </li>



            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Purchase Orders & Tracking</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i>In Progress</a></li>
                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i>Store Settled</a></li>
                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>Payment Settled</a></li>
                    <li><a href="~/Marketing/PurchaseOrdersAuthorization"><i class="fa fa-share"></i>In Progress</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Marketing/VmMkt_BuyerIndex"><i class="fa fa-share"></i> Create Buyers</a></li>
                    <li><a href="~/Common/VmCommon_SupplierIndex"><i class="fa fa-share"></i> Create Suppliers</a></li>
                    <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Create Currency</a></li>
                    <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Create Units</a></li>
                    <li><a href="~/Marketing/VmMkt_ItemIndex"><i class="fa fa-share"></i> Items</a></li>
                    <li><a href="~/Marketing/VmMkt_SubCategoryIndex"><i class="fa fa-share"></i>Subcategories</a></li>
                    <li><a href="~/Marketing/VmMkt_CategoryIndex"><i class="fa fa-share"></i> Categories</a></li>
                    <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i>Raw Items</a></li>
                    <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Raw Subcategories</a></li>
                    <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i>Raw Categories</a></li>

                    <li><a href="~/Commercial/VmCommercial_BankIndex"><i class="fa fa-share"></i>Commercial Bank</a></li>
                    <li><a href="#"><i class="fa fa-share"></i>Production Line</a></li>


                </ul>
            </li>
            <li class="header">Accounts </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Supplier Management</span>

                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Accounts/VmAcc_SupplierPHIndex"><i class="fa fa-share"></i> Create Supplier</a></li>
                    <li><a href="~/Accounts/PurchaseOrderListIndex"><i class="fa fa-share"></i>PO In Progress</a></li>
                    <li><a href="~/Marketing/PurchaseOrders/2"><i class="fa fa-share"></i>PO Payment Settled</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Accounting System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Accounts/VmAcc_TypeIndex"><i class="fa fa-share"></i> Account type</a></li>
                    <li><a href="~/Accounts/VmAcc_Chart1Index"><i class="fa fa-share"></i>  Chart1</a></li>
                    <li><a href="~/Accounts/VmAcc_Chart2Index"><i class="fa fa-share"></i>  Chart2</a></li>
                    <li><a href="~/Accounts/VmAcc_AcNameIndex"><i class="fa fa-share"></i> Account Name</a></li>
                    <li><a href="~/Accounts/VmAcc_JournalIndex"><i class="fa fa-share"></i>  Journal</a></li>
                    <li><a href="~/Accounts/VmAccountingview"><i class="fa fa-share"></i> Ledger</a></li>
                    <li><a href="~/Accounts/VmAcc_TransactionIndex"><i class="fa fa-share"></i> Bank/Cash Withdraw/Deposit</a></li>
                    <li><a href="~/Accounts/VmAcc_FinamizedTransactionIndex"><i class="fa fa-share"></i> Finalized Transaction</a></li>
                    <li><a href="~/Accounts/VmAcc_Income_HistoryIndex"><i class="fa fa-share"></i> Income</a></li>
                    <li><a href="~/Accounts/VmAcc_Expenses_HistoryIndex"><i class="fa fa-share"></i> Expenses</a></li>
                    <li><a href="~/Accounts/SupplierBillIndex"><i class="fa fa-share"></i> Bill Entry</a></li>
                    <li><a href="~/Accounts/NotifierStatus"><i class="fa fa-share"></i>Cheque & L/C Status</a></li>
                    <li><a href="~/Accounts/Acc_DollarRate"><i class="fa fa-share"></i>Dollar Rate</a></li>
                </ul>
            </li>
            <li class="header"> Store Management</li>



            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Store(BOM)</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Marketing/PurchaseOrders"><i class="fa fa-share"></i> PO in Progress</a></li>
                    <li><a href="~/Store/PurchaseOrderReceive"><i class="fa fa-share"></i> Stock In</a></li>
                    <li><a href="~/Store/PurchaseOrderDeliver"><i class="fa fa-share"></i> Stock Out(BOM)</a></li>
                    <li><a href="~/Marketing/PurchaseOrders/1"><i class="fa fa-share"></i> Settled</a></li>
                    <li><a href="~/Store/OrderWiseInventory"><i class="fa fa-share"></i> Inventory</a></li>
                    <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Store</a></li>
                    <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i> External Store</a></li>
                    <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>



                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Store(General)</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Store/GeneralPurchaseOrderReceive"><i class="fa fa-share"></i> Stock In(General)</a></li>
                    <li><a href="~/Store/VmGeneral_StockOut"><i class="fa fa-share"></i> Stock Out(General)</a></li>
                    <li><a href="~/Store/PurchaseOrderDeliverREQ"><i class="fa fa-share"></i> Requisition</a></li>
                    <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i> Store Requisition</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Store Finish Goods</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="#"><i class="fa fa-share"></i>  Stock In(UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i>  Shipment(UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i>  Stock Information(UD)</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Shipment Management System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a  href="~/Shipment/VmCNFDelivaryChallan"><i class="fa fa-share"></i> CNF Challan</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                </ul>
            </li>





            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Store/VmRaw_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>
                    <li><a href="~/Store/VmRaw_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                    <li><a href="~/Store/VmRaw_ItemIndex"><i class="fa fa-share"></i> Item List</a></li>
                    <li><a href="~/Store/VmRaw_StoreIndex"><i class="fa fa-share"></i> Store Name</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Store Inventory</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Store/StoreInventory"><i class="fa fa-share"></i>Inventory</a></li>
                    <li><a href="~/Store/CategoryInventoryIndex"><i class="fa fa-share"></i> Category Inventory</a></li>

                </ul>
            </li>

            <li class="header">Commercial</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>L/C Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="~/Commercial/PurchaseOrdersWithoutBuyerOrder"><i class="fa fa-share"></i>PO List</a></li>
                    <li><a href="~/Commercial/Yarnview"><i class="fa fa-share"></i>Yarn</a></li>
                    <li><a href="~/Commercial/VmCommercial_PIIndex"><i class="fa fa-share"></i>Commercial PI</a></li>
                    <li><a href="~/Commercial/VmCommercial_MasterLCIndex"><i class="fa fa-share"></i>Commercial Master L/C</a></li>
                    <li><a href="~/Commercial/VmCommercial_B2bLCIndex"><i class="fa fa-share"></i>Commercial B2B L/C</a></li>
                    <li><a href="~/Commercial/VmCommercial_UDIndex"><i class="fa fa-share"></i>UD</a></li>
                    <li><a href="~/Commercial/VmCommercial_LCTypeIndex"><i class="fa fa-share"></i>L/C Type</a></li>
                    <li><a href="~/Commercial/VmCommercial_BtBLCTypeIndex"><i class="fa fa-share"></i>BTB L/C Type</a></li>
                    <li><a href="~/Commercial/VmCommercial_LCOreginIndex"><i class="fa fa-share"></i>L/C Oregin</a></li>
                    <li><a href="~/Commercial/Commercial_BTBLCIndex"><i class="fa fa-share"></i>Local BTB L/C</a></li>
                    <li><a href="~/Commercial/VmCommercial_BTBItemIndex"><i class="fa fa-share"></i> BTB Item</a></li>
                    <li><a href="~/Shipment/VmShipment_UnloadingPortIndex"><i class="fa fa-share"></i> UnloadingPort</a></li>
                    <li><a href="~/Shipment/VmCNFDelivaryChallan"><i class="fa fa-share"></i> CNF Challan</a></li>
                </ul>

            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Procurement</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>

                <ul class="treeview-menu">
                    <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i> General PO</a></li>

                </ul>

            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Shipment Management System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>

                    <li><a href="#"><i class="fa fa-share"></i> UD</a></li>
                    <li><a href="~/Shipment/ShipmentScheduleIndex"><i class="fa fa-share"></i> Shipment Deliverd Schedule</a></li>
                    <li><a href="~/Shipment/ShipmentInfoList"><i class="fa fa-share"></i> Shipment Info List</a></li>
                    <li><a href="~/Shipment/ShipmentAlertIndex"><i class="fa fa-share"></i> Shipment Alert</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Mantenance & Utility Managment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-share"></i> Stock In(UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> Stock Out(UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> Requisition(UD)</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Production && Planning </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Production/VmProd_PlanReferenceIndex"><i class="fa fa-share"></i>Plan Reference</a></li>
                    <li><a href="~/Production/VmProd_PlanReferenceProductionView/1"><i class="fa fa-share"></i>CUTTING</a></li>
                    <li><a href="~/Production/VmProd_PlanReferenceProductionView/2"><i class="fa fa-share"></i>SEWING</a></li>
                    <li><a href="~/Procurement/VmProc_RequisitaionIndex"><i class="fa fa-share"></i> Production Requisition</a></li>
                    <li><a href="~/Production/RequisitonSend"><i class="fa fa-share"></i>Requisiton Send</a></li>
                    <li><a href="~/Production/RequisitonRecieved"><i class="fa fa-share"></i>Requisiton Recieved</a></li>
                    <li><a href="~/Store/InternalStoreIndex"><i class="fa fa-share"></i>Internal Store</a></li>
                    <li><a href="~/Store/ExternalStoreIndex"><i class="fa fa-share"></i>External Store</a></li>
                    <li><a href="~/Store/VmGeneral_InterTransfer"><i class="fa fa-share"></i>Store Internal Transfer</a></li>
                    <li><a href="~/production/Raw_InternaleTransferSlaveView"><i class="fa fa-share"></i>Internale Transfer</a></li>
                    <li><a href="~/Production/VmPlan_ProductionLineIndex"><i class="fa fa-share"></i>Production Line</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">


                    <li><a href="~/Production/VmProd_SVNameIndex"><i class="fa fa-share"></i>Supervisor</a></li>
                    <li><a href="~/Production/VmProd_LineChiefIndex"><i class="fa fa-share"></i>Line Chief</a></li>
                    <li><a href="~/Production/VmPlan_OrderProcessIndex"><i class="fa fa-share"></i>Production Step</a></li>
                    <li><a href="~/Planning/VmPlan_OrderProcessCategoryIndex"><i class="fa fa-share"></i>Plan Order Process Category</a></li>
                    <li><a href="~/Production/VmProd_MachineTypeIndex"><i class="fa fa-share"></i>Machine Type</a></li>
                    <li><a href="~/Production/VmProd_MachineIndex"><i class="fa fa-share"></i>Machine</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Production Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i> Production Requisition</a></li>
                    <li><a href="~/Production/VmProd_StatusIndex"><i class="fa fa-share"></i> Production Status(UD)</a></li>
                    <li><a href="~/Production/VmProd_OrderStatusIndex"><i class="fa fa-share"></i>Production Order Status UD</a></li>
                    <li><a href="~/Production/VmProd_RequisitionIndex"><i class="fa fa-share"></i>Send to Finish Store(UD)</a></li>
                    <li><a href="~/Production/VmPlanProductionReportOrderWise"><i class="fa fa-share"></i>Production Report Order Wise</a></li>
                    <li><a href="~/Production/VmPlan_PartyWiseLeftOverReport"><i class="fa fa-share"></i>Supplier Wise Left Over Report</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Quality Assurance System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-share"></i>UD</a></li>

                    <li><a href="#"><i class="fa fa-share"></i>UD</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Production Finish Goods</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-share"></i>  Stock In(UnDone)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i>  Shipment(UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i>  Stock Information(UD)</a></li>

                </ul>
            </li>



            <li class="header">Security & Romo Management</li>



            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>Management Information System</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                    <li><a href="#"><i class="fa fa-share"></i> (UD)</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>System Admin & Security Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/User/VmUser_UserIndex"><i class="fa fa-share"></i> User List</a></li>
                    <li><a href="~/User/VmUser_RoleIndex"><i class="fa fa-share"></i> User Role</a></li>
                    <li><a href="~/User/VmUser_MenuItemIndex"><i class="fa fa-share"></i> User Menu</a></li>

                </ul>
            </li>
            <li class="header">Procurement</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-th"></i> <span>procurement</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="~/Procurement/VmProc_RequisitaionIndex"><i class="fa fa-share"></i>In Progress</a></li>
                    <li><a href="~/Store/VmGeneral_POIndex"><i class="fa fa-share"></i>Purchase Order</a></li>


                </ul>
            </li>



        }
    }*@
                </ul>

            </section>

            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>
    </div>
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->

    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/dist/js/app.min.js")
    @Scripts.Render("~/dist/js/demo.js")
    @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")
    @Scripts.Render("~/plugins/chartjs/Chart.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.pie.min.js")
    @Scripts.Render("~/plugins/flot/jquery.flot.categories.min.js")



    <script>
        $(function () {
            $("#example1").DataTable();
            var table = $('#DataTable2').DataTable({

            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });

            //iCheck for checkbox and radio inputs
            //$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            //    checkboxClass: 'icheckbox_minimal-blue',
            //    radioClass: 'iradio_minimal-blue'
            //});
            //Red color scheme for iCheck
            //$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            //    checkboxClass: 'icheckbox_minimal-red',
            //    radioClass: 'iradio_minimal-red'
            //});
            //Flat red color scheme for iCheck
            //$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            //    checkboxClass: 'icheckbox_flat-green',
            //    radioClass: 'iradio_flat-green'
            //});
            $(function () {
                /*
                 * BAR CHART
                 * ---------
                 */
                var bar_data = {
                    data: [["Januahgfry", 1,26,96,640], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9]],
                    color: "#3c8dbc"
                };
                $.plot("#bar-chart", [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: "#f3f3f3",
                        tickColor: "#f3f3f3"
                    },
                    series: {
                        bars: {
                            show: true,
                            barWidth: 0.3,
                            align: "center"
                        }
                    },
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    }
                });

                var bar_data = {
                    data: [["January", 20], ["February", 8], ["March", 4], ["April", 13], ["May", 17], ["June", 9]],
                    color: "#3c8dbc"
                };
                $.plot("#line-chart", [bar_data], {
                    grid: {
                        borderWidth: 1,
                        borderColor: "#f3f3f3",
                        tickColor: "#f3f3f3"
                    },
                    series: {
                        lines: {
                            show: true,
                            barWidth: 0.3,
                            align: "center"
                        }
                    },
                    xaxis: {
                        mode: "categories",
                        tickLength: 0
                    }
                });
            })
        });
    </script>
</body>

</html>