﻿@model Oss.Romo.ViewModels.Home.VmMis_AdminBoard
@using System.Globalization
@using System.Web.DynamicData
@using Oss.Romo.ViewModels.Account
@using Oss.Romo.ViewModels.Home
@using Oss.Romo.ViewModels.Store
@{
    ViewBag.Title = "AdminBoard";
    //Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    SumofPayableDueSupplier s = (SumofPayableDueSupplier)ViewBag.SupplierData;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://www.chartjs.org/samples/latest/utils.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Version 1.0</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("AdminBoard","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<style type="text/css">
    .center {
        padding-top: 35px;
    }

    .bg-olive {
        background: #808000 !important;
    }

    .bg-violate {
        background: #581845 !important;
    }

    .bg-purple {
        background: #800080 !important;
    }
</style>
@{
    var collectionDueReceivableAmount = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount;
    var collectionDueReceivableAmount12months = (List<CollectionDueReceivableAmount>)ViewBag.CollectionDueReceivableAmount12Months;
}
<script type="text/javascript">

    var configBar = {
        type: 'bar',
        data: {
            datasets: [{
                data: [
                    '@Model.SummaryReportAdminBoard.MasterLCValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.ExportValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.POPending.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBLimitValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBIssuedValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BTBAvailableValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.BOMRestValue.ToString("F")',
                    '@Model.SummaryReportAdminBoard.PORestValue.ToString("F")',
                    '@s.Due.ToString("F")',
                    '@s.Payable.ToString("F")',
                    '@Model.RealisedAmount.ToString("F")',
                    '@Model.TotalLcBtbLcPoAmount.ToString("F")',
                    '@Model.TotalLcTtAmount.ToString("F")'
                ],
                backgroundColor: [
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue,
                    window.chartColors.blue
                ],
                label:"Balance"
            }],
            labels: [
                'LC Value:',
                'Export Value',
                'BOM Value',
                'PO Issued Value',
                'PO Pending',
                'BTB Limit',
                'BTB Issued Value',
                'Available BTB Value',
                'Outstanding BOM Value',
                'Outstanding PO Value',
                'Supplier Due',
                'Supplier Payable',
                'Realised Amount',
                'Total BTB LC PO Value',
                'Total LC Amount(TT)'
            ]
        },
        options: {
            responsive: true
        }
    };

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var configPie = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    @collectionDueReceivableAmount[0].Income, @collectionDueReceivableAmount[0].Receivable
                ],
                backgroundColor: [
                    window.chartColors.green,
                    window.chartColors.red
                ],
                label: 'Dataset 1'
            }],
            labels: [
                'Collection',
                'Due'
            ]
        },
        options: {
            responsive: true
        }
    };

    var lebel = [];
    var earning = [];
    var collection = [];
    var due = [];
    @foreach(CollectionDueReceivableAmount item in collectionDueReceivableAmount12months)
    {
        <text>
            lebel.push([ '@item.MonthName' ]);
            earning.push([ '@Convert.ToString(item.Receivable + item.Income, CultureInfo.InvariantCulture)' ]);
            collection.push([ '@Convert.ToString(item.Income, CultureInfo.InvariantCulture)' ]);
            due.push([ '@Convert.ToString(item.Receivable, CultureInfo.InvariantCulture)' ]);
        </text>
    }
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    var color12 = Chart.helpers.color;
    var configLine = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Income',
                backgroundColor: color12(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: earning
            }, {
                label: 'Received',
                backgroundColor: color12(window.chartColors.green).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                borderWidth: 1,
                data: collection
                }, {
                    label: 'Due',
                    backgroundColor: color12(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                    data: due
                }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                display: true,
                text: 'Collection Status'
            }
        }
    };
    var lebel = [];
    var value = [];

    @foreach (BuyerInfoChart item in ViewBag.BuyerList)
        {
           <text>
               lebel.push([ '@item.BuyerName']);
               value.push(Math.abs(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture)));
           </text>
        }

    var color = Chart.helpers.color;

    var configBarBuyer = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Party outstanding -Sundry creditors',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };

    lebel = [];
    value = [];
    @foreach (CategoryStockQty item in ViewBag.CategoryStock)
        {
           <text>
               lebel.push([ '@item.Name']);
               value.push(@Convert.ToString(item.Balance, CultureInfo.InvariantCulture));
           </text>
        }
    var configBarCategoryStock = {
        type: 'bar',
        data: {
            labels: lebel,
            datasets: [{
                label: 'Stock',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.green,
                borderWidth: 1,
                data: value
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top'
            }
        }
    };


    function start() {
        var ctxbar = document.getElementById('bar-chart-area').getContext('2d');
        var a = new Chart(ctxbar, configBar);
        var ctxpie = document.getElementById('pie-chart-area').getContext('2d');
        var b = new Chart(ctxpie, configPie);
        var ctxLine = document.getElementById('line-chart-area').getContext('2d');
        var c = new Chart(ctxLine, configLine);
        var ctxbarbuyer = document.getElementById('bar-chart-area-buyer').getContext('2d');
        var d = new Chart(ctxbarbuyer, configBarBuyer);
        var ctxbarcategorystock = document.getElementById('Bar-chart-Category-stock').getContext('2d');
        var d = new Chart(ctxbarcategorystock, configBarCategoryStock);
    };

    window.onload = start;

</script>



<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">AT A GLANCE</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Buyer Balance</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <div id="canvas-holder">
                        <canvas id="bar-chart-area-buyer"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Collection Status</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">

                    <div id="">
                        <canvas id="pie-chart-area"></canvas>
                        Total: @{
                            var totalEarning = collectionDueReceivableAmount[0].Income + collectionDueReceivableAmount[0].Receivable;
                        }
                        @totalEarning
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
        <div class="col-lg-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Category Stock</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">

                    <div id="">
                        <canvas id="Bar-chart-Category-stock"></canvas>
                    </div>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Bar chart -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Collection Status</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                </div>
                <div class="box-body">
                    <canvas id="line-chart-area"></canvas>
                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <center><b>AT A GLANCE</b></center>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center;">
                                    Title
                                </th>
                                <th style="text-align:center; font:bold;">Values</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        Total LC Value :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.MasterLCValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        Actual Export Value :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.ExportValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        Total BOM Value :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMValue).ToString("#,##0")</span>
                                    @*@Html.DisplayFor(x => )*@
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        Total PO Issued :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.POIssuedValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        PO Pending :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.POPending).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        BTB Limit :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBLimitValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        BTB Issued Value :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBIssuedValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <span>
                                        Available BTB Value :
                                    </span>
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BTBAvailableValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Outstanding BOM Value :
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.BOMRestValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Outstanding PO Value :
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(Model.SummaryReportAdminBoard.PORestValue).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Supplier Due :
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(s.Due).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Supplier Payable :
                                </td>
                                <td style="text-align:center; font:bold;">
                                    <span>$ @Math.Round(s.Payable).ToString("#,##0")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Total BTB LC PO Value :
                                </td>
                                <td style="text-align:center; font:bold;">$ @Model.TotalLcBtbLcPoAmount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Realised Amount :
                                </td>
                                <td style="text-align:center; font:bold;">$ @Model.RealisedAmount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    Total LC Amount(TT) :
                                </td>
                                <td style="text-align:center; font:bold;">$ @Model.TotalLcTtAmount.ToString("0.00")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/commercial/vmSummaryReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-maroon-gradient">
                                @*<i class="ion ion-cash"></i>*@
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center" style="padding-top:25px !important">
                                <span class="info-box-text text-bold text-black">Commercial<br /> Summary</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/marketing/yarnstatementledger" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua">
                                <img height="50" width="50" src="~/Content/Images/adminboard/yarn.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Yarn<br /> Statement</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/common/ordersummaryviewindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-green">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Order<br /> Summary</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-light-blue-active"><i class="fa fa-users"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Supplier<br /> Overview</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/commercial/vmcommercial_udindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-red">
                                <img height="50" width="50" src="~/Content/Images/adminboard/bank.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">L/C<br /> Statement</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/vmacc_supplierphindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Payment<br /> Ledger</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/common/vmcommon_theorderindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Order<br /> Overview</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemWiseReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-purple">
                                <img height="50" width="50" src="~/Content/Images/adminboard/budget.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Inventory</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemLeftoverReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-navy">
                                <img height="50" width="50" src="~/Content/Images/adminboard/store.png" />
                            </span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Store<br /> Leftover</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- /.info-box -->
                    <a href="~/planning/vmplan_orderstepindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Time & <br />Action</span>
                            </div>

                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/accounts/VmAccountingview" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Cost instant/Periodical<br /> Head wise/Total</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- /.info-box -->
                    <a href="~/common/ordersummaryviewindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-light-blue-gradient"><i class="fa fa-calendar"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">List Of order that <br />BOM not yet complete</span>
                            </div>

                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>
                <!-- /.col -->
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/Store/ItemWiseReport" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Item Stock</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="~/store/categoryinventoryindex" target="_blank">
                        <div class="info-box">
                            <span class="info-box-icon bg-violate"><i class="fa ion-cash"></i></span>
                            <div class="info-box-content center">
                                <span class="info-box-text text-bold text-black">Store Inventory</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

</section>
<!-- /.content -->