﻿@model Oss.Romo.ViewModels.Home.ErrorReports
@{
    Layout = "";
}

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <b>

                        @Model.ErrorDescription

                    </b>
                </h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.ErrorFeedBack, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.ErrorFeedBack, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6", @style = "height:180px" } })
                            @Html.ValidationMessageFor(model => model.ErrorFeedBack, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <p style="margin-left:50px">
                            <input type="submit" value="Save" class="btn btn-success" />

                        </p>
                    </div>
                </div>


            }



            <!-- /.box-header -->
            <div class="box-body">

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


