﻿@*@model Oss.Romo.ViewModels.Marketing.VmMkt_PO*@
@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<style type="text/css">
    .gocenter {
        padding-top:5px;
    }
</style>
<div class="clearfix"></div>

<div id="MarStoreAccID" class="row">
    <!--Merchandising-->
    <div id="marID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-danger">
            <div class="box-header with-border bg-danger">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/Merchandising.jpg" />
                    <span class="username gocenter"><a href="#">Merchandising</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmcommon_theorderindex","common")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage Order
                        </a>
                        <a href="@Url.Action("purchaseorders", "marketing")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-list"></i> BOM PO List
                        </a>
                        <a href="@Url.Action("ordersummaryviewindex","common")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Order Summary
                        </a>
                        <a href="@Url.Action("vmmkt_bomindex","marketing")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage BOM
                        </a>
                        <a href="@Url.Action("purchaseorders","marketing")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage PO
                        </a>
                        <a href="@Url.Action("authorizedpurchaseorders","marketing")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-thumbs-up"></i> Approved PO
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--Store-->
    <div id="storeID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-success">
            <div class="box-header with-border bg-success">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/Store.jpg" />
                    <span class="username gocenter"><a href="#">Store </a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("purchaseorderfabricreceive","store")" target="_blank" class="btn btn-app bg-purple">
                            <i class="glyphicon glyphicon-save"></i> Yarn StockIn
                        </a>
                        <a href="@Url.Action("purchaseorderreceive", "store")" target="_blank" class="btn btn-app bg-purple">
                            <i class="glyphicon glyphicon-save"></i> Accessories StockIn
                        </a>
                        <a href="@Url.Action("requsitionporeceive","store")" target="_blank" class="btn btn-app bg-purple">
                            <i class="glyphicon glyphicon-save"></i> General StockIn
                        </a>
                        <a href="@Url.Action("categoryinventoryindex","store")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Ledger
                        </a>
                        <a href="@Url.Action("storeinventory","store")" target="_blank" class="btn btn-app bg-yellow">
                            <i class="glyphicon glyphicon-zoom-in"></i> Store Inventory
                        </a>
                        <a href="@Url.Action("purchaseorders","marketing")" target="_blank" class="btn btn-app bg-yellow">
                            <i class="glyphicon glyphicon-zoom-in"></i> Order Inventory
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--Accounting-->
    <div id="accID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-danger">
            <div class="box-header with-border bg-danger">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/Accounting.jpg" />
                    <span class="username gocenter"><a href="#">Accounting</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmacc_accexportrealisationindex", "accounts")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Export Realization
                        </a>
                        <a href="@Url.Action("VmAcc_AccExportRealisationExpenseIndex", "accounts")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> UD Export Realization
                        </a>
                        <a href="~/Accounts/VmAcc_FinamizedTransactionIndex/VmAcc_FinamizedTransactionIndex?data_server=true" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Finalized Transaction
                        </a>
                        <a href="@Url.Action("vmaccountingview", "accounts")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Accounting View
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="row">
    <!--Commercial-->
    <div id="comID" class="col-md-12">
        <!-- Box Comment -->
        <div class="box box-info">
            <div class="box-header with-border bg-info">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/Commercials.jpg" />
                    <span class="username gocenter"><a href="#">Commercial</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmcommercial_masterlcindex", "commercial")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage MasterLC
                        </a>
                        <a href="@Url.Action("commercial_btblcindex","commercial")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage BTB L/C
                        </a>
                        <a href="@Url.Action("vmcommercial_udindex","commercial")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Manage UD
                        </a>
                        <a href="@Url.Action("commercial_btbimportlcindex","commercial")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Import BTB L/C
                        </a>
                        <a href="@Url.Action("vmimportreportindex", "commercial")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> BTB LC Followup
                        </a>
                        <a href="@Url.Action("vmcommercial_udindex", "commercial")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> L/C Statement
                        </a>
                        <a href="@Url.Action("yarnstatementledger", "marketing")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Yarn Statement
                        </a>
                        <a href="@Url.Action("styleaddedmlc","marketing")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Style In MasterLC
                        </a>
                        <a href="@Url.Action("shipmentinfolist", "shipment")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Shipment Info
                        </a>
                        <a href="@Url.Action("vmcommercial_b2blcindex","commercial")" target="_blank" class="btn btn-app bg-red">
                            <i class="glyphicon glyphicon-usd"></i> BTB LC Payment
                        </a>
                        <a href="@Url.Action("vmacc_supplierphindex","accounts")" target="_blank" class="btn btn-app bg-green">
                            <i class="fa fa-book"></i> Supplier Ledger
                        </a>
                        <a href="@Url.Action("vmacc_supplierphindex","accounts")" target="_blank" class="btn btn-app bg-red">
                            <i class="glyphicon glyphicon-usd"></i> Supplier Payment
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

<div id="PlanProcProdID" class="row">
    <!--Production Plan-->
    <div id="planID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-info">
            <div class="box-header with-border bg-info">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/plan.jpg" />
                    <span class="username gocenter"><a href="#">Production Plan</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmprod_planningindex","production")" target="_blank" class="btn btn-app bg-navy">
                            <i class="glyphicon glyphicon-edit"></i> Shipment Plan
                        </a>
                        <a href="@Url.Action("LinePlanSchedule", "production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Line Occupancy
                        </a>
                        <a href="@Url.Action("vmprod_planningindex", "production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Plan Followup
                        </a>
                        <a href="@Url.Action("vmprod_planningindex","production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Plan Achieve
                        </a>
                        <a href="@Url.Action("ShipmentReportView", "production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Shipment Schedule
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <!--Procurement-->
    <div id="procID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-success">
            <div class="box-header with-border bg-success">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/procurement.jpg" />
                    <span class="username gocenter"><a href="#">Procurement</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmproc_requisitaionindex","procurement")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Requisition
                        </a>
                        <a href="@Url.Action("vmgeneral_poindex","store")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> General PO
                        </a>
                        <a href="@Url.Action("vmprod_requisitionindex","production")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Input Requisition
                        </a>
                        <a href="@Url.Action("vmprod_finishitemtransferindex", "production")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Item Transfer
                        </a>
                        <a href="@Url.Action("vmgeneral_intertransfer", "store")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Internal Transfer
                        </a>
                        <a href="@Url.Action("vmreceived_inputrequisitionindex", "production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Req. Received
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!--Production-->
    <div id="prodID" class="col-md-4">
        <!-- Box Comment -->
        <div class="box box-success">
            <div class="box-header with-border bg-info">
                <div class="user-block">
                    <img height="140" width="230" src="~/Content/Images/Production.jpg" />
                    <span class="username gocenter"><a href="#">Production</a></span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("vmprod_planreferenceindex", "production")" target="_blank" class="btn btn-app bg-navy">
                            <i class="fa fa-edit"></i> Plan Reference
                        </a>
                        <a href="@Url.Action("OrderProduction","production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Order Production
                        </a>
                        <a href="@Url.Action("ProductionClose","production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Order Clossing
                        </a>
                        <a href="@Url.Action("MonthlyProduction","production")" target="_blank" class="btn btn-app bg-blue">
                            <i class="glyphicon glyphicon-eye-open"></i> Periodic Production
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    
    var Id = '@ViewBag.DepartmentFk';
    console.log(Id);
    if (Id == 9 || Id == 10 || Id == 11)//Cutting & Sewing Department
    {
        $('#comID').addClass('hidden');
        $('#MarStoreAccID').addClass('hidden');
    }  
    else if (Id == 2)//Store Department
    {
        $('#marID').addClass('hidden');
        $('#accID').addClass('hidden');
        $('#comID').addClass('hidden');
        $('#storeID').addClass('col-md-12').removeClass("col-md-4");
        $('#PlanProcProdID').addClass('hidden');
    }
    else if (Id == 14)//Account Department
    {
        $('#marID').addClass('hidden');
        $('#accID').addClass('col-md-12').removeClass("col-md-4");
        $('#storeID').addClass('hidden');
        $('#planID').addClass('hidden');
        $('#prodID').addClass('hidden');
        $('#procID').addClass('col-md-12').removeClass("col-md-4");
    }
    else if (Id == 8)//Marchendising Department
    {
        $('#marID').addClass('col-md-12').removeClass("col-md-4");
        $('#comID').addClass('hidden');
        $('#storeID').addClass('hidden');
        $('#PlanProcProdID').addClass('hidden');
    }
    else if (Id == 7)//Procurement Department
    {
        $('#comID').addClass('hidden');
        $('#MarStoreAccID').addClass('hidden');
        $('#planID').addClass('hidden');
        $('#prodID').addClass('hidden');
        $('#procID').addClass('col-md-12').removeClass("col-md-4");
    }
    else if (Id == 6)//Commercial Department
    {
        $('#MarStoreAccID').addClass('hidden');
        $('#PlanProcProdID').addClass('hidden');
    }
    else if (Id == 5)//Production Department
    {
        $('#marID').addClass('col-md-12').removeClass("col-md-4");
        $('#storeID').addClass('hidden');
        $('#accID').addClass('hidden');
        $('#prodID').addClass('hidden');
        $('#procID').addClass('hidden');
        $('#planID').addClass('col-md-12').removeClass("col-md-4");
    }
</script>