﻿@model Oss.Romo.ViewModels.User.VmUser_User
@{

    ViewBag.Title = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oss | Erp</title>
    <link rel="shortcut icon" href="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG">
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/iCheck/square/blue.css")
   
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->    
</head>
<body class="hold-transition login-page">
    <div style="width:500px;" class="login-box">
    <div class="login-logo">
        <a target="_blank" href="http://www.romofashion.com/">
        <img  title="ROMO Fashion Today Ltd."  src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
         </a>        
    </div>
        <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script>
    
        </script>
        <div id="dialog-UnAuthorized" style="display: none">
            <img src="~/Content/Images/UnAuthorized.jpg" />
        </div>  

    <!-- /.login-logo -->
    <div style="border:1px solid #8eca3f;" id="LoginBox" class="login-box-body">
        <div style="background-color:#8eca3f; height:40px;color:white;padding-top:1.5px;">
            <center><p><h4><b> User Login</b></h4></p></center>
        </div>
       
        @using (Html.BeginForm("Login", "Home"))
        {
            <br />
                <div style="border:1px solid #8eca3f;" class="form-group has-feedback">
                    @Html.EditorFor(model => model.User_User.UserName, new { htmlAttributes = new { placeholder = "Enter User Name" , @class = "form-control col-md-6 col-xs-6" } })             
                    <span style="background-color:#8eca3f;color:white;" class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <br /><br />
                <div style="border:1px solid #8eca3f;" class="form-group has-feedback">
                    @Html.EditorFor(model => model.User_User.Password, new { htmlAttributes = new { placeholder = "Enter Password" , @class = "form-control col-md-6 col-xs-6" } })
                    
                    <span style="background-color:#8eca3f;color:white;" class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(model => model.User_User.RememberMe) Remember Me
                                @*<input type="checkbox"> Remember Me*@
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div>
                            <div class="alert-warning">
                                @Html.DisplayFor(model => model.LblError, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" onclick="this.ons" style="background-color:#8eca3f;color:white;" class="btn btn-block btn-flat">Sign In</button>                        
                    </div>
                    <!-- /.col -->
                </div>
              
        }
                </div>
        <!-- /.login-box-body -->
        <footer style="width:500px;">
            <center>
                <strong> &copy; <a title="Welcome to Optimum Solution and Services" target="_blank" href="http://oss.com.bd">Optimum Solution and Services Ltd.</a></strong>
            </center>            
        </footer>
        </div>
    <!-- /.login-box -->
   
    <!-- jQuery 2.2.3 -->
    @Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/iCheck/icheck.min.js")

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
        
    </script>
</body>
</html>
