﻿@model Oss.Romo.ViewModels.Temp.VmTempTable
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            @{
                int Sl = 0;
            }
            

            <div class="box-body table-responsive">
                <table class="tableLine table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                               X1
                            </th>
                            <th>
                               X2
                            </th>
                            <th>
                                X3
                            </th>
                            <th>
                                X4
                            </th>
                            <th>
                                X5
                            </th>
                          
                            <th>
                                X6
                            </th>

                            <th>
                                X7
                            </th>

                            <th>
                                X8


                            </th>
                            <th>
                                X9
                            </th>
                            <th>
                                X10
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.t)
                        {
                           
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.x2)%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.x3)%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.x5)%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>
                             
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.x6)%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                  
                                </td>

                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.x7)%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>


                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                 
                                </td>
                                <td >
                                    <div class="TableFormat progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:1001%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>
                                <td >
                                    <div class="TableFormat progress">
                                        <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
