﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Authorized BOM";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            title: 'Open Or Close',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Bill Of Materials: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Bill Of Materials: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            url = $(this).attr('href');
            //$(".ui-dialog-titlebar").html("BOM Complete.");
            $("#dialog-confirmU").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
@if (@Model.Header == "Bill Of Materials(In Progress)")
{
    <div id="dialog-confirmU" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to Close?
        </p>
    </div>
}
else
{
    <div id="dialog-confirmU" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to Reopen?
        </p>
    </div>
}





<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    @if (@Model.Header == "Bill Of Materials(In Progress)")
    {
        <h1>
            @Model.Header : &nbsp; &nbsp;
            @*(&nbsp; <a href="VmMkt_BOMCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
        </h1>
    }
    else
    {
        <h1>
            @Model.Header
        </h1>
    }
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bill Of Materials</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            @using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By Style No" } })
                    @Html.HiddenFor(model => model.ButtonName)
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }

            @{ Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UpdateDate)
                            </th>

                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_Category.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_SubCategory.Name)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.QPack)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.IsAuthorize)
                            </th>

                            @if (@Model.Header == "Bill Of Materials(In Progress)")
                            {
                                @*<th>Reports</th>*@
                                <th>
                                    Action
                                </th>
                            }
                            <th>
                                @Model.ButtonName
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove, "{0:yyyy/MM/dd}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.UpdateDate, "{0:yyyy/MM/dd}")
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.QPack)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.Quantity)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)@Html.DisplayFor(modelItem => item.Mkt_BOM.UnitPrice)
                                </td>

                                <td>
                                    <div style="padding:0px 50px" class="center">
                                        @if (item.Mkt_BOM.IsAuthorize == true)
                                        {
                                            <span class="label label-success">Authorize</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Unauthorize</span>
                                        }

                                    </div>
                                </td>

                                @if (@Model.Header == "Bill Of Materials(In Progress)")
                                {
                                    @*<td>
                                            @Html.ActionLink(".", "BOMReportView", "Marketing", new { id = item.Mkt_BOM.ID }, new { target = "_blank", @class = "glyphicon glyphicon-collapse-down" })

                                        </td>*@
                                    <td>


                                        @Html.ActionLink(".", "Mkt_BOMSlaveItem", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { target = "_blank", @class = "glyphicon glyphicon-zoom-in" })
                                        @Html.ActionLink(".", "BOMReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { target = "_blank", @class = "glyphicon glyphicon-print" })
                                        @*@Html.ActionLink("Add Fabric", "Mkt_BOMFabric", new { id = item.Mkt_BOM.ID })
                                            @Html.ActionLink("Step View", "../Planning/VmPlan_OrderForBOM", new { id = item.Mkt_BOM.ID })
                                            @Html.ActionLink("Order Step", "../Planning/Plan_OrderStepProgress", new { id = item.Mkt_BOM.ID })*@
                                    </td>

                                }
                                @*else
                                    {
                                        <td>
                                            @Html.ActionLink(".", "VmMkt_BOMEdit", new { id = item.Mkt_BOM.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                            @Html.ActionLink(".", "VmMkt_BOMDelete", new { id = item.Mkt_BOM.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp; &nbsp;
                                        </td>

                                    }*@
                                <td>

                                    @Html.ActionLink(".", "ChangeBOMStatus", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @class = "lnkDeleteU glyphicon glyphicon-ok" }) &nbsp;
                                    @if (item.Mkt_BOM.IsAuthorize != true && user.User_User.User_AccessLevelFK == 2)
                                    {

                                        @Html.ActionLink("Authorization", "ChangeBOMAuthorizationStatus", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOM.ID.ToString()) }, new { @class = "lnkEdit" })

                                    }

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


