﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Fabric Purchase And Processing";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkLock").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        $('#dialog-edit').load($('#lnkCreate').attr('href'));
        $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        Bill of Materials : @Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_BOMFK)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Fabrics Summary :

                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">

                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Raw_Category.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Raw_Category.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Raw_SubCategory.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Raw_SubCategory.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Raw_Item.Name)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Raw_Item.Name)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Mkt_BOMSlave.Description)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Mkt_BOM.Fabrication)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Mkt_BOMSlave.Consumption)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Mkt_BOMSlave.Consumption)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmMkt_BOMSlave.Mkt_BOMSlave.RequiredQuantity)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmMkt_BOMSlave.Mkt_BOMSlave.RequiredQuantity)">
                            </div>

                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>

                <section>
                    <h3>
                        Item List
                        (&nbsp;<a href="~/Marketing/VmMkt_BOMStepJobsCreate/@Model.VmMkt_BOMSlave.Mkt_BOMSlave.ID=@Model.VmMkt_BOMSlave.Mkt_BOMSlave.Mkt_BOMFK" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>
                @{
                    int Sl = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Raw_Category.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMStepJobs.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMStepJobs.Consumption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalRequired)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMStepJobs.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalItem_Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Common_Supplier.Name)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_BOMSlave.DataList)
                            {
                                <tr>

                                    <td><b>@(++Sl).</b></td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Category.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMStepJobs.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMStepJobs.Consumption)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMStepJobs.RequiredQuantity)
                                        @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMStepJobs.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                        @Html.DisplayFor(modelItem => item.TotalItem_Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                    </td>

                                    @if (item.Mkt_BOMStepJobs.IsLocked == false)
                                    {
                                        <td>
                                            @if (Model.User_User.User_AccessLevelFK == 2)
                                            {

                                                @Html.ActionLink(".", "VmMkt_BOMStepJobsEdit", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMStepJobs.ID.ToString()) }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })

                                                @Html.ActionLink(".", "VmMkt_BOMStepJobsDelete", new { id = item.Mkt_BOMStepJobs.ID + "x" + Model.VmMkt_BOMSlave.Mkt_BOMSlave.ID + "=" + Model.VmMkt_BOMSlave.Mkt_BOMSlave.Mkt_BOMFK } , new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                                @Html.ActionLink(".", "LockedStepJobs", new { id = item.Mkt_BOMStepJobs.ID }, new { @class = "lnkLock fa fa-unlock" })
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @if (Model.User_User.User_AccessLevelFK == 2)
                                            {
                                                @Html.ActionLink(".", "LockedStepJobs", new { id = item.Mkt_BOMStepJobs.ID }, new { @class = "lnkLock fa fa-lock" })
                                            }
                                            @if (Model.User_User.User_AccessLevelFK != 2 && item.Mkt_BOMStepJobs.IsLocked == true)
                                            {
                                                <span style="color:crimson;font-size:16px">Finalized</span>
                                            }
                                        </td>
                                    }
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
