﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{

    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@Styles.Render("~/plugins/iCheck/square/blue.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        @Html.HiddenFor(model => model.Mkt_BOM.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_BOM.LastEditeddBy)
        @Html.HiddenFor(model => model.Mkt_BOM.CID)
        @Html.HiddenFor(model => model.Mkt_BOM.FirstMove)
        @Html.HiddenFor(model => model.Mkt_BOM.UpdateDate)
        @Html.HiddenFor(model => model.Mkt_BOM.Reference)
        @Html.HiddenFor(model => model.Mkt_BOM.Common_TheOrderFk)
        @Html.HiddenFor(model => model.Mkt_BOM.Mkt_ItemFK)
        @Html.HiddenFor(model => model.Mkt_BOM.Description)
        @Html.HiddenFor(model => model.Mkt_BOM.Class)
        @Html.HiddenFor(model => model.Mkt_BOM.Fabrication)
        @Html.HiddenFor(model => model.Mkt_BOM.SizeRange)
        @Html.HiddenFor(model => model.Mkt_BOM.Style)
        @Html.HiddenFor(model => model.Mkt_BOM.QPack)
        @Html.HiddenFor(model => model.Mkt_BOM.Quantity)
        @Html.HiddenFor(model => model.Mkt_BOM.UnitPrice)
        @Html.HiddenFor(model => model.Mkt_BOM.IsComplete)


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOM.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <b>
                    @Html.DisplayFor(model => model.Common_TheOrder.CID, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })/@Html.DisplayFor(model => model.Mkt_BOM.Style, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                </b>
                @Html.ValidationMessageFor(model => model.Mkt_BOM.CID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOM.IsAuthorize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span>
                    Are you sure to Authorize this Bill Of Materials. Please Check the CheckBox.
                    @Html.CheckBoxFor(model => model.Mkt_BOM.IsAuthorize, new
               {
                   htmlAttributes = new { @class = "checkbox icheck" }
               })
                </span>


                @Html.ValidationMessageFor(model => model.Mkt_BOM.IsAuthorize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

@Scripts.Render("~/plugins/iCheck/icheck.min.js")


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>