﻿
@{
   Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oss.Romo</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/dist/css/AdminLTE.min.css")
    @Styles.Render("~/plugins/datatables/dataTables.bootstrap.css")
    @Styles.Render("~/dist/css/skins/_all-skins.min.css")
    @Styles.Render("~/plugins/datepicker/datepicker3.css")
    @Styles.Render("~/Content/jquery-ui.css")

  


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
    


    <script>
                    $(document).ready(function () {
                        var url = "";
                       

                        //$("#dialog-test").dialog({
                        //    title: 'Bill Of Materials: Create',
                        //    autoOpen: true,
                        //    resizable: false,
                        //    height: 500,
                        //    width: 600,
                        //    show: { effect: 'left', direction: "up" },
                        //    modal: false,
                        //    draggable: true,
                        //    open: function (event, ui) {
                        //        $(".ui-dialog-titlebar-close").hide();
                        //        $(this).load(url);
                        //    }
                        //});

                       
                        $(".lnkEdit1").click(function (e) {

                            url = $(this).attr('href');
                            //$(".ui-dialog-title").html("Bill Of Materials: Edit");
                            //$("#dialog-test").dialog('open');
                            $("#dialog-test").load(url);
                            return false;
                        })

                       
                        //$("#btncancel").click(function (e) {
                        //    $("#dialog-test").dialog("close");
                        //    return false;
                        //})
                    });
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">

                <!-- logo for regular state and mobile devices -->
                <img src="~/Content/Images/Romo_Logo/ROMO_Group_Logo.JPG" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">User Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">Marketing</li>
                    <li class="treeview">
                        <a href="/Marketing/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-th"></i> <span>Bill Of Materials</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li><a class="lnkEdit1" href="~/Marketing/VmMkt_BOMIndexTemp"><i class="fa fa-share"></i> View</a></li>
                            <li><a class="lnkEdit1" href="~/Marketing/VmMkt_BOMCreate"><i class="fa fa-share"></i> Search</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-th"></i> <span>Purchase Orders</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            <li><a href="~/Marketing/PurchaseOrderWaiting"><i class="fa fa-share"></i>PO Waiting</a></li>
                            <li><a href="~/Marketing/PurchaseOrderReady"><i class="fa fa-share"></i> In Progress</a></li>
                            <li><a href="~/Marketing/PurchaseOrderSetteled"><i class="fa fa-share"></i>PO Complete</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-th"></i> <span>Order Scenario</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-share"></i> Search</a></li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa fa-th"></i> <span>Setting</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-share"></i> Suppliers Scenario</a></li>
                            <li><a href="~/Common/VmCommon_SupplierIndex"><i class="fa fa-share"></i> Listed Supplier</a></li>
                            <li><a href="~/Common/Common_Currency"><i class="fa fa-share"></i> Listed Currency</a></li>
                            <li><a href="~/Common/Common_Unit"><i class="fa fa-share"></i> Listed Unit</a></li>

                            <li><a href="~/Marketing/VmMkt_ItemIndex"><i class="fa fa-share"></i> Items</a></li>
                            <li><a href="~/Marketing/VmMkt_SubCategoryIndex"><i class="fa fa-share"></i>Subcategory</a></li>
                            <li><a href="~/Marketing/VmMkt_CategoryIndex"><i class="fa fa-share"></i> Category</a></li>


                        </ul>
                    </li>




                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">

                fdsdsdfsfds
                <div id="dialog-test">
                    <iframe frameborder="0" height="100%" width="100%" src="~/Marketing/VmMkt_BOMIndexTemp"></iframe> 
                </div>





                @*@RenderBody()*@
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.6
            </div>
            <strong> &copy; <a href="http://oss.com.bd">Optimum Solution and Services Ltd</a>.</strong>
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->

    </div>
    @*@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")*@
    @Scripts.Render("~/plugins/jQueryUI/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/plugins/datatables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/plugins/slimScroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/plugins/fastclick/fastclick.js")
    @Scripts.Render("~/dist/js/app.min.js")
    @Scripts.Render("~/dist/js/demo.js")
    @Scripts.Render("~/plugins/datepicker/bootstrap-datepicker.js")




    <script>
        $(function () {
            $("#example1").DataTable();

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
            //Date picker
            $('.DtFirstMove').datepicker({
                autoclose: true
            });



        });
    </script>
</body>
</html>