﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@Styles.Render("~/plugins/iCheck/square/blue.css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.ID)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.LastEditeddBy)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Raw_ItemFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Description)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Consumption)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.RequiredQuantity)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Common_UnitFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Mkt_BOMSlaveTypeFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Mkt_BOMSlaveFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Price)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Common_CurrencyFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Common_SupplierFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Mkt_BOMFK)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.IsFabric)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.Active)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.LastEdited)
        @Html.HiddenFor(model => model.Mkt_BOMStepJobs.FirstCreated)

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMStepJobs.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <input style="width:400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Raw_Item.Name)">
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMStepJobs.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    <input style="width:400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOMStepJobs.Description)">
                </div>
            </div>
        </div>

    
        @if (Model.Mkt_BOMStepJobs.IsLocked == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMStepJobs.IsLocked, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span style="color:red">
                        <b> Are you sure to Lock this Item. Please Check the Box.</b> 
                        @Html.CheckBoxFor(model => model.Mkt_BOMStepJobs.IsLocked, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    </span>
                    @Html.ValidationMessageFor(model => model.Mkt_BOMStepJobs.IsLocked, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMStepJobs.IsLocked, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span style="color:red">
                        <b> Are you sure to Unlock this Item. Please Uncheck the CheckBox.</b>
                        @Html.CheckBoxFor(model => model.Mkt_BOMStepJobs.IsLocked, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    </span>
                    @Html.ValidationMessageFor(model => model.Mkt_BOMStepJobs.IsLocked, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

@Scripts.Render("~/plugins/iCheck/icheck.min.js")


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


