﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@Styles.Render("~/plugins/iCheck/square/blue.css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Mkt_BOMSlave.ID)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.LastEditeddBy)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Raw_ItemFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Description)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Consumption)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.RequiredQuantity)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Common_UnitFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_BOMSlaveTypeFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Price)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Common_CurrencyFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Common_SupplierFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_BOMFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.IsFabric)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Active)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.LastEdited)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.FirstCreated)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_YarnCalculationFK)


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.DisplayFor(x => x.Raw_Item.Name)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.DisplayFor(x => x.Mkt_BOMSlave.Description)
                </div>
            </div>
        </div>

        <hr />
        @if (Model.Mkt_BOMSlave.IsLocked == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.IsLocked, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span style="color:red">
                        <b>  Are you sure to Lock this Item. Please Check the Box.</b>
                        @Html.CheckBoxFor(model => model.Mkt_BOMSlave.IsLocked, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    </span>
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.IsLocked, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.IsLocked, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span style="color:red">
                        <b>Are you sure to Unlock this Item. Please Uncheck the Box.</b>
                        @Html.CheckBoxFor(model => model.Mkt_BOMSlave.IsLocked, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    </span>
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.IsLocked, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}






@Scripts.Render("~/plugins/iCheck/icheck.min.js")


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

