﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Fabric Info";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
      
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        $('#dialog-edit').load($('#lnkCreate').attr('href'));
        $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">

    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
    <h1>
        Bill of Materials(Fabrics) : @Html.DisplayFor(x => x.Mkt_BOM.CID)


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Order Summary :
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.CID)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.FirstMove)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.FirstMove)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Reference)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Reference)">
                            </div>
                            @*<div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Mkt_BuyerFK)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                            </div>*@
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Mkt_ItemFK)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Item.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.SizeRange)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.SizeRange)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Style)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Style)">
                            </div>

                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.UnitPrice)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol)@Html.DisplayFor(x => x.Mkt_BOM.UnitPrice)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Quantity)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Quantity) &nbsp @Html.DisplayFor(x => x.Common_Unit.Name)">

                            </div>


                            @*<div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Common_CurrencyFK)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Common_Currency.Name)">

                            </div>*@
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Description)</span>
                                <input style="width:320px;" readonly="readonly" type="text" class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Description)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Class)</span>
                                <input style="width:320px;" type="text" readonly class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Class)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Fabrication)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Fabrication)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.QPack)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.QPack)">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

                <section>
                    <h3>
                        Item List
                        (&nbsp;<a href="~/Marketing/VmMkt_BOMFabricCreate/@Model.Mkt_BOM.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>

                <div class="table-responsive">
                   
                    @{
                        int sl = 0;
                    }
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Item ID</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Consumption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalRequired)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalItem_Price)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Common_Supplier.Name)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_BOMSlave.DataList)
                            {
                                <tr>
                                    <td><b>@(++sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(x => x.Mkt_BOM.CID)/TEMP/@Html.DisplayFor(modelItem => item.Raw_Item.ID)/01/03
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalRequired)
                                        @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                        @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalItem_Price)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("..", "VmMkt_BOMFabricEdit", new { id =Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                        @Html.ActionLink(".", "VmMkt_BOMFabricDelete", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) + "م" + Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString()) }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                        &nbsp;
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
               

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>


