﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Fabric Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";
        

        $("#dialog-edit").dialog({
           
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
           autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Fabrication.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Fabric. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Fabric.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
      
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
       //$('#dialog-edit').load($('#lnkCreate').attr('href'));
       // $('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
</div>

<section class="content-header">
    <h1>
        Fabrication: &nbsp;&nbsp;

        @*Fabric : (&nbsp;<a href="VmMkt_BOMSlaveCreate  id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Fabrication
        @*<li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>*@
    </ol>
</section>
<th>&nbsp;</th>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By Item ID"} })
                   
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }
            @*<div class="box-header">
                <h3 class="box-title"></h3>
            </div>*@
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>SL</th>
                            <th>Item ID</th>
                           @*<th>
                                 @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Raw_ItemFK)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Description)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Consumption)
                            </th>*@                          
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.RequiredQuantity)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalItem_Price)

                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Common_SupplierFK)
                            </th>*@
                            <th>
                                Action
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
            {
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                </td>*@                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.RequiredQuantity)
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.Total_Price)

                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>*@
                                <td>
                                    @Html.ActionLink(".", "AddFabricItem", new { id = item.Mkt_BOMSlave.ID }, new { target = "_blank", @class = "glyphicon glyphicon-zoom-in" })
                                    @Html.ActionLink(".", "FabricReportDoc", new { id = item.Mkt_BOMSlave.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })

                                    @*@Html.ActionLink(".", "VmMkt_BOMSlaveDelete", new { id = item.Mkt_BOMSlave.ID + "x" + Model.Mkt_BOM.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })*@
                                    &nbsp;
                                </td>
                                
                            </tr>
                        }
                        
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>




