﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BOM Details";
    decimal? TotalPrice = 0;
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkLock").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-lock').load($('.lnkLock').attr('href'));


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h3>
        <b>Bill of Materials</b>: @Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)
    </h3>
    <ol class="breadcrumb" style="padding-top:60px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.Style)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Order Summary : @Html.ActionLink(".", "BOMReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString()) }, new { @title = "Bill of Materials Report", target = "_blank", @class = "glyphicon glyphicon-print" })
                            &nbsp;||&nbsp;
                            @Html.ActionLink("CBS", "CBSReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString()) }, new { @title = "Bill of Materials Report", target = "_blank", @class = "glyphicon" })


                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.CID)</span>
                                @*<input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.CID)@Html.DisplayFor(x => x.Mkt_BOM.Style)">*@
                                <textarea style="width:320px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)</textarea>
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.FirstMove)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.FirstMove)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Reference)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Reference)">
                            </div>
                            @*<div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Mkt_BuyerFK)</span>
                                    <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Buyer.Name)">
                                </div>*@
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Mkt_ItemFK)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Item.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.SizeRange)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_BOM.SizeRange)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Style)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Style)">
                            </div>

                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.UnitPrice)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol)@Html.DisplayFor(x => x.Mkt_BOM.UnitPrice)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Quantity)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Quantity)">

                            </div>


                            @*<div class="input-group">
                                    <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Common_CurrencyFK)</span>
                                    <input style="width:320px;" type="text"  readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Common_Currency.Name)">

                                </div>*@

                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Description)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Description)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Class)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_BOM.Class)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Fabrication)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_BOM.Fabrication)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.QPack)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value='@String.Format("{0:0}",Model.Mkt_BOM.QPack)'>
                            </div>

                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>
                @{

                    string total = "", commission = "", totalCM = "", totalFOB = "", cMperDZ = "", totalQDZ = "", groupWiseTotalPrice = "";
                }

                @foreach (var x in Model.BOMReportDoc)
                {
                    total = x.SubBody1;
                    commission = x.SubBody8;
                    totalCM = x.SubBody6;
                    totalFOB = x.SubBody3;
                    cMperDZ = x.SubBody7;
                    totalQDZ = x.SubBody4;
                    groupWiseTotalPrice = x.Body13;
                }
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action table-bordered">
                        <tr style="background-color:#e5e5e5;border-color:#d2d6de;">
                            <th>
                                Total
                            </th>
                            <th>
                                Commission
                            </th>
                            <th>
                                Total CM
                            </th>
                            <th>
                                Total FOB
                            </th>
                            <th>
                                CM per DZ
                            </th>
                            <th>
                                Total Qty In DZ
                            </th>
                            <th>
                                Group Wise Total Price
                            </th>
                        </tr>
                        <tr>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => total)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => commission)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => totalCM)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => totalFOB)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => cMperDZ)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => totalQDZ)
                            </td>
                            <td class="text-navy text-bold">
                                @Html.DisplayFor(modelItem => groupWiseTotalPrice)
                            </td>
                        </tr>
                    </table>
                </div>
                @if (!Model.Common_TheOrder.IsComplete)
            {
                    <section>
                        <h3>
                            Item
                            (&nbsp;<a href="~/Marketing/VmMkt_BOMSlaveCreate/@Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString())" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                        </h3>
                    </section>
                }

                @{
                    int Sl = 0;
                }
                <div class="table-responsive">
                    <table id="mktBomTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Raw_Category.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Consumption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalRequired)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Mkt_BOMSlave.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.TotalItem_Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_BOMSlave.Common_Supplier.Name)
                                </th>
                                @if (!Model.Common_TheOrder.IsComplete)
                                {
                                    <th>
                                        Action
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_BOMSlave.DataList)
                            {


                                if (item.Mkt_PO != null)
                                {
                                    if (item.Mkt_PO.IsAuthorize == true)
                                    {
                                        decimal? totalPrice = item.TotalItem_Price;
                                        if (totalPrice != 0)
                                        {
                                            TotalPrice += totalPrice;
                                        }
                                        <tr>

                                            <td style="background-color: #CCFF99;" title="Completed"><b>@(++Sl).</b></td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Raw_Category.Name)
                                            </td>
                                            <td>
                                                <a href="~/marketing/BOMSlaveFabricsPurchaseAndProcessing/@Html.DisplayFor(modelItem => item.Mkt_BOMSlave.ID)=@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)">@Html.DisplayFor(modelItem => item.Raw_Item.Name)</a>


                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.RequiredQuantity)
                                                @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)
                                            </td>
                                            <td>
                                                
                                                @Html.DisplayFor(modelItem => item.TotalItem_Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                            </td>
                                            @if (!Model.Common_TheOrder.IsComplete)
                                            {
                                                if (item.Mkt_BOMSlave.IsLocked == false)
                                                {
                                                    <td>
                                                        @if (Model.User_User.User_AccessLevelFK == 2)
                                                        {
                                                            @Html.ActionLink(".", "VmMkt_BOMSlaveEdit", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                                            @Html.ActionLink(".", "VmMkt_BOMSlaveDelete", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) + "尺" + Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString()) }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                                            @Html.ActionLink(".", "LockedBOMSlave", new { id = item.Mkt_BOMSlave.ID }, new { @class = "lnkLock fa fa-unlock" })
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (Model.User_User.User_AccessLevelFK == 2)
                                                        {
                                                            @Html.ActionLink(".", "LockedBOMSlave", new { id = item.Mkt_BOMSlave.ID }, new { @title = "Lock", @class = "lnkLock fa fa-lock" })
                                                        }
                                                        @if (Model.User_User.User_AccessLevelFK != 2 && item.Mkt_BOMSlave.IsLocked == true)
                                                        {
                                                            <span style="color: crimson; font-size: 16px">Finalized</span>
                                                        }
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        if (item.Mkt_BOMSlave.Mkt_YarnCalculationFK != 0)
                                        {
                                            int rer = item.Mkt_BOMSlave.Mkt_YarnCalculationFK;
                                            //int err = item.Mkt_YarnCalculation.ID;
                                        }
                                        decimal? totalPrice = item.TotalItem_Price;
                                        if (totalPrice != 0)
                                        {
                                            TotalPrice += totalPrice;
                                        }
                                        int dsad = 0;

                                        <tr>
                                            <td style="background-color: #FFFF99;" title="Ongoing"><b>@(++Sl).</b></td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.Raw_Category.Name)
                                            </td>

                                            <td>
                                                <a href="~/marketing/BOMSlaveFabricsPurchaseAndProcessing/@Html.DisplayFor(modelItem => item.Mkt_BOMSlave.ID)=@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)">@Html.DisplayFor(modelItem => item.Raw_Item.Name)</a>




                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.RequiredQuantity)
                                                @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                                @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalItem_Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                            </td>
                                            @if (!Model.Common_TheOrder.IsComplete)
                                            { 
                                            if (item.Mkt_BOMSlave.IsLocked == false)
                                            {
                                                    <td>
                                                        @if (item.Raw_Category.ID != 1013)
                                                        {
                                                            @Html.ActionLink(".", "VmMkt_BOMSlaveEdit", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                                            @Html.ActionLink(".", "VmMkt_BOMSlaveDelete", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) + "尺" + Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString()) }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                                        }

                                                        @if (Model.User_User.User_AccessLevelFK == 2)
                                                        {
                                                            @Html.ActionLink(".", "LockedBOMSlave", new { id = item.Mkt_BOMSlave.ID }, new { @title = "Unlock", @class = "lnkLock fa fa-unlock" })
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @if (Model.User_User.User_AccessLevelFK == 2)
                                                        {
                                                            @Html.ActionLink(".", "LockedBOMSlave", new { id = item.Mkt_BOMSlave.ID }, new { @title = "Lock", @class = "lnkLock fa fa-lock" })
                                                        }
                                                        @if (Model.User_User.User_AccessLevelFK != 2 && item.Mkt_BOMSlave.IsLocked == true)
                                                        {
                                                            <span style="color: crimson; font-size: 16px">Finalized</span>
                                                        }
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }

                                }
                                else
                                {


                                    if (item.Mkt_BOMSlave.Mkt_YarnCalculationFK != 0)
                                    {
                                        int rer = item.Mkt_BOMSlave.Mkt_YarnCalculationFK;
                                        //int err = item.Mkt_YarnCalculation.ID;
                                    }

                                    decimal? totalPrice = item.TotalItem_Price;
                                    if (totalPrice != 0)
                                    {
                                        TotalPrice += totalPrice;
                                    }

                                    int dsad = 0;
                                    <tr>
                                        <td title="Purchase Orders not create yet"><b>@(++Sl).</b></td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raw_Category.Name)
                                        </td>
                                        <td>
                                            <a href="~/marketing/BOMSlaveFabricsPurchaseAndProcessing/@Html.DisplayFor(modelItem => item.Mkt_BOMSlave.ID)=@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)">@Html.DisplayFor(modelItem => item.Raw_Item.Name)</a>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.RequiredQuantity)
                                            @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                            @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalItem_Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                        </td>



                        @if (!Model.Common_TheOrder.IsComplete)
                        {
                            if (item.Mkt_BOMSlave.IsLocked == false)
                            {
                                <td>
                                    @if (item.Raw_Category.ID != 1013)
                                    {
                                        @Html.ActionLink(".", "VmMkt_BOMSlaveEdit", new {id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString())}, new {@title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil"})
                                        @Html.ActionLink(".", "VmMkt_BOMSlaveDelete", new {id = Model.VmControllerHelper.Encrypt(item.Mkt_BOMSlave.ID.ToString()) + "尺" + Model.VmControllerHelper.Encrypt(Model.Mkt_BOM.ID.ToString())}, new {@title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash"})
                                    }

                                    @if (Model.User_User.User_AccessLevelFK == 2)
                                    {

                                        @Html.ActionLink(".", "LockedBOMSlave", new {id = item.Mkt_BOMSlave.ID}, new {@title = "Unlock", @class = "lnkLock fa fa-unlock"})
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    @if (Model.User_User.User_AccessLevelFK == 2)
                                    {

                                        @Html.ActionLink(".", "LockedBOMSlave", new {id = item.Mkt_BOMSlave.ID}, new {@title = "Lock", @class = "lnkLock fa fa-lock"})

                                    }

                                    @if (Model.User_User.User_AccessLevelFK != 2 && item.Mkt_BOMSlave.IsLocked == true)
                                    {
                                        <span style="color: crimson; font-size: 16px">Finalized</span>
                                    }
                                </td>
                            }
                        }
                                    </tr>
                                }


                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th colspan="6">Total</th>

                                <th>
                                    @*@string.Format("{0:0.00}", TotalPrice)*@
                                    <span id="TotalBomSlave">
                                        <strong>

                                        </strong>
                                    </span>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
