﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
   
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.PageType)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_PO.Mkt_BOMFK, ViewBag.BomCID as SelectList, "---Select Style No---", new {@id = "BOMCIDWithStyle", @class = "SerchingDropDown form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>
        
      <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Date, new { htmlAttributes = new { @id= "Date", @class = "calendarControl form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_PO.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @id= "CurrencyType", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CurrencyRate, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CurrencyRate, new { htmlAttributes = new { @readonly = "true", @id = "CurrencyRate", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.CurrencyRate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.StatusId, ViewBag.Status as SelectList, "---Select T & C Title---", new { @id= "StatusId", @class = "form-control dropdown ol-md-6 col-xs-6" })
                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_PO.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new {@id = "Common_SupplierID", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_PO.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_PO.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_PO.CID, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_PO.CID, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}


<script>
    //$(function () {
    //    $("#BOMCIDWithStyle").change(function () {
    //        var bomId = $("#BOMCIDWithStyle").val();
    //        //alert(bomId);
    //        if (bomId != '') {
    //            document.getElementById("Common_SupplierID").innerHTML = "";
    //            $.get("../Helper/GetBOMWiseSupplierDD", { ID: bomId }, function (data) {
    //                $.each(data, function (index, row) {
    //                    $("#Common_SupplierID").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
    //                });
    //            });
    //        }
    //        else {
    //            document.getElementById("Common_SupplierID").innerHTML = "";
    //        }
    //    });
    //});

  


     $(function () {
        $("#StatusId").change(function () {

            var statusId = $("#StatusId").val();
            if (statusId != '') {

                $.get("@Url.Action("GetStatusDetails", "Helper")", { ID: statusId }, function (data) {
                    //$('#Mkt_PO_Description').val('');
                    $("#Mkt_PO_Description").append(data);
                });
            }
        });
        $("#CurrencyType").change(function () {
            var currencyType = $("#CurrencyType").val();
            var date = $("#Date").val();
            //alert(supplierId);
            if (currencyType !== '') {
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
                $.get("@Url.Action("GetDateWiseCurrencyRate", "Helper")", { ID: currencyType, date: date }, function (data) {
                    document.getElementById("CurrencyRate").readOnly = false;
                    $("#CurrencyRate").val(data.CurrencyRate);
                    document.getElementById("CurrencyRate").readOnly = data.ReadOnly;
                });
            }
            else {
                document.getElementById("CurrencyRate").readOnly = false;
                document.getElementById("CurrencyRate").innerHTML = "1";
                document.getElementById("CurrencyRate").readOnly = true;
            }
            document.getElementById("StatusId").focus();
        });
        $("#Date").change(function () {
            $("#CurrencyType").trigger('change');
            document.getElementById("CurrencyType").focus();
        });
    });
</script>