﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Purchase Order List";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Authorize").dialog({
            title: 'Purchase Order: Authorize',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkAuthorize").click(function (e) {
            $(".ui-dialog-titlebar").html("To Authorize this Purchase Order <button type='button'  style='float: right;' class='btncancelAuthorizePO'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-Authorize").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order: Delete");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        $(".btncancelConfirm").click(function (e) {
            $("#dialog-confirm").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-Authorize').load($('.lnkAuthorize').attr('href'));
    });
</script>

<div id="dialog-Authorize" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>



<section class="content-header">
    @if (Model.Header == "Purchase Orders")
    {
        <h1>
            @Model.Header
        </h1>

    }
    else
    {
        <h1>
            Purchase Orders:
            (&nbsp; <a href="PurchaseOrdersCreate" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a> &nbsp;)
        </h1>
    }
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Purchase Orders</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            @{ Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By PO ID" } })

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }
            @{
                int sl = 0;
            }

            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            <th>
                                @Html.DisplayName("PO Value")
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Status)
                                </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.IsAuthorize)
                            </th>
                            @if (Model.Header != "Purchase Orders")
            {
                                <th>
                                    Action
                                </th>
                            }

                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            <th>
                                @Html.DisplayName("PO Value")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.IsAuthorize)
                            </th>
                            @if (Model.Header != "Purchase Orders")
            {
                                <th>
                                    Action
                                </th>
                            }

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_Value)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>

                                @{
                                    if (item.Mkt_PO.Mkt_BOMFK == 1)
                                    {
                                        <td>
                                            <h4>
                                                <span class="text-red">
                                                    There are no buyer order
                                                </span>
                                            </h4>
                                        </td>
                                    }
                                    else

                                    {
                                        <td>
                                            <a href="Mkt_BOMSlaveItem/@Html.DisplayFor(modelItem => item.Mkt_PO.Mkt_BOMFK)" class="ItemChildCSS" target="_blank">
                                                @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                            </a>
                                        </td>
                                    }


                                }




                                <td>
                                    <div style="padding: 0px 50px" class="center">
                                        @if (item.Mkt_PO.IsAuthorize == true)
                                        {
                                            <span class="label label-success">Approved</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Unauthorize</span>
                                        }

                                    </div>
                                </td>
                                @if (Model.Header != "Purchase Orders")
                {
                                <td class="col-sm-2">
                                    @if (item.Mkt_PO.IsAuthorize == false)
                                    {
                                        @Html.ActionLink(".", "PurchaseOrdersEdit", new { id = item.Mkt_PO.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" })
                                        @Html.ActionLink(".", "PurchaseOrdersDelete", new { id = item.Mkt_PO.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                    }

                                    @Html.ActionLink(".", "PurchaseOrdersSlave", new { id = item.Mkt_PO.ID + "x" + item.Mkt_PO.Common_SupplierFK + "y" + item.Mkt_PO.Mkt_BOMFK }, new { @title = "PO Details", target = "_blank", @class = "glyphicon glyphicon-new-window" })&nbsp;
                                    @Html.ActionLink(".", "POReportDoc", "Marketing", new { id = item.Mkt_PO.ID }, new { @title = "PO Report", @target = "_blank", @class = "glyphicon glyphicon-print" })
                                    @Html.ActionLink(".", "POInventoryReport", "Common", new { id = item.Mkt_PO.ID }, new { @title = "PO Inventory Report", @target = "_blank", @class = "glyphicon glyphicon-print" })


                                    @if (item.Mkt_PO.IsAuthorize == true && u.User_User.User_AccessLevelFK == 2 && u.User_User.User_DepartmentFK == 3)
                                    {
                                        @Html.ActionLink("Unauthorize", "ChangePOAuthorizationStatus", new { id = item.Mkt_PO.ID }, new { @title = "UnAuthoriztion", @class = "lnkunAuthorize UnauthorizeCss" });

                                    }
                                </td>
                                }

                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
