﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Authorized PO";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
           autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order Authorization.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Authorize this Purchase Order?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>



<section class="content-header">
    @if (Model.Header == "Purchase Orders")
    {
        <h1>
            @Model.Header
        </h1>


    }
    else
    {
        <h1>
            Purchase Orders:
            (&nbsp; <a href="PurchaseOrdersCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
        </h1>
    }
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Purchase Orders</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">

            @using (Html.BeginForm())
            {

                <div class="input-group margin col-md-3">
                    @Html.EditorFor(model => model.SearchString, new { htmlAttributes = new { @class = "form-control", placeholder = "Search By PO ID" } })

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>

            }
            @{
                int sl = 0;
            }

            <!-- /.box-header -->


            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL.</th>

                            <th>
                                @Html.DisplayNameFor(model => model.User_User.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.CID)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.Date)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Description)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_PO.Status)
                                </th>*@

                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_PO.IsAuthorize)
                            </th>
                            @if (Model.Header != "Purchase Orders")
                            {
                                <th>
                                    Authorization
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_User.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.Date)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Description)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_PO.Status)
                                    </td>*@

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)

                                </td>
                                <td>
                                    <div style="padding:0px 50px" class="center">
                                        @if (item.Mkt_PO.IsAuthorize == true)
                                        {
                                            <span class="label label-success">Authorize</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Unauthorize</span>
                                        }

                                    </div>
                                </td>
                                @if (Model.Header != "Purchase Orders")
                                {
                                    <td>
                                        @Html.ActionLink(".", "ChangePOAuthorizationStatus", new { id = item.Mkt_PO.ID }, new { @class = "lnkDelete glyphicon glyphicon-ok" }) &nbsp;

                                    </td>
                                }



                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>



















