﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_PO
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Purchase Order Details";
}


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-Authorize").dialog({
            title: 'Purchase Order: Create',
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirm").dialog({
            title: 'Delete',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmTransfer").dialog({
            title: 'Transfer',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#Requisition-Item-Create").dialog({
            title: 'Add New Item',
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-titlebar").html("Item Edit. <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })
        $(".lnkAuthorize").click(function (e) {
            $(".ui-dialog-titlebar").html("To Authorize this Purchase Order  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-Authorize").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $("#POAlsoTransferItemCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Transfer Item  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#LoadingBar").show();
            $("#Requisition-Item-Create").dialog('open');


            return false;
        });
        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkTransfer").click(function (e) {
            $(".ui-dialog-titlebar").html("Also A Transfer.");
            url = $(this).attr('href');
            $("#dialog-confirmTransfer").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="Requisition-Item-Create" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-Authorize" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-confirmTransfer" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Also A Transfer?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Purchase Orders : @Html.DisplayFor(x => x.Mkt_PO.CID)
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/PurchaseOrders">Purchase Orders</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_PO.CID)</li>
        @*<li>@Html.ActionLink(".", "POReportView", "Marketing", new { id = Model.Mkt_PO.ID }, new { @target = "_blank", @class = "glyphicon glyphicon-print" })</li>*@
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            @{ Oss.Romo.ViewModels.User.VmUser_User u = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
                            Order Summary :
                            @*@if (Model.Mkt_PO.IsAuthorize == true)
                                {*@
                            @Html.ActionLink(".", "POReportDoc", "Marketing", new { id = Model.Mkt_PO.ID }, new { @title = "Purchase order Report", @target = "_blank", @class = "glyphicon glyphicon-print" })
                            @*}*@
                            @if (Model.Mkt_PO.IsAuthorize != true && u.User_User.User_AccessLevelFK == 2)
                            {
                                @Html.ActionLink(".", "ChangePOAuthorizationStatus", new { id = Model.Mkt_PO.ID }, new { @title = "Authorize", @class = "lnkAuthorize AuthorizeCss glyphicon glyphicon-user" });
                            }
                            @if (Model.Mkt_PO.AlsoATransfer == false)
                            {
                                @Html.ActionLink(".", "AlsoATransferMktPo", "Marketing", new { id = Model.Mkt_PO.ID,
                               returnurl = "PurchaseOrdersSlave/" + Model.Mkt_PO.ID + "x" + Model.Mkt_PO.Common_SupplierFK + "y" + Model.Mkt_PO.Mkt_BOMFK
                           },
                               new { @title = "Also A Transfer", @class = "lnkTransfer glyphicon glyphicon-random" })
                            }
                        </h3>
                    </div>
                    <div class="row">

                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.CID)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.CID)">
                            </div>
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Common_Supplier.Name)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Supplier.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Date)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_PO.Date)">
                            </div>

                            <div class="input-group">
                                <span style="width:140px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_PO.Description)</span>
                                <input style="width:300px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_PO.Description)">
                            </div>


                        </div>

                        <div class="box-body col-md-5">


                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_BOM.Style)</span>
                                @*<input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)">*@
                                <textarea style="width:320px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.Common_TheOrder.CID)@Html.DisplayFor(x => x.Mkt_BOM.Style)</textarea>
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.TotalVal)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Common_Currency.Symbol) @Html.DisplayFor(x => x.TotalVal)">
                            </div>


                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>



                <div class="table-responsive">

                </div>
                <section>
                    <h3>
                        Item
                        @*(&nbsp;<a href="~/Marketing/VmMktPO_SlaveCreate/@Model.Mkt_PO.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a>&nbsp;)*@
                    </h3>
                </section>
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>
                                Item Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Raw_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Description)
                            </th>

                            @*<th>
                                    @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Consumption)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.TotalRequired)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Common_Unit.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMktPO_Slave.Mkt_POSlave.Price)
                            </th>
                            <th>
                                Line Total
                            </th>
                            @if (Model.Mkt_PO.IsAuthorize != true || u.User_User.User_AccessLevelFK == 2)
                            {
                                <th>
                                    Action
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VmMktPO_Slave.DataList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_PO.CID)/@Html.DisplayFor(modelItem => item.Raw_Item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.Consumption)
                                    </td>*@
                                @*class="pull-right"*@
                                <td>
                                    <span style="padding-right:70px" class="pull-right">
                                        @Html.DisplayFor(modelItem => item.Mkt_POSlave.TotalRequired)
                                    </span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.Mkt_POSlave.Price)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.LineTotal)

                                </td>
                                @if (Model.Mkt_PO.IsAuthorize != true || u.User_User.User_AccessLevelFK == 2)
                                {
                                    <td>
                                        @*@Html.ActionLink(".", "VmMktPOSlaveEdit", new { id = item.Mkt_POSlave.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;*@



                                        @Html.ActionLink(".", "VmMkt_POSlaveDelete", new { id = item.Mkt_POSlave.ID + "z" + Model.Mkt_PO.ID + "x" + Model.Mkt_PO.Common_SupplierFK + "y" + Model.Mkt_PO.Mkt_BOMFK }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })





                                        &nbsp;

                                    </td>
                                }
                            </tr>
                        }

                    </tbody>

                </table>


                @{
                    int sl = 0;
                    decimal? total = 0;
                }

                @if (Model.Mkt_PO.AlsoATransfer)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- /.box -->
                            <div class="box">
                                <div class="box-header">
                                    <h3>
                                        Add Items To Transfer
                                        (&nbsp;<a href="~/Store/POAlsoTransferItemCreate/@Model.Mkt_PO.ID?returnurl=@Model.VmMkt_POExtTransfer.ReturnController" id="POAlsoTransferItemCreate"><i title="Add Items" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                                    </h3>
                                </div>
                                <div class="box-body">

                                    <div class="table-responsive">
                                        <table id="DataTable1" class="table table-striped jambo_table bulk_action">
                                            <thead>
                                                <tr>
                                                    <th style="width: 15px">SL</th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.VmMkt_POExtTransfer.Raw_Item.Name)
                                                    </th>
                                                    <th style="width: 80px">
                                                        Send Quantity
                                                    </th>

                                                    <th style="width: 20px">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model.VmMkt_POExtTransfer.DataList)
                                                {
                                                    total += item.Mkt_POExtTransfer.TotalRequired;
                                                    <tr>
                                                        <td style="width: 15px">
                                                            @(++sl)
                                                        </td>

                                                        @if (item.Mkt_POExtTransfer.Mkt_POSlaveFK != 1)
                                                        {
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Raw_Item.Name) | @Html.DisplayFor(modelItem => item.Mkt_POSlave.Description) (@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style))
                                                            </td>
                                                        }
                                                        else if (item.Mkt_POExtTransfer.Raw_ItemFK != 1)
                                                        {
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                                            </td>
                                                        }
                                                        else if (item.Mkt_POExtTransfer.Prod_TransitionItemInventoryFK != 1)
                                                        {
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Prod_TransitionItemInventory.ItemName) (@Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style))
                                                            </td>
                                                        }

                                                        <td style="width: 80px">
                                                            @String.Format("{0:0.00}", item.Mkt_POExtTransfer.TotalRequired)
                                                            @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                                        </td>
                                                        <td style="width: 20px">
                                                            @Html.ActionLink(".", "POAlsoTransferItemEdit", "store", new { id = item.Mkt_POExtTransfer.ID, returnurl = @Model.VmMkt_POExtTransfer.ReturnController }, new { title = "PO Edit", @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                                            @Html.ActionLink(".", "POAlsoTransferItemDelete", "store", new { id = item.Mkt_POExtTransfer.ID + "x" + Model.Mkt_PO.ID, returnurl = @Model.VmMkt_POExtTransfer.ReturnController }, new { title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th>Total</th>
                                                    <th>@String.Format("{0:0.00}", total)</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                }



            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<style>
    .AuthorizeCss:hover {
        background-color: greenyellow;
        color: white;
        padding: 4px;
    }
</style>