﻿@*@model Oss.Romo.ViewModels.Marketing.VmMkt_PO*@
@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "PO Waiting";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";
     

        $("#dialog-edit").dialog({
           autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });
        $("#dialog-confirmU").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

     
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order : Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order : Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();

            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order :Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            $(".ui-dialog-titlebar").html("Purchase Order : finalize  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-confirmU").dialog('open');

            return false;
        })
      
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-confirmU" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to finalize?
    </p>
</div>
<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<section class="content-header">
    <h1>
        Item : Waiting 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Marketing</a></li>
        <li class="active">Item Waiting</li>
    </ol>
</section>
<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Item ID</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raw_Item.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Consumption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalRequired)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalItem_Price)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    @Html.DisplayFor(x => x.Mkt_BOM.CID)/TEMP/@Html.DisplayFor(modelItem => item.Raw_Item.ID)/01/03
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Consumption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalRequired)
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlave.Price)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalItem_Price)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.ActionLink(".", "", new { id = item.Mkt_BOMSlave.ID }, new { @class = "lnkDelete glyphicon glyphicon-ok" }) &nbsp;
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>            
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>