﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
 Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title"></h3>
    </div>
    <!-- /.box-header -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="box-body table-responsive no-padding">


            <table id="example1" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Raw_Item.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Consumption)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Mkt_BOMSlave.Price)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Common_Supplier.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalRequired)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalItem_Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Select)
                        </th>
                        @*<th>
                                Action
                            </th>*@

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DataList.ToList().Count(); i++)
                {
                        <tr>
                            <td> &nbsp;</td>
                            <td>
                                @Html.HiddenFor(model => model.DataList.ToList()[i].Mkt_BOMSlave.ID)
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Mkt_BOM.CID)
                            </td>


                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Raw_Item.Name)
                            </td>


                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Mkt_BOMSlave.Description)
                            </td>


                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Mkt_BOMSlave.Consumption)
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Common_Unit.Name)
                            </td>


                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Common_Currency.Symbol)
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Mkt_BOMSlave.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].Common_Supplier.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].TotalRequired)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DataList.ToList()[i].TotalItem_Price)
                            </td>



                            <td>
                                @Html.EditorFor(model => model.DataList.ToList()[i].Select)

                            </td>
                        </tr>
                    }

                </tbody>



            </table>
            <div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"></div>
                    <p style="margin-left:150px">
                        <input type="submit" value="Show" class="btn btn-success" />
                        @*<input type="button" value="Cancel" id="btncancel" class="btn btn-primary" />*@

                    </p>
                </div>
            </div>

        </div>
    <!-- /.box-body -->
    }
</div>