﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Yarn Calculation Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Yarn Add.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Yarn Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        });

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Yarn Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h3>
        <b>Yarn</b> : @Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)
    </h3>
    <ol class="breadcrumb" style="padding-top:60px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="~/Common/VmCommon_TheOrderIndex">Yarn</a></li>
        <li class="active"></li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            <div class="box-body">
                <div class="box-body">
                    <table class="table table-bordered">

                        <tbody>

                            <tr>
                                <th style="width: 20%;background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.CID)
                                </th>
                                <th style="width: 30%">
                                    @Html.DisplayFor(x => x.Common_TheOrder.CID)@Html.DisplayFor(x => x.Mkt_BOM.Style)
                                </th>
                                <th style="width: 20%;background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Mkt_ItemFK)
                                </th>
                                <th style="width: 30%">
                                    @Html.DisplayFor(x => x.Mkt_Item.Name)
                                </th>
                            </tr>

                            <tr>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.FirstMove)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.FirstMove)
                                </th>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Reference)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Reference)
                                </th>


                            </tr>

                            <tr>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.SizeRange)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.SizeRange)
                                </th>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.QPack)
                                </th>
                                <th>
                                    @String.Format("{0:0}", Model.Mkt_BOM.QPack)
                                    
                                </th>

                            </tr>
                            <tr>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Quantity)
                                </th>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.UnitPrice)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Common_Currency.Symbol)@Html.DisplayFor(x => x.Mkt_BOM.UnitPrice)
                                </th>

                            </tr>
                            <tr>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Fabrication)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Fabrication)
                                </th>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Style)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Style)
                                </th>
                            </tr>
                            <tr>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Class)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Class)
                                </th>
                                <th style="background-color: #F0FFFF">
                                    @Html.DisplayNameFor(x => x.Mkt_BOM.Description)
                                </th>
                                <th>
                                    @Html.DisplayFor(x => x.Mkt_BOM.Description)
                                </th>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <div class="box">
            <section class="content-header">
                <h1>
                    Yarn : &nbsp;&nbsp;
                    (&nbsp; <a href="../VmMkt_YarnCalculationCreate/@Model.Mkt_BOM.Common_TheOrderFk=@Model.Mkt_BOM.ID" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)

                    &nbsp;&nbsp;<a target="_blank" href="../YarnCalculationReport/@Model.Mkt_BOM.ID" id="lnkCreate"><i class="glyphicon glyphicon-print"></i></a>
                </h1>
            </section>
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>

                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.ReferenceNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Combo)
                            </th>
                            @if (Model.Mkt_BOM.IsNew == true)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnType.Name)
                                </th>
                            }

                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Fabrication)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.GSM)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Raw_ItemFK)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.FinishDIA)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.QntyPcs)
                            </th>
                            <th>
                                ORDER QTY IN DOZ
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Consumption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.FinishFabric)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.ProcessLoss)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.YarnQnty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Lycra)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.TotalLycra)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.TotalYarn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Common_Supplier.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.VmMkt_YarnCalculation.Mkt_YarnCalculation.Price)

                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VmMkt_YarnCalculation.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.ReferenceNo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Combo)
                                </td>
                                @if (Model.Mkt_BOM.IsNew == true)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_YarnType.Name)
                                    </td>
                                }

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Fabrication)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.GSM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.FinishDIA)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.QntyPcs)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QtyDZ)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Consumption)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.FinishFabric)
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.ProcessLoss)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YarnQnty)
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                @{
                                    if (item.Mkt_YarnCalculation.Lycra == 0)
                                    {
                                        <td>
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Lycra)
                                        </td>
                                    }

                                    if (item.TotalLycra == 0)
                                    {
                                        <td>
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalLycra)
                                            @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                        </td>
                                    }
                                }


                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalYarn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_YarnCalculation.Price)
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)

                                </td>
                                <td>
                                    @Html.ActionLink(".", "VmMkt_YarnCalculationEdit", new { id = item.Mkt_YarnCalculation.ID + "x" + Model.Mkt_BOM.Common_TheOrderFk }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmMkt_YarnCalculationDelete", new { id = item.Mkt_YarnCalculation.ID + "x" + Model.Mkt_BOM.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                                    }

                    </tbody>
                    <thead>
                        <tr>
                            <th> &nbsp;</th>

                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            @if (Model.Mkt_BOM.IsNew == true)
                            {
                                <th>
                                    &nbsp;
                                </th>
                            }

                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>

                            <th colspan="2">
                                TOTAL
                            </th>

                            <th>
                                &nbsp;
                            </th>
                            <th>
                                @Model.VmMkt_YarnCalculation.TotalFinishFabric.ToString("F")
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                @Model.VmMkt_YarnCalculation.TotalYarnQnty.ToString("F")
                            </th>
                            <th>
                                &nbsp;
                            </th>


                            <th>
                                @Model.VmMkt_YarnCalculation.TotalTotalLycra.ToString("F")
                            </th>
                            <th>
                                @Model.VmMkt_YarnCalculation.TotalTotalYarn.ToString("F")
                            </th>
                            <th>
                                &nbsp;
                            </th>

                            <th>
                                &nbsp;

                            </th>

                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                </table>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
<!-- /.col -->
