﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_Item

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownList("MktCategory", ViewBag.MktCategory as SelectList, "--Select Category--", new {@id= "MktCategory", @class = "form-control dropdown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_Category.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Item.Mkt_SubCategoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_Item.Mkt_SubCategoryFK, new SelectList(string.Empty, "Value", "Text"), "--Select SubCategory--", new { @id = "MktSubCategory", @class = "form-control dropdown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_Item.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Item.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_Item.Name, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_Item.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>
    $(function () {
        $("#MktCategory").change(function () {
            var catid = $("#MktCategory").val();
            //alert(catid);
            if (catid != '') {
                document.getElementById("MktSubCategory").innerHTML = "";
                $.get("../Helper/GetMKT_SubCategory", { ID: catid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#MktSubCategory").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("MktSubCategory").innerHTML = "";
            }
        });
    });
    
</script>