﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlaveFabric

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BOM Fabric Details";
}
<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";
      

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
           autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        
        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Fabrication: Create.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Fabrication: Edit.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
           $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Fabrication Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            $(".ui-dialog-titlebar").html("Fabrication Complete.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-confirmU").dialog('open');

            return false;
        })
        
        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
       // $('#dialog-edit').load($('.lnkEdit').attr('href'));
    });
</script>

<div id="dialog-confirmU" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to Complete?
    </p>
</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">  
    <h1>
        Fabrication: &nbsp;&nbsp;
        (&nbsp; <a title="Add Fabric Item" href="VmMkt_BOMSlaveFabricCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1> 
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Marketing/Dashboard">Marketing</a></li>
        <li class="active">Fabrication</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                      
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Raw_ItemFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Consumption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Common_UnitFK)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Price)
                            </th>                        
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Common_SupplierFK)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.Mkt_BOMSlaveFabric.Mkt_BOMSlaveFK)
                            </th>*@                         
                            <th>Action</th>
                        </tr>
                
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raw_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlaveFabric.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlaveFabric.Consumption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Name)
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlaveFabric.Price)
                                </td>                        
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOMSlaveFabric.Mkt_BOMSlaveFK)
                                </td>*@                               
                                <td>                         
                                    @Html.ActionLink(".", "VmMkt_BOMSlaveFabricEdit", new { id = item.Mkt_BOMSlaveFabric.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmMkt_BOMSlaveFabricDelete", new { id = item.Mkt_BOMSlaveFabric.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })
                                    @Html.ActionLink("Add Item", "Mkt_BOMSlaveItem", new { id = item.Mkt_BOMSlaveFabric.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

