﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_Item

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr/>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_Item.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.MktCatID, ViewBag.MktCategory as SelectList, new { @id = "MktCatID", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Item.Mkt_SubCategoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_Item.Mkt_SubCategoryFK, ViewBag.MktSubCategory as SelectList, new { @id = "Mkt_SubCategoryId", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_Item.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Item.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_Item.Name, new { htmlAttributes = new { @class = "form-control ol-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_Item.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}



<script>

    
    $(function () {
        $("#MktCatID").change(function () {
            var catid = $("#MktCatID").val();
            //alert(catid);
            if (catid != '') {
                document.getElementById("Mkt_SubCategoryId").innerHTML = "";
                $.get("../Helper/GetMkt_SubCategory", { ID: catid }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Mkt_SubCategoryId").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Mkt_SubCategoryId").innerHTML = "";
            }
        });
    });
</script>




