﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_OrderDeliverySchedule

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@if (Model.Mkt_OrderDeliverySchedule.Quantity == 0)
{
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-warning" style="text-align:center;">
            <div class="box-header with-border">
                <h3 class="box-title">Warning</h3>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                There are no available item to Schedule. You already completed the Schedule of this order. Thank you for Scheduling.
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
}
else
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Mkt_OrderDeliverySchedule.Common_TheOrderFk)

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_OrderDeliverySchedule.Mkt_BOMFk, ViewBag.Style as SelectList, new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.Mkt_BOMFk, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SetQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.SetQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.Date, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.Date, new { htmlAttributes = new { @class = "calendarControl form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.Destination, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_OrderDeliverySchedule.Destination, ViewBag.Country as SelectList, "---Select Destination---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.Destination, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.PortNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.PortNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.PortNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.Quantity, new { htmlAttributes = new { @id = "quantity", @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_OrderDeliverySchedule.ColorSize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_OrderDeliverySchedule.ColorSize, new { htmlAttributes = new { @placeholder = "Like:Red-100;S-1;M-2;L-2;XL-1;", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_OrderDeliverySchedule.ColorSize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-3 col-sm-3 col-xs-6">Like</span>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span style="color: darkblue; font-size: x-small">
                        Red-150;S-1;M-2;L-1;XL-1;<br>
                        Blue-300;S-1;M-2;L-1;XL-1;<br>
                        Color-Quantity;Size-Ratio;
                    </span>
                </div>
            </div>

            <div>
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <p style="margin-left:50px">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
                </p>
            </div>
        </div>
    }
}


