﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_BOMFK, new { @id = "Mkt_BOMFK" })
                @Html.HiddenFor(model => model.Mkt_BOM.Quantity)
                @Html.HiddenFor(model => model.Mkt_BOM.QPack)
                @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_YarnCalculationFK)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownList("Raw_CategoryFK", ViewBag.Raw_Category as SelectList, "--Select Category--", new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Item.Raw_SubCategoryFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Raw_Item.Raw_SubCategoryFK, new SelectList(string.Empty, "Value", "Text"), "--Select SubCategory--", new { @id = "Raw_SubCategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Item.Raw_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Raw_ItemFK, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "Raw_ItemFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_BOMSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.Consumption, new { htmlAttributes = new { @id = "Consumption", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Consumption, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>DZ</i>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_BOMSlave.RequiredQuantity, new { htmlAttributes = new { @id = "RequiredQuantity", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.RequiredQuantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Price, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>DZ</i>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.IsFabric, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(model => model.Mkt_BOMSlave.IsFabric, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.IsFabric, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left: 50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}

@*<script>
        $.ajax({
            type: "post",
            url: "@Url.Action("GetRaw_SubCategory", "Helper")",
            data: { ID: categoryid },
            datatype: "json",
            traditional: true,
            success: function(data) {
                $("#ddlSubcategory").empty();
                $("#ddlItem").empty();
                if (data.length !== 0) {
                    $("#ddlSubcategory").append("<option value='0'>---Select  Subcategory---</option>");
                    $.each(data, function(index, row) {
                        $("#ddlSubcategory").append("<option value='" + row.ID + "'>" + row.Name + "</option>");
                    });

                }

            }
        });
    </script>*@


<script>
    $(function () {
        $("#Raw_CategoryFK").change(function () {
            var subCatId = $("#Raw_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {


                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetRaw_SubCategory",
                    { ID: subCatId },
                    function (data) {
                        $.each(data,
                            function (index, row) {
                                $("#Raw_SubCategoryFK")
                                    .append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                            });


                        var itemId = $("#Raw_SubCategoryFK").val();
                        if (itemId != '') {
                            document.getElementById("Raw_ItemFK").innerHTML = "";
                            $.get("../../Helper/GetRaw_Item",
                                { ID: itemId },
                                function (data) {

                                    $.each(data,
                                        function (index, row) {
                                            $("#Raw_ItemFK").append("<option selected='selected' value='" +
                                                row.ID +
                                                "'>" +
                                                row.Name +
                                                "</option>");
                                        });
                                });
                            $("#Raw_SubCategoryFK").change(function () {
                                var ItemChangeId = $("#Raw_SubCategoryFK").val();
                                //alert( 'Sub Category id '+ ItemChangeId);
                                if (ItemChangeId != '') {
                                    document.getElementById("Raw_ItemFK").innerHTML = "";
                                    $.get("../../Helper/GetRaw_Item",
                                        { ID: ItemChangeId },
                                        function (data) {
                                            document.getElementById("Raw_ItemFK").innerHTML = "";
                                            $.each(data,
                                                function (index, row) {
                                                    $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>");
                                                });
                                        });
                                } else {
                                    document.getElementById("Raw_ItemFK").innerHTML = "";
                                }
                            });
                        } else {
                            document.getElementById("Raw_ItemFK").innerHTML = "";
                        }
                    });
            }
            else {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
            }
        });

    });

</script>

