﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlave

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_BOMSlave.ID)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_BOMFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.FirstCreatedBy)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.Mkt_YarnCalculationFK)
        @*@Html.HiddenFor(model => model.Mkt_BOM.ID)*@


        <div class="form-group">


        </div>

    

        @if (Model.Mkt_BOMSlave.Raw_ItemFK != 5331)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.RawCatID, ViewBag.Raw_Category as SelectList, new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Raw_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.RawSubCatID, ViewBag.Raw_SubCategory as SelectList, new { @id = "Raw_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Raw_SubCategory.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_BOMSlave.Raw_ItemFK, ViewBag.Raw_Item as SelectList, new { @id = "Raw_ItemFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Raw_ItemFK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Mkt_BOMSlave.Consumption, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Consumption, "", new { @class = "text-danger" })
                        <div class="input-group-addon">
                            <i>DZ</i>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.RequiredQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.RequiredQuantity, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div id="HideFieldForYarn">
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_UnitFK, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.RawCatID, ViewBag.Raw_Category as SelectList, new { @disabled = "disabled", @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Raw_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.RawSubCatID, ViewBag.Raw_SubCategory as SelectList, new { @disabled = "disabled", @id = "Raw_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Raw_SubCategory.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.DropDownListFor(model => model.Mkt_BOMSlave.Raw_ItemFK, ViewBag.Raw_Item as SelectList, new {@id = "Raw_ItemFK",  @class = "form-control dropdown ol-md-6 col-xs-6"})
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Raw_ItemFK, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Mkt_BOMSlave.Consumption, new { htmlAttributes = new {  @class = "form-control col-md-6 col-xs-6" } })
                        @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Consumption, "", new { @class = "text-danger" })
                        <div class="input-group-addon">
                            <i>DZ</i>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.RequiredQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.RequiredQuantity, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div id="HideFieldForYarn">
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.HiddenFor(model => model.Mkt_BOMSlave.Common_UnitFK)
                    @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @disabled = "disabled", @class = "form-control dropdown ol-md-6 col-xs-6" })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_UnitFK, "", new { @class = "text-danger" })
                </div>
            </div>



        }
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_BOMSlave.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Price, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>DZ</i>
                    </div>
                </div>
            </div>
        </div>

      @if(Model.Mkt_BOMSlave.Raw_ItemFK != 5331)
                    {
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
      }
      else
      {
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.HiddenFor(model => model.Mkt_BOMSlave.Common_CurrencyFK)
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @disabled = "disabled", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
      }

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlave.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlave.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new { @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
                @Html.LabelFor(model => model.Mkt_BOMSlave.IsFabric, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(model => model.Mkt_BOMSlave.IsFabric, new { htmlAttributes = new { @class = "form-control minimal col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlave.IsFabric, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}




<script>
    $(function () {
        $("#Raw_CategoryFK").change(function () {
            var subCatId = $("#Raw_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetRaw_SubCategory", { ID: subCatId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Raw_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var itemId = $("#Raw_SubCategoryFK").val();
                    if (itemId != '') {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                        $.get("../../Helper/GetRaw_Item", { ID: itemId }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                            //var itemID = $('#Raw_ItemFK').val();
                            //if (itemID == 1045 || itemID == 5331) {
                            //    $('#HideFieldForYarn').hide();

                            //}
                            //else {
                            //    $('#HideFieldForYarn').show();
                            //}
                        });


                        $("#Raw_SubCategoryFK").change(function () {
                            var ItemChangeId = $("#Raw_SubCategoryFK").val();
                            //alert( 'Sub Category id '+ ItemChangeId);
                            if (ItemChangeId != '') {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                                $.get("../../Helper/GetRaw_Item", { ID: ItemChangeId }, function (data) {
                                    document.getElementById("Raw_ItemFK").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                    //var itemID = $('#Raw_ItemFK').val();
                                    //if (itemID == 1045 || itemID == 5331) {
                                    //    $('#HideFieldForYarn').hide();

                                    //}
                                    //else {
                                    //    $('#HideFieldForYarn').show();
                                    //}
                                });
                                
                            }
                            else {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                            }
                            
                        });
                    }
                    else {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
            }
        });
        //$("#Raw_ItemFK").change(function () {
        //    var itemID = $('#Raw_ItemFK').val();
        //    if (itemID == 1045 || itemID == 5331) {
        //        $('#HideFieldForYarn').hide();

        //    }
        //    else {
        //        $('#HideFieldForYarn').show();
        //    }

        //})
        //var itemID = $('#Raw_ItemFK').val();
        //if (itemID == 1045 || itemID == 5331) {
        //    $('#HideFieldForYarn').hide();

        //}
        //else {
        //    $('#HideFieldForYarn').show();
        //}

    });


</script>








