﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOMSlaveFabric

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_BOMSlaveFabric.ID)
        @Html.HiddenFor(model => model.Mkt_BOMSlaveFabric.Mkt_BOMSlaveFK)
        @Html.HiddenFor(model => model.Mkt_BOMSlave.ID)
        @Html.HiddenFor(model => model.Mkt_BOM.Quantity)
        @Html.HiddenFor(model => model.Mkt_BOM.QPack)




        <div class="form-group">
            @Html.LabelFor(model => model.Raw_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RawCatID, ViewBag.Raw_Category as SelectList, new { @id = "Raw_CategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Raw_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.RawSubCatID, ViewBag.Raw_SubCategory as SelectList, new { @id = "Raw_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_SubCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlaveFabric.Raw_ItemFK, ViewBag.Raw_Item as SelectList, new { @id = "Raw_ItemFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_BOMSlaveFabric.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_BOMSlaveFabric.Consumption, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Consumption, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>DZ</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.RequiredQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_BOMSlaveFabric.RequiredQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.RequiredQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlaveFabric.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_BOMSlaveFabric.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Price, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>DZ</i>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlaveFabric.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOMSlaveFabric.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOMSlaveFabric.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOMSlaveFabric.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>
    $(function () {
        $("#Raw_CategoryFK").change(function () {
            var subCatId = $("#Raw_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetRaw_SubCategory", { ID: subCatId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Raw_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var itemId = $("#Raw_SubCategoryFK").val();
                    if (itemId != '') {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                        $.get("../../Helper/GetRaw_Item", { ID: itemId }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                        });




                        $("#Raw_SubCategoryFK").change(function () {
                            var ItemChangeId = $("#Raw_SubCategoryFK").val();
                            //alert( 'Sub Category id '+ ItemChangeId);
                            if (ItemChangeId != '') {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                                $.get("../../Helper/GetRaw_Item", { ID: ItemChangeId }, function (data) {
                                    document.getElementById("Raw_ItemFK").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                });
                            }
                            else {
                                document.getElementById("Raw_ItemFK").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Raw_ItemFK").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
            }
        });
    });
    $(function () {
        $("#Raw_SubCategoryFK").change(function () {
            var ItemChangeId = $("#Raw_SubCategoryFK").val();
            //alert( 'Sub Category id '+ ItemChangeId);
            if (ItemChangeId != '') {
                document.getElementById("Raw_ItemFK").innerHTML = "";
                $.get("../../Helper/GetRaw_Item", { ID: ItemChangeId }, function (data) {
                    document.getElementById("Raw_ItemFK").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Raw_ItemFK").innerHTML = "";
            }

        });
    });
</script>