﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_OrderColorAndSizeRatio

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_OrderColorAndSizeRatio.Common_TheOrderFk)

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, ViewBag.Style as SelectList, new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.OrderDeliveryScheduleFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_OrderColorAndSizeRatio.OrderDeliveryScheduleFk, ViewBag.OrderDeliverySchedule as SelectList, "--Select Order Delivery Schedule--", new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.OrderDeliveryScheduleFk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ColorSize, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.ColorSize, new { htmlAttributes = new { @placeholder = "Like:Red-100;S-1;M-2;L-2;XL-1;", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.ColorSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-3 col-sm-3 col-xs-6">Like</span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span style="color: darkblue; font-size: x-small">
                    Red-150;S-1;M-2;L-1;XL-1;<br>
                    Blue-300;S-1;M-2;L-1;XL-1;<br>
                    Color-Quantity;Size-Ratio;
                </span>

            </div>
        </div>
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}

<script>

    $(document).ready(function () {
        var id = $("#StyleDropdown").val();
        $.ajax({
            url: "../../Marketing/GetOrderColorAndSizeQuantity",
            datatype: "text",
            data: { 'id': id},
            type: "POST",
            success: function (data) {
                var value = data.qty.toFixed(2)
                $('#quantity').val(value);
            },
            error: function () {

            }
        });

        function Quantity() {

        }
    })
    $("#StyleDropdown").change(function () {
        var id = $("#StyleDropdown").val();
        $.ajax({
            url: "../../Marketing/GetOrderColorAndSizeQuantity",
            datatype: "text",
            data: { 'id': id },
            type: "POST",
            success: function (data) {
                var value = data.qty.toFixed(2)
                $('#quantity').val(value);
            },
            error: function () {

            }
        });
    });
</script>