﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_Buyer
@*@model Oss.Romo.ViewModels.Marketing.VmMktBuyerVM*@

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "Buyer";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 540,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Buyer  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Update Buyer  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Delete Buyer");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
        // $('#dialog-edit').load($('#lnkCreate').attr('href'));
        // $('#dialog-edit').load($('.lnkEdit').attr('href'));

    });
</script>



<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />
</div>


<section class="content-header">
    <h1>
        Buyer: &nbsp;&nbsp;
        (&nbsp; <a href="VmMkt_BuyerCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Buyer List</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">

        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            @{
                int sl = 0;
            }
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BuyerID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Mkt_Buyer.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_Buyer.ContactPerson)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mkt_Buyer.Description)
                                </th>*@
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (item.Acc_AcNameFk > 0)
                                        {
                                            <span class="label label-primary"><b>@(++sl).</b></span>
                                        }
                                        else
                                        {
                                            <b>@(++sl).</b>
                                        }
                                    }

                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-navy text-bold">
                                    @Html.DisplayFor(modelItem => item.BuyerID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mkt_Buyer.Email)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_Buyer.ContactPerson)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_Buyer.Description)
                                    </td>*@
                                <td style="width: 10%">
                                    @Html.ActionLink(".", "VmMkt_BuyerEdit", new { id = item.ID.ToString() }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @*@Html.ActionLink(".", "VmMkt_BuyerDelete", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_Buyer.ID.ToString()) }, new { @class = "lnkDelete glyphicon glyphicon-trash" })*@
                                </td>
                            </tr>
                      }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
