﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_OrderColorAndSizeRatio

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Mkt_OrderColorAndSizeRatio.Common_TheOrderFk)
    @Html.HiddenFor(model => model.Mkt_OrderColorAndSizeRatio.ID)
    @Html.HiddenFor(model => model.Mkt_OrderColorAndSizeRatio.OrderDeliveryScheduleFk)
    @Html.HiddenFor(model=>model.Quantity)

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, ViewBag.Style as SelectList, new { @id = "StyleDropdown", @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.Mkt_BOMFk, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_OrderColorAndSizeRatio.Color, new { htmlAttributes = new {@class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.Color, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.Size, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_OrderColorAndSizeRatio.Size, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.Size, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-3 col-sm-3 col-xs-6">
            <label>
                Available Quantity
            </label>
        </span>
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.AvailableQty, new { htmlAttributes = new { @id = "quantity", @readonly = "readonly", @class = "form-control col-md-6 col-xs-6" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_OrderColorAndSizeRatio.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_OrderColorAndSizeRatio.Quantity, new { htmlAttributes = new { @id = "quantity", @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_OrderColorAndSizeRatio.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
        </p>
    </div>
</div>
}

