﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_CBSMaster

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mkt_CBSMaster.ID)        
        @Html.HiddenFor(model => model.Mkt_CBSMaster.FirstCreatedBy)
      
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.FirstMove, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.FirstMove, new { htmlAttributes = new { @class = "@*calendarControl*@ form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.FirstMove, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Reference, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Reference, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Reference, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.MktCatID, ViewBag.MktCategory as SelectList, new { @id = "Mkt_CategoryFK", @class = "form-control dropdown col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_Category.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.MktSubCatID, ViewBag.MktSubCategory as SelectList, new { @id = "Mkt_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_SubCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Mkt_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_CBSMaster.Mkt_ItemFK, ViewBag.Item as SelectList, new { @id = "Mkt_ItemFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Mkt_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Class, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Class, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Class, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Fabrication, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Fabrication, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Fabrication, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.SizeRange, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.SizeRange, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.SizeRange, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Style, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Style, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Style, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.QPack, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.QPack, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.QPack, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_CBSMaster.Quantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_CBSMaster.UnitPrice, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_CBSMaster.UnitPrice, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_CBSMaster.UnitPrice, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>Pc</i>
                    </div>
                </div>

            </div>
        </div>

      
        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

            </p>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#Mkt_CategoryFK").change(function () {
            var subCatId = $("#Mkt_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetMkt_SubCategory", { ID: subCatId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Mkt_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var itemId = $("#Mkt_SubCategoryFK").val();
                    if (itemId != '') {
                        document.getElementById("Mkt_ItemFK").innerHTML = "";
                        $.get("../../Helper/GetMkt_Item", { ID: itemId }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                        });

                        $("#Mkt_SubCategoryFK").change(function () {
                            var ItemChangeId = $("#Mkt_SubCategoryFK").val();
                            //alert( 'Sub Category id '+ ItemChangeId);
                            if (ItemChangeId != '') {
                                document.getElementById("Mkt_ItemFK").innerHTML = "";
                                $.get("../../Helper/GetMkt_Item", { ID: ItemChangeId }, function (data) {
                                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                });
                            }
                            else {
                                document.getElementById("Mkt_ItemFK").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Mkt_ItemFK").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
            }
        });
    });


    $(document).ready(function () {
        $("#Mkt_SubCategoryFK").change(function () {
            var ItemChangeId = $("#Mkt_SubCategoryFK").val();
            //alert( 'Sub Category id '+ ItemChangeId);
            if (ItemChangeId != '') {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                $.get("../../Helper/GetMkt_Item", { ID: ItemChangeId }, function (data) {
                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }

        });
    });

</script>