﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            title: 'Open Or Close',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Bill Of Materials: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Bill Of Materials: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("BOM Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            url = $(this).attr('href');
            //$(".ui-dialog-titlebar").html("BOM Complete.");
            $("#dialog-confirmU").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>

<section class="content-header">
   
        <h1 style="width:30%;float:left">
            @Model.Header  &nbsp; &nbsp;Bill Of Materials
            @*(&nbsp; <a href="VmMkt_BOMCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
        </h1>
   <button class="btn-btn-default">Cotton</button> &nbsp; &nbsp;<button class="btn-btn-default">GSM</button>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bill Of Materials</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
          

            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->

            @{ Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_BOM.FirstMove)
                            </th>                      
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_SubCategory.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>                           
                          
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_TheOrder.CID)/@Html.DisplayFor(modelItem => item.Mkt_BOM.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_BOM.FirstMove, "{0:yyyy/MM/dd}")
                                </td>                             
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_SubCategory.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(modelItem => item.ISCount)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
