﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
   
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Mkt_BOM.ID)
    @Html.HiddenFor(model => model.Mkt_BOM.Common_TheOrderFk)
    @Html.HiddenFor(model => model.Mkt_BOM.FirstCreatedBy)
    @Html.HiddenFor(model => model.Mkt_BOM.IsNew)
    @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOM.CID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_BOM.CID, new { htmlAttributes = new { disabled = "disabled", @class = "form-control col-md-6 col-xs-6" } })

            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.FirstMove, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.FirstMove, new { htmlAttributes = new { @class = "@*calendarControl*@ form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.FirstMove, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Reference, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Reference, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Reference, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOM.Mkt_BuyerFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOM.Mkt_BuyerFK, ViewBag.Buyer as SelectList, "---Select Buyer---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOM.Mkt_BuyerFK, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_Category.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.MktCatID, ViewBag.MktCategory as SelectList, new { @id = "Mkt_CategoryFK", @class = "form-control dropdown col-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Mkt_Category.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_SubCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.MktSubCatID, ViewBag.MktSubCategory as SelectList, new { @id = "Mkt_SubCategoryFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Mkt_SubCategory.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Mkt_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.DropDownListFor(model => model.Mkt_BOM.Mkt_ItemFK, ViewBag.Item as SelectList, new { @id = "Mkt_ItemFK", @class = "form-control dropdown ol-md-6 col-xs-6" })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Mkt_ItemFK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Description, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Description, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Class, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Class, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Class, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Fabrication, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Fabrication, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Fabrication, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.SizeRange, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.SizeRange, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.SizeRange, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Style, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Style, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Style, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.QPack, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.QPack, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.QPack, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.Quantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.Quantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.SetQuantity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
        <div class="col-md-6 col-sm-6 col-xs-6">
            @Html.EditorFor(model => model.Mkt_BOM.SetQuantity, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
            @Html.ValidationMessageFor(model => model.Mkt_BOM.SetQuantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mkt_BOM.PackPrice, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="input-group">
                @Html.EditorFor(model => model.Mkt_BOM.PackPrice, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.HiddenFor(model => model.Mkt_BOM.UnitPrice)
                @Html.ValidationMessageFor(model => model.Mkt_BOM.PackPrice, "", new { @class = "text-danger" })
                <div class="input-group-addon">
                    <i>Pack</i>
                </div>
            </div>

        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Mkt_BOM.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_BOM.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_BOM.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div>
        <div class="col-md-4"></div>
        <div class="col-md-2"></div>
        <p style="margin-left:50px">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />

        </p>
    </div>
</div>
}
<script>
    $(document).ready(function () {
        $("#Mkt_CategoryFK").change(function () {
            var subCatId = $("#Mkt_CategoryFK").val();
            //alert(subCatId);
            if (subCatId != '') {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                $.get("../../Helper/GetMkt_SubCategory", { ID: subCatId }, function (data) {
                    $.each(data, function (index, row) {
                        $("#Mkt_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                    var itemId = $("#Mkt_SubCategoryFK").val();
                    if (itemId != '') {
                        document.getElementById("Mkt_ItemFK").innerHTML = "";
                        $.get("../../Helper/GetMkt_Item", { ID: itemId }, function (data) {

                            $.each(data, function (index, row) {
                                $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                            });
                        });

                        $("#Mkt_SubCategoryFK").change(function () {
                            var ItemChangeId = $("#Mkt_SubCategoryFK").val();
                            //alert( 'Sub Category id '+ ItemChangeId);
                            if (ItemChangeId != '') {
                                document.getElementById("Mkt_ItemFK").innerHTML = "";
                                $.get("../../Helper/GetMkt_Item", { ID: ItemChangeId }, function (data) {
                                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                                    $.each(data, function (index, row) {
                                        $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                                    });
                                });
                            }
                            else {
                                document.getElementById("Mkt_ItemFK").innerHTML = "";
                            }

                        });
                    }
                    else {
                        document.getElementById("Mkt_ItemFK").innerHTML = "";
                    }
                })
            }
            else {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
            }
        });
    });


    $(document).ready(function () {
        $("#Mkt_SubCategoryFK").change(function () {
            var ItemChangeId = $("#Mkt_SubCategoryFK").val();
            //alert( 'Sub Category id '+ ItemChangeId);
            if (ItemChangeId != '') {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                $.get("../../Helper/GetMkt_Item", { ID: ItemChangeId }, function (data) {
                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                    $.each(data, function (index, row) {
                        $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }

        });
    });
   
    //$(document).ready(function () {
    //    $("#Mkt_CategoryFK").change(function () {
    //        var subCatId = $("#Mkt_CategoryFK").val();
    //        //alert(subCatId);
    //        if (subCatId != '') {
    //            document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
    //            $.get("../GetMkt_SubCategory", { ID: subCatId }, function (data) {
    //                $.each(data, function (index, row) {
    //                    $("#Mkt_SubCategoryFK").append("<option value='" + row.ID + "'>" + row.Name + "</option>")
    //                });
    //                var itemId = $("#Mkt_SubCategoryFK").val();
    //                if (itemId != '') {
    //                    document.getElementById("Mkt_ItemFK").innerHTML = "";
    //                    $.get("../GetMkt_Item", { ID: itemId }, function (data) {

    //                        $.each(data, function (index, row) {
    //                            $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
    //                        });
    //                    });
    //                    $("#Mkt_SubCategoryFK").change(function () {
    //                        var ItemChangeId = $("#Mkt_SubCategoryFK").val();
    //                        //alert( 'Sub Category id '+ ItemChangeId);
    //                        if (ItemChangeId != '') {
    //                            document.getElementById("Mkt_ItemFK").innerHTML = "";
    //                            $.get("../GetMkt_Item", { ID: ItemChangeId }, function (data) {
    //                                document.getElementById("Mkt_ItemFK").innerHTML = "";
    //                                $.each(data, function (index, row) {
    //                                    $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
    //                                });
    //                            });
    //                        }
    //                        else {
    //                            document.getElementById("Mkt_ItemFK").innerHTML = "";
    //                        }

    //                    });
    //                }
    //                else {
    //                    document.getElementById("Mkt_ItemFK").innerHTML = "";
    //                }
    //            })
    //        }
    //        else {
    //            document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
    //        }
    //    });
    //});
</script>