﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_CBSMaster
@{

    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BOM Details";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
    $(document).ready(function () {
        var url = "";


        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-lock").dialog({
            autoOpen: false,
            resizable: false,
            height: 350,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("Add Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("Edit Item.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkLock").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Lock.  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Item Edit");
            $("#dialog-lock").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("Item Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })

        //$('#dialog-edit').load($('#lnkCreate').attr('href'));
        //$('#dialog-edit').load($('.lnkEdit').attr('href'));
        //$('#dialog-lock').load($('.lnkLock').attr('href'));


    });
</script>
<div id="dialog-alert" style="display: none">
    <p>

    </p>
</div>

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<div id="dialog-lock" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>
<div id="dialog-detail" style="display: none">
</div>

<section class="content-header">
    <h1>
        COST BREAKDOWN @*@Html.DisplayFor(x => x.Common_TheOrder.CID)/@Html.DisplayFor(x => x.Mkt_BOM.Style)*@


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        @*<li><a href="/Marketing/VmMkt_BOMIndex">Bill Of Materials</a></li>*@
        <li><a href="~/Common/VmCommon_TheOrderIndex">Order</a></li>
        <li class="active">@Html.DisplayFor(x => x.Mkt_BOM.CID)</li>
    </ol>
</section>


<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @Html.HiddenFor(model => model.Mkt_BOM.ID)
        <!-- /.box -->
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title"></h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3>
                            Order Summary &nbsp;&nbsp;||&nbsp;&nbsp;
                            @Html.ActionLink("CBS", "CBSReportDoc", "Marketing", new { id = Model.VmControllerHelper.Encrypt(Model.Mkt_CBSMaster.ID.ToString()) }, new { @title = "Bill of Materials Report", target = "_blank", @class = "glyphicon" })
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.CID)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Style)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.FirstMove)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.FirstMove)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Reference)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Reference)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Mkt_ItemFK)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_Item.Name)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.SizeRange)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.Mkt_CBSMaster.SizeRange)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Style)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Style)">
                            </div>
                        </div>

                        <div class="box-body col-md-5">
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.UnitPrice)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.UnitPrice)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Quantity)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Quantity)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Description)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Description)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Class)</span>
                                <input style="width:320px;" type="text" readonly="readonly" class="form-control" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Class)">

                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.Fabrication)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.Fabrication)">
                            </div>
                            <div class="input-group">
                                <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.Mkt_CBSMaster.QPack)</span>
                                <input style="width:320px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.Mkt_CBSMaster.QPack)">
                            </div>

                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>
                <section>
                    <h3>
                        Item List
                        (&nbsp;<a href="~/Marketing/VmMkt_CBSCreate/@Model.VmControllerHelper.Encrypt(Model.Mkt_CBSMaster.ID.ToString())" id="lnkCreate"><i title="Create" class="glyphicon glyphicon-plus"></i></a>&nbsp;)
                    </h3>
                </section>
                @{
                    int Sl = 0;
                }
                <div class="table-responsive">
                    <table id="example1" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Raw_Category.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Raw_Item.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Mkt_CBS.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Mkt_CBS.Consumption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.TotalRequired)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Mkt_CBS.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.TotalItem_Price)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.VmMkt_CBS.Common_Supplier.Name)
                                </th>*@
                               
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VmMkt_CBS.DataList)
                            {
                                <tr>
                                    <td style="background-color:#CCFF99;" title="Completed"><b>@(++Sl).</b></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Raw_Category.Name)
                                    </td>
                                    <td>
                                        <a href="~/marketing/BOMSlaveFabricsPurchaseAndProcessing/@Html.DisplayFor(modelItem => item.Mkt_CBS.ID)=@Html.DisplayFor(modelItem => item.Mkt_BOM.ID)">@Html.DisplayFor(modelItem => item.Raw_Item.Name)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_CBS.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_CBS.Consumption)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mkt_CBS.RequiredQuantity)
                                        @Html.DisplayFor(modelItem => item.Common_Unit.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                        @Html.DisplayFor(modelItem => item.Mkt_CBS.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)
                                        @Html.DisplayFor(modelItem => item.TotalItem_Price)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Common_Supplier.Name)
                                    </td>*@
                                    <td>
                                        @Html.ActionLink(".", "VmMkt_CBSEdit", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_CBS.ID.ToString()) }, new { @title = "Edit", @class = "lnkEdit glyphicon glyphicon-pencil" })
                                        @Html.ActionLink(".", "VmMkt_CBSDelete", new { id = Model.VmControllerHelper.Encrypt(item.Mkt_CBS.ID.ToString()) + "尺" + Model.VmControllerHelper.Encrypt(Model.Mkt_CBSMaster.ID.ToString()) }, new { @title = "Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
