﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_CBSMaster
@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "BOM Info";
}

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
    $(document).ready(function () {
        var url = "";

        $("#dialog-edit").dialog({
            autoOpen: false,
            resizable: false,
            height: 500,
            width: 600,
            show: { effect: 'left', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#dialog-confirmU").dialog({
            title: 'Open Or Close',
            autoOpen: false,
            resizable: false,
            height: 170,
            width: 350,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#lnkCreate").click(function (e) {
            $(".ui-dialog-titlebar").html("CBS Style: Create  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkEdit").click(function (e) {
            $(".ui-dialog-titlebar").html("CBS Style: Edit  <button type='button'  style='float: right;' class='btncancel'>&times;</button>");
            url = $(this).attr('href');
            $("#dialog-edit").dialog('open');
            $("#LoadingBar").show();
            return false;
        })

        $(".lnkDelete").click(function (e) {
            $(".ui-dialog-titlebar").html("CBS Style Delete.");
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        })
        $(".lnkDeleteU").click(function (e) {
            url = $(this).attr('href');
            //$(".ui-dialog-titlebar").html("BOM Complete.");
            $("#dialog-confirmU").dialog('open');

            return false;
        })

        $(".btncancel").click(function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        })
    });
</script>

    <div id="dialog-confirmU" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to Close?
        </p>
    </div>

    <div id="dialog-confirmU" style="display: none">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
            Are you sure to Reopen?
        </p>
    </div>


<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>

<div id="dialog-edit" style="display: none">
    <img id="LoadingBar" height="90" width="90" style="display:none;margin-top:130px;margin-left:220px" src="~/Content/Images/LoadingImage/loading_logofinal_by_zegerdon-d60eb1v.gif" />

</div>

<section class="content-header">
   
        <h1>
           CBS Style
            (&nbsp; <a href="VmMkt_CBSMasterCreate" id="lnkCreate"><i title="Create" , class="glyphicon glyphicon-plus"></i></a> &nbsp;)
        </h1>
  
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bill Of Materials</li>
    </ol>
</section>

<div class="clearfix"></div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
           

            @{ Oss.Romo.ViewModels.User.VmUser_User user = (Oss.Romo.ViewModels.User.VmUser_User)Session["One"];}
            @{
                int Sl = 0;
            }
            <div class="box-body table-responsive">
                <table id="example1" class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.CID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.FirstMove)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.UpdateDate)
                            </th>

                            
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_Item.Name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.QPack)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mkt_CBSMaster.UnitPrice)
                            </th>
                            <th>
                                Total FOB
                            </th>
                           
                           
                                <th>
                                    Action
                                </th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td><b>@(++Sl).</b></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_CBSMaster.Style)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_CBSMaster.FirstMove, "{0:yyyy/MM/dd}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_CBSMaster.UpdateDate, "{0:yyyy/MM/dd}")
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_CBSMaster.QPack)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mkt_CBSMaster.Quantity)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Common_Currency.Symbol)@Html.DisplayFor(modelItem => item.Mkt_CBSMaster.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)

                                </td>


                                <td>
                                    @Html.ActionLink(".", "VmMkt_CBSMasterEdit", new { id = item.Mkt_CBSMaster.ID }, new { @class = "lnkEdit glyphicon glyphicon-pencil" }) &nbsp;
                                    @Html.ActionLink(".", "VmMkt_CBSMasterDelete", new { id = item.Mkt_CBSMaster.ID }, new { @class = "lnkDelete glyphicon glyphicon-trash" })&nbsp; &nbsp;
                                    @Html.ActionLink(".", "VmMkt_CBSIndex", new { id = item.Mkt_CBSMaster.ID }, new { @class = "glyphicon glyphicon-ok" })&nbsp; &nbsp;


                                </td>

                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
