﻿@model Oss.Romo.ViewModels.Marketing.VmMkt_YarnCalculation

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VmMkt_BOM.Mkt_BOM.QPack)
        @Html.HiddenFor(model => model.VmMkt_BOM.Mkt_BOM.Quantity)
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Mkt_BOMFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Mkt_BOMFK, ViewBag.BOM as SelectList, new { @id = "StyleDropdown", @class = "form-control SerchingDropDown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Mkt_BOMFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.ReferenceNo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.ReferenceNo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.ReferenceNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Combo, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.Combo, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Combo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Color, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.Color, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Color, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Fabrication, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.Fabrication, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Fabrication, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.GSM, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.GSM, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.GSM, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Mkt_YarnTypeFk, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Mkt_YarnTypeFk, ViewBag.YarnType as SelectList, "--Select Yarn Type--", new { @id = "YarnTypeFk", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Mkt_YarnTypeFk, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <span class ="control-label col-md-3 col-sm-3 col-xs-6">
             <b> Yarn Category</b>  
            </span>
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownList("Raw_SubCategoryFK", ViewBag.Raw_SubCategory as SelectList, "--Select Category--", new { @id = "Raw_SubCategoryFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Raw_Item.Raw_SubCategoryFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Raw_ItemFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })

            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Raw_ItemFK, new SelectList(string.Empty, "Value", "Text"), "--Select Item--", new { @id = "Raw_ItemFK", @class = "form-control col-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Raw_ItemFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Common_CurrencyFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { @class = "form-control Common_CurrencyFK ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Common_UnitFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { @class = "SerchingDropDown Common_UnitFK form-control ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Common_UnitFK, "", new { @class = "text-danger" })
            </div>
        </div>
     

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.FinishDIA, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.FinishDIA, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.FinishDIA, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.QntyPcs, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.QntyPcs, new { htmlAttributes = new { @id = "quantity", @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.QntyPcs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Consumption, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.Consumption, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Consumption, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.ProcessLoss, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_YarnCalculation.ProcessLoss, new { htmlAttributes = new { @title = "Like 0.90", @class = "form-control col-md-6 col-xs-6" } })
                   
                    <div class="input-group-addon">
                        <i>%</i>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.ProcessLoss, "", new { @class = "text-danger" })

            </div>
            <span style="color: dimgray;font-size: x-small">Like 0.90</span>
        </div>

    
        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Lycra, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    @Html.EditorFor(model => model.Mkt_YarnCalculation.Lycra, new { htmlAttributes = new { @title = "Like 5", @class = "form-control col-md-6 col-xs-6" } })
                    @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Lycra, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i>%</i>
                    </div>
                </div>

            </div>
            <span style="color: dimgray;font-size: x-small">Like 5</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Price, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.EditorFor(model => model.Mkt_YarnCalculation.Price, new { htmlAttributes = new { @class = "form-control col-md-6 col-xs-6" } })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Price, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Mkt_YarnCalculation.Common_SupplierFK, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-6" })
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownListFor(model => model.Mkt_YarnCalculation.Common_SupplierFK, ViewBag.Supplier as SelectList, "---Select Supplier---", new { @class = "SerchingDropDown form-control dropdown ol-md-6 col-xs-6" })
                @Html.ValidationMessageFor(model => model.Mkt_YarnCalculation.Common_SupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>


        <div>
            <div class="col-md-4"></div>
            <div class="col-md-2"></div>
            <p style="margin-left:50px">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Cancel" id="" class="btncancel btn btn-primary" />
            </p>
        </div>
    </div>
}



<script>
    $(document).ready(function () {

        $(".Common_UnitFK").val(13);
        $(".Common_CurrencyFK").val(1);
        
    })

    $(function () {



        $("#Raw_SubCategoryFK").change(function () {

            var itemId = $("#Raw_SubCategoryFK").val();
            if (itemId != '') {
                document.getElementById("Raw_ItemFK").innerHTML = "";
                $.get("../../Helper/GetRaw_Item", { ID: itemId }, function (data) {

                    $.each(data, function (index, row) {
                        $("#Raw_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    });
                });

            }
            else {
                document.getElementById("Raw_SubCategoryFK").innerHTML = "";
            }
        });
    });

</script>
