﻿@using System.Data
@using System.Diagnostics
@using System.Globalization
@model Oss.Romo.ViewModels.Marketing.VmMkt_BOM

@{
    Layout = "~/Views/Shared/_LayoutMkt.cshtml";
    ViewBag.Title = "YARN STATEMENT";
}


@Scripts.Render("~/plugins/jQuery/jquery-2.2.3.min.js")


<style>
    .fixed_header tbody {
        overflow-y: auto;
        height: 200px;
        display: inline-block;
    }

    .fixed_header thead {
        overflow-y: auto;
        display: inline-block;
    }
</style>


<section class="content-header">

    <h1>
        YARN STATEMENT &nbsp; &nbsp;
        @*(&nbsp; <a href="VmMkt_BOMCreate" id="lnkCreate"><i class="glyphicon glyphicon-plus"></i></a> &nbsp;)*@
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">YARN STATEMENT</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Filter BTB L/C Wise Supplier FollowUp Report</h3>
                <hr />
            </div>
            <div class="box-body box-info">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @autocomplete = "off", @class = "calendarControl form-control ol-md-6 col-xs-6" } })

                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @autocomplete = "off", @class = "calendarControl form-control col-md-6 col-xs-6" } })
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div style="padding-top: 24px;">
                                    <input type="submit" value="Show" class="btn btn-success" />
                                    @*<input type="reset" value="Cancel" class="btncancel btn btn-primary" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">YARN STATEMENT</a></li>
            <li><a href="#settings" data-toggle="tab">YARN SUMMERY</a></li>
        </ul>
        @if (ViewBag.YarnRequirement != null)
        {
            <div>
                @{
                    DataTable x = ViewBag.YarnRequirement as System.Data.DataTable;
                    Debug.Assert(x != null, nameof(x) + " != null");
                    var coulmncount = x.Columns.Count;
                    if (coulmncount != 0)
                    {
                        decimal[] arr = new decimal[coulmncount - 1];

                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">

                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- /.box -->
                                        <div class="box">
                                            <div style="text-align: center"><h3><b>YARN REQUIRED</b></h3></div>
                                            <div style="text-align: center">
                                                <h4><b>From : @Model.FromDate.ToString("MM/dd/yyyy") - TO : @Model.ToDate.ToString("MM/dd/yyyy")</b></h4>
                                            </div>

                                            <div class="box-body table-responsive">

                                                <table class="stripe row-border order-column fixed_header" cellspacing="0" width="1100%" border="1">
                                                    @if (ViewBag.YarnRequirement != null)
                                                    {
                                                        <thead>
                                                            <tr>
                                                                @foreach (System.Data.DataColumn col in (ViewBag.YarnRequirement as System.Data.DataTable).Columns)
                                                                {

                                                                    <th style="text-align: center;width: 250px !important">@col.Caption</th>
                                                                }
                                                                <th style="text-align: center;width: 250px !important">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{

                                                                foreach (DataRow dr in (ViewBag.YarnRequirement as DataTable).Rows)
                                                                {
                                                                    int count = 0;
                                                                    decimal total = 0;
                                                                    int a = 0;
                                                                    int index = 0;
                                                                    <tr>

                                                                        @foreach (var cell in dr.ItemArray)
                                                                        {
                                                                            if (a >= 1)
                                                                            {
                                                                                arr[index] += Convert.ToDecimal(cell);
                                                                                index++;
                                                                            }
                                                                            a++;

                                                                            <td style="text-align: center;width: 250px !important"> @cell.ToString()</td>

                                                                            if (count > 0)
                                                                            {

                                                                                total = total + Convert.ToDecimal(cell);
                                                                            }
                                                                            count++;
                                                                        }

                                                                        <td style="text-align: center;width: 250px !important">@(total.ToString("F"))</td>
                                                                    </tr>

                                                                }
                                                            }
                                                            <tr>
                                                                <td style="text-align: center;font-weight: bold">Total</td>

                                                                @{
                                                                    decimal ttl = 0;
                                                                    for (int i = 0; i <= coulmncount - 2; i++)
                                                                    {
                                                                        ttl += arr[i];
                                                                        <td style="text-align: center;font-weight: bold;width: 250px !important">@arr[i].ToString("F")</td>
                                                                    }
                                                                    <td style="text-align: center;font-weight: bold;width: 250px !important">@ttl.ToString("F")</td>
                                                                }
                                                            </tr>
                                                        </tbody>

                                                    }

                                                </table>


                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- /.box -->
                                        <div class="box">
                                            <div style="text-align: center">
                                                <h3>
                                                    <b>YARN L/C OPEN</b>
                                                </h3>
                                            </div>
                                            <div style="text-align: center">
                                                <h4><b>From : @Model.FromDate.ToString("MM/dd/yyyy") - TO : @Model.ToDate.ToString("MM/dd/yyyy")</b></h4>
                                            </div>
                                            <div class="box-body table-responsive">

                                                @{
                                                    DataTable x1 = ViewBag.OpenedLC as System.Data.DataTable;
                                                    Debug.Assert(x1 != null, nameof(x1) + " != null");
                                                    var coulmncount1 = x1.Columns.Count;
                                                    if (coulmncount1 != 0)
                                                    {
                                                        decimal[] arr1 = new decimal[coulmncount1 - 1];

                                                        <table class="stripe row-border order-column fixed_header" cellspacing="0" width="1100%" border="1">
                                                            @if (ViewBag.OpenedLC != null)

                                                            {
                                                                <thead>
                                                                    <tr>
                                                                        @foreach (System.Data.DataColumn col in (ViewBag.OpenedLC as System.Data.DataTable).Columns)
                                                                        {
                                                                            <th style="text-align: center;width: 250px !important">@col.Caption</th>
                                                                        }
                                                                        <th style="text-align: center;width: 250px !important">Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{


                                                                        foreach (System.Data.DataRow dr in (ViewBag.OpenedLC as System.Data.DataTable).Rows)
                                                                        {


                                                                            int count1 = 0;
                                                                            decimal total1 = 0;
                                                                            int a1 = 0;
                                                                            int index1 = 0;
                                                                            <tr>

                                                                                @foreach (var cell1 in dr.ItemArray)
                                                                                {
                                                                                    if (a1 >= 1 && cell1 != "")
                                                                                    {
                                                                                        arr1[index1] += Convert.ToDecimal(cell1);
                                                                                        index1++;
                                                                                    }
                                                                                    a1++;
                                                                                    <td style="text-align: center;width: 250px !important">@cell1.ToString()</td>
                                                                                    if (count1 > 0 && cell1 != "")
                                                                                    {

                                                                                        total1 = total1 + Convert.ToDecimal(cell1);
                                                                                    }
                                                                                    count1++;
                                                                                }
                                                                                <td style="text-align: center;width: 250px !important">@(total1.ToString("F"))</td>

                                                                            </tr>
                                                                        }


                                                                    }
                                                                    <tr>
                                                                        <th style="text-align: center;width: 250px !important">Total L/C Open</th>
                                                                        @{
                                                                            decimal ttl1 = 0;
                                                                            for (int i = 0; i <= coulmncount1 - 2; i++)
                                                                            {
                                                                                ttl1 += arr1[i];
                                                                                <th style="text-align: center;width: 250px !important">@arr1[i].ToString("F")</th>
                                                                            }
                                                                            <th style="text-align: center;width: 250px !important">@ttl1.ToString("F")</th>
                                                                        }
                                                                    </tr>

                                                                    <tr>
                                                                        <th style="text-align: center;width: 250px !important">Balance</th>
                                                                        @{
                                                                            decimal balance = 0;
                                                                            for (int i = 0; i <= coulmncount1 - 2; i++)
                                                                            {
                                                                                balance = arr[i] - arr1[i];
                                                                                <th style="text-align: center;width: 250px !important">@balance.ToString("F")</th>
                                                                            }
                                                                            <th style="text-align: center;width: 250px !important">XX</th>
                                                                        }
                                                                    </tr>
                                                                </tbody>
                                                            }

                                                        </table>
                                                    }

                                                }



                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="settings">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- /.box -->
                                        <div class="box">
                                            @{
                                                DataTable xX = ViewBag.YarnRequirement as System.Data.DataTable;
                                                Debug.Assert(xX != null, nameof(xX) + " != null");
                                                var coulmncountX = x.Columns.Count;
                                                if (coulmncountX != 0)
                                                {
                                                    decimal[] arrX = new decimal[coulmncountX - 1];
                                                    <div style="text-align: center">
                                                        <h3>
                                                            <b>YARN SUMMARY</b>
                                                        </h3>
                                                    </div>
                                                    <div style="text-align: center">
                                                        <h4><b>From : @Model.FromDate.ToString("MM/dd/yyyy") - TO : @Model.ToDate.ToString("MM/dd/yyyy")</b></h4>
                                                    </div>

                                                    <div class="box-body table-responsive">


                                                        <table id="sadsdsdfewdsf" class="stripe row-border order-column fixed_header" cellspacing="0" width="1100%" border="1">
                                                            @if (ViewBag.YarnRequirement != null)
                                                            {
                                                                <thead>
                                                                    <tr>
                                                                        @foreach (System.Data.DataColumn col in (ViewBag.YarnRequirement as System.Data.DataTable).Columns)
                                                                        {

                                                                            <th style="text-align: center;width: 250px !important">@col.Caption</th>
                                                                        }
                                                                        <th style="text-align: center;width: 250px !important">Total</th>
                                                                    </tr>
                                                                </thead>


                                                                <tbody>
                                                                    @{

                                                                        foreach (DataRow dr in (ViewBag.YarnRequirement as DataTable).Rows)
                                                                        {
                                                                            int countX = 0;
                                                                            decimal totalX = 0;
                                                                            int aX = 0;
                                                                            int indexX = 0;
                                                                            string strX = "";
                                                                            <tr>

                                                                                @foreach (var cellX in dr.ItemArray)
                                                                                {
                                                                                    strX = dr.ItemArray[0].ToString();
                                                                                    if (aX >= 1)
                                                                                    {
                                                                                        arrX[indexX] += Convert.ToDecimal(cellX);
                                                                                        indexX++;
                                                                                    }
                                                                                    aX++;

                                                                                    <td style="text-align: center;width: 250px !important"> @cellX.ToString()</td>

                                                                                    if (countX > 0)
                                                                                    {

                                                                                        totalX = totalX + Convert.ToDecimal(cellX);
                                                                                    }
                                                                                    countX++;
                                                                                }

                                                                                <td style="text-align: center;width: 250px !important">@(totalX.ToString("F"))</td>
                                                                            </tr>


                                                                        }
                                                                    }
                                                                    <tr>
                                                                        <td style="text-align: center;font-weight: bold;width: 250px !important">Total</td>

                                                                        @{
                                                                            decimal ttlX = 0;
                                                                            for (int i = 0; i <= coulmncountX - 2; i++)
                                                                            {
                                                                                ttlX += arrX[i];
                                                                                <td style="text-align: center;font-weight: bold;width: 250px !important">@arrX[i].ToString("F")</td>
                                                                            }
                                                                            <td style="text-align: center;font-weight: bold;width: 250px !important">@ttlX.ToString("F")</td>
                                                                        }
                                                                    </tr>
                                                                </tbody>
                                                            }

                                                        </table>


                                                    </div>
                                                    <div class="box-body table-responsive">

                                                        @{
                                                            DataTable x1X = ViewBag.OpenedLC as System.Data.DataTable;
                                                            Debug.Assert(x1X != null, nameof(x1X) + " != null");
                                                            var coulmncount1X = x1X.Columns.Count;
                                                            if (coulmncount1X != 0)
                                                            {
                                                                decimal[] arr1X = new decimal[coulmncount1X - 1];
                                                                <table id="uyterjdfuferr" class="stripe row-border order-column" cellspacing="0" width="1100%" border="1">
                                                                    @if (ViewBag.OpenedLC != null)
                                                                    {
                                                                        <thead>
                                                                            <tr>
                                                                                @foreach (System.Data.DataColumn col in (ViewBag.OpenedLC as System.Data.DataTable).Columns)
                                                                                {
                                                                                    <th style="text-align: center;width: 250px !important">@col.Caption</th>
                                                                                }
                                                                                <th style="text-align: center;width: 250px !important">Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @{




                                                                                foreach (System.Data.DataRow dr in (ViewBag.OpenedLC as System.Data.DataTable).Rows)
                                                                                {


                                                                                    int count1X = 0;
                                                                                    decimal total1X = 0;
                                                                                    int a1X = 0;
                                                                                    int index1X = 0;
                                                                                    string str1X = "";
                                                                                    <tr>

                                                                                        @foreach (var cell1X in dr.ItemArray)
                                                                                        {
                                                                                            str1X = dr.ItemArray[0].ToString();


                                                                                            if (a1X >= 1 && cell1X != "")
                                                                                            {
                                                                                                arr1X[index1X] += Convert.ToDecimal(cell1X);
                                                                                                index1X++;
                                                                                            }
                                                                                            a1X++;
                                                                                            <td style="text-align: center;width: 250px !important">@cell1X.ToString()</td>
                                                                                            if (count1X > 0 && cell1X != "")
                                                                                            {

                                                                                                total1X = total1X + Convert.ToDecimal(cell1X);
                                                                                            }
                                                                                            count1X++;
                                                                                        }
                                                                                        <td style="text-align: center;width: 250px !important">@(total1X.ToString("F"))</td>

                                                                                    </tr>
                                                                                    //if (str1 != "Opening Balance" || str1 != "Total L/C Open")
                                                                                    //{
                                                                                    //    break;
                                                                                    //}

                                                                                }


                                                                            }


                                                                            <tr>
                                                                                <th style="text-align: center;width: 250px !important">Total L/C Open</th>
                                                                                @{
                                                                                    decimal ttl1X = 0;
                                                                                    for (int i = 0; i <= coulmncount1X - 2; i++)
                                                                                    {
                                                                                        ttl1X += arr1X[i];
                                                                                        <th style="text-align: center;width: 250px !important">@arr1X[i].ToString("F")</th>
                                                                                    }
                                                                                    <th style="text-align: center;width: 250px !important">@ttl1X.ToString("F")</th>
                                                                                }
                                                                            </tr>

                                                                            <tr>
                                                                                <th style="text-align: center;width: 250px !important">Balance</th>
                                                                                @{
                                                                                    decimal balance1X = 0;
                                                                                    for (int i = 0; i <= coulmncount1X - 2; i++)
                                                                                    {
                                                                                        balance1X = arrX[i] - arr1X[i];
                                                                                        <th style="text-align: center;width: 250px !important">@balance1X.ToString("F")</th>
                                                                                    }
                                                                                    <th style="text-align: center;width: 250px !important">XX</th>
                                                                                }
                                                                            </tr>

                                                                        </tbody>
                                                                    }

                                                                </table>
                                                            }


                                                        }

                                                    </div>
                                                }


                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }


                }
            </div>

        }

        <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
</div>



<script>
    $(document).ready(function () {
        var table = $("#sadsdsdfewdsf > tbody  > tr");
        $('#sadsdsdfewdsf > tbody  > tr').each(function (index, value) {
            console.log(value);
            if (index === 0) {

            }
            else
                value.remove();
            console.log(value);
        });




        var table = $("#uyterjdfuferr > tbody  > tr");
        $('#uyterjdfuferr > tbody  > tr').each(function (index, value) {
            if (index === 0) {

            }
            else
                value.remove();
            console.log(value);
        });
    })






</script>